/**
 * This file is part of the TYPO3 CMS project.
 *
 * It is free software; you can redistribute it and/or modify it under
 * the terms of the GNU General Public License, either version 2
 * of the License, or any later version.
 *
 * For the full copyright and license information, please read the
 * LICENSE.txt file that was distributed with this source code.
 *
 * The TYPO3 project - inspiring people to share!
 */

/**
 * Docheader
 **/

.typo3-docheader-pagePath {
	font-weight: bold;
}

.typo3-docheader-functions {
	background-color: #585858;
}

.typo3-docheader-buttons {
	background-color: #dadada;
}

#typo3-docheader img,
#typo3-docheader input {
	cursor: pointer;
}