// Duplicate global variables for now
$styleguide-gray-100: rgb(245, 245, 245);
$styleguide-gray-400: rgb(204, 204, 204);
$styleguide-gray-500: rgb(187, 187, 187);
$styleguide-gray-900: rgb(30, 30, 30);

:root {
    --styleguide-example-color: #{$styleguide-gray-500};
    --styleguide-example-code-bg: #{$styleguide-gray-900};
    --styleguide-example-code-color: #{$styleguide-gray-400};
    --styleguide-example-pre-bg: #{$styleguide-gray-100};
}

// Example
.example {
    background-color: var(--typo3-component-bg);
    border: var(--typo3-component-border-width) solid var(--typo3-component-border-color);
    padding: var(--typo3-spacing);
    margin-bottom: var(--typo3-spacing);

    & + *:not(.example) {
        margin-top: var(--typo3-component-spacing);
    }

    &:before {
        content: 'EXAMPLE';
        color: var(--styleguide-example-color);
        display: block;
        font-weight: normal;
        font-size: 0.9em;
        margin-bottom: var(--typo3-spacing);
    }

    &.code {
        background-color: var(--styleguide-example-code-bg);
        font-family: var(--typo3-font-family-code);

        &:before {
            color: var(--styleguide-example-code-color);
            content: 'EXAMPLE CODE';
        }
    }

    pre {
        font-size: var(--typo3-component-font-size);
        margin: 0;
    }
    pre[class*="language-"] {
        background-color: var(--styleguide-example-pre-bg);
        border-radius: calc(var(--typo3-component-border-radius) / 2);
        color: var(--typo3-component-color);
        margin: 0;
    }
    pre code {
        overflow: auto;
        width: 100%;
        display: block;
    }
}

.tag-border {
    color: #79ABFF;
}
.tag-name {
    color: #BED6FF;
}
.tag-attribute {
    color: #BED6FF;
}
.tag-attribute-value {
    color: #E6DB74;
}
.tag-equals {
    color: #F8F8F2;
}
