// Icon
div.icon-container {
	border: 1px solid transparent;
	margin-bottom: 20px;
	height: 100px;

	&.icon-deprecated-container {
		height: 175px;
	}

	span.icon-container-icon,
	span.icon-container-label {
		display: block;
		text-align: center;
		background-color: #eee;
		min-height: 50px;
		padding: 5px;
	}
	&:hover span.icon-container-icon,
	&:hover span.icon-container-label {
		background-color: #e1e1e1;
	}
}
