<div class="t3js-list-group-wrapper" xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" xmlns:i="http://typo3.org/ns/TYPO3/CMS/Install/ViewHelpers" >
	<ul class="list-group">
		<f:render partial="Action/Common/MenuLink" arguments="{action: action, context: context, action_name: 'importantActions', label: 'Important actions'}" />
		<f:render partial="Action/Common/MenuLink" arguments="{action: action, context: context, action_name: 'configuration', label: 'Configuration Presets'}" />
		<f:render partial="Action/Common/MenuLink" arguments="{action: action, context: context, action_name: 'allConfiguration', label: 'All configuration'}" />
		<f:render partial="Action/Common/MenuLink" arguments="{action: action, context: context, action_name: 'upgradeWizard', label: 'Upgrade Wizard'}" />
		<f:render partial="Action/Common/MenuLink" arguments="{action: action, context: context, action_name: 'upgradeAnalysis', label: 'Upgrade Analysis'}"/>
		<f:render partial="Action/Common/MenuLink" arguments="{action: action, context: context, action_name: 'systemEnvironment', label: 'System environment'}" />
		<f:render partial="Action/Common/MenuLink" arguments="{action: action, context: context, action_name: 'folderStructure', label: 'Folder structure'}" />
		<f:render partial="Action/Common/MenuLink" arguments="{action: action, context: context, action_name: 'testSetup', label: 'Test setup'}" />
		<f:render partial="Action/Common/MenuLink" arguments="{action: action, context: context, action_name: 'cleanUp', label: 'Clean up'}" />
		<f:render partial="Action/Common/MenuLink" arguments="{action: action, context: context, action_name: 'about', label: 'About'}" />
	</ul>

	<div>
		<a href="{i:uri.action(action: 'logout')}" class="btn btn-warning btn-block">Logout from Install Tool</a>
		<f:if condition="{contextService.backendContext}">
			<f:else>
			<a href="{i:uri.action(action: 'backend')}" class="btn btn-default btn-block">Backend admin</a>
			<a href="{i:uri.action(action: 'frontend')}" class="btn btn-default btn-block">Frontend website</a>
			</f:else>
		</f:if>
	</div>
</div>
