<div class="modulemenu t3js-modulemenu" xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers">
	<ul class="nav nav-modules" data-role="modulemenu" id="menu">
		<li class="modulemenu-group expanded" id="web" data-modulename="web" data-navigationcomponentid="" data-navigationframescript="" data-navigationframescriptparameters="">
			<div class="modulemenu-group-header">
				<span class="modulemenu-icon modulemenu-group-icon">
					<span class="t3js-icon icon icon-size-default icon-state-default icon-module-tools" data-identifier="module-tools">
						<span class="icon-markup">
						<core:icon identifier="module-tools" size="small"/>
						</span>
					</span>
				</span>
				<span class="modulemenu-group-title">
					Admin Tools <f:comment><span class="caret"></span></f:comment>
				</span>
			</div>
			<ul class="modulemenu-group-container">
				<f:render partial="Action/Common/MenuModuleLink" arguments="{action: action, context: context, action_name: 'maintenance', label: 'Maintenance'}" />
				<f:render partial="Action/Common/MenuModuleLink" arguments="{action: action, context: context, action_name: 'settings', label: 'Settings'}" />
				<f:render partial="Action/Common/MenuModuleLink" arguments="{action: action, context: context, action_name: 'upgrade', label: 'Upgrade'}" />
				<f:render partial="Action/Common/MenuModuleLink" arguments="{action: action, context: context, action_name: 'environment', label: 'Environment'}" />

				<f:comment>
					<f:render partial="Action/Common/MenuModuleLink" arguments="{action: action, context: context, action_name: 'about', label: 'About'}" />
				</f:comment>
			</ul>
		</li>
		<f:if condition="{contextService.backendContext}">
			<f:then></f:then>
			<f:else>
				<li class="modulemenu-group expanded" id="web" data-modulename="web" data-navigationcomponentid="" data-navigationframescript="" data-navigationframescriptparameters="">
					<ul class="modulemenu-group-container">
						<li class="modulemenu-item t3js-mainmodule ">
							<a class="modulemenu-item-link" href="../../../index.php" class="btn btn-default btn-block">
								<span class="modulemenu-icon modulemenu-item-icon">
									<span class="t3js-icon icon icon-size-default icon-state-default icon-module-system_extinstall" data-identifier="module-system_extinstall">
										<span class="icon-markup">
											<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16"><g class="icon-color"><path d="M9 10v4H2V2h7v4h1V1.5a.5.5 0 0 0-.5-.5h-8a.5.5 0 0 0-.5.5v13a.5.5 0 0 0 .5.5h8a.5.5 0 0 0 .5-.5V10H9z"></path><path d="M10.983 5.041a.5.5 0 0 1 .812-.39l3.7 2.96a.5.5 0 0 1 0 .78l-3.7 2.96a.5.5 0 0 1-.812-.39V9H6V7h4.983V5.041z"></path></g></svg>
										</span>
									</span>
								</span>
								<span class="modulemenu-item-title">Backend admin</span>
							</a>
						</li>
						<li class="modulemenu-item t3js-mainmodule ">
							<a class="modulemenu-item-link" href="../../../../index.php" class="btn btn-default btn-block">
								<span class="modulemenu-icon modulemenu-item-icon">
									<span class="t3js-icon icon icon-size-default icon-state-default icon-module-system_extinstall" data-identifier="module-system_extinstall">
										<span class="icon-markup">
											<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16"><g class="icon-color"><path d="M9 10v4H2V2h7v4h1V1.5a.5.5 0 0 0-.5-.5h-8a.5.5 0 0 0-.5.5v13a.5.5 0 0 0 .5.5h8a.5.5 0 0 0 .5-.5V10H9z"></path><path d="M10.983 5.041a.5.5 0 0 1 .812-.39l3.7 2.96a.5.5 0 0 1 0 .78l-3.7 2.96a.5.5 0 0 1-.812-.39V9H6V7h4.983V5.041z"></path></g></svg>
										</span>
									</span>
								</span>
								<span class="modulemenu-item-title">Frontend website</span>
							</a>
						</li>
					</ul>
				</li>
			</f:else>
		</f:if>
	</ul>
</div>
