<div class="typo3-topbar-container" role="navigation" id="typo3-top-container">
	<div class="typo3-topbar-site">
		<a class="typo3-topbar-site-logo" href="{logoLink}" target="_blank">
			<img src="{logoUrl}" width="{logoWidth}" height="{logoHeight}" title="TYPO3 Content Management System" alt="" />
		</a>
		<span class="typo3-topbar-site-name">{siteName} [{applicationVersion}]</span>
	</div>
	<div class="typo3-topbar-navigation" id="typo3-topbar-navigation">
		<ul class="typo3-topbar-navigation-items" data-typo3-role="typo3-module-menu">
			<f:format.raw>{toolbar}</f:format.raw>
		</ul>
	</div>
</div>
<f:format.raw>{moduleMenu}</f:format.raw>
