<html
    xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    data-namespace-typo3-fluid="true"
>

<f:form action="groups" objectName="userGroupDto" object="{userGroupDto}">
    <div class="form-row">
        <div class="form-group">
            <label for="tx_Beugroups_title" class="form-label"><f:translate key="userGroupTitle" /></label>
            <f:form.textfield
                id="tx_Beugroups_title"
                class="form-control"
                property="title"/>
        </div>
        <div class="form-group align-self-end">
            <f:form.button type="submit" name="operation" value="filter" class="btn btn-default">{f:translate(key: 'filter')}</f:form.button>
            <f:form.button type="submit" name="operation" value="reset-filters" class="btn btn-link">{f:translate(key: 'reset')}</f:form.button>
        </div>
    </div>
</f:form>

</html>
