<div class="table-fit">
    <table id="typo3-backend-user-group-list" class="table table-striped table-hover">
        <thead>
        <tr>
            <th class="col-icon"></th>
            <th><f:translate key="backendUserGroup" /></th>
            <th><f:translate key="subGroups" /></th>
            <th class="col-control"></th>
        </tr>
        </thead>
        <tbody>
        <f:for each="{paginator.paginatedItems}" as="backendUserGroup">
            <f:render partial="BackendUserGroup/IndexListRow" section="list_row" arguments="{demand: demand, backendUserGroup: backendUserGroup, dateFormat: dateFormat, timeFormat: timeFormat, currentUserUid: currentUserUid, compareGroupUidList: compareGroupUidList,}" />
        </f:for>
        <f:comment>
            Footer row: no officially defined style yet
        </f:comment>
        <tr>
            <td colspan="4">
                {totalAmountOfBackendUserGroups} <f:translate key="LLL:EXT:core/Resources/Private/Language/locallang_tca.xlf:be_groups" />
            </td>
        </tr>
        </tbody>
    </table>
</div>

<f:render partial="SimplePagination" arguments="{paginator:paginator, pagination:pagination}" />
