Hello.

This is default template for plain-text mail content


###CONTENT###



----------------- FOOTER: ----------------------
Unsubscribe link:
http://example.com.test/?id=3&cmd=edit&aC=###SYS_AUTHCODE###&rU=###USER_uid###




