/* Selectors for the LanguageMarks plugin of htmlArea RTE */
/* TYPO3 SVN ID: $Id$ */

.htmlarea .toolbar .LeftToRight {
	background-image:url("images/left_to_right.gif");
}
.htmlarea .toolbar .RightToLeft {
	background-image:url("images/right_to_left.gif");
}
.htmlarea .toolbar .ShowLanguageMarks {
	background-image:url("images/show-language-marks.gif");
}
