/* Selectors for the LanguageMarks plugin of htmlArea RTE */
.htmlarea-action-language-marks-show {
	background-image: url('images/show-language-marks.gif') !important;
}
.htmlarea-action-text-direction-left-to-right {
	background-image: url('images/left_to_right.gif') !important;
}
.htmlarea-action-text-direction-right-to-left {
	background-image: url('images/right_to_left.gif') !important;
}
.htmlarea-action-definition-list,
.htmlarea-action-text-direction-left-to-right,
.htmlarea-action-text-direction-right-to-left {
	background-position: 0 0 !important;
}
