/* Selectors for the Default Link plugin of htmlArea RTE */
.htmlarea-action-link-edit {
	background-image: url('images/link.gif') !important;
}
.htmlarea-action-unlink {
	background-image: url('images/unlink.gif') !important;
}
.htmlarea-action-link-edit,
.htmlarea-action-unlink {
	background-position: 0 0 !important;
}
