<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Login" />

<f:section name="ResetPassword">
    <div class="typo3-login-form t3js-login-formfields">
        <h2><f:translate key="LLL:EXT:backend/Resources/Private/Language/locallang_reset_password.xlf:headline" /></h2>
        <f:if condition="{resetInitiated}">
            <f:then>
                <div class="callout callout-success">
                    <h3 class="callout-title"><f:translate key="LLL:EXT:backend/Resources/Private/Language/locallang_reset_password.xlf:email_sent.headline" /></h3>
                    <div class="callout-body"><f:translate key="LLL:EXT:backend/Resources/Private/Language/locallang_reset_password.xlf:email_sent.message" arguments="{0: email}" /></div>
                </div>
                <p class="pull-right">
                    <a href="{returnUrl}"><f:translate key="LLL:EXT:backend/Resources/Private/Language/locallang_reset_password.xlf:button.back_to_login" /></a>.
                </p>
            </f:then>
            <f:else>
                <f:if condition="{invalidEmail}">
                    <f:be.infobox message="{f:translate(key: 'LLL:EXT:backend/Resources/Private/Language/locallang_reset_password.xlf:error.invalid_email')}" state="1" />
                </f:if>
                <p><f:translate key="LLL:EXT:backend/Resources/Private/Language/locallang_reset_password.xlf:instructions.email" /></p>
                <form action="{formUrl}" method="post" name="forget-password-form" id="typo3-forget-password-form">
                    <div class="form-group">
                        <div class="form-control-wrap">
                            <div class="form-control-holder">
                                <label for="typo3-forget-password-email"><f:translate key="LLL:EXT:backend/Resources/Private/Language/locallang_reset_password.xlf:input.email" /></label>
                                <input type="email" name="email" value="{email}" placeholder="you@example.com" id="typo3-forget-password-email" class="form-control input-login t3js-clearable" autofocus="autofocus" autocomplete="email" required="required" />
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <button class="btn btn-block btn-login" type="submit" name="forgetPasswordSubmit">
                            <f:translate key="LLL:EXT:backend/Resources/Private/Language/locallang_reset_password.xlf:button.initiate" />
                        </button>
                    </div>
                </form>
                <p>
                    <small>
                        <f:translate key="LLL:EXT:backend/Resources/Private/Language/locallang_reset_password.xlf:note.other_providers" />
                    </small>
                </p>
                <p class="pull-right">
                    <a href="{returnUrl}"><f:translate key="LLL:EXT:backend/Resources/Private/Language/locallang_reset_password.xlf:button.back_to_login" /></a>.
                </p>
            </f:else>
        </f:if>
    </div>
</f:section>
</html>
