/* - - - - - - - - - - - - - - - - - - - - -
TCEforms

$Id$
- - - - - - - - - - - - - - - - - - - - - */

.t3-form-sheet {
	padding: 10px 0;
}

.t3-form-field {
	margin: 0 10px;
	padding: 9px 0;
}

.t3-form-palField .t3-form-palette-fieldset {
	margin: 0px 10px 10px;
}

.t3-form-palFieldHeader {
	margin: 15px 12px 5px;
}

.t3-form-palFieldHeader strong {
	font-weight: bold;
}

.t3-form-field-label {
	display: inline-block;
	width: 80px;
}

.t3-icon-system-options-view,
.t3-form-field img,
.t3-form-palette-field img {
	margin-left: 4px;
}

.typo3-TCEforms-selectIcons img {
	margin-left: 0;
}

.t3-form-field textarea,
.t3-form-field table {
	vertical-align: top;
	display: inline;
}

.t3-form-recHeaderRow {
	float: right;
	margin-top: 15px;
}

.t3-form-palette-field-container {
	display: inline-block;
	width: 300px;
	margin: 3px 20px 3px 0;
}

.t3-form-palette-field-label {
	display: inline-block;
	margin-left: 4px;
	width: 98px;
}

.t3-form-palette-field select {
	width: 125px;
}

.t3-form-palette-field .tceforms-textfield {
	width: 101px !important;
}

.t3-form-palette-field table {
	display: inline;
	vertical-align: middle;
}

.t3-form .t3-csh-not-available {
	display: inline-block;
	width: 18px;
}

.formField5 {
	width: 300px !important;
}

.formField5.tceforms-multiselect {
	width: 300px !important;
}

.typo3-TCEforms-flexForm .bgColor5 {
	width: 200px;
}

.typo3-TCEforms-flexForm {
	padding: 10px 0;
}

.typo3-TCEforms-flexForm > div {
	margin: 0 10px;
	padding: 9px 0;
}
