/* - - - - - - - - - - - - - - - - - - - - -
Element Date Time Picker

- - - - - - - - - - - - - - - - - - - - - */

.typo3-datetime-picker-footer .typo3-datetime-picker-hour,
.typo3-datetime-picker-footer .typo3-datetime-picker-minute {
	margin-top: 4px;
}
.typo3-datetime-picker-footer .typo3-datetime-picker-hour input,
.typo3-datetime-picker-footer .typo3-datetime-picker-minute input {
	text-align: right;
	width: 25px !important;
}
