/* - - - - - - - - - - - - - - - - - - - - -
Flash Messages (template.php)

$Id$
- - - - - - - - - - - - - - - - - - - - - */

#typo3-messages {
	margin-bottom: 10px;
}

.typo3-message {
	margin-bottom: 4px;
	padding: 6px;
	padding-left: 26px;
}

.typo3-message ul,
.typo3-message ol {
	padding-left: 16px;
}

.typo3-message .message-header {
	display: block;
	margin-bottom: 5px;
	margin-top: -1px;
}