/* - - - - - - - - - - - - - - - - - - - - -
Move Element

- - - - - - - - - - - - - - - - - - - - - */

body#typo3-move-el-php img {
	vertical-align: middle;
}

body#typo3-move-el-php table#typo3-ttContentList img,
body#typo3-move-el-php img#c-recIcon {
	margin-right: 4px;
}