/* - - - - - - - - - - - - - - - - - - - - -
Palette display for TCEforms (top frame, alt_palette.php)

- - - - - - - - - - - - - - - - - - - - - */

body#typo3-alt-palette-php {
	margin-left: 6px;
	margin-top: 8px;
}

body#typo3-alt-palette-php table#typo3-TCEforms-palette {
	bottom: 1px;
	height: 20px;
	position: absolute;
}

body#typo3-alt-palette-php table td {
	height: 20px;
	margin: 0;
	padding: 0;
	vertical-align: middle;
}

body#typo3-alt-palette-php table img {
	margin: 0;
	padding: 0;
}

body#typo3-alt-palette-php table td.c-csh input.checkbox {
	margin: 0px 3px 0 0;
}

body#typo3-alt-palette-php span.nbsp {
	display: none;
}

table#typo3-TCEforms-palette tr td.c-label {
	padding-top: 3px;
}

table#typo3-TCEforms-palette tr td.c-close {
	padding-top: 3px;
}