/* - - - - - - - - - - - - - - - - - - - - -
Move Element

- - - - - - - - - - - - - - - - - - - - - */

table#typo3-ttContentList {
	border: 1px solid #a2aab8;
	background-color: #fff;
}
body#typo3-move-el-php img {
	vertical-align: middle;
}
body#typo3-move-el-php table#typo3-ttContentList img,
body#typo3-move-el-php img#c-recIcon {
	margin-right: 4px;
}

body#typo3-move-el-php label.t3-label-valign-top {
	vertical-align: top;
}