/* - - - - - - - - - - - - - - - - - - - - -
History / Undo

- - - - - - - - - - - - - - - - - - - - - */

table#typo3-history tr td,
table#typo3-history-item tr td {
	vertical-align: top;
}

table#typo3-history img,
table#typo3-history-item img {
	margin: 1px 1px 1px 1px;
}