/* - - - - - - - - - - - - - - - - - - - - -
Workspace

$Id$
- - - - - - - - - - - - - - - - - - - - - */

div.workspace-info {
	margin: -10px -10px 5px -10px;
	padding: 14px 10px 3px;
}

table.workspace-overview td {
	vertical-align: top;
}

table.ver-subtree tr td img {
	vertical-align: middle;
}

table.ver-verElement {
	width: 100%;
}

.ver-wl-details {
	vertical-align: top;
}

.ver-wl-details-label {
	width: 150px;
	vertical-align: top;
}

.ver-wl-details-user-list-label {
	width: 100px;
}

#ver-wl-new-workspace-icon {
	margin-right: 5px;
	float: left;
}