/* - - - - - - - - - - - - - - - - - - - - -
Workspace

- - - - - - - - - - - - - - - - - - - - - */

div.workspace-info {
	padding: 7px;
}

table.workspace-overview td {
	vertical-align: top;
}

table.ver-subtree tr td img {
	vertical-align: middle;
}

.t3-version-infolayer {
	z-index: 1;
	visibility: hidden;
	position: absolute;
}

table.ver-verElement {
	width: 100%;
}

.ver-wl-details-table {
	width: 100%;
	margin: 5px 0 10px;
}

.ver-wl-details {
	padding: 0 2px;
	vertical-align: top;
}

.ver-wl-details-label {
	width: 150px;
	vertical-align: top;
}

.ver-wl-details-user-list-label {
	width: 100px;
}

#ver-wl-new-workspace-icon {
	margin-right: 5px;
	float: left;
}