/**
 * Docheader
 */

.typo3-docheader-functions {
	color: #dadada;
	height: 27px;
	line-height: 27px;
	padding: 0 12px;
	overflow: hidden;
}
.typo3-docheader-buttons {
	color: #000;
	height: 16px;
	padding: 3px 12px;
	overflow: hidden;
}

#typo3-docheader .left {
	float: left;
}
#typo3-docheader .right {
	float: right;
}

/** Extra margin 6px added to it-icon margin, doubled spacing = 12px */
#typo3-docheader .left .buttongroup {
	float: left;
	margin-right: 6px;
}

#typo3-docheader .t3-icon {
	margin-bottom: 3px;
}
#typo3-docheader .left .t3-icon {
	margin-right: 6px;
}
#typo3-docheader .right .t3-icon {
	margin-left: 6px;
}

#typo3-docheader .left select {
	margin-right: 12px;
}

/**
 * Fail-safe for non-core legacy extensions
 * @deprecated with TYPO3 version 6.0, will be removed in 6.2
 */

/** Behave like .typo3-docheader-functions */
#typo3-docheader-row2 {
	color: #dadada;
	height: 27px;
	line-height: 27px;
	padding: 0 12px;
	overflow: hidden;

	/** Fake box width to 100%, excluding the padding */
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	width: auto;
}

/** Behave like .typo3-docheader-buttons */
#typo3-docheader-row1 {
	color: #000;
	height: 16px;
	padding: 3px 12px;
	overflow: hidden;

	margin-top: 27px;
}

#typo3-docheader .docheader-row2-left,
#typo3-docheader .buttonsleft {
	float: left;
}

#typo3-docheader .docheader-row2-right,
#typo3-docheader .buttonsright {
	float: right;
}