/* - - - - - - - - - - - - - - - - - - - - -
Tab menu
- - - - - - - - - - - - - - - - - - - - - */

table#typo3-tabmenu {
	margin-top: 5px;
}

table#typo3-tabmenu tr {
	height: 1.5em;
}

table#typo3-tabmenu td.tab {
	padding: 0;
}

table#typo3-tabmenu td.disabled {
	padding: 5px 10px 5px 10px;
}

table#typo3-tabmenu td a {
	display: block;
	margin-top: 1px;
	padding: 5px 10px 5px 10px;
	margin-right: 1px;
}

table#typo3-tabmenu td.tabact a {
	padding-left: 10px;
	padding-right: 10px;
}

/* - - - - - - - - - - - - - - - - - - - - -
Dynamic Tab menu
- - - - - - - - - - - - - - - - - - - - - */
.typo3-dyntabmenu {
    height: 28px;
	margin-bottom: 0;
	white-space: nowrap;
}


.typo3-dyntabmenu-divs {
	padding: 0;
}

.typo3-dyntabmenu-tabs,
.typo3-dyntabmenu-divs p.c-descr {
	margin: 0;
	padding: 0;
}

.typo3-dyntabmenu li {
	height: 1.5em;
	padding: 0;
    float: left;
}

.typo3-dyntabmenu li.disabled,
.typo3-dyntabmenu li.disabled_over {
	padding: 5px 10px 5px 10px;
}

.typo3-dyntabmenu li a {
	display: block;
	padding: 5px 10px 5px 10px;
	margin-right: 1px;
	position: relative;
	top: 1px;
}

.typo3-dyntabmenu li.tabact a,
.typo3-dyntabmenu li.tabact_over a,
table#typo3-tabmenu td.tabact a,
table#typo3-tabmenu td.tabact_over a {
	margin-top: 0px;
}

.typo3-dyntabmenu li.tab_over a,
table#typo3-tabmenu td.tab_over a {
	margin-top: 0px;
}

.typo3-dyntabmenu-divs-foldout div.c-tablayer {
	margin-left: 20px;
}

.c-tablayer {
	margin: 0;
	padding: 0;
}

.typo3-dyntabmenu-divs-foldout div.tab,
.typo3-dyntabmenu-divs-foldout div.tab_over,
.typo3-dyntabmenu-divs-foldout div.tabact,
.typo3-dyntabmenu-divs-foldout div.tabact_over,
.typo3-dyntabmenu-divs-foldout div.disabled,
.typo3-dyntabmenu-divs-foldout div.disabled_over {
	margin-top: 5px;
}

.typo3-dyntabmenu-divs-foldout div.disabled {
	padding: 2px 2px 2px 18px;
}

.typo3-dyntabmenu-divs-foldout div.disabled_over {
	padding: 2px 2px 2px 18px;
}

.typo3-dyntabmenu-divs-foldout div.tab a,
.typo3-dyntabmenu-divs-foldout div.tabact a,
.typo3-dyntabmenu-divs-foldout div.tab_over a,
.typo3-dyntabmenu-divs-foldout div.tabact_over a {
	display: block;
	padding: 2px 2px 2px 18px;
}