/* - - - - - - - - - - - - - - - - - - - - -
Context Sensitive Menu / Layer (alt_clickmenu.php creates it)
Notice: Rollover color is set by ->bgColor5 in the template object of alt_clickmenu.php

- - - - - - - - - - - - - - - - - - - - - */

table.typo3-CSM tr.typo3-CSM-itemRow td {
	padding: 2px 6px;
}

/* the 1px image between every contextmenu group needs to be set to block, otherwise the border cell is way too high
   see https://developer.mozilla.org/en/Images,_Tables,_and_Mysterious_Gaps#Setting_images_to_be_blocks */
table.typo3-CSM tr.bgColor2 td img {
	display: block;
}

/* - - - - - - - - - - - - - - - - - - - - -
special backend elements
- - - - - - - - - - - - - - - - - - - - - */

/* Context Sensitive Menu / Top frame (alt_clickmenu.php): */

body#typo3-alt-clickmenu-php {
	margin-top: 10px;
}

table#typo3-CSM-top img {
	margin-bottom: 2px;
	vertical-align: middle;
}

table#typo3-CSM-top tr td.c-closebutton {
	padding-left: 10px;
}

table#typo3-CSM-top tr td.c-itemicon {
	padding-left: 10px;
}

table#typo3-CSM-top img.c-roimg {
	margin-right: 2px;
}

div#contentMenu0 {
	position: absolute;
	z-index: 10;
}

div#contentMenu1 {
	position: absolute;
	z-index: 20;
}