/* - - - - - - - - - - - - - - - - - - - - -
TCEforms

$Id$
- - - - - - - - - - - - - - - - - - - - - */
img.t3-TCEforms-reqImg {
	display: inline-block;
	height: 16px;
	margin-left: 3px;
	margin-right: 3px;
	margin-top: 4px;
	width: 16px;
}

img.t3-TCEforms-reqTabImg {
	height: 16px;
	margin-left: 4px;
	margin-bottom: -3px;
	width: 16px;
}

img.t3-TCEforms-contentchangedImg {
	display: inline-block;
	margin-bottom: 2px;
	width: 7px;
}

.t3-form-palette-icon-required {
	display: inline-block;
	height: 16px;
	margin-right: 2px;
	width: 16px;
}
/* renamed to .t3-form-palette-icon-required, lines below kept for backwards-compatibility */
img.t3-TCEforms-reqPaletteImg {
	display: inline-block;
	height: 16px;
	margin-right: 2px;
	width: 16px;
}

.t3-form-palette-icon-contentchanged {
	width: 7px;
}
/* renamed to .t3-form-palette-icon-contentchanged, lines below kept for backwards-compatibility */
img.t3-TCEforms-contentchangedPaletteImg {
	width: 7px;
}

table.typo3-TCEforms {
	width: 100%;
}

table.typo3-TCEforms tr td.t3-form-col1,
table.typo3-TCEforms tr td.t3-form-col1 div {
	width: 21px;
}

table.typo3-TCEforms tr.typo3-TCEforms-recHeaderRow td {
	padding-top: 5px;
	padding-bottom: 20px;
}

table.wrapperTable tr.class-main2 td.palette-header {
	padding-left: 10px;
}

table.typo3-TCEforms .bgColor2,
table.typo3-TCEforms tr.bgColor2 td {
	padding-bottom: 5px;
}

table.typo3-TCEforms optgroup.c-divider,
select option.c-divider {
	margin-top: 10px;
	padding: 0px;
}

table.typo3-TCEforms optgroup option {
	margin: 0px;
	padding: 2px;
}


table.typo3-TCEforms select.icon-select option {
	padding-left: 22px;
}

table.typo3-TCEforms table.typo3-TCEforms-select-checkbox {
	margin-bottom: 10px;
	width: 98%;
}

table.typo3-TCEforms table.typo3-TCEforms-select-checkbox tr td {
	padding: 1px 3px 1px 3px;
}

table.typo3-TCEforms table.typo3-TCEforms-select-checkbox tr td.c-labelCell {
	padding-right: 30px;
}

table.typo3-TCEforms table.typo3-TCEforms-select-checkbox tr td.c-labelCell P.c-descr {
	margin-left: 30px;
}

table.typo3-TCEforms table.typo3-TCEforms-select-checkbox tr.c-header td {
	padding-left: 4px;
	padding-top: 10px;
}

table.typo3-TCEforms table.typo3-TCEforms-select-checkbox tr.c-header-checkbox-controls td {
	padding-right: 16px;
}

table.typo3-TCEforms table.typo3-TCEforms-select-checkbox tr.c-header-checkbox-controls td a {
	padding-left: 16px;
}

table.typo3-TCEforms table.typo3-TCEforms-select-checkbox td.c-descr img {
	float: right;
}

table.typo3-TCEforms table.typo3-TCEforms-select-singlebox {
	margin-bottom: 10px;
	margin-top: 4px;
}

table.typo3-TCEforms div.typo3-dyntabmenu-tabs {
	padding-top: 10px;
}

.checkbox,
.checkbox:hover {
	margin: 4px 0 4px 2px;
}

table.typo3-TCEforms .class-main1 td,
table.typo3-TCEforms .class-main11 td,
table.typo3-TCEforms .class-main21 td,
table.typo3-TCEforms .class-main31 td,
table.typo3-TCEforms .class-main41 td,
table.typo3-TCEforms .class-main51 td {
	padding: 2px 0px 2px 0px;
}

table.typo3-TCEforms .class-main2 td,
table.typo3-TCEforms .class-main12 td,
table.typo3-TCEforms .class-main22 td,
table.typo3-TCEforms .class-main32 td,
table.typo3-TCEforms .class-main42 td,
table.typo3-TCEforms .class-main52 td {
	padding: 6px 0px 2px 0px;
}

table.typo3-TCEforms .class-main3,
table.typo3-TCEforms .class-main13,
table.typo3-TCEforms .class-main23,
table.typo3-TCEforms .class-main33,
table.typo3-TCEforms .class-main43,
table.typo3-TCEforms .class-main53 {
	padding: 2px 0px 2px 0px;
}

table.typo3-TCEforms .formField,
table.typo3-TCEforms .formField1,
table.typo3-TCEforms .formField2,
table.typo3-TCEforms .formField3,
table.typo3-TCEforms .formField4,
table.typo3-TCEforms .formField5 {
	margin: 4px 2px 4px 1px;
	padding: 1px;
	vertical-align: middle;
}

table.typo3-TCEforms .wrapperTable,
table.typo3-TCEforms .wrapperTable1,
table.typo3-TCEforms .wrapperTable2,
table.typo3-TCEforms .wrapperTable3,
table.typo3-TCEforms .wrapperTable4,
table.typo3-TCEforms .wrapperTable5 {
	padding: 5px 0 5px 0;
}

table.typo3-TCEforms td.icons {
	padding: 6px 2px;
}

table.typo3-TCEforms td.thumbnails {
	padding-top: 6px;
}

table.typo3-TCEforms div.imagethumbs {
	padding-top: 6px;
	white-space: normal;
	width: 253px;
}

table.typo3-TCEforms div.imagethumbs br {
	display: none;
}

table.typo3-TCEforms div.imagethumbs .nobr {
	display: inline-block;
	width: 60px;
	height: 60px;
	overflow: hidden;
	margin-right: 3px;
	margin-bottom: 1px;
	text-align: center;
}

table.typo3-TCEforms div.imagethumbs .nobr a {
	display: block;
	width: 60px;
	height: 60px;
	line-height: 58px;
	text-align: center;
}

table.typo3-TCEforms div.imagethumbs .nobr a img {
	display: inline;
	margin-right: auto;
	vertical-align: middle;
	margin-left: auto;
}

table.typo3-TCEforms div.imagethumbs .nobr span {
	display: none;
}

table.typo3-TCEforms span.filetypes {
	display: block;
	margin-top: 6px;
	white-space: normal;
	width: 250px;
}

.typo3-TCEforms select.tceforms-multiselect {
	min-height: 85px;
}

.typo3-TCEforms-palette .typo3-csh-link img {
	padding-top: 3px;
	vertical-align: top;
}

.typo3-TCEforms-palette select.select,
.t3-form-palette-field-container select.select {
	margin-top: 2px;
}

.t3-form-palette-field-container {
	display: inline-block;
	margin-left: 10px;
	vertical-align: top;
}

.t3-form-palette-field-container .t3-form-palette-field-label, .t3-form-palette-field-container .t3-form-palette-field {
	display:block;
}

.typo3-TCEforms .typo3-csh-link {
	margin-left: 5px;
}

/* - - - - - - - - - - - - - - - - - - - - -
TCEforms suggest
- - - - - - - - - - - - - - - - - - - - - */
div.typo3-TCEforms-suggest-position-right {
	margin-left: 10px;
	margin-top: 5px;
}

div.typo3-TCEforms-suggest label {
	margin-right: 5px;
}

div.typo3-TCEforms-suggest-indicator {
	left: 230px;
	position: relative;
	top: -18px;
}

div.typo3-TCEforms-suggest-choices {
	position: absolute;
	width: 250px;
	z-index: 1;
}

div.typo3-TCEforms-suggest-choices ul {
	margin: 0;
	padding: 0;
}

div.typo3-TCEforms-suggest-choices li {
	display: block;
	margin: 0;
	padding: 4px 2px 4px 24px;
}

div.typo3-TCEforms-suggest-choices li.suggest-noresults {
	height: auto;
}

div.typo3-TCEforms-suggest-choices span.suggest-uid {
	margin-left: 0.3em;
}

div.typo3-TCEforms-suggest-choices span.suggest-path {
	margin-top: 0.3em;
}

input.typo3-TCEforms-suggest-search {
	width: 200px;
	padding-left: 20px;
	vertical-align: middle;
}


/* - - - - - - - - - - - - - - - - - - - - -
TCEforms Flexforms
- - - - - - - - - - - - - - - - - - - - - */
/** tabs inside the table => flexforms */
table.typo3-TCEforms .wrapperTable .typo3-dyntabmenu-divs,
table.typo3-TCEforms .wrapperTable1 .typo3-dyntabmenu-divs,
table.typo3-TCEforms .wrapperTable2 .typo3-dyntabmenu-divs,
table.typo3-TCEforms .wrapperTable3 .typo3-dyntabmenu-divs,
table.typo3-TCEforms .wrapperTable4 .typo3-dyntabmenu-divs,
table.typo3-TCEforms .wrapperTable5 .typo3-dyntabmenu-divs {
	margin-right: 20px;
	margin-bottom: 10px;
}

.t3-form-field-label-flex {
	padding: 5px;
}

.t3-form-field-flex {
	padding: 0 5px 5px;
}


/* - - - - - - - - - - - - - - - - - - - - -
TCEforms Inline-Relational-Record-Editing
- - - - - - - - - - - - - - - - - - - - - */

.typo3-TCEforms div.inlineDivMSIE {
	display: inline-block;
}

.t3-form-field-container-inline {
	margin-right: 20px;
	margin-bottom: 3px;
}

.t3-form-field-header-inline {
	padding: 0 5px;
}

.t3-form-field-record-inline {
	padding: 0 5px;
}

.sortableHandle {
	cursor: move;
}

/* - - - - - - - - - - - - - - - - - - - - -
TCEforms Sections
- - - - - - - - - - - - - - - - - - - - - */
.t3-form-field-container-flexsection {
	padding-left: 20px;
}

.t3-form-field-header-flexsection {
	width: 100%;
	height: 16px;
}

.t3-form-field-label-flexsection {
	padding: 5px 10px;
}

.t3-form-field-toggle-flexsection {
	padding: 5px 0 5px 20px;
}

.t3-form-field-add-flexsection {
	padding: 10px 5px 5px 20px;
}

.t3-form-field-container-flexsections {
	margin: 5px 0;
}

.t3-form-field-record-flexsection {
	padding: 5px 0;
}

.t3-form-field-record-flexsection > div {
	margin:0 10px;
}
