/* - - - - - - - - - - - - - - - - - - - - -
Docheader

$Id$
- - - - - - - - - - - - - - - - - - - - - */

/* - - - - - - - - - - - - - - - - - - - - -
Record editing (alt_doc.php)
- - - - - - - - - - - - - - - - - - - - - */

div#typo3-docheader {
	left: 0;
	min-width: 260px;
	top: 0;
	z-index: 5;
}

#typo3-pagetree #typo3-docheader,
#typo3-alt-file-navframe-php #typo3-docheader {
	min-width: 0;
}

div#typo3-docheader-row1 {
	height: 22px;
}

div#typo3-docheader-row2 {
	height: 21px;
	padding-top: 6px;
}

div.docheader-row2-left {
	margin-top: -3px;
}

div.docheader-row2-left div.docheader-funcmenu {
	float: left;
	padding-right: 4px;
}

div.docheader-row2-left div.docheader-csh {
	float: left;
	padding-top: 3px;
}

div#typo3-docheader div.buttonsleft {
	float: left;
	margin: 0 0 0 3px;
}

div#typo3-docheader div.buttonsright {
	float: right;
	margin: 0 3px 0 0;
}

div#typo3-docheader-row1 img,
div#typo3-docheader-row1 input,
div#typo3-docheader-row1 span.t3-icon {
	margin: 2px 3px 0;
	vertical-align: top;
}

div#typo3-docheader img.typo3-csh-icon {
	margin: 2px 2px 0 2px;
}

div#typo3-docheader-row2 img {
	margin-top: -1px !important;
}

div#typo3-docheader select {
	margin: 2px 0 0;
}

div#typo3-docheader div.docheader-row2-left {
	float: left;
	margin-left: 6px;
}

div#typo3-docheader div.docheader-row2-right {
	float: right;
	margin-right: 20px;
}

div#typo3-docbody {
	bottom: 0;
	overflow: auto;
	position: absolute;
	top: 49px;
	width: 100%;
	z-index: 2;
}

div#typo3-inner-docbody {
	padding: 10px;
}

/* Fix for IE 7 */
* + html div#typo3-inner-docbody {
	width: 95%;
}

* html div#typo3-docbody {
	height: 90%;
	padding-bottom: 0;
	padding-top: 0;
	top: 51px;
}

* html div#typo3-docbody table.typo3-TCEforms {
	margin-top: 20px;
}

div#typo3-docheader div.buttonsleft div.buttongroup {
	float: left;
	height: 20px;
	margin-right: 5px;
	padding-right: 20px;
}

div#typo3-docheader div.buttonsright {
	margin-right: 18px;
}

div#typo3-docheader div.buttonsright div.buttongroup {
	float: left;
	height: 20px;
	margin-left: 5px;
	padding-left: 20px;
}
