/* Login Screen
 * Warning:
 * DO NOT prevent the copyright notice from being shown!
 * According to the GPL license an interactive application must show such a notice on start-up ('If the program is interactive, make it output a short notice... ' - see GPL.txt)
 * Therefore preventing this notice from being properly shown is a violation of the license, regardless of whether you remove it or use the stylesheet to obstruct the display.
 */
#typo3-index-php {
	height: 100%;
	margin: 0;
}

#typo3-index-php #t3-login-form {
	margin: 0 auto;
	width: 430px;
	padding: 10% 0 0 0;
}

#typo3-index-php .t3-headline {
	margin: 0;
	width: auto;
}

#typo3-index-php .t3-headline h2 {
	margin: 0;
	padding: 5px 12px 5px 40px;
	line-height: 24px;
}

#typo3-index-php #t3-login-process h2 {
	display: inline;
	padding: 20px 0 20px 50px;
	position: relative;
	top: 45%;
	vertical-align: middle;
}

#typo3-index-php .t3-headline .t3-login-news-headline {
	padding: 0 0 0 40px;
	vertical-align: middle;
}

#typo3-index-php .t3-icons {
	float: left;
	padding: 3px 5px 0 0;
}

#typo3-index-php .t3-login-field {
	margin: 0 0 6px;
	padding: 0;
	position: relative;
	width: 100%;
}

#typo3-index-php .t3-login-field .t3-login-clearInputField {
	cursor: pointer;
	position: absolute;
	top: 11px;
	right: 11px;
}

#typo3-index-php .t3-login-field .t3-login-alert-capslock {
	left: 307px;
	position: absolute;
	top: 2px;
}

#typo3-index-php .t3-login-field input {
	line-height: 16px;
	margin: 0;
	padding: 9px 25px 9px 10px;
	width: 315px;
}

#typo3-index-php #t3-login-interface-section {
	float: left;
}

#typo3-index-php #t3-interfaceselector option {
	height: 19px;
}

#typo3-index-php #t3-login-openIdLogo {
	position: absolute;
}

#typo3-index-php .t3-login-openid-disabled .t3-login-form-footer,
#typo3-index-php .t3-login-openid-disabled #t3-login-openIdLogo {
	display: none;
}

#typo3-index-php .t3-login-field input.t3-login-submit {
	display: block;
	float: right;
	width: auto;

	height: 28px;
	padding: 0 50px;
}

#typo3-index-php .t3-login-error {
	margin: 2px;
	padding: 10px;
}

#t3-nocookies-ignore {
	margin-top: 10px;
}

#typo3-index-php div#t3-copyright-notice {
	padding-top: 12px;
	margin-top: 30px;
}

* html #typo3-index-php div#t3-copyright-notice {
	height: 35px;
}

#typo3-index-php div#t3-copyright-notice img {
	display: none;
}

#typo3-index-php .t3-login-logo {
	margin-bottom: 30px;
}

#typo3-index-php #t3-meta-links {
	margin-top: 15px;
}

/**
 * @section login news
 */
#typo3-index-php #t3-login-news-outer {
	margin-top: 35px;
}

#typo3-index-php #t3-login-news-outer .t3-login-box-body {
	padding-bottom: 14px;
	padding-top: 0;
}

#typo3-index-php #t3-login-news-outer #t3-login-news {
	clear: both;
}

#typo3-index-php #t3-login-news-outer #t3-login-news .t3-login-news-item {
	padding-top: 20px;
}

#typo3-index-php #t3-login-news-outer #t3-login-news dd {
	clear: both;
	margin-left: 0;
	padding: 0;
}

/**
 * @section logout
 */
#typo3-index-php .t3-login-logout-form .t3-username-current {
	float: left;
	height: 21px;
	vertical-align: middle;
}

#typo3-index-php .t3-login-logout-form div.t3-login-label {
	float: left;
	padding-right: 10px;
	width: 70px;
}

/**
 * @section erros/warnings
 */
.t3-login-alert {
	padding: 12px;
	margin-bottom: 6px;
}

.t3-login-alert h2 {
	margin: 0;
	padding: 0 10px 0 30px;
	line-height: 16px;
}

.t3-login-alert p {
	margin: 10px 0 0 0;
	padding: 0 10px 0 30px;
}

/**
 * @section box layout
 */

.t3-login-box-body {
	padding: 25px 40px 20px 40px;
}

.t3-login-box-shadow {
	height: 3px;
}

.t3-login-box-border-bottom {
	height: 6px;
}