/* - - - - - - - - - - - - - - - - - - - - -
TYPO3 styles for basic elements

- - - - - - - - - - - - - - - - - - - - - */

html {
       height: 100%;
}

select,
textarea,
input,
td,
body,
.defstyle,
p,
div {
	margin: 0px;
}

/* Occasionally used, eg. in About Modules: */
h1 {
	margin: 6px 0 16px 0;
}

h2 {
	margin: 2px 0 20px 0;
}

/* Normal section headers */
h3 {
	padding: 2px 0;
	margin: 8px 0 10px;
}

/* Discrete section headers (no background) */
h4 {
	margin: 6px 0;
}

/* Preformatted text - not used so much in TYPO3 */
pre {
	margin: 0px;
}

/* horizontal ruler */
hr,
div.hr {
	height: 1px;
}

th,
td {
	vertical-align: top;
}

.t3-row-header {
	padding: 1px 4px;
}

.t3-row-header span.t3-icon {
	margin-right: 3px;
}

/** .uppercase is kept for backwards-compatibility, use .divider */
.divider,
.uppercase {
	padding-bottom: 6px;
}

a span {
	cursor: pointer;
}
/* Forms */

/* Reformatting of the submit buttons */
form {
	margin: 0px;
}

input[type="submit"],
input[type="reset"],
input[type="button"] {
	padding: 2px 4px 2px 4px;
}

label {
	vertical-align: middle;
}

.checkbox,
.radio,
.checkbox:hover {
	height: 13px;
	margin-right: 5px;
	vertical-align: middle;
	width: 13px;
}

/* - - - - - - - - - - - - - - - - - - - - -
Various classes
- - - - - - - - - - - - - - - - - - - - - */

div.diff-r {
	padding: 3px 3px 3px 3px;
}

div.diff-g {
	padding: 3px 3px 3px 3px;
}

img.absmiddle {
	vertical-align: middle;
}

.smallCheckboxes {
	height: 12px;
	margin: 0px;
	width: 12px;
}

.tableheader td {
	padding-left: 2px;
	padding-right: 2px;
}

.lrPadding td {
	padding-left: 2px;
	padding-right: 2px;
}

.alignToInputText, .alignToInputText:hover {
	margin-top: 5px;
	margin-right: 2px;
	vertical-align: top;
}

table.t3-table-info td {
	padding: 2px 4px;
}

.t3-col-header {
	padding: 0 10px 0 3px;
}

/** used in the admin tools => DB check **/
.t3-overview-list dt {
	padding: 0px 0px 2px 20px;
}

.t3-overview-list dt img {
	vertical-align: middle;
	margin-right: 5px;
}

.t3-overview-list dd {
	margin: 2px 0 15px 20px;
	padding-left: 22px; 
}