/* - - - - - - - - - - - - - - - - - - - - -
body tags

$Id$
- - - - - - - - - - - - - - - - - - - - - */

/* Set default values for bodytags: */
body {
	margin: 2px 2px 0px 4px;
}

body#typo3-alt-intro-php,
body#typo3-alt-doc-php,
body#typo3-alt-file-navframe-php,
body#typo3-db-list-php,
body#typo3-mod-web-perm-index-php,
body#typo3-mod-web-info-index-php,
body#typo3-mod-web-func-index-php,
body#typo3-mod-user-ws-index-php,
body#typo3-mod-user-ws-workspaceforms-php,
body#typo3-mod-php,
body#typo3-mod-tools-em-index-php,
body#typo3-wizard-rte-php,
body#typo3-pagetree,
body#typo3-db-new-php,
body#typo3-move-el-php,
body#typo3-show-rechis-php,
body#typo3-wizard-table-php,
body#typo3-wizard-forms-php,
body#ext-cms-layout-db-layout-php,
body#ext-tstemplate-ts-index-php,
body#ext-version-cm1-index-php,
body#ext-setup-mod-index-php,
body#ext-tsconfig-help-mod1-index-php,
body#ext-lowlevel-dbint-index-php,
body#ext-lowlevel-config-index-php,
body#ext-indexed-search-mod-index-php,
body#ext-cms-layout-db-new-content-el-php,
body#ext-beuser-mod-index-php,
body#ext-belog-mod-index-php,
body#ext-recycler-mod1-index-php,
body#imp-exp-mod {
	height: 100%;
	margin: 0;
	overflow: hidden;
	padding: 0;
}

/* Set body styles for Filelist module */
body#typo3-file-newfolder-php,
body#typo3-file-list-php,
body#typo3-file-edit-php,
body#typo3-file-rename-php,
body#typo3-file-upload-php {
	height: 100%;
	margin: 0;
	overflow: hidden;
	padding: 0;
}

/* Set body styles for Filelist module */
body#typo3-file-newfolder-php,
body#typo3-file-list-php,
body#typo3-file-edit-php,
body#typo3-file-rename-php,
body#typo3-file-upload-php {
	margin: 0;
}

/* - - - - - - - - - - - - - - - - - - - - -
specific wrappers

The "template" class is usually instantiated as either
bicDoc, mediumDoc, smallDoc or noDoc.
Each of these will result in the whole page content between the bodytags being
wrapped in a DIV-section with a class.
The class name will be "typo3-[classname]"
In particular we set the width of these wrapper-sections:
- - - - - - - - - - - - - - - - - - - - - */

div.typo3-bigDoc,
div.typo3-noDoc {
	margin-left: 10px;
	margin-top: 5px;
	width: 740px;
}

div.typo3-noDoc h2 {
	width: 740px;
}

div.typo3-mediumDoc {
	width: 470px;
}

div.typo3-smallDoc {
	width: 350px;
}

div.typo3-fullDoc {
	height: 100%;
	width: 100%;
}