/* - - - - - - - - - - - - - - - - - - - - -
Web > Access

- - - - - - - - - - - - - - - - - - - - - */

table#typo3-permissionList img {
	vertical-align: middle;
}

table#typo3-permissionMatrix td {
	width: 16%;
}

table#typo3-permissionMatrix td.bgColor2 {
	padding-left: 10px;
	padding-right: 10px;
}