/* - - - - - - - - - - - - - - - - - - - - -
File Upload Window

$Id$
- - - - - - - - - - - - - - - - - - - - - */

.swfupload {
	display: block;
	height: 22px;
	position: absolute;
	z-index: 2000;
}

#t3-upload-window-infopanel div div {
	padding: 10px;
}
.t3-upload-window-infopanel div div {
	padding: 0 10px 10px;
}

.t3-upload-window-infopanel input {
	margin-right: 3px;
	vertical-align: text-bottom;
}

.x-plupload-body {
	overflow-x: hidden;
	overflow-y: auto;
}

.x-plupload-body dl {
	padding: 5px;
	width: 100%;
}

.x-plupload-body dt {
	float: left;
	display: block;
	overflow: hidden;
}

.t3-plupload-remove {
	visibility: hidden;
}


.plupload_over .t3-plupload-remove {
	visibility: visible;
}


.plupload_emptytext {
	vertical-align: middle;
	text-align: center;
}
