/* - - - - - - - - - - - - - - - - - - - - -
User settings

- - - - - - - - - - - - - - - - - - - - - */

table.typo3-usersettings {
	padding-bottom: 10px;
}

table.typo3-usersettings td {
	width: 300px;
	line-height: 20px;
	padding-left: 8px;
}

table.typo3-usersettings td.td-label label {
	width: 275px;
}

table.typo3-usersettings a.typo3-csh-link {
	float: left;
}

table.typo3-usersettings img.csh-dummy {
	float: left;
	margin-right: 4px;
	vertical-align: middle;
}

table.typo3-usersettings td.td-label-right {
	padding-left: 30px;
	width: 50px;
}

#ext-setup-mod-index-php #user-setup-wrapper {
	float: left;
}
