/* - - - - - - - - - - - - - - - - - - - - -
Web > Page

- - - - - - - - - - - - - - - - - - - - - */

.t3-lang-gridContainer {
	margin: 0 -12px;
}

td.t3-page-column,
td.t3-page-lang-column {
	min-width: 150px;
	max-width: 300px;
	border-left: 12px solid #fff;
	border-right: 12px solid #fff;
}

.t3-page-colHeader {
	margin-bottom: 0;
	padding-left: 10px;
	padding-right: 20px;
	position: relative;
}

td.t3-page-lang-column.t3-page-lang-label {
	padding-bottom: 12px;
}

.t3-page-colHeader a {
	position: relative;
}

.t3-page-colHeader-icons {
	position: absolute;
	right: 0;
}

.t3-page-ce-wrapper {
	padding: 0 0 5px 0;
}

.t3-page-ce-wrapper-new-ce {
	margin: 0 0 0 5px;
}

.t3-page-ce-droptarget {
	padding: 5px;
}

.t3-page-ce {
	min-width: 150px;
}

.t3-page-ce-dropzone {
	margin: 12px 0;
}

.t3-page-ce-dragitem {
	margin-bottom: 10px;
}

.t3-page-ce h4 {
	margin: 0;
}

.t3-row-header .ce-icons-left {
	float: left;
}

.t3-row-header .ce-icons {
	float: right;
}

.t3-page-ce-icons-move {
	display: block;
	padding-left: 3px;
	padding-top: 3px;
	padding-bottom: 3px;
	margin-right: -4px;
	float: right;
}

.t3-page-ce .t3-row-header .t3-icon,
.t3-page-colHeader .t3-icon {
	margin-top: -1px;
}

.t3-page-ce-icons-move span {
	float: left;
}

.t3-page-ce-body-inner {
	padding: 7px;
}

.t3-page-ce-footer .t3-page-ce-info {
	padding:4px;
}

table.typo3-page-columnsMode img.c-divider {
	margin: 10px 0 5px 0;
}

td.t3-gridCell div.t3-page-ce {
	padding: 1px 12px 0 12px;
}

.t3-page-ce.active .t3-page-ce-body {
	margin: 0;
}

#ext-cms-layout-db-layout-php h2 {
	margin-bottom: 0px;
}
td.t3-page-column.t3-gridCell .t3-page-colHeader {
	padding-top: 36px;
}
