/* - - - - - - - - - - - - - - - - - - - - -
File > List

- - - - - - - - - - - - - - - - - - - - - */

table#typo3-filelist {
	margin-top: 10px;
	width: 98%;
}

table#typo3-filelist img {
	vertical-align: middle;
}

table#typo3-filelist tr td {
	padding: 5px 3px;
}

table#typo3-filelist tr.t3-row-header td {
	padding: 3px;
}

table#typo3-filelist tr.c-headLine td {
	height: 16px;
}

table#typo3-filelist tr td div.typo3-clipCtrl {
	float: left;
}

table#typo3-filelist tr td div.typo3-editCtrl {
	float: left;
	padding-right: 10px;
}

table#typo3-filelist-top tr {
	vertical-align: bottom;
}

/* - - - - - - - - - - - - - - - - - - - - -
File scripts
- - - - - - - - - - - - - - - - - - - - - */
body#typo3-file-upload-php div#c-submit,
body#typo3-file-upload-php div#c-upload,
body#typo3-file-upload-php div#c-override,
body#typo3-file-upload-php div#c-select {
	margin-top: 10px;
}

body#typo3-file-rename-php div#c-submit,
body#typo3-file-rename-php div#c-rename {
	margin-top: 10px;
}

body#typo3-file-newfolder-php div#c-select,
body#typo3-file-newfolder-php div#c-createFolders,
body#typo3-file-newfolder-php div#c-submitFolders,
body#typo3-file-newfolder-php div#c-newFile,
body#typo3-file-newfolder-php div#c-submitFiles {
	margin-top: 10px;
}

body#typo3-file-edit-php div#c-submit,
body#typo3-file-edit-php div#c-edit {
	margin-top: 10px;
}