/* - - - - - - - - - - - - - - - - - - - - -
Context Sensitive Help window (EXT:cshmanual)

- - - - - - - - - - - - - - - - - - - - - */

div.typo3-view-help img.c-inlineimg {

}

div.typo3-view-help div.c-toc ul li {
	margin-top: 10px;
}

div.typo3-view-help div.c-toc ul li ul li {
	margin-top: 0px;
}

div.typo3-view-help p.c-nav {
	margin: 10px 10px 0 10px;
}