/* - - - - - - - - - - - - - - - - - - - - -
Help > About

- - - - - - - - - - - - - - - - - - - - - */

#typo3-mod-help-about-index-php-outer {
	margin: 15px auto;
	width: 500px;
}

#typo3-mod-help-about-index-php-outer #donation-description {
	padding-left: 60px;
	margin: 10px 0;
}

#typo3-mod-help-about-index-php-outer .donation-button input {
	padding-left: 20px;
}

#typo3-mod-help-about-index-php-outer .typo3-mod-help-about-index-php-inner {
	margin: 10px auto 20px;
	padding: 10px;
}

#typo3-mod-help-about-index-php-outer .typo3-mod-help-about-index-php-inner h2 {
	margin-top: 0;
}

#typo3-mod-help-about-index-php-outer .typo3-mod-help-about-index-php-inner h3 {
	margin-bottom: 10px;
	margin-top: 10px;
}