/* - - - - - - - - - - - - - - - - - - - - -
Web > List

- - - - - - - - - - - - - - - - - - - - - */

table.typo3-dblist {
	margin-bottom: 10px;
	width: 100%;
}

table.typo3-dblist img {
	vertical-align: middle;
}

table.typo3-dblist tr td {
	padding: 3px 1px 3px 6px;
}

table.typo3-dblist tr.db_list_normal td {
	padding-bottom: 5px;
	padding-top: 5px;
}

table.typo3-dblist tr td.c-headLine,
table.typo3-dblist tr.c-headLine td {
	height: 24px;
}

table.typo3-dblist tr.c-table-row-spacer td {
	display: none;
}

table.typo3-dblist tr td div.typo3-DBctrl {
	height: 16px;
	min-width: 252px;
}

tr.t3-row-header td {
	padding: 3px 7px;
}

* html table.typo3-dblist tr td div.typo3-DBctrl {
	width: 252px;
}

table.typo3-dblist tr td div.typo3-clipCtrl {
	height: 16px;
	min-width: 72px;
}

* html table.typo3-dblist tr td div.typo3-clipCtrl {
	width: 72px;
}

table.typo3-dblist tr td .typo3-DBctrl .typo3-ctrl-versioning {
	display: block;
	float: left;
	height: 16px;
	margin: 0px 1px;
	width: 16px;
}

table.typo3-dblist tr td .typo3-DBctrl .typo3-ctrl-versioning-hidden {
	visibility: hidden;
}

table.typo3-dblist tr td div.typo3-clipCtrl span.t3-icon,
table.typo3-dblist tr td div.typo3-DBctrl span.t3-icon {
	float: left;
	margin-left: 1px;
	margin-right: 1px;
}

table.typo3-dblist tr td.col-icon {
	padding-left: 4px;
	padding-right: 0px;
	vertical-align: middle;
	width: 20px;
}

table.typo3-dblist tr td.col-icon a img.collapseIcon {
	margin: 1px 0px 0px 2px;
}

table.typo3-dblist tr td.col-title {
	overflow: hidden;
	vertical-align: middle;
	width: 300px;
}

table.typo3-dblist tr td.col-title.localization {
	padding-left: 18px;
}

table.typo3-dblist tr td.col-control {
	width: 250px;
}

table.typo3-dblist tr td.col-control-space {
	width: 4px;
}

table.typo3-dblist tr td.col-clipboard {
	width: 74px;
}

table#typo3-dblist-fieldSelect {
	margin-top: 20px;
}

table#typo3-dblist-fieldSelect input[type="submit"] {
	margin-left: 10px;
}

table.typo3-dblist-overview {
	margin-top: 10px;
	margin-left: 1px;
	width: 410px;
}

table.typo3-dblist-overview td.c-tableDescription {
	padding-left: 10px;
}

table.typo3-dblist-overview td.c-tableDescription img {
	margin-right: 10px;
}

table#typo3-versionSelector {
	margin-bottom: 5px;
	margin-top: 5px;
	padding: 5px;
}

table#typo3-versionSelector td {
	padding-left: 2px;
	padding-right: 2px;
	vertical-align:middle;
}

div#typo3-newRecordLink,
div.typo3-newRecordLink,
div.typo3-localizationLink,
div.typo3-synchronizationLink {
	margin: 5px 0px 5px 0px;
}

div#typo3-newRecordLink img,
div.typo3-newRecordLink img,
div.typo3-localizationLink img,
div.typo3-synchronizationLink img {
	margin-right: 5px;
	vertical-align: middle;
}

input.smallCheckboxes {
	height: 12px;
	margin: 0px;
	padding: 0px;
	vertical-align: middle;
	width: 12px;
}

div#typo3-listOptions {
	margin: 10px 0px 10px 0px;
	width: 93%;
}

div#typo3-dblist-pagination {
	padding: 5px 0 1px 0;
}

div#typo3-dblist-pagination img,
div#typo3-dblist-pagination span.pageIndicator {
	margin-right: 6px;
}

div#typo3-dblist-pagination img {
	padding-bottom: 2px;
	vertical-align: bottom;
}

div#typo3-dblist-pagination span.bar {
	padding: 0 2px;
}

.db_list_normal td.col-control, .db_list_alt td.col-control,
.db_list_normal td.col-clipboard, .db_list_alt td.col-clipboard {
	padding-left: 3px;
	padding-right: 0px;
}

#typo3-dblist-search-container {
	position: relative;
}

#typo3-dblist-search input[type="submit"] {
	height: 19px;
	margin-left: 5px;
	padding: 0 4px 2px 4px;
}

.t3-list-table-header-icon-down {
	display: inline-block;
	height: 6px;
	padding: 5px 4px;
	width: 9px;
}

.t3-list-table-header-icon-right {
	display: inline-block;
	height: 8px;
	padding: 4px 5px;
	width: 7px;
}