/* - - - - - - - - - - - - - - - - - - - - -
File Upload Window

$Id$
- - - - - - - - - - - - - - - - - - - - - */

.swfupload {
	display: block;
	height: 22px;
	position: absolute;
	z-index: 2000;
}

#t3-upload-window-infopanel div div {
	padding: 10px;
}
.t3-upload-window-infopanel div div {
	padding: 0 10px 10px;
}

.t3-upload-window-infopanel input {
	margin-right: 3px;
	vertical-align: text-bottom;
}

.x-plupload-body {
    overflow-x: hidden;
    overflow-y: auto;
}

.x-plupload-body dl {
    padding: 5px;
    border-bottom: 1px solid #D0D0D0;
    font: normal 11px arial,tahoma,verdana,helvetica;
    width: 100%;
}

.x-plupload-body dt {
    float: left;
    cursor: pointer;
    display: block;
    overflow: hidden;
    white-space: nowrap;
}

.t3-plupload-remove {
	visibility: hidden;
}

.plupload_over {
	filter: alpha(opacity=50);
	opacity: 0.5;
	-moz-opacity: 0.5;
}

.plupload_over .t3-plupload-remove {
	visibility: visible;
}


.plupload_selected {
    background-color: #EFF5FB;
}

.plupload_emptytext {
    font: 11px Arial,Helvetica,sans-serif;
    vertical-align: middle;
    text-align: center;
}

.plupload_emptytext span {
    line-height: 100px;
}

.silk-accept {
	background-image: url(../../images/icons/status/dialog-ok.png) !important; background-repeat: no-repeat;
}

.silk-add {
	background-image: url(../../images/icons/actions/edit-add.png) !important; background-repeat: no-repeat;
}

.silk-cross {
	background-image: url(../../images/icons/status/status-icon-missing.png) !important; background-repeat: no-repeat;
}

.silk-stop {
	background-image: url(../../images/icons/status/status-permission-denied.png) !important; background-repeat: no-repeat;
}

.silk-arrow-up {
	background-image: url(../../images/icons/actions/edit-upload.png) !important; background-repeat: no-repeat;
}