/* - - - - - - - - - - - - - - - - - - - - -
File Upload Window

- - - - - - - - - - - - - - - - - - - - - */

.swfupload {
	bottom: 3px;
	display: block;
	height: 25px;
	left: 3px;
	position: absolute;
	top: 2px;
	z-index: 2000;
	width: 90px;
}

#t3-upload-window-infopanel div div {
	padding: 10px;
}
.t3-upload-window-infopanel div div {
	padding: 0 10px 10px;
}

.t3-upload-window-infopanel input {
	margin-right: 3px;
	vertical-align: text-bottom;
}