/* - - - - - - - - - - - - - - - - - - - - -
Logout-Button

- - - - - - - - - - - - - - - - - - - - - */

#login-info p {
	padding-bottom: 30px;
	padding-top: 5px;
}

#logout-button {
	padding-left: 4px;
	padding-right: 7px;
}

#logout-button input {
	height: 20px;
	padding: 0 0 2px 0;
}