/* - - - - - - - - - - - - - - - - - - - - -
Username inside the toolbar

- - - - - - - - - - - - - - - - - - - - - */

#username {
	margin-left: 25px;
	margin-right: 10px;
	padding-top: 2px;
}

#username span {
	margin-right: 4px;
	vertical-align: bottom;
}

#username img {
	padding-right: 4px;
	vertical-align: bottom;
}