/* - - - - - - - - - - - - - - - - - - - - -
Toolbar inside the Topbar

- - - - - - - - - - - - - - - - - - - - - */

.typo3-top-toolbar {
	margin-top: 9px;
	padding-right: 15px;
	position: absolute;
	right: 0px;
}

#typo3-toolbar {
	display: inline;
	margin: 0px;
	padding: 0px;
}

#typo3-toolbar li {
	position: relative;
}

#typo3-toolbar>li {
	display: inline;
	float: left;
}

#typo3-toolbar * li {
	display: list-item;
}

#typo3-toolbar .separator {
	padding-right: 10px;
	margin-right: 10px;
}

#typo3-toolbar div {
	overflow: visible !important;
}

#typo3-toolbar span.spinner {
	background-image: url('../../images/spinner/3f3f3f.gif');
}

.toolbar-item {
	display: block;
	padding-bottom: 9px;
	padding-top: 2px;
}

.toolbar-item-menu {
	position: absolute;
	top: 25px;
	z-index: 100;
	right: 0;
}

.separator .toolbar-item-menu {
	right: 10px;
}


ul.toolbar-item-menu {
	margin: 0;
	padding: 2px 0 0;
	position: absolute;
	width: 180px;
}

ul.toolbar-item-menu li a {
	float: none;
	min-height: 19px;
	padding-left: 2px;
	padding-top: 2px;
	vertical-align: middle;
}

ul.toolbar-item-menu li a {
	display: block;
	padding-bottom: 2px;
	padding-left: 3px;
	vertical-align: middle;
}
