/* - - - - - - - - - - - - - - - - - - - - -
Username inside the toolbar

- - - - - - - - - - - - - - - - - - - - - */

#username {
	margin-right: 12px;
}

#username span {
}

#username img {
	padding-right: 4px;
	vertical-align: bottom;
}