/* - - - - - - - - - - - - - - - - - - - - -
Workspace Selector

- - - - - - - - - - - - - - - - - - - - - */

#workspace-selector-menu {
	width: 30px;
}

#workspace-selector-menu ul {
	margin: 0px;
	padding: 2px 0px 0px;
	position: absolute;
	width: 180px;
}

#workspace-selector-menu li {
	float: none;
	min-height: 19px;
	vertical-align: middle;
}

* html #workspace-selector-menu li {
	height: 19px;
}

#workspace-selector-menu li img {
	float: left;
	position: relative;
	margin-right: 2px;
}

#workspace-selector-menu li a {
	display: block;
	padding-bottom: 2px;
	padding-left: 3px;
	vertical-align: middle;
}

#workspace-selector-menu li.divider {
	padding-top: 4px;
}

#workspace-selector-menu li span.t3-icon {
	float: left;
	margin-top: 0;
	margin-right: 2px;
}