@charset "UTF-8";

#fake-form ol {
	padding-left: 0 !important;
	list-style: none !important;
}

/* style for each form element */
#fake-form li {
	overflow: hidden;
	padding: 0.5em;
	margin-bottom: 0.5em;
}

#fake-form label {
	float: left;
	width: 13em;
	margin-right: 1em;
	vertical-align: baseline;
}

#fake-form label em,
#fake-form legend em {
	display: block;
	font-size: 90%;
	font-style: normal;
}

#fake-form label strong,
#fake-form legend strong {
	display: block;
	font-size: 90%;
	font-weight: normal;
	color: #CC0000;
}

#fake-form li input + label,
#fake-form li textarea + label,
#fake-form li select + label {
	float: none;
	width: auto;
	margin-right: 0;
	margin-left: 1em;
}

#fake-form li textarea + label {
	vertical-align: top;
}

/* labels alignment right */
#fake-form .labels-alignment-right label,
#fake-form .labels-alignment-right .fieldset-subgroup legend,
#fake-form .labels-alignment-right.fieldset-subgroup legend {
	text-align: right;
}

/* element FIELDSET */
#fake-form fieldset {
	position: relative;
	margin: 0;
	padding: 0;
}

#fake-form legend {
	font-size: 12px;
	font-weight: bold;
	color: #000000;
}

#fake-form legend em {
	position: absolute;
}

#fake-form legend strong {
	position: absolute;
	top: 1.4em;
}

#fake-form fieldset.submit {
	border-style: none;
}

/* horizontal fieldset */
#fake-form fieldset.fieldset-horizontal {
	border-width: 0;
}

#fake-form fieldset.fieldset-horizontal ol {
	padding: 0;
}

#fake-form fieldset.fieldset-horizontal li {
	float: left;
	margin-right: 1em;
	padding: 0;
}

#fake-form fieldset.fieldset-horizontal.label-below label {
	display: block;
	margin-left: 0;
	margin-top: 0.2em;
	font-size: 90%;
	text-align: left;
	color: #999999;
}

#fake-form fieldset.fieldset-horizontal label em {
	display: inline;
}

/* Subgroup fieldset */
#fake-form fieldset.fieldset-subgroup {
	margin-bottom: -2em;
	border-style: none;
}

#fake-form fieldset.fieldset-subgroup legend {
	width: 13em;
	margin-left: 0;
	padding: 0;
	font-weight: normal;
}

#fake-form fieldset.fieldset-subgroup ol {
	position: relative;
	top: -1.4em;
	margin: 0 0 0 14em;
	padding: 0;
}

#fake-form fieldset.fieldset-subgroup li {
	padding: 0;
}

#fake-form fieldset.fieldset-subgroup input + label {
	float: none;
	width: auto;
	display: inline;
	margin: 0 0 0 1em;
}

/* labels as block, labels displayed above or below the input fields */
#fake-form .labels-block label {
	display: block;
	float: none;
	margin: 0 0 0.5em;
	width: auto;
}

#fake-form .labels-block input + label,
#fake-form .labels-block textarea + label {
	margin: 0.5em 0 0;
}

#fake-form .labels-block fieldset.fieldset-subgroup,
#fake-form fieldset.labels-block.fieldset-subgroup {
	margin-bottom: 0;
}

#fake-form .labels-block .fieldset-subgroup legend,
#fake-form .labels-block.fieldset-subgroup legend {
	width: auto;
}

#fake-form .labels-block .fieldset-subgroup legend em,
#fake-form .labels-block.fieldset-subgroup legend em {
	position: relative;
}

#fake-form .labels-block .fieldset-subgroup legend strong,
#fake-form .labels-block.fieldset-subgroup legend strong {
	position: relative;
	top: 0;
}

#fake-form .labels-block .fieldset-subgroup ol,
#fake-form .labels-block.fieldset-subgroup ol {
	top: 0;
	margin: 0;
	padding: 0.5em 0 0;
}

/* element HIDDEN */
#fake-form .formwizard-element.hidden-element {
	cursor: default;
}

#fake-form .formwizard-element .hidden-dummy-element {
	margin: 0;
	padding: 5px;
	border:1px dotted #A9A9A9;
}

/* styles for drag and drop content */
.x-dd-drag-ghost .formwizard-element {
	list-style:none;
}

.x-dd-drop-icon {
	top: 7px;
}

.x-dd-drag-ghost ol {
	margin: 5px 0;
	padding: 0;
	list-style: none;
}

.x-dd-drag-ghost .buttongroup,
.x-dd-drag-ghost label em,
.x-dd-drag-ghost label strong {
	display: none;
}

.x-dd-drag-ghost label {
	margin: 0 10px 0 5px;
}

.x-dd-drag-ghost legend {
	margin: 0 5px;
	font-size: 14px;
	font-weight: bold;
	color: #000;
	border: none;
}