<!-- ###FULLDOC### begin -->
<div class="typo3-fullDoc">
	<div id="typo3-docheader">
		<div class="typo3-docheader-functions">
			<div class="left">###CSH### ###LANGSELECTOR###</div>
			<div class="right">###PAGEPATH######PAGEINFO###</div>
		</div>
		<div class="typo3-docheader-buttons">
			<div class="left">###BUTTONLIST_LEFT###</div>
			<div class="right">###BUTTONLIST_RIGHT###</div>
		</div>
	</div>

	<div id="typo3-docbody">
		<div id="typo3-inner-docbody">
			###EXTRAHEADER###
			###CONTENT###
		</div>
	</div>
</div>
<!-- ###FULLDOC### end -->

<!-- ###DOCHEADER_EXTRAHEADER### -->
		<div id="typo3-docheader-rowextra">###EXTRAHEADER###</div>
<!-- ###DOCHEADER_EXTRAHEADER### -->

<!-- Grouping the icons on top -->

<!-- ###BUTTON_GROUP_WRAP### -->
<div class="buttongroup">###BUTTONS###</div>
<!-- ###BUTTON_GROUP_WRAP### -->

<!-- ###BUTTON_GROUPS_LEFT### -->
<!-- ###BUTTON_GROUP1### -->###CLOSE###<!-- ###BUTTON_GROUP1### -->
<!-- ###BUTTON_GROUP2### -->###SAVE######SAVE_VIEW######SAVE_CLOSE######SAVE_NEW######TRANSLATION_SAVE######TRANSLATION_SAVECLEAR###<!-- ###BUTTON_GROUP2### -->
<!-- ###BUTTON_GROUP3### -->###DELETE######UNDO######HISTORY###<!-- ###BUTTON_GROUP3### -->
<!-- ###BUTTON_GROUPS_LEFT### -->

<!-- ###BUTTON_GROUPS_RIGHT### -->
<!-- ###BUTTON_GROUP1### -->###SHORTCUT######COLUMNS_ONLY######OPEN_IN_NEW_WINDOW###<!-- ###BUTTON_GROUP1### -->
<!-- ###BUTTON_GROUPS_RIGHT### -->
