<!-- ###TOTALWRAP### begin -->
<h2>###PAGE_TITLE###</h2>

<table class="typo3-TCEforms">
	|
	<tr class="typo3-TCEforms-recHeaderRow">
		<td colspan="2">###RECORD_ICON### <span class="typo3-TCEforms-recHeader">###TABLE_TITLE###</span> ###ID_NEW_INDICATOR###</td>
	</tr>
</table>
<!-- ###TOTALWRAP### end -->


<!-- ###FIELDTEMPLATE### begin -->
<tr ###BGCOLOR_HEAD######CLASSATTR_2###>
	<td colspan="2" class="formField-header"><span style="color:###FONTCOLOR_HEAD###;"###CLASSATTR_4###><strong>###FIELD_NAME###</strong></span></td>
</tr>
<tr ###BGCOLOR######CLASSATTR_1###>
	<td colspan="2" class="formField-field" valign="top">
		<span class="t3-form-field-container">
			<img name="cm_###FIELD_TABLE###_###FIELD_ID###_###FIELD_FIELD###" src="clear.gif" class="t3-TCEforms-contentchangedImg" alt="" />
			<img name="req_###FIELD_TABLE###_###FIELD_ID###_###FIELD_FIELD###" src="clear.gif" class="t3-TCEforms-reqImg" alt="" />
			###FIELD_ITEM_NULLVALUE###
			<div class="t3-form-field-item###FIELD_ITEM_DISABLED###">
				<div class="t3-form-field-disable"></div>
				###FIELD_ITEM###
			</div>
			###FIELD_PAL_LINK_ICON###
		</span>
	</td>
</tr>
<!-- ###FIELDTEMPLATE### end -->


<!-- ###PALETTEFIELDTEMPLATE### begin -->
<span class="t3-form-palette-field-container">
	<label###ATTRIBUTES_LABEL###>
		###CONTENT_NAME###
	</label>
	<span###ATTRIBUTES_FIELD###>
		<img name="cm_###CONTENT_TABLE###_###CONTENT_ID###_###CONTENT_FIELD###" src="clear.gif" class="t3-form-palette-icon-contentchanged" alt="" />
		<img name="req_###CONTENT_TABLE###_###CONTENT_ID###_###CONTENT_FIELD###" src="clear.gif" class="t3-form-palette-icon-required" alt="" />
		###CONTENT_ITEM_NULLVALUE###
		<div class="t3-form-field-item###CONTENT_ITEM_DISABLED###">
			<div class="t3-form-field-disable"></div>
			###CONTENT_ITEM###
		</div>
	</span>
</span>
<!-- ###PALETTEFIELDTEMPLATE### end -->


<!-- ###PALETTE_FIELDTEMPLATE### begin -->
<tr ###BGCOLOR######CLASSATTR_1###>
	<td colspan="2" nowrap="nowrap" valign="top">###FIELD_PALETTE###</td>
</tr>
<!-- ###PALETTE_FIELDTEMPLATE### end -->


<!-- ###PALETTE_FIELDTEMPLATE_HEADER### begin -->
<tr ###BGCOLOR_HEAD######CLASSATTR_2###>
	<td colspan="2" nowrap="nowrap" valign="top" class="palette-header"><strong>###FIELD_HEADER###</strong></td>
</tr>
<!-- ###PALETTE_FIELDTEMPLATE_HEADER### end -->


<!-- ###SECTION_WRAP### begin -->
<tr>
	<td colspan="2"><table ###TABLE_ATTRIBS###>###CONTENT###</table></td>
</tr>
<!-- ###SECTION_WRAP### end -->