<!-- ###FULLDOC### begin -->
<div class="typo3-fullDoc">
	<div id="typo3-docheader">
		<div class="typo3-docheader-functions">
			<div class="left">###CSH### ###FUNC_MENU###</div>
			<div class="right">###PAGEPATH######PAGEINFO###</div>
		</div>
		<div class="typo3-docheader-buttons">
			<div class="left">###BUTTONLIST_LEFT###</div>
			<div class="right">###BUTTONLIST_RIGHT###</div>
		</div>
	</div>

	<div id="typo3-docbody">
		<div id="typo3-inner-docbody">
			###CONTENT###
		</div>
	</div>
</div>
<!-- ###FULLDOC### end -->

<!-- Grouping the icons on top -->

<!-- ###BUTTON_GROUP_WRAP### -->
<div class="buttongroup">###BUTTONS###</div>
<!-- ###BUTTON_GROUP_WRAP### -->

<!-- ###BUTTON_GROUPS_LEFT### -->
<!-- ###BUTTON_GROUP1### -->###BACK######NEW###<!-- ###BUTTON_GROUP1### -->
<!-- ###BUTTON_GROUP2### -->###CLOSE###<!-- ###BUTTON_GROUP2### -->
<!-- ###BUTTON_GROUP3### -->###SAVE######SAVE_CLOSE###<!-- ###BUTTON_GROUP3### -->
<!-- ###BUTTON_GROUP4### -->###VIEW###<!-- ###BUTTON_GROUP4### -->
<!-- ###BUTTON_GROUPS_LEFT### -->

<!-- ###BUTTON_GROUPS_RIGHT### -->
<!-- ###BUTTON_GROUP1### -->###SHORTCUT###<!-- ###BUTTON_GROUP1### -->
<!-- ###BUTTON_GROUPS_RIGHT### -->
