#recyclerContent {
	margin-top: 10px;
}

.recycler-messagebox {
	padding: 10px;
	font-size: 12px;
}

ul.recycler-table-list {
	list-style: disc;
	margin: 5px 0 5px 15px;
}

ul.recycler-table-list li {
	margin-left: 10px;
}

dl.recycler-table-list-entry-details {
	margin-left: 45px;
}

dl.recycler-table-list-entry-details dt {
	font-weight: bold;
	float: left;
	clear: left;
	margin-right: 3px;
}

button.delete {
	background-image: url('../icons/delete.gif');
}

button.undelete {
	background-image: url('../icons/arrow_rotate_anticlockwise.png');
}

button.backup {
	background-image: url('../icons/database_save.png');
}

button.filter_refresh {
	background-image: url('../icons/filter_refresh.png');
}

button.filter_clear {
	background-image: url('../icons/filter_clear.png');
}