<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">

<html>
<head>
	<title>GREEN template</title>
</head>

<body>
<!-- ###DOCUMENT_BODY### begin -->
<table border="0" cellpadding="0" cellspacing="0" width="1">
<tr>
	<td>###TOP_LOGO###</td>
	<td>###TOP_IMAGE###</td>
</tr>
<tr>
	<td colspan="2" nowrap="nowrap">###MAIN_MENU###</td>
</tr>
<tr>
	<td colspan="2">
	


	<table border="0" cellpadding="0" cellspacing="0" width="1">
	<tr>
		<td><img src="clear.gif" height="1" width="10" alt="" /></td>
		<td valign="top">
		###PAGE_TITLE###<br /><br />
		###SUB_MENU###
		</td>
		<td><img src="clear.gif" height="1" width="25" alt="" /></td>
		<td valign="top">###CONTENT###</td>
	</tr>
	</table>

	
	
	
	</td>
</tr>
</table>






<!-- ###DOCUMENT_BODY### end -->
</body>
</html>
