<!--###TEMPLATE_DEFAULT### begin
	Help template for the default language, english
-->
<table border=1 cellpadding=4 cellspacing=1 bgcolor="#eeeeee"> 
<tr>
	<td colspan=2>
	
	<div align="center"><h3>Board Codes</h3></div>
	<font face=verdana size=2>
	You must insert a code in the CODE field of the "List" content element before the board will work. The code tells the board module what to do. You can insert multiple codes by separating them by a comma.<br>
	Here is an example:<br><BR>
	<div align="center"><img src="media/scripts/board_help1.gif" width="375" height="226" border="2" alt=""></div>

	
	<HR>
	Current CODE = "<b>###CODE###</b>"
	</font>
	</td>
</tr>
<tr>
	<td><font face=verdana size=2><strong>LIST_CATEGORIES</strong></font></td>
	<td><font face=verdana size=2>Lists the categories and forums in categories.</font></td>
</tr>
<tr>
	<td><font face=verdana size=2><strong>LIST_FORUMS</strong></font></td>
	<td><font face=verdana size=2>Lists the forums.</font></td>
</tr>
<tr>
	<td><font face=verdana size=2><strong>FORUM</strong></font></td>
	<td><font face=verdana size=2>Lists the content of a forum. If tt_board_uid is set as GET/POST var, that board-item/list is displayed instead.</font></td>
</tr>
<tr>
	<td><font face=verdana size=2><strong>POSTFORM</strong></font></td>
	<td><font face=verdana size=2>Displays a submit-form used to post replies/new threads.</font></td>
</tr>
<tr>
	<td><font face=verdana size=2><strong>POSTFORM_REPLY</strong></font></td>
	<td><font face=verdana size=2>As above, but only if it is a reply.</font></td>
</tr>
<tr>
	<td><font face=verdana size=2><strong>POSTFORM_THREAD</strong></font></td>
	<td><font face=verdana size=2>As above, but only if it is a new thread.</font></td>
</tr>
</table>
<!--###TEMPLATE_DEFAULT### end -->

