<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">

<html>
<head>
	<TITLE>Calendar example template</TITLE>
</head>

<body>






<br>
<br>
<br>
<H1>CALENDAR TEMPLATE</H1>
<h2>EXAMPLE</h2>




<BR><BR><BR><BR><HR><BR><BR><BR>
<em>This template features:<br>
- Subparts: date header and date content<br>
- Markers, data: Date, Header, Time, Content<br>
- Markers, layout: font<br>
(See the source code for subparts and markers)<br>
</em>
<br>
<br>
<br>
<br>

<!-- ###TEMPLATE_CALENDAR### -->
	<table border=0 cellpadding=2 cellspacing=2>
	<!-- ###TABLE_CONTENT### -->
		<!-- ###DATE_HEADER### -->
		<tr>
			<td NOWRAP><font face="###FONT###" size=2 color="black"> ###DATE### </font></td>
			<td><font face="###FONT###" size=2 color="black"><b> ###HEADER### </b></font></td>
		</tr>
		<!-- ###DATE_HEADER### -->
		<!-- ###DATE_CONTENT### -->
		<tr>
			<td align="right" valign="top"><font face="###FONT###" size=1 color="black">###TIME###</font></td>
			<td valign="top"><font face="###FONT###" size=2 color="black">###CONTENT###</font></td>
		</tr>
		<!-- ###DATE_CONTENT### -->
	<!-- ###TABLE_CONTENT### -->
	</table>
<!-- ###TEMPLATE_CALENDAR### -->


</body>
</html>
