<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">

<html>
<head>
	<TITLE>Guestbook example template</TITLE>
</head>

<body>






<br>
<br>
<br>
<H1>GUESTBOOK TEMPLATES</H1>
<h2>EXAMPLE 1</h2>








<BR><BR><BR><BR><HR><BR><BR><BR>
<em>This template for the guestbook features:<br>
- A header section (the orange table cell)<br>
- A content section, which is where the guest book items go:<br>
- The content section has two alternative designs: One with a light background and one with an olive background. When listing the guestbook items, Typo3 will alternate between using the one or the other design.<br>
(See the source code for subparts and markers)<br>
</em>
<br>
<br>
<br>
<br>



<!-- ###TEMPLATE_GUESTBOOK### begin
	This is the template for the guest book or comment items 
-->
<TABLE cellpadding="4" cellspacing="1" border="0" width="98%">
	<TR bgcolor="###GC3###">
		<TD colspan=2 valign="bottom">###GW2B### <font color="#FFFFFF"><B>Comments:</B></FONT>###GW2E###</TD>
	</TR>
	<!-- ###CONTENT### begin
		  This is the part of the template substituted with the list of comments/entries: 
	-->
		<!-- ###POST### begin 
			Template for a single item 
		-->
			<TR>
				<TD bgcolor="###GC2###" valign="top">
					###GW2B### ###POST_DATE### - ###POST_TIME### - ###POST_AGE### ###GW2E###
				</TD>
				<TD bgcolor="###GC2###" valign="top">
					###GW2B### <B>###POST_AUTHOR###</B> - ###POST_EMAIL###<BR>###POST_WWW### ###GW2E###
				</TD>
			</TR>
			<TR>
				<TD bgcolor="###GC2###" valign="top">
				</TD>
				<TD bgcolor="###GC2###" valign="top">
					###GW1B###<B>###POST_TITLE###</B>###GW1E###<BR>
					###GW2B### ###POST_CONTENT### ###GW2E###
				</TD>
			</TR>
		<!-- ###POST### end-->
		<!-- ###POST_1### begin 
			Template for an alternative single item 
		-->
			<TR>
				<TD bgcolor="###GC1###" valign="top">
					###GW2B### ###POST_DATE### - ###POST_TIME### - ###POST_AGE### ###GW2E###
				</TD>
				<TD bgcolor="###GC1###" valign="top">
					###GW2B### <B>###POST_AUTHOR###</B> - ###POST_EMAIL###<BR>###POST_WWW### ###GW2E###
				</TD>
			</TR>
			<TR>
				<TD bgcolor="###GC1###" valign="top">
				</TD>
				<TD bgcolor="###GC1###" valign="top">
					###GW1B###<B>###POST_TITLE###</B>###GW1E###<BR>
					###GW2B### ###POST_CONTENT### ###GW2E###
				</TD>
			</TR>
		<!-- ###POST_1### end-->
	<!-- ###CONTENT###  end -->
</TABLE><BR>
<!-- ###TEMPLATE_GUESTBOOK### end -->


</BODY>
</HTML>
