<!--###TEMPLATE_DEFAULT### begin
	Help template for the default language, english
-->
<table border=1 cellpadding=4 cellspacing=1 bgcolor="#eeeeee"> 
<tr>
	<td colspan=2>
	
	<div align="center"><h3>Guestbook Codes</h3></div>
	<font face=verdana size=2>
	You must insert a code in the CODE field of the "List" content element before the guestbook will work. The code tells the guestbook module what to do. You can insert multiple codes by separating them by a comma.<br>
	Here is an example:<br><BR>
	<div align="center"><img src="media/scripts/guest_help1.gif" width="370" height="220" border="2" alt=""></div>

	
	<HR>
	Current CODE = "<b>###CODE###</b>"
	</font>
	</td>
</tr>
<tr>
	<td><font face=verdana size=2><strong>GUESTBOOK</strong></font></td>
	<td><font face=verdana size=2>Lists the content of a the guestbook.</font></td>
</tr>
<tr>
	<td><font face=verdana size=2><strong>POSTFORM</strong></font></td>
	<td><font face=verdana size=2>Displays a submit-form used to post comments.</font></td>
</tr>
</table>
<!--###TEMPLATE_DEFAULT### end -->


<!--###TEMPLATE_DK### begin
	Danish version
-->
<table border=1 cellpadding=4 cellspacing=1 bgcolor="#eeeeee"> 
<tr>
	<td colspan=2>
	
	<div align="center"><h3>Gæstebogskoder</h3></div>
	<font face=verdana size=2>
	Du skal indsætte en kode i KODE feltet på "Liste" indholdselementet før gæstebogen kan fungere. Koden fortæller gæstebogsfunktionen, hvad der skal vises. Du kan indsætte flere koder ved adskillelse med et komma.<br>
	Her er et eksempel:<br><BR>
	<div align="center"><img src="media/scripts/guest_help1.gif" width="370" height="220" border="2" alt=""></div>

	<HR>
	Nuværende KODE = "<b>###CODE###</b>"
	</font>
	</td>
</tr>
<tr>
	<td><font face=verdana size=2><strong>GUESTBOOK</strong></font></td>
	<td><font face=verdana size=2>Viser indholdet af gæstebogen.</font></td>
</tr>
<tr>
	<td><font face=verdana size=2><strong>POSTFORM</strong></font></td>
	<td><font face=verdana size=2>Viser en formular til at sende indlæg til gæstebogen.</font></td>
</tr>
</table>
<!--###TEMPLATE_DK### end -->

