<!--###TEMPLATE_DEFAULT### begin
	Help template for the default language, english
-->
<table border=1 cellpadding=4 cellspacing=1 bgcolor="#eeeeee"> 
<tr>
	<td colspan=2>

	<div align="center"><h3>Rating Codes</h3></div>
	<font face=verdana size=2>
	You must insert a code in the CODE field of the "List" content element before the rating will work. The code tells the rating module what to do. You can insert multiple codes by separating them by a comma.<br>
	Here is an example:<br><BR>
	<div align="center"><img src="media/scripts/rating_help1.gif" width="370" height="220" border="2" alt=""></div>


	<HR>
	Current CODE = "<b>###CODE###</b>"
	<HR>
	defaultCode (TS) = "<b>###DEFAULTCODE###</b>"<br>
	<font size=1>The codes might set already in TypoScript with defaultCode so you don't have to set them here.</font>
	</font>
	</td>
</tr>
<tr>
	<td><font face=verdana size=2><strong>RESULT</strong></font></td>
	<td><font face=verdana size=2>Displays the current rating.</font></td>
</tr>
<tr>
	<td><font face=verdana size=2><strong>VOTEFORM</strong></font></td>
	<td><font face=verdana size=2>Displays a submit-form used to post the users rating.</font></td>
</tr>

</table>
<!--###TEMPLATE_DEFAULT### end -->


<!--###TEMPLATE_DE### begin
	German version
-->
<table border=1 cellpadding=4 cellspacing=1 bgcolor="#eeeeee"> 
<tr>
	<td colspan=2>
	
	<div align="center"><h3>Codes für 'Bewertung'</h3></div>
	<font face=verdana size=2>
	Sie müssen in das CODE-Feld einen Code eintragen damit die Bewertung funktioniert. der Code bestimmt was das Bewertungsmodul anzeigen soll. Sie können mehrere Codes durch Komma getrennt eintragen.<br>
	Hier ist ein Beispiel:<br><BR>
	<div align="center"><img src="media/scripts/rating_help1.gif" width="370" height="220" border="2" alt=""></div>

	<HR>
	aktueller CODE = "<b>###CODE###</b>"
	<HR>
	defaultCode (TS) = "<b>###DEFAULTCODE###</b>"<br>
	<font size=1>Eventuell sind die Codes schon in TypoScript mit defaultCode gesetzt worden, sodaß es hier nicht mehr nötig ist.</font>
	</font>
	</td>
</tr>
<tr>
	<td><font face=verdana size=2><strong>RESULT</strong></font></td>
	<td><font face=verdana size=2>Zeigt die aktuelle Bewertung an.</font></td>
</tr>
<tr>
	<td><font face=verdana size=2><strong>VOTEFORM</strong></font></td>
	<td><font face=verdana size=2>Zeigt ein Formular mit dem der User seine Bewertung abgeben kann.</font></td>
</tr>
</table>
<!--###TEMPLATE_DE### end -->

