<!--###TEMPLATE_DEFAULT### begin
	Help template for the default language, english
-->
<table border=1 cellpadding=4 cellspacing=1 bgcolor="#eeeeee"> 
<tr>
	<td colspan=2>
	
	<div align="center"><h3>Tip-A-Friend Codes</h3></div>
	<font face=verdana size=2>
	You must insert a code in the CODE field of the "List" content element before the Tip-A-Friend module will work. 
	
	<div align="center"><img src="media/scripts/tipafriend_help1.gif" width="370" height="220" border="2" alt=""></div>
	<HR>
	Current CODE = "<b>###CODE###</b>"
	</font>
	</td>
</tr>
<tr>
	<td><font face=verdana size=2><strong>TIPFORM</strong></font></td>
	<td><font face=verdana size=2>Displays the form in which to enter the email addresse of the recipient.</font></td>
</tr>
<tr>
	<td><font face=verdana size=2><strong>TIPLINK</strong></font></td>
	<td><font face=verdana size=2>Makes a link from the current page to the TIPFORM page.</font></td>
</tr>
</table>
<!--###TEMPLATE_DEFAULT### end -->

