<!-- ###FULLDOC### begin -->
<div class="linkvalidator-check-options">
	###ID###
	<h4>###CHECKOPTIONS_TITLE###</h4>
	<div>###CHECKOPTIONS###</div>
</div>
<div class="linkvalidator-function-menu"><h4>###FUNC_TITLE###</h4><div>###FUNC_MENU###</div></div>
<div class="linkvalidator-button">###REFRESH######UPDATE###</div>

###CONTENT###
<!-- ###FULLDOC### end -->

<!-- ###CHECKOPTIONS_SECTION### begin -->
<table class="table table-striped table-hover" id="linkvalidator-statistics-table">
	<thead>
		<tr>
			<th>###TOTAL_COUNT_LABEL###</th>
			<th class="number"><span class="badge">###TOTAL_COUNT###</span></th>
		</tr>
	</thead>
	<tbody>
		<!-- ###HOOK_SECTION### begin -->
		<tr>
			<td>###OPTION###</td>
			<td class="number"><span class="badge">###COUNT###</span></td>
		</tr>
		<!-- ###HOOK_SECTION### end -->
	</tbody>
</table>
<!-- ###CHECKOPTIONS_SECTION### end -->

<!-- ###BROKENLINKS_CONTENT### begin -->
###LIST_HEADER###
<table class="table table-striped table-hover" id="linkvalidator-broken-links-table">
	<thead>
		<tr>
			<th>###TABLEHEAD_ELEMENT###</th>
			<th>###TABLEHEAD_PATH###</th>
			<th>###TABLEHEAD_HEADLINK###</th>
			<th>###TABLEHEAD_LINKTARGET###</th>
			<th>###TABLEHEAD_LINKMESSAGE###</th>
			<th>###TABLEHEAD_LASTCHECK###</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		<!-- ###BROKENLINKS_ITEM### begin -->
		<tr>
			<td>###ACTIONLINKOPEN######ELEMENT######ACTIONLINKCLOSE###</td>
			<td>###PATH###</td>
			<td>###HEADLINK###</td>
			<td><a href="###LINKTARGET###" target="_blank">###LINKTARGET###</a></td>
			<td>###LINKMESSAGE###</td>
			<td>###LASTCHECK###</td>
			<td>###ACTIONLINKOPEN######ACTIONLINKICON######ACTIONLINKCLOSE###</td>
		</tr>
		<!-- ###BROKENLINKS_ITEM### end -->
	</tbody>
</table>
<!-- ###BROKENLINKS_CONTENT### end -->

<!-- ###NOBROKENLINKS_CONTENT### begin -->
###LIST_HEADER###
###NO_BROKEN_LINKS###
<!-- ###NOBROKENLINKS_CONTENT### end -->
