<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">

<h1>Maintenance</h1>

<div class="card-container">
    <div class="card card-size-fixed-small">
        <f:render partial="Card/Header" arguments="{ title: 'Flush TYPO3 and PHP Cache', subtitle: 'Caching', icon: 'Icons/modules/install-clear-cache.svg'}" />
        <div class="card-body">
            <p class="card-text">This action directly clears all registered caches including opcode and dependency injection cache.</p>
        </div>
        <div class="card-footer">
            <button type="button" class="btn btn-primary " data-inline="1"  data-require="TYPO3/CMS/Install/Module/Maintenance/Cache">Flush cache</button>
        </div>
    </div>
    <div class="card card-size-fixed-small">
        <f:render partial="Card/Header" arguments="{ title: 'Analyze Database Structure', subtitle: 'Database', icon: 'Icons/modules/install-database-analyze.svg'}" />
        <div class="card-body">
            <p class="card-text">Compare and update the database table and field definitions of your installation against the specification defined for every activated extension.</p>
        </div>
        <div class="card-footer">
            <button type="button" class="btn btn-default" data-require="TYPO3/CMS/Install/Module/Maintenance/DatabaseAnalyzer">Analyze database</button>
        </div>
    </div>
    <div class="card card-size-fixed-small">
        <f:render partial="Card/Header" arguments="{ title: 'Remove Temporary Assets', subtitle: 'Caching', icon: 'Icons/modules/install-clear-files.svg'}" />
        <div class="card-body">
            <p class="card-text">Clears temporary files including concatenated JS/CSS files and processed images.</p>
        </div>
        <div class="card-footer">
            <button type="button" class="btn btn-default" data-require="TYPO3/CMS/Install/Module/Maintenance/ClearTypo3tempFiles">Scan temporary files</button>
        </div>
    </div>
    <div class="card card-size-fixed-small {f:if(condition:'{composerMode}', then: 'card-disabled')}">
        <f:render partial="Card/Header" arguments="{ title: 'Rebuild PHP Autoload Information', subtitle: 'Caching', icon: 'Icons/modules/install-clear-autoload.svg'}" />
        <div class="card-body">
            <p class="card-text">Resets autoload information for all active third party extensions.</p>
        </div>
        <f:if condition="{composerMode}">
            <f:then>
                <div class="card-footer text-muted">
                    You can't use this feature, because your installation is in composer mode.
                    Guide: <a href="https://docs.typo3.org/m/typo3/reference-coreapi/main/en-us/ApiOverview/Autoloading/Index.html#loading-classes-with-composer-mode" target="_blank" rel="noreferrer">Composer dumpautoload</a>.
                </div>
            </f:then>
            <f:else>
                <div class="card-footer">
                    <button type="button" class="btn btn-primary " data-inline="1"  data-require="TYPO3/CMS/Install/Module/Maintenance/DumpAutoload">Dump autoload</button>
                </div>
            </f:else>
        </f:if>
    </div>
    <div class="card card-size-fixed-small">
        <f:render partial="Card/Header" arguments="{ title: 'Clear Persistent Database Tables', subtitle: 'Database', icon: 'Icons/modules/install-clear-database.svg'}" />
        <div class="card-body">
            <p class="card-text">Truncates persistent database tables, which are not related to caching.</p>
        </div>
        <div class="card-footer">
            <button type="button" class="btn btn-default" data-require="TYPO3/CMS/Install/Module/Maintenance/ClearTables">Scan tables</button>
        </div>
    </div>
    <div class="card card-size-fixed-small">
        <f:render partial="Card/Header" arguments="{ title: 'Create Administrative User', subtitle: 'Backend Users', icon: 'Icons/modules/install-create-admin.svg'}" />
        <div class="card-body">
            <p class="card-text">Create new administrative users and grant them system maintainer privileges (optional).</p>
        </div>
        <div class="card-footer">
            <button type="button" class="btn btn-default" data-modal-size="small" data-require="TYPO3/CMS/Install/Module/Maintenance/CreateAdmin">Create Administrator</button>
        </div>
    </div>
    <div class="card card-size-fixed-small">
        <f:render partial="Card/Header" arguments="{ title: 'Reset Backend User Preferences', subtitle: 'Backend Users', icon: 'Icons/modules/install-reset-user.svg'}" />
        <div class="card-body">
            <p class="card-text">Clears preferences and settings for all backend users. The <code>uc</code> field is then set to an empty string.</p>
        </div>
        <div class="card-footer">
            <button type="button" class="btn btn-primary " data-inline="1"  data-require="TYPO3/CMS/Install/Module/Maintenance/ResetBackendUserUc">Reset backend user preferences</button>
        </div>
    </div>
    <div class="card card-size-fixed-small">
        <f:render partial="Card/Header" arguments="{ title: 'Manage Language Packs', subtitle: 'Language', icon: 'Icons/modules/install-manage-language.svg'}" />
        <div class="card-body">
            <p class="card-text">Download and update language packs for installed extensions.</p>
        </div>
        <div class="card-footer">
            <button type="button" class="btn btn-default" data-require="TYPO3/CMS/Install/Module/Maintenance/LanguagePacks">Manage languages</button>
        </div>
    </div>
</div>

</html>
