<div>
	<h1>Maintenance</h1>
</div>

<div class="card-container">
	<div class="card card-size-fixed-small">
		<div class="card-header">
			<h1 class="card-title">Flush TYPO3 and PHP Caches</h1>
			<span class="card-subtitle">Caching</span>
		</div>
		<div class="card-content">
			<p class="card-text">Clears all TYPO3 Caches including PHP Op-Caches, similiar to the <i>Clear Cache</i> Button in the TYPO3 Backend.</p>
		</div>
		<div class="card-footer">
			<a href="#" class="btn btn-primary " data-inline="1"  data-require="TYPO3/CMS/Install/Cache">Clear all cache</a>
		</div>
	</div>
	<div class="card card-size-fixed-small">
		<div class="card-header">
			<h1 class="card-title">Analyze Database Structure</h1>
			<span class="card-subtitle">Database</span>
		</div>
		<div class="card-content">
			<p class="card-text">Compare and update the database table and field definitions of the current database with specifications from extensions.</p>
		</div>
		<div class="card-footer">
			<a href="#" class="btn btn-default t3js-install-open-modal t3js-require" data-require="TYPO3/CMS/Install/DatabaseAnalyzer">Analyse database</a>
		</div>
	</div>
	<div class="card card-size-fixed-small">
		<div class="card-header">
			<h1 class="card-title">Remove Temporary Assets</h1>
			<span class="card-subtitle">Caching</span>
		</div>
		<div class="card-content">
			<p class="card-text">Clears temporary files in typo3temp/assets/ folder, including concatenated JS/CSS files, and processed images.</p>
		</div>
		<div class="card-footer">
			<a href="#" class="btn btn-default t3js-install-open-modal t3js-require" data-require="TYPO3/CMS/Install/ClearTypo3tempFiles">Scan temporary files</a>
		</div>
	</div>
	<div class="card card-size-fixed-small">
		<div class="card-header">
			<h1 class="card-title">Rebuild PHP Autoload Information</h1>
			<span class="card-subtitle">Caching</span>
		</div>
		<div class="card-content">
			<p class="card-text">This (re-)dumps autoload information for all active third party extensions.</p>
		</div>
		<div class="card-footer">
			<a href="#" class="btn btn-primary " data-inline="1"  data-require="TYPO3/CMS/Install/DumpAutoload">Dump autoload</a>
		</div>
	</div>
	<div class="card card-size-fixed-small">
		<div class="card-header">
			<h1 class="card-title">Clear Semi-Temporary Database Tables</h1>
			<span class="card-subtitle">Database</span>
		</div>
		<div class="card-content">
			<p class="card-text">Truncates semi-temporary database tables, which are not related to caches, but can also be re-populated by TYPO3.</p>
		</div>
		<div class="card-footer">
			<a href="#" class="btn btn-default t3js-install-open-modal t3js-require" data-require="TYPO3/CMS/Install/ClearTables">Scan tables</a>
		</div>
	</div>
	<div class="card card-size-fixed-small">
		<div class="card-header">
			<h1 class="card-title">Add Administrator User</h1>
			<span class="card-subtitle">Backend Users</span>
		</div>
		<div class="card-content">
			<p class="card-text">Use this function if there are no admin users in the database, for instance if this is a blank installation.</p>
		</div>
		<div class="card-footer">
			<a href="#" class="btn btn-default t3js-install-open-modal t3js-require" data-require="TYPO3/CMS/Install/CreateAdmin">Add Administrator</a>
		</div>
	</div>
	<div class="card card-size-fixed-small">
		<div class="card-header">
			<h1 class="card-title">Reset All Backend User Preferences</h1>
			<span class="card-subtitle">Backend Users</span>
		</div>
		<div class="card-content">
			<p class="card-text">Clears user preferences of all backend users from be_users table. The field <code>uc</code> will be set to an empty string.</p>
		</div>
		<div class="card-footer">
			<a href="#" class="btn btn-primary " data-inline="1"  data-require="TYPO3/CMS/Install/ResetBackendUserUc">Reset backend user preferences</a>
		</div>
	</div>
	<div class="card card-size-fixed-small">
		<div class="card-header">
			<h1 class="card-title">Manage language packs</h1>
			<span class="card-subtitle">Language</span>
		</div>
		<div class="card-content">
			<p class="card-text">Download and update language packs of extensions.</p>
		</div>
		<div class="card-footer">
			<a href="#" class="btn btn-default t3js-install-open-modal t3js-require" data-require="TYPO3/CMS/Install/LanguagePacks">Manage languages</a>
		</div>
	</div>
</div>
