<html xmlns:core="http://typo3.org/ns/TYPO3/CMS/Core/ViewHelpers" data-namespace-typo3-fluid="true">

<div style="display:none;">
    <div id="t3js-languagePacks-activate-icon"><core:icon identifier="actions-add" /></div>
    <div id="t3js-languagePacks-deactivate-icon"><core:icon identifier="actions-remove" /></div>
    <div id="t3js-languagePacks-languageUpdate-icon"><core:icon identifier="actions-download" /></div>
    <div id="t3js-languagePacks-extensionPack-misses-icon"><core:icon identifier="actions-add" /></div>
</div>
<div
    class="t3js-module-content"
    data-language-packs-activate-language-token="{languagePacksActivateLanguageToken}"
    data-language-packs-deactivate-language-token="{languagePacksDeactivateLanguageToken}"
    data-language-packs-update-pack-token="{languagePacksUpdatePackToken}"
    data-language-packs-update-iso-times-token="{languagePacksUpdateIsoTimesToken}"
>
    <p>
        Gives an overview of available languages excluding the default (English) language.
        It allows you to activate and deactivate additional localizations and to update language packs from the official TYPO3 translation server.
    </p>
    <div class="t3js-languagePacks-notifications"></div>
    <div class="t3js-languagePacks-output"></div>
    <div class="t3js-languagePacks-mainContent"></div>
</div>

</html>
