
.t3-icon-flags {
	background-image: url('../../images/sprites/flags.gif?1283937761');
	height: 11px;
	width: 16px;
}

.t3-icon-flags {
	background-image: url('../../images/sprites/flags.gif?1283937761');
	height: 11px;
	width: 16px;
}
