
.t3-icon-status {
	background-image: url('../../images/sprites/t3skin.gif?1295619433') !important;
	height: 16px;
	width: 16px;
}

.t3-icon-status {
	background-image: url('../../images/sprites/t3skin.gif?1295619433') !important;
	height: 16px;
	width: 16px;
}

.t3-icon-status {
	background-image: url('../../images/sprites/t3skin.gif?1295619433') !important;
	height: 16px;
	width: 16px;
}

.t3-icon-status {
	background-image: url('../../images/sprites/t3skin.gif?1295619433') !important;
	height: 16px;
	width: 16px;
}

.t3-icon-status {
	background-image: url('../../images/sprites/t3skin.gif?1295619433') !important;
	height: 16px;
	width: 16px;
}
