
.t3-icon-actions {
	background-image: url('../../images/sprites/t3skin.gif?1299799661') !important;
	height: 16px;
	width: 16px;
}

.t3-icon-apps {
	background-image: url('../../images/sprites/t3skin.gif?1299799661') !important;
	height: 16px;
	width: 16px;
}

.t3-icon-mimetypes {
	background-image: url('../../images/sprites/t3skin.gif?1299799661') !important;
	height: 16px;
	width: 16px;
}

.t3-icon-status {
	background-image: url('../../images/sprites/t3skin.gif?1299799661') !important;
	height: 16px;
	width: 16px;
}
