/* - - - - - - - - - - - - - - - - - - - - -
Element Browser / RTE link selection

- - - - - - - - - - - - - - - - - - - - - */

#typo3-browse-links-php {
	width: 100%;
}

#typo3-browse-links-php #typo3-tabmenu {
	margin-top: 10px;
}

table#typo3-curUrl {
	margin-bottom: 2px;
	width: 100%;
}

table#typo3-RTElinkMenu tr td {
	width: 15%;
}

table#typo3-linkTarget {
	margin-bottom: 25px;
}


#typo3-browse-links-php form,
table#typo3-linkPages tr td.c-wCell,
table#typo3-linkFiles tr td.c-wCell,
table#typo3-EBrecords tr td.c-wCell,
table#typo3-EBfiles tr td.c-wCell,
table#typo3-uplFiles tr td.c-wCell,
table#typo3-crFolder tr td.c-wCell {
	padding: 0 10px;
}

table#typo3-uplFiles tr td.c-hCell,
table#typo3-crFolder tr td.c-hCell {
	padding-bottom: 5px;
	padding-top: 5px;
}

table#typo3-crFolder input {
	margin-right: 5px;
}

table#typo3-uplFiles #c-override label {
	display: block;
	padding-left: 15px;
	text-indent: -15px;
}

table#typo3-uplFiles #c-override input {
	vertical-align: bottom;
	position: relative;
	top: -1px;
	*overflow: hidden;
}

table#typo3-linkPages h3,
table#typo3-linkFiles h3,
table#typo3-EBrecords h3,
table#typo3-EBfiles h3,
table#typo3-uplFiles h3,
table#typo3-crFolder h3 {
	padding: 0;
}

table#typo3-uplFiles #c-override {
	padding: 5px 0;
}

table#typo3-linkPages,
table#typo3-linkFiles,
table#typo3-EBrecords,
table#typo3-uplFiles {
}

table#typo3-EBfiles div#filelist {
	margin-left: 10px;
}

table#typo3-EBfiles div#currentFolderHeader {
	margin-bottom: 5px;
	height: 19px;
	vertical-align: middle;
}

table#typo3-EBfiles .filelistThumbnail img {
	margin-left: 17px;
}

body#typo3-browse-links-php img,
body#ext-rte-app-rte-select-image-php img {
	vertical-align: middle;
}

body#typo3-browse-links-php img.c-blinkArrowL {
	margin: 0px 3px 0px 3px;
}

table#typo3-linkMail,
table#typo3-linkURL,
table#typo3-linkTarget {
	margin-top: 5px;
}

table#typo3-msgBox {
	margin-top: 10px;
	margin-bottom: 10px;
}

table#typo3-msgBox tr td {
	padding: 10px 50px 10px 50px;
}

input.typo3-link-input {
	width: 250px;
}