/* - - - - - - - - - - - - - - - - - - - - -
Flash Messages (template.php)

- - - - - - - - - - - - - - - - - - - - - */

#typo3-messages {
	margin-bottom: 10px;
}

.typo3-message {
	margin-bottom: 4px;
	padding: 12px;
	padding-left: 36px;
}

.typo3-message ul,
.typo3-message ol {
	padding-left: 16px;
}

.typo3-message .message-header {
	display: block;
}

.typo3-message .t3-icon-actions-message-close {
	cursor: pointer;
	float: right;
}