/* - - - - - - - - - - - - - - - - - - - - -
Trees

- - - - - - - - - - - - - - - - - - - - - */

table#typo3-tree {
	margin: 10px 0 20px 10px;
	width: 95%;
}

table#typo3-tree tr td {
	padding: 0px;
}

table#typo3-tree tr td img {
	vertical-align: middle;
}

table#typo3-tree tr td img.c-recIcon {
	margin-right: 1px;
}

p.c-refresh img {
	margin-right: 7px;
	vertical-align: middle;
}

#typo3-pagetree #typo3-docheader div.buttonsright,
#typo3-alt-file-navframe-php #typo3-docheader div.buttonsright {
	margin-right: 3px;
}

body#typo3-alt-db-navframe-php div.c-notice {
	margin-top: 5px;
	margin-bottom: 10px;
	padding: 5px 5px 5px 5px;
	width: 95%;
}

/* - - - - - - - - - - - - - - - - - - - - -
Configuration trees, used in Admin Tools => Configuration
- - - - - - - - - - - - - - - - - - - - - */
table.t3-tree-config {
	min-width: 500px;
}

/* - - - - - - - - - - - - - - - - - - - - -
AJAX Page Tree
- - - - - - - - - - - - - - - - - - - - - */
body#typo3-pagetree,
body#typo3-alt-file-navframe-php {
	margin: 0;
	padding: 0;
}

body#typo3-pagetree #typo3-inner-docbody,
body#typo3-alt-file-navframe-php #typo3-inner-docbody {
	padding: 0 0 10px 0;
}

ul.tree {
	clear: both;
	margin: 16px 0 0 10px;
	padding: 0;
}

ul.tree ul {
	padding: 0;
	margin: 0;
}

ul.tree ul {
	padding-left: 19px;
}

ul #pages0_0 > ul {
	padding-left: 0;
}

ul.tree ul li {
	padding: 0;
	margin: 0;
}

ul.tree div.treeLinkItem {
	display: block;
	height: 16px;
	padding-right: 2px;
}

/* active tree items, we have to work against the border: 1px here,
   otherwise tree elements would take too much space */
ul.tree li.active div.treeLinkItem {
	margin: -1px 0 -1px -1px;
}

/* subitems of active tree items - reset styling */
ul.tree li.active li div.treeLinkItem {
	margin: 0;
}

span.dragIcon {
	display: inline-block;
	height: 16px;
}

ul.tree div.treeLinkItem span.dragId,
ul.tree div.treeLinkItem span.dragTitle,
ul.tree div.treeLinkItem img {
	vertical-align: middle;
}

ul.tree div.treeLinkItem span.dragIcon {
	vertical-align: top;
}
#dragIcon {
	position: absolute;
	visibility: hidden;
	z-index: 20;
}

#treeFilterBox {
	display: none;
	height: 25px;
	position: absolute;
	top: 49px;
	left: 0;
	right: 0;
	width: auto;
	z-index: 3;
}

#searchBubble {
	padding-left: 10px;
}

#treeFilter {
	margin: 6px 0 0 17px !important;
	height: 16px;
	width: 160px;
}

#treeFilterReset {
	left: 192px;
	position: absolute;
	top: 5px;
	visibility: hidden;
}

#typo3-pagetree #typo3-docheader img,
#typo3-alt-file-navframe-php #typo3-docheader img {
	margin: 2px;
}