/* - - - - - - - - - - - - - - - - - - - - -
Animated spinner icon

- - - - - - - - - - - - - - - - - - - - - */

span.spinner {
	display: inline-block;
	height: 16px;
	width: 16px;
}
/* - - - - - - - - - - - - - - - - - - - - -
Animated spinner icon

- - - - - - - - - - - - - - - - - - - - - */

span.spinner {
	display: inline-block;
	height: 16px;
	width: 16px;
}