/* - - - - - - - - - - - - - - - - - - - - -
body tags

- - - - - - - - - - - - - - - - - - - - - */

/* Set default values for bodytags: */
body {
	height: 100%;
	margin: 0;
/*	overflow: hidden;*/
	padding: 0;
}

/* - - - - - - - - - - - - - - - - - - - - -
specific wrappers

The "template" class is usually instantiated as either
bicDoc, mediumDoc, smallDoc or noDoc.
Each of these will result in the whole page content between the bodytags being
wrapped in a DIV-section with a class.
The class name will be "typo3-[classname]"
In particular we set the width of these wrapper-sections:
- - - - - - - - - - - - - - - - - - - - - */

div.typo3-bigDoc,
div.typo3-noDoc {
	margin-left: 10px;
	margin-top: 5px;
	width: 740px;
}

div.typo3-noDoc h2 {
	width: 740px;
}

div.typo3-mediumDoc {
	width: 470px;
}

div.typo3-smallDoc {
	width: 350px;
}

div.typo3-fullDoc {
	height: 100%;
	width: 100%;
}

div#typo3-docbody {
	bottom: 0;
	overflow: auto;
	position: absolute;
	top: 49px;
	width: 100%;
	z-index: 2;
}

div#typo3-inner-docbody {
	padding: 15px 12px;
}

/* Fix for IE 7 */
* + html div#typo3-inner-docbody {
	width: 95%;
}

* html div#typo3-docbody {
	height: 90%;
	padding-bottom: 0;
	padding-top: 0;
	top: 51px;
}