/* - - - - - - - - - - - - - - - - - - - - -
Form
- - - - - - - - - - - - - - - - - - - - - */

form {
	margin: 0;
}

#typo3-docbody form {
	margin-bottom: 1.25em;
}

input,
textarea {
	padding: 2px;
}

label {
	vertical-align: middle;
}

.checkbox,
.radio,
.checkbox:hover {
	height: 13px;
	margin-right: 5px;
	vertical-align: middle;
	width: 13px;
}