/* - - - - - - - - - - - - - - - - - - - - -
TYPO3 backend scaffolding

- - - - - - - - - - - - - - - - - - - - - */

body#typo3-backend-php {
	margin: 0;
	padding: 0;
}

#typo3-main-container {
	clear: both;
}

#typo3-top {
	margin-left: 160px;
}

iframe {
	width: 100%;
}

#typo3-side-menu,
iframe {
	height: 100%;
	overflow: auto;
}