/* - - - - - - - - - - - - - - - - - - - - -
Form
- - - - - - - - - - - - - - - - - - - - - */

form {
	margin: 0;
}

#typo3-docbody form {
	margin-bottom: 1.25em;
}

.t3-button,
input,
textarea,
button {
	display: inline-block;
	margin: 0 0.5em 0.5em 0;
	padding: 3px 6px;
	vertical-align: middle;
}

input[type=checkbox] {
	padding: 0;
}

label {
	vertical-align: middle;
	min-height: 25px;
	line-height: 25px;
}

.checkbox,
.radio,
.checkbox:hover {
	height: 13px;
	margin-right: 5px;
	vertical-align: middle;
	width: 13px;
}