/* - - - - - - - - - - - - - - - - - - - - -
TYPO3 styles for basic elements
- - - - - - - - - - - - - - - - - - - - - */

html {
	height: 100%;
}

body {
	font-size: 12px;
	line-height: 1.5em;
}

h1 {
	font-size: 2.3em;
	margin: 0 0 30px 0;
	line-height: 1.1em;
}

h2 {
	font-size: 1.4em;
	margin: 24px 0 12px 0;
}

h3 {
	font-size: 1.3em;
	margin: 24px 0 12px 0;
}

h4 {
	font-size: 1.2em;
	margin: 12px 0 12px 0;
}

p,
ul,
ol,
dl,
blockquote {
	margin-bottom: 1.25em;
}

/* Lists */

ul,
ol {
	padding-left: 3em;
}

ul.list-unstyled,
ol.list-unstyled {
	padding-left: 0;
}

/* Preformatted text - not used so much in TYPO3 */
pre {
	margin: 0px;
}

/* horizontal ruler */
hr,
div.hr {
	height: 1px;
}

.lead {
	font-size: 1.2em;
}

/** .uppercase is kept for backwards-compatibility, use .divider */
.divider,
.uppercase {
	padding-bottom: 6px;
}

a span {
	cursor: pointer;
}

/* - - - - - - - - - - - - - - - - - - - - -
Various classes
- - - - - - - - - - - - - - - - - - - - - */

div.diff-r {
	padding: 3px 3px 3px 3px;
}

div.diff-g {
	padding: 3px 3px 3px 3px;
}

img.absmiddle {
	vertical-align: middle;
}

.smallCheckboxes {
	height: 12px;
	margin: 0px;
	width: 12px;
}

.alignToInputText, .alignToInputText:hover {
	margin-top: 5px;
	margin-right: 2px;
	vertical-align: top;
}

.nowrap {
	white-space: nowrap;
}
