/* - - - - - - - - - - - - - - - - - - - - -
Help > About modules
- - - - - - - - - - - - - - - - - - - - - */

/** following div#typo3-inner-docbody */
.typo3-aboutmodules-inner-docbody {
	width: 700px;
}

/** TYPO3 logo floating in introduction text */
.typo3-aboutmodules-inner-docbody p a img {
	margin-right: 8px;
	margin-bottom: 2px;
}

table#typo3-aboutmodules tr td {
	vertical-align: top;
}

table#typo3-aboutmodules tr.c-mainitem td {
	padding-top: 12px;
}

table#typo3-aboutmodules tr.c-mainitem td img {
	vertical-align: middle;
}

table#typo3-aboutmodules tr.c-subitem-row td {
	padding: 0 12px 24px 0;
}

table#typo3-aboutmodules tr.c-subitem-row td .icon {
	display: block;
	text-align: center;
	vertical-align: middle;
	width: 50px;
	height: 50px;
	line-height: 50px;
	border-radius: 1px;
}

table#typo3-aboutmodules tr.c-subitem-row td.module-description {
	padding-right: 10px;
}