/* - - - - - - - - - - - - - - - - - - - - -
Web > Template

- - - - - - - - - - - - - - - - - - - - - */

.typo3-tstemplate-ceditor-control {
	margin-right: 3px;
	vertical-align: bottom;
}

div.typo3-tstemplate-ceditor-row {
	margin-top: 2px;
	padding: 3px;
}

div.typo3-tstemplate-ceditor-colorblock {
	display: -moz-inline-box;
	display: inline-block;
	margin-left: 5px;
	width: 50px;
}

* html div.typo3-tstemplate-ceditor-colorblock {
	display: inline;
}

/* IE 7 Fix */
dl.typo3-tstemplate-ceditor-constant {
	margin: 0px 0px 20px 10px;
}

dl.typo3-tstemplate-ceditor-constant dd {
	margin-left: 0px;
}

dl.typo3-tstemplate-ceditor-constant dt {
	display: inline;
	margin-right: 5px;
}

#ext-tstemplate-ts-index-php td.bgColor4 {
	vertical-align: middle;
	padding: 5px;
}

div.tst-analyzer-options label {
	margin-right: 10px;
	vertical-align: middle;
}