#typo3-dblist-sysnotes {
	margin-top: 15px;
}

#typo3-dblist-sysnotes .single-note {
	margin-bottom:10px;
}

#typo3-dblist-sysnotes .single-note .header {
	background: #d7d7d7;
	height:24px;
	line-height: 24px;
}

#typo3-dblist-sysnotes .single-note .header span.typeicon {
	background:  url(../../icons/ext/sys_note/icon-default.png) no-repeat top left;
	width: 23px;
	height: 24px;
	margin-right: 7px;
	display: block;
	float:left;
}

#typo3-dblist-sysnotes .single-note .header .right.icons {
	visibility: hidden;
}

#typo3-dblist-sysnotes .single-note.active .header {
	background-color: #666;
}

#typo3-dblist-sysnotes .single-note.active .header .right.icons {
	visibility: visible;
}

#typo3-dblist-sysnotes .single-note.active .header,
#typo3-dblist-sysnotes .single-note.active .header span {
	color: #d7d7d7;
}

#typo3-dblist-sysnotes .single-note .header span.typeicon {
	cursor: pointer;
}

#typo3-dblist-sysnotes .category-1 .header span.typeicon {
	background-image: url(../../icons/ext/sys_note/icon-instruction.png);
}
#typo3-dblist-sysnotes .category-2 .header span.typeicon {
	background-image: url(../../icons/ext/sys_note/icon-template.png);
}
#typo3-dblist-sysnotes .category-3 .header span.typeicon {
	background-image: url(../../icons/ext/sys_note/icon-note.png);
}
#typo3-dblist-sysnotes .category-4 .header span.typeicon {
	background-image: url(../../icons/ext/sys_note/icon-todo.png);
}

#typo3-dblist-sysnotes .single-note .header span {
	color: #666;
}

#typo3-dblist-sysnotes .single-note .header .right {
	float: right;
	margin-top: -3px;
	margin-right: 5px;
}

#typo3-dblist-sysnotes .single-note .content {
	background: #fffeed;
	border: 1px solid #dadada;
	border-top: none;
	padding: 15px 10px;
}

#typo3-dblist-sysnotes .single-note .content .title {
	font-weight: bold;
	margin-bottom: 5px;
}