/* - - - - - - - - - - - - - - - - - - - - -
-New Record Wizard
- - - - - - - - - - - - - - - - - - - - - */

.contentelement-wizard {
	margin: 10px;
}

.contentelement-wizard li {
	margin-bottom: 10px;
}
.contentelement-wizard li:last-child {
	margin-bottom: 0px;
}

.contentelement-wizard-item:before,
.contentelement-wizard-item:after {
	content: " ";
	display: table;
}

.contentelement-wizard-item:after {
	clear: both;
}

.contentelement-wizard-item-input,
.contentelement-wizard-item-icon {
	float: left;
	margin-right: 5px;
}

.contentelement-wizard-item-icon a,
.contentelement-wizard-item-icon img {
	display: block;
}