/* - - - - - - - - - - - - - - - - - - - - -
Sys notes
- - - - - - - - - - - - - - - - - - - - - */

#typo3-dblist-sysnotes {
	margin-top: 15px;
}

#typo3-dblist-sysnotes .single-note {
	margin-bottom: 12px;
}

#typo3-dblist-sysnotes .single-note .header {
	min-height: 24px;
	line-height: 24px;
}

#typo3-dblist-sysnotes .single-note .header span.typeicon {
	width: 23px;
	height: 24px;
	margin-right: 7px;
	display: block;
	float:left;
}

#typo3-dblist-sysnotes .single-note .header .right.icons {
	visibility: hidden;
}

#typo3-dblist-sysnotes .single-note:hover .header .right.icons {
	visibility: visible;
}

#typo3-dblist-sysnotes .single-note .header span.typeicon {
	cursor: pointer;
}

#typo3-dblist-sysnotes .single-note .header .right {
	float: right;
	margin-top: -3px;
	margin-right: 5px;
}

#typo3-dblist-sysnotes .single-note .content {
	border-top: none;
	padding: 12px;
}

#typo3-dblist-sysnotes .single-note .content .title {
	font-weight: bold;
	margin-bottom: 6px;
}