/* - - - - - - - - - - - - - - - - - - - - -
Shortcuts menu in the toolbar

- - - - - - - - - - - - - - - - - - - - - */

#shortcut-menu {
	width: 30px;
}

#shortcut-menu .toolbar-item-menu {
	margin: 0px;
	padding: 2px 0px 0px;
	position: absolute;
	width: 220px;
}

#shortcut-menu .shortcut-list {
	width: 100%;
}

#shortcut-menu .shortcut-list tr.shortcut td {
	padding: 2px 1px;
}

#shortcut-menu .shortcut-list tr.shortcut.first-row td {
	padding-top: 4px;
}

#shortcut-menu .shortcut-list tr.shortcut-group td.shortcut-group-icon,
#shortcut-menu .shortcut-list tr.shortcut td.shortcut-icon,
#shortcut-menu .shortcut-list td.shortcut-edit,
#shortcut-menu .shortcut-list td.shortcut-delete {
	vertical-align: top;
	width: 18px;
}

#shortcut-menu .shortcut-list tr.shortcut td.shortcut-label a {
	display: block;
}

#shortcut-menu .shortcut-list tr.shortcut td.shortcut-edit img,
#shortcut-menu .shortcut-list tr.shortcut td.shortcut-delete img {
	display: none;
}

#shortcut-menu .shortcut-list tr.shortcut:hover td.shortcut-edit img,
#shortcut-menu .shortcut-list tr.shortcut:hover td.shortcut-delete img {
	display: inline;
}

#shortcut-menu .shortcut-list tr.shortcut-group td.shortcut-group-icon,
#shortcut-menu .shortcut-list tr.shortcut td.shortcut-icon {
	padding-left: 7px;
	vertical-align: top;
}
