/* - - - - - - - - - - - - - - - - - - - - -
Username inside the toolbar

- - - - - - - - - - - - - - - - - - - - - */

#username {
	margin-right: 12px;
}

#username span {
}

#username img {
	padding-right: 4px;
}

#username a {
	line-height: 18px;
}

#username a span.t3-icon {
	vertical-align: top;
	margin-top: 1px;
}

#typo3-toolbar #logout-button {
	padding-top: 1px;
	padding-bottom: 2px;
}

#typo3-toolbar #logout-button input {
	padding-top: 1px;
}