/* - - - - - - - - - - - - - - - - - - - - -
Clear-Cache menu inside the toolbar

- - - - - - - - - - - - - - - - - - - - - */

#clear-cache-actions-menu {
	width: 30px;
}

* html #clear-cache-actions-menu li {
	height: 19px;
}

#clear-cache-actions-menu li img {
	float: left;
	padding-right: 6px;
}

#clear-cache-actions-menu li a span.t3-icon {
	vertical-align: middle;
}