/* - - - - - - - - - - - - - - - - - - - - -
Topbar (whole upper area), containts Logo and toolbar
- - - - - - - - - - - - - - - - - - - - - */

#typo3-topbar {
	z-index: 200;
}

#typo3-topbar div {
	overflow: visible !important;
}

#typo3-top-container {
	height: 100%;
	padding: 0 24px;
}

#typo3-logo {
	margin: 8px 0 0 0;
	padding: 1px 0 0 0;
	width: 159px;
}