<f:if condition="{info.imagesOnPage.total} > 0">
    <tr>
        <td><strong>
            <f:translate
                    key="LLL:EXT:adminpanel/Resources/Private/Language/locallang_info.xlf:imagesOnPage"/>
        </strong></td>
        <td>{info.imagesOnPage.total}</td>
    </tr>

    <f:for each="{info.imagesOnPage.files}" as="file">
        <tr>
            <td>&nbsp; {file.name}</td>
            <td>{file.sizeHuman}</td>
        </tr>
    </f:for>

    <tr>
        <td><strong>
            <f:translate
                    key="LLL:EXT:adminpanel/Resources/Private/Language/locallang_info.xlf:imagesSize"/>
        </strong></td>
        <td>{info.imagesOnPage.totalSize}</td>
    </tr>
</f:if>
