/*!
 * This file is part of the TYPO3 CMS project.
 * 
 * It is free software; you can redistribute it and/or modify it under
 * the terms of the GNU General Public License, either version 2
 * of the License, or any later version.
 * 
 * For the full copyright and license information, please read the
 * LICENSE.txt file that was distributed with this source code.
 * 
 * The TYPO3 project - inspiring people to share!
 */
@font-face{font-family:"Source Sans 3";font-weight:200;font-style:normal;font-display:swap;src:url(../Fonts/SourceSans/SourceSans3VF-Roman.otf.woff2) format("woff2")}
@font-face{font-family:"Source Sans 3";font-weight:200;font-style:italic;font-display:swap;src:url(../Fonts/SourceSans/SourceSans3VF-Italic.otf.woff2) format("woff2")}
@font-face{font-family:"Source Sans 3";font-weight:300;font-style:normal;font-display:swap;src:url(../Fonts/SourceSans/SourceSans3VF-Roman.otf.woff2) format("woff2")}
@font-face{font-family:"Source Sans 3";font-weight:300;font-style:italic;font-display:swap;src:url(../Fonts/SourceSans/SourceSans3VF-Italic.otf.woff2) format("woff2")}
@font-face{font-family:"Source Sans 3";font-weight:400;font-style:normal;font-display:swap;src:url(../Fonts/SourceSans/SourceSans3VF-Roman.otf.woff2) format("woff2")}
@font-face{font-family:"Source Sans 3";font-weight:400;font-style:italic;font-display:swap;src:url(../Fonts/SourceSans/SourceSans3VF-Italic.otf.woff2) format("woff2")}
@font-face{font-family:"Source Sans 3";font-weight:500;font-style:normal;font-display:swap;src:url(../Fonts/SourceSans/SourceSans3VF-Roman.otf.woff2) format("woff2")}
@font-face{font-family:"Source Sans 3";font-weight:500;font-style:italic;font-display:swap;src:url(../Fonts/SourceSans/SourceSans3VF-Italic.otf.woff2) format("woff2")}
@font-face{font-family:"Source Sans 3";font-weight:600;font-style:normal;font-display:swap;src:url(../Fonts/SourceSans/SourceSans3VF-Roman.otf.woff2) format("woff2")}
@font-face{font-family:"Source Sans 3";font-weight:600;font-style:italic;font-display:swap;src:url(../Fonts/SourceSans/SourceSans3VF-Italic.otf.woff2) format("woff2")}
@font-face{font-family:"Source Sans 3";font-weight:700;font-style:normal;font-display:swap;src:url(../Fonts/SourceSans/SourceSans3VF-Roman.otf.woff2) format("woff2")}
@font-face{font-family:"Source Sans 3";font-weight:700;font-style:italic;font-display:swap;src:url(../Fonts/SourceSans/SourceSans3VF-Italic.otf.woff2) format("woff2")}
@font-face{font-family:"Source Sans 3";font-weight:800;font-style:normal;font-display:swap;src:url(../Fonts/SourceSans/SourceSans3VF-Roman.otf.woff2) format("woff2")}
@font-face{font-family:"Source Sans 3";font-weight:800;font-style:italic;font-display:swap;src:url(../Fonts/SourceSans/SourceSans3VF-Italic.otf.woff2) format("woff2")}
@font-face{font-family:"Source Sans 3";font-weight:900;font-style:normal;font-display:swap;src:url(../Fonts/SourceSans/SourceSans3VF-Roman.otf.woff2) format("woff2")}
@font-face{font-family:"Source Sans 3";font-weight:900;font-style:italic;font-display:swap;src:url(../Fonts/SourceSans/SourceSans3VF-Italic.otf.woff2) format("woff2")}