<html
    xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    xmlns:core="http://typo3.org/ns/TYPO3/CMS/Core/ViewHelpers"
    data-namespace-typo3-fluid="true"
>

<div class="module" data-module-name="dashboard">
    <div class="module-body t3js-module-body">

        <div class="dashboard-header">
            <div class="dashboard-tabs">
                <f:for each="{availableDashboards}" as="dashboard" key="dashboardKey">
                    <f:be.link
                        route="dashboard"
                        parameters="{action: 'setActiveDashboard', currentDashboard: dashboardKey}"
                        class="dashboard-tab {f:if(condition: '{dashboardKey} == {currentDashboard.identifier}', then: 'dashboard-tab--active')}"
                    >
                        {dashboard.title}
                    </f:be.link>
                </f:for>
                <a
                    href="{addDashboardUri}"
                    class="js-dashboard-modal dashboard-button dashboard-button-tab-add"
                    title="{f:translate(key: 'dashboard.add', extensionName: 'dashboard')}"
                    data-modal-identifier="add"
                    data-modal-title="{f:translate(key: 'dashboard.add', extensionName: 'dashboard')}"
                    data-button-close-text="{f:translate(key: 'dashboard.add.button.close', extensionName: 'dashboard')}"
                    data-button-ok-text="{f:translate(key: 'dashboard.add.button.ok', extensionName: 'dashboard')}"
                >
                    <core:icon identifier="actions-plus" alternativeMarkupIdentifier="inline" /><span class="visually-hidden"><f:translate key="dashboard.add" extensionName="dashboard"/></span>
                </a>
            </div>

            <div class="dashboard-configuration btn-toolbar" role="toolbar">
                <a
                    href="{configureDashboardUri}"
                    class="js-dashboard-modal btn btn-default btn-sm"
                    data-modal-identifier="configure"
                    title="{f:translate(key: 'dashboard.configure', extensionName: 'dashboard')}"
                    data-modal-title="{f:translate(key: 'dashboard.configure', extensionName: 'dashboard')}"
                    data-button-close-text="{f:translate(key: 'dashboard.configure.button.close', extensionName: 'dashboard')}"
                    data-button-ok-text="{f:translate(key: 'dashboard.configure.button.ok', extensionName: 'dashboard')}"
                >
                    <core:icon identifier="actions-cog" alternativeMarkupIdentifier="inline" /><span class="visually-hidden"><f:translate key="dashboard.configure" extensionName="dashboard"/></span>
                </a>
                <a
                    href="{deleteDashboardUri}"
                    class="js-dashboard-delete btn btn-default btn-sm"
                    title="{f:translate(key: 'dashboard.delete', extensionName: 'dashboard')}"
                    data-modal-title="{f:translate(key: 'dashboard.delete', extensionName: 'dashboard')}"
                    data-modal-question="{f:translate(key: 'dashboard.delete.sure', extensionName: 'dashboard')}"
                    data-modal-ok="{f:translate(key: 'dashboard.delete.ok', extensionName: 'dashboard')}"
                    data-modal-cancel="{f:translate(key: 'dashboard.delete.cancel', extensionName: 'dashboard')}"
                >
                    <core:icon identifier="actions-delete" alternativeMarkupIdentifier="inline" /><span class="visually-hidden"><f:translate key="dashboard.delete" extensionName="dashboard"/></span>
                </a>
            </div>
        </div>

        <f:render section="Content" arguments="{_all}" />

    </div>
</div>

</html>
