<div class="nowrap">
    <div class="table-fit">
        <table class="table table-striped table-hover" id="tsconfig-overview">
            <thead>
                <tr>
                    <th>{f:translate(key: 'LLL:EXT:info_pagetsconfig/Resources/Private/Language/locallang.xlf:pagetitle')}</th>
                    <th>{f:translate(key: 'LLL:EXT:info_pagetsconfig/Resources/Private/Language/locallang.xlf:included_tsconfig_files')}</th>
                    <th>{f:translate(key: 'LLL:EXT:info_pagetsconfig/Resources/Private/Language/locallang.xlf:written_tsconfig_lines')}</th>
                </tr>
            </thead>
            <tbody>
                <f:for each="{overviewOfPagesUsingTSConfig}" as="line">
                    <f:render partial="PageZeroTableRow" arguments="{line: line}" />
                </f:for>
            </tbody>
        </table>
    </div>
</div>