<h1>{f:translate(key: 'LLL:EXT:info_pagetsconfig/Resources/Private/Language/locallang.xlf:tsconf_title')}</h1>
<f:if condition="{csh}">
    <span class="btn btn-default btn-sm"><f:format.raw>{csh}</f:format.raw></span>
</f:if>
<f:render partial="Menu" arguments="{_all}" />
<f:if condition="{tsconfParts99}">
    <f:then>
        <div>
            <table class="table table-striped table-hover">
                <f:for each="{lines}" as="line">
                    <tr><td nowrap="nowrap">
                        <f:if condition="{line.defaultPageTSconfig}">
                            <f:then>
                                <strong>{f:translate(key: 'LLL:EXT:info_pagetsconfig/Resources/Private/Language/locallang.xlf:editTSconfig_default')}</strong>
                            </f:then>
                            <f:else>
                                <f:format.raw>{line.title}</f:format.raw>
                            </f:else>
                        </f:if></td></tr>
                    <tr><td nowrap="nowrap"><f:format.raw>{line.content}</f:format.raw><f:render partial="EditIcon" arguments="{editIcon: line.editIcon, editTitle: line.editTitle}" /></td></tr>
                </f:for>
            </table><br />
            <f:render partial="EditIcon" arguments="{editIcon: editIcon, editTitle: editTitle, editAll: 1}" />
        </div>
    </f:then>
    <f:else>
        <div class="nowrap">
            <f:format.raw>{tree}</f:format.raw>
        </div>
    </f:else>
</f:if>
