<f:if condition="{positionOfUploadFields} === 'top'">
	{createFolderForm -> f:format.raw()}
</f:if>

<div class="row link-browser-section link-browser-filetree">
	<div class="col-xs-6">
		<h3><f:translate key="LLL:EXT:lang/locallang_browse_links.xlf:folderTree" /></h3>
		{tree -> f:format.raw()}
	</div>
	<div class="col-xs-6">
		<f:if condition="{selectedFolder}">
			<h3><f:translate key="LLL:EXT:lang/locallang_browse_links.xlf:files" /></h3>
			<span title="{selectedFolder.identifier}">
				{selectedFolderIcon -> f:format.raw()} {selectedFolderTitle}
			</span>

			<f:if condition="{itemsInSelectedFolder}">
				<ul class="list-tree">
					<f:for each="{itemsInSelectedFolder}" as="file">
						<li{f:if(condition: '{file.uid} == {currentIdentifier}', then: ' class="active"')}>
							 <span class="list-tree-group">
									<a href="#" class="t3js-fileLink list-tree-group" title="{file.name}" data-file="file:{file.uid}">
										<span class="list-tree-icon">
											<span title="{file.name} ({file.size})">{file.icon -> f:format.raw()}</span>
										</span>
										<span class="list-tree-title">{file.title}</span>
									</a>
								</span>
						</li>
					</f:for>
				</ul>
			</f:if>
		</f:if>
	</div>
</div>

<f:if condition="{positionOfUploadFields} === 'bottom'">
	{uploadFileForm -> f:format.raw()}
</f:if>
{createFolderForm -> f:format.raw()}
