<div class="element-browser-panel element-browser-main">
	<div class="element-browser-main-content">
		<div class="element-browser-body">
			<form action="" id="lmailform" class="form-horizontal">
				<div class="form-group form-group-sm">
					<label class="col-xs-4 control-label"><f:translate key="LLL:EXT:recordlist/Resources/Private/Language/locallang_browse_links.xlf:emailAddress" /></label>
					<div class="col-xs-8">
						<div class="input-group">
							<input type="text" name="lemail" size="20" class="form-control" value="{email}" />
							<div class="input-group-btn">
								<input class="btn btn-sm btn-default" type="submit" value="{f:translate(key: 'LLL:EXT:recordlist/Resources/Private/Language/locallang_browse_links.xlf:setLink')}" />
							</div>
						</div>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>
