<f:layout name="LinkBrowser" />

<f:section name="Content">
    <form action="" id="ltelephoneform">
        <div class="row">
            <label class="col-3 col-form-label"><f:translate key="LLL:EXT:recordlist/Resources/Private/Language/locallang_browse_links.xlf:telephoneNumber" /></label>
            <div class="col-9">
                <div class="input-group">
                    <input type="tel" name="ltelephone" size="20" class="form-control" value="{telephone}" />
                    <div class="input-group-btn">
                        <input class="btn btn-default" type="submit" value="{f:translate(key: 'LLL:EXT:recordlist/Resources/Private/Language/locallang_browse_links.xlf:setLink')}" />
                    </div>
                </div>
            </div>
        </div>
    </form>
</f:section>
