<div class="element-browser-panel element-browser-main">
	<div class="element-browser-main-content">
		<div class="element-browser-body">
			<form action="" id="lurlform" class="form-horizontal">
				<div class="form-group form-group-sm" id="typo3-linkURL">
					<label class="col-xs-4 control-label">URL</label>
					<div class="col-xs-8">
						<div class="input-group">
							<input type="text"
								   name="lurl"
								   size="30"
								   class="form-control"
								   value="{url}"
								   placeholder="{f:translate(key: 'LLL:EXT:recordlist/Resources/Private/Language/locallang_browse_links.xlf:urlPlaceholder')}" />
							<div class="input-group-btn">
								<input class="btn btn-sm btn-default" type="submit"
											value="{f:translate(key: 'LLL:EXT:recordlist/Resources/Private/Language/locallang_browse_links.xlf:setLink')}" />
							</div>
						</div>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>
