/* ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- */

/* general */
body#ext-taskcenter-task-index-php {
	margin: 0;
}

body#ext-taskcenter-task-index-php div#typo3-docbody {
	top: 50px;
}

body#ext-taskcenter-task-index-php div#typo3-inner-docbody {
	padding: 24px;
	height: 100%;
}

#typo3-inner-docbody p.help {
	margin-bottom: 10px;
}

body#ext-taskcenter-task-index-php img.icon {
	vertical-align: bottom;
}

body#ext-taskcenter-task-index-php h3 {
	margin: 4px 0 8px;
	padding: 0;
}

/* ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- */
/* overview */

#taskcenter-main {
	width: 100%;
}

#taskcenter-main #taskcenter-menu {
	width: 250px;
	float: left;
}

#taskcenter-main #taskcenter-item {
	position: absolute;
	margin-left: 270px;
	margin-right: 20px;
	min-width: 300px;
	float: right;
}

/* ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- */
/* menu */
#taskcenter-menu ul {
	list-style: none;
	padding: 0;
	margin: 0;
	border-bottom: 1px solid #b0b7c2;
}

#taskcenter-menu li {
	margin-top: 1px;
	border-top: 1px solid #EFEFF4;
}

#taskcenter-menu .image {
	float: left;
	height: 23px;
	width: 23px;
}

#taskcenter-menu .image img {
	margin: 3px 0 0 1px;
}

#taskcenter-menu .down {
	color: #fff;
	height: 23px;
	float: left;
	width: 25px;
	cursor: pointer;
}

#taskcenter-menu .drag {
	color: #fff;
	float: right;
	height: 23px;
	width: 24px;
	padding: 3px;
}

#taskcenter-menu .drag img {
	margin-top: 6px;
	cursor: move;
}

#taskcenter-menu .link {
	border: 1px solid #adadad;
	border-width: 1px 1px 0;
	line-height: 18px;
	display: block;
}

#taskcenter-menu .t3-row-header {
	padding: 0;
}
#taskcenter-menu .t3-row-header a {
	float: none;
}

#taskcenter-menu .link a {
	padding: 2px 5px;
	display: block;
	color: #fff;
}

#taskcenter-menu .active-task .link a {
	font-weight: bold;
}

#taskcenter-menu .content {
	padding: 5px 0;
	background: #fff;
	border: 1px solid #b7bec9;
}

#taskcenter-menu .content p {
	padding: 3px 5px 5px 5px;
	margin: 0;
}

#taskcenter-menu .content ul, #taskcenter-menu .content ul li {
	border: 0;
}

#taskcenter-menu .content ul li a {
	display: block;
	line-height: 16px;
	margin: 0;
	padding: 2px 24px;
	background: url(../Images/list-item.gif) no-repeat 10px 6px;
}

#taskcenter-menu .content ul li.active {
	background-color: #dadada;
}

#taskcenter-menu .content ul li.active a {
	color: #000000;
	font-weight: bold;
	background-image: url(../Images/list-item-act.gif);
}

/* ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- */
/* content section */
#taskcenter-item {
	margin-bottom: 20px;
}

#taskcenter-item ul {
	padding: 5px 0 5px 5px;
	margin: 0;
	list-style: none;
}

#taskcenter-item ul li {
	padding: 5px 0 0 12px;
}

#taskcenter-item ul.withicons li {
	background: url(../Images/list-item.gif) no-repeat 0 7px;
}

#taskcenter-item ul .image {
	float: left;
	width: 20px;
}

#taskcenter-item ul .link {
	font-weight: bold;
	padding: 2px 5px;
}

#taskcenter-item ul .link a {
	padding: 5px;
}

#taskcenter-item ul .link a:hover {
	text-decoration: underline;
}

#taskcenter-item ul .content {
	padding: 2px 0 0 25px;
}

#taskcenter-item ul .content .edit {
	display: block;
	margin-top: 2px;
}

/* ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- */
/* forms */
#taskcenter-item fieldset {
	padding: 0;
}

#taskcenter-item fieldset.fields legend {
	font-weight: bold;
	border-bottom: 1px solid #ccc;
	width: 100%;
	padding: 0 0 2px 0;
}

#taskcenter-item form {
	padding: 0;
}

#taskcenter-item fieldset.fields {
	border: 0;
}

#taskcenter-item fieldset.fields .row {
	width: 420px;
	clear: both;
	padding: 5px 0;
}

#taskcenter-item fieldset.fields label {
	width: 150px;
	display: block;
	float: left;
}

#taskcenter-item fieldset.fields select {
	width: 215px;
	height: 120px;
	margin-right: 5px;
	resize: both;
}

#taskcenter-item fieldset.fields input {
	width: 200px;
}

#taskcenter-item fieldset.fields input[type=checkbox] {
	width: 16px;
	text-align: left;
}

#taskcenter-item fieldset.fields input[type=submit] {
	margin-left: 150px;
	width: 215px;
}

#list_frame {
	margin-top: -51px;
	border: none;
}
