/.editorconfig export-ignore
/.gitattributes export-ignore
/.gitreview export-ignore
/.travis.yml export-ignore
/Build/ export-ignore
/dynamicReturnTypeMeta.json export-ignore
/typo3/sysext/backend/Tests/ export-ignore
/typo3/sysext/belog/Tests/ export-ignore
/typo3/sysext/beuser/Tests/ export-ignore
/typo3/sysext/core/Tests/Acceptance/ export-ignore
/typo3/sysext/core/Tests/Functional/ export-ignore
/typo3/sysext/core/Tests/Integrity/ export-ignore
/typo3/sysext/core/Tests/Legacy/ export-ignore
/typo3/sysext/core/Tests/Unit/ export-ignore
/typo3/sysext/dbal/Tests/ export-ignore
/typo3/sysext/documentation/Tests/ export-ignore
/typo3/sysext/extbase/Tests/ export-ignore
/typo3/sysext/extensionmanager/Tests/ export-ignore
/typo3/sysext/felogin/Tests/ export-ignore
/typo3/sysext/fluid/Tests/ export-ignore
/typo3/sysext/form/Tests/ export-ignore
/typo3/sysext/frontend/Tests/ export-ignore
/typo3/sysext/impexp/Tests/ export-ignore
/typo3/sysext/indexed_search/Tests/ export-ignore
/typo3/sysext/install/Tests/ export-ignore
/typo3/sysext/lang/Tests/ export-ignore
/typo3/sysext/lowlevel/Tests/ export-ignore
/typo3/sysext/recordlist/Tests/ export-ignore
/typo3/sysext/recycler/Tests/ export-ignore
/typo3/sysext/reports/Tests/ export-ignore
/typo3/sysext/rsaauth/Tests/ export-ignore
/typo3/sysext/saltedpasswords/Tests/ export-ignore
/typo3/sysext/scheduler/Tests/ export-ignore
/typo3/sysext/setup/Tests/ export-ignore
/typo3/sysext/sv/Tests/ export-ignore
/typo3/sysext/workspaces/Tests/ export-ignore
