# Format: Name <email> Old-Name <old.email>
Adrian Giurgiu <agiurgiu@arxia.com>
Albrecht Koehnlein <typo3@bestof1983.de>
Alexander Dick <alex@dick.at>
Alexander Jahn <a.jahn@immowelt.de>
Alexander Schnitzler <alex.schnitzler@typovision.de>
Alexander Stehlik <alexander.stehlik@googlemail.com>
Alexandre Gravel-Raymond <a.gravel-raymond@alienor.net>
Alina Fleser <afleser@arxia.com>
Andreas Bouche <bouche@flagbit.de>
Andreas Kießling <andreas.kiessling@web.de> Andreas Kiessling <andreas.kiessling@web.de>
Andreas Kießling <andreas.kiessling@web.de> Andreas Kiessling <kiessling@pluspol.info>
Andreas Lappe <nd@off-pist.de>
Andreas Otto <andreas.otto@dkd.de>
Andreas Wolf <andreas.wolf@typo3.org> Andreas Wolf <andreas.wolf@ikt-werk.de>
Andy Grunwald <andygrunwald@gmail.com> Andy Grunwald <andreas.grunwald@wmdb.de>
Andy Grunwald <andygrunwald@gmail.com> andy.grunwald <andygrunwald@gmail.com>
Anja Leichsenring <aleichsenring@ab-softlab.de>
Arjen Hoekema <arjenhoekema@gmail.com>
Armin Ruediger Vieweg <info@professorweb.de>
Arvid Jakobsson <arvid.jakobsson@gmail.com>
Bart Dubelaar <bartdubelaar@gmail.com>
Bas van de Wiel <bas@area536.com>
Benjamin Mack <benni@typo3.org>
Benni Mack <benni.mack@typo3.org>
Bernhard Kraft <kraftb@think-open.at>
Bindea Silviu <silviu.bindea@arxia.com>
Bjoern Pedersen <bjoern.pedersen@frm2.tum.de>
Björn Pedersen <bjoern.pedersen@frm2.tum.de>
Christian Jul Jensen <christian.jensen@typo3.org> Christian Jul Jensen <julle@typo3.org>
Christian Kuhn <lolli@schwarzbu.ch> lolli <lolli@709f56b5-9817-0410-a4d7-c38de5d9e867>
Christian Weiske <christian.weiske@netresearch.de>
Christian Welzel <gawain@camlann.de>
Christoph Gerold <christoph.gerold@dkd.de>
Christopher Stelmaszyk <Christopher.Stelmaszyk@gmx.de> Christopher <chrissitopher@gmx.de>
Claus Due <claus@wildside.dk>
Daniel Hoffmann <d.hoffmann@mac.com>
Daniel Pötzinger <poetzinger@aoemedia.de>
Dennis Ahrens <dennis.ahrens@fh-hannover.de>
Dimitri König <dk@cabag.ch> Dimitri Koenig <dk@cabag.ch>
Dmitry Dulepov <dmitry@typo3.org> Dmitry Dulepov <dmitry.dulepov@gmail.com>
Dominique Feyer <dfeyer@ttree.ch> Dominique Feyer <dominique.feyer@reelpeek.net>
Eric Chavaillaz <eric@hemmer.ch>
Ernesto Baschny <ernesto.baschny@typo3.org> Ernesto Baschny <ernst@cron-it.de>
Ernesto Baschny <ernesto.baschny@typo3.org> baschny <baschny@709f56b5-9817-0410-a4d7-c38de5d9e867>
Fabien Udriot <fabien.udriot@ecodev.ch>
Fabrizio Branca <mail@fabrizio-branca.de>
Falk Kühnel <fk@cogitatio.de>
Felix Kopp <felix-source@phorax.com> 7elix <felix-source@phorax.com>
Felix Nagel <info@felixnagel.com>
Felix Oertel <f@oer.tel>
Ferdinand Kuhl <fcool@coolys.de>
Florian Scholz <florian.scholz@hmmh.de> Florian Scholz <elchi3@elchi3.de>
Francois Suter <francois@typo3.org> Francois Suter <francois.suter@typo3.org>
Francois Suter <francois@typo3.org> Francois Suter <fsuter@cobweb.ch>
Francois Suter <francois@typo3.org> francois <francois@709f56b5-9817-0410-a4d7-c38de5d9e867>
Franz G. Jahn <franzjahn@cron-it.de>
Franz Geiger <mail@fx-g.de>
Franz Holzinger <holzinger@ttproducts.de>
Franz Koch <typo3@elements-net.de>
Frederic Gaus <gaus@flagbit.de> Frederic Gaus, Flagbit GmbH & Co. KG <gaus@flagbit.de>
Georg Grossberger <garfieldius67@gmail.com>
Georg Ringer <mail@ringerge.org> Georg <mail@ringerge.org>
Georg Ringer <mail@ringerge.org> Georg Ringer <georg.ringer@gmail.com>
Gregor Hermens <gregor.hermens@a-mazing.de>
Hans Christian Reinl <hans@sa-designz.de>
Hans Christian Reinl <info@drublic.de>
Helge Funk <helge.funk@e-netconsulting.com>
Helmut Hummel <helmut.hummel@typo3.org> Helmut Hummel <h.hummel@bitmotion.de>
Helmut Hummel <helmut.hummel@typo3.org> Helmut Hummel <typo3@helmut-hummel.de>
Henrik Møller Rasmussen <info@hmrdesign.dk>
Ingmar Schlecht <ingmar@typo3.org> Ingmar Schlecht <ingmar.schlecht@typo3.org>
Ingo Pfennigstorf <i.pfennigstorf@gmail.com>
Ingo Renner <ingo.renner@typo3.org> Ingo Renner <ingo@typo3.org>
Ivan Kartolo <ivan.kartolo@dkd.de>
Jakub Cernek <development@cernek.cz>
Jan-Erik Revsbech <janerik@moc.net> Jan-Erik Revsbech <jer@moccompany.com>
Jaume Prat <prat.jaume@gmail.com>
Jeff Segars <jsegars@alumni.rice.edu>
Jigal van Hemert <jigal@xs4all.nl> jigal <jigal@709f56b5-9817-0410-a4d7-c38de5d9e867>
Jo Hasenau <info@cybercraft.de> cybercraft <info@cybercraft.de>
Jochen Rau <j.rau@web.de>
Johannes Feustel <s@feustel.eu> Joh. Feustel <j@feustel.eu>
Juergen Furrer <juergen.furrer@gmail.com>
Juergen Kussmann <jkussmann@web.de>
Julian Hofmann <info@julian-hofmann.net>
Kai Vogel <kai.vogel@speedprogs.de>
Karsten Dambekalns <karsten.dambekalns@typo3.org>
Kasper Skårhøj <kasper@typo3.org>
Kay Strobach <typo3@kay-strobach.de>
Kilian Hann <kilian.hann@gmail.com>
Lars Patrick Heß <larshess@gmail.com>
Lars Peipmann <lars@peipmann.de>
Laurent Cherpit <lcherpit@ttree.ch> Laurent Cherpit <laurent.cherpit@gmail.com>
Leon Dietsch <leon.dietsch@googlemail.com>
Loek Hilgersom <loek@netcoop.nl>
Lorenz Ulrich <lorenz.ulrich@visol.ch> Lorenz <lorenz.ulrich@visol.ch>
Lucas Jenss <lucas@gosign.de> Lucas Jenss <lucas@x3ro.de>
Ludwig Rafelsberger <ludwig.rafelsberger@gmx.at>
Manuel Stofer <mst@rtp.ch>
Marc Bastian Heinrichs <heinrichs@mbh-web.de> Marc Bastian Heinrichs <typo3@mbh-software.de>
Marc Bastian Heinrichs <heinrichs@mbh-web.de> Marc Bastian Heinrichs <typo3@mbh-web.de>
Marco Bresch <marco.bresch@starfinanz.de>
Marco Huber <mail@marco-huber.de>
Marcus Krause <marcus.krause@typo3.org> Marcus Krause <marcus.krause@e-netconsulting.com>
Marcus Krause <marcus.krause@typo3.org> Marcus Krause <marcus@t3sec.info>
Marcus Schwemer <ms@schwemer.de>
Mario Rimann <mario.rimann@typo3.org> Mario Rimann <typo3-coding@rimann.org>
Markus Bucher <m.bucher@kuehlhaus.com> Markus Bucher <markusbucher@gmx.de>
Markus Günther <mail@markus-guenther.de>
Markus Klein <klein.t3@mfc-linz.at>
Markus Opahle <markus.opahle@avenit.de>
Martin Helmich <m.helmich@mittwald.de>
Martin Kutschker <martin.t.kutschker@blackbox.net>
Martin Kästner <mkaestner@gmx.de>
Mattias Nilsson <tollepjaer@gmail.com>
Max Roesch <typo3@elbebass.com>
Michael <antispam.35825@schams.net>
Michael Birchler <mbirchler@snowflake.ch>
Michael Buergi <michael.buergi@gmx.net>
Michael Klapper <michael.klapper@aoemedia.de> Michael Klapper <development@morphodo.com>
Michael Kunze <michael.kunze@netresearch.de>
Michael Scharkow <michael@underused.org>
Michael Staatz <mstaatz@me.com>
Michael Stucki <michael.stucki@typo3.org>
Morton Jonuschat <m.jonuschat@gute-botschafter.de>
Nicole Cordes <nicole@cordes.co> Nicole Cordes <cordes@cps-it.de> Nicole Cordes <n.cordes@biz-design.biz>
Niki Mueller <mueller@flagbit.de>
Nikolas Schmidt-Voigt <n.schmidtvoigt@googlemail.com>
Nils Seinschedt <n.seinschedt@neusta.de>
Ole Hartwig <typo3review@ole-hartwig.eu>
Oliver Hader <oliver.hader@typo3.org> Oliver Hader <oliver@typo3.org>
Oliver Hader <oliver.hader@typo3.org> Oliver Hader <olly@typo3.org>
Oliver Hader <oliver.hader@typo3.org> ohader <ohader@709f56b5-9817-0410-a4d7-c38de5d9e867>
Oliver Klee <typo3-coding@oliverklee.de> Oliver <typo3-coding@oliverklee.de>
Patrick Broens <patrick@patrickbroens.nl> Patrick <patrick@patrickbroens.nl>
Patrick Broens <patrick@patrickbroens.nl> Patrick Broens <patrick@netcreators.com>
Patrick Rodacker <patrick.rodacker@the-reflection.de>
Patrick Schriner <patrick.schriner@diemedialen.de>
Peter Beernink <p.beernink@drecomm.nl>
Peter Niederlag <peter@niederlag.de> Peter Niederlag <netservice@niekom.de>
Peter Niederlag <peter@niederlag.de> Peter Niederlag(office) <netservice@niekom.de>
Philipp Gampe <philipp.gampe@typo3.org> Philipp Gampe <forge.typo3.org@philippgampe.info>
Philipp Kitzberger <philipp@cron-it.de>
Popy <popy.dev@gmail.com>
Rasto Birka <rasto@cs2.ch>
Reinhard Führicht <rf@typoheads.at>
Rens Admiraal <r.admiraal@drecomm.nl> Rens <rens.admiraal@typo3.org>
René Fritz <r.fritz@colorcube.de>
Robert Heel <rheel@1drop.de> Robert Heel <typo3.org@bobosch.de>
Robert Lemke <robert.lemke@typo3.org>
Roland Waldner <mostwantedtypo3@gmail.com> Roland Waldner <most.wanted@gmx.at>
Rupert Germann <rupi@gmx.li>
Sascha Egerer <sascha@sascha-egerer.de> dkd-egerer Sascha Egerer <sascha@sascha-egerer.de>
Sebastiaan de Jonge <office@sebastiaandejonge.com>
Sebastian Fischer <typo3@evoweb.de> Sebastian <typo3@evoweb.de>
Sebastian Fischer <typo3@evoweb.de> Sebastian fischer <typo3@evoweb.de>
Sebastian Kurfürst <sebastian.kurfuerst@typo3.org>
Sebastian Michaelsen <michaelsen@t3seo.de> Sebastian Michaelsen <sebastian.gebhard@googlemail.com>
Sebastian Müller <sebastian.mueller@elementare-teilchen.de> sebastian.mueller <sebastian.mueller@elementare-teilchen.de>
Sebastian Schawohl <s.schawohl@magnetic.coop>
Simon Koch <skoch@agorilla.de>
Simon Schaufelberger <simonschaufi@googlemail.com>
Soren Malling <soren.malling@gmail.com>
Stanislas Rolland <typo3@sjbr.ca> stan <stan@709f56b5-9817-0410-a4d7-c38de5d9e867>
Stanislas Rolland <typo3@sjbr.ca> stan <typo3@sjbr.ca>
Stefan Aebischer <typo3@pixtron.ch>
Stefan Froemken <froemken@gmail.com> Stefan Froemken <firma@sfroemken.de>
Stefan Galinski <stefan.galinski@gmail.com> Stefan <stefan.galinski@gmail.com>
Stefan Galinski <stefan.galinski@gmail.com> sgalinsk <sgalinsk@709f56b5-9817-0410-a4d7-c38de5d9e867>
Stefan Geith <typo3dev2011@geithware.de> Stefan Geith <typo3dev2012@geithware.de>
Stefan Neufeind <typo3.neufeind@speedpartner.de>
Stefan Rotsch <typo3@stefanrotsch.de> Stefan Rotsch <mail@stefanrotsch.de>
Stefano Kowalke <blueduck@gmx.net>
Steffen Gebert <steffen.gebert@typo3.org> stephenking <stephenking@709f56b5-9817-0410-a4d7-c38de5d9e867>
Steffen Kamper <info@sk-typo3.de> steffenk <info@sk-typo3.de>
Steffen Kamper <info@sk-typo3.de> steffenk <steffenk@709f56b5-9817-0410-a4d7-c38de5d9e867>
Steffen Müller <typo3@t3node.com> Steffen Mueller <typo3@t3node.com>
Steffen Ritter <info@rs-websystems.de>
Stephan Großberndt <stephan@grossberndt.de>
Susanne Moog <typo3@susannemoog.de> Susanne Moog <typo3@susanne-moog.de>
Sven Burkert <sventb@gmail.com>
Sven Juergens <t3@blue-side.de> Sven Juergens <post@blue-side.de>
Sven Luzar <sven.luzar@gmx.de>
Sven Teuber <teuber@stibes.de>
TYPO3 v4 Release Team <typo3v4@typo3.org> TYPO3 FAL Team <typo3v4@typo3.org>
TYPO3 v4 Release Team <typo3v4@typo3.org> TYPO3 Release Team <typo3v4@typo3.org>
Thomas Hempel <thomas.hempel@typo3.org>
Thomas Juhnke <tommy@van-tomas.de>
Thomas Layh <thomas@layh.com>
Thomas Löffler <loeffler@spooner-web.de>
Thomas Maroschik <tmaroschik@dfau.de>
Thorben Kapp <thorben@work.de> Thorben <thorben@work.de>
Thorsten Kahler <thorsten.kahler@typo3.org> Thorsten Kahler <thorsten.kahler@dkd.de>
Tilo Baller <baller@cosmocode.de>
Timo Webler <timo.webler@dkd.de>
Tobias Burger <tobias_burger@hotmail.com>
Tobias Liebig <tobias.liebig@typo3.org> Tobias Liebig <mail@etobi.de>
Tobias Liebig <tobias.liebig@typo3.org> Tobias Liebig <mail_typo3.org@etobi.de>
Tobias Liebig <tobias.liebig@typo3.org> etobi.de <etobi.de@709f56b5-9817-0410-a4d7-c38de5d9e867>
Tobias Schultheiss <t.schultheiss@digital-worx.de>
Tolleiv Nietsch <info@tolleiv.de> Tolleiv <info@tolleiv.de>
Tolleiv Nietsch <info@tolleiv.de> tolleiv <tolleiv@709f56b5-9817-0410-a4d7-c38de5d9e867>
Tomas Norre Mikkelsen <tomasnorre@gmail.com>
Tomita Militaru <militarutomita@gmail.com>
Torben Hansen <t.hansen@skyfillers.com> Torben Hansen <hansen@skyfillers.com>
Torben Hansen <t.hansen@skyfillers.com> derhansen <t.hansen@skyfillers.com>
Tymoteusz Motylewski <t.motylewski@gmail.com>
Udo Leimberger <udo@t3developer.de>
Wolfgang Klinger <wolfgang@stufenlos.net>
Wouter Wolters <typo3@wouterwolters.nl>
Xavier Perseguers <typo3@perseguers.ch> Xavier Perseguers <xavier@typo3.org>
Xavier Perseguers <typo3@perseguers.ch> xperseguers <xperseguers@709f56b5-9817-0410-a4d7-c38de5d9e867>
bidau <ismael.bidau@ensci.com>
dprecup <dprecup@arxia.com>
nxpthx <nxpthx@709f56b5-9817-0410-a4d7-c38de5d9e867>
