[receive]
	requireChangeId = true
[submit]
	action = cherry pick
	mergeContent = true
[access "refs/for/refs/heads/TYPO3_Sandbox"]
	push = group Importers
	pushMerge = group Importers
[access "refs/heads/*"]
	label-Code-Review = -2..+2 group TYPO3v4/Core
	label-Verified = -1..+2 group TYPO3v4/Core
	submit = group TYPO3v4/Core
[access "refs/heads/TYPO3_Sandbox"]
	read = group Importers
[access "refs/tags/*"]
	pushTag = group TYPO3v4/Core
