[receive]
	requireChangeId = true
[submit]
	action = cherry pick
	mergeContent = true
[access "refs/for/refs/heads/TYPO3_Sandbox"]
	push = group Importers
	pushMerge = group Importers
[access "refs/heads/*"]
	label-Code-Review = -2..+2 group TYPO3v4/Core-Leaders
	label-Verified = -1..+2 group TYPO3v4/Core-Leaders
	submit = group TYPO3v4/Core-Leaders
	create = group TYPO3v4/Core-Leaders
	label-Code-Review = -2..+2 group TYPO3v4/Core-Members
	label-Verified = -1..+2 group TYPO3v4/Core-Members
	submit = group TYPO3v4/Core-Members
[access "refs/heads/TYPO3_Sandbox"]
	read = group Importers
[access "refs/tags/*"]
	pushTag = group TYPO3v4/Core-Leaders
	create = group TYPO3v4/Core-Leaders
[project]
	description = TYPO3 CMS Core Development\n\
see http://forge.typo3.org/projects/typo3v4-core
	state = active
[access "refs/for/refs/heads/*"]
	pushMerge = group TYPO3v4/Core-Leaders
	pushMerge = group TYPO3v4/Core-Members
	forgeCommitter = group TYPO3v4/Core-Leaders
[access "refs/*"]
	abandon = group TYPO3v4/Core-Leaders
	abandon = group TYPO3v4/Core-Members
	owner = group TYPO3v4/Core-Leaders
