[receive]
	requireChangeId = true
[submit]
	action = cherry pick
[access "refs/for/refs/heads/TYPO3_Sandbox"]
	push = group Importers
	pushMerge = group Importers
[access "refs/heads/*"]
	label-Code-Review = -2..+2 group TYPO3v4/Core
	label-Verified = -1..+2 group TYPO3v4/Core
	submit = group TYPO3v4/Core
[access "refs/heads/TYPO3_Sandbox"]
	read = group Importers
[access "refs/tags/*"]
	pushTag = group TYPO3v4/Core
[project]
	description = TYPO3 v4/v6 Core Development\n\
see http://forge.typo3.org/projects/typo3v4-core
