/* Selectors for the Undo Redo plugin of htmlArea RTE */
.htmlarea-action-redo {
	background-image: url('images/redo.gif') !important;
}
.htmlarea-action-undo {
	background-image: url('images/undo.gif') !important;
}
.htmlarea-action-redo,
.htmlarea-action-undo {
	background-position: 0 0 !important;
}
