<div class="t3js-response">
    <f:for each="{files}" as="filepath" key="headline">
        <div class="panel-group" role="tablist" aria-multiselectable="false">

            <div class="panel panel-default">
                <div class="panel-heading" role="tab">
                    <input type="checkbox" class="t3js-upgradeanalysis-restore pull-left" data-filepath="{filepath}"
                           title="restore this document"/>
                    <h3 class="panel-title">
                            <strong>
                                {headline}</strong>
                    </h3>
                </div>
            </div>

        </div>

    </f:for>
    <h2>Files Restored (will be in their original section upon next call of this page)</h2>
    <div class="panel-group" id="upgrade_analysis_restored_files" role="tablist" aria-multiselectable="false">
    </div>
</div>
