<div class="row row-cols-auto align-items-end g-3 mb-3">
    <div class="col">
        <label class="form-label">
            {f:translate(key: 'LLL:EXT:info/Resources/Private/Language/InfoPageTsConfig.xlf:display_mode')}
        </label>
        <f:format.raw>{dropdownMenu}</f:format.raw>
    </div>
    <div class="col">
        <div class="form-check form-switch">
            <label class="form-check-label" for="checkTsconf_alphaSort">
                {f:translate(key: 'LLL:EXT:info/Resources/Private/Language/InfoPageTsConfig.xlf:sort_alphabetic')}
            </label>
            <f:format.raw>{alphaSort}</f:format.raw>
        </div>
    </div>
</div>
