<html
    xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    data-namespace-typo3-fluid="true"
>

<f:comment><!-- Heading --></f:comment>
<h1>
    <f:translate key="LLL:EXT:info/Resources/Private/Language/InfoPageTsConfig.xlf:pageTsconfig.overview.headline" />
</h1>
<div>
    <p class="lead"><f:translate key="LLL:EXT:info/Resources/Private/Language/InfoPageTsConfig.xlf:pageTsconfig.overview.description" /></p>
</div>

<f:if condition="{overviewOfPagesUsingTSConfig}">
    <f:then>
        <div class="table-fit">
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th>{f:translate(key: 'LLL:EXT:info/Resources/Private/Language/InfoPageTsConfig.xlf:pageTsconfig.overview.table.th.pagename')}</th>
                        <th>{f:translate(key: 'LLL:EXT:info/Resources/Private/Language/InfoPageTsConfig.xlf:pageTsconfig.overview.table.th.included_tsconfig_files')}</th>
                        <th>{f:translate(key: 'LLL:EXT:info/Resources/Private/Language/InfoPageTsConfig.xlf:pageTsconfig.overview.table.th.lines')}</th>
                    </tr>
                </thead>
                <tbody>
                    <f:for each="{overviewOfPagesUsingTSConfig}" as="line">
                        <tr>
                            <td class="text-nowrap" style="padding-left: {line.padding}px">
                                <f:if condition="{line.link}">
                                    <f:then>
                                        <a href="{line.link}" title="{line.title}">
                                            <f:format.raw>{line.icon}</f:format.raw>
                                            <f:format.raw>{line.pageTitle}</f:format.raw>
                                        </a>
                                    </f:then>
                                    <f:else>
                                        <f:format.raw>{line.icon}</f:format.raw>
                                        <f:format.raw>{line.pageTitle}</f:format.raw>
                                    </f:else>
                                </f:if>
                            </td>
                            <td>{line.includedFiles}</td>
                            <td>{line.lines}</td>
                        </tr>
                    </f:for>
                </tbody>
            </table>
        </div>
    </f:then>
    <f:else>
        <f:be.infobox message="{f:translate(key: 'LLL:EXT:info/Resources/Private/Language/InfoPageTsConfig.xlf:tsconf_noPageTSconfig')}" state="-1" />
    </f:else>
</f:if>

</html>
