<div class="dropdown-table-row t3js-topbar-shortcut" data-shortcutid="{shortcut.raw.uid}" data-shortcutgroup="{group.id}">
	<div class="dropdown-table-column dropdown-table-icon">
		<span title="{f:translate(key: 'LLL:EXT:lang/Resources/Private/Language/locallang_core.xlf:toolbarItems.shortcut')}">
			<f:format.raw>{shortcut.icon}</f:format.raw>
		</span>
	</div>
	<div class="dropdown-table-column dropdown-table-title">
		<f:link.external uri="#" class="dropdown-table-title-ellipsis" onclick="{shortcut.action} return false;" defaultScheme="">{shortcut.label}</f:link.external>
	</div>
	<div class="dropdown-table-column dropdown-table-actions">
		<f:render section="Edit"/>
		<f:render section="Delete"/>
	</div>
</div>

<f:section name="Edit">
	<f:link.external uri="#" class="dropdown-table-actions-btn dropdown-table-actions-btn-edit t3js-shortcut-edit"
									 title="{f:translate(key: 'LLL:EXT:lang/Resources/Private/Language/locallang_core.xlf:toolbarItems.bookmarksEdit')}"
									 defaultScheme="">
		<core:icon identifier="actions-open" alternativeMarkupIdentifier="inline"/>
	</f:link.external>
</f:section>

<f:section name="Delete">
	<f:link.external uri="#" class="dropdown-table-actions-btn dropdown-table-actions-btn-delete t3js-shortcut-delete"
									 title="{f:translate(key: 'LLL:EXT:lang/Resources/Private/Language/locallang_core.xlf:toolbarItems.bookmarksDelete')}"
									 defaultScheme="">
		<core:icon identifier="actions-delete" alternativeMarkupIdentifier="inline"/>
	</f:link.external>
</f:section>
