<!DOCTYPE html>
<html>
<head>
	<title>The Access to the Install Tool blocked</title>
	<link rel="stylesheet" type="text/css" href="../Resources/Public/Stylesheets/Action/Common/EarlyExit.css?{time}" />
</head>
<body>
<div id="container">
	<h1>TYPO3</h1>
	<div class="typo3-message message-warning">
		<h2>Thank you for installing TYPO3</h2>
		<p>
			To proceed with the installation, create the file <strong>FIRST_INSTALL</strong>
			in your root directory.
			The filename is case-sensitive but the file itself can be empty.
		</p>

		<p>
			<strong>Note:</strong>
			The file will be deleted once you proceed with the installation.
		</p>
	</div>
</div>
</body>
</html>
