<!DOCTYPE html>
<html>
<head>
	<title>The Install Tool is locked</title>
	<link rel="icon" type="image/vnd.microsoft.icon" href="{f:uri.resource(path: 'Icons/favicon.ico')}?{time}"/>
	<link rel="stylesheet" type="text/css" href="{f:uri.resource(path: 'Css/install.css')}?{time}" />
</head>
<body>
<div class="container">
	<div class="page-header"><img src="{f:uri.resource(path: 'Images/typo3_orange.svg')}" width="130" class="logo" /></div>
	<div class="row">
		<div class="col-sm-12 col-md-8 col-lg-5 center-block">
			<div class="panel panel-warning">
				<div class="panel-heading">
					<h2 class="panel-title">The Install Tool is locked</h2>
				</div>
				<div class="panel-body">
					<p>
						To enable the Install Tool, the file <code>ENABLE_INSTALL_TOOL</code>
						must be created in the directory <code>typo3conf/</code>.
						The file must be writable by the web server user.
						The filename is case-sensitive but the file itself can be empty.
					</p>

					<p>
						<strong>Security note:</strong>
						When you are finished with the Install Tool, you should rename or delete this file.
						It will automatically be deleted if you log out of the Install Tool or if the file is older than one hour.
					</p>
				</div>
			</div>
		</div>
	</div>
</div>
</body>
</html>
