<!DOCTYPE html>
<html>
<head>
	<title>No install tool password set</title>
	<link rel="stylesheet" type="text/css" href="../Resources/Public/Stylesheets/Action/Common/EarlyExit.css?{time}" />
</head>
<body>
<div id="container">
	<h1>TYPO3</h1>
	<div class="typo3-message message-warning">
		<h2>No install tool password set</h2>
		<p>
			No install tool password is set, access to install tool is denied for security reasons.
		</p>
		<p>
			The file typo3conf/LocalConfiguration.php does not contain a password for the install tool.
			This should have been set during installation. You can gain access to the install tool
			login form by setting ['BE']['installToolPassword'] to the hash of your chosen password.
		</p>
	</div>
</div>
</body>
</html>