<f:comment>
	Login form is significantly different from other install tool actions:
	It does not render the menu and loads other css. So, it does not use
	the 'InstallToolAuthenticated' layout and just renders its adapted
	content from a partial.
	The loginForm however does respect the context, so it renders a docheader
	if called by the backend, or a the standalone content if not.
</f:comment>

<!DOCTYPE html>
<html>
<head>
	<title>Install tool login</title>
	<f:render partial="Action/Common/Headers" arguments="{_all}" />
	<link rel="stylesheet" type="text/css" href="../Resources/Public/Css/InstallTool.css?{time}" />
</head>
<body class="{context}">
	<f:if condition="{contextService.backendContext}">
		<div id="typo3-docheader">
			<div class="typo3-docheader-functions"></div>
			<div class="typo3-docheader-buttons"></div>
		</div>
	</f:if>
	<div id="typo3-docbody">
		<div id="t3-install-outer" class="t3-install-login">
			<f:render partial="Action/Common/LoginForm.html" arguments="{_all}" />
		</div>
	</div>
</body>
</html>
