<html
    xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    data-namespace-typo3-fluid="true"
>

<f:if condition="{pagination}">
    <ul class="tx-indexedsearch-browsebox">
        <f:if condition="{pagination.previousPageNumber}">
            <li class="tx-indexedsearch-browselist-next">
                <a href="#" class="tx-indexedsearch-page-selector" data-prefix="tx_indexedsearch" data-pointer="{pagination.previousPageNumber - 1}" data-free-index-uid="{freeIndexUid}">
                    <f:translate key="displayResults.previous" />
                </a>
            </li>
        </f:if>

        <f:for each="{pagination.allPageNumbers}" as="pageNumber">
            <f:variable name="pageLabel" value="{f:translate(key: 'displayResults.page')} {pageNumber}" />
            <f:if condition="{pageNumber} == {searchParams.pointer + 1}">
                <f:then>
                    <li><strong><a href="#" class="tx-indexedsearch-page-selector" data-prefix="tx_indexedsearch" data-pointer="{pageNumber - 1}" data-free-index-uid="{freeIndexUid}" aria-current="page">{pageLabel}</a></strong></li>
                </f:then>
                <f:else>
                    <li><a href="#" class="tx-indexedsearch-page-selector" data-prefix="tx_indexedsearch" data-pointer="{pageNumber - 1}" data-free-index-uid="{freeIndexUid}">{pageLabel}</a></li>
                </f:else>
            </f:if>
        </f:for>

        <f:if condition="{pagination.nextPageNumber}">
            <li class="tx-indexedsearch-browselist-next">
                <a href="#" class="tx-indexedsearch-page-selector" data-prefix="tx_indexedsearch" data-pointer="{pagination.nextPageNumber - 1}" data-free-index-uid="{freeIndexUid}">
                    <f:translate key="displayResults.next" />
                </a>
            </li>
        </f:if>
    </ul>
</f:if>

</html>
