<f:if condition="{pagination.numberOfPages} > 1">
    <nav class="pagination-wrap">
        <ul class="pagination">
            <f:if condition="{pagination.hasLessPages}">
                <f:then>
                    <li class="page-item">
                        <a href="{f:be.uri(route:'site_redirects', parameters: '{action: \'overview\', demand: demand.parameters, orderField: demand.orderField, orderDirection: demand.orderDirection, page: 1}')}" title="{f:translate(extensionName: 'fluid', key:'widget.pagination.first')}" class="page-link">
                            <core:icon identifier="actions-view-paging-first" />
                        </a>
                    </li>
                    <li class="page-item">
                        <a href="{f:be.uri(route:'site_redirects', parameters: '{action: \'overview\', demand: demand.parameters, orderField: demand.orderField, orderDirection: demand.orderDirection, page: pagination.previousPage}')}" title="{f:translate(extensionName: 'fluid', key:'widget.pagination.previous')}" class="page-link">
                            <core:icon identifier="actions-view-paging-previous" />
                        </a>
                    </li>
                </f:then>
                <f:else>
                    <li class="page-item disabled">
                        <span class="page-link">
                            <core:icon identifier="empty-empty"/>
                        </span>
                    </li>
                    <li class="page-item disabled">
                        <span class="page-link">
                            <core:icon identifier="empty-empty"/>
                        </span>
                    </li>
                </f:else>
            </f:if>
            <li class="page-item">
                <span class="page-link">
                    <f:translate key="LLL:EXT:redirects/Resources/Private/Language/locallang_module_redirect.xlf:mlang_tabs_tab"/>
                    {pagination.startRecord} - {pagination.endRecord}
                </span>
            </li>
            <li class="page-item">
                <span class="page-link">
                    <f:translate extensionName="fluid" key="widget.pagination.page" />
                        <f:variable name="gotToPageUrl">
                            <f:be.uri route="site_redirects" parameters="{action: 'overview', demand: demand.parameters, orderField: demand.orderField, orderDirection: demand.orderDirection, page: 987654322}" />
                        </f:variable>
                        <form data-on-submit="processNavigate" style="display:inline;">
                            <input type="number"
                                value="{pagination.current}"
                                name="paginator-target-page"
                                class="form-control form-control-sm paginator-input"
                                min="1"
                                max="{pagination.numberOfPages}"
                                data-number-of-pages="{pagination.numberOfPages}"
                                data-url="{gotToPageUrl}" />
                        </form>
                    / {pagination.numberOfPages}
                </span>
            </li>
            <f:if condition="{pagination.hasMorePages}">
                <f:then>
                    <li class="page-item">
                        <a href="{f:be.uri(route:'site_redirects', parameters: '{action: \'overview\', demand: demand.parameters, page: pagination.nextPage, orderField: demand.orderField, orderDirection: demand.orderDirection}')}" title="{f:translate(extensionName: 'fluid', key:'widget.pagination.next')}" class="page-link">
                            <core:icon identifier="actions-view-paging-next" />
                        </a>
                    </li>
                    <li class="page-item">
                        <a href="{f:be.uri(route:'site_redirects', parameters: '{action: \'overview\', demand: demand.parameters, page: pagination.numberOfPages, orderField: demand.orderField, orderDirection: demand.orderDirection}')}" title="{f:translate(extensionName: 'fluid', key:'widget.pagination.last')}" class="page-link">
                            <core:icon identifier="actions-view-paging-last" />
                        </a>
                    </li>
                </f:then>
                <f:else>
                    <li class="page-item disabled">
                        <span class="page-link">
                            <core:icon identifier="empty-empty"/>
                        </span>
                    </li>
                    <li class="page-item disabled">
                        <span class="page-link">
                            <core:icon identifier="empty-empty"/>
                        </span>
                    </li>
                </f:else>
            </f:if>
            <li class="page-item">
                <a href="{f:be.uri(route:'site_redirects', parameters: '{action: \'overview\', demand: demand.parameters, page: demand.page, orderField: demand.orderField, orderDirection: demand.orderDirection}')}" title="{f:translate(extensionName: 'fluid', key:'widget.pagination.refresh')}" class="page-link">
                    <core:icon identifier="actions-refresh" />
                </a>
            </li>
        </ul>
    </nav>
</f:if>
