<f:layout name="SystemEmail" />
<f:section name="Subject">There are new changes in workspace "{workspace.title}"</f:section>
<f:section name="Title">{affectedElements -> f:count()} items sent to stage "{nextStage}" in workspace "{workspace.title}"</f:section>
<f:section name="Main">
    <p>
        At the TYPO3 site "{typo3.sitename}" in workspace "{workspace.title}" ({workspace.uid})
        the stage has changed to "{nextStage}" for the element(s):
    </p>
    <ul>
        <f:for each="{affectedElements}" as="element">
            <li>{element.0}:{element.1}</li>
        </f:for>
    </ul>

    <p>
        The first entry was "{recordTitle}" at location <code>"{rootLine}"</code> in the page tree.
    </p>

    <f:if condition="{previewLink}">
        <p><a href="{previewLink}" rel="noopener">See a preview of the changed page.</a></p>
    </f:if>

    <p>
        The stage was changed by <strong>{currentUser.realName}</strong> ({currentUser.username}).
    </p>

    <f:if condition="{additionalMessage}">
        <p>&nbsp;</p>
        <h3>Additional comment</h3>
        <p><f:format.nl2br>{additionalMessage}</f:format.nl2br></p>
    </f:if>
</f:section>
