<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    xmlns:be="http://typo3.org/ns/TYPO3/CMS/Backend/ViewHelpers"
    data-namespace-typo3-fluid="true"
>
<f:layout name="Module" />

<f:section name="main">
    <f:if condition="{showGrid}">
        <f:then>
            <f:render partial="WorkingTable" arguments="{_all}" />
        </f:then>
        <f:else if="{isAdmin} && {customWorkspaceExists} != 1">
            <f:be.infobox state="-1" title="{f:translate(key: 'admin.noWorkspaceSetup.title')}">
                <p><f:translate key="admin.noWorkspaceSetup.message"/></p>
                <be:link.newRecord class="btn btn-primary" table="sys_workspace" pid="0" returnUrl="{f:be.uri(route: 'web_WorkspacesWorkspaces')}">
                    <f:translate key="admin.noWorkspaceSetup.buttonCreate"/>
                </be:link.newRecord>
            </f:be.infobox>
        </f:else>
        <f:else>
            <f:be.infobox message="{f:translate(key: 'editorInLive')}" state="-1" />
        </f:else>
    </f:if>
</f:section>
</html>
