<f:be.container
	includeRequireJsModules="{
		0:'TYPO3/CMS/Recycler/Recycler'
	}"
>
	<div class="typo3-fullDoc">
		<div id="typo3-docheader">
			<div class="typo3-docheader-functions">
				<div class="left">
					<f:be.buttons.csh />
				</div>
				<div class="right">
				</div>
			</div>

			<div class="typo3-docheader-buttons">
				<div class="left">
					<f:render section="iconButtons" />
				</div>
				<div class="right">
					<f:be.buttons.shortcut />
				</div>
			</div>
		</div>

		<div id="typo3-docbody">
			<div id="typo3-inner-docbody">
				<h1><f:translate key="title" /></h1>

				<f:flashMessages renderMode="div" />

				<f:render section="content" />
			</div>
		</div>
	</div>
</f:be.container>