/* - - - - - - - - - - - - - - - - - - - - -

Title  : TYPO3 backend styles
Author : Ingo Renner <ingo@typo3.org>
URL    : http://typo3.org

Description : styles the TYPO3 backend, should only contain layout styles, no colors or border or so


	$Id$

- - - - - - - - - - - - - - - - - - - - - */


/* - - - - - - - - - - - - - - - - - - - - -

TYPO3 backend scaffolding

- - - - - - - - - - - - - - - - - - - - - */

#typo3-logo,
#typo3-side-menu {
	width: 139px;
}