/* - - - - - - - - - - - - - - - - - - - - -

Title  : TYPO3 backend styles
Author : Ingo Renner <ingo@typo3.org>
URL    : http://typo3.org

Description : styles the TYPO3 backend

	$Id$

- - - - - - - - - - - - - - - - - - - - - */


/* ----- logged in user ----- */

#username {
	padding-top: 2px;
}

#username img {
	padding-right: 4px;
	vertical-align: bottom;
}


/* ----- Logout ----- */

#logout-button input {
	background: #c3c7ce url('../icons/gfx/bg_input_button.gif') repeat-x;
	color: #333;
	border: 1px solid #ACB3BE;
	height: 18px;
	line-height: 14px;
	vertical-align: baseline;
	text-align: center;
	padding: 0;
	cursor: pointer;
}

#logout-button input:hover {
	background: #c3c7ce url('../icons/gfx/bg_input_button_hover.gif') repeat-x;
	color: #000;
	border: 1px solid #737F91;
}