/* - - - - - - - - - - - - - - - - - - - - -

Title  : TYPO3 IE6 fixes
Author : Ingo Renner <ingo@typo3.org>
URL    : http://typo3.org

Description : fixes the stupid Internet Explorer

	$Id$

- - - - - - - - - - - - - - - - - - - - - */


#typo3-menu li div.expanded {
	background-image: url('../../../gfx/ie6/arrowdown.gif');
}

#typo3-menu li div.collapsed {
	background-image: url('../../../gfx/ie6/arrowright.gif');
}

/* Input/submit should at least have a background color in IE6 */
#typo3-inner-docbody table.typo3-page-buttons INPUT,
#typo3-inner-docbody table.typo3-page-cols INPUT {
	background-color: #C3C6CB;
	border-bottom: 2px solid #8B93A0;
	border-right: 2px solid #727983;
	cursor: pointer;
}

#typo3-dblist-search input[type="submit"] {
	background: #C3C6CB;
	color: #000;
	border: 1px solid #737F91;
	cursor: pointer;
}