/*
 *	typo3-alt-palette-php.css
 */

body#typo3-alt-palette-php {
	background-image: url('../icons/gfx/topmenu_background_palette.jpg');
}

body#typo3-alt-palette-php table#typo3-TCEforms-palette {
	height: 20px;
	position: absolute;
	bottom: 1px;
}

body#typo3-alt-palette-php table td {
	height: 20px;
	vertical-align: middle;
	padding: 0;
	margin: 0;
}

body#typo3-alt-palette-php table img {
	padding: 0;
	margin: 0;
}

table#typo3-TCEforms-palette td.c-label {
	color: #FFFFFF;
}

body#typo3-alt-palette-php table td.c-csh input.checkbox {
	margin: 0px 3px 0 0;
	background-color: transparent;
}

body#typo3-alt-palette-php span.nbsp {
	display: none;
}

