/*
 *	typo3-alt-topmenu-dummy-php.css
 */

body#typo3-alt-topmenu-dummy-php,
body#typo3-alt-topmenu-dummy-php-iconmenu {
	background-image: url('../icons/gfx/topmenu_background.jpg');
}

table#typo3-topMenu {
	height: 20px;
	position: absolute;
	bottom: 1px;
}

table#typo3-topMenu td,
table#typo3-topMenu td a {
	color: #FFFFFF;
	font-weight: bold;
}

table#typo3-topMenu td a:hover {
	text-decoration: underline;
}