/*
 * typo3-TCEforms.css
 */

table.typo3-TCEforms {
	}

table.typo3-TCEforms .bgColor2,
table.typo3-TCEforms tr.bgColor2 td {
	background-color: #EFEFF4;
	color: #212424;
	padding-bottom: 5px;
	}

table#typo3-altdoc-header input,
.c-inputButton {
	background: #EFEFF4;
	border: 0;
}

.checkbox,
.checkbox:hover {
	background: #EFEFF4;
	border: 0;
	margin: 4px 0 4px 2px;
}

table.typo3-TCEforms table#typo3-altdoc-header input:hover,
.c-inputButton:hover {
	background: #F8F9FA;
	border: 0;
}

table.typo3-TCEforms span.typo3-TCEforms-helpText {
	color: #FFFFFF;
	background: transparent;
}


/* Default. Always used on main-palettes in the bottom of the forms */
TABLE.typo3-TCEforms .class-main1,
TABLE.typo3-TCEforms .class-main11,
TABLE.typo3-TCEforms .class-main21,
TABLE.typo3-TCEforms .class-main31,
TABLE.typo3-TCEforms .class-main41,
TABLE.typo3-TCEforms .class-main51 {
	background: #EFEFF4;
	}

TABLE.typo3-TCEforms .class-main1 td,
TABLE.typo3-TCEforms .class-main11 td,
TABLE.typo3-TCEforms .class-main21 td,
TABLE.typo3-TCEforms .class-main31 td,
TABLE.typo3-TCEforms .class-main41 td,
TABLE.typo3-TCEforms .class-main51 td {
	padding: 2px 0px 2px 0px;
	}

TABLE.typo3-TCEforms .class-main2 td,
TABLE.typo3-TCEforms .class-main12 td,
TABLE.typo3-TCEforms .class-main22 td,
TABLE.typo3-TCEforms .class-main32 td,
TABLE.typo3-TCEforms .class-main42 td,
TABLE.typo3-TCEforms .class-main52 td {
	padding: 2px 0px 2px 0px;
	color: #FFFFFF;
	}

TABLE.typo3-TCEforms .class-main2,
TABLE.typo3-TCEforms .class-main12,
TABLE.typo3-TCEforms .class-main22,
TABLE.typo3-TCEforms .class-main32,
TABLE.typo3-TCEforms .class-main42,
TABLE.typo3-TCEforms .class-main52 {
	background-color: #B8BEC9;
	background-image: url('../icons/gfx/alt_menu_mainitem_bg.gif');
	background-position: top left;
	background-repeat: repeat-x;
}

TABLE.typo3-TCEforms TABLE.wrapperAttention .class-main2,
TABLE.typo3-TCEforms TABLE.wrapperAttention .class-main12,
TABLE.typo3-TCEforms TABLE.wrapperAttention .class-main22,
TABLE.typo3-TCEforms TABLE.wrapperAttention .class-main32,
TABLE.typo3-TCEforms TABLE.wrapperAttention .class-main42,
TABLE.typo3-TCEforms TABLE.wrapperAttention .class-main52 {
	background-color: #A30904;
	background-image: none;
	background-position: top left;
	background-repeat: repeat-x;
}

TABLE.typo3-TCEforms .class-main3,
TABLE.typo3-TCEforms .class-main13,
TABLE.typo3-TCEforms .class-main23,
TABLE.typo3-TCEforms .class-main33,
TABLE.typo3-TCEforms .class-main43,
TABLE.typo3-TCEforms .class-main53 {
	padding: 2px 0px 2px 0px;
	}

TABLE.typo3-TCEforms .class-main4,
TABLE.typo3-TCEforms .class-main14,
TABLE.typo3-TCEforms .class-main24,
TABLE.typo3-TCEforms .class-main34,
TABLE.typo3-TCEforms .class-main44,
TABLE.typo3-TCEforms .class-main54 {
	color: #FFFFFF;
	}

TABLE.typo3-TCEforms .class-main5,
TABLE.typo3-TCEforms .class-main15,
TABLE.typo3-TCEforms .class-main25,
TABLE.typo3-TCEforms .class-main35,
TABLE.typo3-TCEforms .class-main45,
TABLE.typo3-TCEforms .class-main55 {
	color: #3C3C44;
	}

TABLE.typo3-TCEforms .formField,
TABLE.typo3-TCEforms .formField1,
TABLE.typo3-TCEforms .formField2,
TABLE.typo3-TCEforms .formField3,
TABLE.typo3-TCEforms .formField4,
TABLE.typo3-TCEforms .formField5 {
	margin: 4px 2px 4px 2px;
	}

TABLE.typo3-TCEforms .wrapperTable,
TABLE.typo3-TCEforms .wrapperTable1,
TABLE.typo3-TCEforms .wrapperTable2,
TABLE.typo3-TCEforms .wrapperTable3,
TABLE.typo3-TCEforms .wrapperTable4,
TABLE.typo3-TCEforms .wrapperTable5 {
	border: 1px solid #A2AAB8;
	margin: 0 0 5px 0;
	}

TABLE.typo3-TCEforms TABLE.wrapperAttention .wrapperTable,
TABLE.typo3-TCEforms TABLE.wrapperAttention .wrapperTable1,
TABLE.typo3-TCEforms TABLE.wrapperAttention .wrapperTable2,
TABLE.typo3-TCEforms TABLE.wrapperAttention .wrapperTable3,
TABLE.typo3-TCEforms TABLE.wrapperAttention .wrapperTable4,
TABLE.typo3-TCEforms TABLE.wrapperAttention .wrapperTable5 {
	border: 1px solid #A30904;
	}

table#typo3-tree tr td { padding: 0px; }
