/* Login Screen 
 * Warning:
 * DO NOT prevent the copyright notice from being shown!
 * According to the GPL license an interactive application must show such a notice on start-up ('If the program is interactive, make it output a short notice... ' - see GPL.txt)
 * Therefore preventing this notice from being properly shown is a violation of the license, regardless of whether you remove it or use the stylesheet to obstruct the display.
 
 */
body#typo3-index-php {
	background: #fefefe url(../backgrounds/login_grid.png);
	margin: 0;
	overflow: hidden;
}

body#typo3-index-php #t3-login-form-outer {
	height: 87%;
	overflow: auto;
	width: 100%;
	position: absolute;
}

body#typo3-index-php #t3-login-form {
	margin: 30px auto 10px;
	width: 504px;
	text-align: left;
}

body#typo3-index-php #t3-login-news-outer h2, body#typo3-index-php .t3-headline {
	background: #b7bec8 url(../backgrounds/login_headline_bg.gif) repeat-x;
	padding-bottom: 2px;
	margin: 0 0 1px;
	width: auto;
}
 
body#typo3-index-php .t3-headline h2 {
	background-color: transparent;
	margin: 0;
	padding: 2px 0 0 4px;
	float: left;
	color: #000;
	width: 450px;
}

body#typo3-index-php .t3-headline:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

body#typo3-index-php .t3-icons {
	float: right;
	padding: 3px 5px 0 0;
}

body#typo3-index-php .t3-icons .t3-help {
	display: none;
	position: absolute;
	border: 1px solid #b2b3b7;
	padding: 5px;
	background-color: #fff;
	max-width: 300px;
}

body#typo3-index-php .t3-icons .t3-help a {
	text-decoration: underline;
}

body#typo3-index-php .t3-helpicon {
	float: left;
	padding-right: 5px;
	cursor: help;
}

body#typo3-index-php .t3-helpicon:hover .t3-help,
body#typo3-index-php .t3-reloadicon:hover .t3-help {
	display: block;
}

body#typo3-index-php .t3-reloadicon {
	float: left;
	cursor: pointer;
}

body#typo3-index-php .t3-login-username {
	margin-top: 15px;
}

body#typo3-index-php .t3-login-username input {
	background: #fefefe url(../icons/login_user.png) no-repeat 5px 4px;
}

body#typo3-index-php .t3-login-password input {
	background: #fefefe url(../icons/login_padlock.png) no-repeat 7px 4px;
}

body#typo3-index-php .t3-login-username input,
body#typo3-index-php .t3-login-password input {
	box-shadow: 2px 2px 2px #8e8b88 inset;
	-moz-box-shadow: 2px 2px 2px #8e8b88 inset;
	-webkit-box-shadow: 2px 2px 2px #8e8b88 inset;
}

body#typo3-index-php .t3-login-field {
	height: 25px;
	padding-top: 15px;
}

body#typo3-index-php .t3-login-field label {
	color: #7f8083;
	display: block;
	float: left;
	font-size: 16px;
	padding-right: 10px;
	text-align: right;
	text-transform: uppercase;
	width: 150px;
}

body#typo3-index-php .t3-login-field input {
	color: #555;
	background-color: #bbc0b8;
	font-size: 14px;
	height: 20px;
	width: 270px;
	padding-left: 25px;
}

body#typo3-index-php .t3-login-field input:focus {
	border-color: #f88f24;
	background-color: #fff;
}

body#typo3-index-php #t3-login-form-inner {
	border: 1px solid #737373;
	padding: 1px;
	background: #dfe0e5;
}

body#typo3-index-php #t3-login-form-fields {
	padding-bottom: 30px;
	display: none;
}

body#typo3-index-php #t3-capslock {
	margin: 10px 0 0 160px;
	border: 2px solid #be0027;
	background-color: #ffd6cf;
	color: #be0027;
	font-weight: bold;
	padding: 3px;
	width: 288px;
}

body#typo3-index-php #t3-capslock * {
	vertical-align: middle;
}

body#typo3-index-php #t3-capslock img {
	margin-right: 5px;
}

body#typo3-index-php #t3-interfaceselector {
	margin-top: 3px;
}

body#typo3-index-php .t3-login-submit {
	border-color: #b2b3b7;
	font-size: 14px;
	font-weight: bold;
	margin-left: 160px;
	margin-top: 15px;
	padding: 0 25px;
	text-align: left;
	background: #fff url(../backgrounds/login_submit_bg.gif) repeat-x;
}

body#typo3-index-php .t3-login-error {
	background-color: #ffd6cf;
	border: 3px solid #be0027;
	color: #be0027;
	font-size: 14px;
	font-weight: bold;
	margin: 2px;
	padding: 10px;
}

body#typo3-index-php #t3-noscript-error {
	background: #ffd6cf url(../backgrounds/login_noscript.gif) no-repeat left bottom;
	border: 3px solid #be0027;
	margin: 2px;
	padding: 10px 10px 10px 80px;
	height: 130px;
}

body#typo3-index-php #t3-noscript-error p {
	padding-top: 20px;
	color: #be0027;
	font-size: 20px;
	font-weight: bold;
	text-transform: uppercase;
}

body#typo3-index-php #t3-nocookies-error p {
	padding-top: 20px;
	color: #ff8700;
	font-size: 20px;
	font-weight: bold;
	text-transform: uppercase;
}

body#typo3-index-php #t3-nocookies-error {
	background: #ffe7cc url(../backgrounds/login_nocookies.gif) no-repeat left bottom;
	border: 3px solid #FF8700;
	margin: 2px;
	padding: 10px 10px 10px 130px;
	height: 130px;
}

body#typo3-index-php div#t3-copyright-notice {
	background: url(../icons/login_logo_sw.gif) no-repeat top left;
	text-align: left;
	margin-top: 25px;
	padding-left: 48px;
	font-weight: normal;
	color: #838383;
	min-height: 35px;
}

* html body#typo3-index-php div#t3-copyright-notice {
	height: 35px;
}

body#typo3-index-php div#t3-copyright-notice a {
	color: #838383;
	text-decoration: underline;
}
body#typo3-index-php div#t3-copyright-notice a:hover {
	color: #000;
}

body#typo3-index-php div#t3-copyright-notice img {
	display: none;
}

body#typo3-index-php div#t3-login-image {
	text-align: left;
	width: 500px;
	height: auto;
	padding: 0;
	margin: 0;
}

body#typo3-index-php #t3-footer {
	position: absolute;
	bottom: 0;
	padding-bottom: 20px;
	height: 10%;
	width: 100%;
	background: #f8f8f9 url(../backgrounds/login_footer.png) 0 -1px repeat-x;
}

body#typo3-index-php #t3-meta-links {
	float: right;
	margin-top: 20px;
	margin-left: 100px;
	width: 135px;
	text-align: center;
}

body#typo3-index-php #t3-meta-links a {
	display: block;
	width: 100px;
	border: 1px solid #b2b3b7;
	padding: 5px;
	margin-bottom: 3px;
	font-size: 9px;
	font-weight: bold;
	color: #999;
}

body#typo3-index-php #t3-meta-links a:hover {
	background-color: #ededf0;
}

/**
 * @section login news
 */
body#typo3-index-php #t3-login-news-outer {
	width: 500px;
	border: 1px solid #737373;
	margin-top: 30px;
	padding: 1px;
	background: #fff;
}

body#typo3-index-php #t3-login-news-outer #t3-login-news {
	margin: 12px;
	clear: both;
}

body#typo3-index-php #t3-login-news-outer #t3-login-news dt {
	font-size: 12px;
}

body#typo3-index-php #t3-login-news-outer #t3-login-news dd {
	margin-left: 0;
	border: 0;
	padding: 0;
	font-size: 10px;
	clear: both;
	padding-bottom: 15px;
}

body#typo3-index-php #t3-login-news-outer .t3-news-date {
	float: right;
}
