/* Login Screen

	 * Warning:
	 * DO NOT prevent the copyright notice from being shown!
	 * According to the GPL license an interactive application must show such a notice on start-up ('If the program is interactive, make it output a short notice... ' - see GPL.txt)
	 * Therefore preventing this notice from being properly shown is a violation of the license, regardless of whether you remove it or use the stylesheet to obstruct the display.

*/

body#typo3-index-php {
	background-color: #FEFEFE;
	margin: 0;
}

body#typo3-index-php table#wrapper {
	height: auto;
	width: 70%;
	margin-top: 10px;
}

body#typo3-index-php table#loginwrapper {
	width: 500px;
	height: 100px;
	text-align: left;
	margin: 10px 40px 40px 40px;
	padding: 0;
	background-color: transparent;
}

body#typo3-index-php DIV#copyrightnotice {
	border-top: 1px solid #f69220;
	width: 500px;
	text-align: left;
	margin-top: 5px;
	padding-top: 13px;
	font-weight: normal;
	color: #838383;
}

body#typo3-index-php DIV#copyrightnotice a {
	color: #838383;
	font-weight: bold;
}

body#typo3-index-php DIV#copyrightnotice img {
	display:none;
}

body#typo3-index-php DIV#loginimage {
	text-align: left;
	width: 500px;
	height: auto;
	padding: 0;
	margin: 0;
}

table#logintable {
	position: static;
	background-color: transparent;
	margin: 0 0 10px 30px;
	width: 300px;
	height: 150px;
}

table#logintable tr td {
	padding: 0;
	margin: 0;
}

table#logintable h2 {
	border: 0;
	background-color: transparent;
	font-size: 12px;
	color: #000;
	text-align: left;
	margin: 8px 0 0 0;
	padding: 0;
}

table#logintable p,
table#logintable label {
	font-size: 10px;
	font-weight: semibold;
	color: #000;
}

table#logintable p.c-info {
	font-size: 10px;
	font-weight: normal;
}

table#logintable p.c-wrong {
	font-size: 9px;
	font-weight: normal;
	width: 275px;
	border: #DEEAF5 solid 1px;
	margin: 0;
	padding: 5px;
}

table#logintable input.c-username,
table#logintable input.c-password,
table#logintable select.c-interfaceselector {
	width: 150px;
	margin: 0px;
}

h2#loginNewsTitle, dl#loginNews {
	width: 500px;
}

/***************************************************
* The old login news (might become obsolete?)
***************************************************/

div#loginNews {
	width: 70%;
	margin-top: 30px;
}

div#loginNews h2 {
	background-color: #E26816;
	color: #000;
	font-size: 12px;
}

div#loginNews table tr td {
	padding-right: 10px;
	padding-left: 10px;
}

div#loginNews table tr td.c-header {
	font-weight: bold;
	background-color: #FFD8A9;
}

div#loginNews table tr.c-spacer {
	height: 10px;
}
