/*
 * typo3-dyntabmenu.css
 */


/*
* The dyntabmenu
*/

div.typo3-dyntabmenu-tabs {
	margin: 0;
	padding: 0;
}

DIV.typo3-dyntabmenu-divs P.c-descr {
	padding: 0;
	margin: 0;
}

table#typo3-tabmenu td.tab,
table.typo3-dyntabmenu td {
	color: #E6E1B2;
	border:0;
	padding: 0;
	cursor: pointer;
}

table#typo3-tabmenu td.tab,
table.typo3-dyntabmenu td.tab {
	background-color: transparent;
}

table#typo3-tabmenu td.tabact,
table.typo3-dyntabmenu td.tabact:hover,
table.typo3-dyntabmenu td.tabact a {
	background-color: #F8F9FB;
}

table#typo3-tabmenu td.disabled,
table.typo3-dyntabmenu td.disabled,
table.typo3-dyntabmenu td.disabled:hover {
	color: #A2AAB8;
	background-color: #EFEFF4;
}

table#typo3-tabmenu td a,
table.typo3-dyntabmenu td a {
	border: solid 1px #A2AAB8;
	border-bottom: 0;
	padding: 5px 10px 5px 10px;
	display: block;
	width: auto;
}

table#typo3-tabmenu td.tab:hover,
table#typo3-tabmenu td a:hover,
table.typo3-dyntabmenu td:hover,
table.typo3-dyntabmenu td a:hover {
	background-color: #F8F9FB;
}



DIV.typo3-dyntabmenu-divs {
	padding:0;
}

.c-tablayer {
	margin: 0;
	padding: 0;
}
