/*
 *	typo3-clipboard.css
 */

table#typo3-clipboard {
	border: 1px solid #A2AAB8;
	border-top: 1px solid #A2AAB8;
	background-color: #EFEFF4;
}

table#typo3-clipboard tr.bgColor2 {
	background-color: #EFEFF4;
}

table#typo3-clipboard tr.bgColor2 td {
	background-color: #B8BEC9;
	background-image: url('../icons/gfx/alt_menu_mainitem_bg.gif');
	background-repeat: repeat-x;
	color: #FFFFFF;
}

table#typo3-clipboard tr.typo3-clipboard-head {
	background-color: #EFEFF4;
	background-image: url(../backgrounds/list_sep.gif);
	background-repeat: repeat-x;
	border-bottom: 1px solid #A2AAB8;
	border-top: 1px solid #FEFEFE;
}

table#typo3-clipboard tr.bgColor5 td {
	background-color: #F8F9FA;
}