/*
 *	typo3-alt-db-navframe-php.css
 */

body#typo3-alt-db-navframe-php .navFrameHL {
	background-color: #D7DBE2;
}

body#typo3-alt-db-navframe-php .navFrameHL a {
	font-weight: bold;
}

table#typo3-tree tr:hover{
	background-color: #D7DBE2;
}
