/**
 *	typo3-workspaces.css
 */

#typo3-alt-db-navframe-php .workspace-info {
	margin: 10px 0 0 10px;
	border: none;
}

table#typo3-versionSelector {
	border: 1px solid #A2AAB8;
	background-color: #B8BEC9;
	background-image: url('../icons/gfx/alt_menu_mainitem_bg.gif');
	background-repeat: repeat-x;
}

table#typo3-versionSelector td {
	color: #FFFFFF;
}

.ver-element { background-color: #D7DBE2; }
.ver-page { background-color: #ccccff; }
.ver-branch { background-color: #ffcccc; }
.ver-branchpoint { background-color: #ff9999; }
.ver-versions { background-color: #ffffaa; }
