/*
 * typo3-dyntabmenu.css
 */


/*
* The dyntabmenu
*/

div.typo3-dyntabmenu-tabs {
	margin: 0;
	padding: 0;
}

DIV.typo3-dyntabmenu-divs P.c-descr {
	padding: 0;
	margin: 0;
}

table#typo3-tabmenu td.tab,
table.typo3-dyntabmenu td {
	color: #E6E1B2;
	border: solid 1px #A2AAB8;
	border-bottom: 0;
	padding: 0;
	cursor: pointer;
}

table#typo3-tabmenu td.tab,
table.typo3-dyntabmenu td.tab {
	background-color: transparent;
}

table#typo3-tabmenu td.tabact,
table.typo3-dyntabmenu td.tabact:hover,
table.typo3-dyntabmenu td.tabact a {
	background-color: #F8F9FB;
}

table#typo3-tabmenu td.disabled,
table.typo3-dyntabmenu td.disabled,
table.typo3-dyntabmenu td.disabled_over {
	padding: 5px 10px 5px 10px;
	color: #A2AAB8;
	background-color: #EFEFF4;
}

table#typo3-tabmenu td a,
table.typo3-dyntabmenu td a {
	padding: 5px 10px 5px 10px;
	display: block;
	width: auto;
}

table#typo3-tabmenu td.tab:hover,
table#typo3-tabmenu td a:hover,
table.typo3-dyntabmenu td:hover,
table.typo3-dyntabmenu td a:hover {
	background-color: #F8F9FB;
}

div.typo3-dyntabmenu-divs-foldout div.disabled,  
div.typo3-dyntabmenu-divs-foldout div.disabled_over {
	background: #CCCCCC;
}
div.typo3-dyntabmenu-divs-foldout div.tab,
div.typo3-dyntabmenu-divs-foldout div.tabact { 
	background: #FEFEFE;
	
}

div.typo3-dyntabmenu-divs-foldout div.tab_over,
div.typo3-dyntabmenu-divs-foldout div.tabact_over { 
	background: #D7DBE2;
}

div.typo3-dyntabmenu-divs {
	padding:0;
}

.c-tablayer {
	margin: 0;
	padding: 0;
}

/* user settings */
#ext-setup-mod-index-php table.typo3-dyntabmenu td.tabact a {
	background-color: #eee;
}

#ext-setup-mod-index-php DIV.typo3-dyntabmenu-divs {
	padding-bottom: 12px;
	border: 1px solid #aaa;
	background-color: #eee;
}

#ext-setup-mod-index-php #user-setup-wrapper {
	float:left;
}
