/* Login Screen 
 * Warning:
 * DO NOT prevent the copyright notice from being shown!
 * According to the GPL license an interactive application must show such a notice on start-up ('If the program is interactive, make it output a short notice... ' - see GPL.txt)
 * Therefore preventing this notice from being properly shown is a violation of the license, regardless of whether you remove it or use the stylesheet to obstruct the display.
 
 */
body#typo3-index-php {
	background: #fff;
	margin: 0;
}

body#typo3-index-php #t3-login-form-outer {
	width: 100%;
}

body#typo3-index-php #t3-login-form {
	margin: 30px 16% 10px;
	width: 456px;
	text-align: left;
	font-size: 11px;
}

body#typo3-index-php .t3-headline {
	background: #b5bbc7 url('../backgrounds/login-box-header.png') repeat-x;
	padding-bottom: 2px;
	margin: 0;
	width: auto;
	border-bottom: 1px solid #d6d9df;
	min-height: 24px;
	height: auto !important;
	height: 24px;
}

body#typo3-index-php .t3-headline h2 {
	background: url('../icons/login-icon-key.gif') no-repeat 10px 5px;
	background-color: transparent;
	margin: 0;
	padding: 0 0 0 40px;
	float: left;
	color: #fff;
	font-size: 11px !important;
	vertical-align: middle;
	line-height: 24px;
}

body#typo3-index-php #t3-login-process {
	text-align: center;
}

body#typo3-index-php #t3-login-process h2 {
	background: url('../icons/login-submit-progress.gif') no-repeat 10px center;
	font-size: 11px !important;
	vertical-align: middle;
	color: #7F8083;
	padding: 20px 0 20px 50px;
	display: inline;
	position: relative;
	top: 45%;
}

body#typo3-index-php .t3-headline .t3-login-news-headline {
	background: url('../icons/login-icon-news.gif') no-repeat 10px center;
	background-color: transparent;
	margin: 0;
	padding: 0 0 0 40px;
	float: left;
	color: #fff;
	font-size: 11px !important;
	vertical-align: middle;
	line-height: 24px;
}

body#typo3-index-php .t3-headline:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

body#typo3-index-php .t3-icons {
	float: left;
	padding: 3px 5px 0 0;
}

body#typo3-index-php .t3-login-username {
	margin-top: 15px;
}

body#typo3-index-php .t3-login-field {
	height: 21px;
	padding: 0;
	margin: 5px 0 0;
	line-height: 21px;
	position: relative;
}

body#typo3-index-php .t3-login-field .t3-login-clearInputField {
	position: absolute;
	left: 275px;
	top: 5px;
}

body#typo3-index-php .t3-login-field .t3-login-alert-capslock {
	position: absolute;
	left: 297px;
	top: 2px;
}

body#typo3-index-php .t3-login-field label {
	color: #7f8083;
	float: left;
	padding-right: 10px;
	width: 85px;
}

body#typo3-index-php .t3-login-field input {
	color: #000;
	height: 19px;
	line-height: 19px;
	font-size: 11px;
	width: 168px;
	margin: 0;
	padding: 2px 23px 0 5px;
	border: 1px solid #7c7c7c;
	background: #ffffff url('../backgrounds/login-field-input.gif') repeat-x;
	-webkit-appearance: textfield;
}

body#typo3-index-php #t3-login-form-fields {
	padding: 14px 0 0 30px;
	margin: 0;
	display: none;
	font-size: 11px;
}

body#typo3-index-php #t3-interfaceselector {
	width: 198px;
	font-size: 11px;
}

body#typo3-index-php #t3-interfaceselector option {
	height: 19px;
}

body#typo3-index-php .t3-login-form-footer {
	text-align: right;
	vertical-align: middle;
	margin: 10px 0 0;
}

body#typo3-index-php .t3-login-form-footer a {
	cursor: pointer;
}
	
body#typo3-index-php #t3-login-openIdLogo {
	position: absolute;
	top: -4px;
	right: 0;
}

body#typo3-index-php .t3-login-form-footer,
body#typo3-index-php .t3-login-form-footer a.switchToOpenId,
body#typo3-index-php dl#t3-login-news a {
	color: #777d7d;
	font-size: 10px;
}

body#typo3-index-php .t3-login-form-footer a.switchToOpenId,
body#typo3-index-php dl#t3-login-news a {
	text-decoration: underline;
}

body#typo3-index-php .t3-login-form-footer a.switchToOpenId:hover,
body#typo3-index-php dl#t3-login-news a:hover {
	color: #333;
}

body#typo3-index-php .t3-login-openid-disabled .t3-login-form-footer,
body#typo3-index-php .t3-login-openid-disabled #t3-login-openIdLogo {
	display: none;
}

body#typo3-index-php .t3-login-submit {
	margin: 15px 0 0 95px;
	padding: 3px 16px;
	text-align: left;
}

body#typo3-index-php .t3-login-error {
	background-color: #ffd6cf;
	border: 3px solid #be0027;
	color: #be0027;
	font-size: 14px;
	font-weight: bold;
	margin: 2px;
	padding: 10px;
}

body#typo3-index-php div#t3-copyright-notice {
	margin-top: 15px;
	font-weight: normal;
	color: #b0b0b0;
}

* html body#typo3-index-php div#t3-copyright-notice {
	height: 35px;
}

body#typo3-index-php div#t3-copyright-notice a {
	color: #b0b0b0;
	text-decoration: underline;
}
body#typo3-index-php div#t3-copyright-notice a:hover {
	color: #333;
}

body#typo3-index-php div#t3-copyright-notice img {
	display: none;
}

body#typo3-index-php div#t3-login-image {
	text-align: left;
	height: auto;
	padding: 0;
	margin: 0 0 30px;
}

body#typo3-index-php #t3-footer {
	border-top: 1px solid #d1d2d3;
	margin: 40px 16% 10px;
	width: 456px;
}

body#typo3-index-php #t3-meta-links {
	margin-top: 15px;
	color: #b0b0b0;
}

body#typo3-index-php #t3-meta-links a {
	color: #b0b0b0;
	text-decoration: underline;
}

body#typo3-index-php #t3-meta-links a.t3-login-link-donate {
	font-weight: bold;
}

body#typo3-index-php #t3-meta-links a:hover {
	color: #000;
}

/**
 * @section login news
 */
body#typo3-index-php #t3-login-news-outer {
	margin-top: 35px;
}

body#typo3-index-php #t3-login-news-outer .t3-login-box-body {
	padding-top: 0;
	padding-bottom: 20px;
}

body#typo3-index-php #t3-login-news-outer #t3-login-news {
	margin: 0 30px;
	clear: both;
}

body#typo3-index-php #t3-login-news-outer #t3-login-news .t3-login-news-item {
	padding-top: 20px;
}

body#typo3-index-php #t3-login-news-outer #t3-login-news dt {
	font-weight: bold;
}

body#typo3-index-php #t3-login-news-outer #t3-login-news dd {
	margin-left: 0;
	border: 0;
	padding: 0;
	clear: both;
}

/**
 * @section logout
 */

body#typo3-index-php .t3-login-logout-form .t3-username-current {
	color: #7f8083;
	float: left;
	line-height: 21px;
	height: 21px;
	vertical-align: middle;
}

body#typo3-index-php .t3-login-logout-form div.t3-login-label {
	color: #7f8083;
	float: left;
	padding-right: 10px;
	width: 85px;
	line-height: 21px;
}

/**
 * @section erros/warnings
 */

.t3-login-alert {
	padding: 15px;
}

.t3-login-alert h2 {
	margin: 0;
	background: none;
	font-size: 14px;
	line-height: 18px;
	padding: 0 10px 0 30px;
}

.t3-login-alert p {
	margin: 10px 0 0 0;
	padding: 0 10px 0 30px;
	font-size: 11px;
	line-height: 15px;
}

.t3-login-alert a {
	text-decoration: underline;
}

.t3-login-alert-error {
	background: #f6d3cf;
	border: 1px solid #d66c68;
}

.t3-login-alert-error h2 {
	background: url('../icons/login-alert-error.gif') no-repeat left 2px;
	color: #be0027;
}

.t3-login-alert-error p,
.t3-login-alert-error a {
	color: #be0027;
}

.t3-login-alert-warning {
	background: #fbf6de;
	border: 1px solid #b1905c;
}

.t3-login-alert-warning h2 {
	background: url('../icons/login-alert-warning.gif') no-repeat left 2px;
	color: #9e7d4a;
}

.t3-login-alert-warning p,
.t3-login-alert-warning a {
	color: #9e7d4a;
}

/**
 * @section box layout
 */

.t3-login-box {
	border: 1px solid #d6d9df;
	border-bottom: none;
}

.t3-login-box-body {
	background: #e3e5ea url('../backgrounds/login-box-body.png') repeat-x;
	padding: 10px;
}

.t3-login-box-border-bottom {
	height: 6px;
	background: url('../backgrounds/login-border-bottom.png') top left no-repeat;
}