/*
 *	typo3-alt-menu-php.css
 */

table#typo3-vmenu {
	/* width: 120px; */
	width: 99%;
}


/* mainitem */

table#typo3-vmenu tr.c-mainitem td,
table#typo3-adminmenu tr.c-mainitem td {
	height: 20px;
	border: 1px solid #A2AAB8;
	background-color: #B8BEC9;
	background-image: url('../icons/gfx/alt_menu_mainitem_bg.gif');
	background-repeat: repeat-x;
	vertical-align: middle;
}

span.c-label {
	color: #FFFFFF;
}

span.c-label a {
	color: #FFFFFF;
	text-decoration: underline;
}

span.c-iconCollapse {
/*	TODO: align icon left
	position: absolute;
	right: 15px;*/
	cursor: pointer;
}

/* subitem */

table#typo3-vmenu tr.c-subitem-row-HL a,
table#typo3-vmenu td.c-subitem-label a {
	display: block;
	width: 105px;
	height: 15px;
	overflow: hidden;
}

table#typo3-vmenu tr.c-subitem-row-HL {
	background-color: #D7DBE2;
	font-weight: bold;
}

table#typo3-vmenu tr.c-subitem-row:hover,
table#typo3-vmenu td.c-subitem-label a:hover {
	background-color: #D7DBE2;
}


/* admin functions */

div#typo3-alt-menu-php-adminFunc {
	width: 99%;
}

div#typo3-alt-menu-php-logininfo input {
	background-color: #A2AAB8;
	color: #FFFFFF;
}
