/**
*	typo3-tree.css
*/

table#typo3-tree,
table#typo3-browsetree {
	margin: 10px 0 20px 10px;
}

ul.tree ul li.expanded ul { background: transparent url('../icons/gfx/ol/line.gif') top left repeat-y; }
ul.tree ul li.last    	  { background: transparent url('../icons/gfx/ol/joinbottom.gif') no-repeat top left; } 
ul.tree ul li.last > ul   { background: none; }
ul.tree li.active, ul.tree ul li.active      { background-color: #D7DBE2 !important; }
ul.tree li.active span a, ul.tree ul li.active span a { font-weight: bold; }
ul.tree li.active ul, ul.tree ul li.active ul   { background-color: #EFEFF4; }
ul.tree li.active ul span a, ul.tree ul li.active ul span a { font-weight: normal; }
