		<div id="t3-login-openIdLogo" style="display: none">
			<img src="sysext/t3skin/icons/logo-openid.png" alt="OpenID" title="OpenID" />

<!-- ###LOGIN_FORM### begin -->
<div class="t3-login-field">
	<input type="text" id="t3-username" name="username" value="###VALUE_USERNAME###" placeholder="###LABEL_USERNAME###" class="t3-username" autofocus="autofocus" />

	<div class="t3-login-clearInputField">
		<a id="t3-username-clearIcon" style="display: none;">
			<img src="sysext/t3skin/icons/common-input-clear.png" alt="###CLEAR###" title="###CLEAR###" />
		</a>
	</div>
</div>
<!-- ###LOGIN_FORM### end -->

<!-- ###LOGIN_FORM_SWITCH### begin -->
<a id="t3-login-switchToOpenId" class="switchToOpenId">###LABEL_SWITCHOPENID###</a>
<!-- ###LOGIN_FORM_SWITCH### end -->

<!-- ###LOGIN_FORM_FOOTER### begin -->
<div id="t3-login-form-footer-openId" style="display: none">
    <a href="http://openid.net/" id="t3-login-whatIsOpenId" target="_blank" class="switchToOpenId">###LABEL_WHATISOPENID###</a>
    ###SWITCHES###
</div>
<!-- ###LOGIN_FORM_FOOTER### end -->
