.t3-icon-flags {
	background-image: url('../../images/sprites/flags.png?1295987454');
	height: 11px;
	width: 16px;
}
.t3-icon-england-overlay {
	background-position: -18px -280px;
	height: 16px;

}
.t3-icon-nf-overlay {
	background-position: -0px -388px;
	height: 16px;

}
.t3-icon-lb {
	background-position: -234px -91px;

}
.t3-icon-cl {
	background-position: -216px -26px;

}
.t3-icon-gn-overlay {
	background-position: -108px -298px;
	height: 16px;

}
.t3-icon-mk-overlay {
	background-position: -234px -352px;
	height: 16px;

}
.t3-icon-ml-overlay {
	background-position: -252px -352px;
	height: 16px;

}
.t3-icon-ar-overlay {
	background-position: -162px -208px;
	height: 16px;

}
.t3-icon-ky {
	background-position: -180px -91px;

}
.t3-icon-mn-overlay {
	background-position: -0px -370px;
	height: 16px;

}
.t3-icon-gm-overlay {
	background-position: -90px -298px;
	height: 16px;

}
.t3-icon-mq-overlay {
	background-position: -54px -370px;
	height: 16px;

}
.t3-icon-kn-overlay {
	background-position: -108px -334px;
	height: 16px;

}
.t3-icon-pe-overlay {
	background-position: -198px -388px;
	height: 16px;

}
.t3-icon-ar {
	background-position: -162px -0px;

}
.t3-icon-ps-overlay {
	background-position: -72px -406px;
	height: 16px;

}
.t3-icon-gy-overlay {
	background-position: -252px -298px;
	height: 16px;

}
.t3-icon-ee {
	background-position: -252px -39px;

}
.t3-icon-bo {
	background-position: -198px -13px;

}
.t3-icon-co-overlay {
	background-position: -270px -244px;
	height: 16px;

}
.t3-icon-dj-overlay {
	background-position: -144px -262px;
	height: 16px;

}
.t3-icon-zm-overlay {
	background-position: -108px -478px;
	height: 16px;

}
.t3-icon-ps {
	background-position: -90px -143px;

}
.t3-icon-nl {
	background-position: -72px -130px;

}
.t3-icon-fam {
	background-position: -108px -52px;

}
.t3-icon-vi {
	background-position: -252px -182px;

}
.t3-icon-cd-overlay {
	background-position: -108px -244px;
	height: 16px;

}
.t3-icon-scotland {
	background-position: -54px -156px;

}
.t3-icon-ls-overlay {
	background-position: -36px -352px;
	height: 16px;

}
.t3-icon-us {
	background-position: -126px -182px;

}
.t3-icon-fk-overlay {
	background-position: -162px -280px;
	height: 16px;

}
.t3-icon-si-overlay {
	background-position: -126px -424px;
	height: 16px;

}
.t3-icon-ms {
	background-position: -90px -117px;

}
.t3-icon-ad {
	background-position: -0px -0px;

}
.t3-icon-bf {
	background-position: -72px -13px;

}
.t3-icon-bg-overlay {
	background-position: -90px -226px;
	height: 16px;

}
.t3-icon-kz-overlay {
	background-position: -198px -334px;
	height: 16px;

}
.t3-icon-cv-overlay {
	background-position: -54px -262px;
	height: 16px;

}
.t3-icon-ga {
	background-position: -234px -52px;

}
.t3-icon-cy-overlay {
	background-position: -90px -262px;
	height: 16px;

}
.t3-icon-au {
	background-position: -216px -0px;

}
.t3-icon-pn {
	background-position: -54px -143px;

}
.t3-icon-ni-overlay {
	background-position: -36px -388px;
	height: 16px;

}
.t3-icon-lu {
	background-position: -72px -104px;

}
.t3-icon-kr {
	background-position: -144px -91px;

}
.t3-icon-bw-overlay {
	background-position: -0px -244px;
	height: 16px;

}
.t3-icon-tv {
	background-position: -18px -182px;

}
.t3-icon-fj {
	background-position: -144px -52px;

}
.t3-icon-mq {
	background-position: -54px -117px;

}
.t3-icon-sn-overlay {
	background-position: -216px -424px;
	height: 16px;

}
.t3-icon-vg-overlay {
	background-position: -216px -460px;
	height: 16px;

}
.t3-icon-tn-overlay {
	background-position: -216px -442px;
	height: 16px;

}
.t3-icon-pa {
	background-position: -198px -130px;

}
.t3-icon-ne {
	background-position: -0px -130px;

}
.t3-icon-ne-overlay {
	background-position: -270px -370px;
	height: 16px;

}
.t3-icon-km-overlay {
	background-position: -90px -334px;
	height: 16px;

}
.t3-icon-yt {
	background-position: -90px -195px;

}
.t3-icon-ir-overlay {
	background-position: -198px -316px;
	height: 16px;

}
.t3-icon-ae {
	background-position: -18px -0px;

}
.t3-icon-na-overlay {
	background-position: -234px -370px;
	height: 16px;

}
.t3-icon-ag {
	background-position: -54px -0px;

}
.t3-icon-sy {
	background-position: -36px -169px;

}
.t3-icon-iq-overlay {
	background-position: -180px -316px;
	height: 16px;

}
.t3-icon-dj {
	background-position: -144px -39px;

}
.t3-icon-au-overlay {
	background-position: -216px -208px;
	height: 16px;

}
.t3-icon-lk-overlay {
	background-position: -0px -352px;
	height: 16px;

}
.t3-icon-sh {
	background-position: -126px -156px;

}
.t3-icon-tk-overlay {
	background-position: -162px -442px;
	height: 16px;

}
.t3-icon-si {
	background-position: -144px -156px;

}
.t3-icon-az-overlay {
	background-position: -270px -208px;
	height: 16px;

}
.t3-icon-tr-overlay {
	background-position: -252px -442px;
	height: 16px;

}
.t3-icon-pg {
	background-position: -252px -130px;

}
.t3-icon-hn-overlay {
	background-position: -18px -316px;
	height: 16px;

}
.t3-icon-md-overlay {
	background-position: -162px -352px;
	height: 16px;

}
.t3-icon-ve {
	background-position: -216px -182px;

}
.t3-icon-dm-overlay {
	background-position: -180px -262px;
	height: 16px;

}
.t3-icon-gs {
	background-position: -180px -65px;

}
.t3-icon-ug-overlay {
	background-position: -72px -460px;
	height: 16px;

}
.t3-icon-sc {
	background-position: -36px -156px;

}
.t3-icon-mg-overlay {
	background-position: -198px -352px;
	height: 16px;

}
.t3-icon-cn {
	background-position: -252px -26px;

}
.t3-icon-rs {
	background-position: -234px -143px;

}
.t3-icon-ie {
	background-position: -108px -78px;

}
.t3-icon-bj {
	background-position: -144px -13px;

}
.t3-icon-gt-overlay {
	background-position: -198px -298px;
	height: 16px;

}
.t3-icon-am {
	background-position: -108px -0px;

}
.t3-icon-cf {
	background-position: -126px -26px;

}
.t3-icon-fr-overlay {
	background-position: -216px -280px;
	height: 16px;

}
.t3-icon-ir {
	background-position: -198px -78px;

}
.t3-icon-tz {
	background-position: -54px -182px;

}
.t3-icon-gh {
	background-position: -36px -65px;

}
.t3-icon-jp-overlay {
	background-position: -0px -334px;
	height: 16px;

}
.t3-icon-sa {
	background-position: -0px -156px;

}
.t3-icon-tf-overlay {
	background-position: -90px -442px;
	height: 16px;

}
.t3-icon-ke-overlay {
	background-position: -18px -334px;
	height: 16px;

}
.t3-icon-io-overlay {
	background-position: -162px -316px;
	height: 16px;

}
.t3-icon-it-overlay {
	background-position: -234px -316px;
	height: 16px;

}
.t3-icon-jm-overlay {
	background-position: -252px -316px;
	height: 16px;

}
.t3-icon-ca-overlay {
	background-position: -54px -244px;
	height: 16px;

}
.t3-icon-se-overlay {
	background-position: -72px -424px;
	height: 16px;

}
.t3-icon-er-overlay {
	background-position: -36px -280px;
	height: 16px;

}
.t3-icon-mx-overlay {
	background-position: -180px -370px;
	height: 16px;

}
.t3-icon-th {
	background-position: -144px -169px;

}
.t3-icon-my-overlay {
	background-position: -198px -370px;
	height: 16px;

}
.t3-icon-by-overlay {
	background-position: -18px -244px;
	height: 16px;

}
.t3-icon-et {
	background-position: -72px -52px;

}
.t3-icon-gr-overlay {
	background-position: -162px -298px;
	height: 16px;

}
.t3-icon-ph-overlay {
	background-position: -252px -388px;
	height: 16px;

}
.t3-icon-om-overlay {
	background-position: -162px -388px;
	height: 16px;

}
.t3-icon-it {
	background-position: -234px -78px;

}
.t3-icon-mv {
	background-position: -162px -117px;

}
.t3-icon-lr-overlay {
	background-position: -18px -352px;
	height: 16px;

}
.t3-icon-mx {
	background-position: -198px -117px;

}
.t3-icon-bn {
	background-position: -180px -13px;

}
.t3-icon-gi-overlay {
	background-position: -54px -298px;
	height: 16px;

}
.t3-icon-qc {
	background-position: -180px -143px;

}
.t3-icon-ax {
	background-position: -252px -0px;

}
.t3-icon-mn {
	background-position: -0px -117px;

}
.t3-icon-lb-overlay {
	background-position: -234px -334px;
	height: 16px;

}
.t3-icon-pg-overlay {
	background-position: -234px -388px;
	height: 16px;

}
.t3-icon-sh-overlay {
	background-position: -108px -424px;
	height: 16px;

}
.t3-icon-lt-overlay {
	background-position: -54px -352px;
	height: 16px;

}
.t3-icon-pa-overlay {
	background-position: -180px -388px;
	height: 16px;

}
.t3-icon-lv-overlay {
	background-position: -90px -352px;
	height: 16px;

}
.t3-icon-scotland-overlay {
	background-position: -36px -424px;
	height: 16px;

}
.t3-icon-do {
	background-position: -198px -39px;

}
.t3-icon-mk {
	background-position: -234px -104px;

}
.t3-icon-hm-overlay {
	background-position: -0px -316px;
	height: 16px;

}
.t3-icon-io {
	background-position: -162px -78px;

}
.t3-icon-hr-overlay {
	background-position: -36px -316px;
	height: 16px;

}
.t3-icon-ye {
	background-position: -72px -195px;

}
.t3-icon-mg {
	background-position: -198px -104px;

}
.t3-icon-pm-overlay {
	background-position: -18px -406px;
	height: 16px;

}
.t3-icon-mt-overlay {
	background-position: -108px -370px;
	height: 16px;

}
.t3-icon-et-overlay {
	background-position: -72px -280px;
	height: 16px;

}
.t3-icon-at-overlay {
	background-position: -198px -208px;
	height: 16px;

}
.t3-icon-gh-overlay {
	background-position: -36px -298px;
	height: 16px;

}
.t3-icon-gw-overlay {
	background-position: -234px -298px;
	height: 16px;

}
.t3-icon-fm-overlay {
	background-position: -180px -280px;
	height: 16px;

}
.t3-icon-sj-overlay {
	background-position: -144px -424px;
	height: 16px;

}
.t3-icon-cm {
	background-position: -234px -26px;

}
.t3-icon-dz {
	background-position: -216px -39px;

}
.t3-icon-tm {
	background-position: -216px -169px;

}
.t3-icon-bw {
	background-position: -0px -26px;

}
.t3-icon-ci {
	background-position: -180px -26px;

}
.t3-icon-ve-overlay {
	background-position: -198px -460px;
	height: 16px;

}
.t3-icon-re {
	background-position: -198px -143px;

}
.t3-icon-bm-overlay {
	background-position: -162px -226px;
	height: 16px;

}
.t3-icon-mw-overlay {
	background-position: -162px -370px;
	height: 16px;

}
.t3-icon-vg {
	background-position: -234px -182px;

}
.t3-icon-er {
	background-position: -36px -52px;

}
.t3-icon-af {
	background-position: -36px -0px;

}
.t3-icon-qa {
	background-position: -162px -143px;

}
.t3-icon-tv-overlay {
	background-position: -0px -460px;
	height: 16px;

}
.t3-icon-dz-overlay {
	background-position: -216px -262px;
	height: 16px;

}
.t3-icon-pr-overlay {
	background-position: -54px -406px;
	height: 16px;

}
.t3-icon-in {
	background-position: -144px -78px;

}
.t3-icon-vi-overlay {
	background-position: -234px -460px;
	height: 16px;

}
.t3-icon-zm {
	background-position: -126px -195px;

}
.t3-icon-ba-overlay {
	background-position: -0px -226px;
	height: 16px;

}
.t3-icon-hu-overlay {
	background-position: -72px -316px;
	height: 16px;

}
.t3-icon-eg-overlay {
	background-position: -270px -262px;
	height: 16px;

}
.t3-icon-pr {
	background-position: -72px -143px;

}
.t3-icon-hu {
	background-position: -72px -78px;

}
.t3-icon-vc-overlay {
	background-position: -180px -460px;
	height: 16px;

}
.t3-icon-lt {
	background-position: -54px -104px;

}
.t3-icon-gw {
	background-position: -234px -65px;

}
.t3-icon-eh-overlay {
	background-position: -0px -280px;
	height: 16px;

}
.t3-icon-sd-overlay {
	background-position: -54px -424px;
	height: 16px;

}
.t3-icon-sa-overlay {
	background-position: -270px -406px;
	height: 16px;

}
.t3-icon-ug {
	background-position: -90px -182px;

}
.t3-icon-id {
	background-position: -90px -78px;

}
.t3-icon-bb-overlay {
	background-position: -18px -226px;
	height: 16px;

}
.t3-icon-mo {
	background-position: -18px -117px;

}
.t3-icon-gd-overlay {
	background-position: -270px -280px;
	height: 16px;

}
.t3-icon-mu-overlay {
	background-position: -126px -370px;
	height: 16px;

}
.t3-icon-bh-overlay {
	background-position: -108px -226px;
	height: 16px;

}
.t3-icon-cc {
	background-position: -90px -26px;

}
.t3-icon-de-overlay {
	background-position: -126px -262px;
	height: 16px;

}
.t3-icon-uz-overlay {
	background-position: -144px -460px;
	height: 16px;

}
.t3-icon-tj {
	background-position: -162px -169px;

}
.t3-icon-sc-overlay {
	background-position: -18px -424px;
	height: 16px;

}
.t3-icon-wales-overlay {
	background-position: -0px -478px;
	height: 16px;

}
.t3-icon-be {
	background-position: -54px -13px;

}
.t3-icon-qc-overlay {
	background-position: -162px -406px;
	height: 16px;

}
.t3-icon-ht-overlay {
	background-position: -54px -316px;
	height: 16px;

}
.t3-icon-uz {
	background-position: -162px -182px;

}
.t3-icon-ai-overlay {
	background-position: -72px -208px;
	height: 16px;

}
.t3-icon-ke {
	background-position: -18px -91px;

}
.t3-icon-uy-overlay {
	background-position: -126px -460px;
	height: 16px;

}
.t3-icon-np {
	background-position: -108px -130px;

}
.t3-icon-is-overlay {
	background-position: -216px -316px;
	height: 16px;

}
.t3-icon-dm {
	background-position: -180px -39px;

}
.t3-icon-sl {
	background-position: -198px -156px;

}
.t3-icon-do-overlay {
	background-position: -198px -262px;
	height: 16px;

}
.t3-icon-cx {
	background-position: -72px -39px;

}
.t3-icon-zw {
	background-position: -144px -195px;

}
.t3-icon-mr {
	background-position: -72px -117px;

}
.t3-icon-aw {
	background-position: -234px -0px;

}
.t3-icon-ma {
	background-position: -126px -104px;

}
.t3-icon-la-overlay {
	background-position: -216px -334px;
	height: 16px;

}
.t3-icon-se {
	background-position: -90px -156px;

}
.t3-icon-pm {
	background-position: -36px -143px;

}
.t3-icon-ch-overlay {
	background-position: -162px -244px;
	height: 16px;

}
.t3-icon-eh {
	background-position: -0px -52px;

}
.t3-icon-tj-overlay {
	background-position: -144px -442px;
	height: 16px;

}
.t3-icon-sb {
	background-position: -18px -156px;

}
.t3-icon-td {
	background-position: -90px -169px;

}
.t3-icon-catalonia {
	background-position: -72px -26px;

}
.t3-icon-ws-overlay {
	background-position: -36px -478px;
	height: 16px;

}
.t3-icon-sd {
	background-position: -72px -156px;

}
.t3-icon-ec-overlay {
	background-position: -234px -262px;
	height: 16px;

}
.t3-icon-kh-overlay {
	background-position: -54px -334px;
	height: 16px;

}
.t3-icon-bn-overlay {
	background-position: -180px -226px;
	height: 16px;

}
.t3-icon-gp {
	background-position: -126px -65px;

}
.t3-icon-nc {
	background-position: -270px -117px;

}
.t3-icon-gi {
	background-position: -54px -65px;

}
.t3-icon-bi {
	background-position: -126px -13px;

}
.t3-icon-vu {
	background-position: -0px -195px;

}
.t3-icon-sy-overlay {
	background-position: -18px -442px;
	height: 16px;

}
.t3-icon-br {
	background-position: -216px -13px;

}
.t3-icon-mo-overlay {
	background-position: -18px -370px;
	height: 16px;

}
.t3-icon-az {
	background-position: -270px -0px;

}
.t3-icon-iq {
	background-position: -180px -78px;

}
.t3-icon-sv-overlay {
	background-position: -0px -442px;
	height: 16px;

}
.t3-icon-mp {
	background-position: -36px -117px;

}
.t3-icon-cm-overlay {
	background-position: -234px -244px;
	height: 16px;

}
.t3-icon-ml {
	background-position: -252px -104px;

}
.t3-icon-kp-overlay {
	background-position: -126px -334px;
	height: 16px;

}
.t3-icon-ki {
	background-position: -72px -91px;

}
.t3-icon-gu-overlay {
	background-position: -216px -298px;
	height: 16px;

}
.t3-icon-me {
	background-position: -180px -104px;

}
.t3-icon-gr {
	background-position: -162px -65px;

}
.t3-icon-mw {
	background-position: -180px -117px;

}
.t3-icon-pf {
	background-position: -234px -130px;

}
.t3-icon-gu {
	background-position: -216px -65px;

}
.t3-icon-kg {
	background-position: -36px -91px;

}
.t3-icon-rs-overlay {
	background-position: -216px -406px;
	height: 16px;

}
.t3-icon-gb-overlay {
	background-position: -252px -280px;
	height: 16px;

}
.t3-icon-sm-overlay {
	background-position: -198px -424px;
	height: 16px;

}
.t3-icon-pt-overlay {
	background-position: -90px -406px;
	height: 16px;

}
.t3-icon-cs-overlay {
	background-position: -18px -262px;
	height: 16px;

}
.t3-icon-bg {
	background-position: -90px -13px;

}
.t3-icon-gq {
	background-position: -144px -65px;

}
.t3-icon-sn {
	background-position: -234px -156px;

}
.t3-icon-gm {
	background-position: -90px -65px;

}
.t3-icon-kr-overlay {
	background-position: -144px -334px;
	height: 16px;

}
.t3-icon-ng-overlay {
	background-position: -18px -388px;
	height: 16px;

}
.t3-icon-ms-overlay {
	background-position: -90px -370px;
	height: 16px;

}
.t3-icon-ao {
	background-position: -144px -0px;

}
.t3-icon-ye-overlay {
	background-position: -54px -478px;
	height: 16px;

}
.t3-icon-vc {
	background-position: -198px -182px;

}
.t3-icon-om {
	background-position: -180px -130px;

}
.t3-icon-ci-overlay {
	background-position: -180px -244px;
	height: 16px;

}
.t3-icon-kz {
	background-position: -198px -91px;

}
.t3-icon-tw {
	background-position: -36px -182px;

}
.t3-icon-to-overlay {
	background-position: -234px -442px;
	height: 16px;

}
.t3-icon-va {
	background-position: -180px -182px;

}
.t3-icon-tn {
	background-position: -234px -169px;

}
.t3-icon-sr {
	background-position: -270px -156px;

}
.t3-icon-catalonia-overlay {
	background-position: -72px -244px;
	height: 16px;

}
.t3-icon-sj {
	background-position: -162px -156px;

}
.t3-icon-ca {
	background-position: -54px -26px;

}
.t3-icon-nf {
	background-position: -18px -130px;

}
.t3-icon-aw-overlay {
	background-position: -234px -208px;
	height: 16px;

}
.t3-icon-mh {
	background-position: -216px -104px;

}
.t3-icon-vu-overlay {
	background-position: -270px -460px;
	height: 16px;

}
.t3-icon-an {
	background-position: -126px -0px;

}
.t3-icon-bm {
	background-position: -162px -13px;

}
.t3-icon-sk-overlay {
	background-position: -162px -424px;
	height: 16px;

}
.t3-icon-mh-overlay {
	background-position: -216px -352px;
	height: 16px;

}
.t3-icon-tg {
	background-position: -126px -169px;

}
.t3-icon-wf-overlay {
	background-position: -18px -478px;
	height: 16px;

}
.t3-icon-bv {
	background-position: -270px -13px;

}
.t3-icon-cu {
	background-position: -36px -39px;

}
.t3-icon-ge {
	background-position: -0px -65px;

}
.t3-icon-kh {
	background-position: -54px -91px;

}
.t3-icon-fam-overlay {
	background-position: -108px -280px;
	height: 16px;

}
.t3-icon-by {
	background-position: -18px -26px;

}
.t3-icon-gd {
	background-position: -270px -52px;

}
.t3-icon-za {
	background-position: -108px -195px;

}
.t3-icon-tw-overlay {
	background-position: -18px -460px;
	height: 16px;

}
.t3-icon-cv {
	background-position: -54px -39px;

}
.t3-icon-fo {
	background-position: -198px -52px;

}
.t3-icon-bb {
	background-position: -18px -13px;

}
.t3-icon-yt-overlay {
	background-position: -72px -478px;
	height: 16px;

}
.t3-icon-md {
	background-position: -162px -104px;

}
.t3-icon-cz-overlay {
	background-position: -108px -262px;
	height: 16px;

}
.t3-icon-tl {
	background-position: -198px -169px;

}
.t3-icon-ky-overlay {
	background-position: -180px -334px;
	height: 16px;

}
.t3-icon-sl-overlay {
	background-position: -180px -424px;
	height: 16px;

}
.t3-icon-tz-overlay {
	background-position: -36px -460px;
	height: 16px;

}
.t3-icon-ng {
	background-position: -36px -130px;

}
.t3-icon-ge-overlay {
	background-position: -0px -298px;
	height: 16px;

}
.t3-icon-tc-overlay {
	background-position: -54px -442px;
	height: 16px;

}
.t3-icon-ga-overlay {
	background-position: -234px -280px;
	height: 16px;

}
.t3-icon-eg {
	background-position: -270px -39px;

}
.t3-icon-pe {
	background-position: -216px -130px;

}
.t3-icon-sk {
	background-position: -180px -156px;

}
.t3-icon-qa-overlay {
	background-position: -144px -406px;
	height: 16px;

}
.t3-icon-bd {
	background-position: -36px -13px;

}
.t3-icon-pl-overlay {
	background-position: -0px -406px;
	height: 16px;

}
.t3-icon-gn {
	background-position: -108px -65px;

}
.t3-icon-at {
	background-position: -198px -0px;

}
.t3-icon-ck {
	background-position: -198px -26px;

}
.t3-icon-gs-overlay {
	background-position: -180px -298px;
	height: 16px;

}
.t3-icon-pf-overlay {
	background-position: -216px -388px;
	height: 16px;

}
.t3-icon-za-overlay {
	background-position: -90px -478px;
	height: 16px;

}
.t3-icon-sr-overlay {
	background-position: -252px -424px;
	height: 16px;

}
.t3-icon-nz-overlay {
	background-position: -144px -388px;
	height: 16px;

}
.t3-icon-so-overlay {
	background-position: -234px -424px;
	height: 16px;

}
.t3-icon-vn {
	background-position: -270px -182px;

}
.t3-icon-dk-overlay {
	background-position: -162px -262px;
	height: 16px;

}
.t3-icon-ht {
	background-position: -54px -78px;

}
.t3-icon-ni {
	background-position: -54px -130px;

}
.t3-icon-bf-overlay {
	background-position: -72px -226px;
	height: 16px;

}
.t3-icon-cu-overlay {
	background-position: -36px -262px;
	height: 16px;

}
.t3-icon-gp-overlay {
	background-position: -126px -298px;
	height: 16px;

}
.t3-icon-gf {
	background-position: -18px -65px;

}
.t3-icon-wf {
	background-position: -36px -195px;

}
.t3-icon-am-overlay {
	background-position: -108px -208px;
	height: 16px;

}
.t3-icon-ad-overlay {
	background-position: -0px -208px;
	height: 16px;

}
.t3-icon-jo {
	background-position: -270px -78px;

}
.t3-icon-tk {
	background-position: -180px -169px;

}
.t3-icon-me-overlay {
	background-position: -180px -352px;
	height: 16px;

}
.t3-icon-bz {
	background-position: -36px -26px;

}
.t3-icon-um-overlay {
	background-position: -90px -460px;
	height: 16px;

}
.t3-icon-in-overlay {
	background-position: -144px -316px;
	height: 16px;

}
.t3-icon-tr {
	background-position: -270px -169px;

}
.t3-icon-td-overlay {
	background-position: -72px -442px;
	height: 16px;

}
.t3-icon-as-overlay {
	background-position: -180px -208px;
	height: 16px;

}
.t3-icon-sb-overlay {
	background-position: -0px -424px;
	height: 16px;

}
.t3-icon-np-overlay {
	background-position: -90px -388px;
	height: 16px;

}
.t3-icon-gl-overlay {
	background-position: -72px -298px;
	height: 16px;

}
.t3-icon-lc-overlay {
	background-position: -252px -334px;
	height: 16px;

}
.t3-icon-sz {
	background-position: -54px -169px;

}
.t3-icon-bs-overlay {
	background-position: -234px -226px;
	height: 16px;

}
.t3-icon-lk {
	background-position: -0px -104px;

}
.t3-icon-hk {
	background-position: -270px -65px;

}
.t3-icon-mz {
	background-position: -234px -117px;

}
.t3-icon-fi-overlay {
	background-position: -126px -280px;
	height: 16px;

}
.t3-icon-mv-overlay {
	background-position: -144px -370px;
	height: 16px;

}
.t3-icon-ae-overlay {
	background-position: -18px -208px;
	height: 16px;

}
.t3-icon-bs {
	background-position: -234px -13px;

}
.t3-icon-pn-overlay {
	background-position: -36px -406px;
	height: 16px;

}
.t3-icon-ru-overlay {
	background-position: -234px -406px;
	height: 16px;

}
.t3-icon-re-overlay {
	background-position: -180px -406px;
	height: 16px;

}
.t3-icon-pt {
	background-position: -108px -143px;

}
.t3-icon-lr {
	background-position: -18px -104px;

}
.t3-icon-fj-overlay {
	background-position: -144px -280px;
	height: 16px;

}
.t3-icon-mz-overlay {
	background-position: -216px -370px;
	height: 16px;

}
.t3-icon-cx-overlay {
	background-position: -72px -262px;
	height: 16px;

}
.t3-icon-cl-overlay {
	background-position: -216px -244px;
	height: 16px;

}
.t3-icon-tg-overlay {
	background-position: -108px -442px;
	height: 16px;

}
.t3-icon-is {
	background-position: -216px -78px;

}
.t3-icon-cf-overlay {
	background-position: -126px -244px;
	height: 16px;

}
.t3-icon-ru {
	background-position: -252px -143px;

}
.t3-icon-br-overlay {
	background-position: -216px -226px;
	height: 16px;

}
.t3-icon-la {
	background-position: -216px -91px;

}
.t3-icon-bi-overlay {
	background-position: -126px -226px;
	height: 16px;

}
.t3-icon-to {
	background-position: -252px -169px;

}
.t3-icon-gt {
	background-position: -198px -65px;

}
.t3-icon-no-overlay {
	background-position: -72px -388px;
	height: 16px;

}
.t3-icon-ws {
	background-position: -54px -195px;

}
.t3-icon-kp {
	background-position: -126px -91px;

}
.t3-icon-ai {
	background-position: -72px -0px;

}
.t3-icon-cy {
	background-position: -90px -39px;

}
.t3-icon-de {
	background-position: -126px -39px;

}
.t3-icon-mm {
	background-position: -270px -104px;

}
.t3-icon-mm-overlay {
	background-position: -270px -352px;
	height: 16px;

}
.t3-icon-es-overlay {
	background-position: -54px -280px;
	height: 16px;

}
.t3-icon-sz-overlay {
	background-position: -36px -442px;
	height: 16px;

}
.t3-icon-us-overlay {
	background-position: -108px -460px;
	height: 16px;

}
.t3-icon-km {
	background-position: -90px -91px;

}
.t3-icon-cg-overlay {
	background-position: -144px -244px;
	height: 16px;

}
.t3-icon-ly {
	background-position: -108px -104px;

}
.t3-icon-lc {
	background-position: -252px -91px;

}
.t3-icon-so {
	background-position: -252px -156px;

}
.t3-icon-nu-overlay {
	background-position: -126px -388px;
	height: 16px;

}
.t3-icon-cr-overlay {
	background-position: -0px -262px;
	height: 16px;

}
.t3-icon-mt {
	background-position: -108px -117px;

}
.t3-icon-st {
	background-position: -0px -169px;

}
.t3-icon-sg-overlay {
	background-position: -90px -424px;
	height: 16px;

}
.t3-icon-il {
	background-position: -126px -78px;

}
.t3-icon-zw-overlay {
	background-position: -126px -478px;
	height: 16px;

}
.t3-icon-dk {
	background-position: -162px -39px;

}
.t3-icon-cd {
	background-position: -108px -26px;

}
.t3-icon-nz {
	background-position: -162px -130px;

}
.t3-icon-no {
	background-position: -90px -130px;

}
.t3-icon-tt-overlay {
	background-position: -270px -442px;
	height: 16px;

}
.t3-icon-tl-overlay {
	background-position: -180px -442px;
	height: 16px;

}
.t3-icon-ch {
	background-position: -162px -26px;

}
.t3-icon-bd-overlay {
	background-position: -36px -226px;
	height: 16px;

}
.t3-icon-nl-overlay {
	background-position: -54px -388px;
	height: 16px;

}
.t3-icon-py {
	background-position: -144px -143px;

}
.t3-icon-th-overlay {
	background-position: -126px -442px;
	height: 16px;

}
.t3-icon-nc-overlay {
	background-position: -252px -370px;
	height: 16px;

}
.t3-icon-hr {
	background-position: -36px -78px;

}
.t3-icon-ma-overlay {
	background-position: -126px -352px;
	height: 16px;

}
.t3-icon-gb {
	background-position: -252px -52px;

}
.t3-icon-il-overlay {
	background-position: -126px -316px;
	height: 16px;

}
.t3-icon-nu {
	background-position: -144px -130px;

}
.t3-icon-kn {
	background-position: -108px -91px;

}
.t3-icon-nr-overlay {
	background-position: -108px -388px;
	height: 16px;

}
.t3-icon-ao-overlay {
	background-position: -144px -208px;
	height: 16px;

}
.t3-icon-ua-overlay {
	background-position: -54px -460px;
	height: 16px;

}
.t3-icon-bh {
	background-position: -108px -13px;

}
.t3-icon-uy {
	background-position: -144px -182px;

}
.t3-icon-lv {
	background-position: -90px -104px;

}
.t3-icon-fr {
	background-position: -216px -52px;

}
.t3-icon-py-overlay {
	background-position: -126px -406px;
	height: 16px;

}
.t3-icon-ls {
	background-position: -36px -104px;

}
.t3-icon-rw {
	background-position: -270px -143px;

}
.t3-icon-li-overlay {
	background-position: -270px -334px;
	height: 16px;

}
.t3-icon-rw-overlay {
	background-position: -252px -406px;
	height: 16px;

}
.t3-icon-gy {
	background-position: -252px -65px;

}
.t3-icon-mu {
	background-position: -126px -117px;

}
.t3-icon-al-overlay {
	background-position: -90px -208px;
	height: 16px;

}
.t3-icon-ee-overlay {
	background-position: -252px -262px;
	height: 16px;

}
.t3-icon-um {
	background-position: -108px -182px;

}
.t3-icon-bt-overlay {
	background-position: -252px -226px;
	height: 16px;

}
.t3-icon-lu-overlay {
	background-position: -72px -352px;
	height: 16px;

}
.t3-icon-my {
	background-position: -216px -117px;

}
.t3-icon-cg {
	background-position: -144px -26px;

}
.t3-icon-cs {
	background-position: -18px -39px;

}
.t3-icon-sv {
	background-position: -18px -169px;

}
.t3-icon-bv-overlay {
	background-position: -270px -226px;
	height: 16px;

}
.t3-icon-kw {
	background-position: -162px -91px;

}
.t3-icon-cn-overlay {
	background-position: -252px -244px;
	height: 16px;

}
.t3-icon-sg {
	background-position: -108px -156px;

}
.t3-icon-hk-overlay {
	background-position: -270px -298px;
	height: 16px;

}
.t3-icon-bo-overlay {
	background-position: -198px -226px;
	height: 16px;

}
.t3-icon-ua {
	background-position: -72px -182px;

}
.t3-icon-va-overlay {
	background-position: -162px -460px;
	height: 16px;

}
.t3-icon-mc {
	background-position: -144px -104px;

}
.t3-icon-sm {
	background-position: -216px -156px;

}
.t3-icon-kw-overlay {
	background-position: -162px -334px;
	height: 16px;

}
.t3-icon-ec {
	background-position: -234px -39px;

}
.t3-icon-bj-overlay {
	background-position: -144px -226px;
	height: 16px;

}
.t3-icon-be-overlay {
	background-position: -54px -226px;
	height: 16px;

}
.t3-icon-nr {
	background-position: -126px -130px;

}
.t3-icon-ax-overlay {
	background-position: -252px -208px;
	height: 16px;

}
.t3-icon-fi {
	background-position: -126px -52px;

}
.t3-icon-pw {
	background-position: -126px -143px;

}
.t3-icon-vn-overlay {
	background-position: -252px -460px;
	height: 16px;

}
.t3-icon-kg-overlay {
	background-position: -36px -334px;
	height: 16px;

}
.t3-icon-hm {
	background-position: -0px -78px;

}
.t3-icon-na {
	background-position: -252px -117px;

}
.t3-icon-ro-overlay {
	background-position: -198px -406px;
	height: 16px;

}
.t3-icon-as {
	background-position: -180px -0px;

}
.t3-icon-ki-overlay {
	background-position: -72px -334px;
	height: 16px;

}
.t3-icon-tf {
	background-position: -108px -169px;

}
.t3-icon-fo-overlay {
	background-position: -198px -280px;
	height: 16px;

}
.t3-icon-bz-overlay {
	background-position: -36px -244px;
	height: 16px;

}
.t3-icon-tc {
	background-position: -72px -169px;

}
.t3-icon-cz {
	background-position: -108px -39px;

}
.t3-icon-jp {
	background-position: -0px -91px;

}
.t3-icon-fm {
	background-position: -180px -52px;

}
.t3-icon-pw-overlay {
	background-position: -108px -406px;
	height: 16px;

}
.t3-icon-gq-overlay {
	background-position: -144px -298px;
	height: 16px;

}
.t3-icon-mp-overlay {
	background-position: -36px -370px;
	height: 16px;

}
.t3-icon-ro {
	background-position: -216px -143px;

}
.t3-icon-bt {
	background-position: -252px -13px;

}
.t3-icon-af-overlay {
	background-position: -36px -208px;
	height: 16px;

}
.t3-icon-pk-overlay {
	background-position: -270px -388px;
	height: 16px;

}
.t3-icon-id-overlay {
	background-position: -90px -316px;
	height: 16px;

}
.t3-icon-an-overlay {
	background-position: -126px -208px;
	height: 16px;

}
.t3-icon-cc-overlay {
	background-position: -90px -244px;
	height: 16px;

}
.t3-icon-tm-overlay {
	background-position: -198px -442px;
	height: 16px;

}
.t3-icon-gl {
	background-position: -72px -65px;

}
.t3-icon-st-overlay {
	background-position: -270px -424px;
	height: 16px;

}
.t3-icon-mc-overlay {
	background-position: -144px -352px;
	height: 16px;

}
.t3-icon-europeanunion-overlay {
	background-position: -90px -280px;
	height: 16px;

}
.t3-icon-multiple {
	background-position: -144px -117px;

}
.t3-icon-pk {
	background-position: -0px -143px;

}
.t3-icon-ag-overlay {
	background-position: -54px -208px;
	height: 16px;

}
.t3-icon-fk {
	background-position: -162px -52px;

}
.t3-icon-li {
	background-position: -270px -91px;

}
.t3-icon-hn {
	background-position: -18px -78px;

}
.t3-icon-cr {
	background-position: -0px -39px;

}
.t3-icon-mr-overlay {
	background-position: -72px -370px;
	height: 16px;

}
.t3-icon-ph {
	background-position: -270px -130px;

}
.t3-icon-ie-overlay {
	background-position: -108px -316px;
	height: 16px;

}
.t3-icon-co {
	background-position: -270px -26px;

}
.t3-icon-pl {
	background-position: -18px -143px;

}
.t3-icon-england {
	background-position: -18px -52px;

}
.t3-icon-jo-overlay {
	background-position: -270px -316px;
	height: 16px;

}
.t3-icon-ck-overlay {
	background-position: -198px -244px;
	height: 16px;

}
.t3-icon-ly-overlay {
	background-position: -108px -352px;
	height: 16px;

}
.t3-icon-al {
	background-position: -90px -0px;

}
.t3-icon-es {
	background-position: -54px -52px;

}
.t3-icon-jm {
	background-position: -252px -78px;

}
.t3-icon-europeanunion {
	background-position: -90px -52px;

}
.t3-icon-tt {
	background-position: -0px -182px;

}
.t3-icon-gf-overlay {
	background-position: -18px -298px;
	height: 16px;

}
.t3-icon-wales {
	background-position: -18px -195px;

}
.t3-icon-ba {
	background-position: -0px -13px;

}
