.t3-icon-status-warning {
	background-image: url('../../images/sprites/t3-icon-status-warning.png');
}

.t3-icon-status-warning.t3-icon-warning-in-use {
	background-position: 0 -10px;
}

.t3-icon-status-warning.t3-icon-warning-lock {
	background-position: 0 -36px;
}