.t3-icon-actions-list {
	background-image: url('../../images/sprites/t3-icon-actions-list.png');
}

.t3-icon-actions-list.t3-icon-system-list-open {
	background-position: 0 -10px;
}

.t3-icon-actions-list.t3-icon-view-list-collapse {
	background-position: 0 -36px;
}

.t3-icon-actions-list.t3-icon-view-list-expand {
	background-position: 0 -62px;
}