.t3-icon-actions-page {
	background-image: url('../../images/sprites/t3-icon-actions-page.png');
}

.t3-icon-actions-page.t3-icon-page-move {
	background-position: 0 -10px;
}

.t3-icon-actions-page.t3-icon-page-new {
	background-position: 0 -36px;
}

.t3-icon-actions-page.t3-icon-page-open {
	background-position: 0 -62px;
}

.t3-icon-actions-page.t3-icon-version-page-open {
	background-position: 0 -88px;
}