
.t3-icon-status {
	background-image:url('../../images/sprites/t3-icon-status.png');
}

.t3-icon-status.t3-icon-version-17 {
	background-position: 0 0px;
}
.t3-icon-status.t3-icon-version-44 {
	background-position: 0 -24px;
}
.t3-icon-status.t3-icon-version-40 {
	background-position: 0 -48px;
}
.t3-icon-status.t3-icon-version-47 {
	background-position: 0 -72px;
}
.t3-icon-status.t3-icon-version-5 {
	background-position: 0 -96px;
}
.t3-icon-status.t3-icon-overlay-deleted {
	background-position: 0 -120px;
}
.t3-icon-status.t3-icon-version-3 {
	background-position: 0 -144px;
}
.t3-icon-status.t3-icon-overlay-includes-subpages {
	background-position: 0 -168px;
}
.t3-icon-status.t3-icon-version-21 {
	background-position: 0 -192px;
}
.t3-icon-status.t3-icon-dialog-ok {
	background-position: 0 -216px;
}
.t3-icon-status.t3-icon-version-18 {
	background-position: 0 -240px;
}
.t3-icon-status.t3-icon-version-46 {
	background-position: 0 -264px;
}
.t3-icon-status.t3-icon-version-38 {
	background-position: 0 -288px;
}
.t3-icon-status.t3-icon-status-checked {
	background-position: 0 -312px;
}
.t3-icon-status.t3-icon-version-19 {
	background-position: 0 -336px;
}
.t3-icon-status.t3-icon-dialog-error {
	background-position: 0 -360px;
}
.t3-icon-status.t3-icon-version-14 {
	background-position: 0 -384px;
}
.t3-icon-status.t3-icon-version-39 {
	background-position: 0 -408px;
}
.t3-icon-status.t3-icon-version-no-version {
	background-position: 0 -432px;
}
.t3-icon-status.t3-icon-user-group-backend {
	background-position: 0 -456px;
}
.t3-icon-status.t3-icon-status-edit-read-only {
	background-position: 0 -480px;
}
.t3-icon-status.t3-icon-version-11 {
	background-position: 0 -504px;
}
.t3-icon-status.t3-icon-user-group-frontend {
	background-position: 0 -528px;
}
.t3-icon-status.t3-icon-status-permission-granted {
	background-position: 0 -552px;
}
.t3-icon-status.t3-icon-warning-lock {
	background-position: 0 -576px;
}
.t3-icon-status.t3-icon-version-45 {
	background-position: 0 -600px;
}
.t3-icon-status.t3-icon-overlay-hidden {
	background-position: 0 -624px;
}
.t3-icon-status.t3-icon-version-4 {
	background-position: 0 -648px;
}
.t3-icon-status.t3-icon-version-28 {
	background-position: 0 -672px;
}
.t3-icon-status.t3-icon-version-24 {
	background-position: 0 -696px;
}
.t3-icon-status.t3-icon-version-15 {
	background-position: 0 -720px;
}
.t3-icon-status.t3-icon-overlay-icon-missing {
	background-position: 0 -744px;
}
.t3-icon-status.t3-icon-version-33 {
	background-position: 0 -768px;
}
.t3-icon-status.t3-icon-dialog-information {
	background-position: 0 -792px;
}
.t3-icon-status.t3-icon-version-22 {
	background-position: 0 -816px;
}
.t3-icon-status.t3-icon-user-frontend {
	background-position: 0 -840px;
}
.t3-icon-status.t3-icon-version-9 {
	background-position: 0 -864px;
}
.t3-icon-status.t3-icon-version-50 {
	background-position: 0 -888px;
}
.t3-icon-status.t3-icon-status-icon-missing {
	background-position: 0 -912px;
}
.t3-icon-status.t3-icon-version-29 {
	background-position: 0 -936px;
}
.t3-icon-status.t3-icon-version-13 {
	background-position: 0 -960px;
}
.t3-icon-status.t3-icon-version-6 {
	background-position: 0 -984px;
}
.t3-icon-status.t3-icon-user-backend {
	background-position: 0 -1008px;
}
.t3-icon-status.t3-icon-version-41 {
	background-position: 0 -1032px;
}
.t3-icon-status.t3-icon-version-16 {
	background-position: 0 -1056px;
}
.t3-icon-status.t3-icon-version-37 {
	background-position: 0 -1080px;
}
.t3-icon-status.t3-icon-system-extension-required {
	background-position: 0 -1104px;
}
.t3-icon-status.t3-icon-overlay-scheduled {
	background-position: 0 -1128px;
}
.t3-icon-status.t3-icon-version-34 {
	background-position: 0 -1152px;
}
.t3-icon-status.t3-icon-status-reference-soft {
	background-position: 0 -1176px;
}
.t3-icon-status.t3-icon-status-reference-hard {
	background-position: 0 -1200px;
}
.t3-icon-status.t3-icon-version-43 {
	background-position: 0 -1224px;
}
.t3-icon-status.t3-icon-version-2 {
	background-position: 0 -1248px;
}
.t3-icon-status.t3-icon-version-35 {
	background-position: 0 -1272px;
}
.t3-icon-status.t3-icon-version-49 {
	background-position: 0 -1296px;
}
.t3-icon-status.t3-icon-version-1 {
	background-position: 0 -1320px;
}
.t3-icon-status.t3-icon-overlay-locked {
	background-position: 0 -1344px;
}
.t3-icon-status.t3-icon-version-32 {
	background-position: 0 -1368px;
}
.t3-icon-status.t3-icon-version-36 {
	background-position: 0 -1392px;
}
.t3-icon-status.t3-icon-version-48 {
	background-position: 0 -1416px;
}
.t3-icon-status.t3-icon-version-30 {
	background-position: 0 -1440px;
}
.t3-icon-status.t3-icon-version-8 {
	background-position: 0 -1464px;
}
.t3-icon-status.t3-icon-status-locked {
	background-position: 0 -1488px;
}
.t3-icon-status.t3-icon-warning-in-use {
	background-position: 0 -1512px;
}
.t3-icon-status.t3-icon-status-workspace-draft {
	background-position: 0 -1536px;
}
.t3-icon-status.t3-icon-user-admin {
	background-position: 0 -1560px;
}
.t3-icon-status.t3-icon-overlay-scheduled-future-end {
	background-position: 0 -1584px;
}
.t3-icon-status.t3-icon-version-7 {
	background-position: 0 -1608px;
}
.t3-icon-status.t3-icon-version-10 {
	background-position: 0 -1632px;
}
.t3-icon-status.t3-icon-version-27 {
	background-position: 0 -1656px;
}
.t3-icon-status.t3-icon-version-23 {
	background-position: 0 -1680px;
}
.t3-icon-status.t3-icon-version-42 {
	background-position: 0 -1704px;
}
.t3-icon-status.t3-icon-dialog-notification {
	background-position: 0 -1728px;
}
.t3-icon-status.t3-icon-version-20 {
	background-position: 0 -1752px;
}
.t3-icon-status.t3-icon-status-current {
	background-position: 0 -1776px;
}
.t3-icon-status.t3-icon-version-25 {
	background-position: 0 -1800px;
}
.t3-icon-status.t3-icon-overlay-translated {
	background-position: 0 -1824px;
}
.t3-icon-status.t3-icon-version-31 {
	background-position: 0 -1848px;
}
.t3-icon-status.t3-icon-version-12 {
	background-position: 0 -1872px;
}
.t3-icon-status.t3-icon-dialog-warning {
	background-position: 0 -1896px;
}
.t3-icon-status.t3-icon-status-permission-denied {
	background-position: 0 -1920px;
}
.t3-icon-status.t3-icon-overlay-access-restricted {
	background-position: 0 -1944px;
}
.t3-icon-status.t3-icon-version-26 {
	background-position: 0 -1968px;
}