.t3-icon-actions-insert {
	background-image: url('../../images/sprites/t3-icon-actions-insert.png');
}

.t3-icon-actions-insert.t3-icon-insert-record {
	background-position: 0 -10px;
}

.t3-icon-actions-insert.t3-icon-insert-reference {
	background-position: 0 -36px;
}