.t3-icon-mimetypes-text {
	background-image: url('../../images/sprites/t3-icon-mimetypes-text.png');
}

.t3-icon-mimetypes-text.t3-icon-text-csv {
	background-position: 0 -10px;
}

.t3-icon-mimetypes-text.t3-icon-x-content-text-picture {
	background-position: 0 -36px;
}