.t3-icon-actions-backend {
	background-image: url('../../images/sprites/t3-icon-actions-backend.png');
}

.t3-icon-actions-backend.t3-icon-system-backend-user-emulate {
	background-position: 0 -10px;
}

.t3-icon-actions-backend.t3-icon-system-backend-user-switch {
	background-position: 0 -36px;
}