.t3-icon-actions-go {
	background-image: url('../../images/sprites/t3-icon-actions-go.png');
}

.t3-icon-actions-go.t3-icon-view-go-back {
	background-position: 0 -10px;
}

.t3-icon-actions-go.t3-icon-view-go-down {
	background-position: 0 -36px;
}

.t3-icon-actions-go.t3-icon-view-go-forward {
	background-position: 0 -62px;
}

.t3-icon-actions-go.t3-icon-view-go-up {
	background-position: 0 -88px;
}