.t3-icon-places-folder {
	background-image: url('../../images/sprites/t3-icon-places-folder.png');
}

.t3-icon-places-folder.t3-icon-folder-closed {
	background-position: 0 -10px;
}

.t3-icon-places-folder.t3-icon-folder-opened {
	background-position: 0 -36px;
}