.t3-icon-apps-toolbar {
	background-image: url('../../images/sprites/t3-icon-apps-toolbar.png');
}

.t3-icon-apps-toolbar.t3-icon-toolbar-menu-shortcut {
	background-position: 0 -10px;
}

.t3-icon-apps-toolbar.t3-icon-toolbar-menu-workspace {
	background-position: 0 -36px;
}