<html
    xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    data-namespace-typo3-fluid="true"
>

<f:if condition="{showInterfaceSelector}">
    <f:then>
        <div class="form-group t3js-login-interface-section" id="t3-login-interface-section">
            <div class="form-control-wrap">
                <div class="form-control-holder">
                    <label for="t3-interfaces"><f:translate key="LLL:EXT:backend/Resources/Private/Language/locallang.xlf:login.interface" /></label>
                    <select
                        id="t3-interfaces"
                        class="form-select"
                        name="interface"
                    >
                        <f:for each="{interfaces}" as="option">
                            <option value="{option.interface}">{option.label}</option>
                        </f:for>
                    </select>
                </div>
            </div>
        </div>
    </f:then>
    <f:else>
        <f:if condition="{interface}">
            <input type="hidden" name="interface" value="{interface}" />
        </f:if>
    </f:else>
</f:if>

</html>
