services:
  _defaults:
    autowire: true
    autoconfigure: true
    public: false

  # Make all TypolinkBuilder implementations public automatically
  _instanceof:
    TYPO3\CMS\Frontend\Typolink\TypolinkBuilderInterface:
      public: true

  TYPO3\CMS\Frontend\:
    resource: '../Classes/*'

  frontend.middlewares:
    class: ArrayObject
    factory: ['@TYPO3\CMS\Core\Http\MiddlewareStackResolver', 'resolve']
    arguments: ['frontend']
    public: true

  TYPO3\CMS\Frontend\ContentObject\ContentObjectFactory:
    public: true
    arguments: [!tagged_locator { tag: 'frontend.contentobject', index_by: 'identifier' }]

  TYPO3\CMS\Frontend\ContentObject\ContentObjectRenderer:
    public: true
    shared: false

  TYPO3\CMS\Frontend\DataProcessing\DataProcessorRegistry:
    arguments: [!tagged_locator { tag: 'data.processor', index_by: 'identifier' }]

  # Register all available content objects
  TYPO3\CMS\Frontend\ContentObject\TextContentObject:
    tags:
      - name: frontend.contentobject
        identifier: 'TEXT'

  TYPO3\CMS\Frontend\ContentObject\CaseContentObject:
    tags:
      - name: frontend.contentobject
        identifier: 'CASE'

  TYPO3\CMS\Frontend\ContentObject\ContentObjectArrayContentObject:
    tags:
      - name: frontend.contentobject
        identifier: 'COA'

  TYPO3\CMS\Frontend\ContentObject\ContentObjectArrayInternalContentObject:
    tags:
      - name: frontend.contentobject
        identifier: 'COA_INT'

  TYPO3\CMS\Frontend\ContentObject\UserContentObject:
    tags:
      - name: frontend.contentobject
        identifier: 'USER'

  TYPO3\CMS\Frontend\ContentObject\UserInternalContentObject:
    tags:
      - name: frontend.contentobject
        identifier: 'USER_INT'

  TYPO3\CMS\Frontend\ContentObject\FilesContentObject:
    tags:
      - name: frontend.contentobject
        identifier: 'FILES'

  TYPO3\CMS\Frontend\ContentObject\ImageContentObject:
    tags:
      - name: frontend.contentobject
        identifier: 'IMAGE'

  TYPO3\CMS\Frontend\ContentObject\ImageResourceContentObject:
    tags:
      - name: frontend.contentobject
        identifier: 'IMG_RESOURCE'

  TYPO3\CMS\Frontend\ContentObject\ContentContentObject:
    tags:
      - name: frontend.contentobject
        identifier: 'CONTENT'

  TYPO3\CMS\Frontend\ContentObject\RecordsContentObject:
    tags:
      - name: frontend.contentobject
        identifier: 'RECORDS'

  TYPO3\CMS\Frontend\ContentObject\HierarchicalMenuContentObject:
    tags:
      - name: frontend.contentobject
        identifier: 'HMENU'

  TYPO3\CMS\Frontend\ContentObject\LoadRegisterContentObject:
    tags:
      - name: frontend.contentobject
        identifier: 'LOAD_REGISTER'

  TYPO3\CMS\Frontend\ContentObject\RestoreRegisterContentObject:
    tags:
      - name: frontend.contentobject
        identifier: 'RESTORE_REGISTER'

  TYPO3\CMS\Frontend\ContentObject\FluidTemplateContentObject:
    tags:
      - name: frontend.contentobject
        identifier: 'FLUIDTEMPLATE'

  TYPO3\CMS\Frontend\ContentObject\PageViewContentObject:
    tags:
      - name: frontend.contentobject
        identifier: 'PAGEVIEW'

  TYPO3\CMS\Frontend\ContentObject\ScalableVectorGraphicsContentObject:
    tags:
      - name: frontend.contentobject
        identifier: 'SVG'

  TYPO3\CMS\Frontend\DataProcessing\CommaSeparatedValueProcessor:
    tags:
      - { name: 'data.processor', identifier: 'comma-separated-value' }

  TYPO3\CMS\Frontend\DataProcessing\DatabaseQueryProcessor:
    public: true
    tags:
      - { name: 'data.processor', identifier: 'database-query' }

  TYPO3\CMS\Frontend\DataProcessing\FilesProcessor:
    tags:
      - { name: 'data.processor', identifier: 'files' }

  TYPO3\CMS\Frontend\DataProcessing\FlexFormProcessor:
    tags:
      - { name: 'data.processor', identifier: 'flex-form' }

  TYPO3\CMS\Frontend\DataProcessing\GalleryProcessor:
    shared: false
    tags:
      - { name: 'data.processor', identifier: 'gallery' }

  TYPO3\CMS\Frontend\DataProcessing\LanguageMenuProcessor:
    public: true
    shared: false
    tags:
      - { name: 'data.processor', identifier: 'language-menu' }

  TYPO3\CMS\Frontend\DataProcessing\MenuProcessor:
    public: true
    shared: false
    tags:
      - { name: 'data.processor', identifier: 'menu' }

  TYPO3\CMS\Frontend\DataProcessing\SiteLanguageProcessor:
    tags:
      - { name: 'data.processor', identifier: 'site-language' }

  TYPO3\CMS\Frontend\DataProcessing\SiteProcessor:
    tags:
      - { name: 'data.processor', identifier: 'site' }

  TYPO3\CMS\Frontend\DataProcessing\SplitProcessor:
    tags:
      - { name: 'data.processor', identifier: 'split' }

  TYPO3\CMS\Frontend\DataProcessing\RecordTransformationProcessor:
    tags:
      - { name: 'data.processor', identifier: 'record-transformation' }

  TYPO3\CMS\Frontend\DataProcessing\PageContentFetchingProcessor:
    tags:
      - { name: 'data.processor', identifier: 'page-content' }
