[general]

project     = Indexed Search Engine
version     = latest (9-dev)
release     = latest (9-dev)
t3author    = Kasper Skaarhoj
copyright   = 1997-2021

description = This is the documentation of TYPO3's system
      extension 'indexed_search'. The extension is a search
      engine for TYPO3 pages and files in different formats
      like PDF, Word, HTML or TEXT. It consists of the indexer,
      a backend module, a frontend plugin and more.


[intersphinx_mapping]

; see https://docs.typo3.org/m/typo3/docs-how-to-document/master/en-us/GeneralConventions/DirectoryFilenames.html#intersphinx-mapping

t3tsref       = https://docs.typo3.org/m/typo3/reference-typoscript/9.5/en-us


[html_theme_options]

# Add 'Edit me on Github' button
github_branch             = master
github_repository         = typo3/typo3
path_to_documentation_dir = typo3/sysext/indexed_search/Documentation

# show as related links
project_issues       = https://forge.typo3.org/projects/typo3cms-core/issues
project_repository   = https://github.com/typo3/typo3
