<html
    xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    xmlns:sg="http://typo3.org/ns/TYPO3/CMS/Styleguide/ViewHelpers"
    xmlns:co="http://typo3.org/ns/TYPO3/CMS/Core/ViewHelpers"
    data-namespace-typo3-fluid="true"
>

<f:layout name="Module" />

<f:section name="Content">

    <f:render partial="Backend/Navigation" arguments="{currentAction: currentAction, actions: actions}" />

    <div class="styleguide-content">

        <h1><f:translate key="LLL:EXT:styleguide/Resources/Private/Language/locallang.xlf:buttons" /></h1>

        <!--
            Form type buttons
        -->

        <h3>Form Button</h3>

        <sg:code language="html" colorschemes="true">
            <a href="#" class="btn btn-default">Link button</a>
            <button class="btn btn-default">Button</button>
            <input type="button" class="btn btn-default" value="Input button" />
            <input type="submit" class="btn btn-default" value="Submit button" />
        </sg:code>


        <!--
            twbs Buttons
        -->

        <h3>Button States</h3>

        <sg:code language="html" colorschemes="true">
            <a href="#" class="btn btn-default">Default button</a>
            <a href="#" class="btn btn-primary">Primary button</a>
            <a href="#" class="btn btn-secondary">Secondary button</a>
            <a href="#" class="btn btn-success">Success button</a>
            <a href="#" class="btn btn-warning">Warning button</a>
            <a href="#" class="btn btn-danger">Danger button</a>
            <a href="#" class="btn btn-info">Info button</a>
            <a href="#" class="btn btn-notice">Notice button</a>
            <a href="#" class="btn btn-link">Link button</a>
        </sg:code>

        <!--
            Buttons with icons
        -->

        <h3>Buttons with icons</h3>

        <sg:code language="html" colorschemes="true">
            <a href="#" class="btn btn-default"><co:icon identifier="apps-filetree-folder-default" />  Default button</a>
            <a href="#" class="btn btn-primary"><co:icon identifier="apps-filetree-folder-default" />  Primary button</a>
            <a href="#" class="btn btn-secondary"><co:icon identifier="apps-filetree-folder-default" />  Secondary button</a>
            <a href="#" class="btn btn-success"><co:icon identifier="apps-filetree-folder-default" />  Success button</a>
            <a href="#" class="btn btn-warning"><co:icon identifier="apps-filetree-folder-default" />  Warning button</a>
            <a href="#" class="btn btn-danger"><co:icon identifier="apps-filetree-folder-default" />  Danger button</a>
            <a href="#" class="btn btn-info"><co:icon identifier="apps-filetree-folder-default" />  Info button</a>
            <a href="#" class="btn btn-notice"><co:icon identifier="apps-filetree-folder-default" />  Notice button</a>
            <a href="#" class="btn btn-link"><co:icon identifier="apps-filetree-folder-default" />  Link button</a>
        </sg:code>

        <!--
            Disabled buttons
        -->

        <h3>Disabled buttons</h3>

        <sg:code language="html" colorschemes="true">
            <a href="#" class="btn btn-default disabled"><co:icon identifier="apps-filetree-folder-default" />  Default button</a>
            <a href="#" class="btn btn-primary disabled"><co:icon identifier="apps-filetree-folder-default" />  Primary button</a>
            <a href="#" class="btn btn-secondary disabled"><co:icon identifier="apps-filetree-folder-default" />  Primary button</a>
            <a href="#" class="btn btn-success disabled"><co:icon identifier="apps-filetree-folder-default" />  Success button</a>
            <a href="#" class="btn btn-warning disabled"><co:icon identifier="apps-filetree-folder-default" />  Warning button</a>
            <a href="#" class="btn btn-danger disabled"><co:icon identifier="apps-filetree-folder-default" />  Danger button</a>
            <a href="#" class="btn btn-info disabled"><co:icon identifier="apps-filetree-folder-default" />  Info button</a>
            <a href="#" class="btn btn-notice disabled"><co:icon identifier="apps-filetree-folder-default" />  Notice button</a>
            <a href="#" class="btn btn-link disabled"><co:icon identifier="apps-filetree-folder-default" />  Link button</a>
        </sg:code>
    </div>

</f:section>

</html>
