<html
    xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    xmlns:sg="http://typo3.org/ns/TYPO3/CMS/Styleguide/ViewHelpers"
    data-namespace-typo3-fluid="true"
>

<f:layout name="Module" />

<f:section name="Content">

    <div id="container-navigation">
        <f:render partial="Backend/Navigation" arguments="{currentAction: currentAction, actions: actions}" />
    </div>

    <div id="container-content">
        <h1>
            <f:translate key="LLL:EXT:styleguide/Resources/Private/Language/locallang.xlf:flashMessages"/>
        </h1>

        <f:flashMessages queueIdentifier="styleguide.demo" />
    </div>

</f:section>

</html>
