<html
    xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    xmlns:sg="http://typo3.org/ns/TYPO3/CMS/Styleguide/ViewHelpers"
    data-namespace-typo3-fluid="true"
>

<f:layout name="Module" />

<f:section name="Content">

    <div id="container-navigation">
        <f:render partial="Backend/Navigation" arguments="{currentAction: currentAction, actions: actions}" />
    </div>
    <div id="container-content">
        <h1><f:translate key="LLL:EXT:styleguide/Resources/Private/Language/locallang.xlf:backendStyleguide" /></h1>
        <p>Presents supported styles for TYPO3 backend modules.</p>
        <p>
            This styleguide is work in progress. It is not part of and does not represent the official documentation, yet.<br>
            Styleguide extension currently brings own css definitions that need to be integrated into TYPO3 CMS step by step.
        </p>
    </div>

</f:section>

</html>
