<html
    xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    data-namespace-typo3-fluid="true"
>

<div class="table-fit">
    <table class="table table-striped table-hover">
        <thead>
        <tr>
            <th>{options.totalCountLabel -> f:format.raw()}</th>
            <th class="text-end"><span class="badge">{options.totalCount}</span></th>
        </tr>
        </thead>
        <tbody>
        <f:for each="{options.optionsByType}" as="optionByType">
            <tr>
                <td>
                    <div class="form-check form-switch">
                        <input type="checkbox" class="form-check-input" value="1" id="{optionByType.id}" name="{optionByType.name}" {optionByType.checked}/>
                        <label class="form-check-label" for="{optionByType.id}">{optionByType.label}</label>
                    </div>
                </td>
                <td class="text-end"><span class="badge">{optionByType.count}</span></td>
            </tr>
        </f:for>
        </tbody>
    </table>
    <input type="hidden" name="{prefix}_values" value="1">
</div>

</html>
