/* Selectors for the TYPO3Color plugin of htmlArea RTE */
/* TYPO3 SVN ID: $Id$ */
.htmlarea .toolbar .ForeColor {background-image:url("images/forecolor.gif");}
.htmlarea .toolbar .HiliteColor {background-image:url("images/hilitecolor.gif");}
