/* Selectors for the TYPO3Color plugin of htmlArea RTE */
.htmlarea-action-color-background {
	background-image: url('images/hilitecolor.gif') !important;
}
.htmlarea-action-color-foreground {
	background-image: url('images/forecolor.gif') !important;
}
.htmlarea-action-color-background,
.htmlarea-action-color-foreground {
	background-position: 0 0 !important;
}
