<html
    xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    data-namespace-typo3-fluid="true"
>

<f:layout name="Content/Default"/>

<f:section name="Header"/>

<f:section name="Main">
    <div class="textmedia-teaser-grid">
        <f:variable name="header">{f:render.text(record: record, field: 'header')}</f:variable>
        <f:variable name="bodytext">{f:render.richText(record: record, field: 'bodytext')}</f:variable>
        <f:variable name="subheader">{f:render.text(record: record, field: 'subheader')}</f:variable>
        <f:if condition="{header} || {bodytext} || {subheader}">
            <div class="textmedia-teaser-grid__intro">
                <f:render
                    partial="Components/Intro"
                    arguments="{
                        header: header,
                        subheader: subheader,
                        headertag: record.headertag,
                        layout: record.header_layout,
                        text: bodytext,
                        link: record.tx_themecamino_link,
                        label: '{f:render.text(record: record, field: \'tx_themecamino_link_label\')}',
                        config: record.tx_themecamino_link_config,
                        icon: record.tx_themecamino_link_icon,
                    }"
                />
            </div>
        </f:if>
        <f:if condition="{record.tx_themecamino_list_elements}">
            <f:render partial="Wrapper/Teaserscroller" contentAs="content">
                <div class="textmedia-teaser-grid__grid">
                    <f:for each="{record.tx_themecamino_list_elements}" as="item">
                        <f:render
                            partial="Components/Textmediateaser"
                            arguments="{
                                image: item.images.0,
                                header: '{f:render.text(record: item, field: \'header\')}',
                                text: '{f:render.text(record: item, field: \'text\')}',
                                date: item.date,
                                category: '{f:render.text(record: item, field: \'category\')}',
                                link: item.link,
                                label: '{f:render.text(record: item, field: \'link_label\')}',
                                icon: item.link_icon,
                                layout: record.layout,
                            }"
                        />
                    </f:for>
                </div>
            </f:render>
        </f:if>
    </div>
</f:section>

</html>
