<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="robots" content="noindex, follow" />

	<title>###TITLE###</title>

	<base href="###BASEURL###" />

	<link rel="stylesheet" href="###EXTPATH_CORE###Resources/Public/Css/errorpage.css" />
</head>

<body class="t3-message-page t3-###CSS_CLASS###page-message">

<div class="t3-error-wrap">
	<div class="t3-message-page-container">
		<div class="t3-message-page-logo">
			<img src="###EXTPATH_BACKEND###Resources/Public/Images/typo3_orange.svg" class="typo3-error-image" alt="TYPO3 logo">
		</div>
		<div class="callout callout-danger">
			<div class="media">
				<div class="media-left">
                    <span class="fa-stack fa-lg callout-icon">
                        <i class="fa fa-circle fa-stack-2x"></i>
                        <i class="fa fa-exclamation-triangle fa-stack-1x"></i>
                    </span>
				</div>
				<div class="media-body">
					<h4 class="alert-title">###TITLE###</h4>

					<div class="callout-body">
						###MESSAGE###
					</div>
				</div>
			</div>
		</div>
		<div id="t3-footer">
			<div id="t3-copyright-notice">
				TYPO3 CMS is an open source content management system. To maintain the quality of the system and to improve it, please help us by
				donating.
				TYPO3 CMS. Copyright &copy; ###TYPO3_copyright_year### Kasper Skårhøj. Extensions are copyright of their respective owners. Go to
				https:typo3.org/ for details.
				TYPO3 CMS comes with ABSOLUTELY NO WARRANTY. This is free software, and you are welcome to redistribute it under certain conditions.
				Obstructing the appearance of this notice is prohibited by law.
			</div>
		</div>
	</div>
</div>

</body>
</html>

