/**
 * This file is part of the TYPO3 CMS project.
 *
 * It is free software; you can redistribute it and/or modify it under
 * the terms of the GNU General Public License, either version 2
 * of the License, or any later version.
 *
 * For the full copyright and license information, please read the
 * LICENSE.txt file that was distributed with this source code.
 *
 * The TYPO3 project - inspiring people to share!
 */

/** used in the admin tools => DB check **/
.t3-overview-list dt {
	padding: 0px 0px 2px 20px;

	img {
		vertical-align: middle;
		margin-right: 5px;
	}
}

.t3-overview-list dd {
	margin: 2px 0 15px 20px;
	padding-left: 22px;
}

table {
	background: transparent;
}

/**
 * Common style for tables
 *
 * <table class="t3-table>
 *   <thead>
 *     <tr>
 *       <th>...</th>
 *       <th>...</th>
 *     </tr>
 *   </thead>
 *   <tbody>
 *     <tr>
 *       <td>
 *         <span class="t3-icon t3-icon-treeline t3-icon-treeline-join t3-icon-join">&nbsp;</span>
 *       </td>
 *       <td>...</td>
 *     </tr>
 *   </tbody>
 * </table>
 */

.table {

	> thead,
	> tbody {
		tr {
			th:first-child,
			th:last-child,
			td:first-child,
			td:last-child {
				padding-left: 12px;
			}
		}
	}

	> thead {
		> tr {
			> th,
			> td {
				border-bottom: 1px solid #666;
			}
		}
	}

	> tbody {
		> tr {
			> td {
				background-color: @table-bg;
			}
		}
		> tr:hover {
			> td {
				transition: background-color 100ms linear;

				a {
					text-decoration: underline;
				}
			}
		}
	}
}

// TYPO3 standard <table class="t3-table">
table.t3-table {
	.table;
	.table-striped;
	.table-hover;

	// .active
	> thead > tr,
	> tbody > tr,
	> tfoot > tr {
		> td.active,
		> th.active,
		&.active > td,
		&.active > th {
			background-color: @table-bg-active;
		}
	}

	> tbody > tr {
		> td.active:hover,
		> th.active:hover,
		&.active:hover > td,
		&:hover > .active,
		&.active:hover > th {
			background-color: darken(@table-bg-active, 5%);
		}
	}

	// .success
	> thead > tr,
	> tbody > tr,
	> tfoot > tr {
		> td.success,
		> th.success,
		&.success > td,
		&.success > th {
			background-color: @state-success-bg;
		}
	}

	> tbody > tr {
		> td.success:hover,
		> th.success:hover,
		&.success:hover > td,
		&:hover > .success,
		&.success:hover > th {
			background-color: darken(@state-success-bg, 5%);
		}
	}

	// .info
	> thead > tr,
	> tbody > tr,
	> tfoot > tr {
		> td.info,
		> th.info,
		&.info > td,
		&.info > th {
			background-color: @state-info-bg;
		}
	}

	> tbody > tr {
		> td.info:hover,
		> th.info:hover,
		&.info:hover > td,
		&:hover > .info,
		&.info:hover > th {
			background-color: darken(@state-info-bg, 5%);
		}
	}

	// .warning
	> thead > tr,
	> tbody > tr,
	> tfoot > tr {
		> td.warning,
		> th.warning,
		&.warning > td,
		&.warning > th {
			background-color: @state-warning-bg;
		}
	}

	> tbody > tr {
		> td.warning:hover,
		> th.warning:hover,
		&.warning:hover > td,
		&:hover > .warning,
		&.warning:hover > th {
			background-color: darken(@state-warning-bg, 5%);
		}
	}

	// .danger
	> thead > tr,
	> tbody > tr,
	> tfoot > tr {
		> td.danger,
		> th.danger,
		&.danger > td,
		&.danger > th {
			background-color: @state-danger-bg;
		}
	}

	> tbody > tr {
		> td.danger:hover,
		> th.danger:hover,
		&.danger:hover > td,
		&:hover > .danger,
		&.danger:hover > th {
			background-color: darken(@state-danger-bg, 5%);
		}
	}

}