//
// Animated spinner icon
//

span.spinner {
	display: inline-block;
	width: 16px;
	height: 16px;
	background-image: url('../../../../images/spinner/f1f1f1.gif');
}

// definition is taken from forms.less of Bootstrap
span.checkbox-spinner {
	position: absolute;
	margin-left: -20px;
	margin-top: 4px;
}