/*
 * This file is part of the TYPO3 CMS project.
 *
 * It is free software; you can redistribute it and/or modify it under
 * the terms of the GNU General Public License, either version 2
 * of the License, or any later version.
 *
 * For the full copyright and license information, please read the
 * LICENSE.txt file that was distributed with this source code.
 *
 * The TYPO3 project - inspiring people to share!
 */

/* - - - - - - - - - - - - - - - - - - - - -
Form
- - - - - - - - - - - - - - - - - - - - - */

#typo3-docbody form {
	margin-bottom: 1.25em;
}

textarea,
button {
	display: inline-block;
	margin: 0 0.5em 0.5em 0;
	padding: 3px 6px;
	vertical-align: middle;
}


/* - - - - - - - - - - - - - - - - - - - - -
Form
- - - - - - - - - - - - - - - - - - - - - */

/* Limit form width globally */
.form-group {
	max-width: 440px;
}

input,
textarea,
button {
	background-color: #fefefe;
	border: 1px solid #7c7c7c;
	border-radius: 2px;
}

input:focus,
textarea:focus,
button:focus {
	border-color: rgb(50, 160, 255);
	box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.075), 0 0 6px rgba(50, 160, 255, 0.6);
	outline: 0;
}

textarea.fixed-font {
	font-family: "Lucida Console", "Lucida Sans Typewriter", "Bitstream Vera Sans Mono", monospace;
}

.checkbox,
.checkbox:hover,
input[type="checkbox"] {
	background: none;
	border: none;
	cursor: pointer;
}

/* - - - - - - - - - - - - - - - - - - - - -
Buttons
- - - - - - - - - - - - - - - - - - - - - */

/* Deprecated HTML5 definitions */
.t3-button,
button,
input[type=submit],
input[type=button],
input[type=reset] {
	.btn;
	.btn-default;
}

/* - - - - - - - - - - - - - - - - - - - - -
Groups
- - - - - - - - - - - - - - - - - - - - - */

.t3-form-field-group {
	margin-bottom:	1.5em;
}

/* - - - - - - - - - - - - - - - - - - - - -
Go back A-tags
- - - - - - - - - - - - - - - - - - - - - */

a.typo3-goBack img {
	margin-right: 5px;
	vertical-align: middle;
}

span.typo3-moduleHeader img {
	margin-right: 4px;
	vertical-align: middle;
}

a.typo3-goBack {
	font-weight: bold;
}

/* - - - - - - - - - - - - - - - - - - - - -
   Styles for the "clearable" jquery plugin.
- - - - - - - - - - - - - - - - - - - - - */

.t3-clearable-wrapper {
	position: relative;
	display: inline-block;
}

.t3-clearable {
	padding-right: 15px;
}

.t3-clearable-wrapper .t3-input-clearer {
	position: absolute;
	right: 5px;
	top: 5px;
}
