/*
 * This file is part of the TYPO3 CMS project.
 *
 * It is free software; you can redistribute it and/or modify it under
 * the terms of the GNU General Public License, either version 2
 * of the License, or any later version.
 *
 * For the full copyright and license information, please read the
 * LICENSE.txt file that was distributed with this source code.
 *
 * The TYPO3 project - inspiring people to share!
 */

/* - - - - - - - - - - - - - - - - - - - - -
body tags
- - - - - - - - - - - - - - - - - - - - - */

/* - - - - - - - - - - - - - - - - - - - - -
specific wrappers

The "template" class is usually instantiated as either
noDoc or fullDoc. Both will result in the whole page
content between the bodytags being
wrapped in a DIV-section with a class.
- - - - - - - - - - - - - - - - - - - - - */

div.typo3-noDoc {
	margin-left: 10px;
	margin-top: 5px;
	width: 740px;
}

div.typo3-noDoc h2 {
	width: 740px;
}

div.typo3-fullDoc {
	height: 100%;
	width: 100%;
}

div#typo3-docbody {
	bottom: 0;
	overflow: auto;
	position: absolute;
	top: 49px;
	width: 100%;
	z-index: 2;
}

div#typo3-inner-docbody {
	padding: 24px;
	margin-top: 0;
	transition: border 0.2s ease;
}

/* - - - - - - - - - - - - - - - - - - - - -
Information popup, show_item.php
- - - - - - - - - - - - - - - - - - - - - */

body#typo3-show-item-php {
	padding: 12px 24px;
}

/* - - - - - - - - - - - - - - - - - - - - -
Decorations (shadows etc.)
- - - - - - - - - - - - - - - - - - - - - */

.shadow-box-bottom-424 {
	height: 3px;
	background-image: url('../../../../images/shadows/box-bottom-424.png');
	background-position: top center;
	background-repeat: no-repeat;
}

.shadow-box-top-428 {
	height: 4px;
	background-image: url('../../../../images/shadows/box-top-428.png');
	background-position: bottom center;
	background-repeat: no-repeat;
}
