
//
// Scheduler module
//
.tx_scheduler_mod1 {
	.table {
		td {
			vertical-align: top;
		}
		span.name {
			display: block;
		}
		span.description {
			font-style: italic;
			white-space: normal;
			color: @gray;
		}
	}
}
