/**
 * This file is part of the TYPO3 CMS project.
 *
 * It is free software; you can redistribute it and/or modify it under
 * the terms of the GNU General Public License, either version 2
 * of the License, or any later version.
 *
 * For the full copyright and license information, please read the
 * LICENSE.txt file that was distributed with this source code.
 *
 * The TYPO3 project - inspiring people to share!
 */

/* - - - - - - - - - - - - - - - - - - - - -
Module menu
- - - - - - - - - - - - - - - - - - - - - */

#typo3-module-menu {
	background: #dddddd;
	left: 0;
	top: 0;
	position: absolute;
	overflow: hidden;

	.x-panel-body {
		background-color: transparent;
	}
}

#typo3-menu {
    margin-top: 18px;
	padding-left: 0;

	a {
			color: #1e2121;
			outline: 0;
	}

	ul {
		padding: 0;
		margin: 0;
		list-style: none;
		padding-left: 0;
	}

	> li {
		margin-bottom: 6px;
		border-bottom: 1px solid #c7c7c7;
		border-bottom-right-radius: 3px;
	}

	> li:last-child {
		border-bottom: none;
	}


	li {
		clear: both;
		padding-bottom: 1px;

		ul {
			margin: 6px 0 6px 0;

			li {
				cursor: pointer;
				font-weight: normal;
				line-height: 15px;
				min-height: 21px;

				a {
					text-decoration: none;
					display: block;
					margin-bottom: 1px;
					padding: 3px 0 3px 24px;
				}
			}

			li a:hover,
			li.hover a,
			li.highlighted a {
				margin-bottom: 1px;
				padding-bottom: 2px;
				padding-top: 2px;
			}
		}

		span.submodule-icon {
			position: absolute;
		}

		span.submodule-label {
			display: block;
			margin-left: 26px;
		}

		div {
			overflow: hidden;
			padding: 2px 0px 4px 16px;
			vertical-align: middle;
		}

		a {
			display: block;
			padding-bottom: 1px;
			margin-bottom: 0;
		}

		img {
			vertical-align: baseline;
			max-width: 16px;
			max-height: 16px;
		}

		div.modgroup {
			color: #252524;
			cursor: pointer;
			font-weight: bold;
			text-transform: uppercase;
			font-size: 0.9em;
			padding-left: 24px;
			margin-bottom: 3px;
		}
	}

	/* active menu item */
	li.highlighted {
		font-weight: bold;
	}

	div.expanded,
	div.collapsed {
		margin-left: 0px;
	}

	div.collapsed {
		background-image: url('../../../../images/arrows/module-menu-left-gray.png');
		background-position: right 23px top 7px;
		background-repeat: no-repeat;
	}

	div.expanded {
		background-image: url('../../../../images/arrows/module-menu-down-gray.png');
		background-position: right 22px top 9px;
		background-repeat: no-repeat;
	}

	#typo3-docheader {
		min-width: 0;
	}
}

/**
 * Shadow on the right side of the module menu.
 */

#typo3-module-menu,
#typo3-menu li.menuSection li a:hover {
	background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAIAAACQd1PeAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAA9JREFUeNpi3LFjB0CAAQAEWAIqGE4BVwAAAABJRU5ErkJggg==");
	background-position: right;
	background-repeat: repeat-y;
}

/* hovered menu item */
#typo3-menu li.menuSection li a:hover,
#typo3-menu li.highlighted a {
	border-top: 1px solid #b8b8b8;
	border-bottom: 1px solid #b8b8b8;
}

#typo3-menu li.menuSection li a:hover {
	background-color: #e8e8e8;
}

#typo3-menu li.highlighted a,
#typo3-menu li.menuSection li.highlighted a:hover,
.no-boxshadow #typo3-menu li.menuSection li.highlighted a:hover {
	background-color: #ebebeb;
	background-image: none;
	box-shadow: none;
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
	.backgroundsize #typo3-menu li div.collapsed {
		background-image: url('../../../../images/arrows/module-menu-left-gray@2x.png');
		background-size: 6px 7px;
	}
	.backgroundsize #typo3-menu li div.expanded {
		background-image: url('../../../../images/arrows/module-menu-down-gray@2x.png');
		background-size: 7px 6px;
	}
}
