<div class="typo3-adminPanel-form-group-checkbox">
    <input type="hidden" name="TSFE_ADMIN_PANEL[tsdebug_LR]" value="0"/>
    <label for="tsdebug_LR">
        <input type="checkbox"
               id="tsdebug_LR"
               name="TSFE_ADMIN_PANEL[tsdebug_LR]"
               value="1"
               {f:if(condition:'{trackContentRendering}', then:' checked="checked"')} />
        <f:translate key="LLL:EXT:adminpanel/Resources/Private/Language/locallang_tsdebug.xlf:trackContentRendering"/>
    </label>
</div>
