<div class="typo3-adminPanel-form-group-checkbox">
    <input type="hidden" name="TSFE_ADMIN_PANEL[tsdebug_tree]" value="0"/>
    <label for="tsdebug_tree">
        <input type="checkbox"
               id="tsdebug_tree"
               name="TSFE_ADMIN_PANEL[tsdebug_tree]"
               value="1"
               {f:if(condition:'{tree}', then:' checked="checked"')} />
        <f:translate key="LLL:EXT:adminpanel/Resources/Private/Language/locallang_tsdebug.xlf:treeDisplay"/>
    </label>
</div>
