{namespace s = TYPO3\CMS\Scheduler\ViewHelpers}
{namespace core=TYPO3\CMS\Core\ViewHelpers}

<p class="lead">
	<f:translate key="msg.infoScreenIntro" />
</p>
<div class="table-responsive">
	<table class="table table-striped table-hover">
		<thead>
			<tr>
				<th>
					<f:translate key="label.name" />
				</th>
				<th>
					<f:translate key="label.extension" />
				</th>
				<th colspan="2">
					<f:translate key="label.description" />
				</th>
			</tr>
		</thead>
		<tbody>
			<f:for each="{registeredClasses}" key="class" as="classInfo">
				<tr>
					<td>
						<a href="{s:moduleLink(controller:'scheduler', action: 'add', arguments: '{class: class}')}" title="{f:translate(key:'LLL:EXT:lang/locallang_common.xlf:new')}">
							{classInfo.title}
						</a>
					</td>
					<td>{classInfo.extension}</td>
					<td>{classInfo.description}</td>
					<td>
						<div class="btn-group" role="group">
							<span class="btn btn-default">
								<a href="{s:moduleLink(controller:'scheduler', action: 'add', arguments: '{class: class}')}" title="{f:translate(key:'LLL:EXT:lang/locallang_common.xlf:new')}">
									<core:icon identifier="actions-document-new" />
								</a>
							</span>
						</div>
					</td>
				</tr>
			</f:for>
		</tbody>
	</table>
</div>