<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" xmlns:formvh="http://typo3.org/ns/TYPO3/CMS/Form/ViewHelpers" data-namespace-typo3-fluid="true">
<formvh:renderRenderable renderable="{element}">
	<f:render partial="Field/Field" arguments="{element: element}" contentAs="elementContent">
		<div class="form-group">
			<f:form.password
				property="{element.identifier}.password"
				id="{element.uniqueIdentifier}"
				class="{element.properties.elementClassAttribute} form-control"
				errorClass="{element.properties.elementErrorClassAttribute}"
				additionalAttributes="{formvh:translateElementProperty(element: element, property: 'fluidAdditionalAttributes')}"
			/>
			<f:if condition="{formvh:translateElementProperty(element: element, property: 'passwordDescription')}">
				<span class="help-block">{formvh:translateElementProperty(element: element, property: 'passwordDescription')}</span>
			</f:if>
		</div>
		<div class="form-group">
			<f:if condition="{formvh:translateElementProperty(element: element, property: 'confirmationLabel')}">
				<label for="{element.uniqueIdentifier}-confirmation">{formvh:translateElementProperty(element: element, property: 'confirmationLabel')}<f:if condition="{element.required}"><f:render partial="Field/Required" /></f:if></label>
			</f:if>
			<f:form.password
				property="{element.identifier}.confirmation"
				id="{element.uniqueIdentifier}-confirmation"
				class="{element.properties.confirmationClassAttribute} form-control"
				errorClass="{element.properties.elementErrorClassAttribute}"
				additionalAttributes="{formvh:translateElementProperty(element: element, property: 'fluidAdditionalAttributes')}"
			/>
		</div>
	</f:render>
</formvh:renderRenderable>
</html>
