<formvh:renderRenderable renderable="{element}">
    <f:render partial="Field/Field" arguments="{element: element}" contentAs="elementContent">
        <div class="form-check">
            <label class="{element.properties.elementClassAttribute} form-check-label">
                <f:form.checkbox
                        property="{element.identifier}"
                        id="{element.uniqueIdentifier}"
                        class="{element.properties.elementClassAttribute}"
                        value="{element.properties.value}"
                        errorClass="{element.properties.elementErrorClassAttribute}"
                        additionalAttributes="{formvh:translateElementProperty(element: element, property: 'fluidAdditionalAttributes')}"
                />
            </label>
        </div>
    </f:render>
</formvh:renderRenderable>
