<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" xmlns:formvh="http://typo3.org/ns/TYPO3/CMS/Form/ViewHelpers" data-namespace-typo3-fluid="true">
<formvh:renderRenderable renderable="{element}">
	<fieldset id="{element.uniqueIdentifier}" class="form-group{f:if(condition: element.properties.elementClassAttribute, then: ' {element.properties.elementClassAttribute}')}">
		<f:if condition="{element.label}">
			<legend>{formvh:translateElementProperty(element: element, property: 'label')}</legend>
		</f:if>
		<f:for each="{element.elements}" as="element">
			<f:render partial="{element.templateName}" arguments="{element: element}" />
		</f:for>
	</fieldset>
</formvh:renderRenderable>
</html>
