<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" xmlns:formvh="http://typo3.org/ns/TYPO3/CMS/Form/ViewHelpers" data-namespace-typo3-fluid="true">
<formvh:renderRenderable renderable="{element}">
    <f:form.validationResults for="{element.rootForm.identifier}.{element.identifier}">
        <f:if condition="{element.properties.elementDescription}">
            <f:variable name="aria" value="{describedby: '{element.uniqueIdentifier}-desc'}"/>
        </f:if>
        <f:if condition="{validationResults.errors}">
            <f:variable name="aria" value="{invalid: 'true', describedby: '{element.uniqueIdentifier}-errors'}"/>
        </f:if>

        <f:render partial="Field/Field" arguments="{element: element}" contentAs="elementContent">
            <formvh:form.uploadedResource
                property="{element.identifier}"
                as="resource"
                id="{element.uniqueIdentifier}"
                class="{element.properties.elementClassAttribute}"
                errorClass="{element.rootForm.renderingOptions.fieldProperties.errorClassAttribute}"
                additionalAttributes="{formvh:translateElementProperty(element: element, property: 'fluidAdditionalAttributes')}"
                accept="{element.properties.allowedMimeTypes}"
                aria="{aria}"
            >
                <f:if condition="{resource}">
                    <div id="{element.uniqueIdentifier}-preview">
                        {resource.originalResource.originalFile.name}
                    </div>
                </f:if>
            </formvh:form.uploadedResource>
        </f:render>
    </f:form.validationResults>
</formvh:renderRenderable>
</html>
