<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" xmlns:formvh="http://typo3.org/ns/TYPO3/CMS/Form/ViewHelpers" data-namespace-typo3-fluid="true">
<f:if condition="{element.properties.renderAsHiddenField}">
	<f:then>
		<f:form.hidden property="{element.identifier}" id="{element.uniqueIdentifier}" additionalAttributes="{autocomplete: element.identifier}" />
	</f:then>
	<f:else>
		<f:form.textfield property="{element.identifier}" id="{element.uniqueIdentifier}" class="{element.properties.elementClassAttribute}" additionalAttributes="{autocomplete: element.identifier, aria-hidden: 'true'}" tabindex="-1" style="{element.properties.styleAttribute}" />
	</f:else>
</f:if>
</html>
