<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" xmlns:formvh="http://typo3.org/ns/TYPO3/CMS/Form/ViewHelpers" data-namespace-typo3-fluid="true">
<formvh:renderRenderable renderable="{element}">
    <f:form.validationResults for="{element.rootForm.identifier}.{element.identifier}">
        <f:if condition="{element.properties.elementDescription}">
            <f:variable name="aria" value="{describedby: '{element.uniqueIdentifier}-desc'}" />
        </f:if>
        <f:if condition="{validationResults.errors}">
            <f:variable name="aria" value="{invalid: 'true', describedby: '{element.uniqueIdentifier}-errors'}" />
        </f:if>

        <f:render partial="Field/Field" arguments="{element: element}" contentAs="elementContent">
            <f:if condition="{element.properties.prependOptionLabel}">
                <f:then>
                    <f:form.select
                        property="{element.identifier}"
                        id="{element.uniqueIdentifier}"
                        class="{element.properties.elementClassAttribute}"
                        options="{formvh:translateElementProperty(element: element, property: 'options')}"
                        multiple="multiple"
                        errorClass="{element.rootForm.renderingOptions.fieldProperties.errorClassAttribute}"
                        additionalAttributes="{formvh:translateElementProperty(element: element, property: 'fluidAdditionalAttributes')}"
                        prependOptionLabel="{formvh:translateElementProperty(element: element, property: 'prependOptionLabel')}"
                        prependOptionValue="{formvh:translateElementProperty(element: element, property: 'prependOptionValue')}"
                        aria="{aria}"
                    />
                </f:then>
                <f:else>
                    <f:form.select
                        property="{element.identifier}"
                        id="{element.uniqueIdentifier}"
                        class="{element.properties.elementClassAttribute}"
                        options="{formvh:translateElementProperty(element: element, property: 'options')}"
                        multiple="multiple"
                        errorClass="{element.rootForm.renderingOptions.fieldProperties.errorClassAttribute}"
                        additionalAttributes="{formvh:translateElementProperty(element: element, property: 'fluidAdditionalAttributes')}"
                        aria="{aria}"
                    />
                </f:else>
            </f:if>

        </f:render>
    </f:form.validationResults>
</formvh:renderRenderable>
</html>
