<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" xmlns:formvh="http://typo3.org/ns/TYPO3/CMS/Form/ViewHelpers" data-namespace-typo3-fluid="true">
<formvh:renderRenderable renderable="{element}">
	<f:render partial="Field/Field" arguments="{element: element}" contentAs="elementContent">
		<f:if condition="{element.properties.prependOptionLabel}">
			<f:then>
				<f:form.select
						property="{element.identifier}"
						id="{element.uniqueIdentifier}"
						class="{element.properties.elementClassAttribute} form-control"
						options="{formvh:translateElementProperty(element: element, property: 'options')}"
						multiple="multiple"
						errorClass="{element.properties.elementErrorClassAttribute}"
						additionalAttributes="{formvh:translateElementProperty(element: element, property: 'fluidAdditionalAttributes')}"
						prependOptionLabel="{formvh:translateElementProperty(element: element, property: 'prependOptionLabel')}"
						prependOptionValue="{formvh:translateElementProperty(element: element, property: 'prependOptionValue')}"
				/>
			</f:then>
			<f:else>
				<f:form.select
						property="{element.identifier}"
						id="{element.uniqueIdentifier}"
						class="{element.properties.elementClassAttribute} form-control"
						options="{formvh:translateElementProperty(element: element, property: 'options')}"
						multiple="multiple"
						errorClass="{element.properties.elementErrorClassAttribute}"
						additionalAttributes="{formvh:translateElementProperty(element: element, property: 'fluidAdditionalAttributes')}"
				/>
			</f:else>
		</f:if>

	</f:render>
</formvh:renderRenderable>
</html>
