{namespace bu = TYPO3\CMS\Beuser\ViewHelpers}

<tr class="db_list_normal">
	<td class="col-icon">
		<a href="#" onClick="showClickmenu('be_users', '{backendUser.uid}', '1', '', '', ''); return false;" title="id={backendUser.uid}">
			<bu:spriteIconForRecord table="be_users" object="{backendUser}" />
		</a>
	</td>
	<td>
		<b>{backendUser.userName}</b>
	</td>
	<td>{backendUser.realName}</td>
	<td>
		<f:link.action
			action="addToCompareList"
			arguments="{uid: backendUser.uid}"
		>
			<bu:spriteManagerIcon iconName="actions-edit-add"/>
			<f:translate key="compare">Compare</f:translate>
		</f:link.action>
	</td>
	<td>
		<a href="#" onclick="top.launchView('be_users', '{backendUser.uid}'); return false;">
			<bu:spriteManagerIcon iconName="actions-document-info" />
		</a>
		<a href="alt_doc.php?edit[be_users][{backendUser.uid}]=edit&returnUrl={returnUrl}">
			<bu:spriteManagerIcon iconName="actions-document-open" />
		</a>
		<f:if condition="{backendUser.isDisabled} == 1">
			<f:then>
				<a href="<bu:issueCommand parameters="tce_db.php?&data[be_users][{backendUser.uid}][disable]=0&redirect={redirectUrl}" />">
					<bu:spriteManagerIcon iconName="actions-edit-unhide" options="{title: 'unhide'}" />
				</a>
			</f:then>
			<f:else>
				<a href="<bu:issueCommand parameters="tce_db.php?&data[be_users][{backendUser.uid}][disable]=1&redirect={redirectUrl}" />">
					<bu:spriteManagerIcon iconName="actions-edit-hide" options="{title: 'hide'}" />
				</a>
			</f:else>
		</f:if>
		<f:comment>
			No need to check if currently listed user is current user.
			SU does not work with admin users and current user must always be admin.
			Only admin users may use the backend user administration.
		</f:comment>
		<f:if condition="{backendUser.active} == 1">
			<bu:SwitchUser backendUser="{backendUser}" emulate="FALSE" />
			<bu:SwitchUser backendUser="{backendUser}" emulate="TRUE" />
		</f:if>
	</td>
	<td>
		<f:if condition="{backendUser.lastLoginDateAndTime}">
			<f:then>
				<f:format.date format="{dateFormat} {timeFormat}">{backendUser.lastLoginDateAndTime}</f:format.date>
			</f:then>
			<f:else>
				<f:translate key="never">Never</f:translate>
			</f:else>
		</f:if>
	</td>
</tr>