<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" xmlns:core="http://typo3.org/ns/TYPO3/CMS/Core/ViewHelpers" xmlns:be="http://typo3.org/ns/TYPO3/CMS/Backend/ViewHelpers" xmlns:bu="http://typo3.org/ns/TYPO3/CMS/Beuser/ViewHelpers">

<f:section name="languages">
    <ul>
        <f:for each="{languages}" key="languageUid" as="language">
            <li>
                <f:if condition="{languageUid} ==0">
                    <f:then>
                        <f:translate key="information.defaultLanguage" />
                    </f:then>
                    <f:else>
                        <a href="#" class="t3js-contextmenutrigger" data-table="sys_language" data-uid="{language.uid}" title="id={language.uid}">
                            <core:iconForRecord table="sys_language" row="{language}"/>
                            {language.title} [{language.uid}]
                        </a>
                    </f:else>
                </f:if>
            </li>
        </f:for>
    </ul>
</f:section>

<f:section name="groups">
    <f:if condition="{groups.direct}">
        <strong><f:translate key="information.groups.direct" /></strong>

        <f:for each="{groups.direct}" as="group">
            <div>
                <a href="#" class="t3js-contextmenutrigger" data-table="be_groups" data-uid="{group.uid}" title="id={group.uid}">
                    <core:iconForRecord table="be_groups" row="{group}"/>
                    {group.title}
                </a>
            </div>
        </f:for>
    </f:if>
    <f:if condition="{groups.diff}">
        <strong><f:translate key="information.groups.inheritance" /></strong>

        <f:for each="{groups.diff}" as="group">
            <div>
                <a href="#" class="t3js-contextmenutrigger" data-table="be_groups" data-uid="{group.uid}" title="id={group.uid}">
                    <core:iconForRecord table="be_groups" row="{group}"/>
                    {group.title}
                </a>
            </div>
        </f:for>
    </f:if>
</f:section>

<f:section name="dbMounts">
    <f:if condition="{dbMounts}">
        <ul>
            <f:for each="{dbMounts}" as="mount">
                <li>
                    <a href="#" class="t3js-contextmenutrigger" data-table="pages" data-uid="{mount.uid}" title="id={mount.uid}">
                        <core:iconForRecord table="pages" row="{mount}"/>
                        {mount.title} [{mount.uid}]
                    </a>
                </li>
            </f:for>
        </ul>
    </f:if>
</f:section>

<f:section name="fileMounts">
    <f:if condition="{fileMounts}">
        <ul>
            <f:for each="{fileMounts}" as="mount">
                <li>
                    <a href="#" class="t3js-contextmenutrigger" data-table="sys_filemounts" data-uid="{mount.uid}" title="id={mount.uid}">
                        <core:iconForRecord table="sys_filemounts" row="{mount}"/>
                        {mount.title} [{mount.uid}]
                    </a>
                </li>
            </f:for>
        </ul>
    </f:if>
</f:section>

<f:section name="categories">
    <f:if condition="{categories}">
        <ul>
            <f:for each="{categories}" as="category">
                <li>
                    <a href="#" class="t3js-contextmenutrigger" data-table="sys_category" data-uid="{category.uid}" title="id={category.uid}">
                        <core:iconForRecord table="sys_category" row="{category}"/>
                        {category.title}
                    </a>
                </li>
            </f:for>
        </ul>
    </f:if>
</f:section>

<f:section name="workspaces">
    <f:if condition="{workspaces}">
        <f:if condition="{workspaces.record.uid}">
            <strong><f:translate key="information.defaultWorkspace" />:</strong>
            <a href="#" class="t3js-contextmenutrigger" data-table="sys_workspace" data-uid="{workspaces.record.uid}" title="id={workspaces.record.uid}">
                <core:iconForRecord table="sys_workspaces" row="{workspaces.record}"/>
                {workspaces.record.title}
            </a>
        </f:if>
    </f:if>
</f:section>

<f:section name="pageTypes">
    <f:if condition="{pageTypes}">
        <ul>
            <f:for each="{pageTypes}" as="pageType">
                <li>
                    <core:icon identifier="{pageType.icon}"/>
                    {f:translate(key:pageType.label,default:pageType.label)}
                </li>
            </f:for>
        </ul>
    </f:if>
</f:section>


<f:section name="yesno">
    <f:if condition="{value}">
        <f:then><span class="t3-icon change-permission fa fa-check text-success"></span>{f:translate(key:'yes')}</f:then>
        <f:else><span class="t3-icon change-permission fa fa-times text-danger"></span>{f:translate(key:'no')}</f:else>
    </f:if>
</f:section>

</html>
