<html
    xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    xmlns:i="http://typo3.org/ns/TYPO3/CMS/Install/ViewHelpers"
    data-namespace-typo3-fluid="true"
>
<li data-level="1">
    <a
        href="{i:uri.action(controller: controller)}"
        title="{label}"
        class="modulemenu-action"
        role="menuitem"
        data-installroute-controller="{controller}"
    >
        <span class="modulemenu-icon" aria-hidden="true"><core:icon identifier="module-install-{controller}" size="medium" alternativeMarkupIdentifier="inline"/></span>
        <span class="modulemenu-name">{label}</span>
        <span class="modulemenu-indicator" aria-hidden="true"></span>
    </a>
</li>
</html>
