<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" xmlns:formvh="http://typo3.org/ns/TYPO3/CMS/Form/ViewHelpers" data-namespace-typo3-fluid="true">
<div data-identifier="moduleLoadingIndicator" class="form-editor-loading-spinner">
    <core:icon identifier="spinner-circle-dark" size="default" />
    <div class="form-editor-loading-spinner-label"><f:translate key="LLL:EXT:form/Resources/Private/Language/Database.xlf:formEditor.loading" /></div>
</div>
<div data-identifier="moduleWrapper" class="hidden">
    <f:format.raw>{formEditorTemplates}</f:format.raw>
    <section id="t3-form-navigation-component" class="t3-form-x-component" data-identifier="structureSection">
        <div id="t3-form-structure-panel">
            <f:render section="ElementSidebarTree" />
        </div>
    </section>
    <section id="t3-form-stage-container" data-identifier="stageContainer">
        <div id="t3-form-stage-inner-container" data-identifier="stageContainerInner">
            <header id="t3-form-stage-header">
                <f:render section="Header" />
            </header>
            <div id="t3-form-stage-content">
                <f:render section="Stage" />
            </div>
        </div>
    </section>
    <section id="t3-form-inspector-panels-container" class="t3-form-x-component" data-identifier="inspectorSection">
        <f:render section="Inspector" />
    </section>
</div>
</html>
