h1	{
	color: gray;
	text-align: left;
	font-size: 3em;
}

h2	{
	text-align: left;
	color: gray;
	font-size: 2em;
	background: none;
}

h3	{
	background: none;
	color: #404040;
	border-bottom: 1px #c0c0c0 dashed;
}

p {
	margin: 10px 0;	
}

fieldset legend	{
	font-weight: bold;
}

input.bg, select.bg, button	{
	background: #fff url(../../../imgs/icons/bg_input.gif) no-repeat scroll left top;
	border: 1px solid #aaa;
	margin-top: 2px;
	padding:3px;
}

/** styles for login box - start **/
form#formLogin {
	width: 400px;
	position: absolute;
	left: 50%;
	margin-left: -200px;
	
	background-color: #D7DBE2;
	border: 1px solid #9BA1A8;
	padding: 10px;
}

form#formLogin h4 {
	font-size: 16px;
	font-weight: bold;
	background: none;
	margin: 0 0 16px 0;	
}

form#formLogin .formElement {
	background-color: white;
	border: 1px silver solid;
	padding: 10px 5px;
	text-align: center;
}

form#formLogin label {
	font-weight: bold;
}

form#formLogin .installer-message {
	margin: 10px 0;
	font-size: 11px;
	font-style: italic;	
}

form#formLogin .submit {
	font-weight: bold;
	font-size: 12px;
	width: 100%;
	cursor: pointer;	
}

form#formLogin .submit:hover {
	color: green;
}

form#formLogin ul {
	text-align: left;
}

/** styles for login box - end **/

label em	{
	font-style: italic;
	display: block;
	margin: 0px 0px 7px 20px;
}

.categoryTreeContainer	{
	position: fixed;
	top: 5px;
	left: 5px;
	width: 210px;
	padding: 5px;
}

#collapseExpandToggle	{
	background-image: url(../../../imgs/icons/expandall.png);
	background-repeat: no-repeat;
	background-position: left center;
	padding-left: 20px;
	margin: 5px 0;
	text-decoration: none;
	border-top: 1px #f0f0f0 solid;
}

.categoryTree	{
	padding: 0;
	list-style-type: none;
	clear: left;
}

.categoryTree img	{
	padding: 2px 3px 0px 2px;
}

.tree_item_nosub	{
	padding-left: 14px;
}

.help_container	{
	border-bottom: 3px gray solid;
	width: 600px;
	opacity: 0.9;
	background-color: #cccccc;
	padding: 5px;
	position: absolute;
}

#moduleContent	{
	position: absolute;
	left: 270px;
	
	opacity: 1.0;
}
.formElementCheckbox	{
	display: inline;
	margin-right: 5px;
}

.category_about	{
	background: #c0c0c0 url(../../../imgs/icons/bg_about.png) repeat-y top left;
	border: 4px white solid;
	font-size: 1.4em;
	height: 128px;
	padding: 5px;
}

.category_about img	{
	float: left;
	margin: 0 5px 0 0;
}

.italic	{
	font-style: italic;
}

.description	{
	margin: 5px;
}

.installer-message	{
	margin-bottom: 15px;
}

.installer-message strong.message-header	{
	display: block;
	background-color: #d9d5c9;
	padding: 3px;
}

/** error messages **/
.error-header {
	font-weight: bold;
	color: red;
	margin: 5px;
}

.severity_ok strong.message-header	{
	background-image: url('../../../imgs/icons/ok.png');
	background-position: 4px 50%;
	background-repeat: no-repeat;
	padding-left: 24px;
}

.severity_error strong.message-header	{
	background-image: url('../../../imgs/icons/cancel.png');
	background-position: 4px 50%;
	background-repeat: no-repeat;
	padding-left: 24px;
}

.error-fatal	{
	color: red;
}

.error-warning	{
	color: #AA0000;
}

/* list items */
li.severity-fatal {
	list-style-image: url(../../../imgs/icons/cancel.png);
}

li.severity-warning {
	list-style-image: url(../../../imgs/icons/warning.png);
}