/** Styles only for EXT: styleguide */

.example {
	background-color: #fff;
	border: 1px solid rgb(237, 237, 237);
	padding: 12px;
	margin-bottom: 12px;
}

	.example:before {
		content: 'EXAMPLE';
		color: rgb(200, 200, 200);
		display: block;
		font-weight: normal;
		font-size: 0.9em;
		margin-bottom: 12px;
	}

.example.code {
	background-color: #272822;
	color: #f8f8f8;
	font-family: monospace, fixed;
	box-shadow: inset 0 0 10px #000;
}

.tag-border {
	color: #79ABFF;
}
.tag-name {
	color: #BED6FF;
}
.tag-attribute {
	color: #BED6FF;
}
.tag-attribute-value {
	color: #E6DB74;
}
.tag-equals {
	color: #F8F8F2;
}

.ci-color {
	background-color: rgb(255, 134, 0);
}
.highlight-color {
	background-color: rgb(50, 160, 255);
}

div.icon-set {
}
div.icon-set ul {
	margin-right: -5px;
	list-style-type: none;
	padding-left: 0;
	margin-left: 0;
}
div.icon-set li {
	background-color: rgb(240, 240, 240);
	float: left;
	width: 12.5%;
	border: 2px solid #fff;
	padding: 10px;
	height: 120px;
	overflow: hidden;
}
div.icon-set li:hover {
	background-color: rgb(250, 250, 250);
}
div.icon-set li span {
	margin-bottom: 5px;
}