<html
    xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    data-namespace-typo3-fluid="true"
>

<f:layout name="Module" />

<f:section name="Content">

    <f:be.pageRenderer
        includeJavaScriptModules="{
            0: '@typo3/backend/recordlist.js',
            1: '@typo3/backend/record-download-button.js',
            2: '@typo3/backend/clear-cache.js',
            3: '@typo3/backend/record-search.js',
            4: '@typo3/backend/ajax-data-handler.js',
            5: '@typo3/backend/column-selector-button.js',
            6: '@typo3/backend/multi-record-selection.js',
            7: '@typo3/backend/clipboard-panel.js',
            8: '@typo3/backend/new-content-element-wizard-button.js',
            9: '@typo3/backend/element/immediate-action-element.js',
            10: '@typo3/backend/context-menu.js',
            11: '@typo3/backend/element/editable-page-title.js'
        }"
    />

    <f:variable name="immediateActionArgs" value="{0: 'web', 1: pageId}" />
    <typo3-immediate-action action="TYPO3.Backend.Storage.ModuleStateStorage.update" args="{immediateActionArgs -> f:format.json() -> f:format.htmlspecialchars()}"></typo3-immediate-action>

    <typo3-backend-editable-page-title
        pageTitle="{pageTitle}"
        pageId="{pageId}"
        {isPageEditable ? 'editable' : ''}
    >
        {pageTitle}
    </typo3-backend-editable-page-title>

    <f:format.raw>{additionalContentTop}</f:format.raw>

    <div class="row">
        <f:format.raw>{languageSelectorHtml}</f:format.raw>
        <f:format.raw>{searchBoxHtml}</f:format.raw>
    </div>

    <f:format.raw>{pageTranslationsHtml}</f:format.raw>

    <f:format.raw>{tableListHtml}</f:format.raw>

    <f:if condition="{displayToggleClipboard}">
        <div class="mb-3">
            <div class="form-check form-switch">
                <input type="checkbox" class="form-check-input" name="{toggleClipboardName}" value="1" data-global-event="change"
                        data-action-navigate="$data=~s/$value/" data-empty-value="0" {toggleClipboardChecked} id="{toggleClipboardId}"
                        data-navigate-value="{toggleClipboardFormUrl}"
                >
                <label class="form-check-label" for="{toggleClipboardId}">
                    <f:translate key="LLL:EXT:core/Resources/Private/Language/locallang_mod_web_list.xlf:showClipBoard" />
                </label>
            </div>
        </div>
    </f:if>
    <f:format.raw>{clipboardHtml}</f:format.raw>

    <f:format.raw>{additionalContentBottom}</f:format.raw>
</f:section>

</html>
