<div>
	<h1>Upgrade</h1>
</div>
<div class="card-container">
	<div class="card card-size-fixed-small">
		<div class="card-header">
			<h1 class="card-title">Update TYPO3 Core</h1>
			<span class="card-subtitle">Core Upgrade</span>
		</div>
		<div class="card-content">
			<p class="card-text">Update your TYPO3 installation with one click, if your instance is set up correctly.</p>
		</div>
		<div class="card-footer">
			<a href="#" class="btn btn-default t3js-install-open-modal t3js-require" data-require="TYPO3/CMS/Install/CoreUpdate">Update Core</a>
		</div>
	</div>
	<div class="card card-size-fixed-small">
		<div class="card-header">
			<h1 class="card-title">Execute Upgrade Wizards</h1>
			<span class="card-subtitle">Core Upgrade</span>
		</div>
		<div class="card-content">
			<p class="card-text">If you upgrade your TYPO3 installation from e.g. v8 to v9, then Upgrade Wizards guide you through the necessary steps.</p>
		</div>
		<div class="card-footer">
			<a href="#" class="btn btn-default t3js-install-open-modal t3js-require" data-require="TYPO3/CMS/Install/UpgradeWizards">Execute Upgrade Wizards</a>
		</div>
	</div>
	<div class="card card-size-fixed-small">
		<div class="card-header">
			<h1 class="card-title">View Upgrade Documentation</h1>
			<span class="card-subtitle">Core Upgrade</span>
		</div>
		<div class="card-content">
			<p class="card-text">Show and search documentation files describing important changes between TYPO3 versions.</p>
		</div>
		<div class="card-footer">
			<a href="#" class="btn btn-default t3js-install-open-modal t3js-require" data-require="TYPO3/CMS/Install/UpgradeDocs">View Upgrade Documentation</a>
		</div>
	</div>
	<div class="card card-size-fixed-small">
		<div class="card-header">
			<h1 class="card-title">Check TCA in ext_tables.php</h1>
			<span class="card-subtitle">TCA</span>
		</div>
		<div class="card-content">
			<p class="card-text">Test if extensions still change TCA in ext_tables.php files, resulting in performance drawbacks.</p>
		</div>
		<div class="card-footer">
			<a href="#" class="btn btn-default t3js-install-open-modal t3js-require" data-require="TYPO3/CMS/Install/TcaExtTablesCheck">Check TCA</a>
		</div>
	</div>
	<div class="card card-size-fixed-small">
		<div class="card-header">
			<h1 class="card-title">Check for broken extensions</h1>
			<span class="card-subtitle">Extensions</span>
		</div>
		<div class="card-content">
			<p class="card-text">Check if all base configuration files of currently loaded extensions have errors with the current TYPO3 version.</p>
		</div>
		<div class="card-footer">
			<a href="#" class="btn btn-default t3js-install-open-modal t3js-require" data-require="TYPO3/CMS/Install/ExtensionCompatTester">Check Extensions</a>
		</div>
	</div>
	<div class="card card-size-fixed-small">
		<div class="card-header">
			<h1 class="card-title">Check TCA Migrations</h1>
			<span class="card-subtitle">TCA</span>
		</div>
		<div class="card-content">
			<p class="card-text">Check if third-party extensions have outdated TCA configuration which should be adapted for the current TYPO3 version.</p>
		</div>
		<div class="card-footer">
			<a href="#" class="btn btn-default t3js-install-open-modal t3js-require" data-require="TYPO3/CMS/Install/TcaMigrationsCheck">Check TCA Migrations</a>
		</div>
	</div>
	<div class="card card-size-fixed-small">
		<div class="card-header">
			<h1 class="card-title">Scan Extension Files</h1>
			<span class="card-subtitle">Extensions</span>
		</div>
		<div class="card-content">
			<p class="card-text">Scan extensions for usage of deprecated or outdated TYPO3 API calls.</p>
		</div>
		<div class="card-footer">
			<a href="#" class="btn btn-default t3js-install-open-modal t3js-require" data-require="TYPO3/CMS/Install/ExtensionScanner">Scan Extension Files</a>
		</div>
	</div>
</div>
