<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">

<p>
	Checks whether the local extensions' ext_tables and ext_localconf files can be included without errors,
	meaning they can be loaded without breaking the system.
</p>

<div
	class="t3js-module-content"
	data-extension-compat-tester-load-ext_localconf-token="{extensionCompatTesterLoadExtLocalconfToken}"
	data-extension-compat-tester-load-ext_tables-token="{extensionCompatTesterLoadExtTablesToken}"
	data-extension-compat-tester-uninstall-extension-token="{extensionCompatTesterUninstallToken}"
>
	<div class="t3js-extensionCompatTester-output"></div>
	<div class="btn-group">
		<button class="btn btn-default t3js-extensionCompatTester-check" disabled>
			Check extensions
		</button>
		<button class="btn btn-default t3js-extensionCompatTester-uninstall" style="display:none;">
			Uninstall extension
		</button>
	</div>
</div>

</html>
