<p>
	Checks whether the local extensions' ext_tables and ext_localconf files can be included without errors,
	meaning they can be loaded without breaking the system.
</p>

<div style="display:none">
	<div id="t3js-extensionCompatTester-loadExtLocalconf-token">{extensionCompatTesterLoadExtLocalconfToken}</div>
	<div id="t3js-extensionCompatTester-loadExtTables-token">{extensionCompatTesterLoadExtTablesToken}</div>
	<div id="t3js-extensionCompatTester-uninstallExtension-token">{extensionCompatTesterUninstallToken}</div>
</div>
<div class="t3js-extensionCompatTester-output"></div>
<div class="btn-group">
	<button class="btn btn-default t3js-extensionCompatTester-check">
		Check extensions
	</button>
	<button class="btn btn-default t3js-extensionCompatTester-uninstall" style="display:none;">
		Uninstall extension
	</button>
</div>
