<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">

<p>
    Identify extensions that are modifying the Table Configuration Array (TCA) in <code>ext_tables.php</code>.
</p>
<p>
    If this check reports any extension, you must move the section of <code>ext_tables.php</code> which extends the TCA inside a distinct
    file within the <code>Configuration/TCA/Overrides/</code> directory. Please refer to the documentation for details on proper file names
    and specific contents.
</p>
<div class="t3js-tcaExtTablesCheck-output"></div>

</html>
