
body#ext-reports-mod-index-php {
	margin: 0px;
}

#typo3-inner-docbody p.help {
	font-size: 12px;
	margin-bottom: 10px;
}


/* ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- */
/* overview */

.report-list dt {
	font-weight: bold;
	font-size: 11px;
	padding: 0px 0px 2px 20px;
}

.report-list dt img {
	vertical-align: middle;
	margin-right: 5px;
}

.report-list dd {
	margin: 2px 0 15px 20px;
	padding-left: 22px;
}

/* ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- */
/* status report */

#ext-reports-mod-index-php h2.section-header {
	margin: 15px 0;
	padding: 2px 0 0 20px;
	cursor: pointer;
	height: 20px;
	clear: left;
}
#ext-reports-mod-index-php h2.collapsed {
	background-image:url(../../../gfx/arrowright.png);
	background-repeat:no-repeat;
}
#ext-reports-mod-index-php h2.expanded {
	background-image:url(../../../gfx/arrowdown.png);
	background-repeat:no-repeat;
}
#ext-reports-mod-index-php h2.section-header img {
	margin-right:2px;
	vertical-align:bottom;
}

#ext-reports-mod-index-php .message-body {
	clear: left;
}

#ext-reports-mod-index-php .message-body p {
	padding: 5px 0;
}

#ext-reports-mod-index-php .message-left {
	float: left;
	width: 400px;
}

#ext-reports-mod-index-php .message-right {
	float: left;
}

