<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    data-namespace-typo3-fluid="true">

<form action="{moduleUrl}" method="post" id="ImportExportController" enctype="multipart/form-data">
    <f:variable name="args" value="{0: 'web', 1: id}" />
    <typo3-immediate-action action="TYPO3.Backend.Storage.ModuleStateStorage.update" args="{args -> f:format.json() -> f:format.htmlspecialchars()}"></typo3-immediate-action>
    <f:form.hidden name="id" value="{id}" />
    <f:render section="content" />
</form>

</html>
