@CHARSET "UTF-8";

/* Font size 62.8% = 1em = 10px */
body {
	font: 62.8% Verdana, Arial, Helvetica, sans-serif;
	background-color: #f2f2f2;
	padding-top: 11em;
}

body.standalone {
	background: #4f4f4f url('../../gfx/installbackground.jpg') repeat-x fixed;
}

h1 {
	display: none;
}

.standalone h1 {
	background: url('../../gfx/installlogo.gif') no-repeat scroll 0 0 transparent;
	text-indent: -999em;
	display: block;
	height: 34px;
	margin: 0 0 1.85em;
}

h2 {
	margin-top: 0;
}

#container {
	margin: 0 auto;
	width: 41em;
	font-size: 110%;
	line-height: 1.7em;
}

.typo3-message {
	background-position: 1.2em 1.8em;
	background-repeat: no-repeat;
	border: 1px solid;
	color: #9e7d4a;
	padding: 1.5em 1.5em 1em 3.5em;
}

.message-warning {
	background-image: url("../../gfx/warning.png");
	background-color: #fbf6de;
	border-color: #b1905c;
}

.typo3-message ul {
	padding-left: 20px;
}

.typo3-message a {
	color: #9e7d4a;
}

.typo3-message a:hover {
	color: #000000;
}

.standalone .t3-install-locked-user-settings {
	display: none;
}
