#open-documents-menu {
	width: 40px;
}

span#tx-opendocs-num {
	padding: 0 2px;
	line-height: 14px;
}

#open-documents-menu div {
	position: absolute;
	list-style: none;
	margin: 0;
	padding: 2px 0 0;
	background-color: #f9f9f9;
	border: 1px solid #abb2bc;
	border-top: none;
}

#open-documents-menu table,
#open-documents-menu tr {
	width: 100%;
	border-collapse: collapse;
	padding: 0;
	border: 0;
	margin: 0;
}

#open-documents-menu td {
	text-align: left;
	vertical-align: top;
	line-height: 14px;
	font-size: 11px;
	margin: 0;
	padding: 1px 1px 1px 0;
}

#open-documents-menu td.opendocs-close {
	text-align: right;
}

#open-documents-menu tr.menu-item-div td {
	border-top: 1px solid #abb2bc;
	font-weight: bold;
	padding: 2px 3px;
}

#open-documents-menu td a {
	text-decoration: none;
	padding: 1px;
	font-size: 11px;
}

