/* - - - - - - - - - - - - - - - - - - - - -
TYPO3 backend scaffolding

- - - - - - - - - - - - - - - - - - - - - */

iframe {
	width: 100%;
}

#typo3-side-menu,
iframe {
	height: 100%;
	overflow: auto;
}