/* - - - - - - - - - - - - - - - - - - - - -

Title  : TYPO3 general backend styles for printing

Description :	Stylesheet for the TYPO3 backend when printing.
				You can configure another/additional stylesheet for
				use by the $TBE_STYLES global var


- - - - - - - - - - - - - - - - - - - - - */

@media print {
	div#typo3-docbody {
		overflow: visible;
	}
}

