<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="SystemEmail" />
<f:section name="Main">
    <f:spaceless>
        <f:variable name="recoveryLink">
            <f:link.external uri="{url}" target="_blank"><f:translate key="password_recovery_link" extensionName="felogin"/></f:link.external>
        </f:variable>

        {f:translate(
        key: 'forgot_validate_reset_password_html',
        extensionName: 'felogin',
        arguments: '{ 0: "{receiverName -> f:format.htmlspecialchars()}", 1: recoveryLink, 2: validUntil }'
        ) -> f:format.html()}
    </f:spaceless>
</f:section>
</html>
