<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" xmlns:formvh="http://typo3.org/ns/TYPO3/CMS/Form/ViewHelpers" data-namespace-typo3-fluid="true">
<div class="formeditor-inspector-element">
    <div class="form-group property-grid">
        <label class="form-label" data-random-id data-random-id-attribute="for" data-random-id-number="1">
            <span data-template-property="label"></span>
        </label>
        <div class="form-description" data-template-property="fieldExplanationText"></div>
        <div class="form-control-wrap" data-editor="new-property-grid" data-template-property="newPropertyPath">

            <typo3-form-property-grid-editor
                label-label="{f:translate(key: 'LLL:EXT:form/Resources/Private/Language/Database.xlf:formEditor.inspector.editor.entry.label')}"
                label-value="{f:translate(key: 'LLL:EXT:form/Resources/Private/Language/Database.xlf:formEditor.inspector.editor.entry.value')}"
                label-selected="{f:translate(key: 'LLL:EXT:form/Resources/Private/Language/Database.xlf:formEditor.inspector.editor.entry.selected')}"
                label-add="{f:translate(key: 'LLL:EXT:form/Resources/Private/Language/Database.xlf:formEditor.inspector.editor.grid.add')}"
                label-remove="{f:translate(key: 'LLL:EXT:form/Resources/Private/Language/Database.xlf:formEditor.inspector.editor.grid.remove')}"
                label-move="{f:translate(key: 'LLL:EXT:form/Resources/Private/Language/Database.xlf:formEditor.inspector.editor.grid.move')}"
            >
            </typo3-form-property-grid-editor>

        </div>
        <div data-editor="property-grid" data-template-property="propertyPath" class="t3-form-grid"></div>
        <div class="form-text" data-template-property="validationErrors"></div>
    </div>
</div>
</html>
