<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" xmlns:formvh="http://typo3.org/ns/TYPO3/CMS/Form/ViewHelpers" data-namespace-typo3-fluid="true">
<div class="form-editor">
	<div class="t3-form-control-group form-group">
		<label data-random-id data-random-id-attribute="for" data-random-id-number="1"><span data-template-property="label"></span></label>
		<div class="t3-form-controls" data-identifier="inspectorEditorControlsWrapper">
			<input data-random-id data-random-id-attribute="id" data-random-id-number="1" type="text" value="" data-template-property="propertyPath" class="form-control" data-insert-target="">
			<div class="help-block">
				<a href="#" data-template-property="onclick" class="btn btn-default">
					<span class="t3js-icon icon icon-size-small icon-state-default icon-mimetypes-x-content-text" data-identifier="mimetypes-x-content-text">
						<span class="icon-markup" data-template-property="image"></span>
					</span> <span data-template-property="buttonLabel"></span>
				</a>
			</div>
			<span class="inspector-editor-hint" data-template-property="fieldExplanationText"></span>
			<span data-template-property="validationErrors"></span>
		</div>
	</div>
</div>
</html>
