<div class="form-editor">
    <div class="t3-form-control-group form-group">
        <label><span data-template-property="label" /></label>
        <div class="t3-form-controls" data-identifier="inspectorEditorControlsWrapper">
            <input type="text" value="" data-template-property="propertyPath" class="form-control" data-insert-target="">
            <div class="help-block">
                <a href="#" data-template-property="onclick" class="btn btn-default">
                    <span class="t3js-icon icon icon-size-small icon-state-default icon-mimetypes-x-content-text" data-identifier="mimetypes-x-content-text">
                        <span class="icon-markup" data-template-property="image" />
                    </span> <span data-template-property="buttonLabel" />
                </a>
            </div>
            <span data-template-property="fieldExplanationText" />
            <span data-template-property="validationErrors" />
        </div>
    </div>
</div>