#container {
	margin: 11em auto 0;
	width: 41em;
	line-height: 1.7em;
}

.typo3-message h2 {
	color: #9E7D4A;
	font-size: 16px;
}

form#t3-install-form-unlock button {
	background: url("../../Images/Background/Button.jpg") repeat-x scroll left bottom #F6F6F6;
	border: 1px solid #7C7C7C;
	color: #606060;
	cursor: pointer;
	font-size: 1.1em;
	padding: 0.3em 0.6em;
	margin-top: 1em;
}

form#t3-install-form-unlock button:hover {
	background: #EDEDED url("../../Images/Background/ButtonHover.jpg");
}