<div class="form-section" id="task_type_row">
    <div class="form-group">
        <label for="task_type"><f:translate key="LLL:EXT:scheduler/Resources/Private/Language/locallang.xlf:label.type"/></label>
        <div class="form-control-wrap">
            <select name="tx_scheduler[type]" id="task_type" class="form-select">
                <option value="1" {f:if(condition:'{currentData.type} == 1',then:'selected="selected"')}>
                <f:translate key="LLL:EXT:scheduler/Resources/Private/Language/locallang.xlf:label.type.single" />
                </option>
                <option value="2" {f:if(condition:'{currentData.type} == 2',then:'selected="selected"')}>
                <f:translate key="LLL:EXT:scheduler/Resources/Private/Language/locallang.xlf:label.type.recurring" />
                </option>
            </select>
        </div>
    </div>
</div>
