<div class="row">
    <div class="form-group">
        <label for="task_multiple"><f:translate key="LLL:EXT:scheduler/Resources/Private/Language/locallang.xlf:label.parallel.long"/></label>
        <div class="form-wizards-wrap">
            <div class="form-wizards-element">
                <div class="form-check form-switch">
                    <input type="hidden" name="tx_scheduler[multiple]" value="0">
                    <input class="form-check-input" type="checkbox" name="tx_scheduler[multiple]" value="1" id="task_multiple" {f:if(condition:currentData.multiple,then:'checked="checked"')}>
                </div>
            </div>
        </div>
    </div>
</div>
