/* - - - - - - - - - - - - - - - - - - - - -
extJS icons

- - - - - - - - - - - - - - - - - - - - - */

.t3icon-ext-upload {
	background: url('../../icons/gfx/upload.gif') 3px 4px no-repeat !important;
}

.t3icon-ext-cancel {
	background: url('../../icons/gfx/icon_fatalerror.gif') 2px 3px no-repeat !important;
}

.t3iconstyle-center {
	background-position: center center;
}