/* - - - - - - - - - - - - - - - - - - - - -
Document, listing recently edited records if no records were open
(alt_doc_nodoc.php) - this is effectively the Doc module

- - - - - - - - - - - - - - - - - - - - - */

table.typo3-recent-edited td {
	white-space: nowrap;
}