/* - - - - - - - - - - - - - - - - - - - - -
Table
- - - - - - - - - - - - - - - - - - - - - */

/** @deprecated styles */
.t3-row-header {
	background-color: #666;
	color: #fff;
}

.t3-row-header a,
.t3-row-header a:hover {
	color: #fff;
}

.t3-col-header {
	background-color: #585858;
	color: #fff;
}

/** used for any table where a table is used for displaying information (and thus, there is air to breathe) **/
table.t3-table-info {
	background: #ffffff;
	border: 1px solid #cccccc;
}

/**
 * Common style for tables
 */
table.t3-table {
	backgorund-color: #fff;
	border: none;
	border: 1px solid #d7d7d7;
}

/** Allow <thead><td> only for edge cases - please use <thead><th> */
table.t3-table thead th,
table.t3-table thead td {
	background-color: #666;
	color: #fff;
	font-weight: normal;
}
table.t3-table thead th a,
table.t3-table thead td a {
	color: #fff;
	text-decoration: underline;
}

table.t3-table tbody tr:nth-child(odd) td {
	background-color: #f7f7f7;
}
table.t3-table tbody tr:nth-child(even) td {
	background-color: #fff;
}

table.t3-table tbody tr:hover td {
	background-color: #efefef;
	-webkit-transition: background-color 100ms linear;
	-moz-transition: background-color 100ms linear;
	-o-transition: background-color 100ms linear;
	-ms-transition: background-color 100ms linear;
	transition: background-color 100ms linear;
}

table.t3-table tbody td a {
	text-decoration: underline;
}