/* - - - - - - - - - - - - - - - - - - - - -
Table
- - - - - - - - - - - - - - - - - - - - - */

th {
	font-weight: bold;
}

.t3-row-header {
	background-color: #666;
	color: #fff;
	font-size: 10px;
	line-height: 19px;
	height: 20px;
}

tr.t3-row-header td {
	color: #fff;
	font-size: 10px;
	font-weight: bold;
	line-height: 16px;
}

.t3-row-header a {
	color: #fff;
	float: left;
}

.t3-col-header {
	background-color: #585858;
	color: #fff;
	font-size: 10px;
	line-height: 19px;
	height: 20px;
	font-weight: bold;
}

table.t3-table {
	background: #fff;
	border: 1px solid #a2aab8;
}

table.t3-table .t3-row-odd td,
table.t3-table .t3-row-odd th {
	background-color: #f7f7f7;
}

table.t3-table .t3-row-even td,
table.t3-table .t3-row-even th {
	background-color: #ffffff;
}

table.t3-table .t3-row-odd:hover td,
table.t3-table .t3-row-odd:hover th,
table.t3-table .t3-row-even:hover td,
table.t3-table .t3-row-even:hover th {
	background-color: #dedede;
}

table.t3-table tr.t3-row-header td {
	color: #fff;
	font-size: 10px;
	font-weight: bold;
	line-height: 16px;
}



/** used for any table where a table is used for displaying information (and thus, there is air to breathe) **/
table.t3-table-info {
	background: #ffffff;
	border: 1px solid #cccccc;
	border-collapse: collapse;
}

.tableheader td {
	font-weight: bold;
}
