/* - - - - - - - - - - - - - - - - - - - - -
Workspace

- - - - - - - - - - - - - - - - - - - - - */

#typo3-pagetree .workspace-info {
	background-color: #ffec97;
	font-weight: bold;
}

table#typo3-versionSelector {
	background-color: #ffec97;
	border: 1px solid #a2aab8;
}

.ver-element div.treeLinkItem,
.ver-versions div.treeLinkItem,
.ver-page div.treeLinkItem {
	background-color: #ffec97;
}

.ver-branch div.treeLinkItem,
.ver-branchpoint div.treeLinkItem {
	background-color: #ff9999;
}

.ver-element ul div.treeLinkItem,
.ver-versions ul div.treeLinkItem,
.ver-page ul div.treeLinkItem,
.ver-branch div.treeLinkItem,
.ver-branchpoint div.treeLinkItem {
	background-color: transparent;
}

table.ver-subtree a {
	text-decoration: none;
}

table.ver-subtree tr td.iconTitle {
	white-space: nowrap;
}

table.ver-subtree tr td.diffCell {
	white-space: normal;
}

table.ver-subtree table.diffTable {
	background-color: white;
	border: 1px solid black;
}

table.ver-subtree div.diffLayer,
div.logLayer {
	background-color: white;
	border: 1px solid black;
}

table.ver-subtree,
table.ver-verElement td.c-diffCell {
	border: 1px solid #666;
}

table.ver-subtree tr.typo3-ver td.iconTitle,
table.ver-subtree tr.typo3-ver td.diffCell,
table.ver-subtree tr.typo3-ver td.cmdCell {
	background-color: #c5c1b5;
}

table.ver-subtree tr.typo3-ver-hl td.iconTitle,
table.ver-subtree tr.typo3-ver-hl td.diffCell,
table.ver-subtree tr.typo3-ver-hl td.cmdCell {
	background-color: #999;
}

table.ver-subtree tr.typo3-ver-new td {
	background-color: #eee;
	color: #666;
}

table.ver-subtree tr.typo3-ver-noComp td {
	font-style: italic;
}

.ver-wl-table {
	border: 1px solid black;
}

.ver-wl-details-table {
	border: 1px solid #cccccc;
}

.ver-wl-details {
	background-color: #ffffff;
}

.ver-wl-details-label {
	background-color: #ffffff;
	white-space: nowrap;
}

#ver-wl-new-workspace-icon {
	border: none;
}

.ver-wl-mp-inacessible {
	color: #7c7c7c;
	font-style: italic;
}

.ver-wl-current-user {
	font-weight: bold;
}
