/* - - - - - - - - - - - - - - - - - - - - -
Form
- - - - - - - - - - - - - - - - - - - - - */
input,
textarea,
button {
	background-color: #fefefe;
	border: 1px solid #7c7c7c;
	border-radius: 2px;
}

textarea.fixed-font {
	font-family: "Lucida Console", "Lucida Sans Typewriter", "Bitstream Vera Sans Mono", monospace;
}

textarea:hover {
	border: 1px solid #737f91;
}

.checkbox,
.checkbox:hover,
input[type="checkbox"] {
	background: none;
	border: none;
	cursor: pointer;
}

/* - - - - - - - - - - - - - - - - - - - - -
Buttons
- - - - - - - - - - - - - - - - - - - - - */

.t3-button,
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
	background-color: rgb(120, 120, 120);
	border: 1px solid #7c7c7c;
	border-radius: 2px;
	color: #fff;
	display: inline-block;
	font-family: Share, Verdana, Arial, Helvetica, sans-serif;
	font-weight: normal;
	line-height: 1.5em;
	margin-bottom: 0;
	cursor: pointer;
	background-image: none;
	cursor: pointer;
	white-space: nowrap;
	user-select: none;
	text-decoration: none!important;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	 -o-user-select: none;
}

.t3-button:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover {
	background-color: rgb(95, 95, 95);
}

.t3-button span.t3-icon {
	margin-top: -3px;
	margin-right: 5px;
}

.t3-button.disabled {
	cursor: default;
	opacity: 0.5;
}

.t3-button.active,
.t3-button:active,
input[type="submit"]:active,
input[type="reset"]:active,
input[type="button"]:active {
	outline: 0;
	-webkit-box-shadow: inset 0 3px 5px rgba(0,0,0,.125);
	box-shadow: inset 0 3px 5px rgba(0,0,0,.125);
}

.t3-button.disabled,
button[disabled="disabled"],
input[type="submit"][disabled="disabled"],
input[type="reset"][disabled="disabled"],
input[type="button"][disabled="disabled"],
input[type="submit"][disabled="disabled"]:hover,
input[type="reset"][disabled="disabled"]:hover,
input[type="button"][disabled="disabled"]:hover {
	pointer-events: none;
	cursor: default;
	opacity: 0.5;
	filter: ~"alpha(opacity=@50)";
	-webkit-box-shadow: none;
	box-shadow: none;
}

/* - - - - - - - - - - - - - - - - - - - - -
Groups
- - - - - - - - - - - - - - - - - - - - - */
.t3-form-field-group {
	margin-bottom:	1.5em;
}