/* - - - - - - - - - - - - - - - - - - - - -
Form
- - - - - - - - - - - - - - - - - - - - - */

input,
textarea,
button {
	background-color: #fefefe;
	border: 1px solid #7c7c7c;
	border-radius: 2px;
}

input:focus,
textarea:focus,
button:focus {
	border-color: rgb(50, 160, 255);
	box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.075), 0 0 6px rgba(50, 160, 255, 0.6);
	outline: 0;
}

textarea.fixed-font {
	font-family: "Lucida Console", "Lucida Sans Typewriter", "Bitstream Vera Sans Mono", monospace;
}

.checkbox,
.checkbox:hover,
input[type="checkbox"] {
	background: none;
	border: none;
	cursor: pointer;
}

/* - - - - - - - - - - - - - - - - - - - - -
Buttons
- - - - - - - - - - - - - - - - - - - - - */

.t3-button,
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
	background-color: #E0E0E0;
	background-image: none;
	border: 1px solid #7c7c7c;
	border-radius: 2px;
	color: #434343;
	cursor: pointer;
	white-space: nowrap;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	 -o-user-select: none;
	user-select: none;
	text-decoration: none!important;
}

.t3-button:hover,
button:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover {
	background-color: #cccccc;
	text-decoration: none!important;
}

.t3-button span.t3-icon {
	margin-top: -3px;
	margin-right: 5px;
}

.t3-button.disabled {
	cursor: default;
	opacity: 0.5;
}

.t3-button:active,
button:active,
input[type="submit"]:active,
input[type="reset"]:active,
input[type="button"]:active {
	outline: 0;
	-webkit-box-shadow: inset 0 3px 5px rgba(0,0,0,.125);
	box-shadow: inset 0 3px 5px rgba(0,0,0,.125);
	position: relative;
	top: 1px;
}

.t3-button.disabled,
button[disabled="disabled"],
input[type="submit"][disabled="disabled"],
input[type="reset"][disabled="disabled"],
input[type="button"][disabled="disabled"],
input[type="submit"][disabled="disabled"]:hover,
input[type="reset"][disabled="disabled"]:hover,
input[type="button"][disabled="disabled"]:hover {
	pointer-events: none;
	cursor: default;
	opacity: 0.5;
	filter: ~"alpha(opacity=@50)";
	-webkit-box-shadow: none;
	box-shadow: none;
}

/* - - - - - - - - - - - - - - - - - - - - -
Groups
- - - - - - - - - - - - - - - - - - - - - */

.t3-form-field-group {
	margin-bottom:	1.5em;
}