/* - - - - - - - - - - - - - - - - - - - - -
Loadingbar and Animations
- - - - - - - - - - - - - - - - - - - - - */
.loadingbar {
	background-color: #f9f9f9;
	display: block;
	position: relative;
}
.cssanimations .loadingbar {
	height: 5px;
}
.no-cssanimations .loadingbar {
	height: 24px;
	background-image: url('../../../../images/spinner/ffffff.gif');
	background-repeat: no-repeat;
	background-position: center center;
}
@keyframes fullexpand {
	0% { width: 0px; }
	100% { width: 100%; }
}
@-moz-keyframes fullexpand {
	0% { width: 0px; }
	100% { width: 100%; }
}
@-webkit-keyframes fullexpand {
	0% { width: 0px; }
	100% { width: 100%; }
}
@-o-keyframes fullexpand {
	0% { width: 0px; }
	100% { width: 100%; }
}
@-ms-keyframes fullexpand {
	0% { width: 0px; }
	100% { width: 100%; }
}
.cssanimations .loadingbar .expand {
	width: 100%;
	height: 5px;
	background: #585858;
	position: absolute;
	animation: fullexpand 5s linear infinite;
	-moz-animation:fullexpand 5s linear infinite;
	-webkit-animation: fullexpand 5s linear infinite;
	-o-animation: fullexpand 5s linear infinite;
	-ms-animation: fullexpand 5s linear infinite;
}