/* - - - - - - - - - - - - - - - - - - - - -
Sys notes
- - - - - - - - - - - - - - - - - - - - - */

#typo3-dblist-sysnotes .single-note .header {
	background: #d7d7d7;
	color: #000;
	font-size: 0.9em;
}

#typo3-dblist-sysnotes .single-note .header span {
	color: #666;
}

#typo3-dblist-sysnotes .single-note .header span.typeicon {
	background:  url(../../../../icons/ext/sys_note/icon-default.png) no-repeat top left;
}

#typo3-dblist-sysnotes .single-note:hover .header {
	background-color: #666;
}

#typo3-dblist-sysnotes .single-note:hover .header,
#typo3-dblist-sysnotes .single-note:hover .header span {
	color: #d7d7d7;
}

#typo3-dblist-sysnotes .category-1 .header span.typeicon {
	background-image: url(../../../../icons/ext/sys_note/icon-instruction.png);
}
#typo3-dblist-sysnotes .category-2 .header span.typeicon {
	background-image: url(../../../../icons/ext/sys_note/icon-template.png);
}
#typo3-dblist-sysnotes .category-3 .header span.typeicon {
	background-image: url(../../../../icons/ext/sys_note/icon-note.png);
}
#typo3-dblist-sysnotes .category-4 .header span.typeicon {
	background-image: url(../../../../icons/ext/sys_note/icon-todo.png);
}

#typo3-dblist-sysnotes .single-note .content {
	background: #fffeed;
	border: 1px solid #dadada;
	border-top: none;
	color: #666;
}

#typo3-dblist-sysnotes .single-note .content .title {
	font-weight: bold;
}