/* - - - - - - - - - - - - - - - - - - - - -
Help > About
- - - - - - - - - - - - - - - - - - - - - */

#typo3-mod-help-about-index-php-outer {
	text-align: center;
}

#typo3-mod-help-about-index-php-outer #donation-description {
	background-image: url("../../../../images/general/donate_teaser.png");
	background-repeat: no-repeat;
}

#typo3-mod-help-about-index-php-outer .donation-button {
	overflow: auto;
}

#typo3-mod-help-about-index-php-outer .donation-button input {
	float: right;
}

#typo3-mod-help-about-index-php-outer .typo3-mod-help-about-index-php-inner {
	background: #ffffff;
	border: 1px solid #adadad;
	text-align: left;
}

#typo3-mod-help-about-index-php-outer .typo3-mod-help-about-index-php-inner h3 {
	text-align: left;
}

#typo3-mod-help-about-index-php-outer .typo3-mod-help-about-index-php-inner p {
	color: #555555;
}

#typo3-mod-help-about-index-php-outer .typo3-mod-help-about-index-php-inner a {
	color: black;
	text-decoration: underline;
}

#typo3-mod-help-about-index-php-outer .typo3-mod-help-about-index-php-inner a:hover {
	text-decoration: none;
}