/* - - - - - - - - - - - - - - - - - - - - -
Tools > Extension Manager

- - - - - - - - - - - - - - - - - - - - - */

body#typo3-mod-tools-em-index-php .em-listbg1 {
	background-color: #d8ecd0;
}

body#typo3-mod-tools-em-index-php .em-listbg2 {
	background-color: #e6e6e6;
}

body#typo3-mod-tools-em-index-php .em-listbg3 {
	background-color: #efefef;
}

body#typo3-mod-tools-em-index-php tr.bgColor5 td {
	font-weight: bold;
}

body#typo3-mod-tools-em-index-php tr.unsupported-ext {
	background-color: #ffdddd;
}

body#typo3-mod-tools-em-index-php tr.unsupported-ext td {
	color: #ff0000;
}

body#typo3-mod-tools-em-index-php tr.unsupported-ext td a {
	color: #ff0000;
}

body#typo3-mod-tools-em-index-php tr td.extstate {
	color: #fff;
	font-weight: bold;
	text-align: center;
}
