/* - - - - - - - - - - - - - - - - - - - - -
Web > List

- - - - - - - - - - - - - - - - - - - - - */

table.typo3-dblist {
	background: #fff;
	border: 1px solid #a2aab8;
}

table.typo3-dblist tr td.db_list_alt {
	background-color: #e3dfd3;
}

table.typo3-dblist tr.db_list_alt td {
	background-color: #e4e5f0;
}

tr.t3-row-header td {
	color: #fff;
	font-size: 10px;
	font-weight: bold;
	line-height: 16px;
}

table#typo3-dblist-top table.bgColor4 {
	background-color: #efeff4;
}

table.typo3-dblist tr td.c-headLine,
table.typo3-dblist tr.c-headLine td {
	border-bottom: 1px solid #cdcdcd;
}

table.typo3-dblist tr.c-headLine td.col-title a {
	font-weight: bold;
}

table.typo3-dblist-overview td.c-tableDescription {
	color: #333;
	font-style: italic;
}

table.typo3-dblist tr td .typo3-DBctrl .typo3-ctrl-versioning {
	font-weight: bold;
	line-height: 16px;
	text-align: center;
}

table.typo3-dblist tr td .typo3-DBctrl .typo3-ctrl-versioning-multipleVersions {
	background-color: #ffff00;
}

table.typo3-dblist tr td .typo3-DBctrl .typo3-ctrl-versioning-oneVersion {
	background-color: #9999cc;
}

table.typo3-dblist tr.db_list_normal:nth-child(odd) td {
	background-color: #f7f7f7;
}

table.typo3-dblist tr.db_list_normal:nth-child(even) td {
	background-color: #ffffff;
}

table.typo3-dblist tr.db_list_normal:hover td,
table.typo3-dblist tr.c-headLine:hover td {
	background-color: #dedede;
}

div#typo3-newRecordLink,
div.typo3-newRecordLink,
div.typo3-localizationLink,
div.typo3-synchronizationLink {
	font-weight: bold;
}

div#typo3-dblist-pagination {
	white-space: nowrap;
}

div#typo3-dblist-pagination span.bar {
	border-left: 1px solid #5485c3;
}

/* Special treatment for searchfield on page */
#typo3-dblist-search input[type="submit"] {
	border: 1px solid #acb3be;
	color: #333;
	cursor: pointer;
}

#typo3-dblist-search input[type="submit"]:hover {
	border: 1px solid #737f91;
	color: #000;
	cursor: pointer;
}