/* - - - - - - - - - - - - - - - - - - - - -
Help > About modules
- - - - - - - - - - - - - - - - - - - - - */

table#typo3-aboutmodules tr.c-subitem-row td .icon {
	background-color: #dddddd;
	border: 1px solid #c7c7c7;
}

table#typo3-aboutmodules tr.c-subitem-row:hover td .icon {
	background-color: rgb(232, 232, 232);
}
