/* - - - - - - - - - - - - - - - - - - - - -
Web > Template

- - - - - - - - - - - - - - - - - - - - - */

.typo3-tstemplate-ceditor-control {
	cursor: pointer;
}

dt.typo3-tstemplate-ceditor-label {
	font-size: 11px;
	font-weight: bold;
}