/* - - - - - - - - - - - - - - - - - - - - -
Module menu
- - - - - - - - - - - - - - - - - - - - - */

#typo3-module-menu {
	background: #dddddd;
}

/**
 * Shadow on the right side of the module menu.
 */
#typo3-module-menu,
#typo3-menu li.menuSection li a:hover {
	background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAIAAACQd1PeAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAA9JREFUeNpi3LFjB0CAAQAEWAIqGE4BVwAAAABJRU5ErkJggg==");
	/* star-hack targets IE7 */
	*background-image: url("../../../../images/backgrounds/module-menu-right.png");
	background-position: right;
	background-repeat: repeat-y;
}

#typo3-module-menu .x-panel-body {
	background-color: transparent;
}

#typo3-menu,
#typo3-menu ul {
	list-style: none;
}

#typo3-menu a {
	color: #1e2121;
	outline: 0;
}

#typo3-menu > li {
	border-bottom: 1px solid #c7c7c7;
	border-bottom-right-radius: 3px;
	-moz-border-radius-bottomright: 3px;
	-webkit-border-bottom-right-radius: 3px;
}

#typo3-menu > li:last-child {
	border-bottom: none;
}

/* hovered menu item */
#typo3-menu li.menuSection li a:hover,
#typo3-menu li.highlighted a {
	border-top: 1px solid #b8b8b8;
	border-bottom: 1px solid #b8b8b8;
}

#typo3-menu li.menuSection li a:hover {
	background-color: #e8e8e8;
}

/* active menu item */
#typo3-menu li.highlighted {
	font-weight: bold;
}

#typo3-menu li.highlighted a,
#typo3-menu li.menuSection li.highlighted a:hover,
.no-boxshadow #typo3-menu li.menuSection li.highlighted a:hover {
	background-color: #ebebeb;
	background-image: none;
	-moz-box-shadow: none;
	-ms-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
}

#typo3-menu li div.modgroup {
	color: #252524;
	cursor: pointer;
	font-size: 10px;
	font-weight: bold;
	text-transform: uppercase;
}

#typo3-menu li ul li {
	cursor: pointer;
	font-weight: normal;
	font-size: 11px;
	line-height: 15px;
}

#typo3-menu li ul li a {
	text-decoration: none;
}
