/* - - - - - - - - - - - - - - - - - - - - -
Shortcuts menu in the toolbar

- - - - - - - - - - - - - - - - - - - - - */

#shortcut-menu .shortcut-list tr.shortcut td {
	line-height: 16px;
}

#shortcut-menu .shortcut-list tr.shortcut.first-row td {
	background-image: url('../../icons/gfx/shortcutgroups-bg.png');
	background-repeat: repeat-x;
}

#shortcut-menu .shortcut-list tr.shortcut-group td.shortcut-group-icon,
#shortcut-menu .shortcut-list tr.shortcut td.shortcut-icon,
#shortcut-menu .shortcut-list td.shortcut-edit,
#shortcut-menu .shortcut-list td.shortcut-delete {
	text-align: center;
}

#shortcut-menu .shortcut-list tr.shortcut td.shortcut-label a {
	cursor: pointer;
}

#shortcut-menu .shortcut-list tr.shortcut td.shortcut-edit img,
#shortcut-menu .shortcut-list tr.shortcut td.shortcut-delete img {
	cursor: pointer;
}

#shortcut-menu .shortcut-list .shortcut-group td {
	background-color: #dbdbdb;
	border-bottom: 1px solid #a5a5a5;
	border-top: 1px solid #a5a5a5;
}