/* - - - - - - - - - - - - - - - - - - - - -
Username inside the toolbar

- - - - - - - - - - - - - - - - - - - - - */

#username {
	color: #ffffff;
	font-weight: bold;
}

#username a {
	color: #ffffff;
	font-weight: bold;
	font-size: 11px;
	text-decoration: none;
}

#username.su-user a {
	color: #eb6e5a;
}