/* - - - - - - - - - - - - - - - - - - - - -
Logout-Button
- - - - - - - - - - - - - - - - - - - - - */

#logout-button input {
	background: #494949;
	border: 1px solid #636363;
	color: #fff;
	cursor: pointer;
	text-align: center;
	padding: 0 5px;
}

#logout-button input:hover {
	background-color: #c8c8c8;
	background-image: url('../../../../images/backgrounds/button-hover.png');
	background-image: linear-gradient(center top, #f6f6f6 10%, #c8c8c8 90%);
	border: 1px solid #737f91;
	color: #000;
}