/* - - - - - - - - - - - - - - - - - - - - -
Toolbar inside the Topbar

- - - - - - - - - - - - - - - - - - - - - */

#typo3-toolbar {
	list-style: none;
}

.toolbar-item {
	text-align: center;
}

#typo3-toolbar .separator {
	border-right: 1px solid #000;
	box-shadow: 1px 0 #585858;
	-moz-box-shadow: 1px 0 #585858;
	-webkit-box-shadow: 1px 0 #585858;
	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Color='#585858', Direction=90, Strength=1)";
}

.toolbar-item-active {
	background-image: url('../../icons/gfx/toolbar_item_active_bg.png');
	height: 20px;
}

.toolbar-item-menu {
	background-color: #f9f9f9;
	border: 1px solid #abb2bc;
	border-top: none;
	list-style: none;
}

#typo3-toolbar * li:hover,
tr.shortcut:hover,
tr.recentdoc:hover,
tr.opendoc:hover {
	background: #eee;
}
