<div>
	<h1>Settings</h1>
</div>
<div class="card-container">
	<div class="card card-size-fixed-small">
		<div class="card-header">
			<h1 class="card-title">Change Install Tool Password</h1>
			<span class="card-subtitle">Access</span>
		</div>
		<div class="card-content">
			<p class="card-text">Set a new password for accessing the Install Tool in Standalone Mode.</p>
		</div>
		<div class="card-footer">
			<a href="#" class="btn btn-default t3js-install-open-modal t3js-require" data-require="TYPO3/CMS/Install/ChangeInstallToolPassword">Change Install Tool Password</a>
		</div>
	</div>
	<div class="card card-size-fixed-small">
		<div class="card-header">
			<h1 class="card-title">Configure System Maintainers</h1>
			<span class="card-subtitle">Access</span>
		</div>
		<div class="card-content">
			<p class="card-text">Add or remove backend administrators which should have access to the Install Tool.</p>
		</div>
		<div class="card-footer">
			<a href="#" class="btn btn-default t3js-install-open-modal t3js-require" data-require="TYPO3/CMS/Install/SystemMaintainer">Manage System Maintainer</a>
		</div>
	</div>
	<div class="card card-size-fixed-small">
		<div class="card-header">
			<h1 class="card-title">Choose Configuration Presets</h1>
			<span class="card-subtitle">Global Configuration</span>
		</div>
		<div class="card-content">
			<p class="card-text">Detect and select settings for Image Processing, Debug/Live mode and Mail settings.</p>
		</div>
		<div class="card-footer">
			<a href="#" class="btn btn-default t3js-install-open-modal t3js-require" data-require="TYPO3/CMS/Install/Presets">Choose Preset</a>
		</div>
	</div>
	<div class="card card-size-fixed-small">
		<div class="card-header">
			<h1 class="card-title">Configure installation-wide options</h1>
			<span class="card-subtitle">Global Configuration</span>
		</div>
		<div class="card-content">
			<p class="card-text">Modify settings to be written into TYPO3\'s LocalConfiguration.php.</p>
		</div>
		<div class="card-footer">
			<a href="#" class="btn btn-default t3js-install-open-modal t3js-require" data-require="TYPO3/CMS/Install/LocalConfiguration">Configure options</a>
		</div>
	</div>
	<div class="card card-size-fixed-small">
		<div class="card-header">
			<h1 class="card-title">Extension configuration</h1>
			<span class="card-subtitle">Global Configuration</span>
		</div>
		<div class="card-content">
			<p class="card-text">Configure settings for extensions.</p>
		</div>
		<div class="card-footer">
			<a href="#" class="btn btn-default t3js-install-open-modal t3js-require" data-require="TYPO3/CMS/Install/ExtensionConfiguration">Configure extensions</a>
		</div>
	</div>
</div>



