<div>
	<h1>Settings</h1>
</div>

<f:alias map="{actions: {
	0: {partial: 'Settings/ChangeInstallToolPassword',
		require: 'TYPO3/CMS/Install/ChangeInstallToolPassword',
		baseClass: 't3js-changeInstallToolPassword',
		title: 'Change Install Tool Password',
		category: 'Access',
		description: 'Set a new password for accessing the Install Tool in Standalone Mode.'
	},
	1: {partial: 'Settings/SystemMaintainer',
		require: 'TYPO3/CMS/Install/SystemMaintainer',
		baseClass: 't3js-systemMaintainer',
		title: 'Configure System Maintainers',
		category: 'Access',
		description: 'Add or remove backend administrators which should have access to the Install Tool.'
	},
	2: {partial: 'Settings/Presets',
		require: 'TYPO3/CMS/Install/Presets',
		baseClass: 't3js-presets',
		title: 'Choose Configuration Presets',
		category: 'Global Configuration',
		description: 'Detect and select settings for Image Processing, Debug/Live mode and Mail settings.'
	},
	3: {partial: 'Settings/LocalConfiguration',
		require: 'TYPO3/CMS/Install/LocalConfiguration',
		baseClass: 't3js-localConfiguration',
		title: 'Configure installation-wide options',
		category: 'Global Configuration',
		description: 'Modify settings to be written into TYPO3\'s LocalConfiguration.php.'
	},
	4: {partial: 'Settings/ExtensionConfiguration',
		require: 'TYPO3/CMS/Install/ExtensionConfiguration',
		baseClass: 't3js-extensionConfiguration',
		title: 'Extension configuration',
		category: 'Glocal Configuration',
		description: 'Configure settings for extensions.'
	}
}}">
	<div class="gridder">
		<f:for each="{actions}" as="card" iteration="iterator">
			<div
				class="gridder-list {card.baseClass}-open {f:if(condition: '{card.require}', then: 't3js-require')}"
				{f:if(condition: '{card.require}', then: 'data-require="{card.require}"')}
			>
				<div class="gridder-item">
					<h3>
						{card.title} <span class="label label-warning {card.baseClass}-badge" style="display:none"></span>
						<br>
						<small class="text-muted">{card.category}</small>
						<br>
					</h3>
					<p>{card.description}</p>
				</div>
			</div>
			<div class="gridder-content {f:if(condition: '{card.baseClass}', then: '{card.baseClass}')}">
				<div class="gridder-padding">
					<div class="gridder-title clearfix">
						<h3 class="pull-left">{card.title}</h3>
					</div>
					<f:render partial="{card.partial}" arguments="{_all}" />
				</div>
			</div>
		</f:for>
	</div>
</f:alias>



