<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">

<h1>Settings</h1>

<div class="card-container">
    <div class="card card-size-fixed-small">
        <f:render partial="Card/Header" arguments="{ title: 'Extension Configuration', subtitle: 'Global Configuration', icon: 'Icons/modules/install-extension-settings.svg'}" />
        <div class="card-body">
            <p class="card-text">Configure settings for all enabled extensions.</p>
        </div>
        <div class="card-footer">
            <button type="button" class="btn btn-default" data-require="TYPO3/CMS/Install/Module/Settings/ExtensionConfiguration">Configure extensions</button>
        </div>
    </div>
    <div class="card card-size-fixed-small">
        <f:render partial="Card/Header" arguments="{ title: 'Change Install Tool Password', subtitle: 'Access', icon: 'Icons/modules/install-password.svg'}" />
        <div class="card-body">
            <p class="card-text">Set a new password for the Install Tool when accessed in Standalone mode.</p>
        </div>
        <div class="card-footer">
            <button type="button" class="btn btn-default" data-modal-size="small" data-require="TYPO3/CMS/Install/Module/Settings/ChangeInstallToolPassword">Change Install Tool Password</button>
        </div>
    </div>
    <div class="card card-size-fixed-small">
        <f:render partial="Card/Header" arguments="{ title: 'Manage System Maintainers', subtitle: 'Access', icon: 'Icons/modules/install-manage-maintainer.svg'}" />
        <div class="card-body">
            <p class="card-text">Specify which backend administrators have access to the Admin Tools module and Install Tool when accessed in Standalone Mode.</p>
        </div>
        <div class="card-footer">
            <button type="button" class="btn btn-default" data-modal-size="medium" data-require="TYPO3/CMS/Install/Module/Settings/SystemMaintainer">Manage System Maintainers</button>
        </div>
    </div>
    <div class="card card-size-fixed-small">
        <f:render partial="Card/Header" arguments="{ title: 'Configuration Presets', subtitle: 'Global Configuration', icon: 'Icons/modules/install-manage-presets.svg'}" />
        <div class="card-body">
            <p class="card-text">Configure image processing, debug/live mode and mail settings.</p>
        </div>
        <div class="card-footer">
            <button type="button" class="btn btn-default" data-require="TYPO3/CMS/Install/Module/Settings/Presets">Choose Preset</button>
        </div>
    </div>
    <div class="card card-size-fixed-small">
        <f:render partial="Card/Header" arguments="{ title: 'Feature Toggles', subtitle: 'Global Configuration', icon: 'Icons/modules/install-manage-features.svg'}" />
        <div class="card-body">
            <p class="card-text">Enable and disable core features.</p>
        </div>
        <div class="card-footer">
            <button type="button" class="btn btn-default" data-modal-size="medium" data-require="TYPO3/CMS/Install/Module/Settings/Features">Configure Features</button>
        </div>
    </div>
    <div class="card card-size-fixed-small">
        <f:render partial="Card/Header" arguments="{ title: 'Configure Installation-Wide Options', subtitle: 'Global Configuration', icon: 'Icons/modules/install-manage-settings.svg'}" />
        <div class="card-body">
            <p class="card-text">Modify settings written to LocalConfiguration.php.</p>
        </div>
        <div class="card-footer">
            <button type="button" class="btn btn-default" data-require="TYPO3/CMS/Install/Module/Settings/LocalConfiguration">Configure options</button>
        </div>
    </div>
</div>

</html>
