<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">

<p>
	Allows you to set a new Install Tool password. The hash for this password will be written to LocalConfiguration.php
	and will overwrite the previously specified password.
</p>

<div class="t3js-module-content" data-install-tool-token="{changeInstallToolPasswordToken}">
	<form action="" id="t3js-changeInstallToolPassword-form" method="post">
		<div class="form-group">
			<label for="t3-install-tool-password" class="control-label">Enter new password:</label>
			<input
				id="t3-install-tool-password"
				class="t3-install-form-input-text t3-install-form-password-strength t3js-changeInstallToolPassword-password form-control"
				type="password"
				autocomplete="off"
				required
			/>
		</div>
		<div class="form-group">
			<label for="t3-install-tool-password-repeat" class="control-label">Repeat password:</label>
			<input
				id="t3-install-tool-password-repeat"
				class="t3-install-form-input-text t3js-changeInstallToolPassword-password-check form-control"
				type="password"
				autocomplete="off"
				required
			/>
		</div>

		<div class="t3js-changeInstallToolPassword-output"></div>
		<button
			class="btn btn-default t3js-changeInstallToolPassword-change"
			type="submit"
		>
			Set new password
		</button>
	</form>
</div>

</html>
