<p>
	Allows you to set a new install tool password.
	The hash of this password will be written into LocalConfiguration.php and overwrite the old password.
</p>

<div style="display:none;">
	<div id="t3js-changeInstallToolPassword-token">{changeInstallToolPasswordToken}</div>
</div>

<div class="form-horizontal">
	<div class="form-group">
		<label for="t3-install-tool-password" class="col-sm-3 control-label">Enter new password:</label>
		<div class="col-sm-9">
			<input
				id="t3-install-tool-password"
				class="t3-install-form-input-text t3-install-form-password-strength t3js-changeInstallToolPassword-password form-control"
				type="password"
				autocomplete="off"
			/>
		</div>
	</div>
	<div class="form-group">
		<label for="t3-install-tool-password-repeat" class="col-sm-3 control-label">Repeat password:</label>
		<div class="col-sm-9">
			<input
				id="t3-install-tool-password-repeat"
				class="t3-install-form-input-text t3js-changeInstallToolPassword-password-check form-control"
				type="password"
				autocomplete="off"
			/>
		</div>
	</div>
</div>
<div class="t3js-changeInstallToolPassword-output"></div>
<button
	class="btn btn-default t3js-changeInstallToolPassword-change"
	type="button"
>
	Set new password
</button>
