<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">

<p>
    Review and apply recommended configuration presets based on the detected environment setup.
</p>
<p>
    TYPO3 can also run in a specific application context defined through an environment variable
    in the web server configuration. This context can be accessed in <code>system/additional.php</code>
    or in TypoScript to customize configuration accordingly.
</p>
<p>
    Changed values are written to <code>system/settings.php</code>. The optional file
    <code>system/additional.php</code> is not managed by the TYPO3 core and may override certain
    settings. Administrators must maintain this file manually and should use it with caution.
</p>

<f:render partial="Generic/ConfigurationNotWritable" arguments="{_all}"/>

<div class="t3js-module-content" data-presets-activate-token="{presetsActivateToken}" data-presets-content-token="{presetsGetContentToken}">
    <form method="post">
        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
            <f:for each="{presetFeatures}" as="feature">
                <f:render partial="Settings/Presets/{feature.name}" arguments="{_all}"/>
            </f:for>
        </div>
    </form>
</div>
<div class="t3js-presets-output"></div>

</html>
