<p>
	The Configuration Module recommends configuration settings based on information found in your environments setup.
</p>
<p>
	TYPO3 can also be run in a specific application context, by setting an environment variable in the web server configuration. The application context can then be accessed e.g. in the AdditionalConfiguration.php file or TypoScript configuration to customize settings accordingly.
</p>
<p>
	Changed values are written to LocalConfiguration.php. The optional file AdditionalConfiguration.php is not controlled by the TYPO3’s core and may override certain settings. Administrators must maintain AdditionalConfiguration.php manually and should be used with caution.
</p>

<div style="display:none;">
	<div id="t3js-presets-activate-token">{presetsActivateToken}</div>
</div>
<div class="t3js-presets-content">
	<form method="post" class="form-horizontal">
		<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
			<f:for each="{presetFeatures}" as="feature">
				<f:render partial="Settings/Presets/{feature.name}" arguments="{_all}"/>
			</f:for>
		</div>
	</form>
</div>
<div class="t3js-presets-output"></div>

<button
	class="btn btn-default t3js-presets-activate"
	type="button"
>
	Activate
</button>
