<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">

<p>
    Administrative users listed here will have full access to the Admin Tools module located in the backend. Note that all
    backend administrative users have access to this module when the system is running in development mode.
</p>

<f:if condition="{systemMaintainerIsDevelopmentContext}">
    <div class="typo3-message alert alert-info">
        <div class="message-body">
            This TYPO3 instance is set to "Development" context, all backend admin users
            can see the system maintenance related main module entries.
        </div>
    </div>
</f:if>

<div class="t3js-module-content" data-system-maintainer-write-token="{systemMaintainerWriteToken}">
    <div class="form-group">
        <div class="input-group flex-nowrap t3js-systemMaintainer-chosen" style="display:none">
            <span class="input-group-addon">System Maintainer:</span>
            <select
                class="chosen-select t3js-systemMaintainer-chosen-select"
                data-placeholder="none"
                style="width:100%;"
                multiple
                tabindex=""
            >
            </select>
        </div>
    </div>

    <div class="t3js-systemMaintainer-output"></div>
</div>

</html>
