/* - - - - - - - - - - - - - - - - - - - - -
TCEforms

$Id$
- - - - - - - - - - - - - - - - - - - - - */

.t3-form-field {
        border-top: 1px solid #cdcdcd;
}

.t3-form-section:first-child > .t3-form-field:first-child {
        border-top: 0;
}

.t3-form-palField .t3-form-palette-fieldset {
        border: 0;
}

.typo3-TCEforms-flexForm .bgColor4,
.typo3-TCEforms-flexForm .bgColor5 {
        background: none;
        display: inline-block;
}
