/* - - - - - - - - - - - - - - - - - - - - -
Flash Messages (template.php)

- - - - - - - - - - - - - - - - - - - - - */

.typo3-message {
	border: 1px solid;
	background-position: 10px 12px;
	background-repeat: no-repeat;
}

.typo3-message a {
	text-decoration: underline;
}

.typo3-message li {
	margin-bottom: 10px;
    list-style: disc;
}

.typo3-message .message-header {
	font-size: 11px;
	font-weight: bold;
}

.message-notice {
	color: #777;
	background-color: #f6f7fa;
	background-image: url('../../icons/gfx/notice.png');
	border-color: #c2cbcf;
}

.message-notice a {
	color: #777;
}

.message-information {
	color: #4c73a1;
	background-color: #eaf7ff;
	background-image: url('../../icons/gfx/information.png');
	border-color: #c5dbe6;
}

.message-information a {
	color: #4c73a1;
}

.message-ok {
	color: #3b7826;
	background-color: #cdeaca;
	background-image: url('../../icons/gfx/ok.png');
	border-color: #58b548;
}

.message-ok a {
	color: #3b7826;
}

.message-warning {
	color: #9e7d4a;
	background-color:#fbf6de;
	background-image: url("../../icons/gfx/warning.png");
	border-color: #b1905c;
}

.message-warning a {
	color: #9e7d4a;
}

.message-error {
	color: #aa0225;
	background-color: #f6d3cf;
	background-image: url('../../icons/gfx/error.png');
	border-color: #d66c68;
}

.message-error a {
	color: #aa0225;
}