/* - - - - - - - - - - - - - - - - - - - - -
Docheader

$Id$
- - - - - - - - - - - - - - - - - - - - - */

span.typo3-docheader-pagePath {
	font-weight: bold;
}

span.typo3-docheader-pagePath abbr {
	border-bottom: none;
}

/* - - - - - - - - - - - - - - - - - - - - -
Record editing (alt_doc.php)
- - - - - - - - - - - - - - - - - - - - - */

div#typo3-docheader-row1 {
	background: url('../../icons/gfx/alt_menu_mainitem_bg.gif') top left repeat-x;
}

div#typo3-docheader-row2 {
	background: #f3f3f9;
	border-bottom: 2px solid #595d66;
	line-height: 27px;
}

div#typo3-docheader div.buttonsleft {
	line-height: 16px;
}

div#typo3-docheader div.buttonsright {
	line-height: 16px;
}

div#typo3-docheader img,
div#typo3-docheader input {
	cursor: pointer;
}

div#typo3-docheader-row2 div {
	line-height: normal;
}

div#typo3-docheader div.buttonsleft div.buttongroup {
	border-right: 1px dashed #ccc;
}

div#typo3-docheader div.no-border div.buttongroup {
	border: 0px;
}