/* - - - - - - - - - - - - - - - - - - - - -
Workspace

$Id$
- - - - - - - - - - - - - - - - - - - - - */

#typo3-pagetree .workspace-info {
	background-color: #ffec97;
	font-weight: bold;
}

table#typo3-versionSelector {
	background-color: #ffec97;
	border: 1px solid #a2aab8;
}

.ver-element,
ul.tree ul li.ver-element {
	background-color: #d7dbe2;
}

.ver-page,
ul.tree ul li.ver-page {
	background-color: #ffec97;
}

.ver-branch,
ul.tree ul li.ver-branch {
	background-color: #ffcccc;
}

.ver-branchpoint,
ul.tree ul li.ver-branchpoint {
	background-color: #ff9999;
}

.ver-versions,
ul.tree ul li.ver-versions {
	background-color: #ffffaa;
}

ul.tree ul li.ver-element ul {
	background-color: #efeff4;
}

ul.tree ul li.ver-page ul {
	background-color: #efeff4;
}

ul.tree ul li.ver-branch ul {
	background-color: #efeff4;
}

ul.tree ul li.ver-branchpoint ul {
	background-color: #efeff4;
}

ul.tree ul li.ver-versions ul {
	background-color: #efeff4;
}

table.ver-subtree a {
	text-decoration: none;
}

table.ver-subtree tr td.iconTitle {
	white-space: nowrap;
}

table.ver-subtree tr td.diffCell {
	white-space: normal;
}

table.ver-subtree table.diffTable {
	background-color: white;
	border: 1px solid black;
}

table.ver-subtree div.diffLayer,
div.logLayer {
	background-color: white;
	border: 1px solid black;
}

table.ver-subtree,
table.ver-verElement td.c-diffCell {
	border: 1px solid #666;
}

table.ver-subtree tr.typo3-ver td.iconTitle,
table.ver-subtree tr.typo3-ver td.diffCell,
table.ver-subtree tr.typo3-ver td.cmdCell {
	background-color: #c5c1b5;
}

table.ver-subtree tr.typo3-ver-hl td.iconTitle,
table.ver-subtree tr.typo3-ver-hl td.diffCell,
table.ver-subtree tr.typo3-ver-hl td.cmdCell {
	background-color: #999;
}

table.ver-subtree tr.typo3-ver-new td {
	background-color: #eee;
	color: #666;
}

table.ver-subtree tr.typo3-ver-noComp td {
	font-style: italic;
}

.ver-wl-table {
	border: 1px solid black;
}

.ver-wl-details-table {
	border: 1px solid #d9d5c9;
}

.ver-wl-details {
	background-color: #e6e2d5;
}

.ver-wl-details-label {
	background-color: #e6e2d5;
	white-space: nowrap;
}

#ver-wl-new-workspace-icon {
	border: none;
}

.ver-wl-mp-inacessible {
	color: #7c7c7c;
	font-style: italic;
}

.ver-wl-current-user {
	font-weight: bold;
}
