/* - - - - - - - - - - - - - - - - - - - - -
Context Sensitive Menu / Layer (alt_clickmenu.php creates it)
Notice: Rollover color is set by ->bgColor5 in the template object of alt_clickmenu.php

- - - - - - - - - - - - - - - - - - - - - */

.typo3-CSM-wrapperCM {
	background: #fff;
	border: #b6b6b6 1px solid;
}

table.typo3-CSM td.typo3-CSM-item {
	white-space: nowrap;
}

table.typo3-CSM tr.typo3-CSM-itemRow {
	cursor: pointer;
}

table.typo3-CSM tr.bgColor2 {
	background-color: #b6b6b6;
}

/* - - - - - - - - - - - - - - - - - - - - -
special backend elements
- - - - - - - - - - - - - - - - - - - - - */

/* Context Sensitive Menu / Top frame (alt_clickmenu.php): */

body#typo3-alt-clickmenu-php {
	background-image: url('../../../icons/gfx/alt_topmenu_back_full.gif');
}

body#typo3-alt-clickmenu-php-notop {
	background-image: url('../../../icons/gfx/alt_topmenu_back_dummy.gif');
}

table#typo3-CSM-top a {
	text-decoration: none;
}

table#typo3-CSM-top tr td {
	white-space: nowrap;
}

table#typo3-CSM-top tr td.c-itemicon {
	font-weight: bold;
}

#contentMenu0 {
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
	-webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
}