/* - - - - - - - - - - - - - - - - - - - - -
Docheader

$Id$
- - - - - - - - - - - - - - - - - - - - - */

span.typo3-docheader-pagePath {
	font-weight: bold;
}

span.typo3-docheader-pagePath abbr {
	border-bottom: none;
}

/* - - - - - - - - - - - - - - - - - - - - -
Record editing (alt_doc.php)
- - - - - - - - - - - - - - - - - - - - - */

div#typo3-docheader-row1 {
	background-color: #585858;
}

div#typo3-docheader-row2 {
	background-color: #dadada;
	line-height: 27px;
}

div#typo3-docheader div.buttonsleft {
	line-height: 16px;
}

div#typo3-docheader div.buttonsright {
	line-height: 16px;
}

div#typo3-docheader img,
div#typo3-docheader input {
	cursor: pointer;
}

div#typo3-docheader-row2 div {
	line-height: normal;
}

/* customized docheader style for module menu and tree frames */
#typo3-module-menu #typo3-docheader-row1,
#typo3-pagetree #typo3-docheader-row1,
#typo3-alt-file-navframe-php #typo3-docheader-row1 {
	-moz-box-shadow: inset -2px 0 1px #414141;
	-ms-box-shadow: inset -2px 0 1px #414141;
	-webkit-box-shadow: inset -2px 0 1px #414141;
	box-shadow: inset -2px 0 1px #414141;
}

#typo3-module-menu #typo3-docheader-row2,
#typo3-pagetree #typo3-docheader-row2,
#typo3-alt-file-navframe-php #typo3-docheader-row2 {
	-moz-box-shadow: inset -2px 0 1px #b7b7b7;
	-ms-box-shadow: inset -2px 0 1px #b7b7b7;
	-webkit-box-shadow: inset -2px 0 1px #b7b7b7;
	box-shadow: inset -2px 0 1px #b7b7b7;
}