/* - - - - - - - - - - - - - - - - - - - - -
TypoScript Highlighting

- - - - - - - - - - - - - - - - - - - - - */

pre.ts-hl {
	font-family: "Lucida Console", "Lucida Sans Typewriter", "Bitsream Vera Sans Mono", monospace;
	font-size: 11px;
}

pre.ts-hl .ts-operator {
	color: black;
	font-weight: bold;
}

pre.ts-hl .ts-value {
	color: #cc0000;
}

pre.ts-hl .ts-objstr {
	color: #0000cc;
}

pre.ts-hl .ts-value_copy {
	color: #006600;
}

pre.ts-hl .ts-value_unset {
	background-color: #66cc66;
}

pre.ts-hl .ts-ignored {
	background-color: #66cc66;
}

pre.ts-hl .ts-default {
	background-color: #66cc66;
}

pre.ts-hl .ts-comment {
	color: #666;
	font-style: italic;
}

pre.ts-hl .ts-condition {
	background-color: maroon;
	color: #fff;
	font-weight: bold;
}

pre.ts-hl .ts-error {
	background-color: yellow;
	border: 1px red dashed;
	font-weight: bold;
	color: #000;
}

pre.ts-hl .ts-linenum {
	background-color: #eee;
	color: #212424;
}