/* - - - - - - - - - - - - - - - - - - - - -
Tree

- - - - - - - - - - - - - - - - - - - - - */

body#typo3-pagetree,
body#typo3-alt-file-navframe-php {
	background: #ebebeb;
}

#typo3-alt-file-navframe-php #typo3-docbody,
#typo3-alt-file-navframe-php #typo3-docheader-row1,
#typo3-alt-file-navframe-php #typo3-docheader-row2,
.typo3-pagetree-indicatorBar-item,
#typo3-pagetree-topPanelItems,
#typo3-pagetree-topPanel .typo3-pagetree-topPanel-item,
#typo3-pagetree-treeContainer,
#typo3-pagetree .x-panel-tbar,
#typo3-pagetree-deletionDropZone .x-panel-body {
	background-position: right;
	background-repeat: repeat-y;
}

#typo3-alt-file-navframe-php #typo3-docbody,
#typo3-pagetree-treeContainer {
	background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAMAAAABCAYAAAAb4BS0AAAAGElEQVR42gENAPL/AMjIyEzIyMizyMjI/zhvCQelaHPPAAAAAElFTkSuQmCC");
	/* star-hack targets IE7 */
	*background-image: url("../../images/shadows/navigation-container.png");
}

#typo3-alt-file-navframe-php #typo3-docheader-row1,
#typo3-pagetree-topPanelItems,
#typo3-pagetree .x-panel-tbar,
#typo3-pagetree-deletionDropZone .x-panel-body {
	background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAMAAAABCAYAAAAb4BS0AAAAGElEQVR42gENAPL/AEBAQExAQECzQEBA/xb3BD8CHBN0AAAAAElFTkSuQmCC");
	/* star-hack targets IE7 */
	*background-image: url("../../images/shadows/docheader1.png");
}

#typo3-alt-file-navframe-php #typo3-docheader-row2,
.typo3-pagetree-indicatorBar-item,
#typo3-pagetree-topPanel .typo3-pagetree-topPanel-item {
	background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAMAAAABCAYAAAAb4BS0AAAAGElEQVR42gENAPL/ALi4uEy4uLi0uLi4/zSECHijpwMGAAAAAElFTkSuQmCC");
	/* star-hack targets IE7 */
	*background-image: url("../../images/shadows/docheader2.png");
}

table#typo3-tree a {
	text-decoration: none;
}

body#typo3-alt-db-navframe-php div.c-notice {
	border: 1px solid black;
}

.navFrameHL {
	background-color: #d7dbe2;
}

.navFrameHL a {
	font-weight: bold;
}

table#typo3-tree tr:hover {
	background-color: #d7dbe2;
}

/* - - - - - - - - - - - - - - - - - - - - -
Configuration trees, used in Admin Tools => Configuration
- - - - - - - - - - - - - - - - - - - - - */
table.t3-tree-config {
	background: #ececec;
	background-image: linear-gradient(center top, #ffffff 0px, #ececec 100px);
	background-image: -moz-linear-gradient(center top, #ffffff 0px, #ececec 100px);
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0px, #ffffff), color-stop(100px, #ececec));
	border: 1px solid #adadad;
}

table.t3-tree-config .t3-tree-config-header {
	text-align: left;
}

/* - - - - - - - - - - - - - - - - - - - - -
AJAX Page Tree
- - - - - - - - - - - - - - - - - - - - - */

ul.tree {
	line-height: 12px;
	list-style: none;
}

ul.tree a {
	text-decoration: none;
}

ul.tree a.pm {
	cursor: pointer;
}

ul.tree ul {
	list-style: none;
}

ul.tree li {
	white-space: nowrap;
}

ul.tree ul li {
	list-style: none;
}

ul.tree ul li.expanded ul {
	background: transparent url('../../icons/gfx/ol/line.gif') left top repeat-y;
}

ul.tree ul li.last > ul {
	background: none;
}

/* active tree items */
ul.tree li.active div.treeLinkItem {
	background-color: #fff;
	border-color: #d7d7d7;
	border-width: 1px 0 1px 1px;
	border-style: solid;

}

/* subitems of active tree items - reset styling */
ul.tree li.active li div.treeLinkItem {
	background-color: transparent;
	border-width: 0;

}

ul.tree li.active span a,
ul.tree ul li.active span a {
	font-weight: bold;
}

ul.tree li.active ul span a,
ul.tree ul li.active ul span a {
	font-weight: normal;
}

#dragIcon {
	filter: alpha(opacity=50);
	opacity: 0.5;
	white-space: nowrap;
	-moz-opacity: 0.5;
}

#treeFilterBox {
	background-color: #dadada;
	background-image: url('../../icons/gfx/filter_bg.gif');
	background-repeat: no-repeat;
	background-position: 0 -2px;
}

#treeFilter {
	background: transparent;
	border: 0px;
	font-size: 11px;
}

#treeFilterReset {
	border: 0;
	cursor: pointer;
}

#tree-toolbar-filter-item {
	display: inline-block;
	height: 22px;
	width: 20px;
}

#tree-toolbar-filter-item.active {
	background-image: url("../../icons/gfx/toolbar_item_active_bg.png")
}