/* - - - - - - - - - - - - - - - - - - - - -
TCEforms

$Id$
- - - - - - - - - - - - - - - - - - - - - */

table.typo3-TCEforms {
	border-collapse: collapse;
	background-color: #ececec;
	background-image: url('../../images/backgrounds/tab.png');
	background-image: linear-gradient(center top, #ffffff 30px, #ececec 130px);
	background-image: -moz-linear-gradient(center top, #ffffff 0px, #ececec 130px);
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(30px, #ffffff), color-stop(130px, #ececec));
	background-repeat: repeat-x;
}


table.typo3-TCEforms tr.bgColor2 td {
	color: #212424;
}

table.typo3-TCEforms tr.bgColor2 {
	background-image: none;
}

table#typo3-altdoc-header input,
.c-inputButton {
	background: none;
	border: 0;
}

.checkbox,
.checkbox:hover {
	background: #efeff4;
	border: 0;
}

.t3-tceforms-input-wrapper,
.t3-tceforms-input-wrapper-hover,
.t3-tceforms-input-wrapper-datetime,
.t3-tceforms-input-wrapper-datetime-hover {
	display: block;
	float: left;
	position: relative;
}



.t3-tceforms-input-wrapper .t3-tceforms-input-clearer,
.t3-tceforms-input-wrapper-hover .t3-tceforms-input-clearer {
	position: absolute;
	right: 4px;
	top: 6px;
	z-index: 1000;
	cursor: pointer;
}

.t3-tceforms-input-wrapper-datetime .t3-tceforms-input-clearer,
.t3-tceforms-input-wrapper-datetime-hover .t3-tceforms-input-clearer {
	position: absolute;
	right: 24px;
	top: 6px;
	z-index: 1000;
	cursor: pointer;
}

.t3-tceforms-input-wrapper .tceforms-textfield,
.t3-tceforms-input-wrapper-hover .tceforms-textfield,
.t3-tceforms-input-wrapper .tceforms-datetimefield,
.t3-tceforms-input-wrapper-hover .tceforms-datetimefield,
.t3-tceforms-input-wrapper-datetime .tceforms-textfield,
.t3-tceforms-input-wrapper-datetime-hover .tceforms-textfield,
.t3-tceforms-input-wrapper-datetime .tceforms-datetimefield,
.t3-tceforms-input-wrapper-datetime-hover .tceforms-datetimefield {
	position: relative;
	z-index: 2000;
	min-height: 14px;
}

.t3-tceforms-input-wrapper-hover .t3-tceforms-input-clearer,
.t3-tceforms-input-wrapper-datetime-hover .t3-tceforms-input-clearer {
	z-index: 3000;
}

table.typo3-TCEforms table#typo3-altdoc-header input:hover,
.c-inputButton:hover {
	background: none;
	border: 0;
}

table.typo3-TCEforms span.typo3-TCEforms-recHeader {
	color: #555555;
	font-weight: bold;
}

table.typo3-TCEforms div.typo3-dyntabmenu-tabs,
table.typo3-TCEforms tr.typo3-TCEforms-recHeaderRow td {
	background: #f8f8f8;
}

table.typo3-TCEforms tr.typo3-TCEforms-recHeaderRow td {
	text-align: right;
}

table.typo3-TCEforms span.typo3-TCEforms-newToken {
	color: #990000;
	font-weight: bold;
}

table.typo3-TCEforms span.typo3-TCEforms-helpText {
	background: transparent;
	color: #fff;
}

table.typo3-TCEforms-select-checkbox  {
	background-color: #efeff4;
	border: 1px solid #aaa;
}

table.typo3-TCEforms-select-checkbox tr {
	background-color: #efeff4;
}

table.typo3-TCEforms table.typo3-TCEforms-select-checkbox tr.c-selectedItem {
	background-color: #d7dbe2;
}

table.typo3-TCEforms table.typo3-TCEforms-select-checkbox tr.c-unselectedItem {
	background-color: #efeff4;
}

table.typo3-TCEforms table.typo3-TCEforms-select-checkbox tr.c-invalidItem {
	background-color: #ff6600;
}

table.typo3-TCEforms table.typo3-TCEforms-select-checkbox tr.c-header-checkbox-controls td {
	background-color: #b8bec9;
	text-align: right;
}

table.typo3-TCEforms table.typo3-TCEforms-select-checkbox tr.c-header-checkbox-controls td a {
	color: white;
}

table.typo3-TCEforms table.typo3-TCEforms-select-checkbox tr.c-header td {
	background-color: #fff;
	border-bottom: 1px solid #999999;
	font-weight: bold;
}

table.typo3-TCEforms table.typo3-TCEforms-select-checkbox tr td {
	border-bottom: 1px #999 dashed;
}

table.typo3-TCEforms table.typo3-TCEforms-select-checkbox tr td.c-labelCell p.c-descr {
	font-style: italic;
}

table.typo3-TCEforms optgroup.c-divider,
select option.c-divider {
	background-color: #eee;
	border-top: 1px solid #666;
	color: #666;
	font-style: italic;
	text-transform: uppercase;
}

table.typo3-TCEforms optgroup option {
	background-color: white;
	border-bottom: none;
	color: black;
	font-style: normal;
	text-indent: 0px;
	text-transform: none;
}

table.typo3-TCEforms div.typo3-TCEforms-originalLanguageValue {
	background-color: #bbccbb;
}

table.typo3-TCEforms div.typo3-TCEforms-diffBox {
	background-color: white;
	border: 1px solid black;
}

table.typo3-TCEforms div.typo3-TCEforms-diffBox-header {
	background-color: red;
	font-weight: bold;
}

table.typo3-TCEforms div.typo3-dyntabmenu-divs {
	border-bottom: 0;
}

/* Default. Always used on main-palettes in the bottom of the forms */
table.typo3-TCEforms .class-main1,
table.typo3-TCEforms .class-main11,
table.typo3-TCEforms .class-main21,
table.typo3-TCEforms .class-main31,
table.typo3-TCEforms .class-main41,
table.typo3-TCEforms .class-main51 {
}

table.typo3-TCEforms .class-main2 td,
table.typo3-TCEforms .class-main12 td,
table.typo3-TCEforms .class-main22 td,
table.typo3-TCEforms .class-main32 td,
table.typo3-TCEforms .class-main42 td,
table.typo3-TCEforms .class-main52 td {
	border-top: 1px solid #c0c0c0;
}

table.typo3-TCEforms tr.class-main2:first-child td,
table.typo3-TCEforms tr.class-main12:first-child td,
table.typo3-TCEforms tr.class-main22:first-child td,
table.typo3-TCEforms tr.class-main32:first-child td,
table.typo3-TCEforms tr.class-main42:first-child td,
table.typo3-TCEforms tr.class-main52:first-child td {
	border-top: 0;
}

table.typo3-TCEforms .class-main2,
table.typo3-TCEforms .class-main12,
table.typo3-TCEforms .class-main22,
table.typo3-TCEforms .class-main32,
table.typo3-TCEforms .class-main42,
table.typo3-TCEforms .class-main52 {
}




table.typo3-TCEforms table.wrapperAttention .class-main2,
table.typo3-TCEforms table.wrapperAttention .class-main12,
table.typo3-TCEforms table.wrapperAttention .class-main22,
table.typo3-TCEforms table.wrapperAttention .class-main32,
table.typo3-TCEforms table.wrapperAttention .class-main42,
table.typo3-TCEforms table.wrapperAttention .class-main52 {

}


table.typo3-TCEforms .class-main4,
table.typo3-TCEforms .class-main14,
table.typo3-TCEforms .class-main24,
table.typo3-TCEforms .class-main34,
table.typo3-TCEforms .class-main44,
table.typo3-TCEforms .class-main54 {
	color: #000000;
}

table.typo3-TCEforms .class-main5,
table.typo3-TCEforms .class-main15,
table.typo3-TCEforms .class-main25,
table.typo3-TCEforms .class-main35,
table.typo3-TCEforms .class-main45,
table.typo3-TCEforms .class-main55 {
	color: #3c3c44;
}

table.typo3-TCEforms .wrapperTable,
table.typo3-TCEforms .wrapperTable1,
table.typo3-TCEforms .wrapperTable2,
table.typo3-TCEforms .wrapperTable3,
table.typo3-TCEforms .wrapperTable4,
table.typo3-TCEforms .wrapperTable5 {
	border: 1px solid #c0c0c0;
}

table.typo3-TCEforms .wrapperTable1 {
	border-top: 1px solid #c0c0c0;
}

table.typo3-TCEforms .typo3-dyntabmenu-divs .wrapperTable,
table.typo3-TCEforms .typo3-dyntabmenu-divs .wrapperTable1,
table.typo3-TCEforms .typo3-dyntabmenu-divs .wrapperTable2,
table.typo3-TCEforms .typo3-dyntabmenu-divs .wrapperTable3,
table.typo3-TCEforms .typo3-dyntabmenu-divs .wrapperTable4,
table.typo3-TCEforms .typo3-dyntabmenu-divs .wrapperTable5 {
	border: none;
	border-bottom: 1px solid #c0c0c0;
}

table.typo3-TCEforms table.wrapperAttention .wrapperTable,
table.typo3-TCEforms table.wrapperAttention .wrapperTable1,
table.typo3-TCEforms table.wrapperAttention .wrapperTable2,
table.typo3-TCEforms table.wrapperAttention .wrapperTable3,
table.typo3-TCEforms table.wrapperAttention .wrapperTable4,
table.typo3-TCEforms table.wrapperAttention .wrapperTable5 {
}

.t3-form-palette-fieldset {
	border:none;
}

table.typo3-TCEforms div.imagethumbs .nobr {
	background-color: #CCC;
}

table.typo3-TCEforms span.filetypes {
	font-size: 0.8em;
}

input.typo3-TCEforms-suggest-search {
	background-image: url('../../icons/gfx/zoom.gif');
	background-position: 2px center;
	background-repeat: no-repeat;
}

div.typo3-TCEforms-suggest-choices {
	background-color: white;
	border: 1px solid #888;
}

div.typo3-TCEforms-suggest-choices ul {
	list-style-type: none;
}

div.typo3-TCEforms-suggest-choices li.selected {
	background-color: #ffb !important;
}

div.typo3-TCEforms-suggest-choices li {
	cursor: pointer;
	background-color: #efeff4;
	background-repeat: no-repeat;
	background-position: 4px center;
	list-style-type: none;
}

div.typo3-TCEforms-suggest-choices li.pages {
	background-color: #fcc;
}

div.typo3-TCEforms-suggest-choices span.suggest-uid {
	font-size: 0.9em;
}

div.typo3-TCEforms-suggest-choices span.suggest-path {
	font-size: 0.9em;
}

div.typo3-TCEforms-suggest-choices span.suggest-path abbr {
	border-bottom: none;
}

div.typo3-TCEforms-suggest-choises a {
	cursor: pointer;
}

/* - - - - - - - - - - - - - - - - - - - - -
TCEforms Flexforms
- - - - - - - - - - - - - - - - - - - - - */
.t3-form-field-container-flex {
}

.t3-form-field-label-flex {
	border-top: 1px solid #c0c0c0;
}

.t3-form-field-container:first-child .t3-form-field-label-flex {
	border-top: 0;
}

/** no separate background for dyntabs in flexforms **/
table.typo3-TCEforms .wrapperTable div.typo3-dyntabmenu-tabs ,
table.typo3-TCEforms .wrapperTable1 div.typo3-dyntabmenu-tabs,
table.typo3-TCEforms .wrapperTable2 div.typo3-dyntabmenu-tabs,
table.typo3-TCEforms .wrapperTable3 div.typo3-dyntabmenu-tabs,
table.typo3-TCEforms .wrapperTable4 div.typo3-dyntabmenu-tabs,
table.typo3-TCEforms .wrapperTable5 div.typo3-dyntabmenu-tabs {
	background: transparent;
}

/** tabs inside the table => flexforms */
table.typo3-TCEforms .wrapperTable .typo3-dyntabmenu-divs,
table.typo3-TCEforms .wrapperTable1 .typo3-dyntabmenu-divs,
table.typo3-TCEforms .wrapperTable2 .typo3-dyntabmenu-divs,
table.typo3-TCEforms .wrapperTable3 .typo3-dyntabmenu-divs,
table.typo3-TCEforms .wrapperTable4 .typo3-dyntabmenu-divs,
table.typo3-TCEforms .wrapperTable5 .typo3-dyntabmenu-divs {
	border: 1px solid #c0c0c0;
}


/* - - - - - - - - - - - - - - - - - - - - -
TCEforms Inline-Relational-Record-Editing
- - - - - - - - - - - - - - - - - - - - - */
.t3-form-field-container-inline {
	border: 1px solid #c0c0c0;
}

.t3-form-field-header-inline {
	background: #DADADA;
}

.t3-form-field-record-inline {
	border-top: 1px solid #c0c0c0;
}

table.typo3-TCEforms .t3-form-field-container-inline .wrapperTable,
table.typo3-TCEforms .t3-form-field-container-inline .wrapperTable1,
table.typo3-TCEforms .t3-form-field-container-inline .wrapperTable2,
table.typo3-TCEforms .t3-form-field-container-inline .wrapperTable3,
table.typo3-TCEforms .t3-form-field-container-inline .wrapperTable4,
table.typo3-TCEforms .t3-form-field-container-inline .wrapperTable5 {
	border: 0;
}

/* - - - - - - - - - - - - - - - - - - - - -
TCEforms Sections
- - - - - - - - - - - - - - - - - - - - - */

.typo3-TCEforms-flexForm .bgColor4,
.typo3-TCEforms-flexForm .bgColor5 {
	background: none;
	display: inline-block;
}

.t3-form-field-label-flexsection {
	border-top: 1px solid #cdcdcd;
}

.t3-form-field-container-flexsections {
	background: #dadada;
}

.t3-form-field-record-flexsection {
	background: #eee;
}

.t3-form-field-add-flexsection {
	border-top: 1px solid #cdcdcd;
}


.typo3-TCEforms-select-selectedItemWithBackgroundImage {
	background-color:#fff;
	background-position: 0% 50%;
	background-repeat:no-repeat;
	padding:1px 1px 1px 24px;
}