/* - - - - - - - - - - - - - - - - - - - - -
Tab menu (template.php)

$Id: element_tab.css 2229 2010-04-16 11:09:43Z stephenking $
- - - - - - - - - - - - - - - - - - - - - */

table#typo3-tabmenu td.tabact {
	color: black;
	background: #e7dba8;
	border: solid black 1px;
}

table#typo3-tabmenu td.tab {
	background: #c4d4cd;
	border: solid #555 1px;
	border-left: solid #aaa 3px;
	color: #666;
}

table#typo3-tabmenu td.tab,
table#typo3-tabmenu td.tabact {
	border-bottom: 0px;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
}

table#typo3-tabmenu td a {
	color: #666;
	text-decoration: none;
}

table#typo3-tabmenu td.tabact a {
	color: black;
}

table#typo3-tabmenu td A:hover {
	color: black;
	text-decoration: none;
}

table#typo3-tabmenu td.tab:hover {
	background: #f6eab7;
}

/* - - - - - - - - - - - - - - - - - - - - -
Dynamic Tab menu (template.php)
- - - - - - - - - - - - - - - - - - - - - */
div.typo3-dyntabmenu-divs p.c-descr {
	background: #e7dba8;
	font-style: italic;
}

table.typo3-dyntabmenu td {
	border: 1px solid #555;
	border-bottom: none;
	border-radius: 3px;
}

table.typo3-dyntabmenu td,
table.typo3-dyntabmenu td a {
	-moz-border-radius-topleft: 3px;
	-moz-border-radius-topright: 3px;
	-webkit-border-top-left-radius: 3px;
	-webkit-border-top-right-radius: 3px;
}

table.typo3-dyntabmenu td.tab {
	background: #c4d4cd;
}

table.typo3-dyntabmenu td.tabact {
	background: #e7dba8;
}

table.typo3-dyntabmenu td.tabact,
table.typo3-dyntabmenu td.tabact_over {
	border-color: black;
}

table.typo3-dyntabmenu td.tab_over,
table.typo3-dyntabmenu td.tabact_over {
	background: #f6eab7;
}

table.typo3-dyntabmenu td.disabled,
table.typo3-dyntabmenu td.disabled_over {
	background: #ccc;
	color: #999;
	cursor: default;
}

table.typo3-dyntabmenu td a {
	color: #666;
	text-decoration: none;
}

table.typo3-dyntabmenu td.tabact a,
table.typo3-dyntabmenu td.tabact_over a {
	color: black;
}

table.typo3-tabmenu td:hover {
	background: #f6eab7;
}

div.typo3-dyntabmenu-divs-foldout div.tab,
div.typo3-dyntabmenu-divs-foldout div.tab_over,
div.typo3-dyntabmenu-divs-foldout div.tabact,
div.typo3-dyntabmenu-divs-foldout div.tabact_over,
div.typo3-dyntabmenu-divs-foldout div.disabled,
div.typo3-dyntabmenu-divs-foldout div.disabled_over {
	border: solid black 1px;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
}

div.typo3-dyntabmenu-divs-foldout div.tab {
	background: #c4d4cd;
	background-image: url('../../icons/gfx/ol/plusbullet.gif');
	background-repeat: no-repeat;
}

div.typo3-dyntabmenu-divs-foldout div.tab_over {
	background: #f6eab7;
	background-image: url('../../icons/gfx/ol/arrowbullet.gif');
	background-repeat: no-repeat;
}

div.typo3-dyntabmenu-divs-foldout div.tabact {
	background: #e7dba8;
	background-image: url('../../icons/gfx/ol/minusbullet.gif');
	background-repeat: no-repeat;
}

div.typo3-dyntabmenu-divs-foldout div.tabact_over {
	background: #f6eab7;
	background-image: url('../../icons/gfx/ol/arrowbullet.gif');
	background-repeat: no-repeat;
}

div.typo3-dyntabmenu-divs-foldout div.disabled {
	background: #ccc;
	color: #999;
}

div.typo3-dyntabmenu-divs-foldout div.disabled_over {
	background: #f6eab7;
	color: #999;
}

div.typo3-dyntabmenu-divs-foldout div.tab a,
div.typo3-dyntabmenu-divs-foldout div.tabact a,
div.typo3-dyntabmenu-divs-foldout div.tab_over a,
div.typo3-dyntabmenu-divs-foldout div.tabact_over a {
	text-decoration: none;
}

table#typo3-tabmenu td.tab,
table.typo3-dyntabmenu td {
	border: solid 1px #a2aab8;
	border-bottom: 0;
	color: #e6e1b2;
	cursor: pointer;
}

table#typo3-tabmenu td.tab,
table.typo3-dyntabmenu td.tab {
	background-color: transparent;
}

table#typo3-tabmenu td.tabact,
table.typo3-dyntabmenu td.tabact:hover,
table.typo3-dyntabmenu td.tabact a {
	background-color: #f8f9fb;
}

table#typo3-tabmenu td.disabled,
table.typo3-dyntabmenu td.disabled,
table.typo3-dyntabmenu td.disabled_over {
	color: #a2aab8;
	background-color: #efeff4;
}

table#typo3-tabmenu td.tab:hover,
table#typo3-tabmenu td a:hover,
table.typo3-dyntabmenu td:hover,
table.typo3-dyntabmenu td a:hover {
	background-color: #f8f9fb;
}

div.typo3-dyntabmenu-divs-foldout div.disabled,
div.typo3-dyntabmenu-divs-foldout div.disabled_over {
	background: #ccc;
}
div.typo3-dyntabmenu-divs-foldout div.tab,
div.typo3-dyntabmenu-divs-foldout div.tabact {
	background: #fefefe;
}

div.typo3-dyntabmenu-divs-foldout div.tab_over,
div.typo3-dyntabmenu-divs-foldout div.tabact_over {
	background: #d7dbe2;
}