/* - - - - - - - - - - - - - - - - - - - - -
Palette display for TCEforms (top frame, alt_palette.php)

- - - - - - - - - - - - - - - - - - - - - */

body#typo3-alt-palette-php {
	background-image: url('../../icons/gfx/topmenu_background_palette.jpg');
}

table#typo3-TCEforms-palette td {
	white-space: nowrap;
}

table#typo3-TCEforms-palette td.c-label {
	color: #fff;
}

body#typo3-alt-palette-php table td.c-csh input.checkbox {
	background-color: transparent;
}