/**
 * Docheader
 **/

.typo3-docheader-pagePath {
	font-weight: bold;
}

.typo3-docheader-functions {
	background-color: #585858;
}

.typo3-docheader-buttons {
	background-color: #dadada;
}

#typo3-docheader img,
#typo3-docheader input {
	cursor: pointer;
}

/**
 * Fail-safe for non-core legacy extensions
 * @deprecated with TYPO3 version 6.0, will be removed with 6.2
 */

#typo3-docheader-row2 {
	background-color: #585858;
}

#typo3-docheader-row1 {
	background-color: #dadada;
}