/* - - - - - - - - - - - - - - - - - - - - -
Pagetree

- - - - - - - - - - - - - - - - - - - - - */
#typo3-pagetree-treeContainer,
#typo3-pagetree-topPanelItems {
	background-color: #ebebeb;
}

#typo3-pagetree .x-tree .x-panel-body {
	background: none;
}

#typo3-pagetree .x-tree-node .x-tree-node-el {
	border-top: 1px solid transparent;
	border-bottom: 1px solid transparent;
	border-left: 1px solid transparent;
}

#typo3-pagetree .x-tree-node .x-tree-node-over,
#typo3-pagetree .x-tree-node .x-tree-selected {
	border-bottom: 1px solid #d7d7d7;
	border-top: 1px solid #d7d7d7;
	border-left: 1px solid #d7d7d7;
}

#typo3-pagetree .x-tree-node .x-tree-node-over {
	background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAMAAAABCAYAAAAb4BS0AAAAGElEQVR42gENAPL/AMjIyEzIyMizyMjI/zhvCQelaHPPAAAAAElFTkSuQmCC");
	/* star-hack targets IE7 */
	*background-image: url("../../images/shadows/navigation-container.png");
	background-position: right;
	background-repeat: repeat-y;
	background-color: #f2f2f2;
	-moz-border-radius-topright: 3px;
	-moz-border-radius-bottomright: 3px;
	-webkit-border-top-right-radius: 3px;
	-webkit-border-bottom-right-radius: 3px;
	border-top-right-radius: 3px;
	border-bottom-right-radius: 3px;
}

#typo3-pagetree .x-tree-node .x-tree-selected {
	background-color: #fff;
}

#typo3-pagetree .x-tree-node .x-tree-selected.x-tree-node-over {
	background-image: none;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
}

#typo3-pagetree .x-panel-tbar {
	background-color: #585858;
	border: none;
}

/**
 *
 * @section drag and drop
 *
 */
.typo3-pagetree-tree-copy {
	color: #666;
}

.x-dd-drag-ghost {
	background-color: inherit;
	border: none;
	-moz-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
	-ms-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
	-webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
}

.x-dd-drop-nodrop {
	background-color: #f6d3cf;
	border: 1px solid #d66c68;
}

.typo3-pagetree-deletionDropZone-proxyOver,
.x-tree-drop-ok-append,
.x-tree-drop-ok-between,
.x-tree-drop-ok-below,
.x-tree-drop-ok-above {
	background-color: #dce8f4;
	border: 1px solid #9eb2c5;
}

.x-dd-drop-nodrop .x-dd-drop-icon {
	background-image: url(../../images/icons/apps/pagetree-drag-place-denied.png);
}

.x-tree-drop-ok-append.typo3-pagetree-copy .x-dd-drop-icon {
	background-image: url(../../images/icons/apps/pagetree-drag-new-inside.png);
}

.x-tree-drop-ok-below.typo3-pagetree-copy .x-dd-drop-icon {
	background-image: url(../../images/icons/apps/pagetree-drag-copy-below.png);
}

.x-tree-drop-ok-above.typo3-pagetree-copy .x-dd-drop-icon {
	background-image: url(../../images/icons/apps/pagetree-drag-copy-above.png);
}

.x-tree-drop-ok-between.typo3-pagetree-copy .x-dd-drop-icon {
	background-image: url(../../images/icons/apps/pagetree-drag-new-between.png);
}

.x-tree-drop-ok-append .x-dd-drop-icon {
	background-image: url(../../images/icons/apps/pagetree-drag-move-into.png);
}

.x-tree-drop-ok-between .x-dd-drop-icon {
	background-image: url(../../images/icons/apps/pagetree-drag-move-between.png);
}

.x-tree-drop-ok-below .x-dd-drop-icon {
	background-image: url(../../images/icons/apps/pagetree-drag-move-below.png);
}

.x-tree-drop-ok-above .x-dd-drop-icon {
	background-image: url(../../images/icons/apps/pagetree-drag-move-above.png);
}

#typo3-pagetree .x-tree-node .x-tree-drag-insert-below,
.x-tree-node div.x-tree-drag-insert-below,
.x-tree-dd-underline .x-tree-node div.x-tree-drag-insert-below a {
	border-bottom: 1px solid #9eb2c5;
}

#typo3-pagetree .x-tree-node .x-tree-drag-insert-above,
.x-tree-node .x-tree-drag-insert-above,
.x-tree-dd-underline .x-tree-node div.x-tree-drag-insert-above a {
	border-top: 1px solid #9eb2c5;
}

.x-tree-node .x-tree-drag-append {
	background: #d7e4f1;
}

.x-tree-node .x-tree-drag-append a span {
	background-color: inherit;
	border: none;
}

/**
 *
 * @section Top Panel
 *
 */
#typo3-pagetree .x-toolbar {
	background: none;
	border: none;
}

.typo3-pagetree-topPanel-button {
	background: none;
	border: none;
}

#typo3-pagetree-topPanel .x-btn-click,
#typo3-pagetree-topPanel .x-btn-over {
	background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAMAAAAWCAIAAACKUbHAAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAD9JREFUCB19wdERAUAARDEv23+FmsGZG38Sz0sfKoXEppDKyldyxBzzM1eObWYMM5Zr/ipEWRm9UXnr0OVxvQAaNAkk1SzJpgAAAABJRU5ErkJggg==");
	*background-image: url("../../images/backgrounds/docheader-pagetree-button-hover.png");
}

#typo3-pagetree-topPanel .x-btn-pressed {
	background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAIAAAAWCAIAAABlk9r+AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAADtJREFUCB0FwYENADAMw6Ap/79cPFhV7b333ltVDdWqWLkaxYABc7AL5nDj7gw0cMMxxCCrXLtTVmhV+SoifU9efLPxAAAAAElFTkSuQmCC");
	*background-image: url("../../images/backgrounds/docheader-pagetree-button.png");
}

#typo3-pagetree-topPanel .x-btn-pressed,
#typo3-pagetree-topPanel .x-btn-over,
#typo3-pagetree-topPanel .x-btn-click {
	border: none;
	top: 0;
	left: 0;
	background-repeat: repeat-x;
}

#typo3-pagetree-topPanel button:focus {
	outline: none;
}

#typo3-pagetree-topPanel button::-moz-focus-inner {
	border: 0;
}

.typo3-pagetree-topPanel-button button {
	border: none;
}

#typo3-pagetree .typo3-pagetree-topPanel-item {
	background-color: #dadada;
	line-height: normal;
}

#typo3-pagetree-topPanel-filter {
	border: 1px solid #aeaeae;
	-moz-box-shadow: inset 0 1px 1px #aeaeae;
	-ms-box-shadow: inset 0 1px 1px #aeaeae;
	-webkit-box-shadow: inset 0 1px 1px #aeaeae;
	box-shadow: inset 0 1px 1px #aeaeae;
}

.typo3-pagetree-topPanel-filter-defaultText {
	color: gray;
}

#typo3-pagetree .typo3-pagetree-topPanel-button {
	border: none;
	border-radius: 0;
}

#typo3-pagetree .typo3-pagetree-topPanel-button button {
	vertical-align: middle;
}

#typo3-pagetree-topPanel-defaultPanel {
	color: #a2aab8;
	line-height: 18px;
}

#typo3-pagetree-topPanel-item-newNode .x-btn-over {
	background: inherit;
}

#typo3-pagetree-topPanel-item-newNode button {
	cursor: move;
}

#typo3-pagetree-topPanel-button-refresh,
#typo3-pagetree-topPanel-button-refresh.x-btn-over {
	background: inherit;
}

/**
 *
 * @section Tree Highlighting
 *
 */

#typo3-pagetree .ver-element,
#typo3-pagetree .ver-versions,
#typo3-pagetree .ver-page {
	background-color: #f7c898;
}

#typo3-pagetree .x-tree-node-over.ver-element,
#typo3-pagetree .x-tree-node-over.ver-versions,
#typo3-pagetree .x-tree-node-over.ver-page,
#typo3-pagetree .x-tree-selected.ver-element,
#typo3-pagetree .x-tree-selected.ver-versions,
#typo3-pagetree .x-tree-selected.ver-page {
	background-color: #fee4c9;
}

.x-tree-node-readableRootline {
	font-style: italic;
}

#typo3-pagetree .typo3-pagetree-filteringTree-highlight {
	background-color: #f48e0c;
	color: #FFF;
}

/**
 *
 * @section Indicator Bar
 *
 */

#typo3-pagetree-indicatorBar-temporaryMountPoint p {
	line-height: 13px;
}

#typo3-pagetree-indicatorBar-temporaryMountPoint,
#typo3-pagetree-indicatorBar-filter {
	background-color: #eaf7ff;
	border-bottom: 1px solid #c5dbe6;
	color: #4c73a1;
}

.typo3-pagetree-indicatorBar-item .typo3-pagetree-indicatorBar-item-rightIcon {
	cursor: pointer;
}

#typo3-pagetree-indicatorBar-indicatorTitle {
	background-color: #ffec97;
	font-weight: bold;
}

/**
 *
 * @section Deletion Drop Zone
 *
 */

#typo3-pagetree-deletionDropZone {
	color: #FFF;
	background-color: #585858;
	-moz-box-shadow: inset 0 2px 5px #414141;
	-ms-box-shadow: inset 0 2px 5px #414141;
	-webkit-box-shadow: inset 0 2px 5px #414141;
	box-shadow: inset 0 2px 5px #414141;
}

#typo3-pagetree-deletionDropZone-text {
	font-size: .9em;
}

.typo3-pagetree-deletionDropZone-restore {
	background-color: #d5d5d5;
	background-image: url('../../images/backgrounds/button.png');
	background-repeat: repeat-x;
	background-image: -moz-linear-gradient(center top, #f6f6f6 10%, #d5d5d5 90%);
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0.1, #f6f6f6), color-stop(0.9, #d5d5d5));
	background-image: linear-gradient(center top, #f6f6f6 10%, #d5d5d5 90%);
	border: 1px solid #7c7c7c;
	-moz-border-radius: 1px;
	-webkit-border-radius: 1px;
	border-radius: 1px;
	color: #434343;
	cursor: pointer;
}

.typo3-pagetree-deletionDropZone-restore:hover {
	background-color: #c8c8c8;
	background-image: url('../../images/backgrounds/button-hover.png');
	background-image: -moz-linear-gradient(center top, #f6f6f6 10%, #bdbcbc 90%);
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0.1, #f6f6f6), color-stop(0.9, #c8c8c8));
	background-image: linear-gradient(center top, #f6f6f6 10%, #c8c8c8 90%);
	background-position: bottom;
	background-repeat: repeat-x;
	border: 1px solid #737f91;
	color: #1e1e1e;
}

.typo3-pagetree-deletionDropZone-restoreText {
	background: transparent url('../../images/spinner/d5d5d5.gif') no-repeat 0 3px;
}

.typo3-pagetree-deletionDropZone-proxyOver .x-dd-drop-icon {
	background-image: url(../../images/icons/actions/edit-delete.png);
}

#typo3-pagetree .typo3-pagetree-deletionDropZone-activateProxyOver {
	background-color: #644d2d;
}

#typo3-pagetree-deletionDropZone-text {
	cursor: default;
}