/* - - - - - - - - - - - - - - - - - - - - -
Tab menu (template.php)

- - - - - - - - - - - - - - - - - - - - - */

table.typo3-dyntabmenu td a,
table.typo3-dyntabmenu td.disabled,
table#typo3-tabmenu td.tab,
table#typo3-tabmenu td.tabact,
table#typo3-tabmenu td.disabled {
	background: #dadada;
	border: 1px solid #adadad;
	border-bottom: none;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	color: #606060;
	-moz-border-radius-topleft: 3px;
	-moz-border-radius-topright: 3px;
	-webkit-border-top-left-radius: 3px;
	-webkit-border-top-right-radius: 3px;
}

table.typo3-dyntabmenu td.tabact a,
table.typo3-dyntabmenu td.tab_over a,
table.typo3-dyntabmenu td.tabact_over a,
table#typo3-tabmenu td.tabact,
table#typo3-tabmenu td.tab:hover,
table#typo3-tabmenu td.tabact:hover {
	background: #ffffff;
	color: #000;
}

table.typo3-dyntabmenu td.tab_over a,
table#typo3-tabmenu td.tab:hover {
	background-color: #eeeeee;
	border-color: #adadad;
	color: #606060;
}

table.typo3-dyntabmenu td.disabled,
table.typo3-dyntabmenu td.disabled_over {
	background: #e8e8e8;
	border: 1px solid #d6d6d6;
	color: #b7b7b7;
	cursor: default;
}

table.typo3-dyntabmenu td a {
	border-bottom: 1px solid #ffffff;
}

table.typo3-dyntabmenu td.tab a,
table.typo3-dyntabmenu td.tab_over a {
	border-bottom: 1px solid #c0c0c0;
}

table.typo3-dyntabmenu td a,
table#typo3-tabmenu td a {
	color: #666;
	text-decoration: none;
}

table.typo3-dyntabmenu td a:active,
table#typo3-tabmenu td a {
	outline: none;
}

div.typo3-dyntabmenu-divs {
	background-color: #ececec;
	background-image: url('../../images/backgrounds/tab.png');
	background-image: linear-gradient(center top, #ffffff 0px, #ececec 100px);
	background-image: -moz-linear-gradient(center top, #ffffff 0px, #ececec 100px);
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0px, #ffffff), color-stop(100px, #ececec));
	background-repeat: repeat-x;
	border: 1px solid #adadad;
}

div.typo3-dyntabmenu-divs p.c-descr {
	background: #e7dba8;
	font-style: italic;
}

/* Foldout tabs */
div.typo3-dyntabmenu-divs-foldout div.tab,
div.typo3-dyntabmenu-divs-foldout div.tab_over,
div.typo3-dyntabmenu-divs-foldout div.tabact,
div.typo3-dyntabmenu-divs-foldout div.tabact_over,
div.typo3-dyntabmenu-divs-foldout div.disabled,
div.typo3-dyntabmenu-divs-foldout div.disabled_over {
	border: solid black 1px;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
}

div.typo3-dyntabmenu-divs-foldout div.tab {
	background: #c4d4cd;
	background-image: url('../../icons/gfx/ol/plusbullet.gif');
	background-repeat: no-repeat;
}

div.typo3-dyntabmenu-divs-foldout div.tab_over {
	background: #f6eab7;
	background-image: url('../../icons/gfx/ol/arrowbullet.gif');
	background-repeat: no-repeat;
}

div.typo3-dyntabmenu-divs-foldout div.tabact {
	background: #e7dba8;
	background-image: url('../../icons/gfx/ol/minusbullet.gif');
	background-repeat: no-repeat;
}

div.typo3-dyntabmenu-divs-foldout div.tabact_over {
	background: #f6eab7;
	background-image: url('../../icons/gfx/ol/arrowbullet.gif');
	background-repeat: no-repeat;
}

div.typo3-dyntabmenu-divs-foldout div.disabled {
	background: #ccc;
	color: #999;
}

div.typo3-dyntabmenu-divs-foldout div.disabled_over {
	background: #f6eab7;
	color: #999;
}

div.typo3-dyntabmenu-divs-foldout div.tab a,
div.typo3-dyntabmenu-divs-foldout div.tabact a,
div.typo3-dyntabmenu-divs-foldout div.tab_over a,
div.typo3-dyntabmenu-divs-foldout div.tabact_over a {
	text-decoration: none;
	color: #000;
}