/* Login Screen
 * Warning:
 * DO NOT prevent the copyright notice from being shown!
 * According to the GPL license an interactive application must show such a notice on start-up ('If the program is interactive, make it output a short notice... ' - see GPL.txt)
 * Therefore preventing this notice from being properly shown is a violation of the license, regardless of whether you remove it or use the stylesheet to obstruct the display.
 */

#typo3-index-php {
	background-color: #494949;
	background-image: url('../../images/backgrounds/gray-gradient.png');
	background-repeat: repeat-x;
}

#typo3-index-php .t3-headline {
	background-color: #4f4f4f;
}

#typo3-index-php .t3-headline h2 {
	background: transparent url('../../icons/login-icon-key.png') no-repeat 12px 8px;
	color: #fff;
	font-size: 12px;
}

#typo3-index-php #t3-login-process {
	text-align: center;
}

#typo3-index-php #t3-login-process h2 {
	background: url('../../icons/login-submit-progress.gif') no-repeat 10px center;
	font-size: 11px !important;
}

#typo3-index-php .t3-headline .t3-login-news-headline {
	background: transparent url('../../icons/login-icon-news.gif') no-repeat 10px center;
	color: #fff;
	font-size: 11px !important;
	line-height: 24px;
}

#typo3-index-php .t3-login-field input {
	background: #fff;
	border: none;
	color: #606060;
	font-size: 12px;
}

#typo3-index-php #t3-login-form-fields {
	font-size: 11px;
}

#typo3-index-php #t3-interfaceselector {
	font-size: 11px;
}

#typo3-index-php .t3-login-form-footer {
	text-align: right;
}

#typo3-index-php .t3-login-form-footer a {
	cursor: pointer;
}

#typo3-index-php .t3-login-form-footer,
#typo3-index-php .t3-login-form-footer a.switchToOpenId,
#typo3-index-php dl#t3-login-news a {
	color: #888;
	font-size: 10px;
}

#typo3-index-php .t3-login-form-footer a.switchToOpenId,
#typo3-index-php dl#t3-login-news a {
	text-decoration: underline;
}

#typo3-index-php .t3-login-form-footer a.switchToOpenId:hover,
#typo3-index-php dl#t3-login-news a:hover {
	color: #333;
}

#typo3-index-php input.t3-login-submit {
	background-color: #ff8600;
	background-image: url('../../images/login/login-submit-background.gif');
	background-image: linear-gradient(center top, #fe9500 0%, #cf6610 100%);
	background-image: -moz-linear-gradient(center top, #fe9500 0%, #cf6610 100%);
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0, #fe9500), color-stop(1, #cf6610));
	background-repeat: repeat-x;
	border-top: 1px solid #ffb955;
	border-left: 1px solid #E69036;
	text-shadow: 0px -1px 0px rgba(149, 81, 5, 0.6);
	color: #fff;
}

#typo3-index-php div#t3-copyright-notice {
	border-top: 1px solid #565655;
	font-weight: normal;
	font-size: 10px;
	color: #797878;
}

#typo3-index-php div#t3-copyright-notice a {
	color: #797878;
	text-decoration: underline;
}

#typo3-index-php div#t3-copyright-notice a:hover {
	color: #b0b0b0;
}

#typo3-index-php div#t3-login-image {
	text-align: left;
}

#typo3-index-php #t3-meta-links {
	color: #797878;
	font-size: 10px;
}

#typo3-index-php #t3-meta-links a {
	color: #797878;
	text-decoration: underline;
}

#typo3-index-php #t3-meta-links a.t3-login-link-donate {
	font-weight: bold;
}

#typo3-index-php #t3-meta-links a:hover {
	color: #b0b0b0;
}

/**
 * @section login news
 */
#typo3-index-php .shadow {
	-webkit-box-shadow: 0px 0px 18px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 0px 0px 18px rgba(0, 0, 0, 0.3);
	box-shadow: 0px 0px 18px rgba(0, 0, 0, 0.3);
}

#typo3-index-php #t3-login-news-outer #t3-login-news dt {
	font-weight: bold;
}

#typo3-index-php #t3-login-news-outer #t3-login-news dd {
	border: 0;
}

/**
 * @section logout
 */
#typo3-index-php .t3-login-logout-form .t3-username-current,
#typo3-index-php .t3-login-logout-form div.t3-login-label {
	color: #606060;
	line-height: 21px;
}

/**
 * @section erros/warnings
 */
.t3-login-alert h2 {
	background: none;
	font-size: 14px;
}

.t3-login-alert p {
	font-size: 11px;
	line-height: 15px;
}

.t3-login-alert a {
	text-decoration: underline;
}

.t3-login-alert-error {
	background: #f6d3cf;
	border: 1px solid #d66c68;
}

.t3-login-alert-error h2 {
	background: url('../../icons/login-alert-error.gif') no-repeat left 2px;
	color: #be0027;
}

.t3-login-alert-error p,
.t3-login-alert-error a {
	color: #be0027;
}

#t3-nocookies-ignore {
	padding-left: 30px;
}

.t3-login-alert-warning {
	background: #fbf6de;
	border: 1px solid #b1905c;
}

.t3-login-alert-warning h2 {
	background: url('../../icons/login-alert-warning.gif') no-repeat left 2px;
	color: #9e7d4a;
}

.t3-login-alert-warning p,
.t3-login-alert-warning a {
	color: #9e7d4a;
}

/**
 * @section box layout
 */
.t3-login-box-body {
	background-color: #c2c2c2;
	background-image: linear-gradient(center top, #e2e2e2 0%, #c2c2c2 100%);
	background-image: -moz-linear-gradient(center top, #e2e2e2 0%, #c2c2c2 100%);
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0, #e2e2e2), color-stop(1, #c2c2c2));
	background-repeat: repeat-x;
}