/* Login Screen
 * Warning:
 * DO NOT prevent the copyright notice from being shown!
 * According to the GPL license an interactive application must show such a notice on start-up ('If the program is interactive, make it output a short notice... ' - see GPL.txt)
 * Therefore preventing this notice from being properly shown is a violation of the license, regardless of whether you remove it or use the stylesheet to obstruct the display.

 */
body#typo3-index-php {
	background: #4f4f4f;
	background-attachment: fixed;
	background-image: url('../../images/login/background.png');
	background-repeat: repeat-x;
}

body#typo3-index-php #t3-login-form {
	color: #606060;
	font-size: 11px;
	text-align: left;
}

body#typo3-index-php .t3-headline {
	background: #585858;
}

body#typo3-index-php .t3-headline h2 {
	background: transparent no-repeat 10px 5px;
	background-image: url('../../icons/login-icon-key.gif');
	color: #fff;
	font-size: 11px !important;
	line-height: 24px;
}

body#typo3-index-php #t3-login-process {
	text-align: center;
}

body#typo3-index-php #t3-login-process h2 {
	background: url('../../icons/login-submit-progress.gif') no-repeat 10px center;
	font-size: 11px !important;
}

body#typo3-index-php .t3-headline .t3-login-news-headline {
	background: transparent url('../../icons/login-icon-news.gif') no-repeat 10px center;
	color: #fff;
	font-size: 11px !important;
	line-height: 24px;
}

body#typo3-index-php .t3-login-field {
	line-height: 18px;
}

body#typo3-index-php .t3-login-field input {
	background: #fff;
	border: 1px solid #7c7c7c;
	border-radius: 1px;
	-moz-border-radius: 1px;
	box-shadow: 0 1px 1px #cbcbcb inset;
	-moz-box-shadow: 0 1px 1px #cbcbcb inset;
	-webkit-box-shadow: 0 1px 1px #cbcbcb inset;
	color: #000;
	font-size: 11px;
	line-height: 19px;
	-webkit-appearance: textfield;
	
}

body#typo3-index-php #t3-login-form-fields {
	font-size: 11px;
}

body#typo3-index-php #t3-interfaceselector {
	font-size: 11px;
}

body#typo3-index-php .t3-login-form-footer {
	text-align: right;
}

body#typo3-index-php .t3-login-form-footer a {
	cursor: pointer;
}

body#typo3-index-php .t3-login-form-footer,
body#typo3-index-php .t3-login-form-footer a.switchToOpenId,
body#typo3-index-php dl#t3-login-news a {
	color: #888;
	font-size: 10px;
}

body#typo3-index-php .t3-login-form-footer a.switchToOpenId,
body#typo3-index-php dl#t3-login-news a {
	text-decoration: underline;
}

body#typo3-index-php .t3-login-form-footer a.switchToOpenId:hover,
body#typo3-index-php dl#t3-login-news a:hover {
	color: #333;
}

body#typo3-index-php .t3-login-submit {
	text-align: left;
}

body#typo3-index-php div#t3-copyright-notice {
	font-weight: normal;
	color: #797878;
}

body#typo3-index-php div#t3-copyright-notice a {
	color: #797878;
	text-decoration: underline;
}

body#typo3-index-php div#t3-copyright-notice a:hover {
	color: #b0b0b0;
}

body#typo3-index-php div#t3-login-image {
	text-align: left;
}

body#typo3-index-php #t3-footer {
	border-top: 1px solid #5c5c5c;
	font-size: 10px;
}

body#typo3-index-php #t3-meta-links {
	color: #797878;
}

body#typo3-index-php #t3-meta-links a {
	color: #797878;
	text-decoration: underline;
}

body#typo3-index-php #t3-meta-links a.t3-login-link-donate {
	font-weight: bold;
}

body#typo3-index-php #t3-meta-links a:hover {
	color: #b0b0b0;
}

/**
 * @section login news
 */
body#typo3-index-php #t3-login-news-outer #t3-login-news dt {
	font-weight: bold;
}

body#typo3-index-php #t3-login-news-outer #t3-login-news dd {
	border: 0;
}

/**
 * @section logout
 */
body#typo3-index-php .t3-login-logout-form .t3-username-current,
body#typo3-index-php .t3-login-logout-form div.t3-login-label {
	color: #606060;
	line-height: 21px;
}

/**
 * @section erros/warnings
 */
.t3-login-alert h2 {
	background: none;
	font-size: 14px;
	line-height: 18px;
}

.t3-login-alert p {
	font-size: 11px;
	line-height: 15px;
}

.t3-login-alert a {
	text-decoration: underline;
}

.t3-login-alert-error {
	background: #f6d3cf;
	border: 1px solid #d66c68;
}

.t3-login-alert-error h2 {
	background: url('../../icons/login-alert-error.gif') no-repeat left 2px;
	color: #be0027;
}

.t3-login-alert-error p,
.t3-login-alert-error a {
	color: #be0027;
}

#t3-nocookies-ignore {
	text-align: center;
}

.t3-login-alert-warning {
	background: #fbf6de;
	border: 1px solid #b1905c;
}

.t3-login-alert-warning h2 {
	background: url('../../icons/login-alert-warning.gif') no-repeat left 2px;
	color: #9e7d4a;
}

.t3-login-alert-warning p,
.t3-login-alert-warning a {
	color: #9e7d4a;
}

/**
 * @section box layout
 */
.t3-login-box-body {
	background-color: #c9c9c9;
	background-image: url('../../images/backgrounds/login-box.png');
	background-image: linear-gradient(center top, #ebebeb 0%, #c9c9c9 100%);
	background-image: -moz-linear-gradient(center top, #ebebeb 0%, #c9c9c9 100%);
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0, #ebebeb), color-stop(1, #c9c9c9));
	background-repeat: repeat-x;
}