/* - - - - - - - - - - - - - - - - - - - - -
TYPO3 styles for basic elements

- - - - - - - - - - - - - - - - - - - - - */

h1,
h2,
h3,
h4 {
	color: #555555;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: bold;
}

/* Occasionally used, eg. in About Modules: */
h1 {
	font-size: 14px;
	text-align: center;
}

/* MAIN page header: */
h2 {
	font-size: 14px;
	line-height: 18px;
}

/* Normal section headers */
h3 {
	font-size: 12px;
}

/* Discrete section headers (no background) */
h4 {
	font-size: 12px;
}

body {
	color: black;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	line-height: 14px;
}

/* Preformatted text - not used so much in TYPO3 */
pre {
	font-family: "Lucida Console", "Lucida Sans Typewriter", "Bitstream Vera Sans Mono", monospace;
	font-size: 11px;
}

/* Links in general */
a {
	color: #212424;
	background-color: transparent;
	text-decoration: none;
}

a:hover {
	color: #000000;
	background-color: transparent;
}

a.t3-link {
	text-decoration: underline;
}

/* horizontal ruler */
hr, div.hr {
	background-color: #ddd;
	border-bottom: 1px solid black;
	border-top: 1px solid #7a7a7a;
	color: #ddd;
}

img {
	border: 0px;
}

em {
	font-style: italic;
}

th,
strong {
	font-weight: bold;
}

.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}

.clearfix {
	display: inline-block;
}

html[xmlns] .clearfix {
	display: block;
}

* html .clearfix {
	height: 1%;
}

/* - - - - - - - - - - - - - - - - - - - - -
Background color classes
- - - - - - - - - - - - - - - - - - - - - */

.bgColor-20 {
	background-color: #e3dfdb;
}

.bgColor2 {
	background-color: #585858;
	color: #ffffff;
}

.bgColor3 {
	background-color: #f6f2e6;
}

.bgColor3-20 {
	background-color: #f7f7f7;
}

.bgColor4 {
	background-color: #f1f1f1;
	color: #212424;
}

.bgColor4-20 {
	background-color: #f8f9fa;
}

.bgColor5 {
	background-color: #9b9b9b;
}

.bgColor6 {
	background-color: #f7f7f7;
}

/* - - - - - - - - - - - - - - - - - - - - -
Various classes
- - - - - - - - - - - - - - - - - - - - - */

/** used for any table where a table is used for displaying information (and thus, there is air to breathe) **/
table.t3-table-info {
	background: #ffffff;
	border: 1px solid #cccccc;
	border-collapse: collapse;
}

.t3-row-header {
	background-color: #666;
	color: #fff;
	font-size: 10px;
	line-height: 19px;
	height: 20px;
}

.t3-row-header a {
	color: #fff;
	float: left;
}

.t3-col-header {
	background-color: #585858;
	color: #fff;
	font-size: 10px;
	line-height: 19px;
	height: 20px;
	font-weight: bold;
}

.section {
	margin-bottom: 15px;
}

.nobr {
	white-space: nowrap;
}

.diff-r {
	color: red;
}

.diff-g {
	color: green;
}

div.diff-r {
	background-color: red;
	color: black;
}

div.diff-g {
	background-color: green;
	color: black;
}

textarea.fixed-font {
	font-family: "Lucida Console", "Lucida Sans Typewriter", "Bitstream Vera Sans Mono", monospace;
	font-size: 11px;
}

/** .uppercase is kept for backwards-compatibility, use .divider */
.divider,
.uppercase {
	border-bottom: 1px solid #cdcdcd;
}
.tableheader td {
	font-weight: bold;
}

/** used in the admin tools => DB check **/
.t3-overview-list dt {
	font-weight: bold;
}

/* - - - - - - - - - - - - - - - - - - - - -
Dimmed span tag color (disabled)
- - - - - - - - - - - - - - - - - - - - - */

.typo3-dimmed {
	color: #666;
}

.c-na {
	color: #666;
	font-style: italic;
}

.not-found a {
	color: #cccccc;
}


/* - - - - - - - - - - - - - - - - - - - - -

Red span tag color (warning, notice)

- - - - - - - - - - - - - - - - - - - - - */

.typo3-red {
	color: red;
}

.typo3-red-background {
	background-color: red;
}

table.warningbox {
	border: solid 2px black;
	background-color: yellow;
	margin: 20px 0px 20px 0px;
}

table.warningbox td {
	padding: 20px 20px 20px 20px;
	font-weight: bold;
}

table.warningbox td a {
	text-decoration: underline;
}

div.warningbox {
	border: solid 2px black;
	background-color: yellow;
	font-weight: bold;
	margin: 10px 0px 10px 0px;
	padding: 10px;
}

span.warningboxheader {
	margin-left: 5px;
}

/* - - - - - - - - - - - - - - - - - - - - -
input elements
- - - - - - - - - - - - - - - - - - - - - */

input,
textarea,
select,
button {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	line-height: 16px;
}

textarea {
	background-color: #fefefe;
	border: 1px solid #7c7c7c;
}

textarea:hover {
	border: 1px solid #737f91;
}

input[type="submit"],
input[type="reset"],
input[type="button"],
input[type="submit"][disabled="disabled"]:hover,
input[type="reset"][disabled="disabled"]:hover,
input[type="button"][disabled="disabled"]:hover {
	background-color: #f6f6f6;
	background-image: url('../../images/backgrounds/button.png');
	background-image: linear-gradient(center top, #f6f6f6 10%, #d5d5d5 90%);
	background-image: -moz-linear-gradient(center top, #f6f6f6 10%, #d5d5d5 90%);
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0.1, #f6f6f6), color-stop(0.9, #d5d5d5));
	background-position: bottom;
	background-repeat: repeat-x;
	border: 1px solid #7c7c7c;
	border-radius: 1px;
	-moz-border-radius: 1px;
	color: #434343;
	cursor: pointer;
}

input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover {
	background-color: #c8c8c8;
	background-image: url('../../images/backgrounds/button-hover.png');
	background-image: linear-gradient(center top, #f6f6f6 10%, #c8c8c8 90%);
	background-image: -moz-linear-gradient(center top, #f6f6f6 10%, #bdbcbc 90%);
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0.1, #f6f6f6), color-stop(0.9, #c8c8c8));
	background-position: bottom;
	background-repeat: repeat-x;
	border: 1px solid #737f91;
	color: #1e1e1e;
	cursor: pointer;
}

input[type="submit"][disabled="disabled"],
input[type="reset"][disabled="disabled"],
input[type="button"][disabled="disabled"],
input[type="submit"][disabled="disabled"]:hover,
input[type="reset"][disabled="disabled"]:hover,
input[type="button"][disabled="disabled"]:hover {
	cursor: default;
	opacity: 0.5;
}

.checkbox,
.checkbox:hover,
input[type="checkbox"] {
	background: none;
	border: none;
	cursor: pointer;
}