/**
 * Module menu
 */

#typo3-module-menu { background: rgb(88, 88, 88); border-right: 1px solid rgb(235, 235, 235); }

#typo3-menu ul { list-style: none; }

#typo3-menu > li { padding-bottom: 18px; }
#typo3-menu > li:last-child { border-bottom: none; }

#typo3-menu li div.modgroup {
	color: rgb(180, 180, 180);
	cursor: pointer;
	font-size: 9px;
	font-weight: bold;
	text-transform: uppercase;
}

#typo3-menu li li a { color: rgb(235,235, 235); font-size: 10px; text-decoration: none; }

#typo3-menu li li:hover { background-color: #e8e8e8; color: rgb(18, 18, 18); }
	#typo3-menu li li:hover a { color: rgb(18, 18, 18); }

#typo3-menu li li.highlighted { background-color: rgb(235,235, 235); }
	#typo3-menu li li.highlighted a { color: rgb(18, 18, 18); font-weight: bold; }

