/* - - - - - - - - - - - - - - - - - - - - -
Web > Permissions

- - - - - - - - - - - - - - - - - - - - - */

a.perm-allowed,
a.perm-denied,
#perm-legend .perm-allowed,
#perm-legend .perm-denied {
	cursor: pointer;
	font-size: 0px;
	font-weight: bold;
}

a.perm-allowed:hover,
a.perm-denied:hover {
	background-color: #e3dfdb;
}

a.perm-allowed,
#perm-legend .perm-allowed {
	background: transparent url('../../icons/gfx/perm-allowed.gif') no-repeat scroll center;
	color: green;
}

a.perm-denied,
#perm-legend .perm-denied {
	background: transparent url('../../icons/gfx/perm-denied.gif') no-repeat scroll center;
	color: red;
}

.ug_selector,
.ug_selector a {
	cursor: pointer;
	text-decoration: underline;
}

.not_set,
.not_set a,
.editlock,
.editlock a {
	color: #ccc;
	cursor: pointer;
	text-decoration: none;
}

.not_set:hover,
.not_set a:hover,
.editlock:hover,
.editlock a:hover {
	color: #000;
	cursor: pointer;
	text-decoration: none;
}

.not_set {
	color: #000;
	font-style: italic;
}