/* - - - - - - - - - - - - - - - - - - - - -
Web > Page

- - - - - - - - - - - - - - - - - - - - - */

.t3-page-langMode {
	width: 100%;
}

.t3-page-columns {
	width: 100%;
	margin: 0px -12px;
}

.t3-page-colHeader {
	background: none;
	color: #999999;
	font-family: Verdana, sans-serif;
	font-size: 13px;
	text-align: left;
}

.t3-page-colHeader-label {
	text-align: left;
}

.t3-page-colHeader-icons {
	visibility: hidden;
}

.t3-page-colHeader:hover .t3-page-colHeader-icons,
.t3-page-column.active .t3-page-colHeader .t3-page-colHeader-icons {
	visibility: visible;
}

.t3-page-border {
	background-color: #cfcfcf;
	width: 1px;
}

.t3-page-ce-wrapper {
	background-color: #f1f1f1;
	border-top: 1px solid #cdcdcd;
	border-bottom: 1px solid #cdcdcd;
}

.t3-page-ce-wrapper-new-ce {
	cursor: default;
	opacity: 1;
}

.t3-page-ce-droptarget {
	visibility: hidden;
	background-color: orange;
}

.t3-page-ce-header {
	background-color: #cacaca;
}

.t3-page-ce .t3-page-ce-body,
.t3-page-ce.active .t3-page-ce-body {
	background-color: #ffffff;
	border: 1px solid #ffffff;
	border-top: none;
	font-size: 10px;
}

.t3-page-ce.active .t3-page-ce-body {
	border-color: #5b5b5b;
}
.t3-page-column.active .t3-icon-document-new {
	visibility: visible;
}

.t3-page-ce .t3-icon-document-new {
	visibility: hidden;
}

.t3-page-ce.active .t3-icon-document-new {
	visibility: visible;
}

.t3-page-ce.active .drag-start {
	visibility: hidden;
}

.t3-page-ce-hidden .t3-page-ce-body,
.t3-page-ce-hidden .t3-page-ce-body a {
	color: #bbbbbb;
}

.t3-page-ce.t3-page-ce-hidden {
	-moz-opacity: 0.6;
	opacity: .60;
	filter: alpha(opacity = 60);
}

.t3-page-ce.t3-page-ce-hidden.active {
	-moz-opacity: 1.0;
	opacity: 1.0;
	filter: alpha(opacity = 100);
}

.t3-page-ce-hidden.active .t3-page-ce-body,
.t3-page-ce-hidden.active .t3-page-ce-body a {
	color: #000000;
}

.t3-page-ce-hidden .t3-page-ce-body {
	background-color: #e5e5e5;
	border-color: #e5e5e5;
}

.t3-page-ce-hidden .t3-page-ce-body img {
	-moz-opacity: 0.6;
	opacity: .60;
	filter: alpha(opacity = 60);
}

.t3-page-ce.active .t3-page-ce-body .t3-icon ,
.t3-page-ce.active .t3-page-ce-body img {
	-moz-opacity: 1.0;
	opacity: 1.0;
	filter: alpha(opacity = 100);
}

.t3-page-ce-hidden .t3-page-ce-header {
	background-color: #e5e5e5;
}

.t3-page-ce-footer {
	background: #eee
}

table.typo3-page-columnsMode tr td a {
	text-decoration: none;
}

table.typo3-page-columnsMode tr td a b {
	text-decoration: underline;
}

table.t3-page-columns tr td span.exampleContent a {
	color: #000000;
	text-decoration: none;
}

table.typo3-page-buttons td {
	padding-right: 10px;
}

td.t3-gridCell-restricted {
	background-color: #e8e0e0;
}

td.t3-gridCell-unassigned {
	background: url('../../images/backgrounds/layout-not-assigned.png') repeat;
}

.t3-page-ce-wrapper .t3-row-header {
	background-image: none;
	background-color: #cacaca;
}

td.t3-gridCell-restricted div.t3-row-header {
	-moz-opacity: 0.4;
	opacity: .40;
	filter: alpha(opacity = 40);
}

td.t3-gridCell-restricted div.t3-row-header div {
	-moz-opacity: 0.6;
	opacity: .60;
	filter: alpha(opacity = 60);
}

.t3-page-ce .t3-row-header .ce-icons,
.t3-page-ce .t3-row-header .ce-icons-left{
	visibility: hidden;
}

.t3-page-ce.active .t3-row-header .ce-icons,
.t3-page-ce.active .t3-row-header .ce-icons-left{
	visibility: visible;
}

.t3-page-ce-dropzone.t3-page-ce-dropzone-available.dropReceiveOK {
    background-color: #73ab61;
}

.t3-page-ce-dropzone.t3-page-ce-dropzone-available {
	background-color: #c8d9c3;
}

.t3-page-ce-dragitem:hover {
	cursor: move;
}

.t3-page-ce-dragitem.dragitem-shadow {
	-webkit-box-shadow: 0 1px 12px rgba(0, 0, 0, 0.50);
	-moz-box-shadow: 0 1px 12px rgba(0, 0, 0, 0.50);
	box-shadow: 0 1px 12px rgba(0, 0, 0, 0.50);
}

.t3-page-ce.active .t3-row-header {
	background-color: #666;
}
