/* - - - - - - - - - - - - - - - - - - - - -
Web > Access

- - - - - - - - - - - - - - - - - - - - - */

table#typo3-permissionMatrix td {
	text-align: center;
}

table#typo3-permissionMatrix td.bgColor2 {
	font-weight: bold;
}