/* - - - - - - - - - - - - - - - - - - - - -
Module menu

- - - - - - - - - - - - - - - - - - - - - */

#typo3-module-menu {
	background: #dddddd;
	background-image: -moz-linear-gradient(top, #bdbdbd, 100px #dddddd);
	background-image: -webkit-gradient(linear, 0 0, 0 25%, color-stop(0, #bdbdbd), color-stop(1, #dddddd));
	background-image: linear-gradient(top, #bdbdbd, 100px #dddddd);
}

/**
 * Shadow on the right side of the module menu.
 */
#typo3-module-menu,
#typo3-menu li.menuSection li a:hover {
	background-image: url("data:image/png;base64,R0lGODlhAgABAIAAAMjIyLOzsyH5BAAAAAAALAAAAAACAAEAAAICRAoAOw==");
	/* star-hack targets IE7 */
	*background-image: url("../../images/backgrounds/module-menu-right.png");
	background-position: right;
	background-repeat: repeat-y;
}

#typo3-module-menu .x-panel-body {
	background-color: transparent;
}

#typo3-menu,
#typo3-menu ul {
	list-style: none;
}

#typo3-menu a {
	color: #1e2121;
	outline: 0;
}

#typo3-menu > li {
	border-bottom: 1px solid #c7c7c7;
	border-bottom-right-radius: 3px;
	-moz-border-radius-bottomright: 3px;
	-webkit-border-bottom-right-radius: 3px;
}

#typo3-menu > li:last-child {
	border-bottom: none;
}

/* hovered menu item */
#typo3-menu li.menuSection li a:hover,
#typo3-menu li.highlighted a {
	border-top: 1px solid #b8b8b8;
	border-bottom: 1px solid #b8b8b8;
}

#typo3-menu li.menuSection li a:hover {
	background-color: #e8e8e8;
}

/* active menu item */
#typo3-menu li.highlighted {
	font-weight: bold;
}

#typo3-menu li.highlighted a,
#typo3-menu li.menuSection li.highlighted a:hover,
.no-boxshadow #typo3-menu li.menuSection li.highlighted a:hover {
	background-color: #ebebeb;
	background-image: none;
	-moz-box-shadow: none;
	-ms-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
}

#typo3-menu li div.modgroup {
	color: #252524;
	cursor: pointer;
	font-weight: bold;
	text-transform: uppercase;
}

#typo3-menu li div.collapsed {
	background-image: url('../../images/arrows/module-menu-right.png');
	background-position: 5px 5px;
	background-repeat: no-repeat;
}

#typo3-menu li div.expanded {
	background-image: url('../../images/arrows/module-menu-down.png');
	background-position: 4px 7px;
	background-repeat: no-repeat;
}

#typo3-menu li ul li {
	cursor: pointer;
	font-weight: normal;
	line-height: 15px;
}

#typo3-menu li ul li a {
	text-decoration: none;
}
