/* - - - - - - - - - - - - - - - - - - - - -
File > List

- - - - - - - - - - - - - - - - - - - - - */

table#typo3-filelist {
	border: 1px solid #a2aab8;
}

table#typo3-filelist tr td.c-headLine {
	background-color: #b8bec9;
	background-image: url('../../icons/gfx/alt_menu_mainitem_bg.gif');
	background-repeat: repeat-x;
	font-weight: bold;
}

table#typo3-filelist tr td.c-headLine a {
	color: #fff;
}

table#typo3-filelist td {
	border-right: 1px solid #f1f1f1;
}

table#typo3-filelist td:last-child {
	border-right: none;
}

table#typo3-filelist tbody tr:hover td {
	background-color: #dedede;
}

table#typo3-filelist tr td img {
	text-align: center;
}

table#typo3-filelist tr td div.typo3-clipCtrl,
table#typo3-filelist tr td div.typo3-editCtrl {
	text-align: center;
}