/* - - - - - - - - - - - - - - - - - - - - -
Trees

$Id$
- - - - - - - - - - - - - - - - - - - - - */

table#typo3-tree a {
	text-decoration: none;
}

body#typo3-alt-db-navframe-php div.c-notice {
	border: 1px solid black;
}

.navFrameHL {
	background-color: #d7dbe2;
}

.navFrameHL a {
	font-weight: bold;
}

table#typo3-tree tr:hover {
	background-color: #d7dbe2;
}

/* - - - - - - - - - - - - - - - - - - - - -
AJAX Page Tree
- - - - - - - - - - - - - - - - - - - - - */

ul.tree {
	list-style: none;
}

ul.tree a {
	text-decoration: none;
}

ul.tree a.pm {
	cursor: pointer;
}

ul.tree ul {
	list-style: none;
}

ul.tree ul li {
	line-height: 10px;
	list-style: none;
	white-space: nowrap;
}

ul.tree ul li.expanded ul {
	background: transparent url('../../icons/gfx/ol/line.gif') top left repeat-y;
}

ul.tree ul li.last > ul {
	background: none;
}

ul.tree li.active,
ul.tree ul li.active {
	background-color: #d7dbe2 !important;
}

ul.tree li.active ul,
ul.tree ul li.active ul {
	background-color: #efeff4;
}

ul.tree li.active span a,
ul.tree ul li.active span a {
	font-weight: bold;
}

ul.tree li.active ul span a,
ul.tree ul li.active ul span a {
	font-weight: normal;
}

#dragIcon {
	filter: alpha(opacity=50);
	opacity: 0.5;
	white-space: nowrap;
	-moz-opacity: 0.5;
}

#treeFilterBox {
	background-image: url('../../icons/gfx/filter_bg.gif');
	background-repeat: no-repeat;
	background-position:  2px -2px;
}

#treeFilter {
	background: transparent;
	border: 0px;
	font-size: 11px;
}

#treeFilterReset {
	border: 0;
	cursor: pointer;
}
/*div#PageTreeDiv span.t3-icon-apps {
	margin-bottom:-6px !important;
	margin-right:1px !important;
}*/

ul.tree ul li {vertical-align:bottom;}
ul.tree img {vertical-align:bottom;}
ul.tree ul li span {vertical-align:bottom;}
ul.tree .treeLinkItem {line-height:16px;}