/* - - - - - - - - - - - - - - - - - - - - -
Backend  Live Search
- - - - - - - - - - - - - - - - - - - - - */

.live-search-results .x-form-field {
	border: none;
	line-height: 18px;
	padding-left: 20px;
}

.live-search-results .x-form-trigger {
	border-bottom: none;
}

.live-search-list {
	background-color: white;
	border: none;
}

.live-search-list .live-search-list-title {
	text-align: center;
}

.live-search-list .search-list-help-content {
	background-color: #ddeef9;
	background-position: 0.5em 0.7em;
	background-repeat: no-repeat;
	border: 1px solid;
	border-color: #8aafc4;
	color: #000000;
	padding: 0.6em 0.6em 0.6em 2.6em;
}

.live-search-list .search-item-type {
	border-right: 1px solid #ddd;
	padding: 2px 5px 2px 0;
	text-align: right;
}

.live-search-list .search-item-content {
	padding: 0 8px;
}

.live-search-list .search-item-content .search-item-title {
	padding: 2px;
	border: none !important;
}
