/* - - - - - - - - - - - - - - - - - - - - -
Clear-Cache menu inside the toolbar

- - - - - - - - - - - - - - - - - - - - - */

#clear-cache-actions-menu li {
	text-align: left;
}

#clear-cache-actions-menu li a {
	font-size: 11px;
	line-height: 12px;
	text-decoration: none;
}