/* - - - - - - - - - - - - - - - - - - - - -
Logout-Button

- - - - - - - - - - - - - - - - - - - - - */

#logout-button input {
	background: #494949;
	border: 1px solid #636363;
	color: #fff;
	cursor: pointer;
	text-align: center;
}

#logout-button input:hover {
	background-color: #c8c8c8;
	background-image: url('../../images/backgrounds/button-hover.png');
	background-image: linear-gradient(center top, #f6f6f6 10%, #c8c8c8 90%);
	background-image: -moz-linear-gradient(center top, #f6f6f6 10%, #bdbcbc 90%);
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0.1, #f6f6f6), color-stop(0.9, #c8c8c8));
	border: 1px solid #737f91;
	color: #000;
}