/* - - - - - - - - - - - - - - - - - - - - -
Workspace Selector

- - - - - - - - - - - - - - - - - - - - - */

#workspace-selector-menu ul {
	list-style: none;
	background-color: #f9f9f9;
	border: 1px solid #abb2bc;
	border-top: none;
}

#workspace-selector-menu li {
	text-align: left;
}

#workspace-selector-menu li a {
	font-size: 11px;
	line-height: 12px;
	text-decoration: none;
}

#workspace-selector-menu li.divider {
	border-right: 1px solid #a5a5a5;
	border-top: 1px solid #a5a5a5;
	background-image: url('../../icons/gfx/shortcutgroups-bg.png');
	background-repeat: repeat-x;
}

body.typo3-in-workspace #typo3-top-container {
	background: none;
}

body.typo3-in-workspace #typo3-topbar .x-panel-bwrap {
	background: url('../../images/backgrounds/topbar-in-workspace-background-left.png') no-repeat;
}

body.typo3-in-workspace #typo3-topbar .x-panel-body {
	background: url('../../images/backgrounds/topbar-in-workspace-background-right.png') no-repeat right 0;
}

body.typo3-in-workspace #typo3-topbar {
	background: url('../../images/backgrounds/topbar-in-workspace-background.gif');
}

body.typo3-in-workspace #typo3-topbar #username {
	text-shadow: 0 0 5px #000000;
}