/* - - - - - - - - - - - - - - - - - - - - -
Clear-Cache menu inside the toolbar

$Id$
- - - - - - - - - - - - - - - - - - - - - */

#clear-cache-actions-menu ul {
	background-color: #f9f9f9;
	border: 1px solid #abb2bc;
	border-top: none;
	list-style: none;
}

#clear-cache-actions-menu li {
	text-align: left;
}

#clear-cache-actions-menu li a {
	font-size: 11px;
	line-height: 12px;
	text-decoration: none;
}