/* - - - - - - - - - - - - - - - - - - - - -
Toolbar inside the Topbar

$Id$
- - - - - - - - - - - - - - - - - - - - - */

#typo3-toolbar {
	list-style: none;
}

.toolbar-item {
	text-align: center;
}

#typo3-toolbar .no-separator {
	background-image: none;
}

.toolbar-item-active {
	background-image: url('../../icons/gfx/toolbar_item_active_bg.png');
}

.toolbar-item-menu {
    background-color: #f9f9f9;
    border: 1px solid #abb2bc;
    border-top: none;
    list-style: none;

}
