<div class="typo3-mod-help-about-index-php-inner">
	<h2>
		<f:translate key="LLL:EXT:lang/locallang_mod_help_about.xlf:external_libraries" />
	</h2>
	<p>
		<f:translate
			key="LLL:EXT:lang/locallang_mod_help_about.xlf:external_thanks"
			htmlEscape="0"
		/>
	</p>
	<br />
	<table border="0" cellspacing="2" cellpadding="1">
		<tr>
			<td width="280">Audio player Plugin</td>
			<td><a href="http://www.1pixelout.net/code/audio-player-wordpress-plugin/" target="_blank">www.1pixelout.net</a></td>
		</tr>
		<tr>
			<td>CodeMirror</td>
			<td><a href="http://codemirror.net/" target="_blank">codemirror.net</a></td>
		</tr>
		<tr>
			<td>ExtJS</td>
			<td><a href="http://www.sencha.com/" target="_blank">www.sencha.com</a></td>
		</tr>
		<tr>
			<td>jQuery</td>
			<td><a href="http://jquery.com" target="_blank">jquery.com</a></td>
		</tr>
		<tr>
			<td>Modernizr</td>
			<td><a href="http://www.modernizr.com" target="_blank">www.modernizr.com</a></td>
		</tr>
		<tr>
			<td>Prototype JavaScript framework</td><td><a href="http://www.prototypejs.org/" target="_blank">www.prototypejs.org</a></td>
		</tr>
		<tr>
			<td>RemoveXSS</td>
			<td><a href="http://quickwired.com/smallprojects/php_xss_filter_function.php" target="_blank">quickwired.com</a></td>
		</tr>
		<tr>
			<td>script.aculo.us</td>
			<td><a href="http://script.aculo.us" target="_blank">script.aculo.us</a></td>
		</tr>
		<tr>
			<td>Swift Mailer</td>
			<td><a href="http://swiftmailer.org" target="_blank">swiftmailer.org</a></td>
		</tr>
	</table>
</div>