<f:layout name="Default" />

<f:section name="content">
	<h1><f:translate key="helpers" /></h1>

	<h2>Bootstrap</h2>
	<p>Since Sept 2014 <a href="http://getbootstrap.com/" target="_blank">Bootstrap</a> is included in TYPO3 CMS backend.</p>

	<h2>Normalize</h2>
	<p>Since TYPO3 version 6.2 <a href="http://necolas.github.io/normalize.css/" target="_blank">Normalize.css</a> is included in the TYOP3 CMS core.<br />
		Normalize.css is a project by <a href="http://nicolasgallagher.com/">Nicolas Gallagher</a>, co-created by <a href="http://music.thewikies.com/jonneal/">Jonathan Neal</a>.<br />
		Source code available on GitHub: <a href="https://github.com/necolas/normalize.css/" target="_blank">necolas/normalize.css</a>. Thank you!</p>

	<h2>clearfix</h2>
	<p>Clearfix is included since TYPO3 6.2. Thank you!</p>

	<h2>Einstein Quotes</h2>
	<p>Albert Einstein quotes collected by kind people at <a href="http://en.wikiquote.org/wiki/Albert_Einstein" target="_blank">http://en.wikiquote.org/wiki/Albert_Einstein</a></p>

	<h2>Legal</h2>
	<p>Disclaimer: This styleguide does not look perfect - besides documentation the guide should also point out missing concepts and styles.<br />
	Therefore every imperfect style also is a todo for us. The solution should be included in the TYPO3 CMS core.</p>

	<p>Maintained by <a href="http://twitter.com/7elix">Felix Kopp</a> and <a href="https://github.com/7elix/TYPO3.CMS.Styleguide/graphs/contributors" target="_blank">contributors</a>.<br />
		This guide is highly inspired by <a href="http://getbootstrap.com/" target="_blank">Bootstrap</a> and <a href="https://get.foundation/" target="_blank">Zurb Foundation</a>.</p>
</f:section>
