{namespace sg = TYPO3\CMS\Styleguide\ViewHelpers}

<f:layout name="Default" />

<f:section name="iconButtons">
</f:section>

<f:section name="headline">
	<f:translate key="helpers" />
</f:section>

<f:section name="content">
	<!--
		Reset
	-->

	<h2>Normalize</h2>

	<p>Since TYPO3 version 6.2 <a href="http://necolas.github.io/normalize.css/" target="_blank">Normalize.css</a> is included in the TYOP3 CMS core.<br />
		Normalize.css is a project by <a href="http://nicolasgallagher.com/">Nicolas Gallagher</a>, co-created by <a href="http://music.thewikies.com/jonneal/">Jonathan Neal</a>.<br />
		Source code available on GitHub: <a href="https://github.com/necolas/normalize.css/" target="_blank">necolas/normalize.css</a>. Thank you!</p>

	<!--
		Clearfix
	-->

	<h2>clearfix</h2>

	<p>Clearfix is included since TYPO3 6.2. Thank you!</p>


	<hr />

	<p><f:link.action action="flashMessages">Previous page &laquo;Flash messages&raquo;</f:link.action></p>

</f:section>