{namespace sg = TYPO3\CMS\Styleguide\ViewHelpers}

<f:layout name="Default" />

<f:section name="iconButtons">
</f:section>

<f:section name="headline">
	<f:translate key="backendStyleguide" />
</f:section>

<f:section name="content">

	<p class="lead">Presents supported styles for TYPO3 backend modules.</p>
	<h2>Table of content</h2>

	<ol>
		<li><f:link.action action="typography">Typography</f:link.action></li>
		<li><f:link.action action="tca">TCA demo record</f:link.action></li>
		<li><f:link.action action="trees">Trees</f:link.action></li>
		<li><f:link.action action="tab">Tab</f:link.action></li>
		<li><f:link.action action="tables">Tables</f:link.action></li>
		<li><f:link.action action="forms">Forms</f:link.action></li>
		<li><f:link.action action="avatar">Avatar</f:link.action></li>
		<li><f:link.action action="buttons">Buttons</f:link.action></li>
		<li><f:link.action action="infobox">Infobox</f:link.action></li>
		<li><f:link.action action="flashMessages">FlashMessages / Notification</f:link.action></li>
		<li><f:link.action action="icons">Icons</f:link.action></li>
		<li><f:link.action action="debug">Debug</f:link.action></li>
		<li><f:link.action action="helpers">Helpers and legal</f:link.action></li>
	</ol>

	<p>This styleguide is work in progress. It is not part of and does not represent the official documentation, yet.<br />
		Styleguide extension currently brings own css definitions that need to be integrated into TYPO3 CMS step by step.</p>

</f:section>
