{namespace bu = TYPO3\CMS\Beuser\ViewHelpers}

<f:layout name="Default"/>

<f:section name="iconButtons">
</f:section>

<f:section name="content">

	<f:comment>
		****************************************
		Table
		****************************************
	</f:comment>

	<h2>Standard Table</h2>

	<table class="t3-table">
		<thead>
			<tr>
				<th>Tree & Table Header</th>
				<th>Table Header <a href="#">link</a> inline</th>
				<th>&nbsp;</th>
				<th width="150">Table Header</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td style="white-space: nowrap">
					<a href="#" onClick="Clickmenu.show('', '', '1', '', '', ''); return false;"><bu:SpriteManagerIcon iconName="mimetypes-other-other" /></a>

					<b>Record title on root level</b>
				</td>
				<td><a href="#">Donec id elit</a></td>
				<td class="nowrap">
					<a href="#" onClick="alert('Ok'); return false;"><bu:spriteManagerIcon iconName="actions-document-open" /></a>
					<a href="#" onClick="alert('Ok'); return false;"><bu:spriteManagerIcon iconName="actions-document-info" /></a>
					<a href="#" onClick="alert('Ok'); return false;"><bu:spriteManagerIcon iconName="actions-edit-hide" /></a>
					<a href="#" onClick="alert('Ok'); return false;"><bu:spriteManagerIcon iconName="actions-edit-delete" /></a>
				</td>
				<td>Content Goes Here</td>
			</tr>
			<tr>
				<td style="white-space: nowrap">
					<span class="t3-table-tree"><img src="sysext/t3skin/icons/gfx/ol/join-30px.gif" width="16" height="30" alt="" /></span>

					<a href="#" onClick="Clickmenu.show('', '', '1', '', '', ''); return false;"><bu:SpriteManagerIcon iconName="mimetypes-other-other" /></a>

					<b>First level entry record</b>
				</td>
				<td><a href="#">Donec id elit</a></td>
				<td class="nowrap">
					<a href="#" onClick="alert('Ok'); return false;"><bu:spriteManagerIcon iconName="actions-document-open" /></a>
					<a href="#" onClick="alert('Ok'); return false;"><bu:spriteManagerIcon iconName="actions-document-info" /></a>
					<a href="#" onClick="alert('Ok'); return false;"><bu:spriteManagerIcon iconName="actions-edit-hide" /></a>
					<a href="#" onClick="alert('Ok'); return false;"><bu:spriteManagerIcon iconName="actions-edit-delete" /></a>
				</td>
				<td>Content Goes Here</td>
			</tr>
			<tr>
				<td style="white-space: nowrap">
					<span class="t3-table-tree">
						<img src="sysext/t3skin/icons/gfx/ol/line-30px.gif" width="16" height="30" alt="" />
					</span>
					<span class="t3-table-tree">
						<img src="sysext/t3skin/icons/gfx/ol/joinbottom-30px.gif" width="16" height="30" alt="" />
					</span>

					<a href="#" onClick="Clickmenu.show('', '', '1', '', '', ''); return false;"><bu:SpriteManagerIcon iconName="mimetypes-other-other" /></a>

					<b>Record title always bold</b>
				</td>
				<td><a href="#">Donec id elit</a></td>
				<td class="nowrap">
					<a href="#" onClick="alert('Ok'); return false;"><bu:spriteManagerIcon iconName="actions-document-open" /></a>
					<a href="#" onClick="alert('Ok'); return false;"><bu:spriteManagerIcon iconName="actions-document-info" /></a>
					<a href="#" onClick="alert('Ok'); return false;"><bu:spriteManagerIcon iconName="actions-edit-hide" /></a>
					<a href="#" onClick="alert('Ok'); return false;"><bu:spriteManagerIcon iconName="actions-edit-delete" /></a>
				</td>
				<td>Content Goes Here</td>
			</tr>
			<tr>
				<td style="white-space: nowrap">
					<span class="t3-table-tree">
						<img src="sysext/t3skin/icons/gfx/ol/joinbottom-30px.gif" width="16" height="30" alt="" />
					</span>

					<a href="#" onClick="Clickmenu.show('', '', '1', '', '', ''); return false;"><bu:SpriteManagerIcon iconName="mimetypes-other-other" /></a>

					<b>Record title always bold</b>
				</td>
				<td><a href="#">Donec id elit</a></td>
				<td class="nowrap">
					<a href="#" onClick="alert('Ok'); return false;"><bu:spriteManagerIcon iconName="actions-document-open" /></a>
					<a href="#" onClick="alert('Ok'); return false;"><bu:spriteManagerIcon iconName="actions-document-info" /></a>
					<a href="#" onClick="alert('Ok'); return false;"><bu:spriteManagerIcon iconName="actions-edit-hide" /></a>
					<a href="#" onClick="alert('Ok'); return false;"><bu:spriteManagerIcon iconName="actions-edit-delete" /></a>
				</td>
				<td>Content Goes Here</td>
			</tr>
		</tbody>
	</table>

	<p>Markup</p>

	<div class="example">
		<pre>&lt;table class="t3-table"&gt;
	&lt;thead&gt;
		&lt;th&gt;&lt;/th&gt;
	&lt;/thead&gt;
	&lt;tbody&gt;
		&lt;td&gt;
			&lt;span class="t3-table-tree"&gt;Icon&lt;/span&gt;
		&lt;/td&gt;
	&lt;/tbody&gt;
&lt;/table&gt;</pre>
	</div>

	<hr />

	<p><f:link.action action="typography">Previous page &laquo;Typography&raquo;</f:link.action> /
		<f:link.action action="forms">Next page &laquo;Forms&raquo;</f:link.action></p>

</f:section>