{namespace bu = TYPO3\CMS\Beuser\ViewHelpers}

<f:layout name="Default"/>

<f:section name="iconButtons">
</f:section>

<f:section name="content">

	<f:comment>
		****************************************
		Table
		****************************************
	</f:comment>

	<h2>Standard Table</h2>

	<table class="t3-table">
		<thead>
			<tr>
				<td>&nbsp;</td>
				<td>Tree</td>
				<th width="200">Table Header</th>
				<th>Table Header <a href="#">link</a> inline</th>
				<th>&nbsp;</th>
				<th width="150">Table Header</th>
				<th width="150">Table Header</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>
					<a href="#" onClick="Clickmenu.show('', '', '1', '', '', ''); return false;">
						<bu:SpriteManagerIcon iconName="mimetypes-other-other" />
					</a>
				</td>
				<td>
					<span class="t3-table-tree">
						<img src="sysext/t3skin/icons/gfx/ol/line.gif" width="16" height="28" alt="" /><img src="sysext/t3skin/icons/gfx/ol/jointop.gif" width="16" height="28" alt="" />
					</span>
					<bu:SpriteManagerIcon iconName="actions-selection-delete" />
				</td>
				<td>
					<b>Record title always bold</b>
				</td>
				<td>This is longer content <a href="#">Donec id elit</a> non mi porta gravida at eget metus.</td>
				<td class="nowrap">
					<a href="#" onClick="alert('Ok'); return false;"><bu:spriteManagerIcon iconName="actions-document-open" /></a>
					<a href="#" onClick="alert('Ok'); return false;"><bu:spriteManagerIcon iconName="actions-document-info" /></a>
					<a href="#" onClick="alert('Ok'); return false;"><bu:spriteManagerIcon iconName="actions-edit-hide" /></a>
					<a href="#" onClick="alert('Ok'); return false;"><bu:spriteManagerIcon iconName="actions-edit-delete" /></a>
				</td>
				<td>Content Goes Here</td>
				<td>Content Goes Here</td>
			</tr>
			<tr>
				<td>
					<a href="#" onClick="Clickmenu.show('', '', '1', '', '', ''); return false;">
						<bu:SpriteManagerIcon iconName="mimetypes-other-other" />
					</a>
				</td>
				<td>
					<span class="t3-table-tree">
						<img src="sysext/t3skin/icons/gfx/ol/line.gif" width="16" height="28" alt="" /><img src="sysext/t3skin/icons/gfx/ol/join.gif" width="16" height="28" alt="" />
					</span>
					<bu:SpriteManagerIcon iconName="actions-selection-delete" />
				</td>
				<td>
					<b>Record title always bold</b>
				</td>
				<td>This is longer content <a href="#">Donec id elit</a> non mi porta gravida at eget metus.</td>
				<td class="nowrap">
					<a href="#" onClick="alert('Ok'); return false;"><bu:spriteManagerIcon iconName="actions-document-open" /></a>
					<a href="#" onClick="alert('Ok'); return false;"><bu:spriteManagerIcon iconName="actions-document-info" /></a>
					<a href="#" onClick="alert('Ok'); return false;"><bu:spriteManagerIcon iconName="actions-edit-hide" /></a>
					<a href="#" onClick="alert('Ok'); return false;"><bu:spriteManagerIcon iconName="actions-edit-delete" /></a>
				</td>
				<td>Content Goes Here</td>
				<td>Content Goes Here</td>
			</tr>
			<tr>
				<td>
					<a href="#" onClick="Clickmenu.show('', '', '1', '', '', ''); return false;">
						<bu:SpriteManagerIcon iconName="mimetypes-other-other" />
					</a>
				</td>
				<td>
					<span class="t3-table-tree">
						<img src="sysext/t3skin/icons/gfx/ol/line.gif" width="16" height="28" alt="" /><img src="sysext/t3skin/icons/gfx/ol/joinbottom.gif" width="16" height="28" alt="" />
					</span>
					<bu:SpriteManagerIcon iconName="actions-selection-delete" />
				</td>
				<td>
					<b>Record title always bold</b>
				</td>
				<td>This is longer content <a href="#">Donec id elit</a> non mi porta gravida at eget metus.</td>
				<td class="nowrap">
					<a href="#" onClick="alert('Ok'); return false;"><bu:spriteManagerIcon iconName="actions-document-open" /></a>
					<a href="#" onClick="alert('Ok'); return false;"><bu:spriteManagerIcon iconName="actions-document-info" /></a>
					<a href="#" onClick="alert('Ok'); return false;"><bu:spriteManagerIcon iconName="actions-edit-hide" /></a>
					<a href="#" onClick="alert('Ok'); return false;"><bu:spriteManagerIcon iconName="actions-edit-delete" /></a>
				</td>
				<td>Content Goes Here</td>
				<td>Content Goes Here</td>
			</tr>
		</tbody>
	</table>

	<p>Markup</p>

	<div class="example">
		<pre>&lt;table class="t3-table"&gt;
	&lt;thead&gt;
		&lt;th&gt;&lt;/th&gt;
	&lt;/thead&gt;
	&lt;tbody&gt;
		&lt;td&gt;&lt;/td&gt;
	&lt;/tbody&gt;
&lt;/table&gt;</pre>
	</div>

	<hr />

	<p><f:link.action action="typography">Previous page &laquo;Typography&raquo;</f:link.action> /
		<f:link.action action="forms">Next page &laquo;Forms&raquo;</f:link.action></p>

</f:section>