{namespace sg=TYPO3\CMS\Styleguide\ViewHelpers}
<f:layout name="Default" />

<f:section name="content">
	<h1><f:translate key="trees" /></h1>

	<h2>Stand alone trees</h2>
	<p>Structures and hierarchical content as trees.</p>

	<div class="nowrap">
		<ul class="list-tree text-monospace">
			<li>
				<a class="list-tree-control list-tree-control-open" href="#">
					<i class="fa"></i>
				</a>
				<span class="list-tree-group">
					<span class="list-tree-label">Tree branch opened</span>
				</span>
				<ul class="list-tree text-monospace">
					<li>
						<span class="list-tree-group">
							<span class="list-tree-label">DINK</span> = <span class="list-tree-value">1</span>
						</span>
					</li>
					<li>
						<a class="list-tree-control list-tree-control-closed" id="a7856cf" href="#">
							<i class="fa"></i>
						</a>
						<span class="list-tree-group">
							<span class="list-tree-label">Kids (not expandable)</span>
						</span>
					</li>
				</ul>
			</li>
			<li>
				<a class="list-tree-control list-tree-control-closed" href="#">
					<i class="fa"></i>
				</a>
				<span class="list-tree-group">
					<span class="list-tree-label">Tree branch closed (not expandable)</span>
				</span>
			</li>
		</ul>
	</div>

	<sg:code language="html" codeonly="true">
		<ul class="list-tree text-monospace">
			<li></li>
		</ul>
	</sg:code>
</f:section>