{namespace sg = TYPO3\CMS\Styleguide\ViewHelpers}

<f:layout name="Default" />

<f:section name="iconButtons">
</f:section>

<f:section name="headline">
	<f:translate key="typography" />
</f:section>

<f:section name="content">

	<!--
		Headlines
	-->

	<h2>Headlines</h2>

	<div class="example">
		<h1>H1: Headline</h1>
		<h2>H2: Headline</h2>
		<h3>H3: Headline</h3>
		<h4>H4: Headline</h4>
	</div>

	<!--
		H1
	-->

	<p>Module headline "H1" is the main headline within each backend module. Only added once to every backend page.</p>

	<div class="example">
		<h1>H1: Module Headline</h1>
	</div>
	<div class="example code">
		<span class="tag-border">&lt;</span><span class="tag-name">h1</span><span class="tag-border">&gt;</span>h1: Module Headline<span class="tag-border">&lt;/</span><span class="tag-name">h1</span><span class="tag-border">&gt;</span>
	</div>

	<!--
		H2
	-->

	<p>Section headline "H2" is the headline for every section in backend modules. Place above each section and use several times..</p>

	<div class="example">
		<h2>H2: Section Headline</h2>
	</div>
	<div class="example code">
		<span class="tag-border">&lt;</span><span class="tag-name">h2</span><span class="tag-border">&gt;</span>H2: Section Headline<span class="tag-border">&lt;/</span><span class="tag-name">h2</span><span class="tag-border">&gt;</span>
	</div>

	<!--
		H3
	-->

	<p>Paragraph headline "H3" can be used to split section content into logical units. Place in between paragraphs within section.</p>

	<div class="example">
		<h3>H3: Paragraph Headline</h3>
	</div>

	<div class="example code">
		<span class="tag-border">&lt;</span><span class="tag-name">h3</span><span class="tag-border">&gt;</span>H3: Paragraph Headline<span class="tag-border">&lt;/</span><span class="tag-name">h3</span><span class="tag-border">&gt;</span>
	</div>

	<!--
		H4
	-->

	<p>Moderate headline "H4" might be used to split off meta / footer information.</p>

	<div class="example">
		<h4>H4: Moderate headline</h4>
	</div>

	<div class="example code">
		<span class="tag-border">&lt;</span><span class="tag-name">h4</span><span class="tag-border">&gt;</span>H4: Moderate Headline<span class="tag-border">&lt;/</span><span class="tag-name">h4</span><span class="tag-border">&gt;</span>
	</div>

	<!--
		Copy text
	-->

	<h2>Copy text</h2>

	<p>Normal copy text in base font size 1em with a line-height of 1.5em.</p>

	<div class="example">
		<p>This is a paragraph. Paragraphs are preset with a font size, line height and spacing to match the overall
			vertical rhythm. To show what a paragraph looks like this needs a little more content so, did you know that
			there are storms occurring on Jupiter that are larger than the Earth? Pretty cool. Wrap "strong" around type to
			<strong>make it bold!</strong>. You can also "em" to <em>italicize your words</em>.</p>
	</div>

	<div class="example code">
		<span class="tag-border">&lt;</span><span class="tag-name">p</span><span class="tag-border">&gt;</span>Copy text<span class="tag-border">&lt;/</span><span class="tag-name">p</span><span class="tag-border">&gt;</span>
	</div>

	<!--
		Lead
	-->

	<h2>Lead copy</h2>

	<p>The lead class can be added to paragraphs and other html content to highlight. Most used for the introduction text in backend modules.</p>

	<div class="example">
		<p class="lead">Introduction text or lead copy text box with highlights.</p>
	</div>

	<div class="example code">
		<span class="tag-border">&lt;</span><span class="tag-name">p</span> <span class="tag-attribute">class</span>=<span class="tag-attribute-value">"lead"</span><span class="tag-border">&gt;</span>Text<span class="tag-border">&lt;/</span><span class="tag-name">p</span><span class="tag-border">&gt;</span>
	</div>

	<!--
		Emphasis
	-->

	<h2>Emphasis</h2>

	<!--
		Bold
	-->

	<h3>Bold</h3>

	<p>Bold font-weight can be gained with strong and b html tag.</p>

	<div class="example">
		<p>This example includes <strong>bold text</strong> based on strong html tag.</p>
		<p>This example includes <b>bold text</b> based on b htm tag.</p>
	</div>

	<div class="example code">
		<span class="tag-border">&lt;</span><span class="tag-name">strong</span><span class="tag-border">&gt;</span>Bold text<span class="tag-border">&lt;/</span><span class="tag-name">strong</span><span class="tag-border">&gt;</span><br />
		<span class="tag-border">&lt;</span><span class="tag-name">b</span><span class="tag-border">&gt;</span>Bold text<span class="tag-border">&lt;/</span><span class="tag-name">b</span><span class="tag-border">&gt;</span>
	</div>

	<!--
		Italic
	-->

	<h3>Italic</h3>

	<p>Italic font style can be gained with em and i html tag.</p>

	<div class="example">
		<p>This example includes <em>bold text</em> based on em html tag.</p>
		<p>This example includes <i>bold text</i>  based on i html tag.</p>
	</div>

	<div class="example code">
		<span class="tag-border">&lt;</span><span class="tag-name">em</span><span class="tag-border">&gt;</span>Italic text<span class="tag-border">&lt;/</span><span class="tag-name">em</span><span class="tag-border">&gt;</span><br />
		<span class="tag-border">&lt;</span><span class="tag-name">i</span><span class="tag-border">&gt;</span>Italic text<span class="tag-border">&lt;/</span><span class="tag-name">i</span><span class="tag-border">&gt;</span>
	</div>

	<!--
		Small text
	-->

	<h3>Small text</h3>

	<p>Footer information, small notices can be wrapped in small text tag.</p>

	<div class="example">
		<small>Line of small text</small>
	</div>

	<div class="example code">
		<span class="tag-border">&lt;</span><span class="tag-name">small</span><span class="tag-border">&gt;</span>Small text<span class="tag-border">&lt;/</span><span class="tag-name">small</span><span class="tag-border">&gt;</span>
	</div>

	<!--
		Links
	-->

	<h2>Links</h2>

	<p>Links are currently not decorated.</p>

	<div class="example">
		<p>Copy text with embedded <a href="#">link text</a>.</p>
	</div>

	<div class="example code">
		<span class="tag-border">&lt;</span><span class="tag-name">a</span><span class="tag-border">&gt;</span>Link<span class="tag-border">&lt;/</span><span class="tag-name">a</span><span class="tag-border">&gt;</span>
	</div>

	<!--
		Lists
	-->

	<h2>Lists</h2>

	<p>Ordered and unordered lists are styled with disc bullet and decimal.</p>

	<div class="example">
		<ul>
			<li>List item zero</li>
			<li>First item of list</li>
			<li>Last not least item</li>
		</ul>

		<ol>
			<li>List item zero</li>
			<li>First item of list</li>
			<li>Last not least item</li>
		</ol>

		<ul class="list-unstyled">
			<li>List item zero</li>
			<li>First item of list</li>
			<li>Last not least item</li>
		</ul>

		<ol class="list-unstyled">
			<li>List item zero</li>
			<li>First item of list</li>
			<li>Last not least item</li>
		</ol>
	</div>
	
	<div class="example code">
		<span class="tag-border">&lt;</span><span class="tag-name">ul</span><span class="tag-border">&gt;</span><br />
		&nbsp;&nbsp;&nbsp;<span class="tag-border">&lt;</span><span class="tag-name">li</span><span class="tag-border">&gt;</span>...<span class="tag-border">&lt;/</span><span class="tag-name">li</span><span class="tag-border">&gt;</span><br />
		<span class="tag-border">&lt;/</span><span class="tag-name">ul</span><span class="tag-border">&gt;</span><br />
		<br />
		<span class="tag-border">&lt;</span><span class="tag-name">ol</span><span class="tag-border">&gt;</span><br />
		&nbsp;&nbsp;&nbsp;<span class="tag-border">&lt;</span><span class="tag-name">li</span><span class="tag-border">&gt;</span>...<span class="tag-border">&lt;/</span><span class="tag-name">li</span><span class="tag-border">&gt;</span><br />
		<span class="tag-border">&lt;/</span><span class="tag-name">ol</span><span class="tag-border">&gt;</span><br />
		<br />
		<span class="tag-border">&lt;</span><span class="tag-name">ul</span> <span class="tag-attribute">class</span>=<span class="tag-attribute-value">"list-unstyled"</span><span class="tag-border">&gt;</span><br />
		&nbsp;&nbsp;&nbsp;<span class="tag-border">&lt;</span><span class="tag-name">li</span><span class="tag-border">&gt;</span>...<span class="tag-border">&lt;/</span><span class="tag-name">li</span><span class="tag-border">&gt;</span><br />
		<span class="tag-border">&lt;/</span><span class="tag-name">ul</span><span class="tag-border">&gt;</span><br />
		<br />
		<span class="tag-border">&lt;</span><span class="tag-name">ol</span> <span class="tag-attribute">class</span>=<span class="tag-attribute-value">"list-unstyled"</span><span class="tag-border">&gt;</span><br />
		&nbsp;&nbsp;&nbsp;<span class="tag-border">&lt;</span><span class="tag-name">li</span><span class="tag-border">&gt;</span>...<span class="tag-border">&lt;/</span><span class="tag-name">li</span><span class="tag-border">&gt;</span><br />
		<span class="tag-border">&lt;/</span><span class="tag-name">ol</span><span class="tag-border">&gt;</span>
	</div>

	<!--
		Colors
	-->

	<h2>Colors</h2>

	<div class="clearfix">
		<div class="ci-color" style="width: 80px; height: 30px; padding: 12px; float: left; margin-right: 12px;">CI</div>
		<div class="highlight-color" style="width: 80px; height: 30px; padding: 12px; float: left;">Primary</div>
	</div>

	<p>CI color from the TYPO3 logo and constrast primary color.</p>

	<hr />

	<p><f:link.action action="index">Previous page &laquo;Index&raquo;</f:link.action> /
		<f:link.action action="trees">Next page &laquo;Trees&raquo;</f:link.action></p>

</f:section>