{namespace sg = TYPO3\CMS\Styleguide\ViewHelpers}

<f:layout name="Default" />

<f:section name="iconButtons">
</f:section>

<f:section name="content">
	<f:comment>
		****************************************
		Colors
		****************************************
	</f:comment>

	<h2>Typography</h2>

	<div class="example">
		<h1>TYPO3 Backend Module Headline</h1>
		<hr />
		<h2>TYPO3 Backend Module Headline</h2>
		<hr />
		<h3>TYPO3 Backend Module Headline</h3>
		<hr />
		<h4>TYPO3 Backend Module Headline</h4>
	</div>


	<div class="example">
		<h1>This is a very large headline.</h1>
	</div>

	<p>Module headline "H1", once for each backend module.<br />
		With 2.1em (23px) and normal font weight.</p>

	<div class="example">
		<h2>This is a large headline.</h2>
	</div>

	<p>Second headline "h2", for every section.<br />
		With 1.3em (14px) and normal font weight.</p>

	<div class="example">
		<h3>This is a medium headline.</h3>
	</div>

	<p>Sub-headline "h3", for logical distinction inside sections.<br />
		With 1.1em (12px) and normal font weight.</p>

	<div class="example">
		<h4>This is a moderate headline.</h4>
	</div>

	<p>Content headline "h4", for paragraphs.<br />
		With 1em (11px) and normal font weight.</p>

	<f:comment>
		****************************************
		Copy text
		****************************************
	</f:comment>

	<h2>Copy text</h2>

	<div class="example">
		<p>This is a paragraph. Paragraphs are preset with a font size, line height and spacing to match the overall
			vertical rhythm. To show what a paragraph looks like this needs a little more content so, did you know that
			there are storms occurring on Jupiter that are larger than the Earth? Pretty cool. Wrap "strong" around type to
			<strong>make it bold!</strong>. You can also "em" to <em>italicize your words</em>.</p>
	</div>

	<p>Normal copy text in base font size 1em with a line-height of 1.5em.</p>

	<f:comment>
		****************************************
		Lead / subheader
		****************************************
	</f:comment>

	<h2>Lead copy / subheadline.copy</h2>

	<div class="example">
		<p class="lead">Introduction text or lead copy text box with highlights.</p>
	</div>

	<p>The lead class can be added to paragraphs and other html content to highlight. Most used for the introduction text in backend modules.</p>

	<f:comment>
		****************************************
		Emphasis
		****************************************
	</f:comment>

	<h2>Emphasis</h2>

	<h3>Bold</h3>

	<div class="example">
		<p>This example includes <strong>bold text</strong> based on strong html tag.</p>
		<p>This example includes <b>bold text</b> based on b htm tag.</p>
	</div>

	<p>Bold font-weight can be gained with strong and b html tag.</p>

	<h3>Italic</h3>

	<div class="example">
		<p>This example includes <em>bold text</em> based on em html tag.</p>
		<p>This example includes <i>bold text</i>  based on i html tag.</p>
	</div>

	<p>Bold font-weight can be gained with em and i html tag.</p>

	<h3>Small text</h3>

	<div class="example">
		<small>Line of small text</small>
	</div>

	<p>Small text.</p>

	<f:comment>
		****************************************
		Links
		****************************************
	</f:comment>

	<h2>Links</h2>

	<div class="example">
		<p>Copy text with embedded <a href="#">link text</a>.</p>
	</div>

	<p>Links are currently not decorated.</p>

	<h2>Colors</h2>

	<div class="clearfix">
		<div class="ci-color" style="width: 80px; height: 30px; padding: 12px; float: left; margin-right: 12px;">CI</div>
		<div class="highlight-color" style="width: 80px; height: 30px; padding: 12px; float: left;">Primary</div>
	</div>

	<p>CI color from the TYPO3 logo and constrast primary color.</p>

	<f:comment>
		****************************************
		Typography
		****************************************
	</f:comment>

	<hr />

	<p><f:link.action action="index">Previous page &laquo;index&raquo;</f:link.action> /
		<f:link.action action="tables">Next page &laquo;tables&raquo;</f:link.action></p>

</f:section>