body#ext-reports-mod-index-php {
	margin: 0px;
}

#typo3-inner-docbody p.help {
	margin-bottom: 10px;
}


/* ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- */
/* status report */

#ext-reports-mod-index-php h2.section-header {
	margin: 15px 0 10px 0;
	padding: 2px 0 0 20px;
	cursor: pointer;
	clear: left;
}
#ext-reports-mod-index-php h2.collapsed {
	background-image:url(../../../../gfx/arrowright.png);
	background-repeat:no-repeat;
}
#ext-reports-mod-index-php h2.expanded {
	background-image:url(../../../../gfx/arrowdown.png);
	background-repeat:no-repeat;
}
#ext-reports-mod-index-php h2.section-header img {
	margin-right:2px;
	vertical-align:bottom;
}

#ext-reports-mod-index-php .message-body {
	clear: left;
}

#ext-reports-mod-index-php .message-body p {
	padding: 5px 0;
}

#ext-reports-mod-index-php .message-body ul {
	padding-top: 5px;
	list-style: disc;
}

#ext-reports-mod-index-php .message-body ol {
	padding-top: 5px;
	list-style: decimal;
}

#ext-reports-mod-index-php .message-left {
	float: left;
	width: 400px;
}

#ext-reports-mod-index-php .message-right {
	float: left;
}

