.list,
.rich-text ul,
.rich-text ol {
    li {
        --margin-bottom-list-item: 0;
        --margin-top-list-item: 0;

        margin-left: 20px;
    }
}


.list--unordered,
.rich-text ul {
    list-style-type: unset;
}
