.teaser-scroller {
    --teaser-gap: var(--spacing-m);

    /* hide scrollbar for IE, Edge and Firefox */
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */

    /* hide scrollbar for Chrome, Safari and Opera */
    &::-webkit-scrollbar {
        display: none;
    }

    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    width: calc(100vw - var(--horzontal-spacing));
    margin-left: calc(var(--horizontal-spacing) * -1);
}

.teaser-scroller__list {
    display: flex;
    flex-direction: row;
    gap: var(--teaser-gap);
}

/**
 * Viewports
 */

/* Small */
@media (min-width: 768px) {
    .teaser-scroller {
        margin-left: 0;
        width: 100%;
    }

    .teaser-scroller__list {
        margin-left: 0;
    }
}
