<f:if condition="{menu.menuItems -> f:count()} > 1">
    <f:if condition="{menu.label}">
        <label class="form-label visually-hidden" for="{menu.identifier}">{menu.label}</label>
    </f:if>
    <select class="form-select form-select-sm t3-js-jumpMenuBox"
        name="{menu.identifier}"
        id="{menu.identifier}"
        data-menu-identifier="{menu.dataIdentifier}"
        data-global-event="change" data-action-navigate="$value"
    >
        <f:for each="{menu.menuItems}" as="menuItem">
            <option value="{menuItem.href}" {f:if(condition: '{menuItem.active}', then: ' selected="selected"')}>{menuItem.title}</option>
        </f:for>
    </select>
</f:if>
