<html xmlns:core="http://typo3.org/ns/TYPO3/CMS/Core/ViewHelpers" data-namespace-typo3-fluid="true">
<p class="dropdown-headline"><f:translate key="LLL:EXT:backend/Resources/Private/Language/locallang_toolbar.xlf:toolbarItems.clearCache" /></p>
<ul class="dropdown-list">
    <f:for each="{cacheActions}" as="cacheAction">
        <li>
            <a href="{cacheAction.href}" class="dropdown-item t3js-toolbar-cache-flush-action" aria-describedby="{cacheAction.id}-description">
                <span class="dropdown-item-columns">
                    <span class="dropdown-item-column dropdown-item-column-icon {f:if(condition: cacheAction.severity, then: 'text-{cacheAction.severity}')}">
                        <core:icon identifier="{cacheAction.iconIdentifier}" size="small" />
                    </span>
                    <span class="dropdown-item-column dropdown-item-column-text">
                        <f:translate key="{cacheAction.title}" /><br>
                        <small class="text-body-secondary" aria-hidden="true">{f:translate(key: '{f:if(condition: cacheAction.description, then: cacheAction.description, else: cacheAction.title)}')}</small>
                    </span>
                </span>
            </a>
            <span id="{cacheAction.id}-description" class="visually-hidden">{f:translate(key: '{f:if(condition: cacheAction.description, then: cacheAction.description, else: cacheAction.title)}')}</span>
        </li>
    </f:for>
</ul>
</html>
