<html xmlns:core="http://typo3.org/ns/TYPO3/CMS/Core/ViewHelpers" data-namespace-typo3-fluid="true">
<form class="t3js-topbar-navigation-search toolbar-item-search-form live-search-wrapper" role="search">
    <div class="form-control-holder">
        <div class="form-control-icon">
            <core:icon identifier="apps-toolbar-menu-search" size="small" alternativeMarkupIdentifier="inline"/>
        </div>
        <input type="search" class="form-control toolbar-item-search-field t3js-topbar-navigation-search-field"
                    placeholder="{f:translate(key: 'LLL:EXT:core/Resources/Private/Language/locallang_core.xlf:toolbarItems.search') -> f:format.htmlspecialchars()}"
                    id="live-search-box" aria-label="{f:translate(key: 'LLL:EXT:core/Resources/Private/Language/locallang_core.xlf:toolbarItems.searchLabel')}"
                    autocomplete="off" spellcheck="off" autocapitalize="none"/>
    </div>
</form>
<a href="#" class="dropdown-toggle float-lg-end t3js-toolbar-search-dropdowntoggle" data-bs-toggle="dropdown" data-bs-offset="0,-2" aria-expanded="false"></a>
<div class="dropdown-menu" role="menu"></div>
</html>
