<p class="dropdown-headline">
    <f:translate key="LLL:EXT:backend/Resources/Private/Language/locallang_toolbar.xlf:toolbarItems.bookmarksEdit" />
</p>
<form class="t3js-shortcut-form" data-shortcutid="{selectedShortcutId}">
    <div class="dropdown-item-text">
        <div class="form-group">
            <label for="shortcutTitle" class="form-label">
                <f:translate key="LLL:EXT:backend/Resources/Private/Language/locallang_toolbar.xlf:toolbarItems.bookmarks.field.title" />
            </label>
            <input type="text" class="form-control" name="shortcutTitle" id="shortcutTitle" value="{selectedShortcut.label}"/>
        </div>
        <div class="form-group">
            <label for="shortcutGroup" class="form-label">
                <f:translate key="LLL:EXT:backend/Resources/Private/Language/locallang_toolbar.xlf:toolbarItems.bookmarks.field.group" />
            </label>
            <select class="form-select" name="shortcutGroup" id="shortcutGroup">
                <f:for each="{shortcutGroups}" key="shortcutGroupId" as="shortcutGroupTitle">
                    <option value="{shortcutGroupId}" {f:if(condition: '{selectedShortcutGroupId} == {shortcutGroupId}', then: 'selected="selected"')}>{shortcutGroupTitle}</option>
                </f:for>
            </select>
        </div>
        <input type="hidden" name="shortcutId" value="{selectedShortcutId}" />
        <input type="reset" class="btn btn-default" value="{f:translate(key: 'LLL:EXT:core/Resources/Private/Language/locallang_common.xlf:cancel')}" />
        <input type="submit" class="btn btn-primary" value="{f:translate(key: 'LLL:EXT:core/Resources/Private/Language/locallang_common.xlf:save')}" />
    </div>
</form>
