<h3 class="dropdown-headline">{f:translate(key: 'LLL:EXT:core/Resources/Private/Language/locallang_core.xlf:toolbarItems.bookmarks')}</h3>
<f:if condition="{f:count(subject: '{shortcutMenu}')} == 0">
    <f:then>
        <f:comment>No shortcuts added yet, show a small help message how to add shortcuts</f:comment>
        <f:alias
            map="{inlineIcon: '{core:icon(identifier: \'actions-share-alt\', alternativeMarkupIdentifier: \'inline\')}', inlineIconTitle: '{f:translate(key: \'LLL:EXT:core/Resources/Private/Language/locallang_core.xlf:toolbarItems.bookmarks\')}'}">
            <p class="dropdown-item-text">{f:translate(key: 'LLL:EXT:core/Resources/Private/Language/locallang_misc.xlf:bookmark_description', arguments:'{0: \'<span title="{inlineIconTitle}">{inlineIcon -> f:format.raw()}</span>\'}') -> f:format.raw()}</p>
        </f:alias>
    </f:then>
    <f:else>
        <f:for each="{shortcutMenu}" as="group" iteration="iterator">
            <f:if condition="!{iterator.isFirst}">
                <hr class="dropdown-divider" aria-hidden="true">
            </f:if>
            <f:if condition="{group.title}">
                <h3 class="dropdown-headline" id="shortcut-group-{group.id}">{group.title}</h3>
            </f:if>
            <ul class="dropdown-list" data-shortcutgroup="{group.id}">
                <f:for each="{group.shortcuts}" as="shortcut">
                    <li class="t3js-topbar-shortcut" data-shortcutid="{shortcut.raw.uid}" data-shortcutgroup="{group.id}">
                        <a href="{shortcut.href}" class="dropdown-item dropdown-item-title t3js-shortcut-jump"
                            title="{shortcut.label}"
                            data-module="{shortcut.module}"
                            data-route="{shortcut.route}"
                            data-pageid="{shortcut.pageId}"
                        >
                            <span class="dropdown-item-columns">
                                <span class="dropdown-item-column dropdown-item-column-icon" aria-hidden="true">
                                    <f:format.raw>{shortcut.icon}</f:format.raw>
                                </span>
                                <span class="dropdown-item-column dropdown-item-column-title">
                                    {shortcut.label}
                                </span>
                            </span>
                        </a>
                        <a href="#" class="dropdown-item dropdown-item-action t3js-shortcut-edit"
                            title="{f:translate(key: 'LLL:EXT:core/Resources/Private/Language/locallang_core.xlf:toolbarItems.bookmarksEdit')}"
                        >
                            <core:icon identifier="actions-open" alternativeMarkupIdentifier="inline"/>
                        </a>
                        <a href="#" class="dropdown-item dropdown-item-action t3js-shortcut-delete"
                            title="{f:translate(key: 'LLL:EXT:core/Resources/Private/Language/locallang_core.xlf:toolbarItems.bookmarksDelete')}"
                        >
                            <core:icon identifier="actions-delete" alternativeMarkupIdentifier="inline"/>
                        </a>
                    </li>
                </f:for>
            </ul>
        </f:for>
    </f:else>
</f:if>
