<html xmlns:core="http://typo3.org/ns/TYPO3/CMS/Core/ViewHelpers" data-namespace-typo3-fluid="true">
<f:be.pageRenderer
    includeJavaScriptModules="{
        0: '@typo3/backend/toolbar/shortcut-menu.js'
    }"
    addJsInlineLabels="{
        'bookmark.delete': 'LLL:EXT:core/Resources/Private/Language/locallang_core.xlf:toolbarItems.bookmarksDelete',
        'bookmark.confirmDelete': 'LLL:EXT:core/Resources/Private/Language/locallang_core.xlf:toolbarItems.confirmBookmarksDelete',
        'bookmark.savedTitle': 'LLL:EXT:core/Resources/Private/Language/locallang_core.xlf:toolbarItems.bookmarkSavedTitle',
        'bookmark.savedMessage': 'LLL:EXT:core/Resources/Private/Language/locallang_core.xlf:toolbarItems.bookmarkSavedMessage',
        'bookmark.alreadyExistsTitle': 'LLL:EXT:core/Resources/Private/Language/locallang_core.xlf:toolbarItems.bookmarkAlreadyExistsTitle',
        'bookmark.alreadyExistsMessage': 'LLL:EXT:core/Resources/Private/Language/locallang_core.xlf:toolbarItems.bookmarkAlreadyExistsMessage',
        'bookmark.failedTitle': 'LLL:EXT:core/Resources/Private/Language/locallang_core.xlf:toolbarItems.bookmarkFailedTitle',
        'bookmark.failedMessage': 'LLL:EXT:core/Resources/Private/Language/locallang_core.xlf:toolbarItems.bookmarkFailedMessage'
    }"
/>
<span class="toolbar-item-icon" title="{f:translate(key: 'LLL:EXT:core/Resources/Private/Language/locallang_core.xlf:toolbarItems.bookmarks')}">
    <core:icon identifier="apps-toolbar-menu-shortcut" alternativeMarkupIdentifier="inline" />
</span>
<span class="toolbar-item-title">
    <f:translate key="LLL:EXT:core/Resources/Private/Language/locallang_core.xlf:toolbarItems.bookmarks"/>
</span>
</html>
