<form class="t3js-shortcut-form" role="form" data-shortcutid="{selectedShortcutId}">
    <h3 class="dropdown-headline">
        {f:translate(key: 'LLL:EXT:core/Resources/Private/Language/locallang_core.xlf:toolbarItems.bookmarksEdit')}
    </h3>
    <hr class="dropdown-divider" aria-hidden="true">
    <div class="dropdown-item-text">
        <div class="form-group">
            <input type="text" class="form-control" name="shortcutTitle" value="{selectedShortcut.label}"/>
        </div>
        <div class="form-group">
            <select class="form-select" name="shortcutGroup">
                <f:for each="{shortcutGroups}" key="shortcutGroupId" as="shortcutGroupTitle">
                    <option value="{shortcutGroupId}" {f:if(condition: '{selectedShortcutGroupId} == {shortcutGroupId}', then: 'selected="selected"')}>{shortcutGroupTitle}</option>
                </f:for>
            </select>
        </div>
        <input type="hidden" name="shortcutId" value="{selectedShortcutId}" />
        <input type="reset" class="btn btn-default" value="Cancel"/>
        <input type="submit" class="btn btn-success" value="Save"/>
    </div>
</form>
