<html xmlns:core="http://typo3.org/ns/TYPO3/CMS/Core/ViewHelpers" data-namespace-typo3-fluid="true">
<f:be.pageRenderer
    includeJavaScriptModules="{
        0: '@typo3/backend/toolbar/system-information-menu.js'
    }"
/>
<f:render partial="ToolbarItems/ToolbarItem" arguments="{
    title: 'LLL:EXT:backend/Resources/Private/Language/locallang_toolbar.xlf:toolbarItems.sysinfo',
    icon: '{core:icon(identifier: \'actions-system-list-open\', size: \'small\', alternativeMarkupIdentifier: \'inline\')}'
}" />
<span class="toolbar-item-badge badge badge-pill badge-warning hidden" data-systeminformation-badge></span>
</html>
