<html
    xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    xmlns:is="http://typo3.org/ns/TYPO3/CMS/IndexedSearch/ViewHelpers"
    data-namespace-typo3-fluid="true"
>

<f:layout name="Module" />

<f:section name="Before">
    <f:asset.module identifier="@typo3/indexed-search/statistics.js"/>
</f:section>

<f:section name="Content">
    <f:if condition="{phashRow}">
        <f:then>
            <h1><f:translate key="administration.statisticDetails.headlineWithItemTitle" arguments="{0: '{phashRow.item_title}'}"/></h1>

            <h2><f:translate key="administration.phash.tableHeader" /></h2>
            <div class="table-fit">
                <table class="table table-striped table-hover">
                    <f:for each="{phashRow}" as="value" key="key">
                        <tr>
                            <th class="col-recordtitle">{key}</th>
                            <td>
                                <f:if condition="({key} == 'item_mtime') || ({key} == 'tstamp') || ({key} == 'crdate') || ({key} == 'item_crdate')">
                                    <f:then>
                                        <is:format.dateTime>{value}</is:format.dateTime>
                                    </f:then>
                                    <f:else if="{key} == 'item_size'">
                                        <f:format.bytes decimals="1" value="{value}" />
                                    </f:else>
                                    <f:else>{value}</f:else>
                                </f:if>
                            </td>
                        </tr>
                    </f:for>
                </table>
            </div>

            <f:render section="wordlisting" arguments="{words: words, phash: phash}" />

            <f:if condition="{sections}">
                <h2><f:translate key="administration.statistics.sectionRecords" /></h2>
                <div class="table-fit">
                    <table class="table table-striped table-hover">
                        <thead>
                            <tr>
                                <th><f:translate key="field.pHash" /></th>
                                <th>rl0</th>
                                <th>rl1</th>
                                <th>rl2</th>
                                <th><f:translate key="field.id" /></th>
                                <th><f:translate key="field.uniqueId" /></th>
                            </tr>
                        </thead>
                        <tbody>
                            <f:for each="{sections}" as="row">
                                <tr>
                                    <td>{row.phash}</td>
                                    <td>{row.rl0}</td>
                                    <td>{row.rl1}</td>
                                    <td>{row.rl2}</td>
                                    <td>{row.page_id}</td>
                                    <td>{row.uniqueid}</td>
                                </tr>
                            </f:for>
                        </tbody>
                    </table>
                </div>
            </f:if>
        </f:then>
        <f:else>
            <h1><f:translate key="administration.statisticDetails.headline" /></h1>
            <f:be.infobox
                message="{f:translate(key:'LLL:EXT:indexed_search/Resources/Private/Language/locallang.xlf:administration.noResult')}"
                state="{f:constant(name: 'TYPO3\CMS\Core\Type\ContextualFeedbackSeverity::NOTICE')}"
            />
        </f:else>
    </f:if>
</f:section>

<f:section name="wordlisting">
    <h2>
        <f:translate key="administration.document.words" />
    </h2>
    <f:if condition="{words}">
        <f:then>
            <f:form class="form" method="post" action="saveStopwords" name="stopwords" arguments="{pageHash:phash}">
                <f:form.hidden name="pageHash" value="{phash}" />
                <typo3-indexed-search-statistics>
                    <div class="table-fit">
                        <table class="table table-striped table-hover">
                            <thead>
                                <tr>
                                    <th data-sort-method="none"><f:translate key="administration.stopWords" /></th>
                                    <th><f:translate key="administration.statistics.word" /></th>
                                    <th><f:translate key="field.wordCount" /></th>
                                    <th><f:translate key="field.frequency" /></th>
                                    <th data-sort-method="none"><f:translate key="field.flag" /></th>
                                    <th class="col-control" data-sort-method="none">
                                        <span class="visually-hidden">{f:translate(key: 'LLL:EXT:core/Resources/Private/Language/locallang_core.xlf:labels._CONTROL_')}</span>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <f:for each="{words}" as="word">
                                    <tr>
                                        <td>
                                            <f:form.checkbox name="stopwords[{word.wid}]" value="1" checked="{word.is_stopword}" />
                                        </td>
                                        <td>{word.baseword}</td>
                                        <td>{word.count}</td>
                                        <td>{word.freq}</td>
                                        <td>
                                            <f:if condition="{word.flags} > 0">
                                                {is:format.flagValue(flags:word.flags)}
                                            </f:if>
                                        </td>
                                        <td class="col-control">
                                            <div class="btn-group">
                                                <f:link.action
                                                    action="wordDetail"
                                                    arguments="{wordHash:word.wid, pageHash:phash, wordTitle: word.baseword}"
                                                    title="{f:translate(key:'administration.btn.details.title')}"
                                                    class="btn btn-default"
                                                >
                                                    <core:icon identifier="actions-options" />
                                                </f:link.action>
                                            </div>
                                        </td>
                                    </tr>
                                </f:for>
                            </tbody>
                            <tfoot>
                                <tr>
                                    <td colspan="6">
                                        {f:count(subject:words)}
                                        <f:if condition="{words -> f:count()} > 1">
                                            <f:then>
                                                <f:translate key="administration.words" />
                                            </f:then>
                                            <f:else>
                                                <f:translate key="administration.word" />
                                            </f:else>
                                        </f:if>
                                    </td>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </typo3-indexed-search-statistics>
                <f:form.submit class="btn btn-default" value="{f:translate(key:'administration.stopWords.save')}" />
            </f:form>
        </f:then>
        <f:else>
            <f:be.infobox
                message="{f:translate(key:'LLL:EXT:indexed_search/Resources/Private/Language/locallang.xlf:administration.noResult')}"
                state="{f:constant(name: 'TYPO3\CMS\Core\Type\ContextualFeedbackSeverity::NOTICE')}"
            />
        </f:else>
    </f:if>
</f:section>

</html>
