@charset "UTF-8";

/* Font size 62.8% = 1em = 10px */
body {
	font: 62.8% Verdana, Arial, Helvetica, sans-serif;
}

pre {
	font-size: 1.2em;
	margin: 1em 1em;
}

code {
	font-size: 1.2em;
}

p, form, fieldset, h3, h4, h5, h6, dl {
	margin: 1em 0 1em 0;
}

ol, ul {
	margin: 1em 0 1em 1.5em;
	padding: 0 0 0 1em;
}

ul {
	list-style: disc;
}

ol {
	list-style: decimal;
}

dl dd {
	margin-left: 1.5em;
}

fieldset li p {
	margin-top: 0;
}

h2 {
	margin: 2.5em 0 1.7em 0.8em;
	color: #585858;
	font-size: 120%;
	font-weight: bold;
}

h3 {
	font-size: 120%;
	margin: 0.7em 0 1.5em
}

h4 {
	font-size: 110%;
	margin: 0;
}

.clearfix:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

* html .clearfix {
	height: 1%;
}

legend {
	margin-left: 1em;
	font-weight: bold;
}

fieldset ol {
	margin: 0;
	padding: 0;
	list-style: none;
}

fieldset li {
	margin-bottom: 0.5em;
	float: left;
	clear: left;
	width: 100%;
}

label {
	float: left;
	width: 18em;
	margin-right: 1em;
	padding: 0.2em 0;
}

fieldset span {
	float: left;
	width: 29em;
}

.t3-install-form-label-after input {
	float: left;
}

.t3-install-form-label-after label,
.t3-install-form-label-above label {
	float: none;
	display: block;
	width: auto;
	margin-right: 0;
}

.t3-install-form-label-above label {
	margin-bottom: 0.5em;
}

.t3-install-form-label-after label {
	padding-left: 3em;
}

.t3-install-form-label-width-7 label {
	width: 7em;
}

.t3-install-form-label-width-21 label {
	width: 21em;
}

fieldset.t3-install-form-submit {
	float: none;
	width: auto;
}

.t3-install-login fieldset.t3-install-form-submit {
	margin-left: 8em;
}

fieldset select,
input.t3-install-form-input-text,
textarea {
	background: url('../Images/input-background.gif') repeat-x scroll 0 0 #FFFFFF;
	border: 1px solid #7c7c7c;
	color: #000000;
	font-size: 1.1em;
	line-height: 1.7em;
	margin: 0;
	width: 20em;
}

fieldset select {
	height: 2em;
	padding: 0.2em;
	width: 17.4em;
}

input.t3-install-form-input-text {
	height: 1.7em;
	padding: 0.1em 0.1em 0 0.45em;
}

textarea {
	width: 99%;
	font-size: 1.2em;
}

button {
	color: #606060;
	font-size: 1.1em;
	padding: 0.3em 0.6em;
	border: 1px solid #7c7c7c;
	background: #f6f6f6 url('../Images/button-background.jpg') repeat-x left bottom;
	cursor: pointer;
}

button:hover {
	background-color: #ededed;
	background-image: url('../Images/button-background-hover.jpg');
}

button span {
	background-repeat: no-repeat;
	display: inline-block;
	width: 16px;
	height: 16px;
	margin-left: 0.6em;
	float: none;
}

button span.t3-install-form-button-icon-negative {
	background-image: url('../../../../../gfx/error.png');
}

button span.t3-install-form-button-icon-positive {
	background-image: url('../../../../../gfx/ok.png');
}

.t3-install-hidden {
	display: none;
}

.t3-install-strong {
	font-weight: bold;
}

#t3-install-outer {
	width: 76em;
	margin: 1em auto;
}

#t3-install-left {
	float: left;
	width: 19em;
	clear: both;
}

#t3-install-right {
	padding-left: 19em;
	width: 57em;
}

#t3-install-menu {
	margin: 0;
	padding: 0;
	list-style: none;
	width: 16em;
	font-size: 110%;
	line-height: 2em;
}

#t3-install-menu li {
	padding: 0.35em 0 0.35em 2.8em;
}

#t3-install-menu li.act {
	background-color: #585858;
	line-height: 1.5em;
}

#t3-install-menu a {
	color: #606060;
	text-decoration: none;
}

#t3-install-menu a:hover {
	color: #111;
}

#t3-install-menu li.act a {
	font-weight: bold;
	color: #ffffff;
}

#t3-install-menu li {
	background-repeat: no-repeat;
	background-position: 0.7em center;
}

#t3-install-menu #t3-install-menu-config {
	background-image: url('../Images/menuConfig.png');
}

#t3-install-menu #t3-install-menu-systemEnvironment {
	background-image: url('../Images/menuSystemEnvironment.png');
}

#t3-install-menu #t3-install-menu-database {
	background-image: url('../Images/menuDatabase.png');
}

#t3-install-menu #t3-install-menu-update {
	background-image: url('../Images/menuUpdate.png');
}

#t3-install-menu #t3-install-menu-images {
	background-image: url('../Images/menuImages.png');
}

#t3-install-menu #t3-install-menu-extConfig {
	background-image: url('../Images/menuExtConfig.png');
}

#t3-install-menu #t3-install-menu-typo3temp {
	background-image: url('../Images/menuTypo3temp.png');
}

#t3-install-menu #t3-install-menu-cleanup {
	background-image: url('../Images/menuCleanup.png');
}

#t3-install-menu #t3-install-menu-phpinfo {
	background-image: url('../Images/menuPhpinfo.png');
}

#t3-install-menu #t3-install-menu-typo3conf_edit {
	background-image: url('../Images/menuTypo3confEdit.png');
}

#t3-install-menu #t3-install-menu-about {
	background-image: url('../Images/menuAbout.png');
}

#t3-install-menu #t3-install-menu-logout {
	background-image: url('../Images/login-icon-key.gif');
}

#t3-install-links {
	margin: 2em 0 0 0.8em;
	padding: 0;
	list-style: none;
	width: 15.2em;
	font-size: 110%;
	line-height: 2em;
}

#t3-install-links a {
	color: #797878;
	text-decoration: none;
}

#t3-install-links a:hover {
	text-decoration: underline;
}

#t3-install-box-body {
	font-size: 110%;
	line-height: 1.7em;
	padding: 0.1em 1.8em 1.8em 1.8em;
	color: #606060;
}

.t3-install-login #t3-install-box-body {
	padding: 0.1em 0 0 3.6em;
}

#t3-install-box-body h3 {
	margin: 0.75em 0 2em;
}

.t3-install-login #t3-install-box-body h3 {
	margin: 1em 0;
}

#t3-install-box-body a {
	color: #606060 !important;
	text-decoration: underline !important;
}

#t3-install-box-body a:hover {
	color: #111 !important;
}



.typo3-message {
	padding: 0.6em 0.6em 0.6em 2.6em;
	background-repeat: no-repeat;
	background-position: 0.5em 0.7em;
	border: 1px solid;
	color: #000000;
}

.typo3-message h4 {
	margin-top: 0;
}

.message-notice {
	background-image: url("../../../../../gfx/notice.png");
	background-color: #f6f7fa;
	border-color: #c2cbcf;
}

.message-information {
	background-image: url("../../../../../gfx/information.png");
	background-color: #ddeef9;
	border-color: #8aafc4;
}

.message-ok {
	background-image: url("../../../../../gfx/ok.png");
	background-color: #cdeaca;
	border-color: #58b548;
}

.message-warning {
	background-image: url("../../../../../gfx/warning.png");
	background-color: #fbffb3;
	border-color: #c4b70d;
}

.message-error {
	background-image: url("../../../../../gfx/error.png");
	background-color: #fbb19b;
	border-color: #dc4c42;
}

#t3-install-copyright {
	color: #797878;
	border-top: 1px #5f5f5f solid;
	margin-top: 3.7em;
	clear: both;
}

#t3-install-copyright a {
	color: #797878;
}
