@CHARSET "UTF-8";

/* IE6 only styles */

/* center align for install tool */
body {
	text-align: center;
}

#t3-install-outer {
	text-align: left;
}

/* fix width and position of right hand section */
#t3-install-right {
	width: 56em;
	padding-left: 0px !important;
}

/* fix background image in menu */
#t3-install-menu li {
	height: 1%;
}