@CHARSET "UTF-8";

body {
	background: #4f4f4f url('../Images/body-background.jpg') repeat-x fixed;
}

#t3-install-outer {
	margin: 0 auto;
}

h1,
#t3-install-menu-border-top,
#t3-install-menu-bottom,
#t3-install-links,
#t3-install-box-border-top,
#t3-install-box-border-bottom,
#t3-install-copyright {
	display: block;
}

h1 {
	background: url('../Images/logo.gif') no-repeat scroll 0 0 transparent;
	text-indent:-999em;
	margin: 2em 0 3.7em 0;
	height: 34px;
	width: 19em;
	float: left;
}

h2 {
	padding: 3.3em 0 3.7em 17.5em;
	margin: 0;
	height: auto;
	color: #ffffff;
}

#t3-install-box-border-top {
	height: 3px;
	background: #3e3e3e url('../Images/content-top.png') no-repeat center bottom;
}

#t3-install-box-body {
	background-color: #eeeeee;
}

#t3-install-box-border-bottom {
	height: 3px;
	background: #4d4c4d url('../Images/content-bottom.png') no-repeat center top;
}

#t3-install-menu,
#t3-install-box-body {
	border: 0;
}

#t3-install-menu-border-top {
	width: 17.6em;
	height: 3px;
	background: #3e3e3e url('../Images/content-top.png') no-repeat center bottom;
}

#t3-install-menu {
	background: #ebebeb url('../Images/menuBackground.gif') repeat-x left bottom;
}

#t3-install-menu-bottom {
	width: 17.6em;
	height: 3px;
	background: #3e3e3e url('../Images/content-top.png') no-repeat center bottom;
}