@CHARSET "UTF-8";

body {
	background-color: #f2f2f2;
}

h1,
#t3-install-menu-border-top,
#t3-install-menu-bottom,
#t3-install-links,
#t3-install-box-border-top,
#t3-install-box-border-bottom,
#t3-install-copyright {
	display: none;
}

#t3-install-box-body,
#t3-install-menu {
	border: 1px #dcdcdc solid;
	background-color: #ffffff;
}

/* 0: Login form */

/* 1: Basic configuration */
#t3-install-checkimagemagick label {
	width: 27em;
}

#systemInformation dt {
	float: left;
	width: 11em;
}

#systemInformation dd {
	padding-left: 11em;
	font-weight: bold;
}

#t3-install-imagemagickversions td {
	padding-right: 1em;
}

/* 2: Database Analyzer */
#t3-install-databasemenu {
	width: 100%;
}

#t3-install-databaseconnected dt,
#t3-install-checkthedatabaseexplanation dt {
	float: left;
	width: 7em;
}

#t3-install-databaseconnected dd,
#t3-install-checkthedatabaseexplanation dd {
	padding-left: 7em;
}

#t3-install-databaseconnected dd,
#t3-install-checkthedatabaseexplanation dt {
	font-weight: bold;
}

#t3-install-checkthedatabaseimport label span,
#t3-install-checkthedatabasecache label span {
	float: none;
	display: inline-block;
	vertical-align: top;
}

#t3-install-checkthedatabaseimport label span {
	width: 32%;
}

#t3-install-checkthedatabasecache label span.t3-install-column1 {
	width: 27%;
}

#t3-install-checkthedatabasecache label span.t3-install-column3 {
	width: 56%;
}

#t3-install-checkthedatabasecache label span.t3-install-column2 {
	width: 15%;
}

.t3-install-displayfields,
.t3-install-displaysuggestions,
.t3-install-displayfieldscompare {
	width: 100%;
	margin-bottom: 1em;
}

.t3-install-displayfields th,
.t3-install-displaysuggestions th,
.t3-install-displayfieldscompare th {
	text-align: left;
	background-color: #B3B7BD;
}

.t3-install-displaysuggestions .tfootHeader {
	font-weight: bold;
	background-color: #d0d0d0;
}

.t3-install-displayfields th,
.t3-install-displayfields td,
.t3-install-displaysuggestions th,
.t3-install-displaysuggestions td,
.t3-install-displayfieldscompare th,
.t3-install-displayfieldscompare td {
	padding: 0.2em;
}

.t3-install-displayfields thead,
.t3-install-displayfields tbody,
.t3-install-displaysuggestions thead,
.t3-install-displaysuggestions tfoot,
.t3-install-displaysuggestions tbody,
.t3-install-displayfieldscompare thead,
.t3-install-displayfieldscompare tbody {
	border: 1px #B3B7BD solid;
}

.t3-install-displayfields .t3-install-column1,
.t3-install-displaysuggestions .t3-install-column1 {
	width: 35%;
}

.t3-install-displaysuggestions tr {
	border-top: 1px #B3B7BD solid;
}

.t3-install-displaysuggestions pre {
	font-size: 110%;
}

.t3-install-displayfieldscompare .warning {
	color: red;
}

/* 4: Image processing */
#t3-install-imageprocessingim dt,
#t3-install-imageprocessingother dt,
#t3-install-imageprocessingfileformats dt {
	float: left;
	width: 19em;
}

#t3-install-imageprocessingim dd,
#t3-install-imageprocessingother dd,
#t3-install-imageprocessingfileformats dd {
	font-weight: bold;
	padding-left: 19em;
}

#t3-install-imageprocessingim dd span,
#t3-install-imageprocessingother dd span,
#t3-install-imageprocessingfileformats dd span {
	font-weight: normal;
}

.t3-install-displaytwinimagetextarea {
	width: 48em; 
	overflow: scroll;
	border: 1px #797878 solid;
}

.t3-install-displaytwinimagetextarea textarea {
	width: 300em; 
	border: 0;
}

.t3-install-displaytwinimageimages,
.t3-install-displaytwinimagereference,
.t3-install-displaytwinimagedifferentfilesize {
	width: 100%;
	margin: 0.3em 0;
}

.t3-install-displaytwinimageimages td,
.t3-install-displaytwinimagereference th,
.t3-install-displaytwinimagereference td,
.t3-install-displaytwinimagedifferentfilesize th,
.t3-install-displaytwinimagedifferentfilesize td {
	text-align: center;
}

/* 5: All configuration */

/* 6: typo3temp/ */
#t3-install-tempmanagernumbers dt {
	float: left;
	width: 19em;
}

#t3-install-tempmanagernumbers dd {
	font-weight: bold;
	padding-left: 19em;
}

#t3-install-tempmanagernumbers dd span {
	font-weight: normal;
}

/* 7: Clean up database */
#t3-install-cleanupmanagernumbers dt {
	float: left;
	width: 19em;
}

#t3-install-cleanupmanagernumbers dd {
	font-weight: bold;
	padding-left: 19em;
}

#t3-install-cleanupmanagernumbers dd span {
	font-weight: normal;
}

/* 8: phpinfo() */
#t3-install-debuginformation {
	width: 48em; 
	height: 20em; 
	overflow: scroll;
	border: 1px #797878 solid;
}

#t3-install-debuginformation textarea {
	width: 200em; 
	height: 68em;
	border: 0;
}

.t3-install-viewarray {
	border: 1px solid #B3B7BD;
	border-bottom: 0;
}

.t3-install-viewarray .t3-install-viewarray {
	border: 0;
}

.t3-install-viewarray dt {
	float: left;
	width: 19em;
	font-weight: bold;
}

.t3-install-viewarray dd {
	padding-left: 19em;
	border-bottom: 1px #d0d0d0 solid
}

.t3-install-viewarray .t3-install-viewarray dt {
	width: 10em;
}

.t3-install-viewarray .t3-install-viewarray dd {
	padding-left: 10em;
	border: 0;
}

.t3-install-viewarray dl {
	margin: 0;
}

.phpinfo pre {
	margin: 0px;
	font-family: monospace;
}

.phpinfo table {
	border-collapse: collapse;
	width: 100%;
	table-layout: fixed;
}

.phpinfo .center table {
	margin-left: auto;
	margin-right: auto;
	text-align: left;
}

.phpinfo .center th {
	text-align: center !important;
}

.phpinfo td,
.phpinfo th {
	border: 1px solid #000000;
	vertical-align: baseline;
	padding: 0.3em;
	overflow: hidden;
}

.phpinfo h1 {
	font-size: 150%;
	background-image: none;
	text-indent: 0;
	height: auto;
	color: #000000;
	margin: 1em 0 1em 0;
	text-align: center;
	float: none;
}

.phpinfo h2 {
	margin: 1em 0 1em 0;
	color: #000000;
	padding: 0;
	text-align: center;
	background-color: transparent;
	float: none;
}

.phpinfo .p {
	text-align: left;
}

.phpinfo .e {
	background-color: #ccf;
	font-weight: bold;
	color: #000000;
}

.phpinfo .h {
	background-color: #99c;
	font-weight: bold;
	color: #000000;
}

.phpinfo .v {
	background-color: #ccc;
	color: #000000;
}

.phpinfo .vr {
	background-color: #ccc;
	text-align: right;
	color: #000000;
}

.phpinfo img {
	float: right;
	border: 0px;
}

.phpinfo hr {
	background-color: #ccc;
	border: 0px;
	height: 1px;
	color: #000000;
}

/* 9: Edit files in typo3conf/ */
#t3-install-confeditfilelist dt {
	float: left;
	width: 45em;
}

#t3-install-confeditfilelist dd {
	padding-left: 45em;
}

#t3-install-confeditfilelist dt a {
	color: blue;
	text-decoration: none;
}

#t3-install-confeditfilelist dt a:hover {
	text-decoration: underline;
}

#t3-install-confeditfilelist dt.act a {
	font-weight: bold;
}

#t3-install-fileedit textarea {
	height: 10em;
	width: 99%;
	padding: 0;
}

/* 10: About */


/* Stylesheet for the standalone version of the Install Tool */

body.standalone {
	background: #4f4f4f url('../Images/body-background.jpg') repeat-x fixed;
}

body.standalone #t3-install-outer {
	margin: 0 auto;
}

body.standalone h1,
body.standalone #t3-install-menu-border-top,
body.standalone #t3-install-menu-bottom,
body.standalone #t3-install-links,
body.standalone #t3-install-box-border-top,
body.standalone #t3-install-box-border-bottom,
body.standalone #t3-install-copyright {
	display: block;
}

body.standalone #t3-install-form-login,
body.standalone #t3-install-form-login .t3-install-form-submit,
body.standalone #t3-install-box-body {
	margin-bottom: 0;
}

body.standalone #t3-install-form-login .t3-install-form-submit {
	padding-bottom: 1em;
}

body.standalone h1 {
	background: url('../Images/logo.gif') no-repeat scroll 0 0 transparent;
	text-indent:-999em;
	margin: 2em 0 3.7em 0;
	height: 34px;
	width: 19em;
	float: left;
}

body.standalone h2 {
	padding: 3.3em 0 3.7em 17.5em;
	margin: 0;
	height: auto;
	color: #ffffff;
}

body.standalone #t3-install-box-border-top {
	height: 3px;
	background: #3e3e3e url('../Images/content-top.png') no-repeat center bottom;
}

body.standalone #t3-install-box-body {
	background-color: #eeeeee;
}

body.standalone #t3-install-box-border-bottom {
	height: 3px;
	background: #4d4c4d url('../Images/content-bottom.png') no-repeat center top;
}

body.standalone #t3-install-menu,
body.standalone #t3-install-box-body {
	border: 0;
}

body.standalone #t3-install-menu-border-top {
	width: 17.6em;
	height: 3px;
	background: #3e3e3e url('../Images/content-top.png') no-repeat center bottom;
}

body.standalone #t3-install-menu {
	background: #ebebeb url('../Images/menuBackground.gif') repeat-x left bottom;
}

body.standalone #t3-install-menu-bottom {
	width: 17.6em;
	height: 3px;
	background: #3e3e3e url('../Images/content-bottom.png') no-repeat center bottom;
}

body.standalone .t3-install-login h2 {
	clear: both;
	margin: 0;
	padding: 0.5em 0 0.5em 3.35em;
}