@CHARSET "UTF-8";

/* Font size 62.8% = 1em = 10px */
body {
	background: #4f4f4f url('../Images/body-background.jpg') repeat-x fixed;
}

#t3-install-outer {
	width: 43em;
	margin-left: 16em;
}

h1 {
	background: url('../Images/logo.gif') no-repeat scroll 0 0 transparent;
	text-indent:-999em;
	margin: 2em 0 3.7em 0;
	height: 34px;
}

h2 {
	background-color: #585858;
	font-size: 120%;
	font-weight: bold;
	color: #ffffff;
	padding: 0.5em 1.8em 0.5em 1.8em;
	margin: 0;
}

h3 {
	font-size: 163%;
}

#t3-install-box-border-top {
	height: 3px;
	background: #3e3e3e url('../Images/content-top.png') no-repeat center bottom;
}

#t3-install-box-border-bottom {
	height: 3px;
	background: #4d4c4d url('../Images/content-bottom.png') no-repeat center top;
}

#t3-install-box-body {
	color: #787878;
	background: #ebebeb url('../Images/content-background.jpg') repeat-x left bottom;
	padding: 1em 1.8em 1em;
}

/* 1-2-3 General */
#t3-install-123-stepheader {
	list-style: none;
	margin: 1em 0 0;
	padding: 0;
}

#t3-install-123-stepheader li {
	float: left;
	text-indent:-999em;
	width: 35px;
	height: 35px;
	margin-right: 1.1em;
	background: url('../Images/numbers.png') no-repeat scroll 0 0 transparent;
}

#t3-install-123-stepheader li a {
	width: 100%;
	height: 100%;
	display: block;
}

#t3-install-123-stepheader li.step1 {
	background-position: 0 0;
}

#t3-install-123-stepheader li.step1.act {
	background-position: 0 center;
}

#t3-install-123-stepheader li.step1.done {
	background-position: 0 bottom;
}

#t3-install-123-stepheader li.step2 {
	background-position: -35px 0;
}

#t3-install-123-stepheader li.step2.act {
	background-position: -35px center;
}

#t3-install-123-stepheader li.step2.done {
	background-position: -35px bottom;
}

#t3-install-123-stepheader li.step3 {
	background-position: -70px 0;
}

#t3-install-123-stepheader li.step3.act {
	background-position: -70px center;
}

#t3-install-123-stepheader li.step3.done {
	background-position: -70px bottom;
}

#t3-install-123-stepheader li.step4 {
	background-position: -105px 0;
}

#t3-install-123-stepheader li.step4.act {
	background-position: -105px center;
}

#t3-install-123-stepheader li.step4.done {
	background-position: -105px bottom;
}

#t3-install-123-stepheader li.step5 {
	background-position: -140px 0;
}

#t3-install-123-stepheader li.step5.act {
	background-position: -140px center;
}

#t3-install-123-stepheader li.step5.done {
	background-position: -140px bottom;
}

#t3-install-123-stepheader li.step6 {
	background-position: -175px 0;
}

#t3-install-123-stepheader li.step6.act {
	background-position: -175px center;
}

#t3-install-123-stepheader li.step6.done {
	background-position: -175px bottom;
}

#t3-install-123-stepheader li.step7 {
	background-position: -210px 0;
}

#t3-install-123-stepheader li.step7.act {
	background-position: -210px center;
}

#t3-install-123-stepheader li.step7.done {
	background-position: -210px bottom;
}

#t3-install-123-stepheader li.step8 {
	background-position: -245px 0;
}

#t3-install-123-stepheader li.step8.act {
	background-position: -245px center;
}

#t3-install-123-stepheader li.step8.done {
	background-position: -245px bottom;
}

#t3-install-123-skip {
	text-align: right;
	font-size: 0.91em;
}

#t3-install-123-skip a {
	color: #888888;
	text-decoration: none;
}

#t3-install-123-skip a:hover {
	text-decoration: underline;
}

/* 1-2-3: Step 3 */
#t3-install-123-step3 label {
	float: none;
	font-weight: bold;
}

#t3-install-123-step3 p {
	margin: 0 0 0.5em;
}

/* 1-2-3: Step 4 */
#t3-install-123-stepoutputsummary dt {
	float: left;
	clear: both;
	width: 15em;
	margin-right: 1em;
}

#t3-install-123-stepoutputsummary dd {
	float: left;
}

#t3-install-123-step3 ul {
	list-style: none;
}

#t3-install-123-step3 ul li div {
	display: inline-block;
	margin-bottom: 10px;
}

#t3-install-123-step3 ul li input.radio {
	vertical-align: top;
}