@charset "UTF-8";

body {
	background-color: #f2f2f2;
}

#t3-install-outer {
	width: 43em;
	margin: 7em auto auto auto;
}

h1,
#t3-install-box-border-top,
#t3-install-box-border-bottom {
	display: none;
}

.t3-install-login h1 {
	float: none;
}

.t3-install-login h2 {
	background: url('../Images/login-icon-key.gif') no-repeat scroll 1em center #585858;
	color: #ffffff;
	font-size: 120%;
	padding:0.5em 0 0.5em 3.35em;
	margin: 0;
}

h3 {
	margin: 1em 0 2em 0;
}

#t3-install-box-body {
	border: 1px #dcdcdc solid;
	border-top: 0;
	color: #606060;
	background-color: #eeeeee;
	padding: 1em 3.6em 0;
	margin-bottom: 2em;
}

.typo3-message {
	font-size: 110%;
	line-height: 1.5em;
}

.message-information {
	color: #64859c;
}
