<f:layout name="Default" />

<f:section name="content">
    <div id="recycler-index" class="tx_recycler_recycler">
        <form id="recycler-form">
            <div class="row row-cols-auto align-items-end g-3 mb-4">
                <div class="col">
                    <div class="input-group">
                        <input type="text" name="search-text" class="form-control" placeholder="{f:translate(key: 'LLL:EXT:core/Resources/Private/Language/locallang_core.xlf:labels.enterSearchString')}">
                        <button type="submit" class="btn btn-default disabled"><core:icon identifier="actions-search" /></button>
                    </div>
                </div>
                <div class="col">
                    <label for="depth" class="form-label"><f:translate key="LLL:EXT:recycler/Resources/Private/Language/locallang.xlf:filter.depth" /></label>
                    <select name="depth" id="depth" class="form-select">
                        <option value="0"><f:translate key="LLL:EXT:core/Resources/Private/Language/locallang_core.xlf:labels.depth_0" /></option>
                        <option value="1"><f:translate key="LLL:EXT:core/Resources/Private/Language/locallang_core.xlf:labels.depth_1" /></option>
                        <option value="2"><f:translate key="LLL:EXT:core/Resources/Private/Language/locallang_core.xlf:labels.depth_2" /></option>
                        <option value="3"><f:translate key="LLL:EXT:core/Resources/Private/Language/locallang_core.xlf:labels.depth_3" /></option>
                        <option value="4"><f:translate key="LLL:EXT:core/Resources/Private/Language/locallang_core.xlf:labels.depth_4" /></option>
                        <option value="999"><f:translate key="LLL:EXT:core/Resources/Private/Language/locallang_core.xlf:labels.depth_infi" /></option>
                    </select>
                </div>
                <div class="col">
                    <label for="pages" class="form-label"><f:translate key="LLL:EXT:recycler/Resources/Private/Language/locallang.xlf:filter.type" /></label>
                    <select name="pages" id="pages" class="form-select"></select>
                </div>
            </div>
        </form>
        <f:render section="multiRecordSelectionActions" arguments="{allowDelete: allowDelete}"/>
        <div class="table-fit mb-0">
            <table class="table table-hover" id="itemsInRecycler">
                <thead>
                    <tr>
                        <th><f:render section="multiRecordSelectionCheckboxActions" /></th>
                        <th><f:translate key="table.header.record" /></th>
                        <th><f:translate key="table.header.tstamp" /></th>
                        <th><f:translate key="table.header.uid" /></th>
                        <th><f:translate key="table.header.pid" /></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody data-multi-record-selection-row-selection="true">
                </tbody>
            </table>
        </div>
        <f:render section="multiRecordSelectionActions" arguments="{allowDelete: allowDelete}"/>
        <nav>
        </nav>
    </div>
</f:section>

<f:section name="multiRecordSelectionCheckboxActions">
    <div class="btn-group dropdown position-static">
        <button type="button" class="btn btn-borderless dropdown-toggle t3js-multi-record-selection-check-actions-toggle" data-bs-toggle="dropdown" data-bs-boundary="window" aria-expanded="false">
            <core:icon identifier="content-special-div" size="small" />
        </button>
        <ul class="dropdown-menu t3js-multi-record-selection-check-actions">
            <li>
                <button type="button" class="btn btn-link dropdown-item disabled" data-multi-record-selection-check-action="check-all" title="{f:translate(key: 'LLL:EXT:core/Resources/Private/Language/locallang_core.xlf:labels.checkAll')}">
                    <core:icon identifier="actions-check-square" size="small" /> <f:translate key="LLL:EXT:core/Resources/Private/Language/locallang_core.xlf:labels.checkAll" />
                </button>
            </li>
            <li>
                <button type="button" class="btn btn-link dropdown-item disabled" data-multi-record-selection-check-action="check-none" title="{f:translate(key: 'LLL:EXT:core/Resources/Private/Language/locallang_core.xlf:labels.uncheckAll')}">
                    <core:icon identifier="actions-square" size="small" /> <f:translate key="LLL:EXT:core/Resources/Private/Language/locallang_core.xlf:labels.uncheckAll" />
                </button>
            </li>
            <li>
                <button type="button" class="btn btn-link dropdown-item" data-multi-record-selection-check-action="toggle" title="{f:translate(key: 'LLL:EXT:core/Resources/Private/Language/locallang_core.xlf:labels.toggleSelection')}">
                    <core:icon identifier="actions-document-select" size="small" /> <f:translate key="LLL:EXT:core/Resources/Private/Language/locallang_core.xlf:labels.toggleSelection" />
                </button>
            </li>
        </ul>
    </div>
</f:section>

<f:section name="multiRecordSelectionActions">
    <div class="multi-record-selection-actions-wrapper">
        <div class="row row-cols-auto align-items-center g-2 t3js-multi-record-selection-actions hidden">
            <div class="col">
                <strong><f:translate key="LLL:EXT:core/Resources/Private/Language/locallang_core.xlf:labels.selection"/></strong>
            </div>
            <div class="col">
                <button class="btn btn-default btn-sm" data-multi-record-selection-action="massundo" data-multi-record-selection-action-config='{"idField": "uid"}'>
                    <core:icon identifier="actions-edit-undo" />
                    <span class="text">
                        <f:translate key="button.undo" />
                    </span>
                </button>
            </div>
            <f:if condition="{allowDelete}">
                <div class="col">
                    <button class="btn btn-default btn-sm" data-multi-record-selection-action="massdelete" data-multi-record-selection-action-config='{"idField": "uid"}'>
                        <core:icon identifier="actions-edit-delete" />
                        <span class="text">
                            <f:translate key="button.delete" />
                        </span>
                    </button>
                </div>
            </f:if>
        </div>
    </div>
</f:section>
