// Upload extension
.headerRow { overflow: auto; width: 100% }

.typo3-documentation-headerRowLeft {
	float: left;
}

.typo3-documentation-headerRowRight {
	float: right;
}

.ui-toolbar {
	margin-bottom: 5px;

	.dataTables_filter {
		display: block;
	}
}


// Table
.typo3-documentation-list {
	th {
		min-width: 53px;

		vertical-align: middle;

		cursor: pointer;
		white-space: nowrap;

		.DataTables_sort_icon {
			display: inline-block;
			vertical-align: middle;
			margin-left: 5px;

			&.ui-icon-carat-2-n-s {
				background: none;
			}
		}
	}

	tr {
		td {
			img {
				vertical-align: middle;
				margin-right: 5px;
			}
		}
	}
}



// Paginator
.dataTables_info {
	display: none;
}

.dataTables_paginate {
	float: left;
	margin: 10px 0 0;
}
