// Colors
$gray-darker:     lighten(#000000, 13.5%);  // #222222
$gray-dark:       lighten(#000000, 20%);    // #333333
$gray:            lighten(#000000, 33.5%);  // #555555
$gray-medium:     lighten(#000000, 60%);    // #999999
$gray-light:      lighten(#000000, 92%);    // #EBEBEB
$gray-lighter:    lighten(#000000, 98%);    // #FAFAFA
$brand-color:     #ff8600;