<f:layout name="Default" />

<f:section name="Content">
	<div class="typo3-aboutmodules-inner-docbody">
		<h1>TYPO3 CMS {TYPO3Version}<br />
			<f:translate key="LLL:EXT:lang/locallang_alt_intro.xlf:introtext" />
		</h1>

		<p class="lead">
			<f:translate key="LLL:EXT:lang/locallang_alt_intro.xlf:introtext2" />
		</p>

		<f:if condition="{warningMessages}">
			<f:be.infobox title="{warningTitle}" state="2">{warningMessages -> f:format.raw()}</f:be.infobox>
		</f:if>

		<f:for each="{modules}" as="mainModule">
			<f:if condition="{mainModule.subModules}">
				<h2>{mainModule.label}</h2>
				<div class="container-fuid">
					<div class="row">
						<f:for each="{mainModule.subModules}" as="subModule" iteration="subModuleIterator">
							<div class="col-xs-12 col-sm-6">
								<div class="submodule media clearfix">
									<a
										href="#"
										onclick="top.goToModule('{mainModule.name}_{subModule.name}'); return false;"
										title="{subModule.shortDescription}"
										class="pull-left"
									>
										<span class="typo3-app-icon">
											<span>
												<span>
													<img src="../{subModule.icon}" alt="{subModule.label}" class="media-object" />
												</span>
											</span>
										</span>
									</a>

									<div class="media-body">
										<strong>
											<a
												href="#"
												onclick="top.goToModule('{mainModule.name}_{subModule.name}'); return false;"
												title="{subModule.shortDescription}"
												>{subModule.label}</a>
										</strong><br>

										<f:if condition="{subModule.shortDescription}">
											<small class="text-muted">{subModule.shortDescription}</small><br>
										</f:if>

										{subModule.longDescription -> f:format.raw()}
									</div>
								</div>
							</div>

							<f:if condition="{subModuleIterator.isEven}">
								<f:if condition="{subModuleIterator.isLast} == 0">
									</div><div class="row">
								</f:if>
							</f:if>
						</f:for>
					</div>
				</div>
			</f:if>
		</f:for>

		<p class="end-text text-info">
			<em>
				(<f:translate key="LLL:EXT:lang/locallang_alt_intro.xlf:endText" />)
			</em>
		</p>

		<p>
			<small>
				{copyRightNotice -> f:format.raw()}
			</small>
		</p>

	</div>
</f:section>
