// Tabs
#typo3-extension-main-menu .tabs ul,
#typo3-extension-configuration-forms .tabs ul {
	list-style: none;
	padding: 0;
	margin-bottom: -1px;

	// Clearfix
	&:after {
		display: table;
		content: "";
		clear: both;
	}

	> li {

		cursor: pointer;

		&.ui-tabs-active a,
		a.current {
			background: white;
			color: black;
			border-bottom: 0;

			padding-top: 4px;

			cursor: default;
		}

		a {
			@include border-radius(4px 4px 0 0);

			float: left;
			height: 22px;
			background: #dadada;

			padding: 4px 15px;
			margin-top: -1px;
			margin-right: 2px;
			border: 1px solid #adadad;

			color: #606060;

			outline: none;

			&:hover {
				background-color: #eee;
				border-color: #adadad;
				color: #606060;
			}
		}
	}
}
