<f:be.pageRenderer includeRequireJsModules="{0: 'TYPO3/CMS/Tstemplate/ConstantEditor'}" />
<h3><f:translate key="{LLPrefix}editConstants"/></h3>
<div>
    <core:iconForRecord table="sys_template" row="{templateRecord}" />
    <strong>&nbsp;<f:format.raw>{title}</f:format.raw></strong>
    <f:if condition="{siteTitle}">({siteTitle})</f:if>
    <f:if condition="{manyTemplatesMenu}">
        <div>
            <f:format.raw>
                {manyTemplatesMenu}
            </f:format.raw>
        </div>
    </f:if>
    <div style="padding-top: 10px;"></div>
    <f:if condition="{constantsMenu}">
        <f:then>
            <h3><f:translate key="{LLPrefix}category"/></h3>
            <div><span class="text-nowrap">
                <div class="form-inline form-inline-spaced"><f:format.raw>{constantsMenu}</f:format.raw></div>
            </span></div>
        </f:then>
        <f:else>
            <f:be.infobox title="{f:translate(key:'{LLPrefix}noConstants')}">
                {f:translate(key:'{LLPrefix}noConstantsDescription')}
            </f:be.infobox>
        </f:else>
    </f:if>
    <div style="padding-top: 15px;"></div>
    <f:if condition="{printFields}">
        <div>
            <f:format.raw>
                {printFields}
            </f:format.raw>
        </div>
    </f:if>
</div>
