<html
    xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    data-namespace-typo3-fluid="true"
>

<f:layout name="Module"/>

<f:section name="Content">

        <h1><f:translate key="LLL:EXT:tstemplate/Resources/Private/Language/locallang.xlf:constantEditor" /></h1>
        <f:render
            partial="NoTemplate"
            arguments="{
                pageUid: pageUid,
                previousPage: previousPage,
                moduleIdentifier: moduleIdentifier
            }"
        />

</f:section>

</html>
