<h3><f:translate key="{LLPrefix}templateInformation"/></h3>
<div>
    <f:if condition="{siteTitle}">({siteTitle})</f:if>
    <f:if condition="{manyTemplatesMenu}">
        <div>
            <f:format.raw>
                {manyTemplatesMenu}
            </f:format.raw>
        </div>
    </f:if>
    <f:format.raw>{formResult}</f:format.raw>
    <div class="table-fit">
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <td colspan="3">
                        <a href="#" class="t3js-contextmenutrigger" data-table="sys_template" data-uid="{templateRecord.uid}">
                            <core:iconForRecord table="sys_template" row="{templateRecord}"/>
                        </a><strong>{title}</strong>
                    </td>
                </tr>
            </thead>
            <f:for each="{tableRows}" as="line">
                <f:render section="TemplateTableRow" arguments="{line: line}" />
            </f:for>
        </table>
    </div>
    <div>
        <br />
        <a class="btn btn-default" href="{editAllUrl}"><strong><core:icon identifier="actions-document-open" />&nbsp;<f:translate key="{LLPrefix}editTemplateRecord"/></strong></a>
    </div>
</div>

<f:section name="TemplateTableRow">
    <tr>
        <td><a href="{line.url}" title="{f:translate(key:'LLL:EXT:core/Resources/Private/Language/locallang_common.xlf:editField')}"><strong>{line.label}</strong></a></td>
        <td width="80%">{line.data -> f:format.nl2br()}</td>
        <td><a href="{line.url}" title="{f:translate(key:'LLL:EXT:core/Resources/Private/Language/locallang_common.xlf:editField')}"><span class="btn btn-default"><core:icon identifier="actions-open" /></span></a></td>
    </tr>
</f:section>
