<html
    xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    xmlns:core="http://typo3.org/ns/TYPO3/CMS/Core/ViewHelpers"
    xmlns:be="http://typo3.org/ns/TYPO3/CMS/Backend/ViewHelpers"
    data-namespace-typo3-fluid="true"
>

<f:layout name="Module"/>

<f:section name="Before">
    <f:be.pageRenderer
        includeJavaScriptModules="{
            0: '@typo3/backend/context-menu.js',
            1: '@typo3/backend/element/immediate-action-element.js',
            2: '@typo3/tstemplate/information-module.js'
        }"
    />
    <f:variable name="args" value="{0: 'web', 1: pageUid}" />
    <typo3-immediate-action
        action="TYPO3.Backend.Storage.ModuleStateStorage.update"
        args="{args -> f:format.json() -> f:format.htmlspecialchars()}"
    ></typo3-immediate-action>
</f:section>

<f:section name="Content">

    <h1>
        <f:if condition="{templateRecord.title}">
            <f:then>
                <f:translate
                    key="LLL:EXT:tstemplate/Resources/Private/Language/locallang_info.xlf:submodule.titleWithRecord"
                    arguments="{
                        0: '{templateRecord.title}'
                    }"
                />
            </f:then>
            <f:else>
                <f:translate key="LLL:EXT:tstemplate/Resources/Private/Language/locallang_info.xlf:submodule.title" />
            </f:else>
        </f:if>
    </h1>
    <p><f:translate key="LLL:EXT:tstemplate/Resources/Private/Language/locallang_info.xlf:submodule.description" /></p>

    <f:if condition="{f:count(subject: allTemplatesOnPage)} > 1">
        <div class="form-row">
            <div class="form-group">
                <form action="{f:be.uri(route: 'web_typoscript_infomodify', parameters: '{id: pageUid}')}" method="post">
                    <label class="form-label" for="selectedTemplate">
                        <f:translate key="LLL:EXT:tstemplate/Resources/Private/Language/locallang_info.xlf:options.selectedRecord" />
                    </label>
                    <select
                        name="selectedTemplate"
                        id="selectedTemplate"
                        class="form-select"
                        data-global-event="change"
                        data-action-navigate="$data=~s/$value/"
                        data-action-submit="$form"
                    >
                        <f:for each="{allTemplatesOnPage}" as="template">
                            <option
                                value="{template.uid}"
                                {f:if(condition:'{templateRecord.uid} == {template.uid}', then:'selected="selected"')}
                            >
                            {template.title}
                            </option>
                        </f:for>
                    </select>
                </form>
            </div>
        </div>
    </f:if>

    <div class="table-fit">
        <table class="table table-striped table-hover">
            <tbody>
            <tr>
                <td class="text-nowrap">
                    <be:link.editRecord
                        table="sys_template"
                        uid="{templateRecord.uid}"
                        fields="title"
                        class="btn d-block text-start btn-default"
                    >
                        <core:icon identifier="actions-open" /> <f:translate key="LLL:EXT:tstemplate/Resources/Private/Language/locallang_info.xlf:table.column.title" />
                    </be:link.editRecord>
                </td>
                <td width="90%">{templateRecord.title}</td>
            </tr>
            <tr>
                <td class="text-nowrap">
                    <be:link.editRecord
                        table="sys_template"
                        uid="{templateRecord.uid}"
                        fields="description"
                        class="btn d-block text-start btn-default"
                    >
                        <core:icon identifier="actions-open" /> <f:translate key="LLL:EXT:tstemplate/Resources/Private/Language/locallang_info.xlf:table.column.description" />
                    </be:link.editRecord>
                </td>
                <td width="90%">{templateRecord.description}</td>
            </tr>
            <tr>
                <td class="text-nowrap">
                    <be:link.editRecord
                        table="sys_template"
                        uid="{templateRecord.uid}"
                        fields="constants"
                        class="btn d-block text-start btn-default"
                    >
                        <core:icon identifier="actions-open" /> <f:translate key="LLL:EXT:tstemplate/Resources/Private/Language/locallang_info.xlf:table.column.constants" />
                    </be:link.editRecord>
                </td>
                <td width="90%"><f:translate key="LLL:EXT:tstemplate/Resources/Private/Language/locallang_info.xlf:table.column.lines" arguments="{0: numberOfConstantsLines}" /></td>
            </tr>
            <tr>
                <td class="text-nowrap">
                    <be:link.editRecord
                        table="sys_template"
                        uid="{templateRecord.uid}"
                        fields="config"
                        class="btn d-block text-start btn-default"
                    >
                        <core:icon identifier="actions-open" /> <f:translate key="LLL:EXT:tstemplate/Resources/Private/Language/locallang_info.xlf:table.column.setup" />
                    </be:link.editRecord>
                </td>
                <td width="90%"><f:translate key="LLL:EXT:tstemplate/Resources/Private/Language/locallang_info.xlf:table.column.lines" arguments="{0: numberOfSetupLines}" /></td>
            </tr>
            </tbody>
        </table>
    </div>

    <be:link.editRecord
        table="sys_template"
        uid="{templateRecord.uid}"
        class="btn btn-default"
    >
        <core:icon identifier="actions-document-open" />
        <f:translate key="LLL:EXT:tstemplate/Resources/Private/Language/locallang_info.xlf:btn.editTypoScriptRecord"/>
    </be:link.editRecord>

</f:section>

</html>
