<html
    xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    xmlns:core="http://typo3.org/ns/TYPO3/CMS/Core/ViewHelpers"
    data-namespace-typo3-fluid="true"
>

<f:layout name="Module"/>

<f:section name="Content">

    <f:be.pageRenderer
        includeJavaScriptModules="{
            0: '@typo3/backend/context-menu.js',
            1: '@typo3/backend/element/immediate-action-element.js',
            2: '@typo3/backend/tooltip.js'
        }"
    />

    <form
        action="{f:be.uri(route: 'web_typoscript_objectbrowser', parameters: '{id: pageId, template: \'all\'}')}"
        method="post"
        enctype="multipart/form-data"
        id="TypoScriptObjectBrowserController"
        name="editForm"
        class="form"
    >
        <f:variable name="args" value="{0: 'web', 1: pageId}" />
        <typo3-immediate-action action="TYPO3.Backend.Storage.ModuleStateStorage.update" args="{args -> f:format.json() -> f:format.htmlspecialchars()}"></typo3-immediate-action>
        <h1><f:translate key="LLL:EXT:tstemplate/Resources/Private/Language/locallang.xml:moduleTitle" /></h1>
        <f:if condition="{templateRecord}">
            <div class="row row-cols-auto align-items-center g-3">
                <f:if condition="{manyTemplatesMenu}">
                    <div class="col">
                        {manyTemplatesMenu -> f:format.raw()}
                    </div>
                </f:if>
                <div class="col mb-3">
                    <core:iconForRecord table="sys_template" row="{templateRecord}"/>
                    <strong>
                        <f:be.link route="web_typoscript_overview" parameters="{id: pageId}">{templateRecord.title}</f:be.link>
                    </strong>
                </div>
            </div>
        </f:if>

        <f:if condition="{typoScriptPath}">
            <f:then>
                <f:render partial="ObjectBrowserEdit" arguments="{_all}" />
            </f:then>
            <f:else>
                <f:render partial="ObjectBrowserTree" arguments="{_all}" />
            </f:else>
        </f:if>
    </form>
</f:section>

</html>
