<h1><f:translate key="moduleTitle" /></h1>
<div>
    <p class="lead"><f:translate key="overview" /></p>
    <div class="table-fit">
        <table class="table table-striped table-hover" id="ts-overview">
        <thead>
            <tr>
                <th><f:translate key="pageName" /></th>
                <th><f:translate key="templates" /></th>
                <th><f:translate key="isRoot" /></th>
                <th><f:translate key="isExt" /></th>
            </tr>
        </thead>
        <tbody>
            <f:for each="{templateList}" as="line">
                <f:render section="PageZeroTableRow" arguments="{line: line}" />
            </f:for>
        </tbody>
        </table>
    </div>
</div>

<f:section name="PageZeroTableRow">
    <tr class="{line.class}">
        <td class="nowrap">
            <span style="width: 1px; height: 1px; display:inline-block; margin-left: {line.marginLeft}px"></span>
            <a href="{line.href}" title="{line.title}">
                <f:format.raw>{line.icon}</f:format.raw>
                {line.pageTitle}
            </a>
        </td>
        <td>{line.count}</td>
        <td><f:format.raw>{line.root_max_val}</f:format.raw></td>
        <td><f:format.raw>{line.root_min_val}</f:format.raw></td>
    </tr>
</f:section>
