<f:if condition="{existTemplate}">
    <div class="row row-cols-auto align-items-center g-3">
        <f:if condition="{manyTemplatesMenu}">
            <div class="col">
                <f:format.raw>
                    {manyTemplatesMenu}
                </f:format.raw>
            </div>
        </f:if>
        <div class="col mb-3">
            <core:iconForRecord table="sys_template" row="{templateRecord}"/>
            <strong>
                <f:format.raw>{linkWrapTemplateTitle}</f:format.raw>
            </strong>
        </div>
    </div>
</f:if>
<f:if condition="{typoScriptPath}">
    <f:then>
        <f:if condition="{existTemplate}">
            <f:then>
                <h3><f:translate key="LLL:EXT:tstemplate/Resources/Private/Language/locallang_objbrowser.xlf:editProperty"/></h3>
                <div class="row row-cols-auto align-items-end g-1">
                    <div class="col">
                        <label class="form-label">{typoScriptPath} =</label>
                    </div>
                    <div class="col">
                        <f:form.textfield class="form-control" name="data[{typoScriptPath}][value]" value="{theSetupValue}"/>
                    </div>
                    <div class="col">
                        <f:form.submit value="{f:translate(key:'LLL:EXT:tstemplate/Resources/Private/Language/locallang_objbrowser.xlf:updateButton')}" class="btn btn-default" name="update_value"/>
                    </div>
                </div>

                <h3><f:translate key="LLL:EXT:tstemplate/Resources/Private/Language/locallang_objbrowser.xlf:addProperty"/></h3>
                <div class="row row-cols-auto align-items-end g-1">
                    <div class="col">
                        <label class="visually-hidden">{typoScriptPath}.</label>
                        <div class="input-group">
                            <div class="input-group-addon">{typoScriptPath}.</div>
                            <f:form.textfield class="form-control" name="data[{typoScriptPath}][name]"/>
                        </div>
                    </div>
                    <div class="col">
                        <label>=</label>
                    </div>
                    <div class="col">
                        <f:form.textfield class="form-control" name="data[{typoScriptPath}][propertyValue]"/>
                    </div>
                    <div class="col">
                        <f:form.submit class="btn btn-default" name="add_property" value="{f:translate(key:'LLL:EXT:tstemplate/Resources/Private/Language/locallang_objbrowser.xlf:addButton')}"/>
                    </div>
                </div>

                <h3><f:translate key="LLL:EXT:tstemplate/Resources/Private/Language/locallang_objbrowser.xlf:clearObject"/></h3>

                <div class="row row-cols-auto align-items-end g-3">
                    <div class="col">
                        <div class="form-check">
                            <label class="form-check-label" for="clearValue-{typoScriptPath}">
                                {typoScriptPath}
                            </label>
                            <f:form.checkbox class="form-check-input" name="data[{typoScriptPath}][clearValue]" id="clearValue-{typoScriptPath}" value="1"/>
                        </div>
                    </div>
                    <div class="col">
                        <f:form.submit class="btn btn-default" name="clear_object" value="{f:translate(key:'LLL:EXT:tstemplate/Resources/Private/Language/locallang_objbrowser.xlf:clearButton')}"/>
                    </div>
                </div>
                <f:if condition="{moduleUrlObjectListAction}">
                    <div class="row mt-3">
                        <div class="col-auto">
                            <f:if condition="{isNotInTopLevelKeyList}">
                                <f:then>
                                    <f:if condition="{hasProperties}">
                                        <a href="{moduleUrlObjectListAction}" class="btn btn-default">
                                            <f:translate key="LLL:EXT:tstemplate/Resources/Private/Language/locallang_objbrowser.xlf:addKey" arguments="{0:'{typoScriptPath}'}"/>
                                        </a>
                                    </f:if>
                                </f:then>
                                <f:else>
                                    <a href="{moduleUrlObjectListAction}" class="btn btn-default">
                                        <f:translate key="LLL:EXT:tstemplate/Resources/Private/Language/locallang_objbrowser.xlf:removeKey"/>
                                    </a>
                                </f:else>
                            </f:if>
                        </div>
                    </div>
                </f:if>
            </f:then>
            <f:else>
                {typoScriptPath} = <strong>{theSetupValue}</strong>
            </f:else>
        </f:if>
        <div class="row mt-3">
            <div class="col-auto">
                <a href="{moduleUrl}" class="btn btn-default">
                    <core:icon identifier="actions-chevron-left" />&nbsp;<f:translate key="LLL:EXT:tstemplate/Resources/Private/Language/locallang_objbrowser.xlf:back"/>
                </a>
            </div>
        </div>
    </f:then>
    <f:else>
        <f:be.pageRenderer includeRequireJsModules="{0: 'TYPO3/CMS/Tstemplate/TypoScriptObjectBrowser'}"/>
        <div class="row row-cols-auto align-items-end">
            <f:if condition="{hasTsBrowserTypes}">
                <div class="col">
                    <label class="form-label">
                        <f:translate key="LLL:EXT:tstemplate/Resources/Private/Language/locallang_objbrowser.xlf:browse"/>
                    </label>
                    <f:format.raw>{browserTypeDropdownMenu}</f:format.raw>
                </div>
            </f:if>
            <f:if condition="{hasTopLevelInObjectList}">
                <div class="col">
                    <label class="form-label" for="ts_browser_toplevel_{tsBrowserType}">
                        <f:translate key="LLL:EXT:tstemplate/Resources/Private/Language/locallang_objbrowser.xlf:objectList"/>
                    </label>
                    <f:format.raw>{objectListDropdownMenu}</f:format.raw>
                </div>
            </f:if>
            <div class="col">
                <label class="form-label" for="search_field">
                    <f:translate key="LLL:EXT:tstemplate/Resources/Private/Language/locallang_objbrowser.xlf:search"/>
                </label>
                <input class="form-control" type="text" name="search_field" id="search_field" value="{postSearchField}"/>
            </div>
            <div class="col">
                <div class="form-check form-switch">
                    <f:format.raw>{regexSearchCheckbox}</f:format.raw>
                    <label class="form-check-label" for="checkTs_browser_regexsearch">
                        <f:translate key="LLL:EXT:tstemplate/Resources/Private/Language/locallang_objbrowser.xlf:regExp"/>
                    </label>
                </div>
            </div>
            <div class="col">
                <input class="btn btn-default" type="submit" name="search" value="{f:translate(key: 'LLL:EXT:core/Resources/Private/Language/locallang_common.xlf:search')}"/>
            </div>
        </div>
        <div class="row row-cols-auto mt-3">
            <div class="col">
                <div class="form-check form-switch">
                    <label class="form-check-label" for="checkTs_browser_showComments">
                        <f:translate key="LLL:EXT:tstemplate/Resources/Private/Language/locallang_objbrowser.xlf:displayComments" />
                    </label>
                    <f:format.raw>{checkBoxShowComments}</f:format.raw>
                </div>
                <div class="form-check form-switch">
                    <label class="form-check-label" for="checkTs_browser_alphaSort">
                        <f:translate key="LLL:EXT:tstemplate/Resources/Private/Language/locallang_objbrowser.xlf:sortAlphabetically" />
                    </label>
                    <f:format.raw>{checkBoxAlphaSort}</f:format.raw>
                </div>
            </div>
            <f:if condition="{isSetupAndCropLinesDisabled}">
                <div class="col">
                    <label class="form-label"><f:translate key="LLL:EXT:tstemplate/Resources/Private/Language/locallang_objbrowser.xlf:displayConstants" /></label>
                    <f:format.raw>{dropdownDisplayConstants}</f:format.raw>
                </div>
            </f:if>
        </div>
        <f:if condition="{hasConditions}">
            <div class="mt-3 panel panel-default panel-collapse">
                <div class="panel-heading" role="tab" id="heading-tsConditions">
                    <h2 class="panel-title">
                        <a role="button" data-bs-toggle="collapse" href="#collapse-tsConditions" aria-expanded="false" aria-controls="collapse-tsConditions" class="collapsed">
                            <span class="caret"></span>
                            <strong><f:translate key="LLL:EXT:tstemplate/Resources/Private/Language/locallang_objbrowser.xlf:conditions" /></strong>
                            <f:if condition="{activeConditions}">
                                <span class="badge badge-warning">
                                    <f:translate key="LLL:EXT:tstemplate/Resources/Private/Language/locallang_objbrowser.xlf:activeConditions" arguments="{0: '{activeConditions}'}"/>
                                </span>
                            </f:if>
                        </a>
                    </h2>
                </div>
                <div class="collapse" id="collapse-tsConditions" role="tabpanel" aria-labelledby="heading-tsConditions">
                    <div class="panel-body">
                        <div class="row mb-3">
                            <div class="col-auto">
                                <f:for each="{tsConditions}" as="condition">
                                    <div class="form-check form-switch">
                                        <label class="form-check-label" for="check{condition.key}">
                                            <f:format.raw>{condition.label}</f:format.raw>
                                        </label>
                                        <f:form.checkbox class="form-check-input" name="conditions[{condition.key}]" id="check{condition.key}" value="{condition.value}" checked="{condition.isSet}" />
                                    </div>
                                </f:for>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-auto">
                                <f:form.submit class="btn btn-default" value="{f:translate(key: 'LLL:EXT:tstemplate/Resources/Private/Language/locallang_objbrowser.xlf:setConditions')}" name="Submit"/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </f:if>
        <f:if condition="{hasParseErrors}">
            <f:be.infobox title="{f:translate(key: 'LLL:EXT:tstemplate/Resources/Private/Language/locallang_objbrowser.xlf:errorsWarnings')}" state="1">
                <f:for each="{parseErrors}" as="parseError">
                    <f:translate key="LLL:EXT:tstemplate/Resources/Private/Language/locallang_objbrowser.xlf:severity.{parseError.1}"/>
                    : {parseError.0}
                    <a href="{showErrorDetailsUri}{parseError.2 + parseError.3}"  class="text-warning">
                        <f:translate key="LLL:EXT:tstemplate/Resources/Private/Language/locallang_objbrowser.xlf:errorShowDetails"/>
                    </a>
                    <br/>
                </f:for>
            </f:be.infobox>
        </f:if>
        <div class="mt-3 panel panel-default">
            <div class="panel-heading">
                <f:if condition="{hasKeySelected}">
                    <f:then>
                        <strong>{treeLabel}</strong>
                    </f:then>
                    <f:else>
                        <f:format.case mode="upper">
                            <f:translate key="LLL:EXT:tstemplate/Resources/Private/Language/locallang_objbrowser.xlf:{rootLLKey}" />
                        </f:format.case>
                    </f:else>
                </f:if>
                <strong>{selectedKey}</strong>
                <f:if condition="{moduleUrlRemoveFromObjectList}">
                    <a href="{moduleUrlRemoveFromObjectList}" class="btn btn-default">
                        <f:translate key="LLL:EXT:tstemplate/Resources/Private/Language/locallang_objbrowser.xlf:removeKey" />
                    </a>
                </f:if>
            </div>
            <div class="panel-body tstemplate-tsobjectbrowser-content"><f:format.raw>{tsTree}</f:format.raw></div>
        </div>
    </f:else>
</f:if>
