@CHARSET "UTF-8";

#typo3-mod-php .docheader-row2-right a {
	display: inline;
}

#linkvalidator_firstSteps {
	margin-bottom: 10px;
}
	
.linkvalidator_funcmenu {
	margin-bottom: 25px;
}

.linkvalidator_funcmenu input {
	margin-left: 5px;
}

.linkvalidator_checkoptions {
	margin-bottom: 10px;
}

.linkvalidator_checkoptions .typo3-message {
	margin-top: 16px;
}

.linkvalidator_checkoptions_send {
	margin-top: 5px;
}

.linkvalidator_singleOption {
	padding: 0;
}

.linkvalidator_singleOption label {
	padding-left: 10px;
	vertical-align: middle;
}

.linkvalidator_singleOption input {
	vertical-align: middle;
}

.linkvalidator_singleOption .checkbox, .linkvalidator_singleOption .checkbox:hover {
	margin-top: 0px;
	margin-bottom: 0px;
}

.linkvalidator_singleOption-showalllinks {
	padding-bottom: 10px;
}

#linkvalidator_table {
	width: 230px;
	margin-bottom: 18px;
}

#linkvalidator_table .t3-row-header td.number {
	padding-top: 4px;
}

#linkvalidator_table td, #linkvalidator_table span {
	vertical-align: middle;
}

#linkvalidator_table td.number {
	padding-right: 6px;
	text-align: center;
}
