/* Scheduler BE-Styles */
/* $Id$ */

.tx_scheduler_mod1 a {
	text-decoration: underline;
}

.tx_scheduler_mod1 #typo3-inner-docbody {
	padding-right: 10px;
}

.tx_scheduler_mod1 a.icon,
.tx_scheduler_mod1 a.typo3-csh-link {
	text-decoration: none;
}

.tx_scheduler_mod1 td.right {
	text-align: right;
}
.tx_scheduler_mod1 tr.disabled td {
	color: #666;
}
.tx_scheduler_mod1 .late {
	color: #f00;
	font-weight: bold;
}
.tx_scheduler_mod1 label {
	width: 200px;
}
.tx_scheduler_mod1 table.typo3-usersettings td {
	padding-top: 2px;
	padding-bottom: 2px;
}
.tx_scheduler_mod1 table.typo3-usersettings td.td-input {
	width: 400px;
}
.tx_scheduler_mod1 select {
	margin-bottom: 1.2em;
	width: 200px;
}
.tx_scheduler_mod1 input.wide,
.tx_scheduler_mod1 select.wide {
	width: 350px;
}
.tx_scheduler_mod1 input.checkboxes {
	width: auto;
}

.tx_scheduler_mod1 input.button {
	padding: 1px 4px 1px 4px;
	line-height: 14px;
	margin: 5px 0px;
}

.tx_scheduler_mod1 .status-legend {
	padding-top: 10px;
	padding-bottom: 5px;
	font-weight: bold;
}

/* Definition for BE function "Setup check" */
.info-block {
	margin: 25px 0px 0px 0px;
}
.info-block p {
	margin: 8px 5px 8px 5px;
}
