/* Scheduler BE-Styles */

.tx_scheduler_mod1 a {
	text-decoration: underline;
}

.tx_scheduler_mod1 #typo3-inner-docbody {
	padding-right: 10px;
}

.tx_scheduler_mod1 a.icon,
.tx_scheduler_mod1 a.typo3-csh-link,
.tx_scheduler_mod1 #typo3-docheader a {
	text-decoration: none;
}

.tx_scheduler_mod1 td.right {
	text-align: right;
}
.tx_scheduler_mod1 tr.disabled td {
	color: #666;
}
.tx_scheduler_mod1 .late {
	color: #f00;
	font-weight: bold;
}
.tx_scheduler_mod1 label {
	width: 200px;
}
.tx_scheduler_mod1 table.typo3-usersettings td {
	padding-top: 2px;
	padding-bottom: 2px;
}
.tx_scheduler_mod1 table.typo3-usersettings td.td-input {
	width: 400px;
}
.tx_scheduler_mod1 select {
	margin-bottom: 1.2em;
	width: 200px;
}
.tx_scheduler_mod1 input.wide,
.tx_scheduler_mod1 select.wide {
	width: 350px;
}
.tx_scheduler_mod1 input.checkboxes {
	width: auto;
}

.tx_scheduler_mod1 input.button {
	padding: 1px 4px 1px 4px;
	line-height: 14px;
	margin: 5px 0px;
}

.tx_scheduler_mod1 .status-legend {
	padding-top: 10px;
	padding-bottom: 5px;
	font-weight: bold;
}

.tx_scheduler_mod1 .progress {
	overflow: hidden;
	height: 14px;
	background-color: #DADADA;
	border-radius: 2px;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1) inset;
	margin: 3px 0px;
}

.tx_scheduler_mod1 .progress .bar {
	width: 0%;
	height: 14px;

	background-color: #5b5b5b;
	background-image: -moz-linear-gradient(top,  #7f7f7f 10%, #5b5b5b 100%);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(10%,#7f7f7f), color-stop(100%,#5b5b5b));
	background-image: -webkit-linear-gradient(top,  #7f7f7f 10%,#5b5b5b 100%);
	background-image: -o-linear-gradient(top,  #7f7f7f 10%,#5b5b5b 100%);
	background-image: -ms-linear-gradient(top,  #7f7f7f 10%,#5b5b5b 100%);
	background-image: linear-gradient(top,  #7f7f7f 10%,#5b5b5b 100%);
	background-repeat: repeat-x;


	text-align: left;
	color: #fff;
	font-size: 8px;
	vertical-align: top;
	padding-left: 3px;
	padding-top: -1px;
}


/* Definition for BE function "Setup check" */
.info-block {
	margin: 25px 0px 0px 0px;
}
.info-block p {
	margin: 8px 5px 8px 5px;
}
