<html
    xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    data-namespace-typo3-fluid="true"
>

<f:asset.css identifier="theme_camino_backend_previews" href="EXT:theme_camino/Resources/Public/Css/previews.css"/>

<f:render section="Text" arguments="{text: record.bodytext}"/>

<f:if condition="{record.tx_themecamino_list_elements}">
    <ul class="camino_preview_ul">
        <f:for each="{record.tx_themecamino_list_elements}" as="item">
            <li><f:render section="Link" arguments="{linklabel: item.link_label, link: item.link}"/></li>
        </f:for>
    </ul>
</f:if>

<f:render section="Images" arguments="{images: record.image}"/>


<f:section name="Link">
    <f:if condition="{link}">
        <div class="camino_preview_link">
            <span class="camino_preview_label">{f:translate(key: 'link.label', domain: 'theme_camino.backend_previews')}: </span>{linklabel}
            <f:if condition="{f:uri.typolink(parameter: link, language: language)}">
                <f:then>
                    ({f:uri.typolink(parameter: link, language: language)})
                </f:then>
                <f:else>
                    <span class="camino_preview_warning camino_preview_warning--error">
                        <f:translate key="warnings.linkTargetError" domain="theme_camino.backend_previews"/>
                    </span>
                </f:else>
            </f:if>
            <f:if condition="{config}">
                [{f:translate(key: 'link.config', domain: 'theme_camino.backend_previews')}: {config}]
            </f:if>
        </div>
    </f:if>
</f:section>

<f:section name="Images">
    <f:if condition="{images}">
        <f:if condition="!{cropVariant}">
            <f:variable name="cropVariant" value="default"/>
        </f:if>
        <div class="camino_preview_images">
            <f:for each="{images}" as="image">
                <f:render section="Media-Image" arguments="{image: image, cropVariant: cropVariant}"/>
            </f:for>
        </div>
    </f:if>
</f:section>

<f:section name="Media-Image">
    <f:if condition="{image.uid}">
        <f:image
            src="{image.uid}" treatIdAsReference="1"
            height="64"
            class="camino_preview_image {f:if(condition: image.properties.hidden, then: 'camino_preview_image--hidden')}"
            cropVariant="{cropVariant}"
        />
    </f:if>
</f:section>

<f:section name="Text">
    <f:if condition="{text}">
        <div class="camino_preview_text">
            <f:variable name="rawText" value="{text -> f:format.stripTags(allowedTags: '<br><sup><sub>')}"/>
            <f:if condition="{crop}">
                <f:then>
                    {rawText -> f:format.crop(maxCharacters: crop) -> f:format.raw()}
                </f:then>
                <f:else>
                    {rawText -> f:format.raw()}
                </f:else>
            </f:if>
        </div>
    </f:if>
</f:section>

</html>
