<html
    xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    data-namespace-typo3-fluid="true"
>

<f:asset.css identifier="theme_camino_backend_previews" href="EXT:theme_camino/Resources/Public/Css/previews.css"/>

<f:render section="Text" arguments="{text: record.bodytext}"/>
<f:render section="Images" arguments="{images: record.image}"/>

<f:section name="Images">
    <f:if condition="{images}">
        <f:if condition="!{cropVariant}">
            <f:variable name="cropVariant" value="default"/>
        </f:if>
        <div class="camino_preview_images">
            <f:for each="{images}" as="image">
                <f:render section="Media-Image" arguments="{image: image, cropVariant: cropVariant}"/>
            </f:for>
        </div>
    </f:if>
</f:section>

<f:section name="Media-Image">
    <f:if condition="{image.uid}">
        <f:image
            src="{image.uid}" treatIdAsReference="1"
            height="64"
            class="camino_preview_image {f:if(condition: image.properties.hidden, then: 'camino_preview_image--hidden')}"
            cropVariant="{cropVariant}"
        />
    </f:if>
</f:section>

<f:section name="Text">
    <f:if condition="{text}">
        <div class="camino_preview_text">
            <f:variable name="rawText" value="{text -> f:format.stripTags(allowedTags: '<br><sup><sub>')}"/>
            <f:if condition="{crop}">
                <f:then>
                    {rawText -> f:format.crop(maxCharacters: crop) -> f:format.raw()}
                </f:then>
                <f:else>
                    {rawText -> f:format.raw()}
                </f:else>
            </f:if>
        </div>
    </f:if>
</f:section>

</html>
