<!-- ###PAGE### begin -->
<div id="t3-login-form-outer" ###CSS_ERRORCLASS###>
	<div id="t3-login-form">
		<div id="t3-login-image">
			###LOGO###
		</div>
		<div id="t3-login-form-inner" class="t3-login-box">
			<div class="shadow-box-top-428"></div>
			<div class="t3-headline">
				<h2>###HEADLINE###</h2>
			</div>
			<div class="t3-login-box-body">
				<noscript>
					<div id="t3-noscript-error" class="t3-login-alert t3-login-alert-error">
						<h2>###ERROR_JAVASCRIPT###</h2>
					</div>
				</noscript>
				<div id="t3-nocookies-error" class="t3-login-alert t3-login-alert-warning" style="display:none">
					<h2>###ERROR_COOKIES###</h2>
					<div id="t3-nocookies-ignore"><a href="#"  onclick="TYPO3BackendLogin.hideCookieWarning()">###ERROR_COOKIES_IGNORE###</a></div>
				</div>
				<div id="t3-login-process" style="display: none">
					<h2>###LOGIN_PROCESS###</h2>
				</div>
				###FORM###
				<div class="t3-login-bottomBorder"></div>
				<script type="text/javascript" src="sysext/t3skin/resources/login.js"></script>
			</div>
			<div class="shadow-box-bottom-424"></div>
		</div>
		###NEWS###
	</div>
</div>
<div id="t3-footer">
	<div id="t3-copyright-notice">
		###COPYRIGHT###
	</div>
	<div id="t3-meta-links">
		<a href="http://typo3.org" target="_blank" class="t3-login-link-typo3">TYPO3.org</a>
		&#124;
		<a href="http://typo3.org/donate/" target="_blank" class="t3-login-link-donate">###LABEL_DONATELINK###</a>
	</div>
</div>
<!-- ###PAGE### end -->

<!-- ###LOGIN_NEWS### begin -->
<div id="t3-login-news-outer" class="t3-login-box">
	<div class="t3-headline">
		<h2 class="t3-login-news-headline">###NEWS_HEADLINE###</h2>
	</div>
	<div class="t3-login-box-body">
		<dl id="t3-login-news">
			<!-- ###NEWS_ITEM### begin -->
			<div class="t3-login-news-item###CLASS###">
				<dt>
					<span class="t3-news-date">###DATE###: </span>
					<span class="t3-news-title">###HEADER###</span>
				</dt>
				<dd>
					###CONTENT###
				</dd>
			</div>
			<!-- ###NEWS_ITEM### end -->
		</dl>
	</div>
</div>
<div class="t3-login-box-border-bottom"></div>
<!-- ###LOGIN_NEWS### end -->

<!-- ###LOGIN_FORM### begin -->

<!-- ###LOGIN_ERROR### begin -->
<div id="t3-login-error" class="t3-login-alert t3-login-alert-error">
	<h2>###ERROR_LOGIN_TITLE###</h2>
	<p>###ERROR_LOGIN_DESCRIPTION###</p>
</div>
<!-- ###LOGIN_ERROR### end -->

<div id="t3-login-form-fields" class="###CSS_OPENIDCLASS###">
	<div class="t3-login-username t3-login-field">
		<label for="t3-username" class="t3-username" id="t3-login-label-username">
			###LABEL_USERNAME###
		</label>
		<label for="t3-username" class="t3-username" id="t3-login-label-openId" style="display: none">
			###LABEL_OPENID###
		</label>
		<input type="text" id="t3-username" name="username" value="###VALUE_USERNAME###" class="t3-username" tabindex="1" />
		<div class="t3-login-clearInputField">
			<a id="t3-username-clearIcon" style="display: none;">
				<img src="sysext/t3skin/icons/common-input-clear.png" alt="###CLEAR###" title="###CLEAR###" />
			</a>
		</div>
		<div id="t3-login-openIdLogo" style="display: none">
			<img src="sysext/t3skin/icons/logo-openid.png" alt="OpenID" title="OpenID" />
		</div>
		<div class="t3-login-alert-capslock" id="t3-username-alert-capslock" style="display: none">
			<img src="sysext/t3skin/icons/login_capslock.gif" alt="###ERROR_CAPSLOCK###" title="###ERROR_CAPSLOCK###" />
		</div>
	</div>
	<div class="t3-login-password t3-login-field" id="t3-login-password-section">
		<label for="t3-password" class="t3-password">
			###LABEL_PASSWORD###
		</label>
		<input type="password" id="t3-password" name="p_field" value="###VALUE_PASSWORD###" class="t3-password" tabindex="2" />
		<div class="t3-login-clearInputField">
			<a id="t3-password-clearIcon" style="display: none;">
				<img src="sysext/t3skin/icons/common-input-clear.png" alt="###CLEAR###" title="###CLEAR###" />
			</a>
		</div>
		<div class="t3-login-alert-capslock" id="t3-password-alert-capslock" style="display: none">
			<img src="sysext/t3skin/icons/login_capslock.gif" alt="###ERROR_CAPSLOCK###" title="###ERROR_CAPSLOCK###" />
		</div>
	</div>
	<!-- ###INTERFACE_SELECTOR### begin -->
	<div class="t3-login-interface t3-login-field" id="t3-login-interface-section">
		<label for="t3-interfaceselector" class="t3-interface-selector">
			###LABEL_INTERFACE###
		</label>
		###VALUE_INTERFACE###
	</div>
	<!-- ###INTERFACE_SELECTOR### end -->
	<input type="submit" name="commandLI" id="t3-login-submit" value="###VALUE_SUBMIT###" class="t3-login-submit" tabindex="4" />
	<div class="t3-login-form-footer">
		<div id="t3-login-form-footer-default">
			<a id="t3-login-switchToOpenId" class="switchToOpenId">###LABEL_SWITCHOPENID###</a>
		</div>
		<div id="t3-login-form-footer-openId" style="display: none">
			<a href="http://openid.net/" id="t3-login-whatIsOpenId" target="_blank" class="switchToOpenId">###LABEL_WHATISOPENID###</a>
			&#124;
			<a id="t3-login-switchToDefault" class="switchToOpenId">###LABEL_SWITCHDEFAULT###</a>
		</div>
	</div>
</div>
<!-- ###LOGIN_FORM### end -->

<!-- ###LOGOUT_FORM### begin -->
<div id="t3-login-form-fields">
	<div class="t3-login-logout-form">
		<div class="t3-login-username t3-login-field">
			<div class="t3-login-label t3-username">
				###LABEL_USERNAME###
			</div>
			<div class="t3-username-current">
				###VALUE_USERNAME###
			</div>
		</div>
		<!-- ###INTERFACE_SELECTOR### begin -->
		<div class="t3-login-interface t3-login-field">
			<div class="t3-login-label t3-interface-selector">
				###LABEL_INTERFACE###
			</div>
			###VALUE_INTERFACE###
			<!-- ###INTERFACE_SELECTOR### end -->
		</div>
		<input type="hidden" name="p_field" value="" /><input type="submit" name="commandLO" value="###VALUE_SUBMIT###" class="t3-login-submit" />
	</div>
</div>
<!-- ###LOGOUT_FORM### end -->
