<!-- ###PAGE### begin -->
<div id="t3-login-form-outer" ###CSS_ERRORCLASS###>
	<div id="t3-login-form">
		<div id="t3-login-image">
			###LOGO###
		</div>
		<div id="t3-login-form-inner" class="t3-login-box">
			<div class="t3-headline">
				<h2>###HEADLINE###</h2>
			</div>
			<div class="t3-login-box-body">
				<noscript>
					<div id="t3-noscript-error" class="t3-login-alert t3-login-alert-error">
						<p>
							###ERROR_JAVASCRIPT###
						</p>
					</div>
				</noscript>
				<div id="t3-nocookies-error" class="t3-login-alert t3-login-alert-warning" style="display:none">
					<p>
						###ERROR_COOKIES###
					</p>
				</div>
				###FORM###
				<div class="t3-login-bottomBorder"></div>
				<script type="text/javascript">
				/*<![CDATA[*/
					document.cookie = "testcookie";
					cookieEnabled = (document.cookie.indexOf("testcookie") != -1) ? true : false;
					if (cookieEnabled) {
						document.getElementById("t3-login-form-fields").style.display = 'block';
					}
					else {
						document.getElementById("t3-nocookies-error").style.display = 'block';
					}
				/*]]>*/
				</script>
				<script type="text/javascript" src="contrib/prototype/prototype.js"></script>
				<script type="text/javascript" src="sysext/t3skin/resources/login.js"></script>
			</div>
		</div>
		<div class="t3-login-box-border-bottom"></div>
		###NEWS###
	</div>
</div>
<div id="t3-footer">
	<div id="t3-copyright-notice">
		###COPYRIGHT###
	</div>
	<div id="t3-meta-links">
		<a href="http://typo3.org" target="_blank">TYPO3.org</a>
		&#124;
		<a href="http://typo3.org/donate/" target="_blank">###LABEL_DONATELINK###</a>
	</div>
</div>
<!-- ###PAGE### end -->

<!-- ###LOGIN_NEWS### begin -->
<div id="t3-login-news-outer" class="t3-login-box">
	<div class="t3-headline">
		<h2 class="t3-login-news-headline">###NEWS_HEADLINE###</h2>
	</div>
	<div class="t3-login-box-body">
		<dl id="t3-login-news">
			<!-- ###NEWS_ITEM### begin -->
			<div class="t3-login-news-item">
				<dt>
					<span class="t3-news-date">###DATE###: </span>
					<span class="t3-news-title">###HEADER###</span>
				</dt>
				<dd>
					###CONTENT###
				</dd>
			</div>
			<!-- ###NEWS_ITEM### end -->
		</dl>
	</div>
</div>
<div class="t3-login-box-border-bottom"></div>
<!-- ###LOGIN_NEWS### end -->

<!-- ###LOGIN_FORM### begin -->

<!-- ###LOGIN_ERROR### begin -->
<div id="t3-login-error" class="t3-login-alert t3-login-alert-error">
	<p>###ERROR_MESSAGE###</p>
</div>
<!-- ###LOGIN_ERROR### end -->

<div id="t3-capslock" class="t3-login-alert t3-login-alert-warning" style="display: none">
	<p>###ERROR_CAPSLOCK###</p>
</div>

<div id="t3-login-form-fields" class="###CSS_OPENIDCLASS###">
	<div class="t3-login-username t3-login-field">
		<label for="t3-username" class="t3-username" id="t3-login-label-username">
			###LABEL_USERNAME###
		</label>
		<label for="t3-username" class="t3-username" id="t3-login-label-openId" style="display: none">
			###LABEL_OPENID###
		</label>
		<input type="text" id="t3-username" name="username" value="###VALUE_USERNAME###" class="t3-username" tabindex="1" onkeypress="checkCapslock(event, false)" />
		<div class="t3-login-clearInputField">
			<a id="t3-username-clearIcon" style="display: none;">
				<img src="sysext/t3skin/icons/common-input-clear.png" alt="clear" title="clear" />
			</a>
		</div>
		<div id="t3-login-openIdLogo" style="display: none">
			<img src="sysext/t3skin/icons/logo-openid.png" alt="OpenID" title="OpenID" />
		</div>
	</div>
	<div class="t3-login-password t3-login-field" id="t3-login-password-section">
		<label for="t3-password" class="t3-password">
			###LABEL_PASSWORD###
		</label>
		<input type="password" id="t3-password" name="p_field" value="###VALUE_PASSWORD###" class="t3-password" tabindex="2" onkeypress="checkCapslock(event, true);" />
		<div class="t3-login-clearInputField">
			<a id="t3-password-clearIcon" style="display: none;">
				<img src="sysext/t3skin/icons/common-input-clear.png" alt="clear" title="clear" />
			</a>
		</div>
	</div>
	<!-- ###INTERFACE_SELECTOR### begin -->
	<div class="t3-login-interface t3-login-field" id="t3-login-interface-section">
		<label for="t3-interfaceselector" class="t3-interface-selector">
			###LABEL_INTERFACE###
		</label>
		###VALUE_INTERFACE###
	</div>
	<!-- ###INTERFACE_SELECTOR### end -->
	<input type="submit" name="commandLI" value="###VALUE_SUBMIT###" class="t3-login-submit" tabindex="4" /> 
	<div class="t3-login-form-footer">
		<div id="t3-login-form-footer-default">
			<a id="t3-login-switchToOpenId" class="switchToOpenId">###LABEL_SWITCHOPENID###</a>
		</div>
		<div id="t3-login-form-footer-openId" style="display: none">
			<a id="t3-login-whatIsOpenId" class="switchToOpenId">###LABEL_WHATISOPENID###</a>
			&#124;
			<a id="t3-login-switchToDefault" class="switchToOpenId">###LABEL_SWITCHDEFAULT###</a>
		</div>
	</div>
</div>
<!-- ###LOGIN_FORM### end -->

<!-- ###LOGOUT_FORM### begin -->
<div id="t3-login-form-fields">
	<div class="t3-login-logout-form">
		<div class="t3-login-username t3-login-field">
			<div class="t3-login-label t3-username">
				###LABEL_USERNAME###
			</div>
			<div class="t3-username-current">
				###VALUE_USERNAME###
			</div>
		</div>
		<!-- ###INTERFACE_SELECTOR### begin -->
		<div class="t3-login-interface t3-login-field">
			<div class="t3-login-label t3-interface-selector">
				###LABEL_INTERFACE###
			</div>
			###VALUE_INTERFACE###
			<!-- ###INTERFACE_SELECTOR### end -->
		</div>
		<input type="hidden" name="p_field" value="" /><input type="submit" name="commandLO" value="###VALUE_SUBMIT###" class="t3-login-submit" />
	</div>
</div>
<!-- ###LOGOUT_FORM### end -->
