{namespace lang=TYPO3\CMS\Lang\ViewHelpers}

<table border="0" cellpadding="0" cellspacing="0" class="gridTable translationList">
	<thead>
		<tr>
			<td class="icon notSortable"></td>
			<td class="extension">Extension</td>
			<f:for each="{languageSelectionForm.selectedLanguages}" as="selectedLanguage">
				<td class="language notSortable">{selectedLanguage.language}</td>
			</f:for>
		</tr>
	</thead>
	<tbody>
		<f:for each="{extensions}" as="extension">
			<tr
				class="translationListRow"
				data-updateurl="<f:uri.action action="updateTranslation" arguments="{extension:'{extension.key}', locales:'{languageSelectionForm.selectedLanguagesLocaleList}'}" />"
			>
				<td class="icon">
					<f:if condition="{extension.icon}"><f:image src="{extension.icon}" alt="{extension.key}" /></f:if>
				</td>
				<td class="extension">{extension.key}</td>
				<f:for each="{languageSelectionForm.selectedLanguages}" as="selectedLanguage">
					<td
						class="language languageStateNone translationListCell"
						data-extension="{extension.key}"
						data-locale="{selectedLanguage.locale}"
						data-updateurl="<f:uri.action action="updateTranslation" arguments="{extension:'{extension.key}', locales:'{selectedLanguage.locale}'}" />"
					>
						<span class="stateIconNone"><f:translate key="state.notChecked"/></span>
					</td>
				</f:for>
			</tr>
		</f:for>
	</tbody>
</table>