/* - - - - - - - - - - - - - - - - - - - - -

Title  : TYPO3 general backend styles

Description :	Stylesheet for the TYPO3 backend.
				You can configure another/additional stylesheet for
				use by the $TBE_STYLES global var

	$Id$

- - - - - - - - - - - - - - - - - - - - - */


/* - - - - - - - - - - - - - - - - - - - - -

main styles

- - - - - - - - - - - - - - - - - - - - - */

html {
	height: 100%;
}

select,
textarea,
input,
td,
body,
.defstyle,
p,
div {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	margin: 0px;
	color: black;
	line-height: 14px;
}

form {
	margin: 0px;
}

h1,
h2,
h3,
h4 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bold;
	margin: 6px 0;
}

/* Occasionally used, eg. in About Modules: */

h1 {
	font-size: 14px;
	text-align: center;
	margin-top: 16px;
	margin-bottom: 16px;
}

/* MAIN page header: */

h2 {
	background-color: #9BA1A8;
	text-align: center;
}

/* Normal section headers */

h3 {
	margin: 8px 0px 5px 0px;
	padding: 1px 3px 1px 3px;
	background-color: #E7DBA8;
}

/* Discrete section headers (no background) */

h4 {
	margin-top: 6px;
	color: #333;
}

/* Preformatted text - not used so much in TYPO3 */

pre {
	font-family: "Lucida Console", "Lucida Sans Typewriter", "Bitstream Vera Sans Mono", monospace;
	font-size: 11px;
	margin: 0px;
}

/* Links in general */

a {
	color: black;
	text-decoration: underline;
}

a:hover {
	color: #254D7B;
}

/* horizontal ruler */

hr, div.hr {
	height: 1px;
	color: #ddd;
	background-color: #ddd;
	border-top: 1px solid #7a7a7a;
	border-bottom: 1px solid black;
}

img {
	border: 0px;
}


/* - - - - - - - - - - - - - - - - - - - - -

Background color classes

- - - - - - - - - - - - - - - - - - - - - */

.bgColor {
	background-color: #F7F3EF;
}

.bgColor-10 {
	background-color: #ede9e5;
}

.bgColor-20 {
	background-color: #e3dfdb;
}

.bgColor2 {
	background-color: #9BA1A8;
}

.bgColor3 {
	background-color: #F6F2E6;
}

.bgColor3-20 {
	background-color: #e2ded2;
}

.bgColor4 {
	background-color: #D9D5C9;
}

.bgColor4-20 {
	background-color: #c5c1b5;
}

.bgColor5 {
	background-color: #ABBBB4;
}

.bgColor6 {
	background-color: #E7DBA8;
}


/* - - - - - - - - - - - - - - - - - - - - -

body tags

- - - - - - - - - - - - - - - - - - - - - */

/* Set default values for bodytags: */

body {
	margin: 2px 2px 0px 4px;
	background-color: #F7F3EF;
}

/* Setting alternative background color on some frames: */

body#typo3-alt-toplogo-php,
body#typo3-alt-menu-sel-php,
body#typo3-alt-topmenu-dummy-php,
body#typo3-alt-topmenu-dummy-php-iconmenu,
body#typo3-alt-clickmenu-php,
body#typo3-alt-clickmenu-php-notop,
body#typo3-alt-palette-php {
	background-color: #9BA1A8;
}

body#typo3-alt-doc-php,
body#typo3-alt-file-navframe-php,
body#typo3-db-list-php,
body#typo3-mod-web-perm-index-php,
body#typo3-mod-web-info-index-php,
body#typo3-mod-web-func-index-php,
body#typo3-mod-user-ws-index-php,
body#typo3-mod-user-ws-workspaceforms-php,
body#typo3-mod-php,
body#typo3-mod-tools-em-index-php,
body#typo3-wizard-rte-php,
body#typo3-pagetree,
body#typo3-db-new-php,
body#typo3-move-el-php,
body#typo3-show-rechis-php,
body#typo3-wizard-table-php,
body#typo3-wizard-forms-php,
body#ext-cms-layout-db-layout-php,
body#ext-tstemplate-ts-index-php,
body#ext-version-cm1-index-php,
body#ext-setup-mod-index-php,
body#ext-tsconfig-help-mod1-index-php,
body#ext-lowlevel-dbint-index-php,
body#ext-lowlevel-config-index-php,
body#ext-indexed-search-mod-index-php,
body#ext-cms-layout-db-new-content-el-php,
body#ext-beuser-mod-index-php,
body#ext-belog-mod-index-php,
body#ext-recycler-mod1-index-php, 
body#imp-exp-mod {
	padding: 0;
	margin: 0;
	overflow: hidden;
	height: 100%;
}

/* Set body styles for Filelist module */
body#typo3-file-newfolder-php,
body#typo3-file-list-php,
body#typo3-file-edit-php,
body#typo3-file-rename-php,
body#typo3-file-upload-php {
	margin: 0;
	padding: 0;
	overflow: hidden;
	height: 100%;
}

/* Set body styles for Filelist module */
BODY#typo3-file-newfolder-php, BODY#typo3-file-list-php, BODY#typo3-file-edit-php, BODY#typo3-file-rename-php, BODY#typo3-file-upload-php { margin: 0;}

/* - - - - - - - - - - - - - - - - - - - - -

specific wrappers

The "template" class is usually instantiated as either
bicDoc, mediumDoc, smallDoc or noDoc.
Each of these will result in the whole page content between the bodytags being
wrapped in a DIV-section with a class.
The class name will be "typo3-[classname]"
In particular we set the width of these wrapper-sections:

- - - - - - - - - - - - - - - - - - - - - */

div.typo3-bigDoc, div.typo3-noDoc {
	margin-left: 10px;
	margin-top: 5px;
	width: 740px;
}

div.typo3-noDoc H2 {
	width: 740px;
}

div.typo3-mediumDoc {
	width: 470px;
}

div.typo3-smallDoc {
	width: 350px;
}

div.typo3-fullDoc {
	width: 100%;
	height: 100%;
}


/* - - - - - - - - - - - - - - - - - - - - -

special backend elements

- - - - - - - - - - - - - - - - - - - - - */

/* Context Sensitive Menu / Top frame (alt_clickmenu.php): */

body#typo3-alt-clickmenu-php {
	background-image: url(gfx/alt_topmenu_back_full.gif);
	margin-top: 10px;
}

body#typo3-alt-clickmenu-php-notop {
	background-image: url(gfx/alt_topmenu_back_dummy.gif);
}

table#typo3-CSM-top a {
	text-decoration: none;
}

table#typo3-CSM-top img {
	vertical-align: middle;
	margin-bottom: 2px;
}

table#typo3-CSM-top tr td {
	white-space: nowrap;
}

table#typo3-CSM-top tr td.c-closebutton {
	padding-left: 10px;
}

table#typo3-CSM-top tr td.c-itemicon {
	padding-left: 10px;
	font-weight: bold;
}

table#typo3-CSM-top img.c-roimg {
	margin-right: 2px;
}


/* - - - - - - - - - - - - - - - - - - - - -

Context Sensitive Menu / Layer (alt_clickmenu.php creates it)

Notice: Rollover color is set by ->bgColor5 in the template object of alt_clickmenu.php

- - - - - - - - - - - - - - - - - - - - - */

table.typo3-CSM {
	border: #9BA1A8 1px solid;
}

table.typo3-CSM td.typo3-CSM-item {
	white-space: nowrap;
}

table.typo3-CSM tr.typo3-CSM-itemRow td {
	padding: 1px 5px 1px 5px;
}

table.typo3-CSM tr.typo3-CSM-itemRow {
	height: 13px;
	cursor: pointer;
}


/* - - - - - - - - - - - - - - - - - - - - -

Top menu (alt_topmenu_dummy.php)

- - - - - - - - - - - - - - - - - - - - - */

body#typo3-alt-topmenu-dummy-php {
	background-image: url(gfx/alt_topmenu_back_dummy.gif);
}

body#typo3-alt-topmenu-dummy-php-iconmenu {
	background-image: url(gfx/alt_topmenu_back_full.gif);
	margin-top: 8px;
	margin-left: 6px;
}

table#typo3-topMenu tr td {
	white-space: nowrap;
	vertical-align: top;
}

table#typo3-topMenu tr td.c-logout,
table#typo3-topMenu tr td.c-admin {
	padding-left: 20px;
}

table#typo3-topMenu tr td.c-menu img {
	margin: 2px 1px 0px 1px;
}

table#typo3-topMenu tr td.c-menu A.c-subitem {
	padding: 3px 0px 0px 0px;
}

table#typo3-topMenu tr td.c-menu A.c-subitem-HL {
	background-color: #D9D5C9;
	padding: 3px 3px 0px 3px;
	border: 1px solid black;
}

table#typo3-topMenu tr td.c-menu A.c-mainitem {
	padding: 3px 0px 0px 0px;
}

table#typo3-topMenu tr td.c-menu A.c-mainitem-HL {
	background-color: #D9D5C9;
	padding: 3px 3px 0px 3px;
	border: 1px solid black;
}


/* - - - - - - - - - - - - - - - - - - - - -

Tab menu (template.php)

- - - - - - - - - - - - - - - - - - - - - */

table#typo3-tabmenu {
	margin-top: 5px;
}

table#typo3-tabmenu tr {
	height: 1.5em;
}

table#typo3-tabmenu td.tabact {
	color: black;
	border: solid black 1px;
	background: #e7dba8;
}

table#typo3-tabmenu td.tab {
	color: #666;
	border: solid #555 1px;
	border-left: solid #aaa 3px;
	background: #c4d4cd;
}

table#typo3-tabmenu td.tab,
table#typo3-tabmenu td.tabact {
	border-bottom: 0px;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
}

table#typo3-tabmenu td a {
	color: #666;
	text-decoration: none;
	display: block;
	width: 100%;
	padding: 2px 5px 3px 2px;
}

table#typo3-tabmenu td.tabact a {
	color: black;
	padding-left: 10px;
	padding-right: 10px;
}

table#typo3-tabmenu td A:hover {
	color: black;
	text-decoration: none;
}

table#typo3-tabmenu td.tab:hover {
	background: #f6eab7;
}


/* - - - - - - - - - - - - - - - - - - - - -

Dynamic Tab menu (template.php)

- - - - - - - - - - - - - - - - - - - - - */

div.typo3-dyntabmenu-tabs {
	margin-top: 5px;
	padding-right: 20px;
}

div.typo3-dyntabmenu-divs p.c-descr {
	font-style: italic;
	padding: 3px 10px 5px 10px;
	background: #e7dba8;
}

table.typo3-dyntabmenu tr {
	height: 1.5em;
}

table.typo3-dyntabmenu td {
	padding-left: 5px;
	padding-right: 5px;
	border-radius: 3px;
	border: 1px solid #555;
	border-bottom: none;
}

table.typo3-dyntabmenu td,
table.typo3-dyntabmenu td a {
	-moz-border-radius-topleft: 3px;
	-moz-border-radius-topright: 3px;
	-webkit-border-top-left-radius: 3px;
	-webkit-border-top-right-radius: 3px;
}

table.typo3-dyntabmenu td.tab {
	background: #c4d4cd;
}

table.typo3-dyntabmenu td.tabact {
	background: #e7dba8;
}

table.typo3-dyntabmenu td.tabact,
table.typo3-dyntabmenu td.tabact_over {
	border-color: black;
}

table.typo3-dyntabmenu td.tab_over,
table.typo3-dyntabmenu td.tabact_over {
	background: #f6eab7;
}

table.typo3-dyntabmenu td.disabled,
table.typo3-dyntabmenu td.disabled_over {
	color: #999;
	background: #ccc;
	cursor: default;
}

table.typo3-dyntabmenu td a {
	color: #666;
	text-decoration: none;
	display: block;
	width: 100%;
	padding-top: 2px;
	padding-bottom: 2px;
}

table.typo3-dyntabmenu td.tabact a,
table.typo3-dyntabmenu td.tabact_over a {
	color: black;
}

table.typo3-tabmenu td:hover {
	background: #f6eab7;
}

div.typo3-dyntabmenu-divs-foldout div.c-tablayer {
	margin-left: 20px;
}

div.typo3-dyntabmenu-divs-foldout div.tab,
div.typo3-dyntabmenu-divs-foldout div.tab_over,
div.typo3-dyntabmenu-divs-foldout div.tabact,
div.typo3-dyntabmenu-divs-foldout div.tabact_over,
div.typo3-dyntabmenu-divs-foldout div.disabled,
div.typo3-dyntabmenu-divs-foldout div.disabled_over {
	border: solid black 1px;
	margin-top: 5px;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
}

div.typo3-dyntabmenu-divs-foldout div.tab {
	background: #c4d4cd;
	background-image: url(gfx/ol/plusbullet.gif);
	background-repeat: no-repeat;
}

div.typo3-dyntabmenu-divs-foldout div.tab_over {
	background: #f6eab7;
	background-image: url(gfx/ol/arrowbullet.gif);
	background-repeat: no-repeat;
}

div.typo3-dyntabmenu-divs-foldout div.tabact {
	background: #e7dba8;
	background-image: url(gfx/ol/minusbullet.gif);
	background-repeat: no-repeat;
}

div.typo3-dyntabmenu-divs-foldout div.tabact_over {
	background: #f6eab7;
	background-image: url(gfx/ol/arrowbullet.gif);
	background-repeat: no-repeat;
}

div.typo3-dyntabmenu-divs-foldout div.disabled {
	color: #999;
	background: #ccc;
	padding: 2px 2px 2px 18px;
}

div.typo3-dyntabmenu-divs-foldout div.disabled_over {
	color: #999;
	background: #f6eab7;
	padding: 2px 2px 2px 18px;
}

div.typo3-dyntabmenu-divs-foldout div.tab a,
div.typo3-dyntabmenu-divs-foldout div.tabact a,
div.typo3-dyntabmenu-divs-foldout div.tab_over a,
div.typo3-dyntabmenu-divs-foldout div.tabact_over a {
	text-decoration: none;
	display: block;
	padding: 2px 2px 2px 18px;
}


/* - - - - - - - - - - - - - - - - - - - - -

Flash Messages (template.php)

- - - - - - - - - - - - - - - - - - - - - */

#typo3-messages {
	margin-bottom: 10px;
}

.typo3-message {
	padding: 6px;
	padding-left: 26px;
	margin-bottom: 4px;
	background-repeat: no-repeat;
	background-position: 4px 4px;
	border: 1px solid;
}

.typo3-message a {
	text-decoration: underline;
}

.typo3-message ul,
.typo3-message ol {
	padding-left: 16px;
}

.typo3-message .message-header {
	display: block;
	margin-bottom: 5px;
	margin-top: -1px;
	font-size: 11px;
	font-weight: bold;
}

.message-notice {
	background-image: url(gfx/notice.png);
	background-color: #f6f7fa;
	border-color: #c2cbcf;
}

.message-information {
	background-image: url(gfx/information.png);
	background-color: #ddeef9;
	border-color: #8aafc4;
}

.message-ok {
	background-image: url(gfx/ok.png);
	background-color: #cdeaca;
	border-color: #58b548;
}

.message-warning {
	background-image: url(gfx/warning.png);
	background-color: #fbffb3;
	border-color: #c4b70d;
}

.message-error {
	background-image: url(gfx/error.png);
	background-color: #fbb19b;
	border-color: #dc4c42;
}


/* - - - - - - - - - - - - - - - - - - - - -

User settings

- - - - - - - - - - - - - - - - - - - - - */

table.typo3-usersettings td {
	width: 300px;
}
table.typo3-usersettings td.td-label label {
	float: left;
	margin-left: 3px;
	width: 275px;
}
table.typo3-usersettings a.typo3-csh-link {
	float: left;
}

table.typo3-usersettings img.csh-dummy {
	float: left;
	vertical-align:middle;
	margin-right: 4px;
}

table.typo3-usersettings td.td-label-right {
	padding-left: 30px;
	width: 50px;
}


/* - - - - - - - - - - - - - - - - - - - - -

Logo frame (alt_toplogo.php)

- - - - - - - - - - - - - - - - - - - - - */

body#typo3-alt-toplogo-php {
	margin: 0px 0px 0px 0px;
}


/* - - - - - - - - - - - - - - - - - - - - -

Help > About modules (alt_intro.php)

- - - - - - - - - - - - - - - - - - - - - */

div.typo3-alt-intro-php {
	width: 600px;
	margin-left: 10px;
}

table#typo3-about-modules {
	margin-top: 5px;
}

table#typo3-about-modules tr td {
	vertical-align: top;
	padding: 2px 2px 2px 2px;
}

table#typo3-about-modules tr.c-mainitem td img {
	vertical-align: middle;
	padding: 0px 2px 0px 2px;
}


/* - - - - - - - - - - - - - - - - - - - - -

Vertical Module Menu script, left frame (alt_menu.php)

- - - - - - - - - - - - - - - - - - - - - */

body#typo3-alt-menu-php {
	margin: 2px 0px 0px 2px;
}

body#typo3-alt-menu-php a {
	text-decoration: none;
}

table#typo3-vmenu tr.c-mainitem td {
	background-color: #d9d9d8;
	padding: 1px 1px 1px 1px;
	border: #9BA1A8 1px solid;
	vertical-align: middle;
	width: 100px;
	height: 14px;
	cursor: pointer;
}

table#typo3-vmenu tr.c-mainitem td span.c-label A {
	text-decoration: underline;
}

table#typo3-vmenu tr.c-mainitem td img {
	vertical-align: middle;
	margin-right: 2px;
}

table#typo3-vmenu tr.c-mainitem td span.c-label {
	position: relative;
	top: 1px;
}

table#typo3-vmenu tr.c-mainitem td span.c-iconCollapse {
	position: absolute;
	left: 100px;
}

table#typo3-vmenu tr.c-mainitem-HL td {
	background-color: #aaa;
	padding: 1px 1px 1px 1px;
	border: #9BA1A8 1px solid;
	vertical-align: middle;
}

table#typo3-vmenu tr.c-mainitem-HL td span.c-label a {
	text-decoration: underline;
}

table#typo3-vmenu tr.c-mainitem-HL td img {
	vertical-align: middle;
	margin-right: 2px;
}

table#typo3-vmenu tr.c-mainitem-HL td span.c-label {
	position: relative;
	top: 1px;
}

table#typo3-vmenu tr.c-endrow td {
	height: 5px;
}

table#typo3-vmenu tr.c-first td {
	height: 2px;
}

table#typo3-vmenu td.c-subitem-label a {
	display: block;
	width: 100%;
}

table#typo3-vmenu tr.c-subitem-row {

}

table#typo3-vmenu tr.c-subitem-row-HL {
	background-color: #e3dfdb;
}

table#typo3-adminmenu tr.c-mainitem td {
	background-color: #d9d9d8;
	padding: 1px 1px 1px 1px;
	border: #9BA1A8 1px solid;
	vertical-align: middle;
	height: 14px;
	text-align: center;
	white-space: nowrap;
	cursor: default;
}

table#typo3-adminmenu tr.c-subitem td.icon {
	vertical-align: middle;
	padding: 0 2px 0 0;
}

div#typo3-alt-menu-php-logininfo {
	text-align: center;
	width: 90px;
	margin-top: 15px;
	margin-bottom: 15px;
}

div#typo3-alt-menu-php-logininfo P {
	margin-top: 5px;
}

div#typo3-alt-menu-php-adminFunc {
	text-align: left;
	width: 80px;
	margin-top: 15px;
}

div#typo3-alt-menu-php-adminFunc table {
	border-spacing: 0;
	margin: 0 0 2px 0;
}

/* Configuration module */
body#ext-lowlevel-config-index-php #lowlevel-config {
	margin-bottom:10px;
}

body#ext-lowlevel-config-index-php #lowlevel-config  label {
	padding: 0 6px; vertical-align:text-top;
}

body#ext-lowlevel-config-index-php #lowlevel-config #search {
	margin-right:10px;
}

body#ext-lowlevel-config-index-php #lowlevel-config-var {
	margin: 10px 10px 10px 0;
	padding: 10px;
	border: 1px solid black;
	background-color: #eee;
	line-height: 1.8;
}


/* dbint module */
body#ext-lowlevel-dbint-index-php table.qg-make-query td input {
	margin: 0 2px;
	vertical-align: middle;
}

/* - - - - - - - - - - - - - - - - - - - - -

Trees

- - - - - - - - - - - - - - - - - - - - - */

table#typo3-tree a {
	text-decoration: none;
}

table#typo3-tree tr td {
	white-space: nowrap;
}

table#typo3-tree tr td img {
	vertical-align: middle;
}

table#typo3-tree tr td img.c-recIcon {
	margin-right: 1px;
}

table#typo3-tree {
	margin-bottom: 10px;
	width: 95%;
}

P.c-refresh img {
	vertical-align: middle;
	margin-right: 7px;
}

body#typo3-alt-db-navframe-php div.c-notice {
	border: 1px solid black;
	padding: 5px 5px 5px 5px;
	margin-top: 5px;
	margin-bottom: 10px;
	width: 95%;
}

.navFrameHL {
	background-color: #ebebeb;
}


/* - - - - - - - - - - - - - - - - - - - - -

AJAX Page Tree

- - - - - - - - - - - - - - - - - - - - - */

body#typo3-pagetree,
body#typo3-alt-file-navframe-php {
	margin: 0;
	padding: 0;
}

body#typo3-pagetree #typo3-inner-docbody,
body#typo3-alt-file-navframe-php #typo3-inner-docbody {
	padding-right: 0px;
}

ul.tree {
	list-style: none;
	margin: 0;
	padding: 0;
	clear: both;
}

ul.tree A {
	text-decoration: none;
}

ul.tree A.pm {
	cursor: pointer;
}

ul.tree img {
	vertical-align: middle;
}

ul.tree ul {
	list-style: none;
	margin: 0;
	padding: 0;
	padding-left: 17px;
}

ul.tree ul li {
	list-style: none;
	margin: 0;
	padding: 0;
	line-height: 10px;
	white-space: nowrap;
}

ul.tree ul li.expanded ul {
	background: transparent url('gfx/ol/line.gif') repeat-y top left;
}

ul.tree ul li.last > ul {
	background: none;
}

ul.tree li.active, ul.tree ul li.active {
	background-color: #ebebeb !important;
}

ul.tree li.active ul, ul.tree ul li.active ul {
	background-color: #f7f3ef;
}

#dragIcon {
	z-index: 1;
	position: absolute;
	visibility: hidden;
	filter: alpha(opacity=50);
	-moz-opacity: 0.5;
	opacity: 0.5;
	white-space: nowrap;
	z-index: 20;
}

#treeFilterBox {
	position: absolute;
	z-index: 3;
	top: 22px;
	width: 260px;
	height: 27px;
	background-repeat: no-repeat;
	background-position:  2px -2px;
	background-image: url('gfx/filter_bg.gif');
}

#searchBubble {
	padding-left: 10px;
}

#treeFilter {
	font-size: 11px;
	height: 16px;
	width: 165px;
	margin: 6px 0pt 0pt 19px !important;
	border: 0px;
	background: transparent;
}

#treeFilterReset {
	border: 0;
	position: absolute;
	top: 6px;
	left: 194px;
	cursor: pointer;
	visibility: hidden;
}

#typo3-pagetree #typo3-docheader img,
#typo3-alt-file-navframe-php #typo3-docheader img {
	margin: 2px 1px;
}

#treeRoot {
	margin-top: 6px;
}


/* - - - - - - - - - - - - - - - - - - - - -

TCEforms

- - - - - - - - - - - - - - - - - - - - - */
img.t3-TCEforms-reqImg {
	display:inline-block;
	margin-right:3px;
	margin-top:4px;
	margin-left:3px;
	width:16px;
	height:16px;

}
img.t3-TCEforms-reqTabImg {
	margin-left:4px;
	margin-bottom:-3px;
	width:16px;
	height:16px;

}
img.t3-TCEforms-contentchangedImg {
	display:inline-block;
	margin-bottom:2px;
	width: 7px;
}
img.t3-TCEforms-reqPaletteImg {
	display:inline-block;
	margin-right:2px;
	width:16px;
	height:16px;

}
img.t3-TCEforms-contentchangedPaletteImg {
	width: 7px;
}
table.typo3-TCEforms {
	width: 93%;
	border-collapse: collapse;
}

table.typo3-TCEforms span.typo3-TCEforms-recHeader {
	font-weight: bold;
	color: #333366;
}

table.typo3-TCEforms tr.typo3-TCEforms-recHeaderRow,
table.typo3-TCEforms tr.typo3-TCEforms-recHeaderRow td {
	border: 0;
}


table.typo3-TCEforms span.typo3-TCEforms-newToken {
	font-weight: bold;
	color: #990000;
}

table.typo3-TCEforms span.typo3-TCEforms-helpText {
	color: #666;
}

table.typo3-TCEforms OPTGROUP.c-divider,
select option.c-divider {
	font-style: italic;
	color: #666;
	background-color: #eee;
	text-transform: uppercase;
	margin-top: 10px;
	padding: 0px;
	border-top: 1px solid #666;
}

table.typo3-TCEforms OPTGROUP OPTION {
	font-style: normal;
	color: black;
	background-color: white;
	text-transform: none;
	border-bottom: none;
	padding: 2px;
	margin: 0px;
	text-indent: 0px;
}

table.typo3-TCEforms select.icon-select option {
	padding-left: 22px;
}

table.typo3-TCEforms table.typo3-TCEforms-select-checkbox tr.c-selectedItem {
	background-color: #c5c1b5;
}

table.typo3-TCEforms table.typo3-TCEforms-select-checkbox tr.c-invalidItem {
	background-color: #ff6600;
}

table.typo3-TCEforms table.typo3-TCEforms-select-checkbox tr td {
	border-bottom: 1px #999 dashed;
	padding: 1px 3px 1px 3px;
}

table.typo3-TCEforms table.typo3-TCEforms-select-checkbox tr td.c-labelCell {
	padding-right: 30px;
}

table.typo3-TCEforms table.typo3-TCEforms-select-checkbox tr td.c-labelCell P.c-descr {
	margin-left: 30px;
	font-style: italic;
}

table.typo3-TCEforms table.typo3-TCEforms-select-checkbox tr.c-header td {
	font-weight: bold;
	padding-top: 10px;
	border-bottom: none;
}

table.typo3-TCEforms table.typo3-TCEforms-select-checkbox {
	margin-top: 4px;
	margin-bottom: 10px;
}

table.typo3-TCEforms table.typo3-TCEforms-select-singlebox {
	margin-top: 4px;
	margin-bottom: 10px;
}

table.typo3-TCEforms div.typo3-TCEforms-originalLanguageValue {
	background-color: #bbccbb;
}

table.typo3-TCEforms div.typo3-TCEforms-diffBox {
	background-color: white;
	border: 1px solid black;
}

table.typo3-TCEforms div.typo3-TCEforms-diffBox-header {
	background-color: red;
	font-weight: bold;
}

table.typo3-TCEforms div.typo3-dyntabmenu-tabs {
	margin-top: 10px;
}

div.typo3-TCEforms-suggest-position-right {
	margin-left: 10px;
	margin-top: 5px;
}

div.typo3-TCEforms-suggest label {
	margin-right: 5px;
}

input.typo3-TCEforms-suggest-search {
	width: 200px;
	background-image: url(gfx/zoom.gif);
	background-position: 2px center;
	background-repeat: no-repeat;
	padding: 1px 1px 1px 16px;
	margin: 1px 10px 0 0;
}

div.typo3-TCEforms-suggest-indicator {
	position: relative;
	left: 230px;
	top: -18px;
}

div.typo3-TCEforms-suggest-choices {
	position: absolute;
	width: 250px;
	background-color: white;
	border: 1px solid #888;
}

div.typo3-TCEforms-suggest-choices ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

div.typo3-TCEforms-suggest-choices li.selected {
	background-color: #ffb !important;
}

div.typo3-TCEforms-suggest-choices li {
	list-style-type: none;
	display: block;
	margin: 0;
	padding: 4px 2px 4px 24px;
	cursor: pointer;
	background-color: #EFEFF4;
	background-repeat: no-repeat;
	background-position: 4px center;
}

div.typo3-TCEforms-suggest-choices li.suggest-noresults {
	height: auto;
}

div.typo3-TCEforms-suggest-choices li.pages {
	background-color:#FCC;
}

div.typo3-TCEforms-suggest-choices span.suggest-label {
	font-weight:bold;
}

div.typo3-TCEforms-suggest-choices span.suggest-uid {
	font-size:0.9em;
	margin-left:0.3em;
}

div.typo3-TCEforms-suggest-choices span.suggest-path {
	font-size:0.9em;
	margin-top:0.3em;
}

div.typo3-TCEforms-suggest-choices span.suggest-path abbr {
	border-bottom: none;
}

div.typo3-TCEforms-suggest-choises a {
	cursor: pointer;
}


/* - - - - - - - - - - - - - - - - - - - - -

TCEforms Inline-Relational-Record-Editing

- - - - - - - - - - - - - - - - - - - - - */

.typo3-TCEforms div.inlineDivMSIE {
	display: inline-block;
}

/* Element Browser / RTE link selection: */

table#typo3-curUrl {
	font-weight: bold;
	width: 100%;
	margin-bottom: 2px;
}

table#typo3-RTElinkMenu tr td {
	text-align: center;
	white-space: nowrap;
	width: 15%;
	font-weight: bold;
}

table#typo3-linkTarget {
	margin-bottom: 25px;
}

table#typo3-linkPages tr td.c-wCell,
table#typo3-linkFiles tr td.c-wCell,
table#typo3-EBrecords tr td.c-wCell,
table#typo3-EBfiles tr td.c-wCell {
	padding-right: 5px;
	white-space: nowrap;
}

body#typo3-browse-links-php img,
body#ext-rte-app-rte-select-image-php img {
	vertical-align: middle;
}

body#typo3-browse-links-php img.c-blinkArrowL {
	margin: 0px 3px 0px 3px;
}

table#typo3-linkMail,
table#typo3-linkURL,
table#typo3-linkTarget {
	margin-top: 5px;
}

body#typo3-browse-links-php H3.bgColor5 {
	margin-top: 2px;
}

body#typo3-browse-links-php A {
	text-decoration: none;
}

table#typo3-msgBox {
	margin-top: 10px;
	margin-bottom: 10px;
}

table#typo3-msgBox tr td {
	padding: 10px 50px 10px 50px;
}


/* - - - - - - - - - - - - - - - - - - - - -

RTE select image

- - - - - - - - - - - - - - - - - - - - - */

body#ext-rte-app-rte-select-image-php A {
	text-decoration: none;
}

body#ext-rte-app-rte-select-image-php table tr td table tr.bgColor4 td a {
	text-decoration: underline;
}


/* - - - - - - - - - - - - - - - - - - - - -

Palette display for TCEforms (top frame, alt_palette.php)

- - - - - - - - - - - - - - - - - - - - - */

body#typo3-alt-palette-php {
	background-image: url(gfx/alt_topmenu_back_full.gif);
	margin-top: 8px;
	margin-left: 6px;
}

table#typo3-TCEforms-palette td {
	white-space: nowrap;
	vertical-align: top;
}

table#typo3-TCEforms-palette tr td.c-label {
	padding-top: 3px;
}

table#typo3-TCEforms-palette tr td.c-close {
	padding-top: 3px;
}


/* - - - - - - - - - - - - - - - - - - - - -

Context Sensitive Help window (view_help.php)

- - - - - - - - - - - - - - - - - - - - - */

div.typo3-view-help {
	margin-top: 6px;
	margin-left: 3px;
	width: 95%;
}

div.typo3-view-help img.c-inlineimg {
	border: 1px solid black;
	margin-top: 5px;
	margin-bottom: 3px;
}

div.typo3-view-help H2 {
	font-size: 16px;
	text-align: left;
	margin: 20px 0px 10px 0px;
	padding: 3px 3px 3px 3px;
}

div.typo3-view-help H3 {
	background-color: #ABBBB4;
	margin-top: 0px;
}

div.typo3-view-help H4 {
	margin-top: 15px;
	border-bottom: 1px black solid;
}

div.typo3-view-help div.c-toc {
	border: 1px solid black;
	background-color: #D9D5C9;
}

div.typo3-view-help div.c-toc ul li {
	font-size: 11px;
	font-weight: bold;
	margin-top: 10px;
}

div.typo3-view-help div.c-toc ul li ul li {
	font-size: 12px;
	font-weight: normal;
	margin-top: 0px;
}

div.typo3-view-help P.c-nav {
	padding: 6px 0px 0px 0px;
}

div.typo3-view-help P.c-nav A {
	background-color: #E7DBA8;
	font-weight: bold;
	padding: 2px 2px 2px 2px;
}

div.typo3-view-help A.glossary-term {
	color: maroon;
	font-style: italic;
}


/* - - - - - - - - - - - - - - - - - - - - -

Shortcut frame (alt_shortcut.php)

- - - - - - - - - - - - - - - - - - - - - */

body#typo3-alt-shortcut-php {
	border-top: #9BA1A8 1px solid;
	margin: 0px 0px 0px 0px;
	padding: 2px 0px 0px 5px;
}


/* - - - - - - - - - - - - - - - - - - - - -

Document, listing recently edited records if no records were open
(alt_doc_nodoc.php) - this is effectively the Doc module

- - - - - - - - - - - - - - - - - - - - - */

table.typo3-recent-edited {
	width: 100%;
}

table.typo3-recent-edited img.c-recicon {
	margin-right: 5px;
	vertical-align: middle;
}

table.typo3-recent-edited td {
	white-space: nowrap;
}

body#typo3-alt-doc-nodoc-php p img {
	vertical-align: middle;
	margin-left: 5px;
}

body#typo3-alt-doc-nodoc-php {
	margin-left: 5px;
}


/* - - - - - - - - - - - - - - - - - - - - -

Record editing (alt_doc.php)

- - - - - - - - - - - - - - - - - - - - - */

div#typo3-docheader {
	top: 0;
	left: 0;
	z-index: 5;
	min-width: 260px;
}

#typo3-pagetree #typo3-docheader,
#typo3-alt-file-navframe-php #typo3-docheader {
	min-width: 0px;
}

div#typo3-docheader-row1 {
	height: 22px;
	background: #cbc7c3;
}

div#typo3-docheader-row2 {
	background: #e4e0db;
	padding-top: 6px;
	height: 21px;
	line-height: 27px;
	border-bottom: 1px solid #000;
}
div.docheader-row2-left {
	margin-top: -3px;
}
div.docheader-row2-left div.docheader-funcmenu {
	padding-right: 4px;
	float: left;
}
div.docheader-row2-left div.docheader-csh {
	padding-top: 3px;
	float: left;
}
div#typo3-docheader div.buttonsleft {
	margin: 0 0 0 3px;
	line-height: 16px;
	float: left;
}

div#typo3-docheader div.buttonsright {
	margin: 0 3px 0 0;
	line-height: 16px;
	float: right;
}

div#typo3-docheader img, div#typo3-docheader input {
	margin: 2px 3px 0;
	vertical-align: top;
	cursor: pointer;
}

div#typo3-docheader img.typo3-csh-icon {
	margin: 2px 2px 0 2px;
}

div#typo3-docheader-row2 img {
	margin-top: -1px !important;
}

div#typo3-docheader-row2 div {
	line-height: normal;
}

div#typo3-docheader select {
	margin: 1px 0 0;
}

div#typo3-docheader div.docheader-row2-left {
	margin-left: 6px;
	float: left;
}

div#typo3-docheader div.docheader-row2-right {
	margin-right: 6px;
	float: right;
}

div#typo3-docbody {
	width: 100%;
	overflow: auto;
	top: 51px;
	bottom: 0;
	position: absolute;
	z-index: 2;
}

div#typo3-inner-docbody {
	padding: 10px;
}

/* Fix for IE 6 */
* html div#typo3-inner-docbody {
	width:95%;
}

/* Fix for IE 7 */
* + html div#typo3-inner-docbody {
	width:95%;
}

* html div#typo3-docbody {
	height: 90%;
	top: 51px;
	padding-top: 0;
	padding-bottom: 0;
}

* html div#typo3-docbody table.typo3-TCEforms {
	margin-top: 20px;
}

div#typo3-docheader div.buttonsleft div.buttongroup {
	height: 20px;
	float: left;
	padding-right: 20px;
	border-right: 1px dashed #ccc;
	margin-right: 5px;
}

div#typo3-docheader div.buttonsright div.buttongroup {
	height: 20px;
	float: left;
	padding-left: 20px;
	border-left: 1px dashed #ccc;
	margin-left: 5px;
}


div#typo3-docheader div.no-border div.buttongroup {
	border: 0px;
}

/* - - - - - - - - - - - - - - - - - - - - -

Login Screen

	 * Warning:
	 * DO NOT prevent the copyright notice from being shown!
	 * According to the GPL license an interactive application must show such a notice on start-up ('If the program is interactive, make it output a short notice... ' - see GPL.txt)
	 * Therefore preventing this notice from being properly shown is a violation of the license, regardless of whether you remove it or use the stylesheet to obstruct the display.

	 Color set: #A69E8D / #858585

- - - - - - - - - - - - - - - - - - - - - */

body#typo3-index-php {
	background-color: white;
	margin: 0;
	padding: 0;
}

body#typo3-index-php table#wrapper {
	width: 100%;
	margin-top: 30px;
}

body#typo3-index-php table#loginwrapper {
	width: 100%;
	background-color: #CE0F27;
	text-align: left;
}

body#typo3-index-php div#copyrightnotice {
	width: 70%;
	text-align: left;
	margin-top: 10px;
}

body#typo3-index-php div#copyrightnotice img {
	margin-right: 5px;
	margin-bottom: 5px;
}

body#typo3-index-php div#loginimage {
	text-align: right;
	padding-right: 30px;
	margin-bottom: 5px;
	height: 43px;
}

table#logintable {
	position: absolute;
	left: 35%;
	top: 78px;
	margin: 5px 20px;
}

table#logintable tr td {
	padding: 1px;
}

table#logintable H2 {
	background-color: transparent;
	font-size: 14px;
	color: white;
	text-align: left;
}

table#logintable P,
table#logintable label {
	font-size: 12px;
	color: white;
	font-weight: bold;
}

table#logintable P.c-info {
	font-size: 10px;
	font-weight: normal;
}

table#logintable P.c-wrong {
	font-size: 10px;
	width: 300px;
	border: #858585 solid 1px;
	margin: 5px 0px;
	padding: 5px 15px;
}

table#logintable input.c-username,
table#logintable input.c-password,
table#logintable select.c-interfaceselector {
	width: 150px;
}

table#logintable input {
	border: #858585 solid 1px;
	background-color: white;
}

/* Fix height if an error message is displayed */

body#typo3-index-php table#loginwrapper td.error {
	padding: 25px 0 25px 0;
}

h2#loginNewsTitle {
	width: 70%;
	background-color: #F69220;
	color: #000;
	padding: 2px 0 0 4px;
}

dl#loginNews {
	width: 70%;
	text-align: left;
	margin-bottom: 20px;
}

dl#loginNews dt {
	font-weight: bold;
	font-size: 14px;
}

dl#loginNews dt span {
	font-weight: normal;
	font-size: 10px;
	padding-left: 16px;
	margin-bottom: 4px;
}

dl#loginNews dd {
	border-left: 2px solid #F69220;
	padding-left: 10px;
	font-size: 12px;
	margin-bottom: 12px;
}


/* - - - - - - - - - - - - - - - - - - - - -

Wizards

- - - - - - - - - - - - - - - - - - - - - */

body#typo3-wizard-tsconfig-php {
	margin-left: 5px;
}

table#typo3-tablewizard span.c-wizButtonsH input {
	margin-right: 2px;
	vertical-align: middle;
}

table#typo3-tablewizard span.c-wizButtonsV input {
	margin-right: 2px;
	vertical-align: middle;
}

table#typo3-formwizard span.c-wizButtonsV input {
	margin-bottom: 2px;
}

input.c-inputButton, img.c-inputButton {
	margin-right: 2px;
	vertical-align: middle;
}

div#c-saveButtonPanel, div#c-inputMode {
	margin-top: 10px;
}

table#typo3-formwizard tr#typo3-formWizardHeader td {
	font-weight: bold;
	text-align: center;
}

table#typo3-formwizard tr td {
	padding: 0px 2px 0px 2px;
}

body#typo3-wizard-rte-php,
body#typo3-wizard-rte-php table#typo3-rtewizard {
	height: 98%;
}

body#typo3-wizard-rte-php table#typo3-rtewizard tr td#c-formContent {
	height: 100%;
	vertical-align: top;
}

body#typo3-wizard-colorpicker-php p.c-head {
	font-weight: bold;
	margin-top: 4px;
}


/* - - - - - - - - - - - - - - - - - - - - -

History / Undo

- - - - - - - - - - - - - - - - - - - - - */

table#typo3-history tr td,
table#typo3-history-item tr td {
	vertical-align: top;
}

table#typo3-history tr.c-head td,
table#typo3-history-item tr.c-head td {
	font-weight: bold;
}

table#typo3-history img,
table#typo3-history-item img {
	margin: 1px 1px 1px 1px;
}


/* - - - - - - - - - - - - - - - - - - - - -

Move Element

- - - - - - - - - - - - - - - - - - - - - */

body#typo3-move-el-php img {
	vertical-align: middle;
}

body#typo3-move-el-php table#typo3-ttContentList img,
body#typo3-move-el-php img#c-recIcon {
	margin-right: 4px;
}


/* - - - - - - - - - - - - - - - - - - - - -

File scripts

- - - - - - - - - - - - - - - - - - - - - */

body#typo3-file-upload-php div#c-submit,
body#typo3-file-upload-php div#c-upload,
body#typo3-file-upload-php div#c-override,
body#typo3-file-upload-php div#c-select {
	margin-top: 10px;
}

body#typo3-file-rename-php div#c-submit,
body#typo3-file-rename-php div#c-rename {
	margin-top: 10px;
}

body#typo3-file-newfolder-php div#c-select,
body#typo3-file-newfolder-php div#c-createFolders,
body#typo3-file-newfolder-php div#c-submitFolders,
body#typo3-file-newfolder-php div#c-newFile,
body#typo3-file-newfolder-php div#c-submitFiles {
	margin-top: 10px;
}

body#typo3-file-edit-php div#c-submit,
body#typo3-file-edit-php div#c-edit {
	margin-top: 10px;
}


/* - - - - - - - - - - - - - - - - - - - - -

Docheader

- - - - - - - - - - - - - - - - - - - - - */

span.typo3-docheader-pagePath {
	font-weight: bold;
}

span.typo3-docheader-pagePath abbr {
	border-bottom: none;
}

/* - - - - - - - - - - - - - - - - - - - - -

Web > Page

- - - - - - - - - - - - - - - - - - - - - */

table.typo3-page-ceHeader {
	width: 100%;
}

table.typo3-page-ceHeader img {
	vertical-align: middle;
}

table.typo3-page-columnsMode img.c-divider {
	margin: 10px 0px 5px 0px;
}

table.typo3-page-columnsMode tr td a {
	text-decoration: none;
}

table.typo3-page-columnsMode tr td a b {
	text-decoration: underline;
}

table.typo3-page-cols tr td span.exampleContent a {
	text-decoration: none;
}

table#typo3-page-stdlist tr td.c-headLine {
	background-color: #ABBBB4;
}


/* - - - - - - - - - - - - - - - - - - - - -

Web > List

- - - - - - - - - - - - - - - - - - - - - */

table.typo3-dblist {
	width: 98%;
}

table.typo3-dblist img {
	vertical-align: middle;
}

table.typo3-dblist tr td {
	padding-left: 1px;
	padding-right: 6px;
}

table.typo3-dblist tr td.db_list_alt {
	background-color: #E3DFD3;
}

table.typo3-dblist tr td.c-headLineTable,
table.typo3-dblist tr.c-headLineTable td {
	background-color: #ccc;
	height: 16px;
}

table.typo3-dblist tr td.c-headLine,
table.typo3-dblist tr.c-headLine td {
	background-color: #eee;
}

table.typo3-dblist tr td.c-headLineTable a,
table.typo3-dblist tr.c-headLineTable td a {
	text-decoration: none;
	font-weight: bold;
}

table.typo3-dblist tr td div.typo3-DBctrl {
	background-color: #C5C1B5;
	min-width: 252px;
	height: 16px;
}

* html table.typo3-dblist tr td div.typo3-DBctrl {
	width: 252px;
}

table.typo3-dblist tr td div.typo3-clipCtrl {
	background-color: #ABBBB4;
	text-align: center;
	min-width: 72px;
	height: 16px;
}

* html table.typo3-dblist tr td div.typo3-clipCtrl {
	width: 72px;
}

table.typo3-dblist tr td .typo3-DBctrl .typo3-ctrl-versioning {
	display: block;
	width: 16px;
	height: 16px;
	margin: 0px 1px;
	text-align: center;
	line-height: 16px;
	float: left;
	font-weight: bold;
}
table.typo3-dblist tr td .typo3-DBctrl .typo3-ctrl-versioning-multipleVersions {
	background-color: #FFFF00;
}
table.typo3-dblist tr td .typo3-DBctrl .typo3-ctrl-versioning-oneVersion {
	background-color: #9999cc;
}
table.typo3-dblist tr td .typo3-DBctrl .typo3-ctrl-versioning-hidden {
	visibility: hidden;
}

table.typo3-dblist tr td div.typo3-clipCtrl img,
table.typo3-dblist tr td div.typo3-DBctrl img {
	margin-left: 1px;
	margin-right: 1px;
	float: left;
}

table.typo3-dblist tr:hover,
table.typo3-dblist tr:hover td {
	background-color: #ebebeb;
}

table.typo3-dblist tr td.col-icon {
	width: 20px;
	padding-right: 0px;
	padding-left: 4px;
	vertical-align: top;
}

table.typo3-dblist tr.c-headLineTable td.col-icon {
	padding-left: 3px;
}

table.typo3-dblist tr td.col-icon a {
	width: 20px;
	display: block;
	margin-top: 3px;
}

table.typo3-dblist tr td.col-icon a img.collapseIcon {
	margin-left: 2px;
}

table.typo3-dblist tr td.col-title {
	width: 240px;
	overflow: hidden;
	vertical-align: middle;
}

table.typo3-dblist tr td.col-title.localization {
	padding-left: 18px;
}

table.typo3-dblist tr.c-headLine td.col-title a {
	width: 240px;
	display: block;
	font-weight: bold;
}

table.typo3-dblist tr td.col-control {
	width: 250px;
	text-align: left;
}

table.typo3-dblist tr td.col-control-space {
	width: 4px;
}

table.typo3-dblist tr.c-headLine td.col-control a{
	width: 250px;
	display: block;
}

table.typo3-dblist tr td.col-clipboard {
	width: 74px;
	text-align: left;
}

table#typo3-dblist-fieldSelect {
	margin-top: 20px;
}

table.typo3-dblist-overview {
	width: 410px;
	margin-top: 10px;
	margin-left: 1px;
}

table.typo3-dblist-overview td.c-tableDescription {
	padding-left: 10px;
	font-style: italic;
	color: #333;
}

table.typo3-dblist-overview td.c-tableDescription img {
	margin-right: 10px;
}

table#typo3-versionSelector {
	background-color: #ABBBB4;
	margin-top: 5px;
	margin-bottom: 5px;
}

table#typo3-versionSelector td {
	padding-left: 2px;
	padding-right: 2px;
}

div#typo3-newRecordLink,
div.typo3-newRecordLink,
div.typo3-localizationLink,
div.typo3-synchronizationLink {
	margin: 5px 0px 5px 0px;
	font-weight: bold;
}

div#typo3-newRecordLink img,
div.typo3-newRecordLink img,
div.typo3-localizationLink img,
div.typo3-synchronizationLink img {
	margin-right: 5px;
	vertical-align: middle;
}

input.smallCheckboxes {
	vertical-align: middle;
	margin: 0px;
	padding: 0px;
	width: 12px;
	height: 12px;
}

div#typo3-listOptions {
	margin: 10px 0px 10px 0px;
	width: 93%;
}

div#typo3-dblist-pagination {
	padding: 5px 0;
	white-space: nowrap;
}
div#typo3-dblist-pagination img, div#typo3-dblist-pagination span.pageIndicator {
	margin-right: 6px;
}
div#typo3-dblist-pagination img {
	vertical-align: bottom;
	padding-bottom: 2px;
}
div#typo3-dblist-pagination span.bar {
	border-left: 1px solid #5485c3;
	padding: 0 2px;
}



/* - - - - - - - - - - - - - - - - - - - - -

Web > Template

- - - - - - - - - - - - - - - - - - - - - */

.typo3-tstemplate-ceditor-control {
	margin-right: 3px;
	vertical-align: bottom;
	cursor: pointer;
}

div.typo3-tstemplate-ceditor-row {
	margin-top: 2px;
	padding: 3px;
}

div.typo3-tstemplate-ceditor-colorblock {
	display: -moz-inline-box;
	display: inline-block;
	margin-left: 5px;
	width: 50px;
}

* html div.typo3-tstemplate-ceditor-colorblock {
	display: inline;
}

/* IE 6 Fix */

* + html div.typo3-tstemplate-ceditor-colorblock {
	display: inline;
}

/* IE 7 Fix */

dl.typo3-tstemplate-ceditor-constant {
	margin: 0px 0px 20px 10px
}

dl.typo3-tstemplate-ceditor-constant dd {
	margin-left: 0px;
}

dl.typo3-tstemplate-ceditor-constant dt {
	display: inline;
	margin-right: 5px;
}

dt.typo3-tstemplate-ceditor-label {
	font-size: 11px;
	font-weight: bold;
}


/* - - - - - - - - - - - - - - - - - - - - -

File > List

- - - - - - - - - - - - - - - - - - - - - */

table#typo3-filelist {
	margin-top: 10px;
	width: 98%;
}

table#typo3-filelist img {
	vertical-align: middle;
}

table#typo3-filelist tr td {
	padding: 3px;
}

table#typo3-filelist tr.c-headLine td {
	background-color: #ccc;
	font-weight: bold;
	height: 16px;
}

table#typo3-filelist tr td div.typo3-clipCtrl {
	background-color: #abbbb4;
	text-align: center;
	float: left;
}

table#typo3-filelist tr td div.typo3-editCtrl {
	background-color: #abbbb4;
	text-align: center;
	float: left;
	padding-right: 10px;
}


/* - - - - - - - - - - - - - - - - - - - - -

Clipboard

- - - - - - - - - - - - - - - - - - - - - */

table#typo3-clipboard,
div#typo3-newRecordLink,
table#typo3-dblist-search {
	margin-top: 10px;
}

table#typo3-clipboard tr.bgColor5 td A {
	text-decoration: none;
}

table#typo3-clipboard tr.bgColor5 td img {
	vertical-align: middle;
}

tr.typo3-clipboard-head {
	background-color: #ccc;
}


/* - - - - - - - - - - - - - - - - - - - - -

Web > Info

- - - - - - - - - - - - - - - - - - - - - */

table.typo3-page-pages tr td.c-headLine {
	background-color: #ABBBB4;
}

body#typo3-mod-web-info-index-php img {
	vertical-align: middle;
}

table.typo3-page-sysnote tr td {
	background-color: #d9d5c9;
}

table.typo3-page-sysnote tr td.c-headLine {
	background-color: #c5c1b5;
}


/* - - - - - - - - - - - - - - - - - - - - -

Web > Access

- - - - - - - - - - - - - - - - - - - - - */

table#typo3-permissionList img {
	vertical-align: middle;
}

table#typo3-permissionMatrix td {
	text-align: center;
	width: 16%;
}

table#typo3-permissionMatrix td.bgColor2 {
	font-weight: bold;
	padding-left: 10px;
	padding-right: 10px;
}


/* - - - - - - - - - - - - - - - - - - - - -

Help > About

- - - - - - - - - - - - - - - - - - - - - */

#typo3-mod-help-about-index-php-outer {
	margin: 0px auto;
	width: 350px;
	text-align: center;
}

#typo3-mod-help-about-index-php-outer .typo3-mod-help-about-index-php-inner {
	margin: 10px auto;
	border: 1px solid black;
	background: #eaeaea;
	padding: 5px;
	text-align: left;
}

#typo3-mod-help-about-index-php-outer .typo3-mod-help-about-index-php-inner h2 {
	margin-top: 0;
}

#typo3-mod-help-about-index-php-outer .typo3-mod-help-about-index-php-inner h3 {
	margin-top: 10px;
	margin-bottom: 10px;
	background-color: transparent;
	font-size: 14px;
	text-align: center;
}

#typo3-mod-help-about-index-php-outer .typo3-mod-help-about-index-php-inner a {
	color: black;
	text-decoration: underline;
}

#typo3-mod-help-about-index-php-outer .typo3-mod-help-about-index-php-inner a:hover {
	text-decoration: none;
}


/* - - - - - - - - - - - - - - - - - - - - -

New Element

- - - - - - - - - - - - - - - - - - - - - */

body#typo3-db-new-php img {
	vertical-align: middle;
}

body#typo3-db-new-php a img {
	margin-right: 5px;
}

body#typo3-db-new-php a {
	text-decoration: none;
}

body#typo3-db-new-php img.c-helpImg {
	margin-left: 20px;
	text-align: right;
}

body#typo3-db-new-php div#typo3-newPageLink {
	margin-top: 20px;
}

body#typo3-db-new-php  table#typo3-newRecord tr td {
	padding-right: 20px;
}


/* - - - - - - - - - - - - - - - - - - - - -

Tools > Extension Manager

- - - - - - - - - - - - - - - - - - - - - */

body#typo3-mod-tools-em-index-php .em-listbg1 {
	background-color: #d9d5c9;
}

body#typo3-mod-tools-em-index-php .em-listbg2 {
	background-color: #e9e5e9;
}

body#typo3-mod-tools-em-index-php .em-listbg3 {
	background-color: #efefef;
}

body#typo3-mod-tools-em-index-php tr.bgColor5 td {
	font-weight: bold;
}

body#typo3-mod-tools-em-index-php tr.unsupported-ext {
	background-color: #ffdddd;
}

body#typo3-mod-tools-em-index-php tr.unsupported-ext td {
	color: #ff0000;
}

body#typo3-mod-tools-em-index-php tr.unsupported-ext td a {
	color: #ff0000;
}

body#typo3-mod-tools-em-index-php tr td.extstate {
	color: #fff;
	font-weight: bold;
	text-align: center;
}

body#typo3-mod-tools-em-index-php a {
	display: inline-block;
}

/* - - - - - - - - - - - - - - - - - - - - -

User > Task Center

- - - - - - - - - - - - - - - - - - - - - */

#ext-taskcenter-task-index-php {
	height: 95%;
}


/* - - - - - - - - - - - - - - - - - - - - -

Admin Tools > User Admin

- - - - - - - - - - - - - - - - - - - - - */

#ext-beuser-mod-index-php a {
	display: inline-block;
}


/* - - - - - - - - - - - - - - - - - - - - -

Workspace

- - - - - - - - - - - - - - - - - - - - - */

div.workspace-info {
	padding: 3px;
	margin: -10px 0px 5px -10px;
	border-bottom: 1px solid #999;
	background-color: #ccccff;
}

.ver-element, ul.tree ul li.ver-element {
	background-color: #ccddcc;
}

.ver-page, ul.tree ul li.ver-page {
	background-color: #ccccff;
}

.ver-branch, ul.tree ul li.ver-branch {
	background-color: #ffcccc;
}

.ver-branchpoint, ul.tree ul li.ver-branchpoint {
	background-color: #ff9999;
}

.ver-versions, ul.tree ul li.ver-versions {
	background-color: #ffffaa;
}

ul.tree ul li.ver-element ul {
	background-color: #f7f3ef;
}

ul.tree ul li.ver-page ul {
	background-color: #f7f3ef;
}

ul.tree ul li.ver-branch ul {
	background-color: #f7f3ef;
}

ul.tree ul li.ver-branchpoint ul {
	background-color: #f7f3ef;
}

ul.tree ul li.ver-versions ul {
	background-color: #f7f3ef;
}

table.workspace-overview td {
	vertical-align: top;
}

table.ver-subtree A {
	text-decoration: none;
}

table.ver-subtree tr td.iconTitle {
	white-space: nowrap;
}

table.ver-subtree tr td.diffCell {
	white-space: normal;
}

table.ver-subtree table.diffTable {
	background-color: white;
	border: 1px solid black;
}

table.ver-subtree div.diffLayer,
div.logLayer {
	background-color: white;
	width: 400px;
	border: 1px solid black;
}

table.ver-subtree tr td img {
	vertical-align: middle;
}

table.ver-subtree,
table.ver-verElement td.c-diffCell {
	border: 1px solid #666;
}

table.ver-verElement {
	width: 100%;
}

table.ver-subtree tr.typo3-ver td.iconTitle,
table.ver-subtree tr.typo3-ver td.diffCell,
table.ver-subtree tr.typo3-ver td.cmdCell {
	background-color: #c5c1b5;
}

table.ver-subtree tr.typo3-ver-hl td.iconTitle,
table.ver-subtree tr.typo3-ver-hl td.diffCell,
table.ver-subtree tr.typo3-ver-hl td.cmdCell {
	background-color: #999;
}

table.ver-subtree tr.typo3-ver-new td {
	color: #666;
	background-color: #eee;
}

table.ver-subtree tr.typo3-ver-noComp td {
	font-style: italic;
}

.ver-wl-table {
	border: 1px solid black;
}

.ver-wl-details-table {
	border: 1px solid #D9D5C9;
}

.ver-wl-details {
	background-color: #E6E2D5;
	vertical-align: top;
}

.ver-wl-details-label {
	background-color: #E6E2D5;
	width: 150px;
	white-space: nowrap;
	vertical-align: top;
}

.ver-wl-details-user-list-label {
	width: 100px;
}

#ver-wl-new-workspace-icon {
	margin-right: 5px;
	border: none;
	float: left;
}

.ver-wl-mp-inacessible {
	font-style: italic;
	color: #7C7C7C;
}

.ver-wl-current-user {
	font-weight: bold;
}


/* - - - - - - - - - - - - - - - - - - - - -

Context Menus

- - - - - - - - - - - - - - - - - - - - - */

div#contentMenu0 {
	z-index: 10;
	position: absolute;
}

div#contentMenu1 {
	z-index: 20;
	position: absolute;
}


/* - - - - - - - - - - - - - - - - - - - - -

Dimmed span tag color (disabled)

- - - - - - - - - - - - - - - - - - - - - */

.typo3-dimmed {
	color: #666;
}

.c-na {
	color: #666;
	font-style: italic;
}

.not-found a {
	color: #cccccc;
}


/* - - - - - - - - - - - - - - - - - - - - -

Red span tag color (warning, notice)

- - - - - - - - - - - - - - - - - - - - - */

.typo3-red {
	color: red;
}

.typo3-red-background {
	background-color: red;
}

table.warningbox {
	border: solid 2px black;
	background-color: yellow;
	margin: 20px 0px 20px 0px;
}

table.warningbox td {
	padding: 20px 20px 20px 20px;
	font-weight: bold;
}

table.warningbox td a {
	text-decoration: underline;
}

div.warningbox {
	border: solid 2px black;
	background-color: yellow;
	padding: 10px;
	font-weight: bold;
	margin: 10px 0px 10px 0px;
}

span.warningboxheader {
	margin-left: 5px;
}

/* - - - - - - - - - - - - - - - - - - - - -

Various classes

- - - - - - - - - - - - - - - - - - - - - */

.nobr {
	white-space: nowrap;
}

.diff-r {
	color: red;
}

.diff-g {
	color: green;
}

div.diff-r {
	background-color: red;
	color: black;
	padding: 3px 3px 3px 3px;
}

div.diff-g {
	background-color: green;
	color: black;
	padding: 3px 3px 3px 3px;
}

img.absmiddle {
	vertical-align: middle;
}

textarea.fixed-font {
	font-family: "Lucida Console", "Lucida Sans Typewriter", "Bitstream Vera Sans Mono", monospace;
	font-size: 11px;
}

.smallCheckboxes {
	width: 12px;
	height: 12px;
	margin: 0px;
}

.uppercase {
	text-transform: uppercase;
}

.tableheader td {
	font-weight: bold;
	padding-left: 2px;
	padding-right: 2px;
}

.lrPadding td {
	padding-left: 2px;
	padding-right: 2px;
}


/* - - - - - - - - - - - - - - - - - - - - -

Permissions, green and red

- - - - - - - - - - - - - - - - - - - - - */

a.perm-allowed,
a.perm-denied,
#perm-legend .perm-allowed,
#perm-legend .perm-denied {
	font-size: 0px;
	font-weight: bold;
	cursor: pointer;

	display: block;
	float: left;
	height: 10px;
	width: 10px;
	padding: 2px;
}

#perm-legend .perm-allowed,
#perm-legend .perm-denied {
	clear: left;
	cursor: auto;
}

a.perm-allowed:hover,
a.perm-denied:hover {
	background-color: #e3dfdb;
}

a.perm-allowed,
#perm-legend .perm-allowed {
	color: green;
	background:transparent url('gfx/perm-allowed.gif') no-repeat scroll center;
}

a.perm-denied,
#perm-legend .perm-denied {
	color: red;
	background:transparent url('gfx/perm-denied.gif') no-repeat scroll center;
}

#perm-legend {
	margin-top: 10px;
}

.ug_selector,
.ug_selector a {
	text-decoration: underline;
	cursor: pointer;
}

.not_set,
.not_set a,
.editlock,
.editlock a {
	text-decoration: none;
	cursor: pointer;
	color: #ccc;
}

.not_set:hover,
.not_set a:hover,
.editlock:hover,
.editlock a:hover {
	text-decoration: none;
	cursor: pointer;
	color: #000;
}

.not_set {
	color: #000;
	font-style: italic;
}


/* - - - - - - - - - - - - - - - - - - - - -

Go back A-tags

- - - - - - - - - - - - - - - - - - - - - */

a.typo3-goBack {
	font-weight: bold;
	background-color: #D9D5C9;
	padding: 1px 1px 1px 1px;
}

a.typo3-goBack img {
	margin-right: 5px;
	vertical-align: middle;
}

span.typo3-moduleHeader img {
	vertical-align: middle;
	margin-right: 4px;
}


/* - - - - - - - - - - - - - - - - - - - - -

Context Sensitive Help (CSH)

- - - - - - - - - - - - - - - - - - - - - */

table.typo3-csh-inline {
	border: solid 1px #6f3833;
	background-color: #ffffff;
	margin: 5px 4px 20px 0px;
	padding: 1px 2px 2px 1px;
}

table.typo3-csh-inline tr td h4 {
	margin-top: 0px;
	margin-bottom: 0px;
}

img.typo3-csh-icon {
	vertical-align: middle;
	cursor: help;
}

a.typo3-csh-link {
	white-space: normal;
}

a.typo3-csh-link span.typo3-csh-inline {
	display: none;
	position: absolute;
	padding: 1px 2px 2px 2px;
	background: #ffffff;
	border: 1px solid #050505;
	width: 200px;
	z-index: 100;
	color: #000000;
	font-weight: normal;
}

a.typo3-csh-link:hover span.typo3-csh-inline {
	display: block;
}

span.typo3-csh-inline span.header,
table.typo3-csh-inline span.header {
	font-weight: bold;
	float: left;
	width: 100%;
	background-color: #F6F2E6;
}

span.typo3-csh-inline {
	line-height: 16px;
}

a.typo3-csh-link span.typo3-csh-inline.show-right {
	margin: 0px 0px 0px -148px;
}

table.typo3-csh-inline a.typo3-csh-link {
	float: none;
	margin-right: 0;
}
/* - - - - - - - - - - - - - - - - - - - - -

TypoScript Highlighting

- - - - - - - - - - - - - - - - - - - - - */

pre.ts-hl {
	font-size: 11px;
	font-family: "Lucida Console", "Lucida Sans Typewriter", "Bitsream Vera Sans Mono", monospace;
}

pre.ts-hl .ts-prespace {

}

pre.ts-hl .ts-objstr_postspace {

}

pre.ts-hl .ts-operator_postspace {

}

pre.ts-hl .ts-operator {
	color: black;
	font-weight: bold;
}

pre.ts-hl .ts-value {
	color: #cc0000;
}

pre.ts-hl .ts-objstr {
	color: #0000cc;
}

pre.ts-hl .ts-value_copy {
	color: #006600;
}

pre.ts-hl .ts-value_unset {
	background-color: #66cc66;
}

pre.ts-hl .ts-ignored {
	background-color: #66cc66;
}

pre.ts-hl .ts-default {
	background-color: #66cc66;
}

pre.ts-hl .ts-comment {
	color: #666;
	font-style: italic;
}

pre.ts-hl .ts-condition {
	background-color: maroon;
	color: #fff;
	font-weight: bold;
}

pre.ts-hl .ts-error {
	background-color: yellow;
	border: 1px red dashed;
	font-weight: bold;
}

pre.ts-hl .ts-linenum {
	background-color: #eee;
}


/*** Icons ***/

/* extJS icons */
.t3icon-ext-upload {
	background: url('gfx/upload.gif') 3px 4px no-repeat !important;
}
.t3icon-ext-cancel {
	background: url('gfx/icon_fatalerror.gif') 2px 3px no-repeat !important;
}
.t3iconstyle-center {
	background-position: center center;
}


/* Visual debugging: */

/*
h2,
h3,
h4,
div {
	border: 1px dotted #666;
}
*/
