<html
    xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    xmlns:core="http://typo3.org/ns/TYPO3/CMS/Core/ViewHelpers"
    data-namespace-typo3-fluid="true">
<h1>Edit Settings for {site.identifier}</h1>
<form
    action="{f:be.uri(route:'site_configuration', parameters:{action: 'saveSettings', site: '{site.identifier}'})}"
    method="post"
    enctype="multipart/form-data"
    name="editform"
    id="siteConfigurationController"
>
    <div role="tabpanel">
        <ul class="nav nav-tabs" role="tablist">
            <f:for each="{configuration}" as="category" key="categoryName" iteration="iteration">
                <f:if condition="{categoryName}">
                    <li role="presentation" class="{f:if(condition:'{iteration.isFirst}', then:'active')}">
                        <a href="#category-{iteration.index}" aria-controls="category-{iteration.index}" role="tab" data-toggle="tab">{categoryName}</a>
                    </li>
                </f:if>
            </f:for>
        </ul>
        <div class="tab-content">
            <f:for each="{configuration}" as="subcategories" key="categoryName" iteration="iteration">
                <f:if condition="{categoryName}">
                    <div role="tabpanel" class="tab-pane {f:if(condition:'{iteration.isFirst}', then:'active')}" id="category-{iteration.index}">
                        <f:for each="{subcategories}" as="subcategory">
                            <div class="form-section">
                                <f:for each="{subcategory}" as="configurationItem" iteration="itemIterator">
                                    <f:if condition="{itemIterator.isFirst}">
                                        <h2 class="h4 form-section-headline">{configurationItem.subcat_label}</h2>
                                    </f:if>
                                    <div class="form-group form-group-dashed">
                                        <label for="em-{configurationItem.name}">
                                            {configurationItem.labels.0}
                                        </label>
                                        <p>
                                            {categoryName}.{configurationItem.displayName}
                                            <f:if condition="{configurationItem.type} != 'user'">
                                                <f:if condition="{configurationItem.type}">
                                                    ({configurationItem.type})
                                                </f:if>
                                            </f:if>
                                        </p>
                                        <div class="form-control-wrap">
                                            <core:form.typoScriptConstants configuration="{configurationItem}" fieldPrefix="data" />
                                        </div>
                                        <f:if condition="{configurationItem.labels.1}">
                                            <div class="help-block">
                                                {configurationItem.labels.1 -> f:format.nl2br()}
                                            </div>
                                        </f:if>
                                    </div>
                                </f:for>
                            </div>
                        </f:for>
                    </div>
                </f:if>
            </f:for>
        </div>
    </div>
    <input type="hidden" name="returnUrl" value="{returnUrl -> f:format.raw()}" />
    <input type="hidden" name="closeDoc" value="0" />
    <input type="hidden" name="doSave" value="0" />
    {formEngineFooter -> f:format.raw()}
</form>
