/*
 *  Created: 2013-07-26
 *
 *  CSS in SASS's SCSS dialect for
 *  TYPO3 Documentation Module v6.2.0
 *  Questions can be submitted to xavier@typo3.org
 *
 */
.ui-widget-header {
  background: none;
  border: none;
  font-weight: normal; }

.dataTable {
  border-right: 1px solid #a2aab8;
  border-bottom: 1px solid #a2aab8;
  border-left: 1px solid #a2aab8; }

.dataTables_info {
  font-size: 10px;
  color: #444;
  float: left; }

.paging_two_button .ui-button {
  float: left;
  cursor: pointer; }

.paging_full_numbers .ui-button {
  padding: 2px 6px;
  margin: 0;
  cursor: pointer;
  color: #333 !important; }

.dataTables_paginate .ui-button {
  margin-right: -0.1em !important; }

.paging_full_numbers {
  float: right; }

.dataTables_paginate {
  width: auto; }

.typo3-documentation-list {
  width: 100%; }

.typo3-documentation-list td {
  padding: 10px; }

.typo3-documentation-list td.title {
  width: 280px; }

.typo3-documentation-list td.icons {
  width: 40px; }

.typo3-documentation-list .icons a {
  display: none; }

.typo3-documentation-list tr:hover .icons a {
  display: inline; }

.typo3-documentation-list td.actions {
  width: 140px; }
  .typo3-documentation-list td.actions a {
    padding: 2px; }

.headerTooltip,
.tooltip {
  -webkit-box-shadow: 2px 2px 11px #666666;
  box-shadow: 2px 2px 11px #666666;
  display: none;
  width: 400px;
  background-color: #ffa;
  border: 1px solid #cc9;
  padding: 3px;
  font-size: 13px;
  z-index: 1000; }

.headerTooltip {
  width: 150px; }

p {
  padding-bottom: 20px; }

.headerRow {
  overflow: auto;
  width: 100%; }

.typo3-documentation-headerRowLeft {
  float: left; }

.typo3-documentation-headerRowRight {
  float: right; }

.ui-toolbar {
  margin-bottom: 5px; }
  .ui-toolbar .dataTables_filter {
    display: block; }

.typo3-documentation-list {
  border-spacing: 0; }
  .typo3-documentation-list thead {
    background-color: #666; }
    .typo3-documentation-list thead tr {
      background: none !important; }
      .typo3-documentation-list thead tr:hover {
        background: none; }
  .typo3-documentation-list th {
    background: none;
    border: 0;
    padding: 8px 10px;
    min-width: 53px;
    vertical-align: middle;
    font-weight: bold;
    color: #fff;
    cursor: pointer;
    white-space: nowrap; }
    .typo3-documentation-list th:hover {
      background: rgba(200, 200, 200, 0.3); }
    .typo3-documentation-list th .DataTables_sort_icon {
      display: inline-block;
      vertical-align: middle;
      margin-left: 5px; }
      .typo3-documentation-list th .DataTables_sort_icon.ui-icon-carat-2-n-s {
        background: none; }
  .typo3-documentation-list tr.odd td, .typo3-documentation-list tr.even td {
    background: none; }
  .typo3-documentation-list tr.odd:hover td, .typo3-documentation-list tr.even:hover td {
    background: none; }
  .typo3-documentation-list tr td {
    background: none;
    padding: 8px 10px;
    vertical-align: middle; }
    .typo3-documentation-list tr td img {
      vertical-align: middle;
      margin-right: 5px; }
  .typo3-documentation-list tr:nth-child(2n) {
    background: #fff; }
  .typo3-documentation-list tr:nth-child(2n + 1) {
    background: #f7f7f7; }
  .typo3-documentation-list tr:hover {
    background: #ececec; }

.dataTables_info {
  display: none; }

.dataTables_paginate {
  float: left;
  margin: 10px 0 0; }

.typo3-documentation-list .t3-icon,
.typo3-documentation-list .t3-icon:hover {
  border: none;
  background-color: transparent; }
