body {
	margin: 0px;
	padding: 4px 3px 3px 3px;
}

 /**
  *	Titles
  */
h1 {
	font-size: 145%;
}
h1#entityName {
	padding:0px 0px 18px 0px;
	margin:0px;
}

h2 {
	font-size: 145%;
	background-color:#CCCCFF;
	padding:3px 4px 5px 4px;
	margin:15px 0px 4px 0px;
	border:1px solid #333;
}

h3 {
	font-size: 95%;
}

h3#entityPackage {
	margin: 0px;
	padding: 0px;
	font-size: 90%;
	font-family: monospace;
}

.detail h4 {
	margin:15px 3px 4px 3px;
}


/**
 * Special for the left frames:
 */
div#contentFrame {
	padding:6px 0px 0px 3px;
	font-family: Arial,Verdana;
	font-size: 85%;
}

div#contentFrame h1 {
	font-size: 100%;
	margin-bottom:2px;
}

div#contentFrame h3 {
	font-size: 100%;
	margin-bottom:2px;
	font-weight:normal;
}

div#contentFrame ul {
	list-style: none;
	padding:0px 0px 0px 3px;
	margin:0px;
}

 /**
  *	Navigation
  */

#navigation {
	margin: 0px 3px 3px 3px;
	padding: 0px 0px 8px 0px;
	border-color: #ccc;
	border-width:0px 0px 1px 0px;
	border-style:solid;
}

#banner {
	margin: 3px 0px;
	padding: 0px;
	background-color: #EEEEFF;
	height: 26px;
}

ul.sections {
	list-style: none;
	margin: 2px 0px 4px 2px;
	padding: 0px;
	width: 300px;
	overflow: hidden;
	float: left;
}

ul.sections li {
	display: inline;
	margin: 2px 2px 2px 2px;
	padding: 0px 2px;
	font-size: 100%;
	font-weight: normal;
	font-family: Arial,Verdana;
	color: #000;
	line-height:15pt;
}

ul.sections li a {
	color:#000;
	font-weight: bold;
}

ul.sections li.active {
	background-color: #44a;
	color: #fff;
	font-weight: bold;
}

.siblingSections {
	list-style: none;
	margin: 0px;
	padding: 0px 3px 2px 1px;
	overflow: hidden;
	clear: both;
}

.siblingSections li {
	display: inline;
	margin: 0px;
	padding: 0px 3px 4px 3px;
	font-size: 65%;
	text-transform: uppercase; 
	font-family:Arial,Verdana;
}

.navigFrame {
	display: block;
	margin: 6px 0px 0px 0px;
	padding: 0px;
	float: right;
	font-size: 65%;
	font-family: Arial,Verdana;
}

a.navigFrameElem {
	padding-right:15px;
}

 /**
  *	Main
  */

hr {
	border-width:0px 0px 1px 0px;
	border-color:#ccc;
	border-style:solid;
}

code, pre, .code {
	font-family: monospace;
	font-size: 90%;
}


sup {
	font-size: 60%;
}

dl.classTree {
	background-color:#f4f4f4;
	padding:5px;
	margin:0px 0px 10px 0px;
	border:1px solid #ccc;
}

dl.classTree dd {
	margin: 0px;
	padding: 0px;
	font-size: 90%;
	font-family: monospace;
}

dl.classTree .currentElem {
	font-weight:bold;
}


#content {
	clear: both;
	padding: 16px 0px 0px 5px;
	margin: 0px;
}

.tableSummary {
	border:1px solid #aaa;
	border-collapse:collapse;
	font-size:1em;
}
.tableSummary td {
	border:1px solid #aaa;
	margin:0px;
	padding:2px 3px;
	font-size:1em;
}

a.linkSummary, a.linkSummary:visited, a.linkSummary:link {
	font-weight:bold;
	text-decoration:underline;
}

a.linkType, a.linkType:visited, a.linkType:link {
	font-weight:normal;
	text-decoration:none;
}

a.linkSimple, a.linkSimple:visited, a.linkSimple:link {
	font-weight:normal;
	text-decoration:underline;
}

.detailContent {
	background-color:#f4f4f4;
	padding:5px;
	margin:0px;
	border:1px solid #ccc;
}

h3.titleSmallList {
	font-weight: bold;
	padding:0px 0px 0px 0px;
	margin:0px;	
}

div.smallList {
	padding:0px 0px 10px 25px;
	margin:0px;
}

