{namespace em=TYPO3\CMS\Extensionmanager\ViewHelpers}

<f:be.pageRenderer
	loadJQuery="true"
	jQueryNamespace="none"
	includeCssFiles="{
		0:'{f:uri.resource(path:\'Contrib/LoadMask/jquery.loadmask.css\')}'
	}"
	includeJsFiles="{
		0:'{f:uri.resource(path:\'JavaScript/jquery-validate-1.11.1.min.js\')}',
		1:'{f:uri.resource(path:\'Contrib/LoadMask/jquery.loadmask.js\')}'
	}"
	includeRequireJsModules="{
		0:'TYPO3/CMS/Extensionmanager/Main'
	}"
	/>

<em:be.trigger triggers="{triggers}" />

<f:render section="headline" />

<f:render section="content" />