/* Selectors for the CopyPaste extension of htmlArea RTE */
.htmlarea-action-copy {
	background-image: url('images/copy.gif') !important;
}
.htmlarea-action-cut {
	background-image: url('images/cut.gif') !important;
}
.htmlarea-action-paste {
	background-image: url('images/paste.gif') !important;
}
.htmlarea-action-copy,
.htmlarea-action-cut,
.htmlarea-action-paste {
	background-position: 0 0 !important;
}