/*
 *  Created: 2012-08-13
 *
 *  CSS in SASS's SCSS dialect for
 *  TYPO3 Extension Manager
 *  Questions can be submitted to info@drublic.de
 *
 */
#typo3-extension-main-menu .tabs ul,
#typo3-extension-configuration-forms .tabs ul {
  list-style: none;
  padding: 0;
  margin-bottom: -1px; }
  #typo3-extension-main-menu .tabs ul:after,
  #typo3-extension-configuration-forms .tabs ul:after {
    display: table;
    content: "";
    clear: both; }
  #typo3-extension-main-menu .tabs ul > li,
  #typo3-extension-configuration-forms .tabs ul > li {
    cursor: pointer; }
    #typo3-extension-main-menu .tabs ul > li.ui-tabs-active a,
    #typo3-extension-main-menu .tabs ul > li a.current,
    #typo3-extension-configuration-forms .tabs ul > li.ui-tabs-active a,
    #typo3-extension-configuration-forms .tabs ul > li a.current {
      background: white;
      color: black;
      border-bottom: 0;
      padding-top: 8px;
      cursor: default; }
    #typo3-extension-main-menu .tabs ul > li a,
    #typo3-extension-configuration-forms .tabs ul > li a {
      -webkit-border-radius: 4px 4px 0 0;
      -moz-border-radius: 4px 4px 0 0;
      border-radius: 4px 4px 0 0;
      float: left;
      height: 15px;
      background: #dadada;
      padding: 7px 15px;
      margin-top: -1px;
      margin-right: 2px;
      border: 1px solid #adadad;
      color: #606060;
      outline: none; }
      #typo3-extension-main-menu .tabs ul > li a:hover,
      #typo3-extension-configuration-forms .tabs ul > li a:hover {
        background-color: #eee;
        border-color: #adadad;
        color: #606060; }

.ui-widget-header {
  background: none;
  border: none;
  font-weight: normal; }

.dataTable {
  border-right: 1px solid #a2aab8;
  border-bottom: 1px solid #a2aab8;
  border-left: 1px solid #a2aab8; }

.dataTables_info {
  font-size: 10px;
  color: #444;
  float: left; }

.paging_two_button .ui-button {
  float: left;
  cursor: pointer; }

.paging_full_numbers .ui-button {
  padding: 2px 6px;
  margin: 0;
  cursor: pointer;
  color: #333 !important; }

.dataTables_paginate .ui-button {
  margin-right: -0.1em !important; }

.paging_full_numbers {
  float: right; }

.dataTables_paginate {
  width: auto; }

#typo3-extension-configuration-forms {
  min-width: 400px;
  max-width: 900px; }
  #typo3-extension-configuration-forms .category {
    background-repeat: repeat-x;
    background-color: #fff;
    border: 1px solid #adadad;
    padding: 15px; }
  #typo3-extension-configuration-forms .group {
    margin-bottom: 30px; }
    #typo3-extension-configuration-forms .group label {
      display: block;
      padding-bottom: 10px; }

#typo3-extension-configuration-forms #typo3-docheader-row2 .back {
  float: right; }

#typo3-extension-configuration-forms input.submit {
  margin-top: 10px; }

#typo3-extension-configuration-forms .error,
#typo3-extension-configuration-forms .invalid {
  -webkit-border-radius: 0 4px 4px 0;
  -moz-border-radius: 0 4px 4px 0;
  border-radius: 0 4px 4px 0;
  -webkit-box-shadow: 0 0 6px #dddddd;
  box-shadow: 0 0 6px #dddddd;
  /* supply height to ensure consistent positioning for every browser */
  height: 15px;
  background-color: #ff2262;
  border: 1px solid #e1e16d;
  font-size: 11px;
  color: #000;
  padding: 3px 10px;
  margin-left: -2px; }

.t3-table td.alpha {
  color: #f14400; }

.t3-table td.beta {
  color: #f4bd00; }

.t3-table td.stable {
  color: #3db900; }

.t3-table td.experimental {
  color: #000; }

.t3-table td.test {
  color: #000; }

.t3-table td.obsolete {
  color: #8c8c8c; }

.t3-table td.excludeFromUpdates {
  color: #000; }

.alpha,
.beta,
.stable,
.experimental,
.test,
.obsolete,
.excludeFromUpdates {
  font-weight: bold;
  color: #fff; }

.typo3-extension-list td.icons {
  width: 140px; }

.typo3-extension-list .icons a {
  display: none; }

.typo3-extension-list tr:hover .icons a {
  display: inline; }

#typo3-extension-configuration-forms .info {
  color: #666;
  font-weight: normal; }

.typo3-extension-list tr.installed td {
  background-color: #c8ffaa; }

.typo3-extension-list tr.available td {
  background-color: #E1E1aa; }

.typo3-extension-manager .insecure {
  color: #ff2262; }

.typo3-extension-manager .outdated {
  color: #0c08ff; }

.typo3-extension-list .inactive {
  color: #aaaaaa; }

.headerTooltip,
.tooltip {
  -webkit-box-shadow: 2px 2px 11px #666666;
  box-shadow: 2px 2px 11px #666666;
  display: none;
  width: 400px;
  background-color: #ffa;
  border: 1px solid #cc9;
  padding: 3px;
  font-size: 13px;
  z-index: 1000; }

.headerTooltip {
  width: 150px; }

p {
  padding-bottom: 20px; }

.typo3-extensionmanager-headerRowLeft {
  display: inline-block; }
  .typo3-extensionmanager-headerRowLeft .typo3-extensionmanager-searchTerFieldWrapper {
    display: inline-block;
    position: relative; }
    .typo3-extensionmanager-headerRowLeft .typo3-extensionmanager-searchTerFieldWrapper input {
      height: 15px; }
    .typo3-extensionmanager-headerRowLeft .typo3-extensionmanager-searchTerFieldWrapper .t3-icon-input-clear {
      position: absolute;
      right: 3px;
      top: 4px; }

.headerRow {
  overflow: auto;
  width: 100%; }

.typo3-extensionmanager-headerRowLeft {
  float: left; }

.typo3-extensionmanager-headerRowRight {
  float: right; }

.ui-toolbar {
  margin-bottom: 5px; }
  .ui-toolbar .dataTables_filter {
    float: left; }

.typo3-extension-list th {
  min-width: 53px;
  cursor: pointer; }
  .typo3-extension-list th .DataTables_sort_icon {
    display: inline-block;
    vertical-align: middle;
    margin-left: 5px; }
    .typo3-extension-list th .DataTables_sort_icon.ui-icon-carat-2-n-s {
      background: none; }
.typo3-extension-list .ext-icon {
  max-height: 16px;
  width: auto; }

.dataTables_info {
  display: none; }

.dataTables_paginate {
  float: left;
  margin: 10px 0 0; }

.uploadForm {
  background-color: #ededed;
  border-top: 1px solid #cdcdcd;
  border-bottom: 1px solid #cdcdcd;
  padding: 12px;
  margin-bottom: 24px; }
  .uploadForm form .control-group {
    clear: both;
    margin-bottom: 5px; }
  .uploadForm form label {
    float: left;
    height: 20px;
    padding: 4px 0;
    line-height: 20px;
    width: 90px; }
  .uploadForm form .control {
    min-height: 20px;
    padding: 4px 0;
    margin-left: 110px; }

#terTableWrapper {
  position: relative; }
  #terTableWrapper .splash-receivedata {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -20px 0 0 -150px; }
    #terTableWrapper .splash-receivedata a {
      display: inline-block;
      width: 200px;
      vertical-align: top;
      padding: 3px 20px; }
    #terTableWrapper .splash-receivedata.is-shown {
      display: block; }
  #terTableWrapper .spinner {
    display: inline-block; }
  #terTableWrapper .ui-icon {
    width: 16px;
    height: 16px;
    background-image: url("../Images/ui-icons_222222_256x240.png");
    background-position: -64px -16px; }

.time-since-last-update {
  font-weight: bold;
  padding-right: 0.4em;
  cursor: help; }

.is-loading {
  opacity: 0; }

.is-hidden {
  display: none; }

.typo3-extension-list .t3-icon,
.typo3-extension-list .t3-icon:hover {
  border: none;
  background-color: transparent; }
.typo3-extension-list .author {
  display: none; }

.versions-all {
  display: inline-block;
  width: 20px;
  text-indent: -200px;
  overflow: hidden; }

.currentVersionInfo {
  padding: 0 0 20px 0; }
  .currentVersionInfo td {
    padding: 4px 0; }
  .currentVersionInfo th {
    font-weight: normal;
    color: #8c8c8c;
    padding: 4px 20px 4px 0; }

span.ter-ext-state {
  padding: 0 0 0 5px;
  font-weight: bold;
  text-transform: capitalize; }

span.ter-ext-state-obsolete {
  color: #8c8c8c;
  font-weight: normal; }

span.ter-ext-state-stable {
  color: #3db900; }

span.ter-ext-state-beta {
  color: #f4bd00; }

span.ter-ext-state-alpha {
  color: #f14400; }

#typo3-docbody form.download {
  margin-bottom: 0; }

.distribution {
  border: 1px solid #d4d4d4;
  background-color: #fafafa;
  margin-bottom: 20px;
  margin-left: 20px;
  width: 300px;
  float: left; }
  .distribution:hover {
    background-color: #f2f2f2; }
    .distribution:hover .distribution-hover {
      top: 0px;
      opacity: 1; }

.distribution-holder {
  top: 0px;
  bottom: 0px;
  margin-left: -20px; }
  .distribution-holder:before, .distribution-holder:after {
    content: " ";
    display: table; }
  .distribution-holder:after {
    clear: both; }

.distribution-image {
  position: relative;
  width: 300px;
  height: 225px;
  overflow: hidden; }
  .distribution-image img {
    display: block;
    height: 100%;
    width: 100%; }

.distribution-hover {
  background-color: #fafafa;
  position: absolute;
  top: 100%;
  left: 0px;
  width: 300px;
  height: 225px;
  overflow: hidden;
  opacity: 0;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out; }

.distribution-hover-inner {
  padding: 15px; }

.distribution-meta {
  border-top: 1px solid #e0e0e0;
  padding: 15px; }
  .distribution-meta .distribution-title {
    margin: 0;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 14px; }
  .distribution-meta .distribution-install {
    margin-top: 0.5em; }
  .distribution-meta .t3-button {
    margin: 0;
    padding-right: 8px; }
  .distribution-meta .distribution-official {
    border: 1px solid #ff8600;
    background-color: #ff8600;
    border-radius: 2px;
    display: inline-block;
    padding: 3px 8px;
    vertical-align: middle;
    color: #FFFFFF; }

.distribution-info {
  margin-top: 0; }
  .distribution-info:before, .distribution-info:after {
    content: " ";
    display: table; }
  .distribution-info:after {
    clear: both; }
  .distribution-info dt {
    font-weight: bold;
    float: left;
    width: 60px;
    clear: left;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap; }
  .distribution-info dd {
    margin-left: 70px; }
