<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" xmlns:formvh="http://typo3.org/ns/TYPO3/CMS/Form/ViewHelpers" data-namespace-typo3-fluid="true">
<typo3-backend-new-record-wizard
    storename="form-elements"
    displaymenu="false"
    categories="{elementsCategoriesJson}"
    searchplaceholder="{f:translate(key: 'LLL:EXT:form/Resources/Private/Language/Database.xlf:formEditor.modals.insertElements.filter.placeholder')}"
    searchnothingfoundlabel="{f:translate(key: 'LLL:EXT:form/Resources/Private/Language/Database.xlf:formEditor.modals.insertElements.filter.noResults')}"
></typo3-backend-new-record-wizard>
</html>
