<div class="container-small about-module">
    <f:render partial="Logo" arguments="{_all}" />

    <f:if condition="{warnings}">
        <f:be.infobox title="{f:translate(key: 'LLL:EXT:core/Resources/Private/Language/locallang_core.xlf:warning.header')}" state="2">
            <f:if condition="{f:count(subject: warnings)} > 1">
                <f:then>
                    <ul>
                        <f:for each="{warnings}" as="warning">
                            <li>{warning -> f:format.raw()}</li>
                        </f:for>
                    </ul>
                </f:then>
                <f:else>
                    <p>
                        <f:for each="{warnings}" as="warning">
                            {warning -> f:format.raw()}
                        </f:for>
                    </p>
                </f:else>
            </f:if>
        </f:be.infobox>
    </f:if>

    <f:render partial="About" arguments="{_all}" />
    <f:render partial="Modules" arguments="{_all}" />
    <f:render partial="Donation" arguments="{_all}" />
    <f:render partial="Credits" arguments="{_all}" />
    <f:render partial="CoreTeam" arguments="{_all}" />
    <f:render partial="ExternalLibraries" arguments="{_all}" />
    <f:render partial="Extensions" arguments="{_all}" />

    <p>
        <em class="text-muted">
            <f:translate key="LLL:EXT:backend/Resources/Private/Language/Modules/about.xlf:endText" />
        </em>
    </p>
    <p>{copyRightNotice -> f:format.raw()}</p>
</div>
