<html
    xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    data-namespace-typo3-fluid="true"
>

<f:layout name="Module" />

<f:section name="Content">

    <div class="container-small about-module">
        <f:render partial="About/Logo" arguments="{_all}" />

        <f:if condition="{warnings}">
            <f:be.infobox title="{f:translate(key: 'LLL:EXT:core/Resources/Private/Language/locallang_core.xlf:warning.header')}" state="2">
                <f:if condition="{f:count(subject: warnings)} > 1">
                    <f:then>
                        <ul>
                            <f:for each="{warnings}" as="warning">
                                <li>{warning -> f:format.raw()}</li>
                            </f:for>
                        </ul>
                    </f:then>
                    <f:else>
                        <p>
                            <f:for each="{warnings}" as="warning">
                                {warning -> f:format.raw()}
                            </f:for>
                        </p>
                    </f:else>
                </f:if>
            </f:be.infobox>
        </f:if>

        <f:render partial="About/About" arguments="{_all}" />
        <f:render partial="About/Modules" arguments="{_all}" />
        <f:render partial="About/Donation" arguments="{_all}" />
        <f:render partial="About/Credits" arguments="{_all}" />
        <f:render partial="About/CoreTeam" arguments="{_all}" />
        <f:render partial="About/ExternalLibraries" arguments="{_all}" />
        <f:render partial="About/Extensions" arguments="{_all}" />

        <p>
            <em class="text-muted">
                <f:translate key="LLL:EXT:backend/Resources/Private/Language/Modules/about.xlf:endText" />
            </em>
        </p>
        <p>{copyRightNotice -> f:format.raw()}</p>
    </div>

</f:section>

</html>
