<html
    xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    xmlns:i="http://typo3.org/ns/TYPO3/CMS/Impexp/ViewHelpers"
    data-namespace-typo3-fluid="true"
>

<h4>
    <f:translate key="LLL:EXT:impexp/Resources/Private/Language/locallang.xlf:makeadvanc_softReferences"/>
</h4>
<div class="form-group">
    <label for="checkExcludeHTMLfileResources">
        <input type="hidden" name="tx_impexp[excludeHTMLfileResources]" value="" />
        <input
            type="checkbox"
            id="checkExcludeHTMLfileResources"
            name="tx_impexp[excludeHTMLfileResources]"
            value="1"
            {f:if(condition:'{inData.excludeHTMLfileResources} == 1', then:'checked="checked"')}
        />
    </label>
    <strong><f:translate key="LLL:EXT:impexp/Resources/Private/Language/locallang.xlf:makeadvanc_excludeHtmlCssFile"/></strong>
</div>

<h4>
    <f:translate key="LLL:EXT:impexp/Resources/Private/Language/locallang.xlf:makeadvanc_files"/>
</h4>
<div class="form-group">
    <label for="saveFilesOutsideExportFile">
        <input type="hidden" name="tx_impexp[saveFilesOutsideExportFile]" value="" />
        <input
            type="checkbox"
            id="saveFilesOutsideExportFile"
            name="tx_impexp[saveFilesOutsideExportFile]"
            value="1"
            {f:if(condition:'{inData.saveFilesOutsideExportFile} == 1', then:'checked="checked"')}
        />
        <f:translate key="LLL:EXT:impexp/Resources/Private/Language/locallang.xlf:makeadvanc_saveFilesOutsideExportFile"/>
        <f:translate key="LLL:EXT:impexp/Resources/Private/Language/locallang.xlf:makeadvanc_saveFilesOutsideExportFile_limit"/>
    </label>
</div>

<h4>
    <f:translate key="LLL:EXT:impexp/Resources/Private/Language/locallang.xlf:makeadvanc_extensionDependencies"/>
</h4>
<div class="form-group">
    <label for="extension_dep">
        <f:translate key="LLL:EXT:impexp/Resources/Private/Language/locallang.xlf:makeadvanc_selectExtensionsThatThe"/>
    </label>
    <select
        id="extension_dep"
        class="form-select"
        name="tx_impexp[extension_dep][]"
        multiple="multiple"
        size="{f:if(condition: '{tableSelectOptions -> f:count()} > 9', then: '10', else: '5')}"
    >
        <f:for each="{extensions}" as="optionLabel" key="optionValue">
            <option value="{optionValue}" {i:inArray(needle:optionValue, haystack:inData.extension_dep, then:'selected="selected"')}>{optionLabel}</option>
        </f:for>
    </select>
</div>

<div class="form-group">
    <input
        type="submit"
        class="btn btn-default"
        value="{f:translate(key: 'LLL:EXT:impexp/Resources/Private/Language/locallang.xlf:makesavefo_update')}"
    />
</div>

</html>
