<html
    xmlns:core="http://typo3.org/ns/TYPO3/CMS/Core/ViewHelpers"
    xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    data-namespace-typo3-fluid="true"
>

<div class="form-section">

    <h3 class="form-section-headline">
        <f:translate key="LLL:EXT:impexp/Resources/Private/Language/locallang.xlf:makesavefo_presets" />
    </h3>

    <div class="form-group">
        <label class="form-label" for="preset-select">
            <f:translate key="LLL:EXT:impexp/Resources/Private/Language/locallang.xlf:makesavefo_selectPreset" />
        </label>
        <select class="form-select" id="preset-select" name="preset[select]">
            <f:for each="{presetSelectOptions}" as="optionLabel" key="optionValue">
                <option value="{optionValue}">{optionLabel}</option>
            </f:for>
        </select>
    </div>

    <div class="form-group">
        <input type="hidden" id="t3js-submit-field" name="not-set" value="1">
        <button
            type="submit"
            class="btn btn-default"
            name="preset[load]"
            value="1"
        >
            <core:icon identifier="actions-upload" size="small" />
            <f:translate key="LLL:EXT:impexp/Resources/Private/Language/locallang.xlf:makesavefo_load" />
        </button>
        <button
            type="button"
            name="preset[save]"
            class="btn btn-default t3js-confirm-trigger"
            data-title="{f:translate(key: 'LLL:EXT:impexp/Resources/Private/Language/locallang.xlf:pleaseConfirm')}"
            data-message="{f:translate(key: 'LLL:EXT:impexp/Resources/Private/Language/locallang.xlf:makesavefo_areYouSure')}"
            value="1"
        >
            <core:icon identifier="actions-save" size="small" />
            <f:translate key="LLL:EXT:impexp/Resources/Private/Language/locallang.xlf:makesavefo_save" />
        </button>
        <button
            type="button"
            name="preset[delete]"
            class="btn btn-default t3js-confirm-trigger"
            data-title="{f:translate(key: 'LLL:EXT:impexp/Resources/Private/Language/locallang.xlf:pleaseConfirm')}"
            data-message="{f:translate(key: 'LLL:EXT:impexp/Resources/Private/Language/locallang.xlf:makesavefo_areYouSure')}"
            value="1"
        >
            <core:icon identifier="actions-delete" size="small" />
            <f:translate key="LLL:EXT:impexp/Resources/Private/Language/locallang.xlf:makesavefo_delete" />
        </button>
        <button
            type="button"
            name="preset[merge]"
            class="btn btn-default t3js-confirm-trigger"
            data-title="{f:translate(key: 'LLL:EXT:impexp/Resources/Private/Language/locallang.xlf:pleaseConfirm')}"
            data-message="{f:translate(key: 'LLL:EXT:impexp/Resources/Private/Language/locallang.xlf:makesavefo_areYouSure')}"
            value="1"
        >
            <core:icon identifier="actions-code-merge" size="small" />
            <f:translate key="LLL:EXT:impexp/Resources/Private/Language/locallang.xlf:makesavefo_merge" />
        </button>
    </div>

</div>
<div class="form-section">

    <div class="form-group">
        <label class="form-label" for="preset-title">
            <f:translate key="LLL:EXT:impexp/Resources/Private/Language/locallang.xlf:makesavefo_titleOfNewPreset" />
        </label>
        <input
            type="text"
            name="tx_impexp[preset][title]"
            class="form-control"
            id="preset-title"
            value="{inData.preset.title}"
        />
    </div>

    <div class="form-group">
        <div class="form-check">
            <input type="hidden" name="tx_impexp[preset][public]" value="" />
            <input
                type="checkbox"
                name="tx_impexp[preset][public]"
                class="form-check-input"
                id="checkPresetPublic"
                value="1"
                {f:if(condition:'{inData.preset.public} == 1', then:'checked="checked"')}
            />
            <label class="form-check-label" for="checkPresetPublic">
                <f:translate key="LLL:EXT:impexp/Resources/Private/Language/locallang.xlf:makesavefo_public"/>
            </label>
        </div>
    </div>

</div>
<div class="form-section">

    <h3 class="form-section-headline">
        <f:translate key="LLL:EXT:impexp/Resources/Private/Language/locallang.xlf:makesavefo_outputOptions"/>
    </h3>

    <div class="form-group">
        <label class="form-label" for="meta-title">
            <f:translate key="LLL:EXT:impexp/Resources/Private/Language/locallang.xlf:makesavefo_title"/>
        </label>
        <input
            type="text"
            name="tx_impexp[meta][title]"
            class="form-control"
            id="meta-title"
            value="{inData.meta.title}"
        />
    </div>

    <div class="form-group">
        <label class="form-label" for="meta-description">
            <f:translate key="LLL:EXT:impexp/Resources/Private/Language/locallang.xlf:makesavefo_description"/>
        </label>
        <input
            type="text"
            name="tx_impexp[meta][description]"
            class="form-control"
            id="meta-description"
            value="{inData.meta.description}"
        />
    </div>

    <div class="form-group">
        <label class="form-label" for="meta-notes">
            <f:translate key="LLL:EXT:impexp/Resources/Private/Language/locallang.xlf:makesavefo_notes"/>
        </label>
        <textarea
            name="tx_impexp[meta][notes]"
            class="form-control"
            id="meta-notes"
        >{inData.meta.notes}</textarea>
    </div>

    <div class="form-group">
        <label class="form-label" for="tx_impexp_filetype">
            <f:translate key="LLL:EXT:impexp/Resources/Private/Language/locallang.xlf:makesavefo_fileFormat"/>
        </label>
        <select
            class="form-select"
            name="tx_impexp[filetype]"
            id="tx_impexp_filetype"
        >
            <f:for each="{filetypeSelectOptions}" as="optionLabel" key="optionValue">
                <option value="{optionValue}" {f:if(condition:'{optionValue} == {inData.filetype}', then:'selected="selected"')}>{optionLabel}</option>
            </f:for>
        </select>
    </div>

    <div class="form-group">
        <label class="form-label" for="impexp-filename">
            <f:translate key="LLL:EXT:impexp/Resources/Private/Language/locallang.xlf:makesavefo_filenameSavedInS" arguments="{0: saveFolder}"/>
        </label>
        <input
            type="text"
            name="tx_impexp[filename]"
            value="{inData.filename}"
            class="form-control"
            id="impexp-filename"
        />
    </div>

    <div class="form-group">
        <button
            type="submit"
            class="btn btn-default"
        >
            <core:icon identifier="actions-refresh" size="small" />
            <f:translate key="LLL:EXT:impexp/Resources/Private/Language/locallang.xlf:makesavefo_update" />
        </button>
        <button
            type="submit"
            name="tx_impexp[download_export]"
            class="btn btn-default"
            value="1"
        >
            <core:icon identifier="actions-download" size="small" />
            <f:translate key="LLL:EXT:impexp/Resources/Private/Language/locallang.xlf:makesavefo_downloadExport" />
        </button>
        <button
            type="submit"
            name="tx_impexp[save_export]"
            class="btn btn-default"
            value="1"
        >
            <core:icon identifier="actions-file-csv-download" size="small" />
            <f:translate key="LLL:EXT:impexp/Resources/Private/Language/locallang.xlf:importdata_saveToFilename" />
        </button>
    </div>

</div>

</html>
