/*
 *  Created: 2012-08-13
 *
 *  CSS in SASS's SCSS dialect for
 *  TYPO3 Extension Manager v4.8.0
 *  Questions can be submitted to info@drublic.de
 *
 */

// Some helpers
@import "helpers/mixins";

// Import Modules
@import "modules/jquery-ui.custom.scss",
		"modules/tabs";

// Appearance of the page
@import "page/base",
		"page/manage",
		"page/get"

