/* Selectors for the DefaultInline plugin of htmlArea RTE */
.htmlarea-action-bold {
	background-image: url('images/bold.gif') !important;
}
.htmlarea-action-italic {
	background-image: url('images/italic.gif') !important;
}
.htmlarea-action-strike-through {
	background-image: url('images/strikethrough.gif') !important;
}
.htmlarea-action-subscript {
	background-image: url('images/subscript.gif') !important;
}
.htmlarea-action-superscript {
	background-image: url('images/superscript.gif') !important;
}
.htmlarea-action-underline {
	background-image: url('images/underline.gif') !important;
}
.htmlarea-action-bold,
.htmlarea-action-italic,
.htmlarea-action-strike-through,
.htmlarea-action-subscript,
.htmlarea-action-superscript,
.htmlarea-action-underline {
	background-position: 0 0 !important;
}
