span.t3-icon {
	margin-right: 2px;
	vertical-align: middle;
}
span.t3-icon-overlay {
	display: block;
	width: 16px;
	height: 16px;
	position: absolute;
	left: 0;
	top: 0;
	text-decoration: none;
	padding: 0;
}
.t3-icon-empty {
	background-image: none;
}
