<f:layout name="Default"/>

<f:section name="content">
	<h1><f:translate key="header.translations" /></h1>
	<form class="form-inline">
		<div class="form-group">
			<f:form.textfield name="typo3-language-searchfield" placeholder="{f:translate(key:'table.search')}" id="typo3-language-searchfield" value="{search}" class="form-control t3js-language-searchfield" />
		</div>
	</form>
	<table id="typo3-translation-list" class="t3-table t3-datatable" data-language-count="{f:count(subject: languages)}">
		<thead>
			<tr>
				<th><!-- Icon --></th>
				<th><f:translate key="table.extension" /></th>
				<f:for each="{languages}" as="language">
					<th title="{language.label}">{language.locale}</th>
				</f:for>
			</tr>
		</thead>
		<tbody>
			<!-- Will be filled by JS -->
		</tbody>
	</table>
</f:section>
