<html
    xmlns:core="http://typo3.org/ns/TYPO3/CMS/Core/ViewHelpers"
    xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    xmlns:em="http://typo3.org/ns/TYPO3/CMS/Extensionmanager/ViewHelpers"
    data-namespace-typo3-fluid="true"
>

<f:layout name="Module" />

<f:section name="Content">

    <f:asset.module identifier="@typo3/extensionmanager/main.js"/>

    <em:be.trigger triggers="{triggers}" />

    <h1><f:translate key="distributions">Get Distributions</f:translate></h1>
    <f:if condition="{enableDistributionsView}">
        <f:then>
            <f:if condition="{showUnsuitableDistributions} == 0">
                <div class="form-group">
                    <f:form class="typo3-extensionmanager-unsuitable-dist" action="distributions" arguments="{showUnsuitableDistributions: 1}" >
                        <f:form.submit class="btn btn-default" value="{f:translate(key:'extensionList.showUnsuitableDistributions')}"/>
                    </f:form>
                </div>
            </f:if>
            <div class="card-container">
                <f:for each="{officialDistributions}" as="distribution">
                    <f:render partial="List/Distribution" arguments="{distribution: distribution, official: 1}" />
                </f:for>
                <f:for each="{communityDistributions}" as="distribution">
                    <f:render partial="List/Distribution" arguments="{distribution: distribution, official: 0}" />
                </f:for>
            </div>

            <f:form id="installDistributionForm" action="installDistribution" controller="Download"></f:form>
        </f:then>
        <f:else>
            <p>{f:translate(key: 'extensionList.installImpexp')}</p>
            <f:form action="toggleExtensionInstallationState" controller="Action">
                <f:form.button type="submit" name="extensionKey" value="impexp" class="btn btn-default t3-button-action-installdistribution">
                    <core:icon identifier="actions-download" size="small" /><f:translate key="distribution.installImpexp">Install impexp</f:translate>
                </f:form.button>
            </f:form>
        </f:else>
    </f:if>

</f:section>

</html>
