{namespace em=TYPO3\CMS\Extensionmanager\ViewHelpers}

<f:layout name="main"/>

<f:section name="docheader-buttons">
</f:section>

<f:section name="module-headline">
	<h2><f:translate key="showAllVersions" /> {extensionKey}</h2>
</f:section>

<f:section name="Content">
	<f:be.widget.paginate objects="{extensions}" as="paginatedExtensions" configuration="{itemsPerPage: 15, maximumNumberOfLinks: 2}">
		<table id="terVersionTable" class="typo3-extension-list">
			<f:render partial="List/TerShowVersionsTable" arguments="{paginatedExtensions:paginatedExtensions}" />
		</table>
	</f:be.widget.paginate>
</f:section>


