{namespace em=TYPO3\CMS\Extensionmanager\ViewHelpers}

<f:layout name="main"/>

<f:section name="docheader-buttons">
</f:section>

<f:section name="module-headline">
	<h2><f:translate key="getExtensions">Get Extensions</f:translate></h2>
</f:section>

<f:section name="Content">
	<div class="headerRow ui-helper-clearfix">
		<div class="typo3-extensionmanager-headerRowLeft">
			<f:form class="typo3-extensionmanager-searchTerForm" action="ter">
				<f:form.textfield name="search" value="{search}" />
				<f:form.submit value="{f:translate(key:'searchTemplate.submitButton')}"/>
			</f:form>
		</div>
		<div class="typo3-extensionmanager-headerRowRight">
			<f:render partial="List/UpdateFromTer" />
		</div>
	</div>
	<f:if condition="{search}">
		<f:then>
			<table id="terSearchTable" class="typo3-extension-list">
				<f:render partial="List/TerTable" arguments="{paginatedExtensions:extensions, availableAndInstalled:availableAndInstalled}" />
			</table>
		</f:then>
		<f:else>
			<div id="terTableWrapper">
				<f:render partial="List/TerPaginator" arguments="{extensions:extensions, showVersionList:showVersionList,  availableAndInstalled:availableAndInstalled}" />
				<div class="splash-receivedata x-mask-loading"><div class="spinner"><f:translate key="extensionList.updateFromTer.label"/></div></div>
			</div>
		</f:else>
	</f:if>

</f:section>