{namespace em=TYPO3\CMS\Extensionmanager\ViewHelpers}
<f:layout name="main" />
<f:section name="content">

    <h1><f:translate key="getExtensions">Get Extensions</f:translate></h1>
    <f:render partial="List/UploadForm" />
    <div class="row row-cols-auto align-items-end justify-content-between g-3">
        <div class="col">
            <f:form class="typo3-extensionmanager-searchTerForm" action="ter">
                <div class="input-group">
                    <f:form.textfield name="search" value="{search}" class="form-control" placeholder="{f:translate(key:'extensionList.search')}" />
                    <button type="submit" class="btn btn-default" title="{f:translate(key:'searchTemplate.submitButton')}">
                        <core:icon identifier="actions-search" />
                    </button>
                </div>
            </f:form>
        </div>
        <div class="col">
            <f:render partial="List/UpdateFromTer" />
        </div>
    </div>
    <div id="terTableWrapper">
        <f:render partial="List/TerTable" arguments="{tableId: tableId, extensions:paginator.paginatedItems, availableAndInstalled:availableAndInstalled}" />

        <f:render partial="List/TerPagination" arguments="{_all}" />

        <div class="splash-receivedata"><core:icon identifier="spinner-circle-dark" /> <f:translate key="extensionList.updateFromTer.label"/></div>
    </div>

</f:section>
