<html
    xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    xmlns:em="http://typo3.org/ns/TYPO3/CMS/Extensionmanager/ViewHelpers"
    data-namespace-typo3-fluid="true"
>

<f:layout name="Module" />

<f:section name="Content">

    <f:be.pageRenderer
        includeJavaScriptModules="{
            0: '@typo3/extensionmanager/main.js'
        }"
    />

    <em:be.trigger triggers="{triggers}" />

    <h1><f:translate key="installExtension">Install extension</f:translate> <small>{f:translate(key: 'downloadExtension.dependencies.errorTitle')}</small></h1>
    <f:form controller="Action" action="installExtensionWithoutSystemDependencyCheck">
        <f:form.hidden name="extensionKey" value="{extension.extensionKey}" />

        <f:render partial="List/UnresolvedDependencies" arguments="{_all}" />
        <f:be.infobox title="{f:translate(key: 'dependencyCheck.unresolvedDependencies.title')}" state="1">
            <f:render partial="List/UnresolvedDependenciesMessage" />
        </f:be.infobox>
        <f:link.action action="{returnAction.action}" controller="{returnAction.controller}" class="btn btn-default onClickMaskExtensionManager">
            <f:translate key="LLL:EXT:core/Resources/Private/Language/locallang_core.xlf:labels.goBack" />
        </f:link.action>
        <f:form.submit class="btn btn-danger t3js-dependencies disabled onClickMaskExtensionManager" value="{f:translate(key: 'dependencyCheck.unresolvedDependencies.proceed')}" />
    </f:form>

</f:section>

</html>
