/*
 * This file is part of the TYPO3 CMS project.
 *
 * It is free software; you can redistribute it and/or modify it under
 * the terms of the GNU General Public License, either version 2
 * of the License, or any later version.
 *
 * For the full copyright and license information, please read the
 * LICENSE.txt file that was distributed with this source code.
 *
 * The TYPO3 project - inspiring people to share!
 */
/* - - - - - - - - - - - - - - - - - - - - -
Help > About modules
- - - - - - - - - - - - - - - - - - - - - */
.typo3-aboutmodules-inner-docbody a {
  text-decoration: underline;
}
.typo3-aboutmodules-inner-docbody .end-text {
  padding-top: 3em;
}
.typo3-aboutmodules-inner-docbody h2 {
  margin-bottom: 1em;
}
.typo3-aboutmodules-inner-docbody .submodule {
  padding-bottom: 3em;
}
