/* Services report styles */

.tx_sv_reportlist td {
	vertical-align: middle;
}

.tx_sv_reportlist td.typo3-message {
	vertical-align: top;
}

.tx_sv_reportlist td.cell {
	background-image: none;
	padding: 3px;
	border-left: none;
	border-right: none;
}

.tx_sv_reportlist td.first-cell {
	background-image: none;
	padding: 3px;
	border-right: none;
}

.tx_sv_reportlist td.last-cell {
	border-left: none;
}

.service-header {
	margin-bottom: 4px;
}

.service-title {
	font-weight: bold;
}

.service-description {
	margin-bottom: 6px;
	font-style: italic;
}
