/* - - - - - - - - - - - - - - - - - - - - -

Title  : Open Documents toolbar item menu styles
Author : Benjamin Mack <benni@typo3.org>
URL    : http://typo3.org

Description : styles the Open Documents toolbar item


- - - - - - - - - - - - - - - - - - - - - */

#tx-opendocs-menu .toolbar-item-menu .list th {
	text-align: left;
	font-weight: normal;
	line-height: 16px;
	padding-left: 7px;
}

#tx-opendocs-menu .toolbar-item-menu td.label {
	font-size: 100%;
}

#tx-opendocs-menu .toolbar-item-menu .list .opendoc .icon,
#tx-opendocs-menu .toolbar-item-menu .list .recentdoc .icon {
	padding-left: 7px;
	vertical-align: top;
	width: 16px;
}

#tx-opendocs-menu .toolbar-item-menu .list .opendoc .close {
	width: 20px;
	text-align: center;
	vertical-align: top;
}

#tx-opendocs-menu .toolbar-item-menu .list .opendoc .close span {
	cursor: pointer;
}