

.ui-widget-header {
	background: none;
	border: none;
	font-weight: normal;
}

.dataTable {
	border-right: 1px solid #a2aab8;
	border-bottom: 1px solid #a2aab8;
	border-left: 1px solid #a2aab8;
}

.dataTables_info {
	font-size: 10px;
	color: #444;
	float: left;
}

.paging_two_button .ui-button {
	float: left;
	cursor: pointer;
}

.paging_full_numbers .ui-button {
	padding: 2px 6px;
	margin: 0;
	cursor: pointer;
	color: #333 !important;
}

.dataTables_paginate .ui-button {
	margin-right: -0.1em !important;
}

.paging_full_numbers {
	float: right;
}

.dataTables_paginate {
	width: auto;
}

.typo3-extension-list {
	width: 100%;
}

.typo3-extension-list td {
	padding: 10px;
}

#typo3-extension-configuration-forms  {
	min-width: 400px;
	max-width: 900px;

	.category {
		background-repeat: repeat-x;
		background-color: #fff;
		border: 1px solid #adadad;
		padding: 15px;
	}

	.group {
		margin-bottom: 30px;

		label {
			display: block;
			padding-bottom: 10px;
		}
	}
}

#typo3-extension-configuration-forms #typo3-docheader-row2 .back {
	float: right;
}


#typo3-extension-configuration-forms input.submit {
	margin-top: 10px;
}

#typo3-extension-configuration-forms .error,
#typo3-extension-configuration-forms .invalid {
	@include border-radius(0 4px 4px 0);
	@include box-shadow(0 0 6px #ddd);

	/* supply height to ensure consistent positioning for every browser */
	height: 15px;
	background-color: #ff2262;
	border: 1px solid #e1e16d;
	font-size: 11px;
	color: #000;
	padding: 3px 10px;
	margin-left: -2px;
}

.alpha { @include alpha; }
.beta { @include beta; }
.stable { @include stable; }
.experimental { @include experimental; }
.test { @include test; }
.obsolete { @include obsolete; }
.excludeFromUpdates { @include excludeFromUpdates; }

.alpha,
.beta,
.stable,
.experimental,
.test,
.obsolete,
.excludeFromUpdates {
	font-weight: bold;
	color: #fff;
}

.typo3-extension-list td.icons {
	width: 140px;
}

.typo3-extension-list .icons a {
	display: none;
}

.typo3-extension-list tr:hover .icons a {
	display: inline;
}

#typo3-extension-configuration-forms .info {
	font-size: 9px;
	color: #666;
	font-weight: normal;
}

.typo3-extension-list tr.installed td {
	background-color: #c8ffaa;
}

.typo3-extension-list tr.available td {
	background-color: #E1E1aa;
}

.typo3-extension-manager .insecure {
	color: #ff2262;
}

.typo3-extension-list .inactive {
	color: rgb(170, 170, 170);
}

.headerTooltip,
.tooltip {
	@include box-shadow(2px 2px 11px #666);

	display: none;
	width: 400px;
	background-color: #ffa;
	border: 1px solid #cc9;
	padding: 3px;
	font-size: 13px;
	z-index: 1000;
}

.headerTooltip {
	width: 150px;
}

p { padding-bottom: 20px; }