/**
 * Extension List View
 **/
.distribution {
	border: 1px solid darken($gray-lighter,15%);
	background-color: $gray-lighter;
	margin-bottom: 20px;
	margin-left: 20px;
	width: 300px;
	float: left;
	&:hover {
		background-color: darken($gray-lighter,3%);
		.distribution-hover {
			top: 0px;
			opacity: 1;
		}
		.distribution-more {
			text-decoration: underline;
		}
	}
}
.distribution-holder {
	@include clearfix;
	top: 0px;
	bottom: 0px;
	margin-left: -20px;
}
.distribution-image {
	position: relative;
	width: 300px;
	height: 225px;
	overflow: hidden;
	img {
		display: block;
		height: 100%;
		width: 100%;
	}
}
.distribution-hover {
	background-color: $gray-lighter;
	position: absolute;
	top: 100%;
	left: 0px;
	width: 300px;
	height: 225px;
	overflow: hidden;
	opacity: 0;
	@include transition(all 0.2s ease-in-out);
}
.distribution-hover-inner {
	padding: 15px;
}
.distribution-meta {
	border-top: 1px solid darken($gray-lighter,10%);
	padding: 15px;
	.distribution-title {
		margin: 0;
		overflow: hidden;
		white-space: nowrap;
		text-overflow: ellipsis;
		font-size: 14px;
	}
	.distribution-install {
		margin-top: 0.5em;
	}
	.t3-button {
		margin: 0;
		padding-right: 8px;
	}
	.distribution-official {
		border: 1px solid $brand-color;
		background-color: $brand-color;
		border-radius: 2px;
		display: inline-block;
		padding: 3px 8px;
		vertical-align: middle;
		color: #FFFFFF;
	}
}


/**
 * Extension Detail View
 **/
.distribution-detail-flashmessage {
	margin-bottom: 2.5em;
	p {
		padding-bottom: 0;
	}
}
.distribution-detail {
	@include clearfix();
	min-width: 750px;
}
.distribution-detail-previewpane {
	float: left;
	margin-right: 30px;
}
.distribution-detail-preview {
	display: block;
	border: 1px solid darken($gray-lighter,15%);
}
.distribution-detail-body {
	overflow: hidden;
	zoom: 1;
}
.distribution-detail-header {
	h1 {
		margin-bottom: 0.5em;
	}
	p {
		padding: 0px;
		max-width: 500px;
		margin-bottom: 1.25em;
	}
	margin-bottom: 2.5em;
}
.distribution-detail-summary {
	margin-top: 2.5em;
	margin-bottom: 2.5em;
}
.distribution-installed {
	hr {
		margin: 2.5em 0;
		border: 0;
		border-top: 1px solid darken($gray-lighter,15%);
	}
}