
// Loader
#terTableWrapper {
	position: relative;

	.splash-receivedata {
		display: none;

		position: absolute;
		top: 50%;
		left: 50%;
		margin: -20px 0 0 -150px;

		a {
			display: inline-block;
			width: 200px;
			vertical-align: top;
			padding: 3px 20px;
		}

		&.is-shown {
			display: block;
		}
	}

	.spinner {
		display: inline-block;
	}
}

.time-since-last-update {
	font-weight: bold;
	padding-right: 0.4em;
	cursor: help;
}

.is-loading {
	opacity: 0;
}

// If something is hidden
.is-hidden {
	display: none;
}


.typo3-extension-list {

	// Import extension
	.t3-icon,
	.t3-icon:hover {
		border: none;
		background-color: transparent;
	}

	// Hide author for now
	.author {
		display: none;
	}
}


// Show all versions
.versions-all {
	display: inline-block;
	width: 20px;
	text-indent: -200px;
	overflow: hidden;
}

.currentVersionInfo {
	padding: 0 0 20px 0;

	td { padding: 4px 0; }
	th { font-weight: normal; color: #8c8c8c; padding: 4px 20px 4px 0; }
}

.currentVersionInfo a {
	text-decoration: underline;
}

span.ter-ext-state {
	padding: 0 0 0 5px;
	font-weight: bold;
	text-transform: capitalize;
}

span.ter-ext-state-obsolete {
	color: #8c8c8c;
	font-weight: normal;
}

span.ter-ext-state-stable {
	color: #3db900;
}

span.ter-ext-state-beta {
	color: #f4bd00;
}

span.ter-ext-state-alpha {
	color: #f14400;
}
