
.typo3-extensionmanager-headerRowLeft {
	display: inline-block;

	.typo3-extensionmanager-searchTerFieldWrapper {
		display: inline-block;
		position: relative;

		input {
			height: 15px;
		}

		.t3-icon-input-clear {
			position: absolute;
			right: 3px;
			top: 4px;
		}
	}
}

// Upload extension
.headerRow { overflow: auto; width: 100% }

.typo3-extensionmanager-headerRowLeft {
	float: left;
}

.typo3-extensionmanager-headerRowRight {
	float: right;
}

.ui-toolbar {
	margin-bottom: 5px;

	.dataTables_filter {
		float: left;
	}
}



// Table
.typo3-extension-list {

	border-spacing: 0;

	// Header
	thead {
		background-color: #666;

		tr {
			background: none !important;

			&:hover {
				background: none;
			}
		}
	}

	th {
		background: none;
		border: 0;
		padding: 8px 10px;

		min-width: 53px;

		vertical-align: middle;

		font-weight: bold;
		color: #fff;

		cursor: pointer;
		white-space: nowrap;


		&:hover {
			background: rgba(200,200,200,.3);
		}

		.DataTables_sort_icon {
			display: inline-block;
			vertical-align: middle;
			margin-left: 5px;

			&.ui-icon-carat-2-n-s {
				background: none;
			}
		}
	}

	// All lines
	tr {

		// Reset some values that get applied by jQuery UI styling
		&.odd,
		&.even {
			td {
				background: none;
			}

			&:hover {
				td {
					background: none;

					&.alpha { @include alpha; }
					&.beta { @include beta; }
					&.stable { @include stable; }
					&.experimental { @include experimental; }
					&.test { @include test; }
					&.obsolete { @include obsolete; }
					&.excludeFromUpdates { @include excludeFromUpdates; }
				}
			}
		}

		// Add some stuff to match corporate design
		td {
			background: none;
			padding: 8px 10px;
			vertical-align: middle;

			&.state {
				width: 70px;
			}

			&.alpha { @include alpha; }
			&.beta { @include beta; }
			&.stable { @include stable; }
			&.experimental { @include experimental; }
			&.test { @include test; }
			&.obsolete { @include obsolete; }
			&.excludeFromUpdates { @include excludeFromUpdates; }

			img {
				vertical-align: middle;
				margin-right: 5px;
			}
		}

		// Zebra-look
		&:nth-child(2n) {
			background: #fff;
		}

		&:nth-child(2n + 1) {
			background: #f7f7f7;
		}

		// Hovering lines
		&:hover {
			background: #ececec;
		}

	}
}



// Paginator
.dataTables_info {
	display: none;
}

.dataTables_paginate {
	float: left;
	margin: 10px 0 0;
}




.uploadForm {
	background-color: #ededed;
	border-top: 1px solid #cdcdcd;
	border-bottom: 1px solid #cdcdcd;
	padding: 12px;
	margin-bottom: 24px;

	form {
		.control-group {
			clear: both;
			margin-bottom: 5px;
		}

		label {
			float: left;
			height: 20px;
			padding: 4px 0;
			line-height: 20px;
			width: 90px;
		}

		.control {
			min-height: 20px;
			padding: 4px 0;
			margin-left: 110px;
		}
	}
}
