<dl class="legend">
	<dt><f:translate id="legend.label" /></dt>
	<dd><span class="item-state-modified"><f:translate id="legend.edited" /></span>&nbsp;&nbsp;&bull;&nbsp;</dd>
	<dd><span class="item-state-moved"><f:translate id="legend.moved" /></span>&nbsp;&nbsp;&bull;&nbsp;</dd>
	<dd><span class="item-state-new"><f:translate id="legend.new" /></span>&nbsp;&nbsp;&bull;&nbsp;</dd>
	<dd><span  class="item-state-hidden"><f:translate id="legend.hidden" /></span>&nbsp;&nbsp;&bull;&nbsp;</dd>
	<dd><span class="item-state-deleted"><f:translate id="legend.deleted" /></span></dd>
</dl>