<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<h3><f:translate key="legend.label" /></h3>
<ul class="workspace-legend">
    <li><span class="workspace-state-unchanged"><f:translate key="legend.unchanged" /></span></li>
    <li><span class="workspace-state-modified"><f:translate key="legend.edited" /></span></li>
    <li><span class="workspace-state-moved"><f:translate key="legend.moved" /></span></li>
    <li><span class="workspace-state-new"><f:translate key="legend.new" /></span></li>
    <li><span  class="workspace-state-hidden"><f:translate key="legend.hidden" /></span></li>
    <li><span class="workspace-state-deleted"><f:translate key="legend.deleted" /></span></li>
</dl>
</html>
