/*!
 * This file is part of the TYPO3 CMS project.
 *
 * It is free software; you can redistribute it and/or modify it under
 * the terms of the GNU General Public License, either version 2
 * of the License, or any later version.
 *
 * For the full copyright and license information, please read the
 * LICENSE.txt file that was distributed with this source code.
 *
 * The TYPO3 project - inspiring people to share!
 */
.module-body {
  padding: 0;
}
.typo3-topbar-workspace-actions {
  float: right;
  height: 100%;
  display: table;
}
.workspace-action {
  display: table-cell;
  vertical-align: middle;
  padding: 0 4px;
}
.workspace-action:last-child {
  padding-right: 16px;
}
.workspace-action .active-preview-mode {
  display: inline-block;
  text-align: left;
}
.workspace-action .slider-wrapper .slider {
  float: left;
}
.workspace-action .slider-wrapper b {
  margin: 7px 10px;
  display: block;
  float: left;
}
.workspaces {
  position: relative;
}
.workspaces iframe {
  border: 0;
}
.preview-mode-slider iframe {
  position: absolute;
  top: 0;
  z-index: 100;
}
.preview-mode-slider #live-view {
  border-bottom: 2px solid #c83c3c;
  z-index: 200;
}
.preview-mode-vbox iframe {
  width: 50%;
  height: 100%;
  float: left;
}
.preview-mode-hbox iframe {
  width: 100%;
  height: 50%;
}
