.CodeMirror-wrapping {
	position: relative;
	margin-left: 21px;
}
.CodeMirror-wrapping div {
	line-height: 13px !important;
}
div.CodeMirror-line-numbers {
	line-height: 13px !important;
	font-size: 10px;
	padding-right: 3px;
	padding-left: 3px;
	margin-right: 2px;
	text-align: right;
}

.TSREF_type_label, .TSREF_description_label{
	font-weight: bold;
}
.t3e_codeCompleteBox ul li span.word_definedTSREFProperty {
	color:#DF4E00;
	font-size:0.95em;
	font-weight:bold;
}
.t3e_codeCompleteBox ul li span.word_undefinedTSREFProperty {
	color:#FF8400;
	font-size:0.95em;
	font-weight:bold;
}
.t3e_codeCompleteBox ul li span.word_userProperty {
	color:#7c7c7c;
	font-size:0.95em;
	font-weight:bold;
}
.t3e_descriptionBox{
	height: 160px;
	width: 260px;
	position: absolute;
	top: 0; left: 0;
	background-color: #EFEFF4;
	z-index:190;
	border:2px solid silver;
	padding:0px;
}
.t3e_toolbar{
	position:absolute;
	right:50px;
	top:0pt;
	width:200px;
	/*border: 1px solid #CCCCCC;*/
}
.t3e_toolbar_icon{
	border: 1px solid #CCCCCC;
	width: 20px;
	height: 20px;
	float: left;
}
.t3e_codeCompleteBox {
	position: absolute;
	top: 0; left: 0;
	background-color: #EFEFF4;
	z-index:190;	
	border:2px solid silver;
	padding:0px;
}
.t3e_codeCompleteBox ul{
	list-style-type: none;
	padding:0px;
	margin:0px;
	
}
.t3e_codeCompleteBox ul li{
	padding-left:2px;
	padding-right:2px;
	font-weight:bold;
	cursor: pointer; cursor: hand;
}
.t3e_codeCompleteBox ul li.active{
	padding-left:2px;
	padding-right:2px;
	font-weight:bold;
	background-color: #cfcfcf;
}
/* around the editor */
.t3e_wrap {
	border: 1px solid gray;
	position: relative;
	background-color: #EFEFF4;
	background-image: url('../../../../gfx/spinner.gif');
	background-position: 49% 50%;
	background-repeat: no-repeat;
	margin-right: 10px;
}

.t3e_modalOverlay {
	position: absolute;
	top: 0; left: 0;
	background-color: #EFEFF4;
	background-image: url('../../../../gfx/spinner.gif');
	background-position: 49% 50%;
	background-repeat: no-repeat;
	z-index:200;
	width: 100%;
	height: 100%;
}
.t3e_autoCompleteBox {
	position: absolute;
	top: 0; left: 0;
	background-color: #EFEFF4;
	z-index:190;
	border:2px solid silver;
	padding:0px;
}
.t3e_autoCompleteBox ul{
	list-style-type: none;
	padding:0px;
	margin:0px;
}
.t3e_autoCompleteBox ul li{
	padding-left:2px;
	padding-right:2px;
	font-weight:bold;
	cursor: pointer; cursor: hand;
}
.t3e_autoCompleteBox ul li.active{
	padding-left:2px;
	padding-right:2px;
	font-weight:bold;
	background-color: #cfcfcf;
}
.t3e_fullscreen {
	position: absolute;
	top: 0;
	left: 0;
}

.t3e_iframe_wrap {
	margin: 0 0 0 5px;
}

.t3e_iframe {
	display: block;
	/* width: 100%; */
	padding: 0;
}

.t3e_toolbar_wrap {
	clear: both;
	width: 100%;
	font-size: 0.9em;
	padding-right: 20px;
}





.t3e_statusbar_wrap {
	clear: both;
	font-size: 0.9em;
	padding-left: 3px;
	padding-top: 3px;
	background-color:#B8BEC9;
	background-image: url(../../../t3skin/icons/gfx/alt_menu_mainitem_bg.gif);
	background-position:left top;
	background-repeat:repeat-x;
	height: 20px;
}
.t3e_statusbar_wrap span {
	color:#FFFFFF;
	margin: 3px;
}
.t3e_statusbar_item {
	float: right;
	height: 16px;
	border-left: 1px solid gray;
	padding: 4px 14px 0 14px;
}


.t3e_clickable {
	cursor:pointer;cursor:hand;
}


.t3e_statusbar_overlay {
	position: absolute; bottom: 20px; right: 17px;
	opacity: 0.85;
	background-color: #EFEFF4;
	width: 180px;
	height: 70%;
	padding: 5px 0px 10px 0px;
	border-left: 1px solid gray;
	border-right: 1px solid gray;
	border-top: 1px solid gray;
	z-index: 100;
}
.t3e_statusbar_overlay#t3e_statusbar_overlay_options {
	height: 8em;
}
.t3e_statusbar_overlay ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}
.t3e_statusbar_overlay ul li {
	color: #212121;
	padding: 2px 6px 2px 6px;
	cursor:pointer;cursor:hand;
}
.t3e_statusbar_overlay ul li label {
	cursor:pointer;cursor:hand;
}
.t3e_statusbar_overlay ul li:hover {
	background-color: #cfcfcf;
}

#t3e_modalOverlay_help {
	background-image: none;
	width: 90%;
	height: 80%;
	top: 10%;
	left: 5%;
	padding: 10px;
	border: 1px solid gray;
}

.t3e_footeritem_active {
	background-color: #cfcfcf;
}
