<html
    xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    data-namespace-typo3-fluid="true"
>

<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title" id="object-browser-{type}-ast-heading">
            <a
                href="#"
                class="collapsed"
                id="panel-tree-heading-{type}"
                data-bs-toggle="collapse"
                data-bs-target="#object-browser-{type}-ast-body"
                aria-expanded="false"
                aria-controls="object-browser-{type}-ast-body"
            >
                <span class="caret"></span>
                <strong><f:translate key="LLL:EXT:tstemplate/Resources/Private/Language/locallang_objbrowser.xlf:panel.header.configuration"/></strong>
            </a>
        </h3>
    </div>
    <div id="object-browser-{type}-ast-body" class="panel-collapse collapse" data-persist-collapse-state="true" aria-labelledby="object-browser-{type}-ast-heading" role="tabpanel">
        <div class="panel-body tstemplate-tsobjectbrowser-content">
            <form action="{f:be.uri(route: 'web_typoscript_objectbrowser', parameters: '{id: pageUid}')}" method="post">
                <ul class="list-tree text-monospace">
                    <f:render
                        partial="ObjectBrowserTree"
                        arguments="{
                            type: type,
                            tree: tree,
                            pageUid: pageUid,
                            currentObjectPath: currentObjectPath,
                            displayConstantSubstitutions: displayConstantSubstitutions,
                            displayComments: displayComments
                        }"
                    />
                </ul>
            </form>
        </div>
    </div>
</div>

</html>
