<h1><f:translate key="LLL:EXT:core/Resources/Private/Language/locallang_misc.xlf:movingElement" /></h1>
<div>
    <span {recordTooltip}><core:iconForRecord table="{table}" row="{elRow}" />{recordTitle -> f:format.raw()}</span>
    <div>
        <input type="hidden" name="makeCopy" value="0" />
        <input type="checkbox" name="makeCopy" id="makeCopy" value="1"{makeCopyChecked} onclick="{makeCopyOnClick}" />
        <label for="makeCopy" class="t3-label-valign-top"><f:translate key="LLL:EXT:core/Resources/Private/Language/locallang_misc.xlf:makeCopy" /></label>
    </div>
</div>
<h2><f:translate key="LLL:EXT:core/Resources/Private/Language/locallang_misc.xlf:selectPositionOfElement" /></h2>
<div>
    <f:if condition="{pages}">
        <f:if condition="{pages.goUpUrl}">
            <f:then>
                <a href="{pages.goUpUrl}"><core:icon identifier="actions-view-go-up" />{pages.pidRecordTitle -> f:format.raw()}</a><br />
            </f:then>
            <f:else>
                <f:if condition="{pages.pidPageInfo}">
                    <core:iconForRecord table="pages" row="{pages.pidPageInfo}" />
                </f:if>
                {pages.pidRecordTitle -> f:format.raw()}<br />
            </f:else>
        </f:if>
        {pages.positionTree -> f:format.raw()}
    </f:if>
    <f:if condition="{ttContent}">
        <span {ttContent.recordToolTip}><core:iconForRecord table="pages" row="{ttContent.pageInfo}" /></span>
        {ttContent.recordTitle}<br />
        {ttContent.contentElementColumns -> f:format.raw()}<br /><br />
        <f:if condition="{ttContent.pageInfo.pid}">
            <f:if condition="{ttContent.goUpUrl}">
                <f:then>
                    <a href="{ttContent.goUpUrl}"><core:icon identifier="actions-view-go-up" />{ttContent.pidRecordTitle -> f:format.raw()}</a><br />
                </f:then>
                <f:else>
                    <core:iconForRecord table="pages" row="{ttContent.pidPageInfo}" />
                    {ttContent.pidRecordTitle -> f:format.raw()}<br />
                </f:else>
            </f:if>
        </f:if>
        {ttContent.positionTree -> f:format.raw()}
    </f:if>
</div>
