<html
    xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    xmlns:core="http://typo3.org/ns/TYPO3/CMS/Core/ViewHelpers"
    data-namespace-typo3-fluid="true"
>

<f:layout name="ContentElement/MoveElementLayout" />

<f:section name="Content">
    <h2>
        <f:translate key="LLL:EXT:backend/Resources/Private/Language/Wizards/move_content_elements.xlf:headline.{f:if(condition: makeCopyChecked, then: 'copy', else: 'move')}" arguments="{0: recordTitle, 1: record.uid}" />
    </h2>
    <p><f:translate key="LLL:EXT:backend/Resources/Private/Language/Wizards/move_content_elements.xlf:currentPath" /> {pageInfo._thePathFull}</p>
    <input type="hidden" name="elementRecordTitle" id="elementRecordTitle" value="{recordTitle}" />
    <input type="hidden" name="pageRecordTitle" id="pageRecordTitle" value="{pageRecord.recordTitle}" />
    <input type="hidden" name="pageUid" id="pageUid" value="{pageInfo.uid}" />

    <div class="form-row">
        <div class="form-check form-switch">
            <input type="checkbox" name="makeCopy" id="makeCopy" value="1" {f:if(condition: makeCopyChecked, then: 'checked')} class="form-check-input">
            <label for="makeCopy" class="form-check-label"><f:translate key="LLL:EXT:core/Resources/Private/Language/locallang_misc.xlf:makeCopy" /></label>
        </div>
    </div>

    <div class="page-position-map">
        <div class="page-position-info">
            <f:if condition="{pageInfo}">
                <span title="{pageRecord.recordTooltip}"><core:iconForRecord table="pages" row="{pageInfo}" /></span>
            </f:if>
            <strong>{pageRecord.recordTitle}</strong>
        </div>
        {contentElementColumns -> f:format.raw()}
    </div>

</f:section>

</html>
