/* Selectors for the Table Operations extension of htmlArea RTE */
.htmlarea-action-cell-delete {
	background-image: url('images/cell-delete.gif') !important;
}
.htmlarea-action-cell-edit-properties {
	background-image: url('images/cell-prop.gif') !important;
}
.htmlarea-action-cell-insert-after {
	background-image: url('images/cell-insert-after.gif') !important;
}
.htmlarea-action-cell-insert-before {
	background-image: url('images/cell-insert-before.gif') !important;
}
.htmlarea-action-cell-merge {
	background-image: url('images/cell-merge.gif') !important;
}
.htmlarea-action-cell-split {
	background-image: url('images/cell-split.gif') !important;
}
.htmlarea-action-column-delete {
	background-image: url('images/col-delete.gif') !important;
}
.htmlarea-action-column-edit-properties {
	background-image: url('images/col-prop.gif') !important;
}
.htmlarea-action-column-insert-after {
	background-image: url('images/col-insert-after.gif') !important;
}
.htmlarea-action-column-insert-before {
	background-image: url('images/col-insert-before.gif') !important;
}
.htmlarea-action-column-split {
	background-image: url('images/col-split.gif') !important;
}
.htmlarea-action-row-delete {
	background-image: url('images/row-delete.gif') !important;
}
.htmlarea-action-row-edit-properties {
	background-image: url('images/row-prop.gif') !important;
}
.htmlarea-action-row-insert-above {
	background-image: url('images/row-insert-above.gif') !important;
}
.htmlarea-action-row-insert-under {
	background-image: url('images/row-insert-under.gif') !important;
}
.htmlarea-action-row-split {
	background-image: url('images/row-split.gif') !important;
}
.htmlarea-action-table-edit-properties {
	background-image: url('images/table-prop.gif') !important;
}
.htmlarea-action-table-insert {
	background-image: url('images/insert_table.gif') !important;
}
.htmlarea-action-table-restyle {
	background-image: url('images/table-restyle.gif') !important;
}
.htmlarea-action-table-show-borders {
	background-image: url('images/toggle-borders.gif') !important;
}
.htmlarea-action-cell-delete,
.htmlarea-action-cell-edit-properties,
.htmlarea-action-cell-insert-after,
.htmlarea-action-cell-insert-before,
.htmlarea-action-cell-merge,
.htmlarea-action-cell-split,
.htmlarea-action-column-delete,
.htmlarea-action-column-edit-properties,
.htmlarea-action-column-insert-after,
.htmlarea-action-column-insert-before,
.htmlarea-action-column-split,
.htmlarea-action-row-delete,
.htmlarea-action-row-edit-properties,
.htmlarea-action-row-insert-above,
.htmlarea-action-row-insert-under,
.htmlarea-action-row-split,
.htmlarea-action-table-edit-properties,
.htmlarea-action-table-insert,
.htmlarea-action-table-restyle,
.htmlarea-action-table-show-borders {
	background-position: 0 0 !important;
}
