/* Selectors for the BlockElements extension of htmlArea RTE */
.htmlarea-action-blockquote {
	background-image: url('images/blockquote.gif') !important;
}
.htmlarea-action-horizontal-rule-insert {
	background-image: url('images/insertHorizontalRule.gif') !important;
}
.htmlarea-action-indent {
	background-image: url('images/indent.gif') !important;
}
.htmlarea-action-justify-center {
	background-image: url('images/justifyCenter.gif') !important;
}
.htmlarea-action-justify-full {
	background-image: url('images/justifyFull.gif') !important;
}
.htmlarea-action-justify-left {
	background-image: url('images/justifyLeft.gif') !important;
}
.htmlarea-action-justify-right {
	background-image: url('images/justifyRight.gif') !important;
}
.htmlarea-action-ordered-list {
	background-image: url('images/insertOrderedList.gif') !important;
}
.htmlarea-action-outdent {
	background-image: url('images/outdent.gif') !important;
}
.htmlarea-action-paragraph-insert-after {
	background-image: url('images/insertParagraphAfter.gif') !important;
}
.htmlarea-action-paragraph-insert-before {
	background-image: url('images/insertParagraphBefore.gif') !important;
}
.htmlarea-action-unordered-list {
	background-image: url('images/insertUnorderedList.gif') !important;
}
.htmlarea-action-blockquote,
.htmlarea-action-horizontal-rule-insert,
.htmlarea-action-indent,
.htmlarea-action-justify-center,
.htmlarea-action-justify-full,
.htmlarea-action-justify-left,
.htmlarea-action-justify-right,
.htmlarea-action-ordered-list,
.htmlarea-action-outdent,
.htmlarea-action-paragraph-insert-after,
.htmlarea-action-paragraph-insert-before,
.htmlarea-action-unordered-list {
	background-position: 0 0 !important;
}
