<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:if condition="{hasAccess}">
	<f:then>
		<f:form action="" name="editForm" id="NewContentElementController">
			<f:form.hidden name="defValues" value=""/>
			<h1>{f:translate(key: 'LLL:EXT:lang/Resources/Private/Language/locallang_misc.xlf:newContentElement')}</h1>
			<f:if condition="{onClickEvent} == ''">
				<h2>{f:translate(key: 'LLL:EXT:lang/Resources/Private/Language/locallang_misc.xlf:1_selectType')}</h2>
			</f:if>
			<div>
				<p>{f:translate(key: 'LLL:EXT:backend/Resources/Private/Language/locallang_db_new_content_el.xlf:sel1')}</p>
				{renderedTabs -> f:format.raw()}
			</div>

			<f:if condition="{onClickEvent} == ''">
				<div><a name="sel2"></a></div>
				<h2>{f:translate(key: 'LLL:EXT:lang/Resources/Private/Language/locallang_misc.xlf:2_selectPosition') -> f:format.htmlspecialchars()}</h2>
				<div>
					<p>{f:translate(key: 'LLL:EXT:backend/Resources/Private/Language/locallang_db_new_content_el.xlf:sel2') ->
						f:format.htmlspecialchars()}</p>
					{posMap -> f:format.raw()}
				</div>
			</f:if>
		</f:form>
	</f:then>
	<f:else>
		<h1>{f:translate(key: 'LLL:EXT:lang/Resources/Private/Language/locallang_misc.xlf:newContentElement')}</h1>
	</f:else>
</f:if>
</html>
