<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:if condition="{hasAccess}">
    <f:then>
        <f:form action="" name="editForm" id="NewContentElementController">
            <f:form.hidden name="defValues" value="" />
            <f:if condition="{hasClickEvent}">
                <f:then>
                    <script>
                        {onClickEvent -> f:format.raw()}
                    </script>
                    <f:render section="Filter" />
                    {renderedTabs -> f:format.raw()}
                    <f:render section="FilterNothingFound" />
                </f:then>
                <f:else>
                    <div id="new-content-element-wizard-carousel" class="carousel slide" data-ride="carousel" data-interval="false">
                        <div class="carousel-inner" role="listbox">
                            <div class="item active" data-slide="next">
                                <div class="t3-new-content-element-wizard-title">
                                    <h2>{f:translate(key: 'LLL:EXT:core/Resources/Private/Language/locallang_misc.xlf:1_selectType')}</h2>
                                </div>
                                <f:render section="Filter" />
                                {renderedTabs -> f:format.raw()}
                                <f:render section="FilterNothingFound" />
                            </div>
                            <div class="item">
                                <div class="t3-new-content-element-wizard-title">
                                    <h2>{f:translate(key: 'LLL:EXT:core/Resources/Private/Language/locallang_misc.xlf:2_selectPosition') -> f:format.htmlspecialchars()}</h2>
                                </div>
                                <div class="t3-new-content-element-wizard-body">
                                    {posMap -> f:format.raw()}
                                </div>
                            </div>
                        </div>
                    </div>
                </f:else>
            </f:if>
        </f:form>
    </f:then>
    <f:else>
        <h1>{f:translate(key: 'LLL:EXT:core/Resources/Private/Language/locallang_misc.xlf:newContentElement')}</h1>
    </f:else>
</f:if>

<f:section name="Filter">
    <br>
    <div class="container-fluid">
        <div class="navbar-header">
            <div class="form-group">
                <div class="input-group">
                    <span class="input-group-addon">{f:translate(key: 'LLL:EXT:core/Resources/Private/Language/locallang_misc.xlf:newContentElement.filter.label')}</span>
                    <input type="search" autocomplete="off" class="form-control t3js-contentWizard-search" placeholder="{f:translate(key: 'LLL:EXT:core/Resources/Private/Language/locallang_misc.xlf:newContentElement.filter.placeholder')}">
                </div>
            </div>
        </div>
    </div>
</f:section>

<f:section name="FilterNothingFound">
    <div class="container-fluid">
        <div class="alert alert-danger hidden t3js-filter-noresult" role="alert">
            <f:translate key="LLL:EXT:core/Resources/Private/Language/locallang_misc.xlf:newContentElement.filter.noResults" />
        </div>
    </div>
</f:section>
</html>
