<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<div class="media media-new-content-element-wizard">
	<f:if condition="{onClickEvent}">
		<f:then>
			<a href="#" onclick="{aOnClick -> f:format.htmlspecialchars()}" data-dismiss="modal">
				<f:if condition="{content}">
					{content -> f:format.raw()}
				</f:if>
				<div class="media-left">
					{icon -> f:format.raw()}
				</div>
				<div class="media-body">
					<strong>{wizardInformation.title -> f:format.htmlspecialchars()}</strong>
					<br/>
					{wizardInformation.description -> f:format.nl2br() -> f:format.htmlspecialchars()}
				</div>
			</a>
		</f:then>
		<f:else>
			<input type="radio" class="hide" name="tempB" value="{wizardKey -> f:format.htmlspecialchars()}"
						 onclick="{wizardOnClick -> f:format.htmlspecialchars()}"/>
			<a href="#new-content-element-wizard-carousel" onclick="{aOnClick -> f:format.htmlspecialchars()}"
				 data-slide="next">
				<f:if condition="{content}">
					{content -> f:format.raw()}
				</f:if>
				<div class="media-left">
					{icon -> f:format.raw()}
				</div>
				<div class="media-body">
					<strong>{wizardInformation.title -> f:format.htmlspecialchars()}</strong>
					<br/>
					{wizardInformation.description -> f:format.nl2br() -> f:format.htmlspecialchars()}
				</div>
			</a>
		</f:else>
	</f:if>
</div>
</html>
