.editbox {
	line-height: 14px;
	border-width: 0;
	margin: 1px 0 0 0.3em;
	padding: 0;
	font-family: monospace;
	font-size: 12px;
	color: black;
	background-color: #fff;
	white-space: nowrap;
	overflow: auto;
}
