<f:be.container loadScriptaculous="true" scriptaculousModule="effects,dragdrop" addCssFile="{f:uri.resource(path:'StyleSheet/mod_styles.css')}" addJsFile="{f:uri.resource(path:'JavaScript/tasklist.js')}">
	<div class="typo3-fullDoc">
		<div id="typo3-docheader">
			<div class="typo3-docheader-functions">
				<div class="left">
					<f:be.buttons.csh />
					<f:be.menus.actionMenu>
						<f:be.menus.actionMenuItem label="Overview" controller="TaskModule" action="overview" />
						<f:be.menus.actionMenuItem label="Tasks" controller="TaskModule" action="tasks" />
					</f:be.menus.actionMenu>
				</div>
				<div class="right"></div>
			</div>
			<div class="typo3-docheader-buttons">
				<div class="left"></div>
				<div class="right">
					<f:be.buttons.shortcut />
				</div>
			</div>
		</div>
		<div id="typo3-docbody">
			<div id="typo3-inner-docbody">
				<f:render section="content" />
			</div>
		</div>
	</div>
</f:be.container>