{namespace core=TYPO3\CMS\Core\ViewHelpers}
<f:be.pageRenderer
	includeCssFiles="{
		0:'{f:uri.resource(path:\'Css/ui-lightness/jquery-ui-1.10.3.custom.min.css\')}',
		1:'{f:uri.resource(path:\'Css/main.css\')}'
	}"
	includeRequireJsModules="{
		0:'TYPO3/CMS/Viewpage/Main'
	}" />
<div class="tx_viewpage">
	<div class="panel panel-default">
		<div class="panel-body">
			<form class="form-inline">
				<div class="form-group">
					<label for="width"><f:translate key="width" /></label>
					<f:form.select options="{widths}" id="width" name="width" class="form-control" />
				</div>
				<f:if condition="{languages -> f:count()} > 1">
					<div class="form-group">
						<label for="language"><f:translate key="language" /></label>
						<f:form.select options="{languages}" id="language" name="language" class="form-control" />
					</div>
				</f:if>
			</form>
		</div>
	</div>

	<f:render section="Content" />
</div>
