<div class="typo3-adminPanel-form-group-checkbox">
    <input type="hidden" name="TSFE_ADMIN_PANEL[preview_showFluidDebug]" value="0"/>
    <label for="preview_showFluidDebug">
        <input type="checkbox"
               id="preview_showFluidDebug"
               name="TSFE_ADMIN_PANEL[preview_showFluidDebug]"
               value="1"
               {f:if(condition: '{showFluidDebug}', then:'checked="checked"')}
        />
        <f:translate key="LLL:EXT:adminpanel/Resources/Private/Language/locallang_preview.xlf:showFluidDebug"/>
    </label>
</div>
