<div class="typo3-adminPanel-form-group-checkbox">
    <input type="hidden" name="TSFE_ADMIN_PANEL[preview_showHiddenPages]" value="0"/>
    <label for="preview_showHiddenPages">
        <input type="checkbox"
               id="preview_showHiddenPages"
               name="TSFE_ADMIN_PANEL[preview_showHiddenPages]"
               value="1"
               {f:if(condition: '{showHiddenPages}', then:'checked="checked"')}
        />
        <f:translate key="LLL:EXT:adminpanel/Resources/Private/Language/locallang_preview.xlf:showHiddenPages"/>
    </label>
</div>
