<div class="typo3-adminPanel-form-group">
    <label for="preview_simulateDate">
        <f:translate key="LLL:EXT:adminpanel/Resources/Private/Language/locallang_preview.xlf:simulateDate"/>
    </label>
    <input type="text"
           id="preview_simulateDate"
           name="TSFE_ADMIN_PANEL[preview_simulateDate]_hr"
           onchange="TSFEtypo3FormFieldGet('TSFE_ADMIN_PANEL[preview_simulateDate]', 'datetime', '', 1,0);"/>
    <input type="hidden" name="TSFE_ADMIN_PANEL[preview_simulateDate]" value="{simulateDate}"/>
</div>
