/**
 * This file is part of the TYPO3 CMS project.
 *
 * It is free software; you can redistribute it and/or modify it under
 * the terms of the GNU General Public License, either version 2
 * of the License, or any later version.
 *
 * For the full copyright and license information, please read the
 * LICENSE.txt file that was distributed with this source code.
 *
 * The TYPO3 project - inspiring people to share!
 */

/* - - - - - - - - - - - - - - - - - - - - -
Scheduler
- - - - - - - - - - - - - - - - - - - - - */

.tx_scheduler_mod1 {

	a {
		text-decoration: underline;
	}

	a.icon,
	a.typo3-csh-link {
		text-decoration: none;
	}

	#typo3-docheader {
		a {
			text-decoration: none;
		}
	}

	.late {
		color: #f00;
		font-weight: bold;
	}

	.status-legend {
		padding-top: 10px;
		padding-bottom: 5px;
		font-weight: bold;
	}

}

/* Definition for BE function "Setup check" */
.info-block {
	margin: 25px 0px 0px 0px;

	p {
		margin: 8px 5px 8px 5px;
	}
}