/* Selectors for the htmlArea RTE editor */
.htmlarea {
 	margin: 0 2px 0 0;
 	padding: 0;
}
.pleasewait {
 	position: relative;
 	margin-top:30px;
 	padding: 20px 0 20px 50px;
 	font-size: 11px !important;
 	text-align: left;
	background: url("images/status/loading.gif") no-repeat 10px center;
	vertical-align: middle;
	color: #7F8083;
}
.editorWrap {
 	margin: 0;
 	margin-top: 2px;
 	padding: 0;
}
.editorWrap textarea {
	border-style:solid;
	border-color:#C7C7C7;
	border-width:0px 1px 1px 1px;
	padding:0px 1px;
	margin:0;
}
.editorWrap .resizable {
	background-image: url("images/status/resizable.gif");
	background-position: bottom right;
	background-repeat: no-repeat;
}
.editorWrap div.resizable {
	padding-right: 7px;
	padding-bottom: 5px;
}
/* Selectors for the editor toolbar */
.htmlarea .toolbar {
	background-color: #f3f3f3;
	cursor: default;
	border: 1px solid #c7c7c7;
	border-bottom: 0;
	margin: 0;
	padding: 2px;
	font-family: Verdana, Helvetica, Geneva, Arial, sans-serif;
}
.htmlarea .toolbar .tb-group {
	clear:none;
	float:left;
	margin:1px 2px 0px 0px;
	padding:0;
}
.htmlarea .toolbar .x-form-item {
	float: left;
	margin:0;
}
.htmlarea .toolbar .x-form-item-label {
	vertical-align:middle;
	background-color:transparent;
	border-style:none;
	margin:0;padding:3px 3px 0px 3px;
}
/* Fix combo box left loat in IE6 */
body.ext-ie6 .htmlarea .toolbar .x-form-item {
	width: 1%;
}
.htmlarea .toolbar .button {
	background-color: transparent;
	color: ButtonText;
	border-style: solid;
	border-width: 1px;
	border-color: transparent;
	border-collapse: separate;
	margin: 0 0 4px 0;
	padding: 0;
	float: left;
}
/* fixing button border-color in IE6 */
body.ext-ie6 .htmlarea .toolbar .button {
	border-color: #f3f3f3;
}
.htmlarea .toolbar .x-btn-mc {
	background-color: transparent;
	background-image: none;
	border-style: none;
	margin: 0;
	padding: 0;
}
.htmlarea .toolbar .x-btn-tl,
.htmlarea .toolbar .x-btn-tc,
.htmlarea .toolbar .x-btn-tr,
.htmlarea .toolbar .x-btn-ml,
.htmlarea .toolbar .x-btn-mr,
.htmlarea .toolbar .x-btn-bl,
.htmlarea .toolbar .x-btn-bc,
.htmlarea .toolbar .x-btn-br {
	display: none;
}
.htmlarea .toolbar .x-btn-text {
	background-image: url("images/sprites/actions.png");
	background-repeat: no-repeat;
	width: 20px;
	height: 18px;
	padding: 0;
	margin: 1px 0 1px 2px;
}
body.ext-ie6 .htmlarea .toolbar .x-btn-text {
	background-image: url("images/sprites/actions.gif");
}
/* fixing button background-color and border-color in IE6 */
body.ext-ie6 .htmlarea .toolbar .buttonHover,
.htmlarea .toolbar .buttonHover {
	border-style: solid;
	border-width: 1px;
	border-color: white #C5C5D5 #C5C5D5 white;
	background-color: #E0E0E9;
	opacity: 1.00;
}
/* fixing button background-color and border-color in IE6 */
body.ext-ie6 .htmlarea .toolbar .buttonActive,
body.ext-ie6 .htmlarea .toolbar .buttonPressed,
body.ext-ie6 .htmlarea-context-menu .buttonActive,
.htmlarea .toolbar .buttonActive,
.htmlarea .toolbar .buttonPressed,
.htmlarea-context-menu .buttonActive {
	border-style: solid;
	border-width: 1px;
	border-color: #C5C5D5 #C5C5D5 #C5C5D5 #C5C5D5;
	background-color: ButtonHighlight;
	text-decoration: none;
	opacity: 1.00;
}
.htmlarea .toolbar .indicator {
	cursor: default;
	background-color: white;
	width: 20px;
	height: 16px;
	overflow: hidden;
	text-align: center;
	border: 1px solid ButtonShadow;
	margin: 3px 1px 5px 1px;
	padding: 0 3px;
	float: left;
}
.htmlarea .toolbar .buttonDisabled {
	filter: gray() alpha(opacity=25);
	opacity: 0.25;
	-moz-opacity: 0.25;
}
.htmlarea .toolbar .separator {
	background-color: transparent;
	background-image: url("images/separator.gif");
	background-repeat: no-repeat;
	background-position: 0 -1px;
	width: 7px;
	height: 23px;
	border: 1px solid #EFEFF4;
	margin-bottom: 1px;
	float: left;
}
.htmlarea .toolbar .space {
	background-color:transparent;
	height:22px;
	border-style:none;
	margin:0;padding:0 1px;
	float:left;
}
.htmlarea .toolbar .select {
	color: WindowText;
	margin: 0 0 4px 0;
}
.htmlarea .toolbar .x-form-item label.x-form-item-label{
	padding-right: 0;
}
.htmlarea .toolbar .x-form-field-wrap .x-form-trigger {
	right: 0;
}
.htmlarea .toolbar .select, .htmlarea .toolbar .select:hover, .htmlarea .toolbar .select:active {
	background-color:Window;
}
.htmlarea .toolbar .select .buttonDisabled {
	color:GrayText;
	background-color:#EFEFF4;
}
.htmlarea .editorIframe {
	clear:both;
	width:100%;
	border:1px solid #c7c7c7;
	border-bottom: none;
	margin:0;padding:0;
}
.htmlarea .noStatusBar {
	border-bottom:1px solid #A2AAB8;
}
.htmlarea .statusBar {
	background-color: #666;
	color: #FFFFFF;
	font-size: 10px;
	border: 1px solid #c7c7c7;
	margin: 0;
	padding: 0 3px;
	line-height: 20px;
	font-family: Verdana, Helvetica, Geneva, Arial, sans-serif;
}
.htmlarea .statusBar .statusBarTree a {
	color:#FFFFFF;
	text-decoration:none;
	font-weight:bold;
 	padding:0px 5px;
}
.htmlarea .statusBar .statusBarTree a:visited {
 	color:#FFFFFF;
}
.htmlarea .statusBar .statusBarTree a:hover {
	text-decoration: underline;
}
.htmlarea .statusBar .statusBarWordCount {
	float: right;
}
/* Selectors for dialogue windows */
.htmlarea-window .x-panel-icon {
	background-image: url("images/sprites/actions.png");
	background-repeat: no-repeat;
	margin-top: 2px;
	height: 22px;
}
body.ext-ie6 .htmlarea-window .x-panel-icon {
	background-image: url("images/sprites/actions.gif");
}
.htmlarea-window .x-window-header .t3-help-link {
	color: #fff;
}
.htmlarea-window ul.x-tab-strip {
	list-style: none;
}
.htmlarea-window .x-tab-panel-body {
	background-color: #EFEFF4;
}
.htmlarea-window .x-fieldset {
	margin: 3px;
	padding-top: 5px;
}
/* IE legend positioning bug */
.ext-ie .htmlarea-window .x-fieldset legend,
.ext-ie .htmlarea-window .x-fieldset legend span {
	display: block;
	float: left;
}
.ext-ie .htmlarea-window .x-fieldset-bwrap {
	clear: left;
}
.htmlarea-window .x-form-item-label {
	font-size: 10px;
	text-align: right;
	margin: 0;
	padding: 3px 5px 0 5px;
}
.htmlarea-window .x-btn-text {
	font-weight: normal;
	color: #000000;
}
.htmlarea-window .x-form-check-wrap {
	padding-top: 3px;
}
.htmlarea-window iframe {
	background-color: #FFF;
	color: #000;
	border: 1px solid #A2AAB8;
}
.htmlarea-window iframe.content-iframe {
	background-color: #EFEFF4;
}
.htmlarea-window .show-color {
	margin-top: 10px;
	border-style: solid;
	border-width: 1px;
	border-color: white;
}
.htmlarea-color-menu .htmlarea-custom-colors {
	height: 170px;
	overflow: auto;
}
.htmlarea-window .htmlarea-custom-colors {
	height: auto;
	overflow: inherit;
}
.htmlarea-custom-colors a {
	border-color: transparent;
	float: none;
	display: block;
	width: 90%;
}
.htmlarea-window .htmlarea-custom-colors a {
	width: 100%;
}
.htmlarea-custom-colors em {
	display: block;
	border: 1px solid;
	border-color: #C5C5D5;
	width: 100%;
}
.htmlarea-custom-colors em span {
	width: 100%;
}
/* Selectors for the About dialogue */
.htmlarea-window .about-plugins .x-list-body dt {
    overflow: auto;
    white-space: normal;
}
/* Selectors for the default image dialogue */
.htmlarea-window .image-preview {
    height: 300px;
    width: 99%;
    float: right;
}
/* Selectors for the InsertSmiley plugin */
.htmlarea-window .emoticon-array {
	padding: 10px;
}
.htmlarea-window .emoticon {
	display: block;
	float: left;
	padding: 5px;
	width: 20px;
	height: 20px;
	vertical-align: middle;
}
/* Selectors for the CharacterMap dialogue */
.htmlarea-window .character-map .character {
	display: block;
	float: left;
	height: 20px;
	width: 20px;
	font-size: 14px;
	font-weight: bold;
	text-align: center;
	padding: 3px;
	border: 1px solid transparent;
}
.htmlarea-window .character-map .character:hover {
	background-color: #FFFFFF;
	border: 1px solid #A2AAB8;
}
/* Selectors for the SpellChecker dialogue */
.htmlarea-window .spell-check .controls {
	text-align: center;
	width: 175px;
	margin: 3px;
}
.htmlarea-window .spell-check .controls .x-btn {
	margin-top: 3px;
	margin-left: 8px;
}
.htmlarea-window .spell-check .contentframe {
	float: right;
	height: 450px;
	margin: 9px 0px;
}
/* Selectors for the ContextMenu plugin */
.htmlarea-context-menu {
	background-color:#EFEFF4;
	color:#212424;
	font-family: Verdana, Helvetica, Geneva, Arial, sans-serif;
	font-size:10px;
}
.htmlarea-context-menu ul {
	list-style: none;
	margin: 0;
}
.htmlarea-context-menu li {
	margin: 0;
	padding: 0;
	border-width: 0;
}
.htmlarea-context-menu a {
	font-weight: normal;
}
.htmlarea-context-menu .button {
	background-color: transparent;
	margin: 0 2px 0 0;
	padding-top: 1px;
}
.htmlarea-context-menu .separator {
	border-top: 1px solid #A2AAB8;
}
.htmlarea-context-menu .hover {
	background-image: url("images/alt_menu_mainitem_bg.gif");
	background-repeat: repeat-x;
	color: #FFF;
	margin: 0 2px 0 0;
	padding-top: 1px;
	border-color: #A2AAB8;
}
.htmlarea-context-menu .x-menu-item-icon {
	background-image: url("images/sprites/actions.png");
	background-repeat: no-repeat;
	margin-top: -2px;
	margin-left: -2px;
	width: 18px;
	height: 18px;
}
body.ext-ie6 .htmlarea-context-menu .x-menu-item-icon {
	background-image: url("images/sprites/actions.gif");
}
/* Window status bar selectors */
.htmlarea-window .status-ready {
	padding-left: 21px !important;
	background-repeat: no-repeat;
	background-image: url("images/status/dialog-ok.png");
	background-position: 0px 2px;
}
.htmlarea-window .status-info {
	padding-left: 21px !important;
	background-repeat: no-repeat;
	background-image: url("images/status/dialog-information.png");
	background-position: 0px 2px;
}
.htmlarea-window .status-wait {
	padding-left: 45px !important;
	background-repeat: no-repeat;
	background-image: url("images/status/loading-balls.gif");
	background-position: 0px 6px;
}
.htmlarea-window .x-toolbar .x-btn {
	margin-left: 5px;
}
.htmlarea-window .x-toolbar .xtb-text {
	cursor: default;
}
/* Button background positioning in window status bar*/
.htmlarea-window .x-toolbar .x-btn-tl{
	background-position: 0 0;
}
.htmlarea-window .x-toolbar .x-btn-tr{
	background-position: -3px 0;
}
.htmlarea-window .x-toolbar .x-btn-tc{
	background-position: 0 -6px;
}
.htmlarea-window .x-toolbar .x-btn-ml{
	background-position: 0 -24px;
}
.htmlarea-window .x-toolbar .x-btn-mr{
	background-position: -3px -24px;
}
.htmlarea-window .x-toolbar .x-btn-mc{
	background-position: 0 -1096px;
}
.htmlarea-window .x-toolbar .x-btn-bl{
	background-position: 0 -3px;
}
.htmlarea-window .x-toolbar .x-btn-br{
	background-position: -3px -3px;
}
.htmlarea-window .x-toolbar .x-btn-bc{
	background-position: 0 -15px;
}
/* Action icon selectors for toolbar, context menu and window headers */
.htmlarea-action-abbreviation-edit { background-position: 0 0 !important; }
.htmlarea-action-bidi-override { background-position: 0 -58px !important; }
.htmlarea-action-big { background-position: 0 -116px !important; }
.htmlarea-action-blockquote { background-position: 0 -174px !important; }
.htmlarea-action-bold { background-position: 0 -232px !important; }
.htmlarea-action-cell-delete { background-position: 0 -290px !important; }
.htmlarea-action-cell-edit-properties { background-position: 0 -348px !important; }
.htmlarea-action-cell-insert-after { background-position: 0 -406px !important; }
.htmlarea-action-cell-insert-before { background-position: 0 -464px !important; }
.htmlarea-action-cell-merge { background-position: 0 -522px !important; }
.htmlarea-action-cell-split { background-position: 0 -580px !important; }
.htmlarea-action-character-insert-from-map { background-position: 0 -638px !important; }
.htmlarea-action-citation { background-position: 0 -696px !important; }
.htmlarea-action-code { background-position: 0 -754px !important; }
.htmlarea-action-color-background { background-position: 0 -812px !important; }
.htmlarea-action-color-foreground { background-position: 0 -870px !important; }
.htmlarea-action-column-delete { background-position: 0 -928px !important; }
.htmlarea-action-column-edit-properties { background-position: 0 -986px !important; }
.htmlarea-action-column-insert-after { background-position: 0 -1044px !important; }
.htmlarea-action-column-insert-before { background-position: 0 -1102px !important; }
.htmlarea-action-column-split { background-position: 0 -1160px !important; }
.htmlarea-action-copy { background-position: 0 -1218px !important; }
.htmlarea-action-cut { background-position: 0 -1276px !important; }
.htmlarea-action-definition-list-item { background-position: 0 -1334px !important; }
.htmlarea-action-definition-list { background-position: 0 -1392px !important; }
.htmlarea-action-definition { background-position: 0 -1450px !important; }
.htmlarea-action-delete-item { background-position: 0 -1508px !important; }
.htmlarea-action-deleted-text { background-position: 0 -1566px !important; }
.htmlarea-action-editor-show-about { background-position: 0 -1624px !important; }
.htmlarea-action-editor-toggle-mode { background-position: 0 -1682px !important; }
.htmlarea-action-element-edit { background-position: 0 -1740px !important; }
.htmlarea-action-emphasis { background-position: 0 -1798px !important; }
.htmlarea-action-find-replace { background-position: 0 -1856px !important; }
.htmlarea-action-horizontal-rule-insert { background-position: 0 -1914px !important; }
.htmlarea-action-image-edit { background-position: 0 -1972px !important; }
.htmlarea-action-indent { background-position: 0 -2030px !important; }
.htmlarea-action-inserted-text { background-position: 0 -2088px !important; }
.htmlarea-action-italic { background-position: 0 -2146px !important; }
.htmlarea-action-justify-center { background-position: 0 -2204px !important; }
.htmlarea-action-justify-full { background-position: 0 -2262px !important; }
.htmlarea-action-justify-left { background-position: 0 -2320px !important; }
.htmlarea-action-justify-right { background-position: 0 -2378px !important; }
.htmlarea-action-keyboard { background-position: 0 -2436px !important; }
.htmlarea-action-language-marks-show { background-position: 0 -2494px !important; }
.htmlarea-action-link-edit { background-position: 0 -2552px !important; }
.htmlarea-action-microdata-show { background-position: 0 -2610px !important; }
.htmlarea-action-mono-spaced { background-position: 0 -2668px !important; }
.htmlarea-action-ordered-list { background-position: 0 -2726px !important; }
.htmlarea-action-outdent { background-position: 0 -2784px !important; }
.htmlarea-action-paragraph-insert-after { background-position: 0 -2842px !important; }
.htmlarea-action-paragraph-insert-before { background-position: 0 -2900px !important; }
.htmlarea-action-paste-behaviour { background-position: 0 -2958px !important; }
.htmlarea-action-paste-toggle { background-position: 0 -3016px !important; }
.htmlarea-action-paste { background-position: 0 -3074px !important; }
.htmlarea-action-quotation { background-position: 0 -3132px !important; }
.htmlarea-action-redo { background-position: 0 -3190px !important; }
.htmlarea-action-remove-format { background-position: 0 -3248px !important; }
.htmlarea-action-row-delete { background-position: 0 -3306px !important; }
.htmlarea-action-row-edit-properties { background-position: 0 -3364px !important; }
.htmlarea-action-row-insert-above { background-position: 0 -3422px !important; }
.htmlarea-action-row-insert-under { background-position: 0 -3480px !important; }
.htmlarea-action-row-split { background-position: 0 -3538px !important; }
.htmlarea-action-sample { background-position: 0 -3596px !important; }
.htmlarea-action-small { background-position: 0 -3654px !important; }
.htmlarea-action-smiley-insert { background-position: 0 -3712px !important; }
.htmlarea-action-soft-hyphen-insert { background-position: 0 -3770px !important; }
.htmlarea-action-span { background-position: 0 -3828px !important; }
.htmlarea-action-spell-check { background-position: 0 -3886px !important; }
.htmlarea-action-strike-through { background-position: 0 -3944px !important; }
.htmlarea-action-strong { background-position: 0 -4002px !important; }
.htmlarea-action-subscript { background-position: 0 -4060px !important; }
.htmlarea-action-superscript { background-position: 0 -4118px !important; }
.htmlarea-action-table-edit-properties { background-position: 0 -4176px !important; }
.htmlarea-action-table-insert { background-position: 0 -4234px !important; }
.htmlarea-action-table-restyle { background-position: 0 -4292px !important; }
.htmlarea-action-table-show-borders { background-position: 0 -4350px !important; }
.htmlarea-action-tag-insert { background-position: 0 -4408px !important; }
.htmlarea-action-text-direction-left-to-right { background-position: 0 -4466px !important; }
.htmlarea-action-text-direction-right-to-left { background-position: 0 -4524px !important; }
.htmlarea-action-underline { background-position: 0 -4582px !important; }
.htmlarea-action-undo { background-position: 0 -4640px !important; }
.htmlarea-action-unlink { background-position: 0 -4698px !important; }
.htmlarea-action-unordered-list { background-position: 0 -4756px !important; }
.htmlarea-action-user-element-edit { background-position: 0 -4814px !important; }
.htmlarea-action-variable { background-position: 0 -4872px !important; }
