<html
    xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    data-namespace-typo3-fluid="true"
>

<f:be.pageRenderer
    includeJavaScriptModules="{
        0: 'TYPO3/CMS/Backend/ContextMenu.js',
        1: 'TYPO3/CMS/Backend/Element/ImmediateActionElement.js'
    }"
/>
<form
    action="{moduleName}"
    method="post"
    id="InfoModuleController"
    name="webinfoForm"
>
    <f:variable name="args" value="{0: 'web', 1: id}" />
    <typo3-immediate-action action="TYPO3.Backend.Storage.ModuleStateStorage.update" args="{args -> f:format.json() -> f:format.htmlspecialchars()}"></typo3-immediate-action>
    <f:format.raw>{functionMenuModuleContent}</f:format.raw>
</form>

</html>
