<html
    xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    data-namespace-typo3-fluid="true"
>

<f:layout name="Module"/>

<f:section name="Before">
    <f:be.pageRenderer
        includeJavaScriptModules="{
            0: '@typo3/backend/context-menu.js',
            1: '@typo3/backend/element/immediate-action-element.js',
            2: '@typo3/info/translation-status.js'
        }"
    />
    <f:if condition="{accessContent}">
        <f:variable name="args" value="{0: 'web', 1: id}" />
        <typo3-immediate-action
            action="TYPO3.Backend.Storage.ModuleStateStorage.update"
            args="{args -> f:format.json() -> f:format.htmlspecialchars()}"
        ></typo3-immediate-action>
    </f:if>
</f:section>

<f:section name="Content">

    <f:if condition="{accessContent}">
        <f:then>
            <h1><f:translate key="LLL:EXT:info/Resources/Private/Language/locallang_webinfo.xlf:lang_title" /></h1>
            <f:if condition="{content}">
                <form action="{f:be.uri(route: 'web_info_translations', parameters: '{id: pageUid}')}" method="post" id="InfoModuleController" name="webinfoForm">
                    <div class="form-row">
                        <div class="form-group">
                            <label class="form-label" for="depth">
                                <f:translate key="LLL:EXT:info/Resources/Private/Language/locallang_webinfo.xlf:moduleFunctions.depth" />
                            </label>
                            <f:render partial="DropdownMenu" arguments="{name: 'depth', id: 'depth', options: depthDropdownOptions, currentValue: depthDropdownCurrentValue}"/>
                        </div>
                        <f:if condition="{displayLangDropdown}">
                            <div class="form-group">
                                <label class="form-label" for="lang">
                                    <f:translate key="LLL:EXT:info/Resources/Private/Language/locallang_webinfo.xlf:moduleFunctions.lang" />
                                </label>
                                <f:render partial="DropdownMenu" arguments="{name: 'lang', id: 'lang', options: langDropdownOptions, currentValue: langDropdownCurrentValue}"/>
                            </div>
                        </f:if>
                    </div>
                    <f:format.raw>{content}</f:format.raw>
                </form>
            </f:if>
        </f:then>
        <f:else>
            <f:be.infobox title="{f:translate(key: 'LLL:EXT:info/Resources/Private/Language/locallang_mod_web_info.xlf:title')}" state="2">
                <p><f:translate key="LLL:EXT:info/Resources/Private/Language/locallang_mod_web_info.xlf:message" /></p>
            </f:be.infobox>
        </f:else>
    </f:if>

</f:section>

</html>
