/*!
 * This file is part of the TYPO3 CMS project.
 * 
 * It is free software; you can redistribute it and/or modify it under
 * the terms of the GNU General Public License, either version 2
 * of the License, or any later version.
 * 
 * For the full copyright and license information, please read the
 * LICENSE.txt file that was distributed with this source code.
 * 
 * The TYPO3 project - inspiring people to share!
 */
.CodeMirror-fullscreen{top:64px}.CodeMirror-panel{background:#f7f7f7;padding:3px 6px;font-size:.85em}.CodeMirror-panel-bottom{border-top:1px solid #ddd}div.CodeMirror span.CodeMirror-matchingbracket{color:#6ca52b}