/*!
 * This file is part of the TYPO3 CMS project.
 * 
 * It is free software; you can redistribute it and/or modify it under
 * the terms of the GNU General Public License, either version 2
 * of the License, or any later version.
 * 
 * For the full copyright and license information, please read the
 * LICENSE.txt file that was distributed with this source code.
 * 
 * The TYPO3 project - inspiring people to share!
 */
.ts-condition,.ts-error,.ts-operator{font-weight:700}.other{color:#000}.ts-value{color:#dd123d}.keyword,.keyword2,.keyword3,.reserved,.ts-objstr,.ts-operator{color:#0080ff}.ts-value_copy{color:#006400}.ts-default,.ts-ignored,.ts-value_unset{background-color:#5abc55}.ts-comment{font-style:italic;color:#737373}.ts-condition{color:#fff;background-color:maroon}.ts-error{border:1px dashed #dd123d;background-color:#ffc800}.highlight-bracket{color:#fff;background-color:#5abc55}.error-bracket{color:#fff;background-color:#dd123d}.editbox,pre.code{color:#737373}