{namespace formvh=TYPO3\CMS\Form\ViewHelpers}
<f:layout name="Field" />
<f:section name="field">
    <div id="{element.uniqueIdentifier}" class="inputs-list">
        <div class="form-group">
            <f:for each="{element.properties.options}" as="label" key="value">
                <div class="form-check">
                    <label class="form-check-label">
                        <f:form.radio
                                property="{element.identifier}"
                                class="{element.properties.elementClassAttribute} form-check-input"
                                value="{value}"
                                errorClass="{element.properties.elementErrorClassAttribute}"
                                additionalAttributes="{f:if(condition: '{element.required}', then: '{required: \'required\'}')}"
                        />
                        <span>{formvh:translateElementProperty(element: element, property: 'options.{value}')}</span>
                    </label>
                </div>
            </f:for>
        </div>
    </div>
</f:section>