/* Selectors for the TYPO3 Link plugin of htmlArea RTE */
/* TYPO3 SVN ID: $Id$ */
.htmlarea .toolbar .CreateLink {background-image:url("images/link.gif");}
.htmlarea .toolbar .UnLink {background-image:url("images/unlink.gif");}
