<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" xmlns:formvh="http://typo3.org/ns/TYPO3/CMS/Form/ViewHelpers" data-namespace-typo3-fluid="true">
<div class="meta-label">
	<span data-template-property="_type"></span>: <span data-template-property="_identifier"></span>
</div>
<div class="t3-form-form-element-body">
	<div class="t3-form-icon-container">
		<span data-identifier="elementIcon"></span>
	</div>
	<div class="t3-form-element-info">
		<div class="element-label-container">
			<div class="element-label">
				<span data-template-property="label"></span>
				<span data-template-property="_required"></span>
			</div>
		</div>
		<div class="element-content">
			<div data-template-property="properties.text" />
		</div>
	</div>
	<div class="t3-form-validator-info" data-identifier="validators">
		<span data-identifier="validatorIcon"></span>
		<div class="t3-form-validator-list">
			<div data-identifier="validatorsContainer">
				<div class="validator-label" data-template-property="_label"></div>
			</div>
		</div>
	</div>
</div>
</html>
