<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">

<h1><f:translate key="LLL:EXT:backend/Resources/Private/Language/locallang_mfa.xlf:setup.title" arguments="{0: '{provider.title -> f:translate(id: provider.title)}'}"/></h1>

<div class="row g-6">
    <div class="col">
        <form
            action="{f:be.uri(route:'mfa', parameters:'{action: \'activate\'}')}"
            method="post"
            enctype="multipart/form-data"
            name="setup"
            id="mfaConfigurationController">
            <input type="hidden" name="identifier" value="{provider.identifier}" />
            {providerContent -> f:format.raw()}
        </form>
    </div>
    <f:if condition="{provider.setupInstructions}">
        <div class="col-md-4">
            <f:render partial="Mfa/SetupInstructions" arguments="{provider: provider}" />
        </div>
    </f:if>
</div>

</html>
