{namespace bu = TYPO3\CMS\Beuser\ViewHelpers}

<bu:section title="Filter" collapsible="TRUE">
	<f:form action="index" objectName="demand" object="{demand}" class="form-horizontal">
		<div class="form-group">
			<label for="tx_Beuser_username" class="col-sm-4 control-label"><f:translate key="userName">Username</f:translate></label>
			<div class="col-sm-8">
				<f:form.textfield
					id="tx_Beuser_username"
					class="form-control"
					property="userName"
				/>
			</div>
		</div>
		<div class="form-group">
			<label for="tx_Beuser_usertype" class="col-sm-4 control-label"><f:translate key="admin">Admin</f:translate></label>
			<div class="col-sm-8">
				<f:form.select
					id="tx_Beuser_usertype"
					class="form-control"
					property="userType"
					options="{0: '{f:translate(key:\"both\")}', 1: '{f:translate(key:\"adminOnly\")}', 2: '{f:translate(key:\"normalUserOnly\")}'}"
				/>
			</div>
		</div>
		<div class="form-group">
			<label for="tx_Beuser_status" class="col-sm-4 control-label"><f:translate key="status">Status</f:translate></label>
			<div class="col-sm-8">
				<f:form.select
					id="tx_Beuser_status"
					class="form-control"
					property="status"
					options="{0: '{f:translate(key:\"both\")}', 1: '{f:translate(key:\"activeOnly\")}', 2: '{f:translate(key:\"inactiveOnly\")}'}"
				/>
			</div>
		</div>
		<div class="form-group">
			<label for="tx_Beuser_logins" class="col-sm-4 control-label"><f:translate key="login">Login</f:translate></label>
			<div class="col-sm-8">
				<f:form.select
					id="tx_Beuser_logins"
					class="form-control"
					property="logins"
					options="{0: '{f:translate(key:\"both\")}', 1: '{f:translate(key:\"loginBefore\")}', 2: '{f:translate(key:\"neverLoggedIn\")}'}"
				/>
			</div>
		</div>
		<div class="form-group">
			<label for="tx_beuser_backendUserGroup" class="col-sm-4 control-label"><f:translate key="backendUserGroup">User Group</f:translate></label>
			<div class="col-sm-8">
				<f:form.select
					id="tx_beuser_backendUserGroup"
					class="form-control"
					property="backendUserGroup"
					options="{backendUserGroups}"
					optionLabelField="title"
					optionValueField="uid"
				/>
			</div>
		</div>
		<div class="form-group">
			<div class="col-sm-offset-4 col-sm-8">
				<f:form.submit value="{f:translate(key: 'filter')}" />
			</div>
		</div>

	</f:form>
</bu:section>