{namespace bu = TYPO3\CMS\Beuser\ViewHelpers}

<bu:section title="Filter" collapsible="TRUE">
	<f:form action="index" objectName="demand" object="{demand}">
		<div>
			<label for="tx_Beuser_username"><f:translate key="userName">Username</f:translate></label>
			<f:form.textfield
				id="tx_Beuser_username"
				property="userName"
			/>
		</div>
		<div>
			<label for="tx_Beuser_usertype"><f:translate key="admin">Admin</f:translate></label>
			<f:form.select
				id="tx_Beuser_usertype"
				property="userType"
				options="{0: '{f:translate(key:\"both\")}', 1: '{f:translate(key:\"adminOnly\")}', 2: '{f:translate(key:\"normalUserOnly\")}'}"
			/>
		</div>
		<div>
			<label for="tx_Beuser_status"><f:translate key="status">Status</f:translate></label>
			<f:form.select
				id="tx_Beuser_status"
				property="status"
				options="{0: '{f:translate(key:\"both\")}', 1: '{f:translate(key:\"activeOnly\")}', 2: '{f:translate(key:\"inactiveOnly\")}'}"
			/>
		</div>
		<div>
			<label for="tx_Beuser_logins"><f:translate key="login">Login</f:translate></label>
			<f:form.select
				id="tx_Beuser_logins"
				property="logins"
				options="{0: '{f:translate(key:\"both\")}', 1: '{f:translate(key:\"loginBefore\")}', 2: '{f:translate(key:\"neverLoggedIn\")}'}"
			/>
		</div>
		<div>
			<label for="tx_beuser_backendUserGroup"><f:translate key="backendUserGroup">User Group</f:translate></label>
			<f:form.select
				id="tx_beuser_backendUserGroup"
				property="backendUserGroup"
				options="{backendUserGroups}"
				optionLabelField="title"
				optionValueField="uid"
			/>
		</div>
		<f:form.submit class="indent" value="{f:translate(key: 'filter')}" />
	</f:form>
</bu:section>