
<f:form action="index" objectName="demand" object="{demand}" class="form-inline form-inline-spaced">
	<div class="form-group">
		<label for="tx_Beuser_username"><f:translate key="userName">Username</f:translate></label>
		<div class="input-group">
			<f:form.textfield
				id="tx_Beuser_username"
				class="form-control input-sm"
				property="userName"
			/>
		</div>
	</div>
	<div class="form-group">
		<label for="tx_Beuser_usertype"><f:translate key="admin">Admin</f:translate></label>
		<f:form.select
			id="tx_Beuser_usertype"
			class="form-control input-sm"
			property="userType"
			options="{0: '{f:translate(key:\"both\")}', 1: '{f:translate(key:\"adminOnly\")}', 2: '{f:translate(key:\"normalUserOnly\")}'}"
		/>
	</div>
	<div class="form-group">
		<label for="tx_Beuser_status"><f:translate key="status">Status</f:translate></label>
		<f:form.select
			id="tx_Beuser_status"
			class="form-control input-sm"
			property="status"
			options="{0: '{f:translate(key:\"both\")}', 1: '{f:translate(key:\"activeOnly\")}', 2: '{f:translate(key:\"inactiveOnly\")}'}"
		/>
	</div>
	<div class="form-group">
		<label for="tx_Beuser_logins"><f:translate key="login">Login</f:translate></label>
		<f:form.select
			id="tx_Beuser_logins"
			class="form-control input-sm"
			property="logins"
			options="{0: '{f:translate(key:\"both\")}', 1: '{f:translate(key:\"loginBefore\")}', 2: '{f:translate(key:\"neverLoggedIn\")}'}"
		/>
	</div>
	<div class="form-group">
		<label for="tx_beuser_backendUserGroup"><f:translate key="backendUserGroup">User Group</f:translate></label>
		<f:form.select
			id="tx_beuser_backendUserGroup"
			class="form-control input-sm"
			property="backendUserGroup"
			options="{backendUserGroups}"
			optionLabelField="title"
			optionValueField="uid"
		/>
	</div>
	<div class="form-group">
		<f:form.submit value="{f:translate(key: 'filter')}" class="btn btn-default btn-sm" />
	</div>
</f:form>
