/*!
 * This file is part of the TYPO3 CMS project.
 * 
 * It is free software; you can redistribute it and/or modify it under
 * the terms of the GNU General Public License, either version 2
 * of the License, or any later version.
 * 
 * For the full copyright and license information, please read the
 * LICENSE.txt file that was distributed with this source code.
 * 
 * The TYPO3 project - inspiring people to share!
 */
.dashboard-modal-tabpanel .nav{margin:-15px -15px 0;padding:15px 15px 0}
.dashboard-modal-items{display:grid;grid-template-columns:repeat(2,1fr);gap:var(--typo3-spacing)}
.dashboard-modal-item-block{display:flex;text-align:left;font-weight:400;height:100%;gap:var(--typo3-spacing);color:var(--typo3-component-color);padding:var(--typo3-component-padding-y) var(--typo3-component-padding-x);border:var(--typo3-component-border-width) solid var(--typo3-component-border-color);border-radius:var(--typo3-component-border-radius);background-color:var(--typo3-component-bg);box-shadow:var(--typo3-component-box-shadow);grid-column:span 2}
.dashboard-modal-item-block>*{-webkit-user-select:none;-moz-user-select:none;user-select:none}
.dashboard-modal-item-block:hover{color:var(--typo3-component-hover-color);border:var(--typo3-component-border-width) solid var(--typo3-component-hover-border-color);background-color:var(--typo3-component-hover-bg)}
@media screen and (min-width:768px){
.dashboard-modal-item-block{grid-column:span 1}
}
.dashboard-modal-item-checkbox{position:absolute;width:0;height:0;opacity:0;cursor:pointer}
.dashboard-modal-item-checkbox:focus~.dashboard-modal-item-block{color:var(--typo3-component-focus-color);border:var(--typo3-component-border-width) solid var(--typo3-component-focus-border-color);background-color:var(--typo3-component-focus-bg);outline:var(--typo3-outline-width) var(--typo3-outline-style) color-mix(in srgb,var(--typo3-component-focus-border-color),transparent 25%)}
.dashboard-modal-item-checkbox:checked~.dashboard-modal-item-block{color:var(--typo3-component-active-color);border:var(--typo3-component-border-width) solid var(--typo3-component-active-border-color);background-color:var(--typo3-component-active-bg)}
.dashboard-modal-item-checkbox:focus:checked~.dashboard-modal-item-block{outline:var(--typo3-outline-width) var(--typo3-outline-style) color-mix(in srgb,var(--typo3-component-active-border-color),transparent 25%)}
.dashboard-modal-item-title{display:block;font-weight:700}