/*!
 * This file is part of the TYPO3 CMS project.
 * 
 * It is free software; you can redistribute it and/or modify it under
 * the terms of the GNU General Public License, either version 2
 * of the License, or any later version.
 * 
 * For the full copyright and license information, please read the
 * LICENSE.txt file that was distributed with this source code.
 * 
 * The TYPO3 project - inspiring people to share!
 */
.dashboard-modal-tabpanel .nav{margin:-15px -15px 0;padding:15px 15px 0}
.dashboard-modal-items{display:grid;gap:var(--typo3-spacing);grid-template-columns:repeat(2,1fr)}
.dashboard-modal-item-block{background-color:var(--typo3-component-bg);border:var(--typo3-component-border-width) solid var(--typo3-component-border-color);border-radius:var(--typo3-component-border-radius);box-shadow:var(--typo3-component-box-shadow);color:var(--typo3-component-color);display:flex;font-weight:400;gap:var(--typo3-spacing);grid-column:span 2;height:100%;padding:var(--typo3-component-padding-y) var(--typo3-component-padding-x);text-align:left}
.dashboard-modal-item-block>*{-webkit-user-select:none;-moz-user-select:none;user-select:none}
.dashboard-modal-item-block:hover{background-color:var(--typo3-component-hover-bg);border:var(--typo3-component-border-width) solid var(--typo3-component-hover-border-color);color:var(--typo3-component-hover-color)}
@media screen and (min-width:768px){
.dashboard-modal-item-block{grid-column:span 1}}
.dashboard-modal-item-checkbox{cursor:pointer;height:0;opacity:0;position:absolute;width:0}
.dashboard-modal-item-checkbox:focus~.dashboard-modal-item-block{background-color:var(--typo3-component-focus-bg);border:var(--typo3-component-border-width) solid var(--typo3-component-focus-border-color);color:var(--typo3-component-focus-color);outline:var(--typo3-outline-width) var(--typo3-outline-style) color-mix(in srgb,var(--typo3-component-focus-border-color),transparent 25%)}
.dashboard-modal-item-checkbox:checked~.dashboard-modal-item-block{background-color:var(--typo3-component-active-bg);border:var(--typo3-component-border-width) solid var(--typo3-component-active-border-color);color:var(--typo3-component-active-color)}
.dashboard-modal-item-checkbox:focus:checked~.dashboard-modal-item-block{outline:var(--typo3-outline-width) var(--typo3-outline-style) color-mix(in srgb,var(--typo3-component-active-border-color),transparent 25%)}
.dashboard-modal-item-title{display:block;font-weight:700}