@import url("bootstrap.css");
/* Selectors for the htmlArea RTE editor */
.htmlarea {
 	margin: 2px;
 	padding: 0;
}
.pleasewait {
 	position: relative;
 	margin-top:30px;
 	padding: 20px 0 20px 50px;
 	font-size: 11px !important;
 	text-align: left;
	background: url("../../Images/Status/loading.gif") no-repeat 10px center;
	vertical-align: middle;
}
.editorWrap {
 	margin: 0;
 	margin-top: 2px;
 	padding: 0;
}
.editorWrap textarea {
	border-style: solid;
	border-color: #C7C7C7;
	border-width: 0px 1px 1px 1px;
	padding: 0px 1px;
	margin: 0;
}
/* Selectors for the editor toolbar */
.htmlarea .btn-toolbar {
	margin-left: -3px;
	padding: 2px 2px 2px 0;
}
.htmlarea .btn-toolbar:before,
.htmlarea .btn-toolbar:after {
	content: " ";
	display: table;
}
.htmlarea .btn-toolbar:after {
	clear: both;
}
.htmlarea .btn-toolbar .btn-group {
	margin: 1px 3px;
}
.htmlarea .btn-toolbar .btn {
	display: inline-block;
	padding: 0;
}
.htmlarea .btn-toolbar .btn-sm {
	/*background-color: transparent;*/
	height: 24px;
	margin: 1px 0;
	padding: 2px 0 0 2px;
	width: 24px;
}
.htmlarea .btn-toolbar .btn-sm + .btn-sm {
	border-left: 0;
}
.htmlarea .btn-toolbar .btn-sm:not(:last-child) {
	border-right: 0;
}
.htmlarea .btn-toolbar .btn-icon {
	background-image: url("../../Images/Sprites/actions.png");
	background-repeat: no-repeat;
	display: inline-block;
	height: 18px;
	width: 20px;
}
.htmlarea .btn-toolbar .btn-sm:hover {
	background-color: #dcdcdc;
}
.htmlarea .btn-toolbar .active,
.htmlarea-context-menu .active {
	border-style: solid;
	border-width: 1px;
	border-color: #C5C5D5 #C5C5D5 #C5C5D5 #C5C5D5;
	background-color: #ffffff;
	text-decoration: none;
	opacity: 1.00;
}
.htmlarea .btn-toolbar .toolbar-text {
	width: auto;
}
.htmlarea .btn-toolbar .indicator {
	cursor: default;
	height: 24px;
	text-align: center;
	width: 24px;
}
.htmlarea .btn-toolbar .space {
	background-color: transparent;
	border-style: none;
	display: block;
	float: left;
	height: 26px;
	margin: 0;
	padding: 0 1px;
	width: 2px;
}
.htmlarea .btn-toolbar .space-clear-left {
	clear: left;
	display: block;
	font-size: 0;
	height: 0;
	line-height: 0;
	overflow: hidden;
}
.htmlarea .btn-toolbar .form-group {
	display: inline-block;
	height: 26px;
	margin: 0 2px 0px 2px;
}
.htmlarea .btn-toolbar .form-label {
	display: inline-block;
	font-weight: normal;
	height: 24px;
	margin: 0;
	padding: 0 2px;
	width: auto;
}
.htmlarea .btn-toolbar .form-control {
	border-color: #cccccc;
	display: inline-block;
	font-size: 12px;
	height: 24px;
	margin: 0;
	padding: 2px 1px;
}
.htmlarea .btn-toolbar .btn-sm[disabled] .btn-icon,
.htmlarea .btn-toolbar .form-control[disabled],
.htmlarea .btn-toolbar .toolbar-text[disabled] {
	cursor: default;
	filter: gray() alpha(opacity=40);
	-moz-opacity: 0.4;
	opacity: 0.4;
}
.htmlarea .btn-toolbar .form-control option {
	padding: 2px;
}
.htmlarea .editorIframe {
	border: 1px solid #c7c7c7;
	/*border-bottom: none;*/
	border-radius: 2px;
	clear: both;
	margin: 0;
	padding: 0;
}
.htmlarea .noStatusBar {
	border-bottom: 1px solid #c7c7c7;
}
.htmlarea .statusBar {
	border: 1px solid #c7c7c7;
	border-radius: 2px;
	color: #333333;
	background-color: #eeeeee;
	font-size: 10px;
	line-height: 20px;
	margin: 0;
	padding: 1px 3px;
}
.htmlarea .statusBar .statusBarTree a {
	font-weight: bold;
	padding: 0px 5px;
	text-decoration: none;
}
.htmlarea .statusBar .statusBarTree a:hover {
	text-decoration: underline;
}
.htmlarea .statusBar .statusBarWordCount {
	float: right;
	padding-right: 8px;
}
/* Selectors for dialogue windows */
.htmlarea-window .x-panel-icon {
	background-image: url("../../Images/Sprites/actions.png");
	background-repeat: no-repeat;
	margin-top: 2px;
	height: 22px;
}
.htmlarea-window .x-window-header-text {
	display: inline-block;
	margin-top: -4px !important;
	vertical-align: top;
}
.htmlarea-window .x-window-header .t3-help-link {
	color: white;
}
.htmlarea-window ul.x-tab-strip {
	list-style: none;
}
.htmlarea-window .x-tab-panel-body {
	background-color: #EFEFF4;
	padding-bottom: 10px;
	padding-left: 3px;
}
.htmlarea-window .x-tab-panel-body h1 {
	padding-left: 3px;
}
.htmlarea-window .x-fieldset {
	margin: 3px;
}
.htmlarea-window .x-fieldset legend {
	border: none;
	font-size: 12px;
	margin: 0;
	padding: 0 2px;
	text-align: left;
}
/* IE legend positioning bug */
.ext-ie .htmlarea-window .x-fieldset legend,
.ext-ie .htmlarea-window .x-fieldset legend span {
	display: block;
	float: left;
}
.ext-ie .htmlarea-window .x-fieldset-bwrap {
	clear: left;
}
/* Selector htmlarea-window-table is used in the element browsers */
#typo3-curUrl {
	margin-left: 10px;
}
.htmlarea-window-table td {
	padding: 0 2px;
}
.htmlarea-window-table td label {
	display: inline-block;
	height: 100%;
	vertical-align: top;
}
.htmlarea-window-table input[type="checkbox"] {
	margin-bottom: 10px;
	margin-top: 7px;
}
.htmlarea-window-table select {
	border: solid 1px #888;
	height: 23px;
	margin-bottom: 5px;
	padding-left: 3px;
}
.htmlarea-window-table option {
	line-height: normal;
	padding-bottom: 3px;
	padding-top: 3px;
}
.htmlarea-window .x-form-item-label {
	font-size: 10px;
	text-align: right;
	margin: 0;
	padding: 3px 5px 0 5px;
}
.htmlarea-window .x-btn-text {
	font-weight: normal;
	color: black;
}
.htmlarea-window .x-form-check-wrap {
	padding-top: 3px;
}
.htmlarea-window iframe {
	background-color: white;
	color: black;
	border: 1px solid #A2AAB8;
}
.htmlarea-window iframe.content-iframe {
	background-color: #E4E0DB;
}
.htmlarea-window .show-color {
	margin-top: 10px;
	border-style: solid;
	border-width: 1px;
	border-color: white;
}
.htmlarea-custom-colors a {
	border-color: transparent;
	float: none;
	display: block;
	width: 100%;
}
.htmlarea-custom-colors {
	height: auto;
}
.htmlarea-custom-colors em {
	display: block;
	border: 1px solid;
	border-color: #C5C5D5;
	width: 100%;
}
.htmlarea-custom-colors em span {
	width: 100%;
}
/* Selectors for the About dialogue */
.htmlarea-window .about h1 {
	font-size: 14px !important;
	font-weight: bold !important;
}
.htmlarea-window .about-plugins em {
	font-weight: normal;
	font-size: 12px;
	font-style: normal;
}
.htmlarea-window .about-plugins .x-list-body dt {
	overflow: auto;
	white-space: normal;
}
.htmlarea-window .about a,
.htmlarea-window .about-plugins a {
	font-weight: bold;
	font-style: normal;
}
/* Selectors for the default image dialogue */
.htmlarea-window .image-preview {
    height: 300px;
    width: 99%;
    float: right;
}
/* Selectors for the InsertSmiley plugin */
.htmlarea-window .emoticon-array {
	padding: 10px;
}
.htmlarea-window .emoticon {
	display: block;
	float: left;
	padding: 0 5px 10px 5px;
	width: 20px;
	height: 28px;
	vertical-align: middle;
}
/* Selectors for the CharacterMap dialogue */
.htmlarea-window .character-map .character {
	display: block;
	float: left;
	height: 26px;
	width: 20px;
	font-size: 14px;
	font-weight: bold;
	text-align: center;
	padding-bottom: 3px;
	border: 1px solid transparent;
}
.htmlarea-window .character-map .character:hover {
	background-color: white;
	border: 1px solid #A2AAB8;
}
/* Selectors for the SpellChecker dialogue */
.htmlarea-window .spell-check .controls {
	text-align: center;
	width: 175px;
	margin: 3px;
}
.htmlarea-window .spell-check .controls .x-btn {
	margin-top: 3px;
	margin-left: 8px;
}
.htmlarea-window .spell-check .contentframe {
	float: right;
	height: 450px;
	margin: 9px 0px;
}
/* Selectors for the ContextMenu plugin */
.htmlarea-context-menu {
	background-color:#EFEFF4;
	color:#212424;
	font-family: Verdana, Helvetica, Geneva, Arial, sans-serif;
	font-size:10px;
}
.htmlarea-context-menu ul {
	list-style: none;
	margin: 0;
}
.htmlarea-context-menu li {
	margin: 0;
	padding: 0;
	border-width: 0;
}
.htmlarea-context-menu a {
	font-weight: normal;
}
.htmlarea-context-menu .button {
	background-color: transparent;
	margin: 0 2px 0 0;
	padding-top: 1px;
}
.htmlarea-context-menu .separator {
	border-top: 1px solid #A2AAB8;
}
.htmlarea-context-menu .hover {
	background-image: url("../../Images/alt_menu_mainitem_bg.gif");
	background-repeat: repeat-x;
	color: white;
	margin: 0 2px 0 0;
	padding-top: 1px;
	border-color: #A2AAB8;
}
.htmlarea-context-menu .x-menu-item-icon {
	background-image: url("../../Images/Sprites/actions.png");
	background-repeat: no-repeat;
	margin-top: -2px;
	margin-left: -2px;
	width: 18px;
	height: 18px;
}
/* Window status bar selectors */
.htmlarea-window .status-ready {
	padding-left: 21px !important;
	background-repeat: no-repeat;
	background-image: url("../../Images/dialog-ok.png");
	background-position: 0px 2px;
}
.htmlarea-window .status-info {
	padding-left: 21px !important;
	background-repeat: no-repeat;
	background-image: url("../../Images/dialog-information.png");
	background-position: 0px 2px;
}
.htmlarea-window .status-wait {
	padding-left: 45px !important;
	background-repeat: no-repeat;
	background-image:url("../../Images/loading-balls.gif");
	background-position: 0px 6px;
}
.htmlarea-window .x-toolbar .x-btn {
	margin-left: 5px;
}
.htmlarea-window .x-toolbar .xtb-text {
	cursor: default;
}
/* Button background positioning in window status bar*/
.htmlarea-window .x-toolbar .x-btn-tl{
	background-position: 0 0;
}
.htmlarea-window .x-toolbar .x-btn-tr{
	background-position: -3px 0;
}
.htmlarea-window .x-toolbar .x-btn-tc{
	background-position: 0 -6px;
}
.htmlarea-window .x-toolbar .x-btn-ml{
	background-position: 0 -24px;
}
.htmlarea-window .x-toolbar .x-btn-mr{
	background-position: -3px -24px;
}
.htmlarea-window .x-toolbar .x-btn-mc{
	background-position: 0 -1096px;
}
.htmlarea-window .x-toolbar .x-btn-bl{
	background-position: 0 -3px;
}
.htmlarea-window .x-toolbar .x-btn-br{
	background-position: -3px -3px;
}
.htmlarea-window .x-toolbar .x-btn-bc{
	background-position: 0 -15px;
}
/* Action icon selectors for toolbar, context menu and window headers */
.htmlarea-action-abbreviation-edit { background-position: 0 0 !important; }
.htmlarea-action-bidi-override { background-position: 0 -58px !important; }
.htmlarea-action-big { background-position: 0 -116px !important; }
.htmlarea-action-blockquote { background-position: 0 -174px !important; }
.htmlarea-action-bold { background-position: 0 -232px !important; }
.htmlarea-action-cell-delete { background-position: 0 -290px !important; }
.htmlarea-action-cell-edit-properties { background-position: 0 -348px !important; }
.htmlarea-action-cell-insert-after { background-position: 0 -406px !important; }
.htmlarea-action-cell-insert-before { background-position: 0 -464px !important; }
.htmlarea-action-cell-merge { background-position: 0 -522px !important; }
.htmlarea-action-cell-split { background-position: 0 -580px !important; }
.htmlarea-action-character-insert-from-map { background-position: 0 -638px !important; }
.htmlarea-action-citation { background-position: 0 -696px !important; }
.htmlarea-action-code { background-position: 0 -754px !important; }
.htmlarea-action-color-background { background-position: 0 -812px !important; }
.htmlarea-action-color-foreground { background-position: 0 -870px !important; }
.htmlarea-action-column-delete { background-position: 0 -928px !important; }
.htmlarea-action-column-edit-properties { background-position: 0 -986px !important; }
.htmlarea-action-column-insert-after { background-position: 0 -1044px !important; }
.htmlarea-action-column-insert-before { background-position: 0 -1102px !important; }
.htmlarea-action-column-split { background-position: 0 -1160px !important; }
.htmlarea-action-copy { background-position: 0 -1218px !important; }
.htmlarea-action-cut { background-position: 0 -1276px !important; }
.htmlarea-action-definition-list-item { background-position: 0 -1334px !important; }
.htmlarea-action-definition-list { background-position: 0 -1392px !important; }
.htmlarea-action-definition { background-position: 0 -1450px !important; }
.htmlarea-action-delete-item { background-position: 0 -1508px !important; }
.htmlarea-action-deleted-text { background-position: 0 -1566px !important; }
.htmlarea-action-editor-show-about { background-position: 0 -1624px !important; }
.htmlarea-action-editor-toggle-mode { background-position: 0 -1682px !important; }
.htmlarea-action-element-edit { background-position: 0 -1740px !important; }
.htmlarea-action-emphasis { background-position: 0 -1798px !important; }
.htmlarea-action-find-replace { background-position: 0 -1856px !important; }
.htmlarea-action-horizontal-rule-insert { background-position: 0 -1914px !important; }
.htmlarea-action-image-edit { background-position: 0 -1972px !important; }
.htmlarea-action-indent { background-position: 0 -2030px !important; }
.htmlarea-action-inserted-text { background-position: 0 -2088px !important; }
.htmlarea-action-italic { background-position: 0 -2146px !important; }
.htmlarea-action-justify-center { background-position: 0 -2204px !important; }
.htmlarea-action-justify-full { background-position: 0 -2262px !important; }
.htmlarea-action-justify-left { background-position: 0 -2320px !important; }
.htmlarea-action-justify-right { background-position: 0 -2378px !important; }
.htmlarea-action-keyboard { background-position: 0 -2436px !important; }
.htmlarea-action-language-marks-show { background-position: 0 -2494px !important; }
.htmlarea-action-link-edit { background-position: 0 -2552px !important; }
.htmlarea-action-microdata-show { background-position: 0 -2610px !important; }
.htmlarea-action-mono-spaced { background-position: 0 -2668px !important; }
.htmlarea-action-ordered-list { background-position: 0 -2726px !important; }
.htmlarea-action-outdent { background-position: 0 -2784px !important; }
.htmlarea-action-paragraph-insert-after { background-position: 0 -2842px !important; }
.htmlarea-action-paragraph-insert-before { background-position: 0 -2900px !important; }
.htmlarea-action-paste-behaviour { background-position: 0 -2958px !important; }
.htmlarea-action-paste-toggle { background-position: 0 -3016px !important; }
.htmlarea-action-paste { background-position: 0 -3074px !important; }
.htmlarea-action-quotation { background-position: 0 -3132px !important; }
.htmlarea-action-redo { background-position: 0 -3190px !important; }
.htmlarea-action-remove-format { background-position: 0 -3248px !important; }
.htmlarea-action-row-delete { background-position: 0 -3306px !important; }
.htmlarea-action-row-edit-properties { background-position: 0 -3364px !important; }
.htmlarea-action-row-insert-above { background-position: 0 -3422px !important; }
.htmlarea-action-row-insert-under { background-position: 0 -3480px !important; }
.htmlarea-action-row-split { background-position: 0 -3538px !important; }
.htmlarea-action-sample { background-position: 0 -3596px !important; }
.htmlarea-action-small { background-position: 0 -3654px !important; }
.htmlarea-action-smiley-insert { background-position: 0 -3712px !important; }
.htmlarea-action-soft-hyphen-insert { background-position: 0 -3770px !important; }
.htmlarea-action-span { background-position: 0 -3828px !important; }
.htmlarea-action-spell-check { background-position: 0 -3886px !important; }
.htmlarea-action-strike-through { background-position: 0 -3944px !important; }
.htmlarea-action-strong { background-position: 0 -4002px !important; }
.htmlarea-action-subscript { background-position: 0 -4060px !important; }
.htmlarea-action-superscript { background-position: 0 -4118px !important; }
.htmlarea-action-table-edit-properties { background-position: 0 -4176px !important; }
.htmlarea-action-table-insert { background-position: 0 -4234px !important; }
.htmlarea-action-table-restyle { background-position: 0 -4292px !important; }
.htmlarea-action-table-show-borders { background-position: 0 -4350px !important; }
.htmlarea-action-tag-insert { background-position: 0 -4408px !important; }
.htmlarea-action-text-direction-left-to-right { background-position: 0 -4466px !important; }
.htmlarea-action-text-direction-right-to-left { background-position: 0 -4524px !important; }
.htmlarea-action-underline { background-position: 0 -4582px !important; }
.htmlarea-action-undo { background-position: 0 -4640px !important; }
.htmlarea-action-unlink { background-position: 0 -4698px !important; }
.htmlarea-action-unordered-list { background-position: 0 -4756px !important; }
.htmlarea-action-user-element-edit { background-position: 0 -4814px !important; }
.htmlarea-action-variable { background-position: 0 -4872px !important; }

/* ExtJs combo boxes */
.x-combo-list {
	border-color:#bcbcbc;
	background-color:#eaeaea;
}
.x-combo-list-inner {
	background-color:#fff;
}
.x-combo-list-hd {
	color:#55545E;
	background-image: url(../../Images/panel-title-light-bg.gif);
	border-bottom-color:#bcbcbc;
}
.x-combo-list-item {
	border-color:#fff;
}
.x-combo-list .x-combo-selected {
	border-color:#b9b9b9 !important;
	background-color:#e7e7e7;
}
.x-combo-list .x-toolbar {
	border-top-color:#bcbcbc;
}
