<html
    xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    xmlns:core="http://typo3.org/ns/TYPO3/CMS/Core/ViewHelpers"
    xmlns:sg="http://typo3.org/ns/TYPO3/CMS/Styleguide/ViewHelpers"
    data-namespace-typo3-fluid="true"
>

<f:layout name="Module" />

<f:section name="Before">
    <f:asset.module identifier="@typo3/styleguide/find-icons.js"/>
</f:section>

<f:section name="Content">

    <f:render
        partial="Backend/Navigation"
        arguments="{
            currentAction: currentAction,
            actions: actions,
            route: routeIdentifier
        }"
    />

    <div class="styleguide-content">
        <h1><f:translate key="LLL:EXT:styleguide/Resources/Private/Language/locallang.xlf:styles.icons.headline" /></h1>
        <p><f:translate key="LLL:EXT:styleguide/Resources/Private/Language/locallang.xlf:styles.icons.introtext" /></p>

        <h2><f:translate key="LLL:EXT:styleguide/Resources/Private/Language/locallang.xlf:styles.icons.section.default.headline" /></h2>
        <f:variable name="codeSnippetDefault">
            &lt;core:icon identifier="actions-brand-typo3" size="small" /&gt;
        </f:variable>
        <sg:example codePreview="true" codeLanguage="html" customCode="{codeSnippetDefault}" decodeEntities="true">
            <core:icon identifier="actions-brand-typo3" size="small" />
        </sg:example>

        <h2><f:translate key="LLL:EXT:styleguide/Resources/Private/Language/locallang.xlf:styles.icons.section.usage.headline" /></h2>

        <h3><f:translate key="LLL:EXT:styleguide/Resources/Private/Language/locallang.xlf:styles.icons.section.usage.svg.headline" /></h3>
        <p><f:translate key="LLL:EXT:styleguide/Resources/Private/Language/locallang.xlf:styles.icons.section.usage.registration" /></p>
        <sg:code language="php">
            $iconRegistry->registerIcon(
                'provider-svg',
                \TYPO3\CMS\Core\Imaging\IconProvider\SvgIconProvider::class,
                ['source' => 'EXT:icon_api/Resources/Public/Icons/provider_svg_icon.svg']
            );
        </sg:code>

        <p><f:translate key="LLL:EXT:styleguide/Resources/Private/Language/locallang.xlf:styles.icons.section.usage.implementation" /></p>
        <f:variable name="codeSnippetImplementationSvg">
            &lt;core:icon identifier="provider-svg" size="small" /&gt;
        </f:variable>
        <sg:example codePreview="true" codeLanguage="html" customCode="{codeSnippetImplementationSvg}" decodeEntities="true">
            <core:icon identifier="provider-svg" size="small" />
        </sg:example>

        <h3><f:translate key="LLL:EXT:styleguide/Resources/Private/Language/locallang.xlf:styles.icons.section.usage.bitmap.headline" /></h3>
        <p><f:translate key="LLL:EXT:styleguide/Resources/Private/Language/locallang.xlf:styles.icons.section.usage.registration" /></p>
        <sg:code language="php">
            $iconRegistry->registerIcon(
                'provider-bitmap',
                \TYPO3\CMS\Core\Imaging\IconProvider\BitmapIconProvider::class,
                ['source' => 'EXT:icon_api/Resources/Public/Icons/provider_bitmap_icon.png']
            );
        </sg:code>

        <p><f:translate key="LLL:EXT:styleguide/Resources/Private/Language/locallang.xlf:styles.icons.section.usage.implementation" /></p>
        <f:variable name="codeSnippetImplementationBitmap">
            &lt;core:icon identifier="provider-bitmap" size="small" /&gt;
        </f:variable>
        <sg:example codePreview="true" codeLanguage="html" customCode="{codeSnippetImplementationBitmap}" decodeEntities="true">
            <core:icon identifier="provider-bitmap" size="small" />
        </sg:example>

        <h2><f:translate key="LLL:EXT:styleguide/Resources/Private/Language/locallang.xlf:styles.icons.section.size.headline" /></h2>
        <f:variable name="codeSnippetSize">
            &lt;core:icon identifier="actions-brand-typo3" size="default" /&gt;
            &lt;core:icon identifier="actions-brand-typo3" size="small" /&gt;
            &lt;core:icon identifier="actions-brand-typo3" size="medium" /&gt;
            &lt;core:icon identifier="actions-brand-typo3" size="large" /&gt;
            &lt;core:icon identifier="actions-brand-typo3" size="mega" /&gt;
        </f:variable>
        <sg:example codePreview="true" codeLanguage="html" customCode="{codeSnippetSize}" decodeEntities="true">
            <div class="example-container">
                <div class="example-item">
                    <core:icon identifier="actions-brand-typo3" size="default" />
                </div>
                <div class="example-item">
                    <core:icon identifier="actions-brand-typo3" size="small" />
                </div>
                <div class="example-item">
                    <core:icon identifier="actions-brand-typo3" size="medium" />
                </div>
                <div class="example-item">
                    <core:icon identifier="actions-brand-typo3" size="large" />
                </div>
                <div class="example-item">
                    <core:icon identifier="actions-brand-typo3" size="mega" />
                </div>
            </div>
        </sg:example>

        <h2><f:translate key="LLL:EXT:styleguide/Resources/Private/Language/locallang.xlf:styles.icons.section.overlay.headline" /></h2>
        <f:variable name="codeSnippetOverlay">
            &lt;core:icon identifier="actions-brand-typo3" size="small" overlay="overlay-readonly" /&gt;
        </f:variable>
        <sg:example codePreview="true" codeLanguage="html" customCode="{codeSnippetOverlay}" decodeEntities="true">
            <core:icon identifier="actions-brand-typo3" size="small" overlay="overlay-readonly" />
        </sg:example>

        <h2><f:translate key="LLL:EXT:styleguide/Resources/Private/Language/locallang.xlf:styles.icons.section.overview.headline" /></h2>

        <div>
            <ul class="nav nav-tabs form-section-tabs t3js-tabs" role="tablist">
                <li role="presentation">
                    <button
                        type="button"
                        class="nav-link active"
                        role="tab"
                        data-bs-toggle="tab"
                        data-bs-target="#all"
                        aria-controls="all"
                        aria-selected="true"
                    >
                        All Icons
                    </button>
                </li>
                <f:if condition="{deprecatedIcons}">
                    <li role="presentation">
                        <button
                            type="button"
                            class="nav-link"
                            role="tab"
                            data-bs-toggle="tab"
                            data-bs-target="#deprecated"
                            aria-controls="deprecated"
                            aria-selected="true"
                        >
                            Deprecated Icons
                        </button>
                    </li>
                </f:if>
                <li role="presentation">
                    <button
                        type="button"
                        class="nav-link"
                        role="tab"
                        data-bs-toggle="tab"
                        data-bs-target="#overlays"
                        aria-controls="overlays"
                        aria-selected="true"
                    >
                        All Overlays
                    </button>
                </li>
            </ul>

            <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="all">
                    <div class="form-section">
                        <form class="form-row">
                            <div class="form-group">
                                <label class="form-label">Filter: </label>
                                <div class="input-group">
                                    <div class="btn-group t3js-filter-buttons">
                                        <button class="btn btn-default" data-filter="type:bitmap">Bitmap</button>
                                        <button class="btn btn-default" data-filter="type:font">Font</button>
                                        <button class="btn btn-default" data-filter="type:vector">Vector</button>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="input-group">
                                    <div class="input-group-text"><core:icon identifier="actions-search" size="default" /></div>
                                    <input type="text" class="form-control" id="search-field" placeholder="Icon identifier">
                                </div>
                            </div>
                        </form>
                        <div class="icon-container-wrapper" id="t3js-filter-container">
                            <f:for each="{allIcons}" as="icon">
                                <div class="icon-container" data-icon-identifier="{icon}" tabindex="0">
                                    <span class="icon-container-icon"><core:icon identifier="{icon}" size="large" /></span>
                                    <span class="icon-container-label">{icon}</span>
                                </div>
                            </f:for>
                        </div>
                    </div>
                </div>
                <div role="tabpanel" class="tab-pane" id="deprecated">
                    <div class="icon-container-wrapper">
                        <f:for each="{deprecatedIcons}" key="icon" as="alternativeIcon">
                            <div class="icon-container icon-deprecated-container" data-icon-identifier="{icon}" tabindex="0">
                                <span class="icon-container-icon"><core:icon identifier="{icon}" size="large" /></span>
                                <span class="icon-container-label">{icon}</span>
                                <span class="icon-container-label"><core:icon identifier="actions-arrow-down-right-alt" size="small" /> {alternativeIcon}</span>
                            </div>
                        </f:for>
                    </div>
                </div>
                <div role="tabpanel" class="tab-pane" id="overlays">
                    <table class="table table-bordered">
                        <tr>
                            <th></th>
                            <th>small</th>
                            <th>default</th>
                            <th>large</th>
                        </tr>
                        <f:for each="{overlays}" as="overlay">
                            <tr>
                                <th>{overlay}</th>
                                <td><core:icon identifier="apps-pagetree-page-default" size="small" overlay="{overlay}" /></td>
                                <td><core:icon identifier="apps-pagetree-page-default" size="default" overlay="{overlay}" /></td>
                                <td><core:icon identifier="apps-pagetree-page-default" size="large" overlay="{overlay}" /></td>
                            </tr>
                        </f:for>
                    </table>
                </div>
            </div>
        </div>
    </div>

</f:section>

</html>
