<html
    xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    xmlns:core="http://typo3.org/ns/TYPO3/CMS/Core/ViewHelpers"
    xmlns:sg="http://typo3.org/ns/TYPO3/CMS/Styleguide/ViewHelpers"
    data-namespace-typo3-fluid="true"
>

<f:layout name="Module" />

<f:section name="Before">
    <f:be.pageRenderer
        includeJavaScriptModules="{
            0: '@typo3/styleguide/find-icons.js',
        }"
    />
</f:section>

<f:section name="Content">

    <f:render
        partial="Backend/Navigation"
        arguments="{
            currentAction: currentAction,
            actions: actions,
            route: routeIdentifier
        }"
    />

    <div class="styleguide-content">
        <h1><f:translate key="LLL:EXT:styleguide/Resources/Private/Language/locallang.xlf:styles.icons.headline" /></h1>
        <p><f:translate key="LLL:EXT:styleguide/Resources/Private/Language/locallang.xlf:styles.icons.introtext" /></p>

        <h2><f:translate key="LLL:EXT:styleguide/Resources/Private/Language/locallang.xlf:styles.icons.section.default.headline" /></h2>
        <f:variable name="codeSnippetDefault">
            &lt;core:icon identifier="actions-brand-typo3" size="small" /&gt;
        </f:variable>
        <sg:example codePreview="true" codeLanguage="html" customCode="{codeSnippetDefault}" decodeEntities="true">
            <core:icon identifier="actions-brand-typo3" size="small" />
        </sg:example>

        <h2><f:translate key="LLL:EXT:styleguide/Resources/Private/Language/locallang.xlf:styles.icons.section.usage.headline" /></h2>

        <h3><f:translate key="LLL:EXT:styleguide/Resources/Private/Language/locallang.xlf:styles.icons.section.usage.svg.headline" /></h3>
        <p><f:translate key="LLL:EXT:styleguide/Resources/Private/Language/locallang.xlf:styles.icons.section.usage.registration" /></p>
        <sg:code language="php">
            $iconRegistry->registerIcon(
                'provider-svg',
                \TYPO3\CMS\Core\Imaging\IconProvider\SvgIconProvider::class,
                ['source' => 'EXT:icon_api/Resources/Public/Icons/provider_svg_icon.svg']
            );
        </sg:code>

        <p><f:translate key="LLL:EXT:styleguide/Resources/Private/Language/locallang.xlf:styles.icons.section.usage.implementation" /></p>
        <f:variable name="codeSnippetImplementationSvg">
            &lt;core:icon identifier="provider-svg" size="small" /&gt;
        </f:variable>
        <sg:example codePreview="true" codeLanguage="html" customCode="{codeSnippetImplementationSvg}" decodeEntities="true">
            <core:icon identifier="provider-svg" size="small" />
        </sg:example>

        <h3><f:translate key="LLL:EXT:styleguide/Resources/Private/Language/locallang.xlf:styles.icons.section.usage.bitmap.headline" /></h3>
        <p><f:translate key="LLL:EXT:styleguide/Resources/Private/Language/locallang.xlf:styles.icons.section.usage.registration" /></p>
        <sg:code language="php">
            $iconRegistry->registerIcon(
                'provider-bitmap',
                \TYPO3\CMS\Core\Imaging\IconProvider\BitmapIconProvider::class,
                ['source' => 'EXT:icon_api/Resources/Public/Icons/provider_bitmap_icon.png']
            );
        </sg:code>

        <p><f:translate key="LLL:EXT:styleguide/Resources/Private/Language/locallang.xlf:styles.icons.section.usage.implementation" /></p>
        <f:variable name="codeSnippetImplementationBitmap">
            &lt;core:icon identifier="provider-bitmap" size="small" /&gt;
        </f:variable>
        <sg:example codePreview="true" codeLanguage="html" customCode="{codeSnippetImplementationBitmap}" decodeEntities="true">
            <core:icon identifier="provider-bitmap" size="small" />
        </sg:example>

        <h2><f:translate key="LLL:EXT:styleguide/Resources/Private/Language/locallang.xlf:styles.icons.section.size.headline" /></h2>
        <f:variable name="codeSnippetSize">
            &lt;core:icon identifier="actions-brand-typo3" size="default" /&gt;
            &lt;core:icon identifier="actions-brand-typo3" size="small" /&gt;
            &lt;core:icon identifier="actions-brand-typo3" size="medium" /&gt;
            &lt;core:icon identifier="actions-brand-typo3" size="large" /&gt;
            &lt;core:icon identifier="actions-brand-typo3" size="mega" /&gt;
        </f:variable>
        <sg:example codePreview="true" codeLanguage="html" customCode="{codeSnippetSize}" decodeEntities="true">
            <div class="example-container">
                <div class="example-item">
                    <core:icon identifier="actions-brand-typo3" size="default" />
                </div>
                <div class="example-item">
                    <core:icon identifier="actions-brand-typo3" size="small" />
                </div>
                <div class="example-item">
                    <core:icon identifier="actions-brand-typo3" size="medium" />
                </div>
                <div class="example-item">
                    <core:icon identifier="actions-brand-typo3" size="large" />
                </div>
                <div class="example-item">
                    <core:icon identifier="actions-brand-typo3" size="mega" />
                </div>
            </div>
        </sg:example>

        <h2><f:translate key="LLL:EXT:styleguide/Resources/Private/Language/locallang.xlf:styles.icons.section.overlay.headline" /></h2>
        <f:variable name="codeSnippetOverlay">
            &lt;core:icon identifier="actions-brand-typo3" size="small" overlay="overlay-readonly" /&gt;
        </f:variable>
        <sg:example codePreview="true" codeLanguage="html" customCode="{codeSnippetOverlay}" decodeEntities="true">
            <core:icon identifier="actions-brand-typo3" size="small" overlay="overlay-readonly" />
        </sg:example>

        <h2><f:translate key="LLL:EXT:styleguide/Resources/Private/Language/locallang.xlf:styles.icons.section.overview.headline" /></h2>

        <div>
            <ul class="nav nav-tabs t3js-tabs" role="tablist">
                <li role="presentation">
                    <a href="#all" aria-controls="all" role="tab" data-bs-toggle="tab" aria-selected="true" class="active">All Icons</a>
                </li>
                <f:if condition="{deprecatedIcons}">
                    <li role="presentation">
                        <a href="#deprecated" aria-controls="deprecated" role="tab" data-bs-toggle="tab" aria-selected="false">Deprecated Icons</a>
                    </li>
                </f:if>
                <li role="presentation">
                    <a href="#overlays" aria-controls="overlays" role="tab" data-bs-toggle="tab" aria-selected="false">All Overlays</a>
                </li>
            </ul>

            <div class="tab-content">
                <div role="tabpanel" class="tab-pane form-section active" id="all">
                    <div class="row">
                        <form>
                            <div class="form-group col-md-12">
                                <label>Filter: </label><br/>
                                <div class="input-group">
                                    <div class="btn-group t3js-filter-buttons">
                                        <button class="btn btn-default" data-filter="type:bitmap">Bitmap</button>
                                        <button class="btn btn-default" data-filter="type:font">Font</button>
                                        <button class="btn btn-default" data-filter="type:vector">Vector</button>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group col-md-12">
                                <div class="input-group">
                                    <div class="input-group-text"><core:icon identifier="actions-search" size="default" /></div>
                                    <input type="text" class="form-control input-lg" id="search-field" placeholder="Icon identifier">
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="row" id="t3js-filter-container">
                        <f:for each="{allIcons}" as="icon">
                            <div class="col-md-2 icon-container" data-icon-identifier="{icon}">
                                <span class="icon-container-icon"><core:icon identifier="{icon}" size="large" /></span>
                                <span class="icon-container-label">{icon}</span>
                            </div>
                        </f:for>
                    </div>
                </div>
                <div role="tabpanel" class="tab-pane" id="deprecated">
                    <div class="row">
                        <f:for each="{deprecatedIcons}" key="icon" as="alternativeIcon">
                            <div class="col-md-2 icon-container icon-deprecated-container" data-icon-identifier="{icon}">
                                <span class="icon-container-icon"><core:icon identifier="{icon}" size="large" /></span>
                                <span class="icon-container-label">{icon}</span>
                                <span class="icon-container-label"><core:icon identifier="actions-arrow-down-right-alt" size="small" /> {alternativeIcon}</span>
                            </div>
                        </f:for>
                    </div>
                </div>
                <div role="tabpanel" class="tab-pane" id="overlays">
                    <table class="table table-bordered">
                        <tr>
                            <th></th>
                            <th>small</th>
                            <th>default</th>
                            <th>large</th>
                        </tr>
                        <f:for each="{overlays}" as="overlay">
                            <tr>
                                <th>{overlay}</th>
                                <td><core:icon identifier="apps-pagetree-page-default" size="small" overlay="{overlay}" /></td>
                                <td><core:icon identifier="apps-pagetree-page-default" size="default" overlay="{overlay}" /></td>
                                <td><core:icon identifier="apps-pagetree-page-default" size="large" overlay="{overlay}" /></td>
                            </tr>
                        </f:for>
                    </table>
                </div>
            </div>
        </div>
    </div>

</f:section>

</html>
