<html
    xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    xmlns:sg="http://typo3.org/ns/TYPO3/CMS/Styleguide/ViewHelpers"
    data-namespace-typo3-fluid="true"
>

<f:layout name="Module" />

<f:section name="Content">

    <f:render
        partial="Backend/Navigation"
        arguments="{
            currentAction: currentAction,
            actions: actions,
            route: routeIdentifier
        }"
    />

    <div class="styleguide-content">
        <h1><f:translate key="LLL:EXT:styleguide/Resources/Private/Language/locallang.xlf:styles.typography.headline" /></h1>

        <h2><f:translate key="LLL:EXT:styleguide/Resources/Private/Language/locallang.xlf:styles.typography.section.headings.headline" /></h2>
        <p>
            <f:sanitize.html><f:translate key="LLL:EXT:styleguide/Resources/Private/Language/locallang.xlf:styles.typography.section.headings.text" /></f:sanitize.html>
        </p>
        <sg:example codePreview="true" codeLanguage="html">
            <h1>H1: Headline</h1>
            <h2>H2: Headline</h2>
            <h3>H3: Headline</h3>
            <h4>H4: Headline</h4>
        </sg:example>

        <h2><f:translate key="LLL:EXT:styleguide/Resources/Private/Language/locallang.xlf:styles.typography.section.paragraph.headline" /></h2>
        <sg:example codePreview="true" codeLanguage="html">
            <p>
                This is a paragraph. Paragraphs are preset with a font size, line height and spacing to match the overall
                vertical rhythm. To show what a paragraph looks like this needs a little more content so, did you know that
                there are storms occurring on Jupiter that are larger than the Earth? Pretty cool. Wrap "strong" around type to
                <strong>make it bold!</strong> (or wrap with "b" for <b>bold text</b>).
                You can also "em" to <em>italicize your words</em> (or wrap with "i" for <b>italic text</b>).
            </p>
        </sg:example>

        <h2><f:translate key="LLL:EXT:styleguide/Resources/Private/Language/locallang.xlf:styles.typography.section.smallText.headline" /></h2>
        <p><f:translate key="LLL:EXT:styleguide/Resources/Private/Language/locallang.xlf:styles.typography.section.smallText.text" /></p>
        <sg:example codePreview="true" codeLanguage="html">
            <small>Small text</small>
            <p><small>Small text inside a paragraph</small></p>
        </sg:example>

        <h2><f:translate key="LLL:EXT:styleguide/Resources/Private/Language/locallang.xlf:styles.typography.section.links.headline" /></h2>
        <sg:example codePreview="true" codeLanguage="html">
            <p>Paragraph with embedded <a href="#">link (without a class)</a>.</p>
        </sg:example>

        <h2><f:translate key="LLL:EXT:styleguide/Resources/Private/Language/locallang.xlf:styles.typography.section.textColor.headline" /></h2>
        <sg:example codePreview="true" codeLanguage="html">
            <span class="text-base">base</span><br>
            <span class="text-muted">muted</span><br>
            <span class="text-primary">primary</span><br>
            <span class="text-secondary">secondary</span><br>
            <span class="text-info">info</span><br>
            <span class="text-success">success</span><br>
            <span class="text-warning">warning</span><br>
            <span class="text-danger">danger</span><br>
            <span class="text-code">code</span><br>
            <span class="text-notice">notice</span><br>
            <span class="text-default">default</span><br>
            <span class="text-reset">reset</span>
        </sg:example>

        <h2><f:translate key="LLL:EXT:styleguide/Resources/Private/Language/locallang.xlf:styles.typography.section.lists.headline" /></h2>
        <p>
            <f:sanitize.html><f:translate key="LLL:EXT:styleguide/Resources/Private/Language/locallang.xlf:styles.typography.section.lists.text" /></f:sanitize.html>
        </p>

        <h3><f:translate key="LLL:EXT:styleguide/Resources/Private/Language/locallang.xlf:styles.typography.section.lists.ordered.headline" /></h3>
        <sg:example codePreview="true" codeLanguage="html">
            <ol>
                <f:render section="listItems" />
            </ol>
        </sg:example>

        <h3><f:translate key="LLL:EXT:styleguide/Resources/Private/Language/locallang.xlf:styles.typography.section.lists.unordered.headline" /></h3>
        <sg:example codePreview="true" codeLanguage="html">
            <ul>
                <f:render section="listItems" />
            </ul>

            <ul class="list-unstyled">
                <f:render section="listItems" />
            </ul>
        </sg:example>

        <hr>

        <h2><f:translate key="LLL:EXT:styleguide/Resources/Private/Language/locallang.xlf:section.frontend.headline" /></h2>

        <h3><f:translate key="LLL:EXT:styleguide/Resources/Private/Language/locallang.xlf:section.colorScheme.headline" /></h3>

        <h4><f:translate key="LLL:EXT:styleguide/Resources/Private/Language/locallang.xlf:styles.typography.section.headings.headline" /></h4>
        <sg:colorScheme>
            <h1>H1: Headline <a href="#">(example link)</a></h1>
            <h2>H2: Headline <a href="#">(example link)</a></h2>
            <h3>H3: Headline <a href="#">(example link)</a></h3>
            <h4>H4: Headline <a href="#">(example link)</a></h4>
        </sg:colorScheme>

        <h4><f:translate key="LLL:EXT:styleguide/Resources/Private/Language/locallang.xlf:styles.typography.section.paragraph.headline" /></h4>
        <sg:colorScheme>
            <p>
                This is a paragraph. Paragraphs are preset with a font size, line height and spacing to match the overall
                vertical rhythm. To show what a paragraph looks like this needs a little more content so, did you know that
                there are storms occurring on Jupiter that are larger than the Earth? Pretty cool. Wrap "strong" around type to
                <strong>make it bold!</strong> (or wrap with "b" for <b>bold text</b>).
                You can also "em" to <em>italicize your words</em> (or wrap with "i" for <b>italic text</b>).
            </p>
        </sg:colorScheme>

        <h4><f:translate key="LLL:EXT:styleguide/Resources/Private/Language/locallang.xlf:styles.typography.section.smallText.headline" /></h4>
        <sg:colorScheme>
            <small>Small text</small>
            <p><small>Small text inside a paragraph</small></p>

            <h1>H1: Headline <small>small text</small></h1>
            <h2>H2: Headline <small>small text</small></h2>
            <h3>H3: Headline <small>small text</small></h3>
            <h4>H4: Headline <small>small text</small></h4>
        </sg:colorScheme>

        <h4><f:translate key="LLL:EXT:styleguide/Resources/Private/Language/locallang.xlf:styles.typography.section.links.headline" /></h4>
        <sg:colorScheme>
            <p>
                Paragraph with embedded <a href="#">link (without a class)</a>.
            </p>
        </sg:colorScheme>

        <h4><f:translate key="LLL:EXT:styleguide/Resources/Private/Language/locallang.xlf:styles.typography.section.textColor.headline" /></h4>
        <sg:colorScheme>
            <div class="row">
                <div class="col-6">
                    <ul>
                        <li><span class="text-base">span.text-base <a href="#">(link inside span)</a></span></li>
                        <li><span class="text-muted">span.text-muted <a href="#">(link inside span)</a></span></li>
                        <li><span class="text-primary">span.text-primary <a href="#">(link inside span)</a></span></li>
                        <li><span class="text-secondary">span.text-secondary <a href="#">(link inside span)</a></span></li>
                        <li><span class="text-info">span.text-info <a href="#">(link inside span)</a></span></li>
                        <li><span class="text-success">span.text-success <a href="#">(link inside span)</a></span></li>
                        <li><span class="text-warning">span.text-warning <a href="#">(link inside span)</a></span></li>
                        <li><span class="text-danger">span.text-danger <a href="#">(link inside span)</a></span></li>
                        <li><span class="text-code">span.text-code <a href="#">(link inside span)</a></span></li>
                        <li><span class="text-notice">span.text-notice <a href="#">(link inside span)</a></span></li>
                        <li><span class="text-default">span.text-default <a href="#">(link inside span)</a></span></li>
                        <li><span class="text-reset">span.text-reset <a href="#">(link inside span)</a></span></li>
                    </ul>
                </div>
                <div class="col-6">
                    <ul>
                        <li><a href="#"><span class="text-base">span.text-base inside link</span></a></li>
                        <li><a href="#"><span class="text-muted">span.text-muted inside link</span></a></li>
                        <li><a href="#"><span class="text-primary">span.text-primary inside link</span></a></li>
                        <li><a href="#"><span class="text-secondary">span.text-secondary inside link</span></a></li>
                        <li><a href="#"><span class="text-info">span.text-info inside link</span></a></li>
                        <li><a href="#"><span class="text-success">span.text-success inside link</span></a></li>
                        <li><a href="#"><span class="text-warning">span.text-warning inside link</span></a></li>
                        <li><a href="#"><span class="text-danger">span.text-danger inside link</span></a></li>
                        <li><a href="#"><span class="text-code">span.text-code inside link</span></a></li>
                        <li><a href="#"><span class="text-notice">span.text-notice inside link</span></a></li>
                        <li><a href="#"><span class="text-default">span.text-default inside link</span></a></li>
                        <li><a href="#"><span class="text-reset">span.text-reset inside link</span></a></li>
                    </ul>
                </div>
            </div>
        </sg:colorScheme>

        <h4><f:translate key="LLL:EXT:styleguide/Resources/Private/Language/locallang.xlf:styles.typography.section.lists.ordered.headline" /></h4>
        <sg:colorScheme>
            <ol>
                <f:render section="listItems" />
            </ol>

            <ol class="list-unstyled">
                <f:render section="listItems" />
            </ol>
        </sg:colorScheme>

        <h4><f:translate key="LLL:EXT:styleguide/Resources/Private/Language/locallang.xlf:styles.typography.section.lists.unordered.headline" /></h4>
        <sg:colorScheme>
            <ul>
                <f:render section="listItems" />
            </ul>

            <ul class="list-unstyled">
                <f:render section="listItems" />
            </ul>
        </sg:colorScheme>
    </div>

</f:section>

<f:section name="listItems">
    <li>Item 1 - Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</li>
    <li>Item 2 - Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi.</li>
    <li>Item 3 - Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.</li>
</f:section>

</html>
