<form action="" method="post" id="t3-install-form-unlock">
	<input type="hidden" name="action" value="enableInstallTool" />
	<input type="hidden" name="installToolEnableToken" value="{installToolEnableToken}" />
	<div class="container container-small">
		<f:be.infobox state="-1" title="{f:translate(key: 'LLL:EXT:install/Resources/Private/Language/BackendModule.xlf:confirmUnlockInstallToolTitle')}">
			{f:translate(key: 'LLL:EXT:install/Resources/Private/Language/BackendModule.xlf:confirmUnlockInstallToolMessage') -> f:format.raw()}
			<button class="btn btn-info" value="enableInstallTool">
				{f:translate(key: 'LLL:EXT:install/Resources/Private/Language/BackendModule.xlf:confirmUnlockInstallToolButton') -> f:format.raw()}
			</button>
		</f:be.infobox>
	</div>
</form>
