<form action="" method="post" id="t3-install-form-unlock">
	<input type="hidden" name="action" value="enableInstallTool" />
	<input type="hidden" name="installToolEnableToken" value="{installToolEnableToken}" />
	<div id="container">
		<f:be.infobox state="-1" title="{f:translate(key: 'LLL:EXT:install/Resources/Private/Language/BackendModule.xlf:confirmUnlockInstallToolTitle')}">
			<f:translate
				key="LLL:EXT:install/Resources/Private/Language/BackendModule.xlf:confirmUnlockInstallToolMessage"
				/>
			<button class="btn btn-info" value="enableInstallTool">
				<f:translate
					key="LLL:EXT:install/Resources/Private/Language/BackendModule.xlf:confirmUnlockInstallToolButton"
					/>
			</button>
		</f:be.infobox>
	</div>
</form>
