<html
    xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    xmlns:core="http://typo3.org/ns/TYPO3/CMS/Core/ViewHelpers"
    data-namespace-typo3-fluid="true"
>
<f:switch expression="{item.stateIcon}">
    <f:case value="-1"><core:icon identifier="status-dialog-ok" /></f:case>
    <f:case value="1"><core:icon identifier="status-dialog-notification" /></f:case>
    <f:case value="2"><core:icon identifier="status-dialog-warning" /></f:case>
    <f:case value="3"><core:icon identifier="status-dialog-error" /></f:case>
</f:switch>
</html>
