<f:if condition="{contentOnly}">
    <f:then>
        <f:render section="Content" />
    </f:then>
    <f:else>
        <div class="element-browser">
            <div class="element-browser-main scaffold-content-navigation-available scaffold-content-navigation-expanded">
                <div class="element-browser-main-sidebar" style="width: {initialNavigationWidth}px">
                    <f:render section="Navigation" />
                </div>
                <typo3-backend-navigation-switcher
                    parent=".element-browser-main"
                    navigation=".element-browser-main-sidebar"
                    minimum-width="250"
                    initial-width="{initialNavigationWidth}"
                    persistence-identifier="selector.navigation.width"
                ></typo3-backend-navigation-switcher>
                <div class="element-browser-main-content">
                    <div class="element-browser-body">
                        <f:render section="Content" />
                    </div>
                </div>
            </div>
        </div>
    </f:else>
</f:if>
