<div class="t3-page-ce-header {f:if(condition: '{allowEditContent} && {item.dragAndDropAllowed}', then: 't3-page-ce-header-draggable t3js-page-ce-draghandle')}">
    <div class="t3-page-ce-header-left">
        {item.icons -> f:format.raw()}
        <span class="t3-page-ce-header-icon-flag t3js-flag" title="{item.siteLanguage.title}"><core:icon identifier="{item.siteLanguage.flagIdentifier}" /></span>
    </div>
    <div class="t3-page-ce-header-title">
        {item.contentTypeLabel}
    </div>
    <div class="t3-page-ce-header-right">
        <f:if condition="{item.editable} && {allowEditContent}">
            <div class="btn-toolbar">
                <div class="btn-group btn-group-sm">
                    <a href="{item.editUrl}" class="btn btn-invisible" title="{f:translate(key:'LLL:EXT:core/Resources/Private/Language/locallang_common.xlf:edit')}">
                        <core:icon identifier="actions-open" />
                    </a>
                    <f:if condition="{item.visibilityToggling}">
                        <a class="btn btn-invisible" href="{item.visibilityToggleUrl}" title="{item.visibilityToggleTitle}">
                            <core:icon identifier="actions-edit-{item.visibilityToggleIconName}" />
                        </a>
                    </f:if>
                    <a href="#" class="btn btn-invisible t3js-contextmenutrigger" data-table="tt_content" data-uid="{item.record.uid}" title="id={item.record.uid}">
                        <core:icon identifier="actions-menu-alternative" />
                    </a>
                </div>
            </div>
        </f:if>
    </div>
</div>
