@import "../sprites/t3skin.css";

.t3-icon {
	display: inline-block;
	position: relative;
	overflow: hidden;
}

.typo3-editPanel {
	background: #ccc;
}

.typo3-editPanel-label {
	display: inline;
	margin: 0 10px;
}

.typo3-editPanel .t3-icon {
	margin: 2px 1px;
}

.typo3-feedit-element {
	outline: 3px solid rgba(247, 144, 37, 0.8) !important;
	outline-offset: 4px;
}

.typo3-feedit-element-hidden {
	filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=20);
	opacity: 0.2;
}

#TSFE_ADMIN_PANEL_FORM {
	background-color: #fff;
	-moz-box-shadow: 0 3px 15px #808080;
	-webkit-box-shadow: 0 3px 15px #808080;
	box-shadow: 0 3px 15px #808080;
	margin: 0;
	padding: 0;
	z-index: 10002;
}

#TSFE_ADMIN_PANEL_FORM .typo3-adminPanel {
	border: 1px solid black;
	border-spacing: 0;
	border-collapse: separate;
	*border-collapse: collapse;
	margin: 0;
	min-width: 315px;
	padding: 0;
}

#TSFE_ADMIN_PANEL_FORM table,
#TSFE_ADMIN_PANEL_FORM a {
	color: black;
	font-family: Arial, sans-serif;
	font-size: 12px;
	text-decoration: none;
}

#TSFE_ADMIN_PANEL_FORM td {
	/*padding: 10px;*/
}

#TSFE_ADMIN_PANEL_FORM tr.typo3-adminPanel-header td,
#TSFE_ADMIN_PANEL_FORM tr.typo3-adminPanel-footer td {
	background-image: -moz-linear-gradient(center top, #555 10%, #444547 90%);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0.1, #555), color-stop(0.1, #555), color-stop(0.9, #444547), color-stop(1.0, #444547));
	background-color: #555;
	color: white;
	font-weight: bold;
	padding-bottom: 5px;
}

#TSFE_ADMIN_PANEL_FORM tr.typo3-adminPanel-header td {
	cursor: move;
}

#TSFE_ADMIN_PANEL_FORM tr.typo3-adminPanel-footer td {
	padding-right: 5px;
}

#TSFE_ADMIN_PANEL_FORM tr.typo3-adminPanel-header td a,
#TSFE_ADMIN_PANEL_FORM tr.typo3-adminPanel-footer td a {
	color: #fff;
}

#TSFE_ADMIN_PANEL_FORM .typo3-adminPanel-header-title {
	float: left;
}

#TSFE_ADMIN_PANEL_FORM input.typo3-adminPanel-update {
	float: right;
}

#TSFE_ADMIN_PANEL_FORM .typo3-adminPanel-header-buttonWrapper {
	display: inline-block;
	float: right;
	margin-left: 10px;
}

#TSFE_ADMIN_PANEL_FORM .typo3-adminPanel-panel-open .typo3-adminPanel-header-button,
#TSFE_ADMIN_PANEL_FORM .typo3-adminPanel-panel-closed .typo3-adminPanel-header-button {
	background: url(../../images/arrows/adminpanel-down.png) no-repeat;
	display: inline-block;
	float: right;
	height: 19px;
	width: 19px;
}

#TSFE_ADMIN_PANEL_FORM .typo3-adminPanel-panel-closed .typo3-adminPanel-header-button {
	background: url(../../images/arrows/adminpanel-up.png) no-repeat;
}

#TSFE_ADMIN_PANEL_FORM tr.typo3-adminPanel-section-title td {
	background-color: #e2e0e0;
	border-bottom: 1px solid #ccc;
	border-top: 1px solid #ccc;
	clear: left;
	margin: 0;
	padding: 0;
}

#TSFE_ADMIN_PANEL_FORM tr.typo3-adminPanel-section-title td a {
	display: block;
	height: 26px;
	line-height: 25px;
}

#TSFE_ADMIN_PANEL_FORM tr.typo3-adminPanel-section-title td a .typo3-adminPanel-label {
	font-weight: bold;
	padding-top: 4px;
	white-space: nowrap;
}

#TSFE_ADMIN_PANEL_FORM tr.typo3-adminPanel-section-title td:hover {
	background-color: #7e7e7e;
	border-color: black;
	color: #fff;
}

#TSFE_ADMIN_PANEL_FORM tr.typo3-adminPanel-section-title td:hover a {
	color: #fff;
}

#TSFE_ADMIN_PANEL_FORM tr.typo3-adminPanel-section-title .typo3-adminPanel-section-open,
#TSFE_ADMIN_PANEL_FORM tr.typo3-adminPanel-section-title .typo3-adminPanel-section-closed {
	background: url(../../images/arrows/module-menu-down.png) no-repeat 12px 9px;
	display: inline-block;
	padding-left: 26px;
	width: 100%;
}

#TSFE_ADMIN_PANEL_FORM tr.typo3-adminPanel-section-title .typo3-adminPanel-section-closed {
	background: url(../../images/arrows/module-menu-right.png) no-repeat 12px 7px;
}

#TSFE_ADMIN_PANEL_FORM tr.typo3-adminPanel-section-title td:hover a.typo3-adminPanel-section-open {
	background-image: url(../../images/arrows/module-menu-down-alt.png);
}

#TSFE_ADMIN_PANEL_FORM tr.typo3-adminPanel-section-title td:hover a.typo3-adminPanel-section-closed {
	background-image: url(../../images/arrows/module-menu-right-alt.png);
}

#TSFE_ADMIN_PANEL_FORM tr.typo3-adminPanel-itemRow td {
	padding: 5px 15px;
}

/*#TSFE_ADMIN_PANEL_FORM tr.typo3-adminPanel-itemRow td.typo3-adminPanel-section-content-title {*/
/*padding-right: 9px;*/
/*padding-top: 5px;*/
/*}*/

#TSFE_ADMIN_PANEL_FORM td.typo3-adminPanel-section-content {
	padding-right: 11px;
}

#TSFE_ADMIN_PANEL_FORM td.typo3-adminPanel-section-content .toolbar span {
	padding: 1px;
}

#TSFE_ADMIN_PANEL_FORM #typo3-adminPanel-tsLog {
	border: 1px solid #7e7e7e;
	border-spacing: 0;
}

#TSFE_ADMIN_PANEL_FORM .admin-panel-table {
	width: 100%;
	border-collapse: collapse;
	border-spacing: 0;
}

#TSFE_ADMIN_PANEL_FORM .admin-panel-table tr {
	margin: 0;
	padding: 0;
	vertical-align: inherit;
	border-color: inherit;
}

#TSFE_ADMIN_PANEL_FORM .admin-panel-table td {
	margin: 0;
	vertical-align: inherit;
	border-color: inherit;
	padding: 2px 5px 3px 5px;
	padding: 0 5px;
	text-align: left;
	white-space: nowrap;
}

#TSFE_ADMIN_PANEL_FORM .admin-panel-table th {
	background-color: #7e7e7e;
}

#TSFE_ADMIN_PANEL_FORM .admin-panel-table th span[style] {
	color: #fff !important;
}

/*#TSFE_ADMIN_PANEL_FORM #typo3-adminPanel-tsLog .typo3-adminPanel-tsLogTime {*/
/*text-align: center;*/
/*}*/

#TSFE_ADMIN_PANEL_FORM #typo3-adminPanel-tsLog .typo3-adminPanel-logRow-highlight {
	background-color: #fcd3cf;
}

#TSFE_ADMIN_PANEL_FORM .admin-panel-table .line-odd,
#TSFE_ADMIN_PANEL_FORM .admin-panel-table .line-even {
	background-color: #f0f0f0;
	text-align: left;
	vertical-align: top;
}

#TSFE_ADMIN_PANEL_FORM .admin-panel-table .line-even {
	background-color: #dedede;
}

#TSFE_ADMIN_PANEL_FORM #typo3-adminPanel-tsLog .stackPointer {
	color: maroon;
	vertical-align: top;
}

/**
 * General Form Styles
 **/
#TSFE_ADMIN_PANEL_FORM input[type="submit"] {
	background-color: #f6f6f6;
	background-image: url('../../images/backgrounds/button-hover.png');
	background-image: -moz-linear-gradient(center top, #f6f6f6 10%, #c8c8c8 90%);
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0.1, #f6f6f6), color-stop(0.9, #c8c8c8));
	background-image: linear-gradient(center top, #f6f6f6 10%, #c8c8c8 90%);
	background-position: center bottom;
	background-repeat: repeat-x;
	border: 1px solid #737c7c;
	color: #434343;
	cursor: pointer;
	padding: 3px;
	margin-top: 2px;
}

#TSFE_ADMIN_PANEL_FORM input,
#TSFE_ADMIN_PANEL_FORM select {
	position: static;
	margin: 0 5px;
	padding: 0;
}

#TSFE_ADMIN_PANEL_FORM input[type="checkbox"] {
	margin-left: 0;
}
