<html
    xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    data-namespace-typo3-fluid="true"
>

<f:layout name="Module" />

<f:section name="Content">

    <f:be.pageRenderer
        includeJavaScriptModules="{
            0: 'TYPO3/CMS/Recordlist/Recordlist.js',
            1: 'TYPO3/CMS/Recordlist/RecordDownloadButton.js',
            2: 'TYPO3/CMS/Recordlist/ClearCache.js',
            3: 'TYPO3/CMS/Recordlist/RecordSearch.js',
            4: 'TYPO3/CMS/Backend/AjaxDataHandler.js',
            5: 'TYPO3/CMS/Backend/ColumnSelectorButton.js',
            6: 'TYPO3/CMS/Backend/MultiRecordSelection.js',
            7: 'TYPO3/CMS/Backend/ClipboardPanel.js',
            8: 'TYPO3/CMS/Backend/NewContentElementWizardButton.js',
            9: 'TYPO3/CMS/Backend/Element/ImmediateActionElement.js',
            10: 'TYPO3/CMS/Backend/ContextMenu.js'
        }"
    />

    <f:variable name="immediateActionArgs" value="{0: 'web', 1: pageId}" />
    <typo3-immediate-action action="TYPO3.Backend.Storage.ModuleStateStorage.update" args="{immediateActionArgs -> f:format.json() -> f:format.htmlspecialchars()}"></typo3-immediate-action>

    <f:if condition="{isPageEditable}">
        <f:then>
            <h1 class="t3js-title-inlineedit">{pageTitle}</h1>
        </f:then>
        <f:else>
            <h1>{pageTitle}</h1>
        </f:else>
    </f:if>

    <f:format.raw>{additionalContentTop}</f:format.raw>

    <div class="row">
        <f:format.raw>{languageSelectorHtml}</f:format.raw>
        <f:format.raw>{searchBoxHtml}</f:format.raw>
    </div>

    <f:format.raw>{pageTranslationsHtml}</f:format.raw>

    <f:format.raw>{tableListHtml}</f:format.raw>

    <f:format.raw>{toggleClipboardHtml}</f:format.raw>
    <f:format.raw>{clipboardHtml}</f:format.raw>

    <f:format.raw>{additionalContentBottom}</f:format.raw>
</f:section>

</html>
