/* Selectors for the RemoveFormat plugin of htmlArea RTE */
/* TYPO3 SVN ID: $Id$ */
.htmlarea-action-remove-format {
	background-image: url('images/clean.gif') !important;
	background-position: 0 0 !important;
}
