<div id="clipboard_form">
    <div class="row">
        <div class="col-sm-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <f:format.raw>{clipboardHeader}</f:format.raw>
                </div>
                <table class="table">
                    <tr>
                        <td colspan="2" class="nowrap" width="95%">
                            <form action="{actionCopyModeUrl}#clipboard_form" method="post">
                                <div class="btn-group">
                                    <input type="radio" class="btn-check" id="clipboard-copymode-copy" name="CB[setCopyMode]" value="1" {f:if(condition: '{currentMode} == "copy"', then: 'checked')} data-global-event="change" data-action-submit="$form" \>
                                    <label class="btn btn-default" for="clipboard-copymode-copy">{f:translate(key: 'LLL:EXT:core/Resources/Private/Language/locallang_misc.xlf:copyElements')}</label>
                                    <input type="radio" class="btn-check" id="clipboard-copymode-move" name="CB[setCopyMode]" value="0" {f:if(condition: '{currentMode} != "copy"', then: 'checked')} data-global-event="change" data-action-submit="$form" \>
                                    <label class="btn btn-default" for="clipboard-copymode-move">{f:translate(key: 'LLL:EXT:core/Resources/Private/Language/locallang_misc.xlf:moveElements')}</label>
                                </div>
                            </form>
                        </td>
                        <td class="col-control nowrap">
                            <f:if condition="{elementCount}">
                                <a href="{removeAllUrl}#clipboard_form"
                                    title="{f:translate(key: 'LLL:EXT:core/Resources/Private/Language/locallang_core.xlf:buttons.clear')}" class="btn btn-default">
                                    <core:icon identifier="actions-remove" alternativeMarkupIdentifier="inline" /> {f:translate(key: 'LLL:EXT:core/Resources/Private/Language/locallang_core.xlf:buttons.clear')}
                                </a>
                            </f:if>
                        </td>
                    </tr>
                    <f:for each="{tabArray}" as="tab" key="key">
                        <f:render section="Tab" arguments="{tab: tab, current: current, currentMode: currentMode}"/>
                    </f:for>
                </table>
            </div>
        </div>
    </div>
</div>


<f:section name="Tab">
    <tr>
        <td colspan="3"><a href="{tab.url}#clipboard_form" title="{f:translate(key: 'LLL:EXT:core/Resources/Private/Language/locallang_core.xlf:{tab.description}')}">
            <f:if condition="{current} == {tab.id}">
                <f:then>
                    <core:icon identifier="actions-check-circle-alt" size="small" />
                    <f:format.printf arguments="{1: '{tab.number}'}" value="{f:translate(key:'LLL:EXT:core/Resources/Private/Language/locallang_core.xlf:{tab.label}')}">
                        {f:translate(key:'LLL:EXT:core/Resources/Private/Language/locallang_core.xlf:{tab.label}')}
                    </f:format.printf>
                    {tab.padding}
                </f:then>
                <f:else>
                    <core:icon identifier="actions-circle" size="small" />
                    <span class="text-muted">
                        <f:format.printf arguments="{1: '{tab.number}'}" value="{f:translate(key:'LLL:EXT:core/Resources/Private/Language/locallang_core.xlf:{tab.label}')}">
                            {f:translate(key:'LLL:EXT:core/Resources/Private/Language/locallang_core.xlf:{tab.label}')}
                        </f:format.printf>
                        {tab.padding}
                    </span>
                </f:else>
            </f:if>
        </a></td>
    </tr>
    <f:if condition="{current} == {tab.id}">
        <f:if condition="{tab.content}">
            <f:for each="{tab.content}" as="content" key="key">
                <f:render partial="Clipboard/TabContent" arguments="{tab: tab, content: content, currentMode: currentMode}"/>
            </f:for>
        </f:if>
    </f:if>
</f:section>
