/*
 * This file is part of the TYPO3 CMS project.
 *
 * It is free software; you can redistribute it and/or modify it under
 * the terms of the GNU General Public License, either version 2
 * of the License, or any later version.
 *
 * For the full copyright and license information, please read the
 * LICENSE.txt file that was distributed with this source code.
 *
 * The TYPO3 project - inspiring people to share!
 */
/* - - - - - - - - - - - - - - - - - - - - -
Help > About
- - - - - - - - - - - - - - - - - - - - - */
#typo3-mod-help-about-index-php-outer {
  padding: 15px;
  margin: 0 auto;
  max-width: 600px;
}
#typo3-mod-help-about-index-php-outer > div {
  margin: 10px auto 20px;
  padding: 1em;
  border: 1px solid #adadad;
}
#typo3-mod-help-about-index-php-outer > div h2 {
  margin-top: 0;
}
#typo3-mod-help-about-index-php-outer #donation-description {
  background-image: url("../Images/donate_teaser.png");
  background-repeat: no-repeat;
  padding-left: 60px;
  margin: 10px 0;
}
#typo3-mod-help-about-index-php-outer a {
  color: black;
  text-decoration: underline;
}
