<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html
     PUBLIC "-//W3C//DTD XHTML 1.1//EN"
     "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">

	<head>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<title>Template: Check the database Import</title>
	</head>
	<body>
		<!-- ###IMPORT### begin -->
		<!-- ###REGULARMODE### begin-->
		<fieldset id="t3-install-checkthedatabaseimport">
			<ol>
				<!-- ###ROWS### begin -->
				<li class="t3-install-form-label-after">
					<input id="t3-install-database-import-###TABLE###" name="TYPO3_INSTALL[database_import][###TABLE###]" value="###DEFINITION###" type="checkbox" />
					<label for="t3-install-database-import-###TABLE###">
						<span class="t3-install-strong">
							###TABLE###
						</span>
						<span>
							###ROWLABEL### ###COUNT###
						</span>
						<span>
							<!-- ###EXIST### begin -->
							<img src="###BACKPATH###gfx/icon_warning.gif" alt="" height="16" width="18" />
							###TABLEEXISTS###
							<!-- ###EXIST### end -->
						</span>
					</label>
				</li>
				<!-- ###ROWS### end -->
			</ol>
		</fieldset>
		<!-- ###REGULARMODE### end-->
		<fieldset>
			<ol>
				<li class="t3-install-form-label-after">
					<input id="t3-install-database-import-all" name="TYPO3_INSTALL[database_import_all]" value="1" type="checkbox" ###CHECKED### />
					<label for="t3-install-database-import-all">
						###LABEL###
					</label>
				</li>
			</ol>
		</fieldset>
		<!-- ###IMPORT### end -->
	</body>
</html>