<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html
     PUBLIC "-//W3C//DTD XHTML 1.1//EN"
     "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">

	<head>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<title>Template: Check the database cache</title>
	</head>
	<body>
		<!-- ###EMPTIEDTABLES### begin -->
		<ul>
			<!-- ###TABLE### begin -->
			<li>
				###TABLENAME###
			</li>
			<!-- ###TABLE### end -->
		</ul>
		<!-- ###EMPTIEDTABLES### end -->
		
		<!-- ###TABLELIST### begin -->
		<fieldset id="t3-install-checkthedatabasecache">
			<ol>
				<!-- ###SINGLETABLE### begin -->
				<li class="t3-install-form-label-after">
				<input id="t3-install-database_clearcache###TABLE###" name="TYPO3_INSTALL[database_clearcache][###TABLE###]" value="1" type="checkbox" ###CHECKED### />
				<label for="t3-install-database_clearcache###TABLE###">
					<span class="t3-install-strong t3-install-column1">
						###TABLE###
					</span>
					<span class="t3-install-column2">
						###COUNT###
					</span>
					<span class="t3-install-column3">
						###LABEL###
					</span>
				</label>
				</li>
				<!-- ###SINGLETABLE### end -->
				<!-- ###GROUP### begin -->
				<li>&nbsp;</li>
				<!-- ###GROUP### end -->
			</ol>
		</fieldset>
		<!-- ###TABLELIST### end -->
	</body>
</html>