<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html
     PUBLIC "-//W3C//DTD XHTML 1.1//EN"
     "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">

	<head>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<title>Template: Check the database Menu</title>
	</head>
	<body>
		<!-- ###MENU### begin -->
		<table id="t3-install-databasemenu" cellpadding="2" cellspacing="2">
			<tr>
				<td>
					###UPDATEREQUIREDTABLES###
				</td>
				<td ###NOTICECMPFILECURRENT###>
					<a href="###ACTION###&amp;TYPO3_INSTALL[database_type]=cmpFile|CURRENT_TABLES#t3-install-bottom">
						###COMPARE###
					</a>
				</td>
				<td>
					&nbsp;
				</td>
				<td>
					&nbsp;
				</td>
			</tr>
			<tr>
				<td>
					###DUMPSTATICDATA###
				</td>
				<td>
					&nbsp;
				</td>
				<td ###NOTICEIMPORTCURRENT###>
					<a href="###ACTION###&amp;TYPO3_INSTALL[database_type]=import|CURRENT_STATIC#t3-install-bottom">
						###IMPORT###
					</a>
				</td>
				<td>
					&nbsp;
				</td>
			</tr>
			<tr>
				<td colspan="4">
					&nbsp;
				</td>
			</tr>
			<!-- ###EXTRASQL### begin -->
			<tr>
				<td>
					###FILESHORTNAME### (###FILESIZE###)
				</td>
				<td ###NOTICECMPFILE###>
					<a href="###ACTION###&amp;TYPO3_INSTALL[database_type]=cmpFile|###FILE####t3-install-bottom">
						###COMPARE###
					</a>
				</td>
				<td ###NOTICEIMPORT###>
					<a href="###ACTION###&amp;TYPO3_INSTALL[database_type]=import|###FILE####t3-install-bottom">
						###IMPORT######SPECS###
					</a>
				</td>
				<td ###NOTICEVIEW###>
					<a href="###ACTION###&amp;TYPO3_INSTALL[database_type]=view|###FILE####t3-install-bottom">
						###VIEW######SPECS###
					</a>
				</td>
			</tr>
			<!-- ###EXTRASQL### end -->
			<tr>
				<td>
					&nbsp;
				</td>
				<td colspan="3" ###NOTICECMPTCA###>
					<a href="###ACTION###&amp;TYPO3_INSTALL[database_type]=cmpTCA|#t3-install-bottom">
						###COMPAREWITHTCA###
					</a>
				</td>
			</tr>
			<tr>
				<td>
					&nbsp;
				</td>
				<td colspan="3" ###NOTICEADMINUSER###>
					<a href="###ACTION###&amp;TYPO3_INSTALL[database_type]=adminUser|#t3-install-bottom">
						###CREATEADMINUSER###
					</a>
				</td>
			</tr>
			<tr>
				<td>
					&nbsp;
				</td>
				<td colspan="3" ###NOTICEUC###>
					<a href="###ACTION###&amp;TYPO3_INSTALL[database_type]=UC|#t3-install-bottom">
						###RESETUSERPREFERENCES###
					</a>
				</td>
			</tr>
			<tr>
				<td>
					&nbsp;
				</td>
				<td colspan="3" ###NOTICECACHE###>
					<a href="###ACTION###&amp;TYPO3_INSTALL[database_type]=cache|#t3-install-bottom">
						###CLEARTABLES###
					</a>
				</td>
			</tr>
		</table>
		<a id="t3-install-bottom"></a>
		<!-- ###MENU### end -->
	</body>
</html>