<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html
     PUBLIC "-//W3C//DTD XHTML 1.1//EN"
     "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">

	<head>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<title>Template: Check ImageMagick</title>
	</head>
	<body>
		<!-- ###VERSIONS### begin -->
		<table id="t3-install-imagemagickversions" cellpadding="0" cellspacing="0">
			<!-- ###ROWS### begin -->
			<tr>
				<td>###FILE###</td>
				<td>###TYPE###</td>
				<td>###VERSION###</td>
			</tr>
			<!-- ###ROWS### end -->
		</table>
		<!-- ###VERSIONS### end -->
		
		<!-- ###FORM### begin -->
		<form id="t3-install-checkimagemagick" action="###ACTIONURL###" method="post">
			<fieldset>
				<ol>
					<li class="t3-install-form-label-after">
						<input id="t3-install-checkimlzw" type="checkbox" name="TYPO3_INSTALL[checkIM][lzw]" value="1" ###LZWCHECKED### />
						<label for="t3-install-checkimlzw" class="t3-install-strong">###LZWLABEL###</label>
					</li>
					<li>
						<label for="t3-install-checkimpath" class="t3-install-strong">###CHECKPATH###</label>
						<input id="t3-install-checkimpath" type="text" name="TYPO3_INSTALL[checkIM][path]" value="###IMAGEMAGICKPATH###" class="t3-install-form-input-text" />
					</li>
					<li>
						###COMMENT###
					</li>
				</ol>
			</fieldset>
			<fieldset class="t3-install-form-submit">
				<ol>
					<li>
						<button type="submit">###SEND###<span class="t3-install-form-button-icon-positive">&nbsp;</span></button>
					</li>
				</ol>
			</fieldset>
		</form>
		<!-- ###FORM### begin -->
	</body>
</html>