<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html
     PUBLIC "-//W3C//DTD XHTML 1.1//EN"
     "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">

	<head>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<title>Template: Display suggestions</title>
	</head>
	<body>
		<!-- ###TEMPLATE### begin -->
		<!-- ###ROWS### begin -->
		<table cellpadding="0" cellspacing="0" class="t3-install-displaysuggestions">
			<thead>
				<tr>
					<th class="t3-install-column1">
						###HEADERFIELDNAME###
					</th>
					<th>
						###HEADERLABEL###
					</th>
				</tr>
			</thead>
			<tfoot>
				<tr>
					<td colspan="2" class="tfootHeader">
						###HEADERSUGGESTION###
					</td>
				</tr>
				<tr>
					<td colspan="2">
						<!-- ###PRE### begin -->
						###CODE###
						<!-- ###PRE### end -->
					</td>
				</tr>
			</tfoot>
			<tbody>
				<tr>
					<td class="t3-install-column1">
						###FIELDNAME###
					</td>
					<td>
						###FIELDCONTENT###
					</td>
				</tr>
			</tbody>
		</table>
		<!-- ###ROWS### end -->
		<!-- ###TEMPLATE### end -->
	</body>
</html>