<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html
     PUBLIC "-//W3C//DTD XHTML 1.1//EN"
     "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">

	<head>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<title>Template: Display twin image</title>
	</head>
	<body>
		<!-- ###TEMPLATE### begin -->
		<!-- ###IMAGE### begin -->
		<table cellspacing="0" cellpadding="0" class="t3-install-displaytwinimageimages">
			<tbody>
				<tr>
					<td>
						<img width="###DESTWIDTH###" height="###DESTHEIGHT###" src="###DESTURL###" alt="Your server" />
					</td>
					<td>
						<img width="###VERIFYWIDTH###" height="###VERIFYHEIGHT###" src="###VERIFYURL###" alt="Reference"/>
					</td>
				</tr>
			</tbody>
		</table>
		<table cellspacing="0" cellpadding="0" class="t3-install-displaytwinimagereference">
			<thead>
				<tr>
					<th>
						###YOURSERVER###
					</th>
					<th>
						###REFERENCE###
					</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>
						###YOURSERVERINFORMATION###
					</td>
					<td>
						###REFERENCEINFORMATION###
					</td>
				</tr>
			</tbody>
		</table>
		<!-- ###DIFFERENTFILESIZE### begin -->
		<table cellspacing="0" cellpadding="0" class="t3-install-displaytwinimagedifferentfilesize">
			<thead>
				<tr>
					<th colspan="2">
						###MESSAGE###
					</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>
						###YOURSERVERFILESIZE###
					</td>
					<td>
						###REFERENCEFILESIZE###
					</td>
				</tr>
			</tbody>
		</table>
		<!-- ###DIFFERENTFILESIZE### end -->
		<!-- ###DIFFERENTPIXELDIMENSIONS### begin -->
		<p>###MESSAGE###</p>
		<!-- ###DIFFERENTPIXELDIMENSIONS### end -->
		<!-- ###NOTE### begin -->
		<p>
			<strong>
				###MESSAGE###
			</strong>
			<br />
			###LABEL###
		</p>
		<!-- ###NOTE### end -->
		<!-- ###IMCOMMANDS### begin -->
		<p>
			###MESSAGE###
		</p>
		<form action="">
			<fieldset>
				<div class="t3-install-displaytwinimagetextarea">
					<textarea cols="40" rows="###ROWS###">###COMMANDS###</textarea>
				</div>
			</fieldset>
		</form>
		<!-- ###IMCOMMANDS### end -->
		<!-- ###IMAGE### end -->
		<!-- ###NOIMAGE### begin -->
		<p>
			###MESSAGE###
			<br />
			###LABEL###
		</p>
		<!-- ###COMMANDSAVAILABLE### begin -->
		<form action="">
			<fieldset>
				<div class="t3-install-displaytwinimagetextarea">
					<textarea cols="40" rows="###ROWS###">###COMMANDS###</textarea>
		</div>
			</fieldset>
		</form>
		<!-- ###COMMANDSAVAILABLE### end -->
		<!-- ###NOIMAGE### end -->
		<!-- ###TEMPLATE### end -->
	</body>
</html>