<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html
     PUBLIC "-//W3C//DTD XHTML 1.1//EN"
     "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">

	<head>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<title>Template: Generate config form</title>
	</head>
	<body>
		<!-- ###TEMPLATE### begin -->
		<fieldset>
			<ol>
				<li>
					###DESCRIPTION###
				</li>
				<!-- ###TEXTAREA### begin -->
				<li class="t3-install-form-label-above">
					<label for="###ID###" class="t3-install-strong">###KEY### = ###LABEL###</label>
					<textarea id="###ID###" rows="5" cols="60" name="###NAME###">###VALUE###</textarea>
				</li>
				<!-- ###TEXTAREA### end -->
				<!-- ###BOOLEAN### begin -->
				<li class="t3-install-form-label-after">
					<input type="hidden" value="0" name="###NAME###" />
					<input id="###ID###" type="checkbox" value="###VALUE###" ###CHECKED### name="###NAME###" />
					<label for="###ID###" class="t3-install-strong">###KEY### = ###LABEL###</label>
				</li>
				<!-- ###BOOLEAN### end -->
				<!-- ###TEXTLINE### begin -->
				<li class="t3-install-form-label-above">
					<label for="###ID###" class="t3-install-strong">###KEY### = ###LABEL###</label>
					<input id="###ID###" type="text" value="###VALUE###" name="###NAME###" class="t3-install-form-input-text" />
				</li>
				<!-- ###TEXTLINE### end -->
			</ol>
		</fieldset>
		<!-- ###TEMPLATE### end -->
	</body>
</html>