<?xml version="1.0" encoding="###CHARSET###"?>
<!DOCTYPE html
     PUBLIC "-//W3C//DTD XHTML 1.1//EN"
     "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">

	<head>
		<meta http-equiv="###METACHARSET###" />
		<title>###HEADTITLE###</title>
		###JAVASCRIPT###
		###STYLESHEETS###
	</head>
	<body>
		<div id="t3-install-outer">
			<h1>###TITLE###</h1>
			<h2>###HEADTITLE###</h2>
			<div id="t3-install-left">
				<!-- ###MENU### begin -->
				<div id="t3-install-menu-border-top">&nbsp;</div>
				<ol id="t3-install-menu">
					<!-- ###MENUITEM### begin -->
					<li id="###ID###" ###CLASS###>
						<a href="###URL###">
							###ITEM###
						</a>
					</li>
					<!-- ###MENUITEM### end -->
				</ol>
				<div id="t3-install-menu-bottom">&nbsp;</div>
				<!-- ###MENU### end -->
				<ol id="t3-install-links">
					<li>
						<a href="###BACKENDURL###">
							###BACKEND###
						</a>
					</li>
					<li>
						<a href="###FRONTENDURL###">
							###FRONTEND###
						</a>
					</li>
				</ol>
			</div>
			<div id="t3-install-right">
				<div id="t3-install-box-border-top">&nbsp;</div>
				<div id="t3-install-box-body">
					<!-- ###ERRORMESSAGES### begin -->
					<div class="typo3-message message-error">
						<h4>###LLERRORS###</h4>
						<ul>
							<!-- ###MESSAGES### begin -->
							<li>
								###MESSAGE###
							</li>
							<!-- ###MESSAGES### end -->
						</ul>
					</div>
					<!-- ###ERRORMESSAGES### end -->
					<!-- ###CONTENT### begin -->
					<!-- ###CONTENT### end -->
				</div>
				<div id="t3-install-box-border-bottom">&nbsp;</div>
			</div>
			<div id="t3-install-copyright">
				###COPYRIGHT###
			</div>
		</div>
	</body>
</html>