<?xml version="1.0" encoding="###CHARSET###"?>
<!DOCTYPE html
     PUBLIC "-//W3C//DTD XHTML 1.1//EN"
     "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">

	<head>
		<meta http-equiv="###METACHARSET###" />
		<title>###HEADTITLE###</title>
		###JAVASCRIPT###
		###STYLESHEETS###
	</head>
	<body>
		<div id="t3-install-outer">
			<h1>###TITLE###</h1>
			<div id="t3-install-box-border-top">&nbsp;</div>
			<h2>###HEADTITLE###</h2>
			<div id="t3-install-box-body">
				<!-- ###MENU### begin -->
				<ol id="t3-install-menu">
					<!-- ###MENUITEM### begin -->
					<li ###CLASS###>
						<a href="###URL###">
							###ITEM###
						</a>
					</li>
					<!-- ###MENUITEM### end -->
				</ol>
				<!-- ###MENU### end -->
				<!-- ###CONTENT### begin -->
				<!-- ###CONTENT### end -->
			</div>
			<div id="t3-install-box-border-bottom">&nbsp;</div>
			<div id="t3-install-copyright">
				###COPYRIGHT###
			</div>
		</div>
	</body>
</html>