<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html
     PUBLIC "-//W3C//DTD XHTML 1.1//EN"
     "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">

	<head>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<title>Template: Login Form</title>
	</head>
	<body>
		<!-- ###TEMPLATE### begin -->
		<div id="t3-install-box-border-top">&nbsp;</div>
		<h2>###HEADTITLE###</h2>
		<div id="t3-install-box-body">
			<h3>###SITENAME###</h3>
			<form action="index.php" method="post" id="t3-install-form-login">
				<fieldset>
					<ol>
						<li class="t3-install-form-label-width-7">
							<label for="t3-install-form-password">###ENTERPASSWORD###</label>
							<input id="t3-install-form-password" type="password" name="password" class="t3-install-form-input-text" />
						</li>
						<li class="t3-install-hidden">
							<input type="hidden" name="redirect_url" value="###REDIRECTURL###" />
						</li>
					</ol>
				</fieldset>
				<fieldset class="t3-install-form-submit">
					<ol>
						<li>
							<button type="submit">
								###LOGIN###
								<span class="t3-install-form-button-icon-positive">&nbsp;</span>
							</button>
						</li>
					</ol>
				</fieldset>
			</form>
		</div>
		<div id="t3-install-box-border-bottom">&nbsp;</div>
		<!-- ###WRONGPASSWORD### begin -->
		<p class="typo3-message message-error">
			###PASSWORDMESSAGE###
			<br />
			###PASSWORD###
		</p>
		<!-- ###WRONGPASSWORD### end -->
		<!-- ###SESSIONEXPIRED### begin -->
		<p class="typo3-message message-error">
			###MESSAGE###
		</p>
		<!-- ###SESSIONEXPIRED### end -->
		###MESSAGE###
		<script type="text/javascript">
		<!--
			$('t3-install-form-password').focus();
		//-->
		</script>
		<!-- ###TEMPLATE### end -->
	</body>
</html>