<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html
     PUBLIC "-//W3C//DTD XHTML 1.1//EN"
     "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">

	<head>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<title>Template: PHP information</title>
	</head>
	<body>
		<!-- ###TEMPLATE### begin -->
		<p>
			###EXPLANATION###
		</p>
		<form action="">
			<fieldset>
				<div id="t3-install-debuginformation">
					<textarea cols="80" rows="10">###DEBUGINFO###</textarea>
				</div>
			</fieldset>
		</form>
		<!-- ###TEMPLATE### end -->
	</body>
</html>