<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html
     PUBLIC "-//W3C//DTD XHTML 1.1//EN"
     "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">

	<head>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<title>Template: Step Header</title>
	</head>
	<body>
		<!-- ###TEMPLATE### begin -->
		<ol id="t3-install-123-stepheader" class="clearfix">
			<!-- ###STEPITEM### begin -->
			<li ###CLASS###>
				<a href="###URL###">
					###STEP###
				</a>
			</li>
			<!-- ###STEPITEM### end -->
		</ol>
		<!-- ###TEMPLATE### end -->
	</body>
</html>