
ul.x-tab-strip.x-tab-strip-top {
	width:100%;
}

ul.x-tab-strip.x-tab-strip-top li.last {
	float:right;
}

span.item-state-modified {
	color:#f78f25;
}

span.item-state-moved {
	color:#457fb8;
}

span.item-state-new {
	color:#3c9934;
}

span.item-state-hidden {
	color:#abaaaa;
}
span.item-state-deleted {
	color:#000;
	text-decoration:line-through;
}
.legend {
	margin:5px;
	height:18px;
	color:#888;
}
.legend dd, .legend dt{
	display:inline;
	font-size:11px;
	line-height:13px;
	overflow:hidden;
}
.legend dt {

}
.legend dd span {
	display:inline-block;
	padding:4px;
}
div.typo3-dyntabmenu-divs {
	border-top:0px none;
	padding:5px;
	padding-bottom:10px;
	overflow:hidden;
}

.x-toolbar {
	background:none !important;
}

.x-grid3 {
	background: none !important;
}

a#goPreviewLinkButton {
	line-height:18px;
	color:#fff;
}

#typo3-mod-php div.typo3-noDoc {
	margin:0;
}
#typo3-mod-php div.typo3-noDoc #typo3-docbody {
	padding:0;
	top:0;
}

.icon-hidden {
	display:none;
	visibility:hidden;
}

div.t3-workspaces-foldoutWrapper {
	padding:10px;
	margin-left:40px;
	background-color:#FFFFFF;
	background-image:-moz-linear-gradient(center top , #dedede 0px, #FFFFFF 200px);
	background-repeat:repeat-x;
}

.t3-workspaces-foldout-subheader {
	padding:3px;
	border-bottom:1px solid #cdcdcd;
	margin:10px;
}

table.t3-workspaces-foldout-contentDiff  {
	background-color:#fff;
	padding:8px;
}
table.t3-workspaces-foldout-contentDiff th {
	width:80px;
}
div.t3-workspaces-comments {
	background-color:#dedede;
	padding:10px;
}

div.t3-workspaces-comments-singleComment {
	overflow:hidden;
	margin-bottom:10px;
}
div .t3-workspaces-comments-singleComment-author {
	width:80px;
	margin:10px;
	margin-right:0px;
	float:left;
}
div .t3-workspaces-comments-singleComment-content {
	background-color:white;
	padding:10px;
	float:left;
}