/* Selectors for the content area of the htmlArea RTE editor */
.htmlarea-content-body {
	font-family:Verdana, sans-serif;
	font-size:12px;
	margin:0;
	padding:3px;
	background-color:#ffffff;
}

/* Selectors for the Table Operations plugin */
/* Make borders visible */
/* Make sure we can click in empty cells without too much difficulty */
.htmlarea-showtableborders, .htmlarea-showtableborders td, .htmlarea-showtableborders th {
	padding: 3px; border:1px dashed #316ac5 ! important;
}

/* Selectors for the Abbreviation plugin */
abbr, acronym, span.abbr {
 	width:18px;
 	height:18px;
	background-image:url("images/Acronym/ed_acronym.gif");
	background-repeat:no-repeat;
	background-position:left top;
	white-space:nowrap;
	cursor:help;
	border-bottom:1px dashed #000;
	padding-left:19px;
}