	<div class="t3-login-field">
		<input type="text" id="openid_url" name="openid_url" value="{openid}" placeholder="{f:translate(key:'LLL:EXT:openid/Resources/Private/Language/locallang.xlf:labels.openId')}" class="t3-openid" autofocus="autofocus" />
		<input type="hidden" name="username" value="openid" />

		<div class="t3-login-clearInputField">
			<a id="openid_url-clearIcon" style="display: none;" class="clearIcon">
				<img src="sysext/t3skin/icons/common-input-clear.png" alt="{f:translate key:'LLL:EXT:lang/locallang_login.xlf:clear'}" title="{f:translate(key:'LLL:EXT:lang/locallang_login.xlf:clear')}" />
			</a>
		</div>
	</div>
