<h2>{f:translate(key: 'LLL:EXT:backend/Resources/Private/Language/locallang_show_rechis.xlf:mergedDifferences')}</h2>
<div>
    <f:if condition="{revertAllUrl}">
        <f:then>
            <a href="{revertAllUrl}" class="btn btn-default">{f:translate(key: 'LLL:EXT:backend/Resources/Private/Language/locallang_show_rechis.xlf:revertAll')}</a>
            <div class="ps-2 pt-2 pb-1 mt-2 history-block">
                <f:for each="{multipleDiff}" as="historyRow">
                    <div class="row mb-2">
                        <div class="col-auto"><a href="{historyRow.revertRecordUrl}" class="btn btn-default">{f:translate(key: 'LLL:EXT:backend/Resources/Private/Language/locallang_show_rechis.xlf:revertRecord')}</a></div>
                        <div class="col"><h4>{historyRow.title}</h4></div>
                    </div>
                    <div class="row">
                        <f:if condition="{historyRow.insertDelete} || {historyRow.differences -> f:count()}">
                            <div class="ps-2 pb-1 ms-3 history-block">
                                <f:if condition="{historyRow.insertDelete} == 'delete'">
                                    <strong>{f:translate(key: 'LLL:EXT:backend/Resources/Private/Language/locallang_show_rechis.xlf:delete')}</strong><br/>
                                </f:if>
                                <f:if condition="{historyRow.insertDelete} == 'insert'">
                                    <strong>{f:translate(key: 'LLL:EXT:backend/Resources/Private/Language/locallang_show_rechis.xlf:insert')}</strong><br/>
                                </f:if>
                                <f:if condition="{historyRow.differences}">
                                    <f:render partial="RecordHistory/Diff" arguments="{differences: historyRow.differences}"/>
                                </f:if>
                            </div>
                        </f:if>
                    </div>
                </f:for>
            </div>
        </f:then>
        <f:else>
            {f:translate(key: 'LLL:EXT:backend/Resources/Private/Language/locallang_show_rechis.xlf:noDifferences')}
        </f:else>
    </f:if>
</div>
