<div class="styleguide-navigation">
    <div class="sidebar list-group">
        <f:for each="{actions}" as="action">
            <f:be.link
                route="{route}"
                parameters="{action: action}"
                class="list-group-item list-group-item-action {f:if(condition:'{currentAction} == {action}', then: 'active')}"
            >
                <f:translate key="LLL:EXT:styleguide/Resources/Private/Language/locallang.xlf:action.{action}"/>
            </f:be.link>
        </f:for>
    </div>
</div>
