<html
    xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    xmlns:be="http://typo3.org/ns/TYPO3/CMS/Backend/ViewHelpers"
    data-namespace-typo3-fluid="true">

<be:moduleLayout>
	<f:be.pageRenderer
		includeRequireJsModules="{
			0:'TYPO3/CMS/Backend/ContextMenu',
			1:'TYPO3/CMS/Backend/Modal',
			2:'TYPO3/CMS/Beuser/BackendUserListing'
		}"
	/>

	<be:moduleLayout.menu identifier="BackendUserModuleMenu">
		<be:moduleLayout.menuItem label="{f:translate(id: 'backendUsers')}" uri="{f:uri.action(controller: 'BackendUser', action: 'index')}"/>
		<be:moduleLayout.menuItem label="{f:translate(id: 'backendUserGroupsMenu')}" uri="{f:uri.action(controller: 'BackendUserGroup', action: 'index')}"/>
		<be:moduleLayout.menuItem label="{f:translate(id: 'onlineUsers')}" uri="{f:uri.action(controller: 'BackendUser', action: 'online')}"/>
	</be:moduleLayout.menu>

	<f:render section="Buttons" />
	<be:moduleLayout.button.shortcutButton displayName="{f:translate(id: shortcutLabel)}" />

	<f:render section="Content" />

</be:moduleLayout>

</html>
