/*
Syntax error: File to import not found or unreadable: compass.
              Load path: /Users/ivan/dkd/typo3_src/Incubator/typo3/sysext/t3skin/extjs/sass
        on line 111 of ext-all-typo3.scss

106: $button-toolbar-background-gradient-color-stops-over: null;
107: $button-toolbar-background-gradient-color-stops-focus: null;
108: $button-toolbar-background-gradient-color-stops-pressed: null;
109: $button-toolbar-background-gradient-color-stops-disabled: null;
110: 
111: @import 'compass';
112: @import 'ext4/default/all';
113: 
114: #typo3-pagetree-tree {
115: 	background-color: #EBEBEB;
116: }

Backtrace:
ext-all-typo3.scss:111
/Users/ivan/.rvm/gems/ruby-1.8.7-p352@global/gems/sass-3.1.3/bin/../lib/sass/../sass/tree/import_node.rb:64:in `import'
/Users/ivan/.rvm/gems/ruby-1.8.7-p352@global/gems/sass-3.1.3/bin/../lib/sass/../sass/tree/import_node.rb:25:in `imported_file'
/Users/ivan/.rvm/gems/ruby-1.8.7-p352@global/gems/sass-3.1.3/bin/../lib/sass/../sass/tree/visitors/perform.rb:148:in `visit_import'
/Users/ivan/.rvm/gems/ruby-1.8.7-p352@global/gems/sass-3.1.3/bin/../lib/sass/../sass/tree/visitors/base.rb:37:in `send'
/Users/ivan/.rvm/gems/ruby-1.8.7-p352@global/gems/sass-3.1.3/bin/../lib/sass/../sass/tree/visitors/base.rb:37:in `visit'
/Users/ivan/.rvm/gems/ruby-1.8.7-p352@global/gems/sass-3.1.3/bin/../lib/sass/../sass/tree/visitors/perform.rb:18:in `visit'
/Users/ivan/.rvm/gems/ruby-1.8.7-p352@global/gems/sass-3.1.3/bin/../lib/sass/../sass/tree/visitors/base.rb:53:in `visit_children'
/Users/ivan/.rvm/gems/ruby-1.8.7-p352@global/gems/sass-3.1.3/bin/../lib/sass/../sass/tree/visitors/base.rb:53:in `map'
/Users/ivan/.rvm/gems/ruby-1.8.7-p352@global/gems/sass-3.1.3/bin/../lib/sass/../sass/tree/visitors/base.rb:53:in `visit_children'
/Users/ivan/.rvm/gems/ruby-1.8.7-p352@global/gems/sass-3.1.3/bin/../lib/sass/../sass/tree/visitors/perform.rb:27:in `visit_children'
/Users/ivan/.rvm/gems/ruby-1.8.7-p352@global/gems/sass-3.1.3/bin/../lib/sass/../sass/tree/visitors/perform.rb:39:in `with_environment'
/Users/ivan/.rvm/gems/ruby-1.8.7-p352@global/gems/sass-3.1.3/bin/../lib/sass/../sass/tree/visitors/perform.rb:26:in `visit_children'
/Users/ivan/.rvm/gems/ruby-1.8.7-p352@global/gems/sass-3.1.3/bin/../lib/sass/../sass/tree/visitors/base.rb:37:in `visit'
/Users/ivan/.rvm/gems/ruby-1.8.7-p352@global/gems/sass-3.1.3/bin/../lib/sass/../sass/tree/visitors/perform.rb:47:in `visit_root'
/Users/ivan/.rvm/gems/ruby-1.8.7-p352@global/gems/sass-3.1.3/bin/../lib/sass/../sass/tree/visitors/base.rb:37:in `send'
/Users/ivan/.rvm/gems/ruby-1.8.7-p352@global/gems/sass-3.1.3/bin/../lib/sass/../sass/tree/visitors/base.rb:37:in `visit'
/Users/ivan/.rvm/gems/ruby-1.8.7-p352@global/gems/sass-3.1.3/bin/../lib/sass/../sass/tree/visitors/perform.rb:18:in `visit'
/Users/ivan/.rvm/gems/ruby-1.8.7-p352@global/gems/sass-3.1.3/bin/../lib/sass/../sass/tree/visitors/perform.rb:7:in `send'
/Users/ivan/.rvm/gems/ruby-1.8.7-p352@global/gems/sass-3.1.3/bin/../lib/sass/../sass/tree/visitors/perform.rb:7:in `visit'
/Users/ivan/.rvm/gems/ruby-1.8.7-p352@global/gems/sass-3.1.3/bin/../lib/sass/../sass/tree/root_node.rb:20:in `render'
/Users/ivan/.rvm/gems/ruby-1.8.7-p352@global/gems/sass-3.1.3/bin/../lib/sass/../sass/engine.rb:291:in `_render'
/Users/ivan/.rvm/gems/ruby-1.8.7-p352@global/gems/sass-3.1.3/bin/../lib/sass/../sass/engine.rb:238:in `render'
/Users/ivan/.rvm/gems/ruby-1.8.7-p352@global/gems/sass-3.1.3/bin/../lib/sass/../sass/plugin/compiler.rb:319:in `update_stylesheet'
/Users/ivan/.rvm/gems/ruby-1.8.7-p352@global/gems/sass-3.1.3/bin/../lib/sass/../sass/plugin/compiler.rb:169:in `update_stylesheets'
/Users/ivan/.rvm/gems/ruby-1.8.7-p352@global/gems/sass-3.1.3/bin/../lib/sass/../sass/plugin/compiler.rb:167:in `each'
/Users/ivan/.rvm/gems/ruby-1.8.7-p352@global/gems/sass-3.1.3/bin/../lib/sass/../sass/plugin/compiler.rb:167:in `update_stylesheets'
/Users/ivan/.rvm/gems/ruby-1.8.7-p352@global/gems/sass-3.1.3/bin/../lib/sass/../sass/plugin/compiler.rb:214:in `watch'
/Users/ivan/.rvm/gems/ruby-1.8.7-p352@global/gems/sass-3.1.3/bin/../lib/sass/../sass/plugin.rb:111:in `send'
/Users/ivan/.rvm/gems/ruby-1.8.7-p352@global/gems/sass-3.1.3/bin/../lib/sass/../sass/plugin.rb:111:in `method_missing'
/Users/ivan/.rvm/gems/ruby-1.8.7-p352@global/gems/sass-3.1.3/bin/../lib/sass/../sass/exec.rb:408:in `watch_or_update'
/Users/ivan/.rvm/gems/ruby-1.8.7-p352@global/gems/sass-3.1.3/bin/../lib/sass/../sass/exec.rb:294:in `process_result'
/Users/ivan/.rvm/gems/ruby-1.8.7-p352@global/gems/sass-3.1.3/bin/../lib/sass/../sass/exec.rb:41:in `parse'
/Users/ivan/.rvm/gems/ruby-1.8.7-p352@global/gems/sass-3.1.3/bin/../lib/sass/../sass/exec.rb:21:in `parse!'
/Users/ivan/.rvm/gems/ruby-1.8.7-p352@global/gems/sass-3.1.3/bin/sass:8
/Users/ivan/.rvm/gems/ruby-1.8.7-p352/bin/sass:19:in `load'
/Users/ivan/.rvm/gems/ruby-1.8.7-p352/bin/sass:19
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: File to import not found or unreadable: compass.\A               Load path: /Users/ivan/dkd/typo3_src/Incubator/typo3/sysext/t3skin/extjs/sass\A         on line 111 of ext-all-typo3.scss\A \A 106: $button-toolbar-background-gradient-color-stops-over: null;\A 107: $button-toolbar-background-gradient-color-stops-focus: null;\A 108: $button-toolbar-background-gradient-color-stops-pressed: null;\A 109: $button-toolbar-background-gradient-color-stops-disabled: null;\A 110: \A 111: @import 'compass';\A 112: @import 'ext4/default/all';\A 113: \A 114: #typo3-pagetree-tree {\A 115: 	background-color: #EBEBEB;\A 116: }"; }
