/* Selectors for the InlineElements plugin of htmlArea RTE */
.htmlarea-action-bidi-override {
	background-image: url('images/bidioverride.gif') !important;
}
.htmlarea-action-big {
	background-image: url('images/big.gif') !important;
}
.htmlarea-action-bold {
	background-image: url('images/bold.gif') !important;
}
.htmlarea-action-citation {
	background-image: url('images/citation.gif') !important;
}
.htmlarea-action-code {
	background-image: url('images/code.gif') !important;
}
.htmlarea-action-definition {
	background-image: url('images/definition.gif') !important;
}
.htmlarea-action-deleted-text {
	background-image: url('images/deletedtext.gif') !important;
}
.htmlarea-action-emphasis {
	background-image: url('images/emphasis.gif') !important;
}
.htmlarea-action-italic {
	background-image: url('images/italic.gif') !important;
}
.htmlarea-action-inserted-text {
	background-image: url('images/insertedtext.gif') !important;
}
.htmlarea-action-keyboard {
	background-image: url('images/keyboard.gif') !important;
}
.htmlarea-action-mono-spaced {
	background-image: url('images/monospaced.gif') !important;
}
.htmlarea-action-quotation {
	background-image: url('images/quotation.gif') !important;
}
.htmlarea-action-sample {
	background-image: url('images/sample.gif') !important;
}
.htmlarea-action-small {
	background-image: url('images/small.gif') !important;
}
.htmlarea-action-span {
	background-image: url('images/span.gif') !important;
}
.htmlarea-action-strike-through {
	background-image: url('images/strikethrough.gif') !important;
}
.htmlarea-action-strong {
	background-image: url('images/strong.gif') !important;
}
.htmlarea-action-subscript {
	background-image: url('images/subscript.gif') !important;
}
.htmlarea-action-superscript {
	background-image: url('images/superscript.gif') !important;
}
.htmlarea-action-underline {
	background-image: url('images/underline.gif') !important;
}
.htmlarea-action-variable {
	background-image: url('images/variable.gif') !important;
}
.htmlarea-action-bidi-override,
.htmlarea-action-big,
.htmlarea-action-bold,
.htmlarea-action-citation,
.htmlarea-action-code,
.htmlarea-action-definition,
.htmlarea-action-deleted-text,
.htmlarea-action-emphasis,
.htmlarea-action-inserted-text,
.htmlarea-action-italic,
.htmlarea-action-keyboard,
.htmlarea-action-mono-spaced,
.htmlarea-action-quotation,
.htmlarea-action-sample,
.htmlarea-action-small,
.htmlarea-action-span,
.htmlarea-action-strike-through,
.htmlarea-action-strong,
.htmlarea-action-subscript,
.htmlarea-action-superscript,
.htmlarea-action-underline,
.htmlarea-action-variable {
	background-position: 0 0 !important;
}
