/* Selectors for the InlineElements plugin of htmlArea RTE */
.htmlarea .toolbar .BiDiOverride {background-image:url("images/bidioverride.gif");}
.htmlarea .toolbar .Big {background-image:url("images/big.gif");}
.htmlarea .toolbar .Bold {background-image:url("images/bold.gif");}
.htmlarea .toolbar .Citation {background-image:url("images/citation.gif");}
.htmlarea .toolbar .Code {background-image:url("images/code.gif");}
.htmlarea .toolbar .Definition {background-image:url("images/definition.gif");}
.htmlarea .toolbar .DeletedText {background-image:url("images/deletedtext.gif");}
.htmlarea .toolbar .Emphasis {background-image:url("images/emphasis.gif");}
.htmlarea .toolbar .InsertedText {background-image:url("images/insertedtext.gif");}
.htmlarea .toolbar .Italic {background-image:url("images/italic.gif");}
.htmlarea .toolbar .Keyboard {background-image:url("images/keyboard.gif");}
.htmlarea .toolbar .MonoSpaced {background-image:url("images/monospaced.gif");}
.htmlarea .toolbar .Quotation {background-image:url("images/quotation.gif");}
.htmlarea .toolbar .Sample {background-image:url("images/sample.gif");}
.htmlarea .toolbar .Small {background-image:url("images/small.gif");}
.htmlarea .toolbar .Span {background-image:url("images/span.gif");}
.htmlarea .toolbar .StrikeThrough {background-image:url("images/strikethrough.gif");}
.htmlarea .toolbar .Strong {background-image:url("images/strong.gif");}
.htmlarea .toolbar .Subscript {background-image:url("images/subscript.gif");}
.htmlarea .toolbar .Superscript {background-image:url("images/superscript.gif");}
.htmlarea .toolbar .Underline {background-image:url("images/underline.gif");}
.htmlarea .toolbar .Variable {background-image:url("images/variable.gif");}
