/**
 * This file is part of the TYPO3 CMS project.
 *
 * It is free software; you can redistribute it and/or modify it under
 * the terms of the GNU General Public License, either version 2
 * of the License, or any later version.
 *
 * For the full copyright and license information, please read the
 * LICENSE.txt file that was distributed with this source code.
 *
 * The TYPO3 project - inspiring people to share!
 */
/* - - - - - - - - - - - - - - - - - - - - -
Scheduler
- - - - - - - - - - - - - - - - - - - - - */
.tx_scheduler_mod1 a {
  text-decoration: underline;
}
.tx_scheduler_mod1 a.icon,
.tx_scheduler_mod1 a.typo3-csh-link {
  text-decoration: none;
}
.tx_scheduler_mod1 #typo3-docheader a {
  text-decoration: none;
}
.tx_scheduler_mod1 #typo3-inner-docbody {
  padding-right: 10px;
}
.tx_scheduler_mod1 .late {
  color: #f00;
  font-weight: bold;
}
.tx_scheduler_mod1 .status-legend {
  padding-top: 10px;
  padding-bottom: 5px;
  font-weight: bold;
}
.tx_scheduler_mod1 .progress {
  overflow: hidden;
  height: 14px;
  background-color: #DADADA;
  border-radius: 2px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1) inset;
  margin: 3px 0px;
}
.tx_scheduler_mod1 .progress .bar {
  width: 0%;
  height: 14px;
  background-color: #5b5b5b;
  background-image: linear-gradient(top, #7f7f7f 10%, #5b5b5b 100%);
  background-repeat: repeat-x;
  text-align: left;
  color: #fff;
  font-size: 8px;
  vertical-align: top;
  padding-left: 3px;
  padding-top: -1px;
}
/* Definition for BE function "Setup check" */
.info-block {
  margin: 25px 0px 0px 0px;
}
.info-block p {
  margin: 8px 5px 8px 5px;
}
