/* - - - - - - - - - - - - - - - - - - - - -

Title  : TYPO3 backend styles
Author : Ingo Renner <ingo@typo3.org>
URL    : http://typo3.org

Description : styles the TYPO3 backend, should only contain layout styles, no colors or border or so


	$Id$

- - - - - - - - - - - - - - - - - - - - - */


/* - - - - - - - - - - - - - - - - - - - - -

TYPO3 backend scaffolding

- - - - - - - - - - - - - - - - - - - - - */

body#typo3-backend-php {
	margin: 0;
	padding: 0;
}

#typo3-logo {
	float: left;
	width: 159px;
}

#typo3-toolbar div {
	overflow: visible !important;
}

#typo3-top-container {
	height: 25px;
}

#typo3-main-container {
	clear: both;
}

#typo3-top {
	margin-left: 160px;
}

iframe {
	width: 100%;
}

#typo3-side-menu,
iframe {
	height: 100%;
	overflow: auto;
}
