/* - - - - - - - - - - - - - - - - - - - - -

Title  : TYPO3 backend styles
Author : Ingo Renner <ingo@typo3.org>
URL    : http://typo3.org

Description : styles the TYPO3 backend, should only contain layout styles, no colors or border or so


	$Id$

- - - - - - - - - - - - - - - - - - - - - */


/* - - - - - - - - - - - - - - - - - - - - -

TYPO3 backend scaffolding

- - - - - - - - - - - - - - - - - - - - - */

body#typo3-backend-php {
	margin: 0px;
	padding: 0px;
}

#typo3-backend {
	width: 100%;
}

#typo3-logo,
#typo3-side-menu {
	float: left;
	width: 159px;
}

#typo3-top-container {
	height: 25px;
}

#typo3-main-container {
	clear: both;
}

#typo3-top,
#typo3-content {
	margin-left: 160px;
}

#typo3-side-menu {
	overflow: auto;
}

iframe {
	width: 99.9%;
}

#typo3-content,
#typo3-main-container,
#typo3-main-container * iframe {
	height: 660px;
	z-index: 1;
}






