/* - - - - - - - - - - - - - - - - - - - - -

Title  : TYPO3 backend styles
Author : Ingo Renner <ingo@typo3.org>
URL    : http://typo3.org

Description : styles for the TYPO3 backend

	$Id$

- - - - - - - - - - - - - - - - - - - - - */


/* ----- Basics ----- */

#typo3-backend {
	/* background-color: #fff; */
}

#typo3-top-container {
	background-image: url(../gfx/bar.png);
}

#typo3-logo {
	padding: 1px 0px 0px 10px;
}


/* ----- Toolbar ----- */

.typo3-top-toolbar {
	padding-right: 15px;
	position: absolute;
	right: 0px;
}

#typo3-toolbar {
	display: inline;
	list-style: none;
	margin: 0px;
	padding: 0px;
}

#typo3-toolbar li {
	display: inline;
	float: left;
	margin-right: -1px; /* necessary for overlaying the separators with the active state background */
}

#typo3-toolbar * li {
	display: list-item;
}

.toolbar-item {
	display: block;
	padding-top: 2px;
	padding-bottom: 9px;
	display: block;
	text-align: center;
	background-image: url(../gfx/toolbar_separator.png);
	background-repeat: no-repeat;
}

.toolbar-item-menu {
	top: 25px;
}

#typo3-toolbar .no-separator {
	background-image: none;
}

.toolbar-item-active {
	background-image: url(../gfx/toolbar_item_active_bg.png);
}


/* ----- logged in user ----- */

#username {
	padding-top: 4px;
}

#username.su-user {
	color: red;
	font-weight: bold;
}

#username a {
	text-decoration: none;
	line-height: 16px;
}

#username img {
	padding: 0px 2px;
	vertical-align: bottom;
}

#username span {
	padding-right: 4px;
	vertical-align: bottom;
}


/* ----- Logout ----- */

#typo3-side-menu form,
#login-info p {
	text-align: center;
}

#login-info p {
	padding-top: 5px;
	padding-bottom: 30px;
}

#logout-button {
	padding-left: 4px;
	padding-right: 7px;
}


/* ----- Workspace Selector ----- */

#workspace-selector-menu {
	width: 30px;
}

#workspace-selector-menu ul {
	position: absolute;
	list-style: none;
	padding: 2px 0px 0px;
	margin: 0px;
	background-color: #f9f9f9;
	border: 1px solid #abb2bc;
	border-top: none;
	width: 180px;
}

#workspace-selector-menu li {
	padding-top: 2px;
	padding-left: 2px;
	text-align: left;
	float: none;
	vertical-align: middle;
	min-height: 19px;
}
* html #workspace-selector-menu li {
	height: 19px;
}

#workspace-selector-menu li img {
	float: left;
}

#workspace-selector-menu li a {
	text-decoration: none;
	line-height: 12px;
	vertical-align: middle;
	display: block;
	padding-bottom: 2px;
	padding-left: 3px;
	font-size: 11px;
}

#workspace-selector-menu li.divider {
	border-top: 1px solid #a5a5a5;
	border-right: 1px solid #a5a5a5;
	background-image: url('../gfx/shortcutgroups-bg.png');
	background-repeat: repeat-x;
	padding-top: 4px;
}


/* ----- Caching ----- */

#clear-cache-actions-menu {
	width: 30px;
}

#clear-cache-actions-menu ul {
	position: absolute;
	list-style: none;
	padding: 2px 0px 0px;
	margin: 0px;
	background-color: #f9f9f9;
	border: 1px solid #abb2bc;
	border-top: none;
	width: 180px;
}

#clear-cache-actions-menu li {
	padding-top: 2px;
	padding-left: 2px;
	text-align: left;
	float: none;
	vertical-align: middle;
	min-height: 19px;
}
* html #clear-cache-actions-menu li {
	height: 19px;
}

#clear-cache-actions-menu li img {
	float: left;
	padding-right: 3px;
}

#clear-cache-actions-menu li a {
	text-decoration: none;
	line-height: 12px;
	vertical-align: middle;
	display: block;
	padding-bottom: 2px;
	padding-left: 3px;
	font-size: 11px;
}


/* ----- Shortcuts ----- */

#shortcut-menu {
	width: 30px;
}

#shortcut-menu .toolbar-item-menu {
	position: absolute;
	list-style: none;
	padding: 2px 0px 0px;
	margin: 0px;
	background-color: #f9f9f9;
	border: 1px solid #abb2bc;
	border-top: none;
	width: 220px;
}

#shortcut-menu .shortcut-list {
	width: 100%;
}

#shortcut-menu .shortcut-list tr.shortcut td {
	padding: 2px 1px;
	line-height: 16px;
}

#shortcut-menu .shortcut-list tr.shortcut.first-row td {
	background-image: url('../gfx/shortcutgroups-bg.png');
	background-repeat: repeat-x;
	padding-top: 4px;
}

#shortcut-menu .shortcut-list tr.shortcut-group td.shortcut-group-icon,
#shortcut-menu .shortcut-list tr.shortcut td.shortcut-icon,
#shortcut-menu .shortcut-list td.shortcut-edit,
#shortcut-menu .shortcut-list td.shortcut-delete {
	width: 18px;
	text-align: center;
	vertical-align: top;
}

#shortcut-menu .shortcut-list tr.shortcut td.shortcut-label a {
	display: block;
	cursor: pointer;
}

#shortcut-menu .shortcut-list tr.shortcut td.shortcut-edit img,
#shortcut-menu .shortcut-list tr.shortcut td.shortcut-delete img {
	display: none;
	cursor: pointer;
}

#shortcut-menu .shortcut-list tr.shortcut:hover td.shortcut-edit img,
#shortcut-menu .shortcut-list tr.shortcut:hover td.shortcut-delete img {
	display: inline;
}

#shortcut-menu .shortcut-list tr.shortcut-group td.shortcut-group-icon,
#shortcut-menu .shortcut-list tr.shortcut td.shortcut-icon {
	padding-left: 7px;
	vertical-align: top;
}

#shortcut-menu .shortcut-list .shortcut-group td {
	border-top: 1px solid #a5a5a5;
	border-bottom: 1px solid #a5a5a5;
	background-color: #dbdbdb;
}


/* ----- Backend Search ----- */

#backend-search-menu {
	width: 30px;
}

#backend-search-menu div {
	position: absolute;
	padding: 3px 5px;
	text-align: right;
	margin: 0px;
	background-color: #f9f9f9;
	border: 1px solid #abb2bc;
	border-top: none;
	width: 180px;
}

#search-query {
	width: 170px;
	border: 1px #848484 solid;
	padding: 1px;
}

/* ----- File Upload Window ----- */

.swfupload {
	display: block;
	position: absolute;
	height: 22px;
	z-index: 2000;
}

#t3-upload-window-infopanel div div {
	padding: 10px;
}
.t3-upload-window-infopanel div div {
	padding: 0 10px 10px;
}

.t3-upload-window-infopanel input {
	vertical-align: text-bottom;
	margin-right: 3px;
}

.t3-upload-window-progressbar .x-progress-text div {
	text-align: left;
	text-indent: 6px;
}





























