/* - - - - - - - - - - - - - - - - - - - - -

Title  : TYPO3 backend styles
Author : Ingo Renner <ingo@typo3.org>
URL    : http://typo3.org

Description : styles the TYPO3 backend

	$Id$

- - - - - - - - - - - - - - - - - - - - - */


/* ----- Basics ----- */

#typo3-backend {
	/* background-color: #fff; */
}

#typo3-top-container {
	background-image: url(../gfx/bar.png);
}

#typo3-logo {
	padding: 1px 0px 0px 10px;
}


/* ----- Logout ----- */

#typo3-side-menu form,
#login-info p {
	text-align: center;
}

#login-info p {
	padding-top: 5px;
	padding-bottom: 30px;
}


/* ----- Toolbar ----- */

.typo3-top-toolbar {
	padding-right: 15px;
	position: absolute;
	right: 0px;
}

#typo3-toolbar {
	display: inline;
	list-style: none;
	margin: 0px;
	padding: 0px;
}

#typo3-toolbar li {
	float: left;
}

.toolbar-item {
	height: 23px;
	padding-top: 2px;
	display: block;
	text-align: center;
	background-image: url(../gfx/toolbar_separator.png);
	background-repeat: no-repeat;
}

#typo3-toolbar .no-separator {
	background-image: none;
}

.toolbar-item-active {
	background-image: url(../gfx/toolbar_item_active_bg.png);
}


/* ----- logged in user ----- */

#username {
	padding-top: 5px;
}

#logout-button {
	padding-left: 4px;
	padding-right: 6px;
}


/* ----- Workspace Selector ----- */

#workspace-selector span {
	padding-top: 2px;
	padding-left: 7px;
	margin-right: 5px;
}

/* ----- Caching ----- */

#clear-cache-actions-menu {
	width: 30px;
}

#clear-cache-actions-menu ul {
	position: absolute;
	list-style: none;
	padding: 2px 0px 0px;
	margin: 0px;
	background-color: #f9f9f9;
	border: 1px solid #abb2bc;
	border-top: none;
	width: 180px;
	right: 15px;
}

#clear-cache-actions-menu li {
	padding-left: 3px;
	padding-top: 2px;
	clear: both;
	text-align: left;
	float: none;
	vertical-align: middle;
	height: 19px;
}

#clear-cache-actions-menu li img {
	float: left;
}

#clear-cache-actions-menu li a {
	text-decoration: none;
	display: block;
	padding-bottom: 2px;
	padding-left: 5px;
	float: left;
	font-size: 11px;
}


