/* - - - - - - - - - - - - - - - - - - - - -

Title  : TYPO3 backend vertical menu styles
Author : Ingo Renner <ingo@typo3.org>
URL    : http://typo3.org

Description : styles the TYPO3 backend

	$Id$

- - - - - - - - - - - - - - - - - - - - - */


/* - - - - - - - - - - - - - - - - - - - - -

TYPO3 backend menu - vertical

- - - - - - - - - - - - - - - - - - - - - */

#typo3-side-menu {
	border-right: 1px solid #ddd;
}

#typo3-menu,
#typo3-menu ul {
	list-style: none;
	padding: 0px;
	margin: 0px;
}

#typo3-menu {
	padding-top: 2px;
	padding-left: 1px;
}

#typo3-menu li {
	clear: both;
}

#typo3-menu li div {
	font-weight: bold;
	border: 1px solid #9ba1a8;
	background-color: #d7dbe2;
	cursor: pointer;
	height: 14px;
	padding: 1px;
	vertical-align: middle;
	width: 138px; /* considering scrollbars this is the most we can take */
	margin: 3px 0px 3px;
}

#typo3-menu li span.submodule-icon {
	display: block;
	float: left;
	width: 20px;
	vertical-align: top;
}

#typo3-menu li ul li {
	font-weight: normal;
	width: 138px;
	padding: 1px 0px 1px 2px;
	margin-left: 1px;
	margin-bottom: 1px;
	cursor: pointer;
	height: auto;
}

#typo3-menu li ul li a {
	text-decoration: none;
	display: block;
}

#typo3-menu li.menuSection li:hover,
#typo3-menu li.menuSection li.hover,
#typo3-menu li.highlighted {
	background-color: #e3dfdb;
}

#typo3-menu li.highlighted {
	font-weight: bold;
}








