{namespace em=TYPO3\CMS\Extensionmanager\ViewHelpers}

<td>
	<em:downloadExtension extension="{extension}" />
</td>
<td>
	{extension.title}
</td>
<td>
	{extension.extensionKey}
</td>
<td>
	{extension.version}
	<em:showExtensionVersions extension="{extension}" />
</td>
<td>
	{extension.description}

	<div class="author">
		<div class="author-name">{extension.authorName}</div>
		<div class="author-email">{extension.authorEmail}</div>
	</div>
</td>
<td class="{extension.stateString}">
	{extension.stateString}
</td>
