<html
    xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    xmlns:sg="http://typo3.org/ns/TYPO3/CMS/Styleguide/ViewHelpers"
    data-namespace-typo3-fluid="true"
>

<f:layout name="Module" />

<f:section name="Content">

    <f:render
        partial="Backend/Navigation"
        arguments="{
            currentAction: currentAction,
            actions: actions,
            route: routeIdentifier
        }"
    />

    <div class="styleguide-content">
        <h1><f:translate key="LLL:EXT:styleguide/Resources/Private/Language/locallang.xlf:component.accordion.headline" /></h1>

        <h2><f:translate key="LLL:EXT:styleguide/Resources/Private/Language/locallang.xlf:component.accordion.section.default.headline" /></h2>
        <p><f:translate key="LLL:EXT:styleguide/Resources/Private/Language/locallang.xlf:component.accordion.section.default.text" /></p>

        <f:variable name="codeSnippetDefault">
            <f:render section="accordion" arguments="{identifier: 'simple-panel'}" />
        </f:variable>
        <sg:example codePreview="true" codeLanguage="html" customCode="{codeSnippetDefault}">
            <f:render
                section="accordion"
                arguments="{
                    identifier: 'simple-panel',
                    panelBodyValue: 'Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores.'
                }"
            />
        </sg:example>

        <h2><f:translate key="LLL:EXT:styleguide/Resources/Private/Language/locallang.xlf:component.accordion.section.firstPanelOpened.headline" /></h2>
        <p>
            <f:sanitize.html><f:translate key="LLL:EXT:styleguide/Resources/Private/Language/locallang.xlf:component.accordion.section.firstPanelOpened.text" /></f:sanitize.html>
        </p>
        <sg:example>
            <f:render
                section="accordion"
                arguments="{
                    identifier: 'first-opened-panel',
                    panelBodyValue: 'Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores.',
                    firstPanelIsOpened: 1
                }"
            />
        </sg:example>

        <hr>

        <h2><f:translate key="LLL:EXT:styleguide/Resources/Private/Language/locallang.xlf:section.frontend.headline" /></h2>

        <h3><f:translate key="LLL:EXT:styleguide/Resources/Private/Language/locallang.xlf:section.colorScheme.headline" /></h3>
        <sg:colorScheme>
            <f:render
                section="accordion"
                arguments="{
                    identifier: 'color-panel',
                    panelBodyValue: 'Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores.'
                }"
            />
        </sg:colorScheme>
    </div>

</f:section>

<f:section name="accordion">
<div class="panel-group" id="{identifier}" role="tablist">
    <f:render
        section="accordionItem"
        arguments="{
            identifier: identifier,
            iterator: '1',
            panelTitleValue: 'Panel element',
            panelBodyValue: panelBodyValue,
            firstPanelIsOpened: firstPanelIsOpened
        }"
    />
    <f:render
        section="accordionItem"
        arguments="{
            identifier: identifier,
            iterator: '2',
            panelTitleValue: 'Panel element',
            panelBodyValue: panelBodyValue,
            firstPanelIsOpened: firstPanelIsOpened
        }"
    />
</div>
</f:section>

<f:section name="accordionItem">
    <f:if condition="{firstPanelIsOpened} && ({iterator} == '1')">
        <f:variable name="isOpened" value="1" />
    </f:if>
    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="{identifier}-{iterator}-heading">
            <h3 class="panel-title">
                <a href="#{identifier}-{iterator}" class="collapsed" role="button" data-bs-toggle="collapse" aria-expanded="{f:if(condition: isOpened, then: 'true', else: 'false')}" aria-controls="{identifier}-{iterator}">
                    <span class="caret"></span>
                    <strong>{panelTitleValue} {iterator}</strong>
                </a>
            </h3>
        </div>
        <div id="{identifier}-{iterator}" class="panel-collapse collapse{f:if(condition: isOpened, then: ' show')}" role="tabpanel" data-bs-parent="#{identifier}" aria-labelledby="{identifier}-{iterator}-heading">
            <div class="panel-body">{f:if(condition: panelBodyValue, then: panelBodyValue, else: '...')}</div>
        </div>
    </div>
</f:section>

</html>
