<html
    xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    xmlns:sg="http://typo3.org/ns/TYPO3/CMS/Styleguide/ViewHelpers"
    xmlns:be="http://typo3.org/ns/TYPO3/CMS/Backend/ViewHelpers"
    data-namespace-typo3-fluid="true"
>

<f:layout name="Module" />

<f:section name="Content">

    <f:render
        partial="Backend/Navigation"
        arguments="{
            currentAction: currentAction,
            actions: actions,
            route: routeIdentifier
        }"
    />

    <div class="styleguide-content">
        <h1><f:translate key="LLL:EXT:styleguide/Resources/Private/Language/locallang.xlf:component.avatar.headline" /></h1>
        <p>
            <f:sanitize.html><f:translate key="LLL:EXT:styleguide/Resources/Private/Language/locallang.xlf:component.avatar.introtext" /></f:sanitize.html>
        </p>

        <h2><f:translate key="LLL:EXT:styleguide/Resources/Private/Language/locallang.xlf:component.avatar.section.default.headline" /></h2>
        <p><f:translate key="LLL:EXT:styleguide/Resources/Private/Language/locallang.xlf:component.avatar.section.default.text" /></p>

        <f:variable name="codeSnippetDefault">&lt;be:avatar /&gt;</f:variable>
        <sg:example codePreview="true" codeLanguage="html" customCode="{codeSnippetDefault}" decodeEntities="true">
            <be:avatar />
        </sg:example>

        <h2><f:translate key="LLL:EXT:styleguide/Resources/Private/Language/locallang.xlf:component.avatar.section.withStatus.headline" /></h2>
        <p><f:translate key="LLL:EXT:styleguide/Resources/Private/Language/locallang.xlf:component.avatar.section.withStatus.text" /></p>

        <f:variable name="codeSnippetStatus">&lt;be:avatar showIcon="true" /&gt;</f:variable>
        <sg:example codePreview="true" codeLanguage="html" customCode="{codeSnippetStatus}" decodeEntities="true">
            <be:avatar showIcon="true" />
        </sg:example>

        <hr>

        <h2><f:translate key="LLL:EXT:styleguide/Resources/Private/Language/locallang.xlf:section.frontend.headline" /></h2>

        <h3><f:translate key="LLL:EXT:styleguide/Resources/Private/Language/locallang.xlf:section.colorScheme.headline" /></h3>
        <sg:colorScheme>
            <be:avatar showIcon="true" />
        </sg:colorScheme>
    </div>

</f:section>

</html>
