<html
    xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    xmlns:sg="http://typo3.org/ns/TYPO3/CMS/Styleguide/ViewHelpers"
    xmlns:be="http://typo3.org/ns/TYPO3/CMS/Backend/ViewHelpers"
    data-namespace-typo3-fluid="true"
>

<f:layout name="Module" />

<f:section name="Content">

    <f:render
        partial="Backend/Navigation"
        arguments="{
            currentAction: currentAction,
            actions: actions,
            route: routeIdentifier
        }"
    />

    <div class="styleguide-content">
        <h1><f:translate key="LLL:EXT:styleguide/Resources/Private/Language/locallang.xlf:component.avatar.headline" /></h1>
        <p>
            <f:sanitize.html>
                <f:translate key="LLL:EXT:styleguide/Resources/Private/Language/locallang.xlf:component.avatar.introtext" />
            </f:sanitize.html>
        </p>

        <h2><f:translate key="LLL:EXT:styleguide/Resources/Private/Language/locallang.xlf:component.avatar.state.default.headline" /></h2>
        <p><f:translate key="LLL:EXT:styleguide/Resources/Private/Language/locallang.xlf:component.avatar.state.default.text" /></p>

        <div class="styleguide-example">
            <div class="styleguide-example-content">
                <be:avatar />
            </div>
            <div class="styleguide-example-code">
                <sg:code language="html" codeonly="true" decodeEntities="true">
                    &lt;be:avatar /&gt;
                </sg:code>
            </div>
        </div>

        <h2><f:translate key="LLL:EXT:styleguide/Resources/Private/Language/locallang.xlf:component.avatar.state.withStatus.headline" /></h2>
        <p><f:translate key="LLL:EXT:styleguide/Resources/Private/Language/locallang.xlf:component.avatar.state.withStatus.text" /></p>

        <div class="styleguide-example">
            <div class="styleguide-example-content">
                <be:avatar showIcon="true" />
            </div>
            <div class="styleguide-example-code">
                <sg:code language="html" codeonly="true" decodeEntities="true">
                    &lt;be:avatar showIcon="true" /&gt;
                </sg:code>
            </div>
        </div>

        <h2><f:translate key="LLL:EXT:styleguide/Resources/Private/Language/locallang.xlf:component.avatar.color.headline" /></h2>

        <div class="styleguide-example">
            <sg:code language="html" colorschemes="true" exampleonly="true">
                <be:avatar showIcon="true" />
            </sg:code>
        </div>
    </div>

</f:section>

</html>
