<html
    xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    xmlns:sg="http://typo3.org/ns/TYPO3/CMS/Styleguide/ViewHelpers"
    xmlns:co="http://typo3.org/ns/TYPO3/CMS/Core/ViewHelpers"
    data-namespace-typo3-fluid="true"
>

<f:layout name="Module" />

<f:section name="Content">

    <f:render
        partial="Backend/Navigation"
        arguments="{
            currentAction: currentAction,
            actions: actions,
            route: routeIdentifier
        }"
    />

    <div class="styleguide-content">

        <h1><f:translate key="LLL:EXT:styleguide/Resources/Private/Language/locallang.xlf:action.checkboxes" /></h1>
        <f:asset.script identifier="styleguide-checkbox-demo" src="EXT:styleguide/Resources/Public/JavaScript/checkbox-demo.js" />

        <h2>Checkbox</h2>
        <sg:code language="html">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="checkbox-default-<UNIQUEID>">
                <label class="form-check-label" for="checkbox-default-<UNIQUEID>">Default checkbox</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="checkbox-checked-<UNIQUEID>" checked>
                <label class="form-check-label" for="checkbox-checked-<UNIQUEID>">Checked checkbox</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="checkbox-indeterminate-<UNIQUEID>">
                <label class="form-check-label" for="checkbox-indeterminate-<UNIQUEID>">Indeterminate checkbox</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="checkbox-disabled-<UNIQUEID>" disabled>
                <label class="form-check-label" for="checkbox-disabled-<UNIQUEID>">Disabled checkbox</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="checkbox-disabled-checked-<UNIQUEID>" checked disabled>
                <label class="form-check-label" for="checkbox-disabled-checked-<UNIQUEID>">Disabled checked checkbox</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="checkbox-disabled-indeterminate-<UNIQUEID>" disabled>
                <label class="form-check-label" for="checkbox-disabled-indeterminate-<UNIQUEID>">Disabled indeterminate checkbox</label>
            </div>
        </sg:code>

        <h2>Switch</h2>
        <sg:code language="html">
            <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" value="" id="switch-default-<UNIQUEID>">
                <label class="form-check-label" for="switch-default-<UNIQUEID>">Default switch</label>
            </div>
            <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" value="" id="switch-checked-<UNIQUEID>" checked>
                <label class="form-check-label" for="switch-checked-<UNIQUEID>">Checked switch</label>
            </div>
            <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" value="" id="switch-indeterminate-<UNIQUEID>">
                <label class="form-check-label" for="switch-indeterminate-<UNIQUEID>">Indeterminate switch</label>
            </div>
            <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" value="" id="switch-disabled-<UNIQUEID>" disabled>
                <label class="form-check-label" for="switch-disabled-<UNIQUEID>">Disabled switch</label>
            </div>
            <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" value="" id="switch-disabled-checked-<UNIQUEID>" checked disabled>
                <label class="form-check-label" for="switch-disabled-checked-<UNIQUEID>">Disabled checked switch</label>
            </div>
            <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" value="" id="switch-disabled-indeterminate-<UNIQUEID>" disabled>
                <label class="form-check-label" for="switch-disabled-indeterminate-<UNIQUEID>">Disabled indeterminate switch</label>
            </div>
        </sg:code>

        <h2>Labeled Toggle</h2>
        <sg:code language="html">
            <div class="form-check form-check-type-labeled-toggle">
                <input
                    class="form-check-input"
                    type="checkbox"
                    value=""
                    id="labeledtoggle-default-<UNIQUEID>"
                    data-form-check-label-checked="Enabled"
                    data-form-check-label-unchecked="Disabled"
                >
                <label class="form-check-label" for="labeledtoggle-default-<UNIQUEID>">Default labeled toggle</label>
            </div>
            <div class="form-check form-check-type-labeled-toggle">
                <input
                    class="form-check-input"
                    type="checkbox"
                    value=""
                    id="labeledtoggle-checked-<UNIQUEID>"
                    data-form-check-label-checked="Enabled"
                    data-form-check-label-unchecked="Disabled"
                    checked
                >
                <label class="form-check-label" for="labeledtoggle-checked-<UNIQUEID>">Checked labeled toggle</label>
            </div>
            <div class="form-check form-check-type-labeled-toggle">
                <input
                    class="form-check-input"
                    type="checkbox"
                    value=""
                    id="labeledtoggle-disabled-<UNIQUEID>"
                    data-form-check-label-checked="Enabled"
                    data-form-check-label-unchecked="Disabled"
                    disabled
                >
                <label class="form-check-label" for="labeledtoggle-disabled-<UNIQUEID>">Disabled labeled toggle</label>
            </div>
            <div class="form-check form-check-type-labeled-toggle">
                <input
                    class="form-check-input"
                    type="checkbox"
                    value=""
                    id="labeledtoggle-disabled-checked-<UNIQUEID>"
                    data-form-check-label-checked="Enabled"
                    data-form-check-label-unchecked="Disabled"
                    checked
                    disabled
                >
                <label class="form-check-label" for="labeledtoggle-disabled-checked-<UNIQUEID>">Disabled checked labeled toggle</label>
            </div>
        </sg:code>

        <h2>Icon Toggle</h2>
        <sg:code language="html">
            <div class="form-check form-check-type-icon-toggle">
                <input class="form-check-input" type="checkbox" value="" id="icontoggle-default-basic-<UNIQUEID>">
                <label class="form-check-label" for="icontoggle-default-basic-<UNIQUEID>">
                    <span class="form-check-label-icon">
                        <span class="form-check-label-icon-checked">
                            <core:icon identifier="actions-check" size="small" />
                        </span>
                        <span class="form-check-label-icon-unchecked">
                            <core:icon identifier="actions-close" size="small" />
                        </span>
                        <span class="form-check-label-icon-indeterminate">
                            <core:icon identifier="actions-minus" size="small" />
                        </span>
                    </span>
                    Default icon toggle
                </label>
            </div>
            <div class="form-check form-check-type-icon-toggle">
                <input class="form-check-input" type="checkbox" value="" id="icontoggle-default-checked-<UNIQUEID>" checked>
                <label class="form-check-label" for="icontoggle-default-checked-<UNIQUEID>">
                    <span class="form-check-label-icon">
                        <span class="form-check-label-icon-checked">
                            <core:icon identifier="actions-check" size="small" />
                        </span>
                        <span class="form-check-label-icon-unchecked">
                            <core:icon identifier="actions-close" size="small" />
                        </span>
                        <span class="form-check-label-icon-indeterminate">
                            <core:icon identifier="actions-minus" size="small" />
                        </span>
                    </span>
                    Checked icon toggle
                </label>
            </div>
            <div class="form-check form-check-type-icon-toggle">
                <input class="form-check-input" type="checkbox" value="" id="icontoggle-default-indeterminate-<UNIQUEID>">
                <label class="form-check-label" for="icontoggle-default-indeterminate-<UNIQUEID>">
                    <span class="form-check-label-icon">
                        <span class="form-check-label-icon-checked">
                            <core:icon identifier="actions-check" size="small" />
                        </span>
                        <span class="form-check-label-icon-unchecked">
                            <core:icon identifier="actions-close" size="small" />
                        </span>
                        <span class="form-check-label-icon-indeterminate">
                            <core:icon identifier="actions-minus" size="small" />
                        </span>
                    </span>
                    Indeterminate icon toggle
                </label>
            </div>
            <div class="form-check form-check-type-icon-toggle">
                <input class="form-check-input" type="checkbox" value="" id="icontoggle-disabled-basic-<UNIQUEID>" disabled>
                <label class="form-check-label" for="icontoggle-disabled-basic-<UNIQUEID>">
                    <span class="form-check-label-icon">
                        <span class="form-check-label-icon-checked">
                            <core:icon identifier="actions-check" size="small" />
                        </span>
                        <span class="form-check-label-icon-unchecked">
                            <core:icon identifier="actions-close" size="small" />
                        </span>
                        <span class="form-check-label-icon-indeterminate">
                            <core:icon identifier="actions-minus" size="small" />
                        </span>
                    </span>
                    Disabled icon toggle
                </label>
            </div>
            <div class="form-check form-check-type-icon-toggle">
                <input class="form-check-input" type="checkbox" value="" id="icontoggle-disabled-checked-<UNIQUEID>" checked disabled>
                <label class="form-check-label" for="icontoggle-disabled-checked-<UNIQUEID>">
                    <span class="form-check-label-icon">
                        <span class="form-check-label-icon-checked">
                            <core:icon identifier="actions-check" size="small" />
                        </span>
                        <span class="form-check-label-icon-unchecked">
                            <core:icon identifier="actions-close" size="small" />
                        </span>
                        <span class="form-check-label-icon-indeterminate">
                            <core:icon identifier="actions-minus" size="small" />
                        </span>
                    </span>
                    Disabled checked icon toggle
                </label>
            </div>
            <div class="form-check form-check-type-icon-toggle">
                <input class="form-check-input" type="checkbox" value="" id="icontoggle-disabled-indeterminate-<UNIQUEID>" disabled>
                <label class="form-check-label" for="icontoggle-disabled-indeterminate-<UNIQUEID>">
                    <span class="form-check-label-icon">
                        <span class="form-check-label-icon-checked">
                            <core:icon identifier="actions-check" size="small" />
                        </span>
                        <span class="form-check-label-icon-unchecked">
                            <core:icon identifier="actions-close" size="small" />
                        </span>
                        <span class="form-check-label-icon-indeterminate">
                            <core:icon identifier="actions-minus" size="small" />
                        </span>
                    </span>
                    Disabled indeterminate icon toggle
                </label>
            </div>
        </sg:code>

        <h2>Toggle</h2>
        <sg:code language="html">
            <div class="form-check form-check-type-toggle">
                <input class="form-check-input" type="checkbox" value="" id="toggle-default-<UNIQUEID>">
                <label class="form-check-label" for="toggle-default-<UNIQUEID>">Default toggle</label>
            </div>
            <div class="form-check form-check-type-toggle">
                <input class="form-check-input" type="checkbox" value="" id="toggle-checked-<UNIQUEID>" checked>
                <label class="form-check-label" for="toggle-checked-<UNIQUEID>">Checked toggle</label>
            </div>
            <div class="form-check form-check-type-toggle">
                <input class="form-check-input" type="checkbox" value="" id="toggle-indeterminate-<UNIQUEID>">
                <label class="form-check-label" for="toggle-indeterminate-<UNIQUEID>">Indeterminate toggle</label>
            </div>
            <div class="form-check form-check-type-toggle">
                <input class="form-check-input" type="checkbox" value="" id="toggle-disabled-<UNIQUEID>" disabled>
                <label class="form-check-label" for="toggle-disabled-<UNIQUEID>">Disabled toggle</label>
            </div>
            <div class="form-check form-check-type-toggle">
                <input class="form-check-input" type="checkbox" value="" id="toggle-disabled-checked-<UNIQUEID>" checked disabled>
                <label class="form-check-label" for="toggle-disabled-checked-<UNIQUEID>">Disabled checked toggle</label>
            </div>
            <div class="form-check form-check-type-toggle">
                <input class="form-check-input" type="checkbox" value="" id="toggle-disabled-indeterminate-<UNIQUEID>" disabled>
                <label class="form-check-label" for="toggle-disabled-indeterminate-<UNIQUEID>">Disabled indeterminate toggle</label>
            </div>
        </sg:code>

        <h2>Button Check</h2>
        <sg:code language="html">
            <div class="my-2">
                <input class="btn-check" type="checkbox" value="" id="btncheck-default-basic-<UNIQUEID>">
                <label class="btn btn-default" for="btncheck-default-basic-<UNIQUEID>">Default button-check</label>
            </div>
            <div class="my-2">
                <input class="btn-check" type="checkbox" value="" id="btncheck-default-checked-<UNIQUEID>" checked>
                <label class="btn btn-default" for="btncheck-default-checked-<UNIQUEID>">Checked button-check</label>
            </div>
            <div class="my-2">
                <input class="btn-check" type="checkbox" value="" id="btncheck-disabled-basic-<UNIQUEID>" disabled>
                <label class="btn btn-default" for="btncheck-disabled-basic-<UNIQUEID>">Disabled button-check</label>
            </div>
            <div class="my-2">
                <input class="btn-check" type="checkbox" value="" id="btncheck-disabled-checked-<UNIQUEID>" checked disabled>
                <label class="btn btn-default" for="btncheck-disabled-checked-<UNIQUEID>">Disabled checked button-check</label>
            </div>
        </sg:code>

    </div>

</f:section>

</html>
