<html
    xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    xmlns:sg="http://typo3.org/ns/TYPO3/CMS/Styleguide/ViewHelpers"
    data-namespace-typo3-fluid="true"
>

<f:layout name="Module" />

<f:section name="Content">

    <f:render
        partial="Backend/Navigation"
        arguments="{
            currentAction: currentAction,
            actions: actions,
            route: routeIdentifier
        }"
    />

    <div class="styleguide-content">
        <h1><f:translate key="LLL:EXT:styleguide/Resources/Private/Language/locallang.xlf:component.table.headline" /></h1>
        <p><f:translate key="LLL:EXT:styleguide/Resources/Private/Language/locallang.xlf:component.table.introtext" /></p>

        <h2><f:translate key="LLL:EXT:styleguide/Resources/Private/Language/locallang.xlf:component.table.section.default.headline" /></h2>
        <f:variable name="codeSnippetDefault">
            <div class="table-fit">
                <table class="table table-striped table-hover">
                    <caption>Table caption</caption>
                    <thead>
                        <tr>
                            <th>Column 1</th>
                            <th>Column 2</th>
                            <th class="col-control"><span class="visually-hidden">&lt;f:translate key="LLL:EXT:core/Resources/Private/Language/locallang_core.xlf:labels._CONTROL_" /&gt;</span></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>First row</td>
                            <td>Lorem ipsum dolor sit amet, consetetur sadipscing elitr.</td>
                            <td class="col-control">
                                <div class="btn-group" role="group">
                                    <button class="btn btn-default" title="#">
                                        &lt;core:icon identifier="actions-view-page" size="small" /&gt;
                                    </button>
                                    <a class="btn btn-default" href="#" title="#">
                                        &lt;core:icon identifier="actions-open" size="small" /&gt;
                                    </a>
                                </div>
                            </td>
                        </tr>
                        <tr>...</tr>
                        <tr>...</tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan="3">3 records</td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </f:variable>
        <sg:example codePreview="true" codeLanguage="html" customCode="{codeSnippetDefault}" decodeEntities="true">
            <f:render section="tableDefault" arguments="{_all}" />
        </sg:example>

        <h2><f:translate key="LLL:EXT:styleguide/Resources/Private/Language/locallang.xlf:component.table.section.wideTables.headline" /></h2>
        <sg:example>
            <div class="table-fit">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Head 1</th>
                            <th>Head 2</th>
                            <th>Head 3</th>
                            <th>Head 4</th>
                            <th>Head 5</th>
                            <th>Head 6</th>
                            <th>Head 7</th>
                            <th>Head 8</th>
                            <th>Head 9</th>
                            <th>Head 10</th>
                            <th>Head 11</th>
                            <th>Head 12</th>
                            <th>Head 13</th>
                            <th>Head 14</th>
                            <th>Head 15</th>
                            <th>Head 16</th>
                            <th>Head 17</th>
                            <th>Head 18</th>
                            <th>Head 19</th>
                            <th>Head 20</th>
                            <th>Head 21</th>
                            <th>Head 22</th>
                            <th>Head 23</th>
                            <th>Head 24</th>
                            <th>Head 25</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Body 1</td>
                            <td>Body 2</td>
                            <td>Body 3</td>
                            <td>Body 4</td>
                            <td>Body 5</td>
                            <td>Body 6</td>
                            <td>Body 7</td>
                            <td>Body 8</td>
                            <td>Body 9</td>
                            <td>Body 10</td>
                            <td>Body 11</td>
                            <td>Body 12</td>
                            <td>Body 13</td>
                            <td>Body 14</td>
                            <td>Body 15</td>
                            <td>Body 16</td>
                            <td>Body 17</td>
                            <td>Body 18</td>
                            <td>Body 19</td>
                            <td>Body 20</td>
                            <td>Body 21</td>
                            <td>Body 22</td>
                            <td>Body 23</td>
                            <td>Body 24</td>
                            <td>Body 25</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </sg:example>

        <h2><f:translate key="LLL:EXT:styleguide/Resources/Private/Language/locallang.xlf:component.table.section.color.headline" /></h2>
        <p>
            <f:sanitize.html><f:translate key="LLL:EXT:styleguide/Resources/Private/Language/locallang.xlf:component.table.section.color.text" /></f:sanitize.html>
        </p>
        <f:variable name="codeSnippetColor">
            active
            success
            info
            warning
            danger
        </f:variable>
        <sg:example codePreview="true" codeLanguage="html" customCode="{codeSnippetColor}">
            <div class="table-fit">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Column 1</th>
                            <th>Column 2</th>
                            <th class="col-control"><span class="visually-hidden"><f:translate key="LLL:EXT:core/Resources/Private/Language/locallang_core.xlf:labels._CONTROL_" /></span></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="active">
                            <td>Active</td>
                            <td>At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est.</td>
                            <td class="col-control">
                                <f:render section="buttonGroup" arguments="{_all}" />
                            </td>
                        </tr>
                        <tr class="info">
                            <td>Info</td>
                            <td>Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim placerat facer possim assum.</td>
                            <td class="col-control">
                                <f:render section="buttonGroup" arguments="{_all}" />
                            </td>
                        </tr>
                        <tr class="success">
                            <td>Sucess</td>
                            <td>Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</td>
                            <td class="col-control">
                                <f:render section="buttonGroup" arguments="{_all}" />
                            </td>
                        </tr>
                        <tr class="warning">
                            <td>Warning</td>
                            <td>Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis.</td>
                            <td class="col-control">
                                <f:render section="buttonGroup" arguments="{_all}" />
                            </td>
                        </tr>
                        <tr class="danger">
                            <td>Danger</td>
                            <td>Consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</td>
                            <td class="col-control">
                                <f:render section="buttonGroup" arguments="{_all}" />
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </sg:example>

        <h2><f:translate key="LLL:EXT:styleguide/Resources/Private/Language/locallang.xlf:section.frontend.headline" /></h2>

        <h3><f:translate key="LLL:EXT:styleguide/Resources/Private/Language/locallang.xlf:section.colorScheme.headline" /></h3>
        <h4><f:translate key="LLL:EXT:styleguide/Resources/Private/Language/locallang.xlf:component.table.section.colorScheme.default.headline" /></h4>
        <sg:colorScheme>
            <f:render section="tableDefault" arguments="{_all}" />
        </sg:colorScheme>

        <h4><f:translate key="LLL:EXT:styleguide/Resources/Private/Language/locallang.xlf:component.table.section.colorScheme.colorFullExample.headline" /></h4>
        <sg:colorScheme>
            <div class="table-fit">
                <table class="table table-striped table-hover">
                    <thead>
                        <tr>
                            <th>Column 1</th>
                            <th>Column 2</th>
                            <th class="col-control"><span class="visually-hidden"><f:translate key="LLL:EXT:core/Resources/Private/Language/locallang_core.xlf:labels._CONTROL_" /></span></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Default (even)</td>
                            <td>At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est.</td>
                            <td class="col-control">
                                <f:render section="buttonGroup" arguments="{_all}" />
                            </td>
                        </tr>
                        <tr>
                            <td>Default (odd)</td>
                            <td>At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est.</td>
                            <td class="col-control">
                                <f:render section="buttonGroup" arguments="{_all}" />
                            </td>
                        </tr>
                        <tr class="active">
                            <td>Active (even)</td>
                            <td>At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est.</td>
                            <td class="col-control">
                                <f:render section="buttonGroup" arguments="{_all}" />
                            </td>
                        </tr>
                        <tr class="active">
                            <td>Active (odd)</td>
                            <td>At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est.</td>
                            <td class="col-control">
                                <f:render section="buttonGroup" arguments="{_all}" />
                            </td>
                        </tr>
                        <tr class="info">
                            <td>Info (even)</td>
                            <td>Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim placerat facer possim assum.</td>
                            <td class="col-control">
                                <f:render section="buttonGroup" arguments="{_all}" />
                            </td>
                        </tr>
                        <tr class="info">
                            <td>Info (odd)</td>
                            <td>Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim placerat facer possim assum.</td>
                            <td class="col-control">
                                <f:render section="buttonGroup" arguments="{_all}" />
                            </td>
                        </tr>
                        <tr class="success">
                            <td>Sucess (even)</td>
                            <td>Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</td>
                            <td class="col-control">
                                <f:render section="buttonGroup" arguments="{_all}" />
                            </td>
                        </tr>
                        <tr class="success">
                            <td>Sucess (odd)</td>
                            <td>Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</td>
                            <td class="col-control">
                                <f:render section="buttonGroup" arguments="{_all}" />
                            </td>
                        </tr>
                        <tr class="warning">
                            <td>Warning (even)</td>
                            <td>Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis.</td>
                            <td class="col-control">
                                <f:render section="buttonGroup" arguments="{_all}" />
                            </td>
                        </tr>
                        <tr class="warning">
                            <td>Warning (odd)</td>
                            <td>Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis.</td>
                            <td class="col-control">
                                <f:render section="buttonGroup" arguments="{_all}" />
                            </td>
                        </tr>
                        <tr class="danger">
                            <td>Danger (even)</td>
                            <td>Consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</td>
                            <td class="col-control">
                                <f:render section="buttonGroup" arguments="{_all}" />
                            </td>
                        </tr>
                        <tr class="danger">
                            <td>Danger (odd)</td>
                            <td>Consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</td>
                            <td class="col-control">
                                <f:render section="buttonGroup" arguments="{_all}" />
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </sg:colorScheme>
    </div>

</f:section>

<f:section name="buttonGroup">
    <div class="btn-group" role="group">
        <span class="btn btn-default disabled">
            <core:icon identifier="empty-empty" size="small" />
        </span>
        <button class="btn btn-default" title="#">
            <core:icon identifier="actions-open" size="small" />
        </button>
    </div>
</f:section>

<f:section name="tableDefault">
    <div class="table-fit">
        <table class="table table-striped table-hover">
            <caption>Table caption</caption>
            <thead>
                <tr>
                    <th>Column 1</th>
                    <th>Column 2</th>
                    <th class="col-control"><span class="visually-hidden"><f:translate key="LLL:EXT:core/Resources/Private/Language/locallang_core.xlf:labels._CONTROL_" /></span></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>First row</td>
                    <td>Lorem ipsum dolor sit amet, consetetur sadipscing elitr.</td>
                    <td class="col-control">
                        <f:render section="buttonGroup" arguments="{_all}" />
                    </td>
                </tr>
                <tr>
                    <td>Second row</td>
                    <td>At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est.</td>
                    <td class="col-control">
                        <f:render section="buttonGroup" arguments="{_all}" />
                    </td>
                </tr>
                <tr>
                    <td>Third row</td>
                    <td>Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</td>
                    <td class="col-control">
                        <f:render section="buttonGroup" arguments="{_all}" />
                    </td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="3">3 records</td>
                </tr>
            </tfoot>
        </table>
    </div>
</f:section>

</html>
