{namespace em=TYPO3\CMS\Extensionmanager\ViewHelpers}

<f:layout name="main" />

<f:section name="docHeaderRow1">
	<f:be.buttons.icon uri="{f:uri.action(action:'index',controller:'List',additionalParams:{search:extension.key})}" icon="actions-view-go-back" title="{f:translate(key:'extConfTemplate.backToList')}" />
</f:section>

<f:section name="docHeaderRow2">
</f:section>

<f:section name="Content">
	<div id="typo3-extension-configuration-forms">
		<h2>
			<f:translate key="updateScript.headline" arguments="{0: extension.key}" />
		</h2>
		<div class="update-script">
			<f:format.raw>{update.content}</f:format.raw>
		</div>
	</div>
</f:section>
