/**
 * Style definitions for the whole module
 */
.waiting {
	color: #888;
}

span.menuItem {
	cursor: pointer;
}

span.cancelItem {
	display: none;
}

span.waiting {
	cursor: wait !important;
}

span.stateIcon span {
	margin-right: 6px;
}

/* IE7 hack to prevent fixed icons in list */
*:first-child+html span.t3-icon {
	position: static !important;
}

span.stateIconChecking {
	background: url(../../../../t3skin/images/spinner/ffffff.gif) top left no-repeat;
	height: 16px;
	width: 16px;
	padding-left: 20px;
}

span.stateIconNone {
	color: #888;
}


/**
 * Style definitions for dataTables
 */
div.dataTables_wrapper {
	position: relative;
	clear: both;
}

div.dataTables_wrapper div.dataTables_scroll {
	margin-bottom: 10px;
	background-color: #ffffff;
	border: 1px solid #aaa;
	overflow: hidden;
	clear: both;
}

div.dataTables_wrapper div.dataTables_scrollHead {
	background-color: #666;
	color: white;
	font-size: 10px;
	line-height: 19px;
	height: 20px;
	font-weight: bold;
}

div.dataTables_wrapper div.dataTables_scrollBody {
	-webkit-overflow-scrolling: touch;
}

div.dataTables_wrapper table.translationList {
	border: 0;
	margin: 0;
	background: transparent:
}

div.dataTables_wrapper tr.even {
	background: #f7f7f7;
}

div.dataTables_wrapper tr.selected {
	background: #d8ecd0;
}

div.dataTables_wrapper thead td {
	cursor: pointer;
}

div.dataTables_wrapper thead td.sorting_asc {
	background: url(../../../../t3skin/images/icons/status/status-sorting-asc.png) top right no-repeat;
}

div.dataTables_wrapper thead td.sorting_desc {
	background: url(../../../../t3skin/images/icons/status/status-sorting-desc.png) bottom right no-repeat;
}

div.dataTables_wrapper thead td.notSortable {
	background: none;
	cursor: default;
}

div.dataTables_wrapper tbody tr:hover {
	background-color: #dedede;
}

div.dataTables_wrapper td {
	vertical-align: middle;
	white-space: nowrap;
	padding: 0 12px 0 0;
	cursor: default;
}

div.dataTables_wrapper td.center {
	text-align: center;
}

div.dataTables_wrapper td img {
	height: 16px;
	width: 16px;
	margin: 0 0 0 6px;
}

div.dataTables_wrapper td input {
	margin: 0 0 0 6px;
}

div.dataTables_wrapper td input,
div.dataTables_wrapper td label {
	cursor: pointer;
}

div.dataTables_wrapper td.waiting,
div.dataTables_wrapper td.waiting input,
div.dataTables_wrapper td.waiting label {
	cursor: wait !important;
}

div.dataTables_wrapper td label {
	display: block;
	height: 24px;
	width: 100%;
	line-height: 24px;
}

div.dataTables_wrapper tbody td {
	height: 24px;
}


/**
 * Style definitions for the language selection field
 */
td.languageSelectionListContainer {
	width: 250px;
	padding-right: 12px;
	visibility: hidden;
}

td.languageSelectionListContainer td.language {
	padding: 0;
}

td.languageSelectionListContainer td.locale {
	width: 50px;
}


/**
 * Style definitions for the translation overview field
 */
td.translationUpdateListContainer {
	visibility: hidden;
}

td.translationUpdateListContainer td.icon {
	width: 16px;
}

td.translationUpdateListContainer td.extension {
	min-width: 180px;
}

td.translationUpdateListContainer td.language {
	text-align: left;
	width: 150px !important;
}

td.translationUpdateListContainer td.languageStateNone,
td.translationUpdateListContainer td.languageState1 {
	cursor: pointer;
}