{namespace backend=TYPO3\CMS\Backend\ViewHelpers}
<div class="t3-login-field">
	<input type="text" id="t3-username" name="username" value="{username}" placeholder="{f:translate(key:'LLL:EXT:lang/locallang_login.xlf:labels.username')}" class="t3-username disableme" autofocus="autofocus" />

	<backend:ClearInputField field="t3-username"/>
	<div class="t3-login-alert-capslock" id="t3-username-alert-capslock" style="display: none">
		<img src="sysext/t3skin/icons/login_capslock.gif" alt="{f:translate key:'LLL:EXT:lang/locallang_login.xlf:error.capslock'}" title="{f:translate(key:'LLL:EXT:lang/locallang_login.xlf:error.capslock')}" />
	</div>
</div>
<div class="t3-login-password t3-login-field" id="t3-login-password-section">
	<input type="password" id="t3-password" name="p_field" value="{password}" placeholder="{f:translate(key:'LLL:EXT:lang/locallang_login.xlf:labels.password')}" class="t3-password disableme" />
	<backend:ClearInputField field="t3-password"/>
	<div class="t3-login-alert-capslock" id="t3-password-alert-capslock" style="display: none">
		<img src="sysext/t3skin/icons/login_capslock.gif" alt="{f:translate(key:'LLL:EXT:lang/locallang_login.xlf:error.capslock')}" title="{f:translate(key:'LLL:EXT:lang/locallang_login.xlf:error.capslock')}" />
	</div>
</div>