/**
 * This file is part of the TYPO3 CMS project.
 *
 * It is free software; you can redistribute it and/or modify it under
 * the terms of the GNU General Public License, either version 2
 * of the License, or any later version.
 *
 * For the full copyright and license information, please read the
 * LICENSE.txt file that was distributed with this source code.
 *
 * The TYPO3 project - inspiring people to share!
 */

/* - - - - - - - - - - - - - - - - - - - - -
-New Record Wizard
- - - - - - - - - - - - - - - - - - - - - */

.contentelement-wizard {
	margin: 10px;
}

.contentelement-wizard li {
	margin-bottom: 10px;
}
.contentelement-wizard li:last-child {
	margin-bottom: 0px;
}

.contentelement-wizard-item:before,
.contentelement-wizard-item:after {
	content: " ";
	display: table;
}

.contentelement-wizard-item:after {
	clear: both;
}

.contentelement-wizard-item-input,
.contentelement-wizard-item-icon {
	float: left;
	margin-right: 5px;
}

.contentelement-wizard-item-icon a,
.contentelement-wizard-item-icon img {
	display: block;
}