<div>
	<h1>Environment</h1>
</div>

<f:alias map="{actions: {
	0: {partial: 'Environment/SystemInformation',
		require: '',
		baseClass: 't3js-system',
		title: 'Main System Information',
		category: 'Environment',
		description: 'Gives a short overview of your system environment, webserver, PHP and database information.'
	},
	1: {partial: 'Environment/EnvironmentCheck',
		require: 'TYPO3/CMS/Install/EnvironmentCheck',
		baseClass: 't3js-environmentCheck',
		title: 'Check Environment',
		category: 'PHP',
		description: 'Performs various checks if there are problems within the server to have TYPO3 running properly.'
	},
	2: {partial: 'Environment/FolderStructure',
		require: 'TYPO3/CMS/Install/FolderStructure',
		baseClass: 't3js-folderStructure',
		title: 'Check Folder Structure',
		category: 'Permissions',
		description: 'Analyzes your folder structure by checking the permissions and whether files or folders are missing.'
	},
	3: {partial: 'Environment/PhpInfo',
		require: '',
		baseClass: 't3js-phpinfo',
		title: 'PHP Info',
		category: 'PHP',
		description: 'Outputs a large amount of information about the current state of PHP.'
	},
	4: {partial: 'Environment/MailTest',
		require: 'TYPO3/CMS/Install/MailTest',
		baseClass: 't3js-mailTest',
		title: 'Test Mail Setup',
		category: 'Mail',
		description: 'Checks if TYPO3 can send out emails properly by sending a test email.'
	},
	5: {partial: 'Environment/ImageProcessing',
		require: 'TYPO3/CMS/Install/ImageProcessing',
		baseClass: 't3js-imageProcessing',
		title: 'Image Processing',
		category: 'Image Processing',
		description: 'Creates test images and compares with a reference to ensure that Image Processing works correctly in the current environment.'
	}
}}">
	<div class="gridder">
		<f:for each="{actions}" as="card" iteration="iterator">
			<div
				class="gridder-list {card.baseClass}-open {f:if(condition: '{card.require}', then: 't3js-require')}"
				{f:if(condition: '{card.require}', then: 'data-require="{card.require}"')}
			>
				<div class="gridder-item">
					<h3>
						{card.title} <span class="label label-warning {card.baseClass}-badge" style="display:none"></span>
						<br>
						<small class="text-muted">{card.category}</small>
						<br>
					</h3>
					<p>{card.description}</p>
				</div>
			</div>
			<div class="gridder-content {f:if(condition: '{card.baseClass}', then: '{card.baseClass}')}">
				<div class="gridder-padding">
					<div class="gridder-title clearfix">
						<h3 class="pull-left">{card.title}</h3>
					</div>
					<f:render partial="{card.partial}" arguments="{_all}" />
				</div>
			</div>
		</f:for>
	</div>
</f:alias>
