<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">

<p>Root Directory: <strong>{publicPath}</strong></p>

<div class="t3js-folderStructure-output"></div>

<div class="t3js-folderStructure-errors" style="display:none">
    <hr/>
    <h3>These files or folders have errors and may be fixed automatically:</h3>
    <div class="t3js-folderStructure-errors-list"></div>
</div>

<hr/>

<h3>Default File and Directory permissions</h3>
<div class="t3js-folderStructure-permissions"></div>

<div class="t3js-folderStructure-ok" style="display:none">
    <hr/>
    <h3>These structures don't need to be fixed:</h3>
    <div class="t3js-folderStructure-ok-list"></div>
</div>

</html>
