{namespace i=TYPO3\CMS\Install\ViewHelpers}

<!DOCTYPE html>
<html>
	<head>
		<title>Installing TYPO3 CMS</title>
		<script type="text/javascript" src="../../../contrib/jquery/jquery-1.11.0.min.js?{time}"></script>
		<script type="text/javascript" src="../Resources/Public/Javascript/Install.js?{time}"></script>
		<link rel="stylesheet" type="text/css" href="../Resources/Public/Stylesheets/Action/Step/General.css?{time}" />
	</head>
	<body>
		<div id="t3-install-outer">
			<h1></h1>

			<div id="t3-install-step-execution-messages">
				<f:if condition="{messages}">
					<f:for each="{messages}" as="message">
						<f:render partial="Action/Common/StatusMessage" arguments="{message: message}" />
					</f:for>
				</f:if>
			</div>

			<div id="t3-install-box-border-top">&nbsp;</div>

			<h2>Installing TYPO3 CMS <i:constant name="TYPO3_version" /></h2>

			<div id="t3-install-box-body">
				<f:render section="Content" />
			</div>

			<div id="t3-install-box-border-bottom">&nbsp;</div>

			<f:render partial="Action/Common/Copyright" arguments="{_all}" />
		</div>
	</body>
</html>