<!DOCTYPE html>
<html>
	<head>
		<title>Install tool on site {siteName}</title>
		<f:render partial="Action/Common/Headers" arguments="{_all}" />
	</head>
	<body class="{context}">
	<div class="container">
		<f:if condition="{contextService.backendContext}">
			<f:then>
				<div id="typo3-docheader">
					<div class="typo3-docheader-functions"></div>
					<div class="typo3-docheader-buttons"></div>
				</div>
			</f:then>
			<f:else>
				<div class="row">
					<div class="col-sm-12">
						<f:render partial="Action/Common/Head" arguments="{_all}" />
					</div>
				</div>
			</f:else>
		</f:if>
		<div class="row">
			<div class="col-sm-12 col-md-3 leftNavigation">
				<f:render partial="Action/Common/Left" arguments="{_all}" />
			</div>
			<div class="col-sm-12 col-md-9 content-area">
				<f:render section="Content" />
			</div>
		</div>
	</div>
	</body>
</html>
