<html
    xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    data-namespace-typo3-fluid="true"
>

<div class="table-fit">
    <table class="table table-striped table-hover" id="typo3-filelist" data-mode="{mode}">
        <thead>
            {tableHeader -> f:format.raw()}
        </thead>
        <tbody data-multi-record-selection-row-selection="true">
            {tableBody -> f:format.raw()}
        </tbody>
    </table>
</div>

<f:render partial="Pagination" arguments="{
                paginator:paginator,
                pagination:pagination,
                currentPage:currentPage,
                totalPages:totalPages,
                currentUrl:currentUrl,
                firstElement:firstElement,
                lastElement:lastElement
            }" />
</html>
