<h1><f:translate key="configuration" /></h1>

<h2>{label}</h2>

<div id="lowlevel-config">
	<div class="form-group">
		<label for="lowlevel-search">
			<f:translate key="enterSearchPhrase" />
		</label>
		<input class="form-control" type="search" id="lowlevel-search" name="search_field" value="{search_field}" />
	</div>
	<div class="form-group">
		<div class="checkbox">
			<label for="checkRegexsearch">
				<f:format.raw>{checkbox_checkRegexsearch}</f:format.raw>
				<f:translate key="useRegExp" />
			</label>
		</div>
	</div>
	<div class="form-group">
		<input class="btn btn-default" type="submit" name="search" id="search" value="{f:translate(key: 'search')}"/>
	</div>
</div>

<div class="nowrap">
	<f:format.raw>{tree}</f:format.raw>
</div>
