<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<div class="typo3-install-content-body">

	<h2>Environment Overview</h2>
	<p>First the Install Wizard needs to inspect your web server and identify any issues that may prevent TYPO3 from running correctly.</p>

	<div class="t3js-installer-environment-details" style="display: none;">
		<h3>Problems Detected</h3>
	</div>

	<form class="t3js-installer-environmentFolders-bad" style="display: none;">
		<div class="typo3-install-content-spacer-small">
			<button class="btn btn-default t3js-installer-environmentFolders-retry">
				Scan environment again
			</button>
		</div>
	</form>

	<form class="t3js-installer-environmentFolders-bad" style="display: none;">
		<div class="typo3-install-content-spacer-small">
			<button class="btn btn-danger t3js-installer-environmentFolders-execute">
				Continue with errors
				<span class="t3-install-form-button-icon-negative">&nbsp;</span>
			</button>
		</div>
	</form>

	<form class="t3js-installer-environmentFolders-good" style="display: none;">
		<div class="typo3-install-content-spacer-small">
			<button class="btn btn-success t3js-installer-environmentFolders-execute">
				No problems detected, continue with installation
			</button>
		</div>
	</form>

</div>
</html>
