<h3>System environment check</h3>

<p>
	TYPO3 is an enterprise content management system that is powerful, yet easy to install.
</p>
<p>
	After some simple steps you'll be ready to add content to your website.
	This first step checks your system environment and points out issues.
</p>

<form class="t3js-installer-environmentFolders-bad" style="display: none;">
	<div class="form-group">
		<button class="btn btn-default t3js-installer-environmentFolders-retry">
			Fixed. Check again!
		</button>
	</div>
</form>
<form class="t3js-installer-environmentFolders-bad" style="display: none;">
	<div class="form-group">
		<button class="btn btn-danger t3js-installer-environmentFolders-execute">
			I know what I'm doing, continue!
			<span class="t3-install-form-button-icon-negative">&nbsp;</span>
		</button>
	</div>
</form>
<form class="t3js-installer-environmentFolders-good" style="display: none;">
	<button class="btn btn-success t3js-installer-environmentFolders-execute">
		System looks good. Continue!
	</button>
</form>

<div class="t3js-installer-environment-details" style="display: none;">
	<br>
	<h3>Detailed analysis</h3>

</div>
