<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<div class="typo3-install-content-body">

    <h2>Thank you for choosing TYPO3</h2>
    <p>The Installation Wizard will guide you through the necessary steps required to install TYPO3 on your web server.</p>
    <p>To begin the installation, create an empty file called
        <code>FIRST_INSTALL</code> in the document root of your web server.</p>
    <hr>
    <p class="text-muted">
        <strong>Note:</strong>
        The filename is case sensitive and it will be deleted once the installation process is complete.
    </p>

</div>
</html>
