<h3>Environment Overview</h3>

<p>
	First the Install Wizard needs to inspect your web server and identify any issues that may prevent TYPO3 from running correctly.
</p>

<form class="t3js-installer-environmentFolders-bad" style="display: none;">
	<div class="form-group">
		<button class="btn btn-default t3js-installer-environmentFolders-retry">
			Scan environment again
		</button>
	</div>
</form>
<form class="t3js-installer-environmentFolders-bad" style="display: none;">
	<div class="form-group">
		<button class="btn btn-danger t3js-installer-environmentFolders-execute">
			Continue with errors
			<span class="t3-install-form-button-icon-negative">&nbsp;</span>
		</button>
	</div>
</form>
<form class="t3js-installer-environmentFolders-good" style="display: none;">
	<button class="btn btn-success t3js-installer-environmentFolders-execute">
		No problems detected, continue with installation
	</button>
</form>

<div class="t3js-installer-environment-details" style="display: none;">
	<br>
	<h3>Problems Detected</h3>

</div>
