<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" xmlns:core="http://typo3.org/ns/TYPO3/CMS/Core/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Widget/Widget" />
<f:section name="main">

    <div class="widget-number">
        <f:if condition="{icon}">
            <div class="widget-number-icon">
                <core:icon identifier="{icon}" size="large" alternativeMarkupIdentifier="inline" />
            </div>
        </f:if>
        <div class="widget-number-content">
            <div class="widget-number-title"><f:translate key="{title}" default="{title}" /></div>
            <f:if condition="{subtitle}">
                <div class="widget-number-subtitle"><small><f:translate key="{subtitle}" default="{subtitle}" /></small></div>
            </f:if>
            <div class="widget-number-number">{number}</div>
        </div>
    </div>

</f:section>
</html>
