<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Widget/Widget" />
<f:section name="main">

    <div class="widget-table-wrapper">
        <table class="widget-table">
            <f:for each="{items}" as="item">
                <tr>
                    <td>
                        <f:link.external uri="{item.link}" target="_blank" rel="noreferrer"><strong>{item.title}</strong></f:link.external>
                        <small><time datetime="{item.pubDate -> f:format.date(format: '%Y-%m-%d')}">{item.pubDate -> f:format.date()}</time></small>
                        <p>{item.description -> f:format.crop(maxCharacters: 180)}</p>
                    </td>
                </tr>
            </f:for>
        </table>
    </div>

</f:section>
<f:section name="footer">
    <f:render partial="Widget/Button" arguments="{button: button}"/>
</f:section>
</html>
