<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Widget/Widget" />
<f:section name="main">

    <div class="row">
        <div class="col-sm-8">
            <f:if condition="{currentVersion} && {copyrightYear}">
                <p>
                    {f:translate(key: 'widgets.t3information.text',
                    extensionName: 'dashboard',
                    arguments: '{
                    0: currentVersion,
                    1: "&copy; {copyrightYear}",
                    2: "Kasper Sk&aring;rh&oslash;j"
                    }') -> f:format.raw()}
                </p>
            </f:if>
        </div>
        <div class="col-sm-4">
            <img src="{f:uri.resource(path: 'Images/typo3_orange.svg', extensionName: 'core')}"
                class="widget-t3information-logo"
                alt="{f:translate(key:'widgets.t3information.logo', extensionName: 'dashboard')}"/>
        </div>
    </div>

</f:section>
</html>
