{namespace i=TYPO3\CMS\Install\ViewHelpers}

<f:layout name="ToolAuthenticated" />

<f:section name="Content">

	<f:if condition="{configurationValuesSaved}">
		<f:then>
			<h1>Saved configuration values</h1>

			<f:if condition="{savedConfigurationValueMessages}">
				<f:then>
					<f:for each="{savedConfigurationValueMessages}" as="statusMessage">
						<f:render partial="Action/Common/StatusMessage" arguments="{message: statusMessage}" />
					</f:for>
				</f:then>

					<f:else>
					<div class="typo3-message message-warning">
						<div class="header-container">
							<div class="message-header">
								No values changed
							</div>
						</div>
					</div>
				</f:else>
			</f:if>

			<hr />

			<form method="post">
				<f:render partial="Action/Common/HiddenFormFields" arguments="{_all}" />
				<f:render partial="Action/Common/SubmitButton" arguments="{name:'continue', text:'Continue'}"/>
			</form>
		</f:then>

		<f:else>
			<div class="fixedHead">
				<h1>Change configuration values</h1>

				<p>
					Changed values are written to LocalConfiguration.php. The optional file AdditionalConfiguration.php
					is not controlled by the TYPO3 CMS core and may override single settings again. Administrators
					must maintain AdditionalConfiguration.php on their own and should use it with care.
				</p>
				<div class="form-group">
					<div class="input-group">
						<span class="input-group-addon">Filter by:</span>
						<input type="text" class="form-control" placeholder="search setting" id="configSearch">
					</div>
				</div>
			</div>

			<form method="post">
				<f:render partial="Action/Common/HiddenFormFields" arguments="{_all}" />
				<div class="panel-group" id="allConfiguration" role="tablist" aria-multiselectable="true">
				<f:for each="{data}" as="sectionData" key="sectionName">
					<f:if condition="{sectionData}">
						<f:render partial="Action/Tool/AllConfiguration/SubSection" arguments="{_all}" />
					</f:if>
				</f:for>
				</div>

				<div id="fixed-footer-handler">
					<div id="fixed-footer">
						<div class="footer-innerWrap">
							<f:render partial="Action/Common/SubmitButton" arguments="{name:'write', text:'Write configuration', className:'btn-save'}"/>
							<span class="btn btn-default t3js-all-configuration-toggle">Toggle All</span>
						</div>
					</div>
				</div>
			</form>
		</f:else>
	</f:if>

</f:section>
