{namespace i=TYPO3\CMS\Install\ViewHelpers}

<f:layout name="ToolAuthenticated" />

<f:section name="Content">
	<h1>Clean up your installation</h1>
	<f:for each="{actionMessages}" as="statusMessage">
		<f:render partial="Action/Common/StatusMessage" arguments="{message: statusMessage}" />
	</f:for>

	<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
		<div class="panel panel-default">
			<div class="panel-heading" role="tab" id="headingOne">
				<h4 class="panel-title">
					<a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne" class="collapsed">
						<span class="caret"></span>
						Clean typo3temp/ folder
					</a>
				</h4>
			</div>
			<div id="collapseOne" class="panel-collapse collapse {f:if(condition:'{postAction} == \'deleteTypo3TempFiles\'', then:'in')}" role="tabpanel" aria-labelledby="headingOne">
				<div class="panel-body">
					<f:render partial="Action/Tool/CleanUp/Typo3TempFiles" arguments="{_all}" />
				</div>
			</div>
		</div>
		<div class="panel panel-default">
			<div class="panel-heading" role="tab" id="headingTwo">
				<h4 class="panel-title">
					<a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
						<span class="caret"></span>
						Clear processed files
					</a>
				</h4>
			</div>
			<div id="collapseTwo" class="panel-collapse collapse {f:if(condition:'{postAction} == \'clearProcessedFiles\'', then:'in')}"" role="tabpanel" aria-labelledby="headingTwo">
				<div class="panel-body">
					<f:render partial="Action/Tool/CleanUp/ProcessedFiles" arguments="{_all}" />
				</div>
			</div>
		</div>
		<div class="panel panel-default">
			<div class="panel-heading" role="tab" id="headingThree">
				<h4 class="panel-title">
					<a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
						<span class="caret"></span>
						Clear tables
					</a>
				</h4>
			</div>
			<div id="collapseThree" class="panel-collapse collapse {f:if(condition:'{postAction} == \'clearTables\'', then:'in')}"" role="tabpanel" aria-labelledby="headingThree">
				<div class="panel-body">
					<f:render partial="Action/Tool/CleanUp/ClearTables" arguments="{_all}" />
				</div>
			</div>
		</div>
		<div class="panel panel-default">
			<div class="panel-heading" role="tab" id="headingFour">
				<h4 class="panel-title">
					<a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
						<span class="caret"></span>
						Reset backend user preferences
					</a>
				</h4>
			</div>
			<div id="collapseFour" class="panel-collapse collapse {f:if(condition:'{postAction} == \'resetBackendUserUc\'', then:'in')}"" role="tabpanel" aria-labelledby="headingFour">
				<div class="panel-body">
					<f:render partial="Action/Tool/CleanUp/ResetBackendUserUc" arguments="{_all}" />
				</div>
			</div>
		</div>
	</div>
</f:section>
