{namespace i=TYPO3\CMS\Install\ViewHelpers}

<f:layout name="ToolAuthenticated" />

<f:section name="Content">
	<h1>Configuration presets</h1>

	<f:for each="{actionMessages}" as="statusMessage">
		<f:render partial="Action/Common/StatusMessage" arguments="{message: statusMessage}" />
	</f:for>

	<p>
		The configuration module suggests best matching configuration settings
		based on your system setup.
	</p>
	<p>
		Alternatively TYPO3 can be run in a specific <a href="https://docs.typo3.org/typo3cms/CoreApiReference/ApiOverview/Bootstrapping/Index.html#bootstrapping-context" target="_blank">application context</a>,
		by setting an environment variable in the web server configuration.
		The application context can then be accessed e.g. in the AdditionalConfiguration.php file or
		TypoScript configuration to customize settings accordingly.
	</p>
	<p>
		Changed values are written to <code>LocalConfiguration.php</code>. The optional file <code>AdditionalConfiguration.php</code>
		is not controlled by the TYPO3 CMS core and may override single settings again. Administrators
		must maintain <code>AdditionalConfiguration.php</code> on their own and should use it with care.
	</p>
	<form method="post" class="form-horizontal">
		<f:render partial="Action/Common/HiddenFormFields" arguments="{_all}" />

		<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
			<f:for each="{features}" as="feature">
				<f:render partial="Action/Tool/Configuration/{feature.name}" arguments="{_all}" />
			</f:for>
		</div>

		<div id="fixed-footer-handler">
			<div id="fixed-footer">
				<div class="footer-innerWrap">
					<f:render partial="Action/Common/SubmitButton" arguments="{name:'activate', text:'Activate', className:'btn-save'}"/>
				</div>
			</div>
		</div>

	</form>
</f:section>
