<f:layout name="ToolAuthenticated" />

<f:section name="Content">
	<h3>Load extension configuration</h3>

	<f:for each="{actionMessages}" as="statusMessage">
		<f:render partial="Action/Common/StatusMessage" arguments="{message: statusMessage}" />
	</f:for>

	<p>
		The system determined a fatal error during the include of extension configurations. The tool now checks all extension configurations
		and offers the possibility to uninstall broken extensions.
		After you uninstalled all incompatible extensions, you can restart the initial action to proceed your request.
	</p>

	<hr />
	<f:render partial="Action/Tool/ImportantActions/ExtensionCompatibilityTester" arguments="{_all}"/>
	<script type="text/javascript">
		$(document).ready(function() {
			$('button', '#checkExtensions').hide();
			$('.typo3-message', '#checkExtensions').hide();
			$('.message-loading', '#checkExtensions').show();
			checkExtensionsCompatibility(true);
		});
	</script>
</f:section>