{namespace i=TYPO3\CMS\Install\ViewHelpers}

<f:layout name="ToolAuthenticated" />

<f:section name="Content">
	<h1>Test system settings</h1>
	<f:for each="{actionMessages}" as="statusMessage">
		<f:render partial="Action/Common/StatusMessage" arguments="{message: statusMessage}" />
	</f:for>
	<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
		<div class="panel panel-default">
			<div class="panel-heading" role="tab" id="headingOne">
				<h4 class="panel-title">
					<a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne" class="{f:if(condition:'{postAction} == \'testMail\'', then:'expanded', else:'collapsed')}">
						<span class="caret"></span>
						Mail setup
					</a>
				</h4>
			</div>
			<div id="collapseOne" class="panel-collapse collapse {f:if(condition:'{postAction} == \'testMail\'', then:'in')}" role="tabpanel" aria-labelledby="headingOne">
				<div class="panel-body">
					<f:render partial="Action/Tool/TestSetup/Mail" arguments="{_all}" />
				</div>
			</div>
		</div>
		<div class="panel panel-default">
			<div class="panel-heading" role="tab" id="headingTwo">
				<h4 class="panel-title">
					<a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo" class="{f:if(condition:'{trueTypeFontTested}', then:'expanded', else:'collapsed')}">
						<span class="caret"></span>
						True type font settings
					</a>
				</h4>
			</div>
			<div id="collapseTwo" class="panel-collapse collapse {f:if(condition:'{trueTypeFontTested}', then:'in')}" role="tabpanel" aria-labelledby="headingTwo">
				<div class="panel-body">
					<f:render partial="Action/Tool/TestSetup/TrueTypeFont" arguments="{_all}" />
				</div>
			</div>
		</div>
		<div class="panel panel-default">
			<div class="panel-heading" role="tab" id="headingThree">
				<h4 class="panel-title">
					<a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="true" aria-controls="collapseThree" class="{f:if(condition:'{convertImageFormatsToJpgTested}', then:'expanded', else:'collapsed')}">
						<span class="caret"></span>
						Convert image formats to jpg
					</a>
				</h4>
			</div>
			<div id="collapseThree" class="panel-collapse collapse {f:if(condition:'{convertImageFormatsToJpgTested}', then:'in')}" role="tabpanel" aria-labelledby="headingThree">
				<div class="panel-body">
					<f:render partial="Action/Tool/TestSetup/ConvertImageFormatsToJpg" arguments="{_all}" />
				</div>
			</div>
		</div>
		<div class="panel panel-default">
			<div class="panel-heading" role="tab" id="headingFour">
				<h4 class="panel-title">
					<a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="true" aria-controls="collapseFour" class="{f:if(condition:'{writeGifAndPngTested}', then:'expanded', else:'collapsed')}">
						<span class="caret"></span>
						Writing gif and png
					</a>
				</h4>
			</div>
			<div id="collapseFour" class="panel-collapse collapse {f:if(condition:'{writeGifAndPngTested}', then:'in')}" role="tabpanel" aria-labelledby="headingFour">
				<div class="panel-body">
					<f:render partial="Action/Tool/TestSetup/WriteGifAndPng" arguments="{_all}" />
				</div>
			</div>
		</div>
		<div class="panel panel-default">
			<div class="panel-heading" role="tab" id="headingFive">
				<h4 class="panel-title">
					<a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="true" aria-controls="collapseFive" class="{f:if(condition:'{scalingImagesTested}', then:'expanded', else:'collapsed')}">
						<span class="caret"></span>
						Scaling images
					</a>
				</h4>
			</div>
			<div id="collapseFive" class="panel-collapse collapse {f:if(condition:'{scalingImagesTested}', then:'in')}" role="tabpanel" aria-labelledby="headingFive">
				<div class="panel-body">
					<f:render partial="Action/Tool/TestSetup/ScalingImages" arguments="{_all}" />
				</div>
			</div>
		</div>
		<div class="panel panel-default">
			<div class="panel-heading" role="tab" id="headingSix">
				<h4 class="panel-title">
					<a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseSix" aria-expanded="true" aria-controls="collapseSix" class="{f:if(condition:'{combiningImagesTested}', then:'expanded', else:'collapsed')}">
						<span class="caret"></span>
						Combining images
					</a>
				</h4>
			</div>
			<div id="collapseSix" class="panel-collapse collapse {f:if(condition:'{combiningImagesTested}', then:'in')}" role="tabpanel" aria-labelledby="headingSix">
				<div class="panel-body">
					<f:render partial="Action/Tool/TestSetup/CombiningImages" arguments="{_all}" />
				</div>
			</div>
		</div>
		<div class="panel panel-default">
			<div class="panel-heading" role="tab" id="headingSeven">
				<h4 class="panel-title">
					<a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseSeven" aria-expanded="true" aria-controls="collapseSeven" class="{f:if(condition:'{gdlibTested}', then:'expanded', else:'collapsed')}">
						<span class="caret"></span>
						GDlib
					</a>
				</h4>
			</div>
			<div id="collapseSeven" class="panel-collapse collapse {f:if(condition:'{gdlibTested}', then:'in')}" role="tabpanel" aria-labelledby="headingSeven">
				<div class="panel-body">
					<f:render partial="Action/Tool/TestSetup/Gdlib" arguments="{_all}" />
				</div>
			</div>
		</div>
	</div>
</f:section>
