<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">

<div class="panel panel-default">
    <h2 class="panel-heading" role="tab">
        <div class="panel-heading-row">
            <button
                class="panel-button collapsed"
                type="button"
                data-bs-toggle="collapse"
                data-bs-parent="#accordion"
                data-bs-target="#collapseSix"
                aria-controls="collapseSix"
                aria-expanded="false"
                id="headingSix"
            >
                <div class="panel-title">
                    <strong>Password hashing settings</strong>
                </div>
                <span class="caret"></span>
            </button>
        </div>
    </h2>
    <div id="collapseSix" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSix">
        <div class="panel-body">
            <p>
                Passwords in TYPO3 for frontend and backend users are never stored in
                plain text in the database. A salted one-way hash algorithm is
                used.
            </p>
            <p>
                This module detects available password hash algorithms. If in doubt, select the first
                selectable one, it represents the most secure hash algorithm available
                on this system. The selected algorithm will be used for new frontend and backend users
                and existing users are upgraded to the selected algorithm upon their first successful login.
            </p>
            <f:for each="{feature.presetsOrderedByPriority}" as="preset">
                <f:render partial="Settings/Presets/{feature.name}/{preset.name}" arguments="{_all}" />
            </f:for>
        </div>
    </div>
</div>

</html>
