<html
    xmlns:be="http://typo3.org/ns/TYPO3/CMS/Backend/ViewHelpers"
    xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    xmlns:core="http://typo3.org/ns/TYPO3/CMS/Core/ViewHelpers"
    data-namespace-typo3-fluid="true"
>

<f:layout name="Module" />

<f:section name="Content">

    <h1><f:translate key="LLL:EXT:scheduler/Resources/Private/Language/locallang.xlf:function.info" /></h1>

    <h2><f:translate key="LLL:EXT:scheduler/Resources/Private/Language/locallang.xlf:availableTasks.headline" /></h2>
    <f:if condition="!{categorizedTasks}">
        <f:then>
            <p class="scheduler-info-text"><f:translate key="LLL:EXT:scheduler/Resources/Private/Language/locallang.xlf:msg.noTasksDefined" /></p>
        </f:then>
        <f:else>
            <p><f:translate key="LLL:EXT:scheduler/Resources/Private/Language/locallang.xlf:availableTasks.description" /></p>
            <div class="table-fit">
                <table class="table table-striped table-hover">
                    <thead>
                    <tr>
                        <th>&nbsp;</th>
                        <th><f:translate key="LLL:EXT:scheduler/Resources/Private/Language/locallang.xlf:label.name" /></th>
                        <th><f:translate key="LLL:EXT:scheduler/Resources/Private/Language/locallang.xlf:category" /></th>
                        <th colspan="2"><f:translate key="LLL:EXT:scheduler/Resources/Private/Language/locallang.xlf:label.description" /></th>
                    </tr>
                    </thead>
                    <tbody>
                    <f:for each="{categorizedTasks}" key="category" as="tasks">
                        <tr>
                            <td colspan="4">
                                {category}
                            </td>
                        </tr>
                        <f:for each="{tasks}" as="taskInfo" key="taskType">
                            <tr>
                                <td>&nbsp;</td>
                                <td>
                                    <a
                                        href="{be:moduleLink(route: 'scheduler_manage', query: 'action=add&tx_scheduler[taskType]={taskType}')}"
                                        title="{f:translate(key:'LLL:EXT:core/Resources/Private/Language/locallang_common.xlf:new')}"
                                    >
                                        {taskInfo.title}
                                    </a>
                                </td>
                                <td>{taskInfo.description}</td>
                                <td>
                                    <div class="btn-group" role="group">
                                    <span class="btn btn-default">
                                        <a
                                            href="{be:moduleLink(route: 'scheduler_manage', query: 'action=add&tx_scheduler[taskType]={taskType}')}"
                                            title="{f:translate(key:'LLL:EXT:core/Resources/Private/Language/locallang_common.xlf:new')}"
                                        >
                                            <core:icon identifier="actions-plus" />
                                        </a>
                                    </span>
                                    </div>
                                </td>
                            </tr>
                        </f:for>

                    </f:for>
                    </tbody>
                </table>
            </div>
        </f:else>
    </f:if>

</f:section>

</html>
