<html
    xmlns:be="http://typo3.org/ns/TYPO3/CMS/Backend/ViewHelpers"
    xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    xmlns:core="http://typo3.org/ns/TYPO3/CMS/Core/ViewHelpers"
    data-namespace-typo3-fluid="true"
>

<f:layout name="Module" />

<f:section name="Content">

    <h1><f:translate key="LLL:EXT:scheduler/Resources/Private/Language/locallang.xlf:function.info" /></h1>
    <div class="tx_scheduler_mod1">
        <f:if condition="{registeredClasses}">
            <f:then>
                <p class="lead">
                    <f:translate key="LLL:EXT:scheduler/Resources/Private/Language/locallang.xlf:msg.infoScreenIntro" />
                </p>
                <div class="table-responsive">
                    <table class="table table-striped table-hover">
                        <thead>
                        <tr>
                            <th><f:translate key="LLL:EXT:scheduler/Resources/Private/Language/locallang.xlf:label.name" /></th>
                            <th><f:translate key="LLL:EXT:scheduler/Resources/Private/Language/locallang.xlf:label.extension" /></th>
                            <th colspan="2"><f:translate key="LLL:EXT:scheduler/Resources/Private/Language/locallang.xlf:label.description" /></th>
                        </tr>
                        </thead>
                        <tbody>
                            <f:for each="{registeredClasses}" key="class" as="classInfo">
                                <tr>
                                    <td>
                                        <a
                                            href="{be:moduleLink(route: 'system_txschedulerM1', query: 'subModule=scheduler&action=add&tx_scheduler[class]={class}')}"
                                            title="{f:translate(key:'LLL:EXT:core/Resources/Private/Language/locallang_common.xlf:new')}"
                                        >
                                            {classInfo.title}
                                        </a>
                                    </td>
                                    <td>{classInfo.extension}</td>
                                    <td>{classInfo.description}</td>
                                    <td>
                                        <div class="btn-group" role="group">
                                        <span class="btn btn-default">
                                            <a
                                                href="{be:moduleLink(route: 'system_txschedulerM1', query: 'subModule=scheduler&action=add&tx_scheduler[class]={class}')}"
                                                title="{f:translate(key:'LLL:EXT:core/Resources/Private/Language/locallang_common.xlf:new')}"
                                            >
                                                <core:icon identifier="actions-add" />
                                            </a>
                                        </span>
                                        </div>
                                    </td>
                                </tr>
                            </f:for>
                        </tbody>
                    </table>
                </div>
            </f:then>

            <f:else>
                <p class="lead">
                    <f:translate key="LLL:EXT:scheduler/Resources/Private/Language/locallang.xlf:msg.noTasksDefined" />
                </p>
            </f:else>
        </f:if>
    </div>

</f:section>

</html>
