<html
    xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    xmlns:be="http://typo3.org/ns/TYPO3/CMS/Backend/ViewHelpers"
    data-namespace-typo3-fluid="true"
>

<f:layout name="Module" />

<f:section name="Content">
    <f:asset.module identifier="@typo3/backend/modal.js"/>
    <f:asset.module identifier="@typo3/backend/multi-record-selection.js"/>
    <f:asset.module identifier="@typo3/backend/element/progress-bar-element.js"/>
    <f:asset.module identifier="@typo3/scheduler/scheduler.js"/>
    <f:asset.module identifier="@typo3/scheduler/scheduler-sortable-groups.js"/>
    <f:asset.module identifier="@typo3/scheduler/scheduler-editable-group-name.js"/>
    <f:asset.module identifier="@typo3/scheduler/scheduler-add-group.js"/>

    <f:be.pageRenderer
        addJsInlineLabels="{
            'scheduler.createGroup': 'LLL:EXT:scheduler/Resources/Private/Language/locallang.xlf:function.group.add',
            'scheduler.groupName': 'LLL:EXT:scheduler/Resources/Private/Language/locallang.xlf:function.group.label',
            'scheduler.modalCancel': 'LLL:EXT:scheduler/Resources/Private/Language/locallang.xlf:button.cancel',
            'scheduler.modalOk': 'LLL:EXT:scheduler/Resources/Private/Language/locallang.xlf:button.group.modalOk',
            'scheduler.group.error.title': 'LLL:EXT:scheduler/Resources/Private/Language/locallang.xlf:msg.group.notification.error.title',
            'scheduler.group.error.message': 'LLL:EXT:scheduler/Resources/Private/Language/locallang.xlf:msg.group.notification.error.message',
            'editableGroupName.input.field.label': 'LLL:EXT:scheduler/Resources/Private/Language/locallang.xlf:editableGroupName.input.field.label',
            'editableGroupName.button.edit.label': 'LLL:EXT:scheduler/Resources/Private/Language/locallang.xlf:editableGroupName.button.edit.label',
            'editableGroupName.button.save.label': 'LLL:EXT:core/Resources/Private/Language/locallang_common.xlf:save',
            'editableGroupName.button.cancel.label': 'LLL:EXT:core/Resources/Private/Language/locallang_common.xlf:cancel'
        }"
    />

    <h1><f:translate key="LLL:EXT:scheduler/Resources/Private/Language/locallang.xlf:function.scheduler" /></h1>
    <f:if condition="{groups} || {errorClasses}">
        <f:then>
            <f:render partial="TaskList" arguments="{_all}" />
        </f:then>
        <f:else>
            <f:be.infobox state="{f:constant(name: 'TYPO3\CMS\Fluid\ViewHelpers\Be\InfoboxViewHelper::STATE_INFO')}" message="{f:translate(key: 'LLL:EXT:scheduler/Resources/Private/Language/locallang.xlf:msg.noTasks')}" />
        </f:else>
    </f:if>

    <f:if condition="{groupsWithoutTasks}">
        <h2><f:translate key="LLL:EXT:scheduler/Resources/Private/Language/locallang.xlf:label.group.unused" /></h2>
        <f:render partial="GroupUnusedList" arguments="{_all}" />
    </f:if>

    <f:render partial="ServerTime" arguments="{dateFormat: dateFormat}" />
</f:section>

</html>
