<html
    xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    data-namespace-typo3-fluid="true"
>

<f:layout name="Module" />

<f:section name="Content">

    <f:be.pageRenderer
        includeJavaScriptModules="{
            0: '@typo3/backend/modal.js',
            1: '@typo3/backend/tooltip.js',
            2: '@typo3/backend/multi-record-selection.js',
            3: '@typo3/scheduler/scheduler.js'
        }"
    />
    <form name="tx_scheduler_form" id="tx_scheduler_form" method="post">
        <h1><f:translate key="LLL:EXT:scheduler/Resources/Private/Language/locallang.xlf:function.scheduler" /></h1>
        <div class="tx_scheduler_mod1">
            <f:if condition="{tasks} || {errorClasses}">
                <f:then>
                    <f:render partial="TaskList" arguments="{_all}" />
                    <f:render partial="ServerTime" arguments="{dateFormat: dateFormat}" />
                </f:then>
                <f:else>
                    <f:be.infobox state="-1" message="{f:translate(key: 'LLL:EXT:scheduler/Resources/Private/Language/locallang.xlf:msg.noTasks')}" />
                </f:else>
            </f:if>
        </div>
    </form>

</f:section>

</html>
