#####
#
# Example .htaccess file for TYPO3 CMS Webservice API - for use with Apache Webserver
# 
# TODO: write better description and help
####

### Begin: Browser caching of ressource files ###

# Enable long browser caching for JavaScript and CSS files.

# This affects Frontend and Backend and increases performance.
# You can also add other file extensions (like gif, png, jpg), if you want them to be longer cached, too.

<FilesMatch "\.(js|css)$">
  <IfModule mod_expires.c>
    ExpiresActive on
    ExpiresDefault "access plus 7 days"
  </IfModule>
  FileETag MTime Size
</FilesMatch>

### End: Browser caching of ressource files ###


### Begin: Settings for mod_rewrite ###

# You need rewriting, if you use a URL-Rewriting extension (RealURL, CoolUri).

<IfModule mod_rewrite.c>

# Enable URL rewriting
RewriteEngine On

# Change this path, if your TYPO3 installation is located in a subdirectory of the website root.
#RewriteBase /

# Basic security checks
RewriteRule ^Bootstrap/(.*/) - [F]

# Main URL rewriting.
# For httpd.conf, use this line instead of the next one:
RewriteRule .* index.php [L]

</IfModule>
### End: Settings for mod_rewrite ###

# Add your own rules here.
# ...
