/**
 * Common EXTJS tree styles. Whole file can be removed if http://forge.typo3.org/issues/11787 gets integrated
 *
 */

.x-tree-node .x-tree-node-inline-icon {
	background-image: none;
}

.x-tree-node-loading a span {
	font-style: italic;
	color: #444444;
}

.ext-ie .x-tree-node-el input {
	width: 15px;
	height: 15px;
}

.x-tree-node-el {
	line-height: 18px;
	height: 18px;
	margin-right: 0;
}

.x-tree-lines .x-tree-elbow-end,
.x-tree-lines .x-tree-elbow-end-minus,
.x-tree-lines .x-tree-elbow-end-plus,
.x-tree-lines .x-tree-elbow-line,
.x-tree-lines .x-tree-elbow,
.x-tree-lines .x-tree-elbow-plus,
.x-tree-lines .x-tree-elbow-minus {
	background-repeat: repeat-y;
	background-position: 0 1px;
	height: 20px;
}

.x-tree-lines .x-tree-elbow-minus {
	background-image: url('../icons/gfx/ol/minus.gif');
}

.x-tree-lines .x-tree-elbow-plus {
	background-image: url('../icons/gfx/ol/plus.gif');
}

.x-tree-lines .x-tree-elbow-end {
	background: url('../icons/gfx/ol/joinbottom.gif') left top no-repeat;
}

.x-tree-lines .x-tree-elbow-end-minus {
	background: url('../icons/gfx/ol/minusbottom.gif') left top no-repeat;
}

.x-tree-lines .x-tree-elbow-end-plus {
	background: url('../icons/gfx/ol/plusbottom.gif') left top no-repeat;
}

.x-tree-lines .x-tree-elbow-line {
	background-image: url('../icons/gfx/ol/line.gif');
}

.x-tree-lines .x-tree-elbow {
	background-image: url('../icons/gfx/ol/join.gif');
}

.x-tree-node {
	color: #000;
	font: normal 10px verdana, arial, tahoma, helvetica, sans-serif;
}

.x-tree-node a, .x-dd-drag-ghost a {
	color: #000;
	vertical-align: -1px;
	font-size: 11px;
	display: inline-block;
}

.x-tree-node a span, .x-dd-drag-ghost a span {
	color: #000;
}

.x-tree-node .x-tree-node-disabled a span {
	color: gray !important;
}

.x-tree-node div.x-tree-drag-insert-below {
	border-bottom-color: #686868;
}

.x-tree-node div.x-tree-drag-insert-above {
	border-top-color: #686868;
}

.x-tree-dd-underline .x-tree-node div.x-tree-drag-insert-below a {
	border-bottom-color: #686868;
}

.x-tree-dd-underline .x-tree-node div.x-tree-drag-insert-above a {
	border-top-color: #686868;
}

.x-tree-node .x-tree-drag-append a span {
	background-color: #ddd;
	border-color: gray;
}

.x-tree-node .x-tree-node-over {
	background-color: #EFEFF4;
}

.x-tree-node .x-tree-selected {
	background-color: #e6e6e6;
}