#typo3-pagetree-treeContainer {
	margin: 10px 0 45px 0;
	height: 100%;
}

#typo3-pagetree-tree .x-panel-body,
#typo3-pagetree-filteringTree .x-panel-body {
	overflow-y: hidden !important;
}

#typo3-pagetree-indicatorBar {
	padding: 49px 0 0 0;
	min-height: 10px;
}

.typo3-pagetree-indicatorBar-item p {
	padding: 5px 10px;
	line-height: 25px;
}

#typo3-pagetree-indicatorBar-filter p,
#typo3-pagetree-indicatorBar-temporaryMountPoint p {
	padding: 10px 35px;
}

#typo3-pagetree-indicatorBar-temporaryMountPoint p {
	line-height: 13px;
}

#typo3-pagetree-indicatorBar-temporaryMountPoint,
#typo3-pagetree-indicatorBar-filter {
	background-color: #EAF7FF;
	border-bottom: 1px solid #C5DBE6;
	color: #4C73A1;
}

.typo3-pagetree-indicatorBar-item .typo3-pagetree-indicatorBar-item-leftIcon {
	left: 10px;
	top: 16px;
	cursor: pointer;
	position: absolute;
}

.typo3-pagetree-indicatorBar-item .typo3-pagetree-indicatorBar-item-rightIcon {
	right: 10px;
	top: 16px;
	cursor: pointer;
	position: absolute;
}

#typo3-pagetree-indicatorBar-indicatorTitle {
	background-color: #ffec97;
	font-weight: bold;
}

#typo3-pagetree-indicatorBar-indicatorTitle span {
	margin-right: 10px;
}

#typo3-pagetree .x-panel-tbar {
	padding: 0;
	margin: 0;
	background-color: #585858;
	border: none;
}

#typo3-pagetree .x-toolbar,
.typo3-pagetree-topPanel-item .x-toolbar {
	padding-bottom: 0;
	background: none;
	border: none;
}

#typo3-pagetree-topPanel {
	height: 60px;
	position: fixed;
	z-index: 20;
}

#typo3-pagetree-topPanel .x-toolbar-left {
	height: 20px;
}

.typo3-pagetree-topPanel-button {
	margin: 0 5px 0 0;
	padding: 1px 2px;
	height: 18px;
	background: none;
	border: none;
}

#typo3-pagetree-topPanel .x-btn-pressed {
	background-image: url('../icons/gfx/toolbar_item_active_bg.png');
}

.typo3-pagetree-topPanel-button button {
	height: 16px;
	width: 16px;
	border: none;
}

#typo3-pagetree .typo3-pagetree-topPanel-item {
	background-color: #F0F0F0;
	border-bottom: 2px solid #C9C9C9;
}

.typo3-pagetree-topPanel-item {
	padding: 4px 3px 0 3px;
	height: 23px;
}

#typo3-pagetree-topPanel-filter {
	border: 1px solid #AEAEAE;
	height: 16px;
	width: 98% !important;
	padding: 1px 0 1px 2px;
	-moz-box-shadow: inset 0 1px 4px #AEAEAE;
	-ms-box-shadow: inset 0 1px 4px #AEAEAE;
	-webkit-box-shadow: inset 0 1px 4px #AEAEAE;
	box-shadow: inset 0 2px 1px #AEAEAE;
}

#typo3-pagetree-topPanel-filterWrap .x-form-field-trigger-wrap {
	width: 100% !important;
	margin: 0 20px 0 0;
}

#typo3-pagetree-topPanel-filterWrap .t3-icon-input-clear {
	right: 2%;
}

.typo3-pagetree-topPanel-item .x-form-trigger {
	margin: 4px 0 0;
}

#typo3-pagetree .x-tree .x-panel-body {
	background: none;
}

#typo3-pagetree .typo3-pagetree-filteringTree-highlight {
	background-color: #F48E0C;
	color: #FFF;
	padding: 0;
}

#typo3-pagetree .x-tree-node .x-tree-node-el {
	border-top: 1px solid transparent;
	border-bottom: 1px solid transparent;
	margin-right: 0;
}

#typo3-pagetree .x-tree-node .x-tree-node-over,
#typo3-pagetree .x-tree-node .x-tree-selected {
	background-color: #F8F8F8;
	border-bottom: 1px solid #D7D7D7;
	border-top: 1px solid #D7D7D7;
}

.x-tree-lines .typo3-pagetree-node-notExpandable .x-tree-ec-icon {
	visibility: hidden;
}

.x-tree-lines .typo3-pagetree-node-notExpandable ul .x-tree-ec-icon {
	visibility: visible;
}

.x-tree-node-el {
	height: 18px;
	line-height: 18px;
}

.x-tree-lines .x-tree-elbow-end,
.x-tree-lines .x-tree-elbow-end-minus,
.x-tree-lines .x-tree-elbow-end-plus,
.x-tree-lines .x-tree-elbow-line,
.x-tree-lines .x-tree-elbow,
.x-tree-lines .x-tree-elbow-plus,
.x-tree-lines .x-tree-elbow-minus {
	height: 20px;
	background-repeat: repeat-y;
	background-position: 0 1px;
}

.x-tree-lines .x-tree-elbow-minus {
	background-image: url('../icons/gfx/ol/minus.gif');
}

.x-tree-lines .x-tree-elbow-plus {
	background-image: url('../icons/gfx/ol/plus.gif');
}

.x-tree-lines .x-tree-elbow-end {
	background: url('../icons/gfx/ol/joinbottom.gif') left top no-repeat;
}

.x-tree-lines .x-tree-elbow-end-minus {
	background: url('../icons/gfx/ol/minusbottom.gif') left top no-repeat;
}

.x-tree-lines .x-tree-elbow-end-plus {
	background: url('../icons/gfx/ol/plusbottom.gif') left top no-repeat;
}

.x-tree-lines .x-tree-elbow-line {
	background-image: url('../icons/gfx/ol/line.gif');
}

.x-tree-lines .x-tree-elbow {
	background-image: url('../icons/gfx/ol/join.gif');
}

#typo3-pagetree .x-tree-node .x-tree-drag-insert-above {
	border-top-color: #686868;
}

#typo3-pagetree .x-tree-node .x-tree-drag-insert-below {
	border-bottom-color: #686868;
}

.x-tree-node a, .x-dd-drag-ghost a {
	display: inline-block;
	vertical-align: -1px;
	font-size: 11px;
}

#typo3-pagetree-deletionDropZone {
	position: fixed;
	bottom: 0;
	color: #FFF;
	background-color: #585858;
	-moz-box-shadow: inset 0 2px 5px #414141;
	-ms-box-shadow: inset 0 2px 5px #414141;
	-webkit-box-shadow: inset 0 2px 5px #414141;
	box-shadow: inset 0 2px 5px #414141;
}

#typo3-pagetree-deletionDropZone p {
	padding: 5px;
	height: 25px;
	line-height: 25px;
}

#typo3-pagetree-deletionDropZone-text {
	padding: 0 0 0 5px;
	font-size: .9em;
}

.typo3-pagetree-indicatorBar-item .x-panel-body,
#typo3-pagetree-topPanel .typo3-pagetree-topPanel-item,
#typo3-navigationContainer:first-child:first-child {
	-moz-box-shadow: inset -2px 0 1px #C4C4C4;
	-ms-box-shadow: inset -2px 0 1px #C4C4C4;
	-webkit-box-shadow: inset -2px 0 1px #C4C4C4;
	box-shadow: inset -2px 0 1px #C4C4C4;
}

#typo3-pagetree .x-panel-tbar,
#typo3-pagetree-deletionDropZone .x-panel-body {
	-moz-box-shadow: inset -2px 0 1px #414141;
	-ms-box-shadow: inset -2px 0 1px #414141;
	-webkit-box-shadow: inset -2px 0 1px #414141;
	box-shadow: inset -2px 0 1px #414141;
}

#typo3-pagetree span.t3-icon {
	margin-bottom: 2px;
}

#typo3-pagetree .typo3-pagetree-topPanel-button {
	border: none;
	border-radius: 0;
	margin-right: 1px;
	margin-top: -2px;
	padding: 2px 3px;
}

#typo3-pagetree .typo3-pagetree-topPanel-button button {
	vertical-align:middle;
}

#typo3-pagetree .ver-element,
#typo3-pagetree .ver-versions,
#typo3-pagetree .ver-page {
	background-color: #ffec97;
}

#typo3-pagetree .x-tree-node-over.ver-element,
#typo3-pagetree .x-tree-node-over.ver-versions,
#typo3-pagetree .x-tree-node-over.ver-page,
#typo3-pagetree .x-tree-selected.ver-element,
#typo3-pagetree .x-tree-selected.ver-versions,
#typo3-pagetree .x-tree-selected.ver-page {
	background-color: #fefae2;
}

#typo3-pagetree-topPanel-defaultPanel {
	color: #A2AAB8;
	padding-left: 6px;
	line-height: 18px;
}

#typo3-pagetree-topPanel-item-newNode .x-btn-over {
	background: inherit;
}

#typo3-pagetree-topPanel-button-refresh,
#typo3-pagetree-topPanel-button-refresh.x-btn-over {
	background: inherit;
}